[2019-05-23 11:34] amercader opened #4798 "Don't use paste.deploy appconfig to parse the ini file"
Right now we are using paste.deploy's `appconfig` to parse the INI file and get the `config` object that CKAN uses. It offers some functionality that we don't use (like the ability to parse an INI file hosted elsewhere via HTTP), but basically it's a wrapper around `ConfigParser`. The one feature that we need to keep for backwards compatibility is interpolation (eg things like `cache_dir = /tmp/%(

[2019-05-23 11:35] amercader opened #4799 "Don't use paste.deploy to create the extension template"
We use the following command to bootstrap a new extension:

[code]

As with the rest of paste we should look at options to replace it. The best option by far seems to be [Cookiecutter](https://cookiecutter.readthedocs.io/en/latest/index.html), with extensive support and lots of feature. This will allow us to host the template extension in a separate repo (like [this examples](https://cookiecutter.

[2019-05-23 11:36] amercader opened #4800 "Remove or replace formencode support"
Although it's not explicitly listed as a requirement in `requirements.in` (because it's a Pylons requirement), formencode is used in two places:

* Its `OneOf` validator is added to the standard CKAN ones [here](https://github.com/ckan/ckan/blob/f43d6a572838c792193f3239827d04f9ffea9206/ckan/logic/__init__.py#L677).
* There is support for defining formencode validators in the CKAN schema ([docs](ht

[2019-05-23 11:37] amercader opened #4801 "Implement changes to allow running CKAN in both Python 2 and 3"
During our transition period the same code base needs to be able to run in both Python 2 and 3. Pylons will still be there to allow people to completely migrate their extensions, which means that there will be two different sets of requirements:

* `requirements.py2.in`: Including Pylons and whatever Pylons 2 only stuff that still needs to be there
* `requirements.in`: Python 3 only requirements,

[2019-05-23 11:46] amercader opened #4802 "Update the WSGI entrypoint to not use paste.deploy"
TODO

paste.deploy loadapp

#### Approach

#### Story points

[2019-05-23 11:49] amercader opened #4803 "Replace paster make-config"
From @davidread input, plus some extra detail:

This is the command used to create new ini files (eg `development.ini` or `production.ini`). This is done as part of [installation](https://docs.ckan.org/en/latest/maintaining/installing/install-from-source.html#create-a-ckan-config-file):

    paster make-config ckan /etc/ckan/default/development.ini

It generates it from a template: https://github.

[2019-05-23 11:49] amercader opened #4804 "Remove fanstatic"
TODO

#### Approach

#### Story points

[2019-05-23 11:49] amercader opened #4805 "Remove AppDispatcher and Pylons middleware"
TODO

#### Approach

#### Story points

[2019-05-23 11:49] amercader opened #4806 "Remove vars in templates context set in views"
TODO

#### Approach

#### Story points

[2019-05-23 11:50] amercader opened #4807 "Remove all remaining Pylons code in core"
This should be done in separate pull requests to make reviews easier

- [x] Remove `requirements.py2.*` files and update documentation to remove py2 mentions
- [x] Remove py2 specific code. Look for `if six.PY2:` and remove what's inside!
- [x] Remove py3 checks. Look for `six.PY3` and make that the standard code run (remove the check if any)
- [ ] Remove usage of six. We should not need the compa

[2019-05-23 14:14] wuweihust opened #4808 "Can I set premission to dataset download?"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
CKAN 2.8

### Please describe the expected behaviour
I‘d like to set premission to dataset download in order to protect the visitors from downloading some datasets?
firstly, can I set premission to dataset download?
sec

[2019-05-23 22:37] ThrawnCA opened #4809 "Orphaned pyc files"
Compiled '*.pyc' files are not removed when checking out a different Git revision, even if their source files no longer exist. This is not always a problem, but sometimes can be.

### CKAN Version if known (or site URL)

2.7.3 and 2.8.2

### Please describe the expected behaviour

Rolling back from CKAN 2.8.2 to 2.7.3 should be possible by checking out the 2.7.3 Git tag, installing the Python depe

[2019-05-24 09:42] davidread commented on #4809
Yep, this trips up developers switching branches with different migration scripts on them, particularly downgrading CKAN versions.

I wonder if Django / Alembic have any solutions we can use?

There are a number of things you have to do when downgrading, such as reinstall requirements, wipe db. Deleting .pyc files is just another thing to remember. I have a script for doing all this: https://gist.

[2019-05-24 10:03] davidread commented on #4808
Issues are for bugs and enhancements. Please ask questions elsewhere - see the README.

[2019-05-24 10:03] #4808 closed

[2019-05-24 10:12] davidread commented on #4639
@iamarnavgarg Thanks for offering to help with this! The paster commands are listed in the table above and the code is all in ckan/lib/cli.py, so I'm not clear what you're saying about paster commands in logic etc. Maybe you can point to the bit in the code you're talking about?

[2019-05-24 12:24] wuweihust commented on #4413
It does work properly, thanks

[2019-05-25 09:08] LukeTully opened #4813 "Fix incorrect 'with_capacity' assignment in obj_list_dictize"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
2.8.2 (Tested in 2.7.4 but the code hasn't changed)

### Please describe the expected behaviour
I don't know what the purpose of 'with_capacity' is exactly. It's not well documented and the code is old. The purpose of t

[2019-05-25 18:15] wardi opened #4815 "h.redirect_to regression"
### CKAN Version if known (or site URL)
master

### Please describe the expected behaviour
`{{ h.redirect_to('/somewhere') }}` in a template should redirect (and does in 2.7 and before)
e.g. https://github.com/wardi/ckanext-aiglobal/blob/master/ckanext/aiglobal/templates/home/index.html

### Please describe the actual behaviour
This is rendered in the page instead:
[code]

### What steps can be ta

[2019-05-27 12:50] tino097 opened #4817 "Patch Release July 2019"
Scheduled June 2019

### Starting up

- [x] Send email to CKAN announce / dev a week before
- [x] Update version on `dev-v2.8` branch to `2.8.3b`
- [x] Cherry-pick all issues marked as ["Backport 2.8.3 and "Backport Pending"](https://github.com/ckan/ckan/issues?utf8=%E2%9C%93&q=label%3A%22Backport+pending%22+label%3A%22Backport+2.8.3%22) to `dev-v2.8`

### Next few days

- [x] Pull translations on

[2019-05-27 16:35] davidread commented on #4805
While I think of it, `paste.urlparser.StaticURLParser` is one of the middlewares that needs replacing in [pylons_app.py](https://github.com/ckan/ckan/blob/master/ckan/config/middleware/pylons_app.py). Probably this: http://flask.pocoo.org/docs/1.0/api/#flask.send_from_directory (which we already use for webassets)

[2019-05-28 03:43] iamarnavgarg commented on #4705
Hi , I would like to work on this issue. Request you to kindly assign it to me.

[2019-05-28 06:33] MrCsabaToth commented on #4762
How do I downgrade to Solr 6.5.1? I'm installing CKAN on an osboxes 18.04.2 virtualbox install.
According to `dpkg -l | grep solr`:

`ii  libsolr-java                               3.6.2+dfsg-18~18.04                          all          Enterprise search server based on Lucene - Java libraries
ii  solr-common                                3.6.2+dfsg-18~18.04                          all

[2019-05-28 06:36] Zharktas commented on #4762
"Downgrading" solr actually requires installing it by hand from https://lucene.apache.org/solr/. Ubuntu repositories only have solr 3.6 which is ancient and hasn't been updated in years.

[2019-05-28 09:41] frafra commented on #4734
I made a patch which should fix the issue, but we need SQLAlchemy 1.2 or greater https://github.com/ckan/ckan/pull/4782

[2019-05-28 09:47] francescomangiacrapa commented on #2008
Hi,

I have a similar problem with a CKAN (v.2.6.X) instance of 200 datasets.
After several dataset updates in many groups, the page loading time takes 8-10 sec. circa to return a dataset via GUI, instead via API is fast.
Disabling all the plugins activated the problem persist, so I think it may be the same issue.
Can I remove the snippet that is performing that query without causing major malfunc

[2019-05-28 09:56] gsueur commented on #2008
That's what I did actually. I don't remember exactly where it was located though. But you should be able to spot that template quite easily.

[2019-05-28 11:03] amercader commented on #4815
Routes use to issue a redirect directly, but Flask returns a response object meant to be returned by a view function. This function is in the template helpers file but really it should not be used from templates as it is meant to be used in controllers / view functions. So  we should probably move it to `common.py` or something similar.

@wardi for your example it seems better to return a custom b

[2019-05-28 16:42] francescomangiacrapa commented on #2008
Hi,

I just found in my case the query that takes a long time  to return the results..
It is the method _organization_show_ called by h.get_organization(pkg.organization.name) in the template (but also via API) that takes [4-6] sec circa before returning the results.

[code]
In my case there are more then 300 users in the organization, so the call _organization_show_ takes a long time before retur

[2019-05-28 20:57] davidread commented on #4405
This is a problem on CKAN 2.8.0, 2.8.1 and 2.8.2.

This has been fixed for 2.9.0 by replacing the pylons controller with a flask view: https://github.com/ckan/ckan/pull/4062

I've done a fix for 2.8 here: https://github.com/ckan/ckan/pull/4820

[2019-05-29 03:39] MrCsabaToth commented on #4762
@Zharktas I need a little more helping hand with this. I installed solar 6.5.1 following https://github.com/ckan/ckan/wiki/Install-and-use-Solr-6.5-with-CKAN however the situation is still "no bueno". The default port for the solr daemon happens to be 8983, which is exactly the jetty9 port the CKAN tutorial reserves. I suspect that's why `/etc/init.d/solr start` hangs for 3 minutes then quits. So

[2019-05-29 04:28] Zharktas commented on #4762
Newer Solr versions include jetty which is why you are getting conflict in ports. You either need to remove solr-jetty or change its port to something else.

[2019-05-29 04:59] MrCsabaToth commented on #4762
@Zharktas In that case should I also remove the distribution's `jetty9`?

[2019-05-29 08:37] akariv commented on #4129
Same here... @amercader where in the code should I start looking for the cause?

[2019-05-29 12:02] boykoc commented on #4762
Just noticing after starting to draft my answer that this is feeling a bit more like a Stack Overflow type discussion than a github issue. May be a good idea to move things there?

@MrCsabaToth to your answer above, yes, remove jetty9 or at least stop the service to free up the port and not have competing services.

More details based on what I read above. There are 2 options to get Solr to work i

[2019-05-29 13:22] amercader commented on #4129
@akariv I'm afraid that this is handled at the repoze.who level. We are using and old plugin, repoze.who-friendlyform that might be a good place to fix this. We need to rewrite it or remove it anyway as part of the py3 migration (#4796). If everything else fails I suppose we could add the middleware shown on the mailing list discussion mentioned in the description.

[2019-05-30 07:20] 0wenwu opened #4823 "After removing the tag the redirect web url is wrong and it causes an error"
Hi, thanks for the wonderful CKAN. It makes me set up a open data portal very fast.
When I search the data by tags, it works very quickly.
![图片](https://user-images.githubusercontent.com/6868237/58615187-05f03880-82ed-11e9-8420-e8b83fe59766.png)

But I am trying to remove the tags like the picture below
![图片](https://user-images.githubusercontent.com/6868237/58615334-641d1b80-82ed-11e9-965e-12e8b9

[2019-05-30 10:34] smotornyuk commented on #4741
I've got some time to test it.
No, i've used incorrect link. For the current state of master branch - only v2 is supported. Because of this, one has no need in specifying `recaptcha.version`, only `publickey` and `privatekey` are required.

[2019-05-30 13:07] #4722 closed

[2019-05-31 09:14] benthorner commented on #332
We're seeing this as well on data.gov.uk, and it's confusing our users. +1 to support this.

[2019-06-03 10:38] amercader opened #4827 "More robust auth functions for resource_view_show"
Right now it relies on resource objects being present in the context. You should be able to call the auth function with the same parameters as the action (ie just the resource view `id`). This is not an issue in core but it can be problematic when extending auth from extensions.

[2019-06-03 15:08] ipimpat commented on #332
I just installed CKAN to try it for my first time.

I ran into to this right away - it is VERY confusing.

Do I need to "complete" it in order to delete it ?

[2019-06-03 18:30] poligarcia commented on #4681
Hi @amercader! At @devartis we are interested in helping this issue come together. Is there a way in which we can contribute with some hours to submit or review PR?

[2019-06-04 08:42] amercader commented on #4681
Hi @poligarcia , that's really great! Absolutely, everything in the [Github project](https://github.com/ckan/ckan/projects/3) is up for grabs. It is roughly ordered by priority but anything marked "Good for Contribution" would be a good thing to take on. Also you can focus on the [Beginner Friendly](https://github.com/ckan/ckan/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22Python+3%22+label%3A%22Be

[2019-06-04 12:38] wardi commented on #4815
discussed changing this helper to use an exception that directs people to use the blueprint method @amercader mentions above ^

[2019-06-04 12:44] amercader commented on #4809
Unfortunately this is something that would be difficult or incorrect to handle at the CKAN level. We can add a note in the relevant docs if that helps.

You can configure a [git post-checkout hook](https://stackoverflow.com/a/1810193/235993) to remove the pyc files for you.

[2019-06-04 12:44] #4809 closed

[2019-06-04 23:39] usingsky commented on #4823
It seems to be an issue related to the following.
I have requested PR, but if you have any other solution, I would appreciate your comments.
[https://github.com/ckan/ckan/pull/4790](https://github.com/ckan/ckan/pull/4790)

[2019-06-05 01:06] ThrawnCA commented on #4809
What about handling it within the `paster` task?

[2019-06-05 11:02] davidread commented on #4809
I'm with @amercader in being apprehensive about mucking about deleting pyc files from within python. Feels wrong. Unintended consequences.

[2019-06-05 13:46] davidread opened #4830 "ValueError when you configure exception emails"
When I configure CKAN to send me exception emails, I get this exception:
[code]

Reproduce this using config:
[code]

The problem is SMTPHandler is expecting a hostname AND port, but the default value doesn't have a port:
[code]
This was introduced on master: https://github.com/ckan/ckan/pull/4623

### CKAN Version if known (or site URL)

Doesn't affect any CKAN releases. Affects master branch sin

[2019-06-05 23:23] ThrawnCA commented on #4809
Could it at least be documented at https://docs.ckan.org/en/latest/maintaining/upgrading/index.html ?

[2019-06-06 00:12] TkTech commented on #4809
IMO, this isn't really a CKAN thing, it's part of Python's internal operations. Every Python project (and a lot of other interpreted languages) deal with problems like this. We should deal with this for you if you're using the ready-to-go packages, but if you're working with the source we should expect you to know Python and its quirks. We can't really document *everything*.

This problem should d

[2019-06-06 09:24] amercader commented on #4809
@ThrawnCA sure, it makes sense to add a `..note::` in the docs reminding people to clear pyc files if they are switching branches. A pull request would be welcome.

[2019-06-06 13:03] #4830 closed

[2019-06-07 03:08] Madhu-NEC opened #4832 "Error while integrating oauth2"
I want to authenticate Ckan(2.7.2) with WSO2IS(5.3.0) and WSO2APIM(2.1.0).
I have created an application on wso2apim store with callback URL : https://ckan-instance-url/oauth2/callback

Following are the /etc/ckan/default/development.ini configurations:

ckan.oauth2.logout_url = /user/logged_out
ckan.oauth2.register_url = /
ckan.oauth2.reset_url = /
ckan.oauth2.edit_url = /
ckan.oauth2.authorizati

[2019-06-07 11:41] vugar005 opened #4833 "How to add website to "Ckan is used by" list in Ckan website."
Hello
We have built open data website for governement.
Now we want it to be on the list of  "Ckan is used by" list in Ckan website.
What is required to do that ?

Website: [http://opendata.neuron.az](http://opendata.neuron.az)
Technology Stack: Angular 6 + Java Spring Boot

Thanks in advance

[2019-06-07 13:38] rossjones commented on #4833
The site at https://ckan.org/about/instances/ suggests you should fill in the form at https://ckan.org/census/ and then someone will probably check it and add to the list.

As well as looking _very_ pretty, your site is a bit more than just CKAN (1), are you just using it as an API?

(1) I was unable to access the CKAN api at /api/3/action/package_list and got a Tomcat error.

[2019-06-07 13:44] vugar005 commented on #4833
@rossjones
Thank u  for quick response.
1. We are inspired by CKAN but have our custom api , unfortunately it is not CKAN api. But it has most features that CKAN offers.
Can it prevent from being on the list of 'Used by'.

[2019-06-07 13:48] rossjones commented on #4833
@vugar005 not really up to me, I suggest filling in the form and seeing what the reviewer thinks, but I suspect as a list of CKAN instances, it's probably better if it is just actual CKAN instances rather than things that look similar.

[2019-06-07 13:48] #4833 closed

[2019-06-10 14:55] pwalsh commented on #4681
@amercader @davidread @wardi

As noted in https://github.com/ckan/ckan/issues/4681#issuecomment-471939262 a migration guide would be really helpful, especially as this will be done over many codebases. It is far from as simple as just use six, and if we want some consistency a brief guide could go a long way.

I've done a number of Py2/Py3 codebases and would be happy to prepare such a guide if no

[2019-06-11 12:10] tino097 commented on #4832
Hi, thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the ckan-dev mailing list or the #ckan tag on SlackOverflow.

You can also try on the Gitter [#ckan](https://gitter.im/ckan/chat) channel, where other developers may be able to help you.

Thanks!

[2019-06-11 12:16] wardi commented on #4832
also this looks like it might be related to the extension you're using, have you tried reporting it on the extension repo?

[2019-06-11 15:51] hardingalexh opened #4836 "Resource schema alterations in extensions show incorrect data"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
Latest

### Please describe the actual behaviour
When an extension adds a custom field the resource metadata, something strange is going on.

No matter how many resources are uploaded to the dataset, the custom field on

[2019-06-12 10:28] bzar opened #4837 "psycopg2 version depends on old libssl"
### CKAN Version if known (or site URL)
2.8.2

### Please describe the expected behaviour
CKAN works with up-to-date libssl

### Please describe the actual behaviour
psycopg segfaults if running environment has libssl 1.1 or newer:
[code]
Notice the two libssl versions. A related psycopg2 issue: psycopg/psycopg2#543

### What steps can be taken to reproduce the issue?
Install libssl 1.1 on server,

[2019-06-12 15:24] boykoc commented on #1212
I like this approach. It in theory could be implemented incrementally in this way and start flagging for deprecation in future versions of CKAN.
- [ ] treat API keys like passwords (encrypt of current key setup in DB) with config option to prevent breakage (possibly show API key only once to user on generation, never store key unhashed/unencrypted and still allow re-generation of key)
- [ ] multip

[2019-06-12 15:29] wardi commented on #1212
one last thing would be tracking the last time each key was used. I find this feature really handy on other sites to weed out unused keys

[2019-06-13 13:21] wardi commented on #4836
This is a problem with documentation. The `convert_from_extras` and `convert_to_extras` validators are only for extras at the package level, not at the resource level.

[2019-06-13 13:26] boykoc commented on #4836
You can kind of see in [the documentation](https://docs.ckan.org/en/latest/extensions/adding-custom-fields.html#adding-custom-fields-to-resources) the highlighted code changes to add a custom field to the resource. But it's a bit hard to see the differences (highlighting yellow on green isn't great).

[2019-06-13 21:00] dmcfarland930 opened #4839 "Cannot initialize database in docker container."
I'm in need of a fresh database schema for CKAN 2.82, I'd also like to have the clean schema as a backup to use as a clean slate for testing. However, when I follow the instructions to clean and init the database, it seems as thought the new schema isn't created as I was expecting.

### CKAN Version if known (or site URL)
2.82

### Please describe the expected behaviour
The database is not re-init

[2019-06-14 02:14] ThrawnCA opened #4840 "form.input does not allow custom markup in labels"
### CKAN Version if known (or site URL)

CKAN 2.8.2

### Please describe the expected behaviour

We want to include hint text in our form labels. Our CKAN 2.7 markup looks like:

      <div class="control-group control-medium">
        <label for="field-password" class="control-label">
          <span class="label">New password</span>
          <small class="hint">Passwords should be a minimum of

[2019-06-14 13:04] #4766 closed

[2019-06-14 14:05] amercader opened #4842 "Migrate util controller"
This was a left over from the core blueprints migration.

[2019-06-14 15:34] davidread opened #4844 "404s for minor recline assets"
### CKAN Version if known (or site URL)
latest master

### Bug
When I preview a CSV on the resource page e.g. `/dataset/test/resource/0d534c55-879c-41c3-9e8f-26386b574158`
then it basically works, but there are some 404 errors fetching a few assets:

* /webassets/img/ajaxload-circle.gif
* /webassets/fonts/glyphicons-halflings-regular.woff
* /webassets/fonts/glyphicons-halflings-regular.ttf

There

[2019-06-14 15:45] davidread commented on #4844
@smotornyuk I don't suppose you have a moment to look at this?

[2019-06-14 16:59] ErroneousBosch opened #4845 "Docker container dd container name hardcoded in startup."
### CKAN Version if known (or site URL)
master branch

### Please describe the expected behaviour
Initializing CKAN container should connect to the database container regardless of the database container name. Also should be able to connect to an external DB server.

### Please describe the actual behaviour
CKAN container tries to see if a server named "db" is live, simply returning "no attempt".

[2019-06-14 17:02] ErroneousBosch commented on #4845
Note that this hardcoding also appears on line 71 for ckan-paster (which is missing from the container)

[2019-06-14 19:47] boykoc commented on #4789
I like this idea of this validation.

Just adding this in hopes of helping. Were you having trouble getting a list of resource names for a given package? I'm sure there are lots of ways to achieve this but here's what first popped into mind if you're trying in the `before_create`.  But after doing this I thought a validator might make more sense like the [`package_name_exists` validator](https://g

[2019-06-16 11:04] smotornyuk commented on #4844
Hi. Thanks for report - i've created PR for this issue. Even though i slightly restricted in terms of workload, I have to fix problems created by my former PRs as soon as possible :)

[2019-06-16 14:28] smotornyuk commented on #4817
Update.
For all three branches([2.6](https://github.com/ckan/ckan/tree/dev-v2.6), [2.7](https://github.com/ckan/ckan/tree/dev-v2.7) and [2.8](https://github.com/ckan/ckan/tree/dev-v2.8)):
* PRs backported
* Changelog updated
* Front-end has been rebuilt
* Tested locally

[2019-06-17 06:10] iamarnavgarg commented on #4705
Hi, I had a fresh copy of CKAN, and was testing - test_home.py file. Then, I receive the following error attached with this.

![image](https://user-images.githubusercontent.com/36654563/59582016-6c9a9200-90f4-11e9-9c68-14992653abf4.png)

[2019-06-17 08:58] amercader commented on #4817
Amazing @smotornyuk you are a star. I'll have some spare time at the end of the week, I'll see if we can wrap this up soon

[2019-06-17 14:18] #4560 closed

[2019-06-17 14:40] Quackpower opened #4848 "Recline.js jsonpdataproxy solution?"
Hello!

i'm completly new with ckan, is it installed already and it work well but the server that the recline.js library uses "jsonpdataproxy" , is down most of the time, what is a work around to this, as i unstderstand, the proxy is used to load the file form an external source, but all of my files are locally stored, anyone has ha this issue before??? thanks!

[2019-06-18 08:04] davidread commented on #4681
@pwalsh Yes, I'd love something tightly focused on the needs of CKAN extensions, based on the work we've done in core and the experience of converting an extension over. I imagine most people in the community are familiar with python 3 now, but there are some useful pointers like:
* setup travis to run the flake8 linting - the ckan extension templates have this now
* `from __future__ import unicod

[2019-06-18 08:17] cclauss commented on #4681
* [__six__ is part of the project requirements](https://github.com/ckan/ckan/blob/master/requirements.txt#L51)
* [Travis CI is running key flake8 tests on Python 3](https://github.com/ckan/ckan/blob/master/.travis.yml#L46)
* [Please read up on __unicode_literals__](http://python-future.org/imports.html#should-i-import-unicode-literals)

[2019-06-18 08:37] cclauss commented on #4060
Can we close this issue?

[2019-06-18 11:38] frafra opened #4850 "Preview for multimedia files"
CKAN provides previews for images and tables, but not for audio and videos.

It should be pretty easy to add it:
- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/audio
- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video

[2019-06-18 12:08] #4743 closed

[2019-06-18 12:26] mbocevski commented on #4839
@dmcfarland930 if you are using docker compose, then there is no need to run paster on the container itself. There are several docker volumes created where data is persisted as part of the docker-compose.yml, those are for the database, SOLR indexes, and CKAN filestore: pg_data, solr_data and ckan_storage respectively.

Startup docker-compose and then stop all containers, run a backup on the docke

[2019-06-18 12:28] wardi commented on #4839
Is this specific to docker? These commands should work the same with a source install. Can you share any more errors or logs from the database?

[2019-06-18 12:31] wardi commented on #4848
Hi, thanks for submitting your issue.

To minimize the number of issues on this repo we encourage you to submit support requests like this one to the ckan-dev mailing list or the #ckan tag on SlackOverflow.

You can also try on the gitter channel https://gitter.im/ckan/chat, where other developers may be able to help you.

Thanks!

[2019-06-18 12:31] #4848 closed

[2019-06-18 14:30] dmcfarland930 commented on #4839
@mbocevski Removing the contents of the pg data volume and running docker compose has reinitialized the database.

@wardi I'm not sure if it's specific to docker. I should note I have two CKAN instances, one built from the docker install found in the docs, and another that I have uniquely made so that I can run CKAN with apache. My plan is to create a dump of the fresh database and keep it as a ba

[2019-06-19 08:08] shevron opened #4852 "config-tool prints out secret/unsafe configuration changes"
### CKAN Version if known (or site URL)
2.8.x

### Please describe the expected behaviour
It is common to use config-tool to set some options automatically, e.g. as part of a deployment process. It is also common that some of the values for these options are secret (e.g. DB passwords, API keys, ...). Typically, the output of such automated deployment processes gets logged somewhere.

Currently, th

[2019-06-19 11:09] chandradeep03 commented on #4670
@dportoles , @amercader  Is someone working on this issue?

[2019-06-19 11:15] amercader commented on #4670
No @chandradeep03 , would you like to work on this if @dportoles does not have time? More details here: https://github.com/ckan/ckan/issues/4797

I'll close this issue in favour of the above

[2019-06-19 12:15] #4670 closed

[2019-06-19 14:13] frafra commented on #4850
I started to work on it.

[2019-06-19 15:14] davidread commented on #4681
@cclauss I admit that it's not entirely clear, but @pwalsh and I are talking here specifically about a guide for migrating *CKAN Extensions*. So that's separate to the work you and others have done on ckan/ckan, which is all much appreciated by everyone. I'm simply suggesting we extend the same policies across to these repos as a starting point.

[2019-06-19 15:20] pwalsh opened #4855 "Python 2/3 migration guide"
# User story

As a {developer} working on Py2/3 migration for CKAN, I want a clear migration guide, so I can provide Py2/3 compatibility in a consistent way using a common set of tools.

# Use cases

- Contributing Py2/3 compatible code in CKAN Core
- Contributing Py2/3 compatible code in a CKAN Extension
- Starting a new CKAN Extension with Py2/3 compatibility

[2019-06-19 15:20] pwalsh commented on #4681
@davidread captured the migration guide in https://github.com/ckan/ckan/issues/4855

[2019-06-19 16:34] #4736 closed

[2019-06-20 08:13] frafra commented on #4794
[code]

I can try to help with that.

[2019-06-20 13:08] #4452 closed

[2019-06-21 09:17] #4844 closed

[2019-06-21 15:08] LucaPrete opened #4861 "Cannot create organization using LDAP extension"
### CKAN Version if known (or site URL)
2.6.4

### Please describe the expected behavior
We're trying to use the LDAP plugin for CKAN (https://extensions.ckan.org/extension/ldap/). As described in the documentation we're running the following command:

[code]

We would expect to see the organization created.

### Please describe the actual behaviour

An exception is thrown instead:
[code]

### Wha

[2019-06-21 18:11] #4836 closed

[2019-06-22 18:37] mayeulk opened #4864 "l10n an i18n guidelines for tests that involve translatable strings"
### CKAN Version if known (or site URL)
2.7 to  2.8.2

### Please describe the actual behaviour
In https://docs.ckan.org/en/2.8/contributing/i18n.html and https://docs.ckan.org/en/2.8/contributing/string-i18n.html  it is not clear what to do for tests that involve translatable strings.
For instance, how to translate strings included in the following commit:
https://github.com/ckan/ckan/commit/466d

[2019-06-23 08:57] mwerle opened #4865 "[UI] Description field - scrollbar"
### CKAN Version if known (or site URL)
v1.26.2

### Please describe the expected behaviour
Long description field has vertical scrollbar if text does not fit.

### Please describe the actual behaviour
Long description truncated if window is not large enough to display full text.

### What steps can be taken to reproduce the issue?
1. Look at "Nehemiah Engineering Orbital Science" mod in CKAN UI
2

[2019-06-23 09:01] mwerle opened #4866 "[UI] Description field - add support for simple markup?"
### CKAN Version if known (or site URL)
v1.26.2

### Please describe the ~~expected~~desired behaviour
Simple markup supported in description field.

Either support a custom markup format with a very restricted set of markup (newlines, bold, italic) or a more comprehensive markup scheme (eg, "Markdown") would be great to improve readability.

### Please describe the actual behaviour
Any markup (eg

[2019-06-23 12:13] mwerle commented on #4866
Wrong CKAN.

[2019-06-23 12:13] #4866 closed

[2019-06-23 12:14] mwerle commented on #4865
Wrong CKAN

[2019-06-23 12:14] #4865 closed

[2019-06-24 14:20] kadimka opened #4868 "CKAN 2.7 migrations on postgres 10 not working"
### CKAN Version
CKAN 2.7

### Expected behaviour
while initializing database "paster db init -c /etc/ckan/ckan2.7/development.ini", database should be initialized.

### Actual behaviour
while running "paster db init" we got migrations errors

### To reproduce the issue
1. setup clear CKAN 2.7
2. install postgres 10
3. run "paster db init"

[2019-06-24 14:23] kadimka commented on #4868
Hi guys, it seems that migration updates that were added here https://github.com/ckan/ckan/commit/3a6015a60644fb7ae18644b0537604f4552fae4d haven't been backported to CKAN2.7.
Checked with this commit, it started to work properly.

[2019-06-25 08:14] frafra commented on #4715
Mmm.. while CKAN is working, I still see this errors on master:

[code]

[2019-06-25 12:21] wardi commented on #4861
Hello @LucaPrete this looks like either an issue with the ckanext-ldap extension or possibly a conflict with another extension you have installed (what's the "identifier" field that your organization is expecting)?

Try removing any extension that is customizing your organization schema or reporting the issue or submitting a fix on the ckanext-ldap repository.

[2019-06-25 12:21] #4861 closed

[2019-06-25 12:23] amercader commented on #4864
@mayeulk I guess the issue is that these translations should not appear at all on Transifex, as they are not meant to be translated. Do you know of a way to do this? Perhaps with some special comment

[2019-06-25 12:28] amercader commented on #4868
The changes to support Postgres 10 were included on this PR: https://github.com/ckan/ckan/pull/3978/files (which is not part of 2.7, but you can port to it). The changes in the commit that you link to are related to an upgrade to SQLAlchemy, but they are tied to CKAN 2.8. CKAN 2.7 should have its own SA requirement.

Perhaps there's an issue with your requirements (sqlalchemy or psycopg2)

Closing

[2019-06-25 12:28] #4868 closed

[2019-06-25 12:38] #2910 closed

[2019-06-25 21:41] dtufood-kihen opened #4870 "Enable recline_view on ods files"
Based on this pull request: https://github.com/ckan/ckan/pull/2303/commits

 - can we have automatic creation of data explorer view for ODS files too ?

[2019-06-26 06:39] ThrawnCA opened #4871 ""Debug" flag warning in INI file has inadequate wording"
The INI file template has a warning on the `debug` flag, but that warning doesn't properly match the documentation. Specifically, the warning says that the flag must be false in a *production* environment, but the real rule, as described at https://docs.ckan.org/en/latest/maintaining/configuration.html, is that it must be false for a *public* site. These are very different criteria; it's not uncom

[2019-06-26 13:00] amercader opened #4872 "_external parameter kept on Pylons generated URLs"
The `url_for` wrapper for Pylons requests correctly handles Flask's `_external` parameter to generate fully qualified URLs, but fails to remove it, resulting in an extraneous param added to the URL, eg: `http://example.com/dataset/test?_external=True`

[2019-06-26 14:04] amercader opened #4874 "Allow to customize the DataProxy URL"
This will allow users that really want to use it to host their own instance

[2019-06-27 10:19] #4832 closed

[2019-06-27 12:08] amercader opened #4878 "Allow custom CKAN callback URL for the DataPusher"
The DataPusher pings back CKAN when performing or finishing a job (the `datapusher_hook` action), and it does so via an HTTP request to the host defined in `ckan.site_url`.

There are a number of scenarios where this does not work, eg:

* CKAN and DataPusher sitting behind a Firewall that doesn't allow external requests
* Standard Docker compose setup for development where the `ckan.site_url` is `

[2019-06-27 13:04] #3987 closed

[2019-06-27 13:04] #4878 closed

[2019-06-27 13:04] #4013 closed

[2019-06-27 13:04] #4515 closed

[2019-06-27 13:10] #4872 closed

[2019-06-27 13:37] amercader commented on #4870
@dtufood-kihen that sounds good, do you want to submit a quick PR with a change similar to the above?

[2019-06-27 13:37] amercader commented on #4871
This sounds reasonable @ThrawnCA, do you want to submit a quick PR with the change?

[2019-06-27 15:31] #4827 closed

[2019-06-27 15:38] #4874 closed

[2019-06-28 00:24] ThrawnCA commented on #4871
What branch(es) should I use?

[2019-06-28 00:36] ThrawnCA commented on #4871
Opened #4880

[2019-06-28 12:02] pdelboca commented on #4639
I have submitted a PR to implement `plugin-info` command and I can work on the following commands in the next days/weeks! Feel free to assign it to me :)

[2019-07-01 11:29] #4837 closed

[2019-07-01 12:04] amercader commented on #4817
Did a second and hopefully final round of backports, plus I'm in the process of fixing the Circle CI tests on 2.7 and 2.8

@smotornyuk can you update the changelog with the final changes? I don't think there is anything left to do apart from testing.

[2019-07-01 19:51] Prithvi48 opened #4887 "Data Explorer not loading data"
I'm using a website that uses the ckan API, I'm uploading the data through AWS and when I upload the data and try to view it in the data explorer, I get the following

" This resource view is not available at the moment. Click here for more information. "

and when I click I get the following

" Could not load view: DataProxy returned an error (Request Error: Backend did not respond after 10 secon

[2019-07-02 02:48] wxg0103 commented on #4887
你解决了吗?

[2019-07-02 02:51] wxg0103 opened #4888 "datapusher302"
错误： Internal Server Error
HTTP status code: 500
Response: {"help": "http://222.128.14.106:10121/api/3/action/help_show?name=datastore_create", "success": false, "error": {"message": "Internal Server Error", "__type": "Internal Server Error"}}
Requested URL: http://222.128.14.106:10121/api/3/action/datastore_create

[2019-07-02 09:44] smotornyuk commented on #4817
Changelogs updated

[2019-07-02 12:00] amercader commented on #4888
We need the stack trace of the CKAN process to know what exactly cause the exception.

[2019-07-02 12:02] amercader commented on #4887
The DataProxy is a deprecated external service that CKAN uses when data is not on the DataStore. To enable the data visualizations install and configure the DataStore plus DataPusher or XLoader as described here:

https://docs.ckan.org/en/latest/maintaining/datastore.html

[2019-07-02 12:02] #4887 closed

[2019-07-02 12:10] #4871 closed

[2019-07-03 09:29] #4675 closed

[2019-07-03 10:33] Pardhu448 opened #4890 "Server Error on '/dataset' page after installing ckanext-ddi and harvester"
![dataset_server_error_ckan](https://user-images.githubusercontent.com/10006246/60584904-0b3d1900-9dac-11e9-9c53-a8130ed021be.png)
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.
### CKAN Version
2.8.2 (Running locally through Docker)

### Please describe the expected behaviour

'/dataset' page should show

[2019-07-03 11:19] amercader opened #4892 "Problems with Read The Docs"
When building the docs for the latest patch releases I noticed several problems with RTD:

* Docs are not being built automatically. There were some changes around GitHub [webhooks](https://docs.readthedocs.io/en/latest/webhooks.html#webhook-github-services) so we probably need to reconfigure things

* Docs or master are being built, but not for previous versions. 2.8 fails with the following:

[c

[2019-07-04 01:54] dassolkim commented on #4705
@iamarnavgarg @wardi I added the function to delete resource from Datastore and File storage when the resource data was deleted from the resource_table or changed to the deleted state, and it was applied to the existing resource_delete and Admin purge.

The file storage deletion function receives the resource ID, deletes it through the os library function, and deletes the datastore by receiving th

[2019-07-04 13:13] smotornyuk commented on #4890
[code]
Here's a problem and, as you can see, it came from ckanext-ddi. You should address this issue to extension maintainer because, afaik it not mainteined by CKAN tech team so we cannot resolve this issue.

[2019-07-04 13:13] #4890 closed

[2019-07-04 13:49] olivierdalang opened #4893 "Docker setup for production"
Hi !

The Docker setup seems to work fine for testing purposes but doesn't seem suited to production at all (using `paster serve`, which as far as I understood is a deprecated dev server, doesn't provide HTTPS nor instruction on how to set it up, etc.).

Thanks,

Olivier

[2019-07-04 14:44] Pardhu448 commented on #4890
Thanks for the quick response. Will try it in DDI extension issues.

[2019-07-05 09:34] Pardhu448 commented on #4116
I have same issue with 'Preview' in 'Explore' button for the new resource/data added to a dataset.
Here is my setup:
- Runnig locally using Docker installation for CKAN 2.8.2
- Data Preview works fine for data uploaded to 'DataStore' using API
( curl -X POST http://127.0.0.1:5000/api/3/action/datastore_create -H "Authorization: {YOUR-API-KEY}" -d '{"resource": {"package_id": "{PACKAGE-ID}"}, "fiel

[2019-07-05 10:46] olivierdalang opened #4894 "[Docker] better management of production.ini"
Currently, the Docker setup for CKAN uses a volume for `production.ini`. The file is generated the first time in the entrypoint, and the volume is not mounted on the host.

That's not really optimal :
- there's a duplication of settings between `production.ini` and `.env` (e.g.  `CKAN_SMTP_*` env vars from `.env` must be defined again in `production.ini`)
- config can only be edited live
- config

[2019-07-09 01:15] ThrawnCA opened #4895 "Pagination doesn't work properly with legacy Bootstrap"
## CKAN Version if known (or site URL)

2.8.2

### Please describe the expected behaviour

When `ckan.base_public_folder` and `ckan.base_templates_folder` are set to use legacy Bootstrap, pagination blocks under searches should use a legacy pagination markup structure, with a div having the `pagination` class, containing a ul that does not have the class, containing li elements.

### Please descri

[2019-07-09 01:59] ThrawnCA commented on #4895
At the moment, we intend to work around this by monkey-patching `helpers.Page.pager` with an implementation that matches the legacy structure, if the legacy templates are enabled in the config. https://github.com/qld-gov-au/ckan-ex-qgov/pull/7

[2019-07-09 11:29] #4344 closed

[2019-07-09 12:09] tino097 commented on #4893
Hi, thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the ckan-dev mailing list or the #ckan tag on SlackOverflow.

You can also try on the Gitter [#ckan](https://gitter.im/ckan/chat) channel, where other developers may be able to help you.

Thanks!

[2019-07-09 12:09] #4893 closed

[2019-07-09 12:12] tino097 commented on #4894
@olivierdalang can you please use dev mailing list or Gitter for this discussion as we dont want to spam issues on the repo.

[2019-07-09 12:12] #4894 closed

[2019-07-09 12:18] #4842 closed

[2019-07-09 12:19] #4823 closed

[2019-07-10 04:37] ThrawnCA opened #4897 "RFE: Extend paster 'search-index rebuild' to support multiple inputs"
### CKAN Version if known (or site URL)

2.8.2

### Please describe the expected behaviour

The paster `search-index rebuild` command should ideally be able to accept multiple input IDs, perhaps a filename or reading STDIN.

Eg

`paster --plugin=ckan search-index rebuild -f /tmp/package-ids.txt -c /path/to/config.ini`

where `/tmp/package-ids.txt` contains:

    aaaaaaaa-0000-1111-222222222222

[2019-07-10 08:18] ThrawnCA commented on #4431
Can this be merged/cherry-picked into 2.8?

[2019-07-10 08:38] Chandradeep-NEC commented on #4670
@amercader
Thanks.
We are working on this issue

[2019-07-10 13:41] frafra commented on #4576
The attributes error comes from this line, inside `ckan_after_request`:
https://github.com/ckan/ckan/blob/51e413087652a05f94d384a0f174a655c5d5b04d/ckan/config/middleware/flask_app.py#L330

The value of `g.__timer` is set in another function, `ckan_before_request`, but it is not set because there is an error before it:  `_check_uptodate` is called, which uses `get_system_info`, which tries to fetch

[2019-07-10 21:27] davidread commented on #4897
Sounds reasonable to me.

[2019-07-11 14:32] calligraphe commented on #4116
I am having the same issue as @Pardhu448. Any help would be appreciated.

P.S. CKAN storage directory (containing resource files and uploaded images in `resources` and `storage`) has all the files. But CKAN fails to show them in the website.

P.P.S. There is a possible solutions [here](https://github.com/ckan/ckan/issues/3987), but it creates problems during migration (because address has changes

[2019-07-11 20:27] wardi commented on #4897
How about a sysadmin-only API action to rebuild the search index for a dataset? That way we can build any sort of system to feed dataset ids that we want, and we don't require running a command directly on the server.

[2019-07-11 23:54] ThrawnCA commented on #4897
Can that already be achieved with some kind of a no-op package update?

[2019-07-12 09:05] frafra commented on #4576
I am not able to replicate that issue on my PC, only on some servers with Docker. I start to think it could be a Docker networking bug.

[2019-07-12 09:07] frafra commented on #4789
Ok, here is what I did for my plugin.

plugin.py:
[code]

logic/validators.py:
[code]

[2019-07-12 09:12] davidread commented on #4897
@ThrawnCA Possibly. There is a check_real_change method that would prevent a revision being created, but maybe it is still reindexed.

[2019-07-12 10:06] Engerrs opened #4898 "Dataset search page shows all types instead of only "dataset""
### CKAN Version
2.8, master

### Expected behaviour
When User goes to "/dataset" page, the page shows only Datasets list items.

### Actual behaviour
When User goes to "/dataset" page, page shows all Dataset types (e.g. dataset, showcase....)

### To reproduce the issue

1.  Have CKAN pure installation
2. Add ckanext-showcase
3. Create a few showcases
4. On Dataset search page showcases appear as

[2019-07-12 10:16] Engerrs commented on #4898
Hi @wardi , I found a reason for that bug in #3807 issue. The code that supposed to show all types or specific types is not working as expected.
https://github.com/ckan/ckan/pull/3807/files#diff-d61fa02346248a2c5eed362244515307R231 breaks the logic, as in case if this config is not added, the "asbool" function returns an error and search_all sets to True, as a result, it shows all types. Even if "

[2019-07-12 14:12] frafra opened #4899 "Format field autocompletion is broken (regression)"
### CKAN Version if known (or site URL)

Versions affected:
- master (using Docker)
- 2.8.0 (using Docker)

Versions not tested
- 2.7.0 (Docker setup is quite broken)

Version not affected:
- 2.6.6 (see https://demo.ckan.org)

### Please describe the expected behaviour
Starting to write on the "Format" field when adding a file should list the various file formats.

### Please describe the actual b

[2019-07-12 14:51] frafra opened #4901 "Get rid of the 2-steps dataset creation"
I would propose to get rid of the 2-steps procedure to create a dataset; let just the user create an empty dataset (which can be useful too) and after that adding the files.
The current interface is a bit redundant and confusing too: what is the meaning the "previous" button if I already added a resource? Would it bring me to the first file or to the dataset creation? If so, what would happen at t

[2019-07-12 20:48] davidread commented on #4705
@dassolkim @iamarnavgarg I hope you don't mind, but I've put forward solving this in a slightly different way. Let me know whether this achieves what you need too - https://github.com/ckan/ckan/pull/4905

And a related refactor of the Trash page to use an action https://github.com/ckan/ckan/pull/4906

[2019-07-15 12:47] #4899 closed

[2019-07-15 12:57] frafra opened #4907 "Click on "Start typing" should not remove focus"
### CKAN Version if known (or site URL)
2.8

### Please describe the expected behaviour
When clicking on "Start typing" on any other area of the dropdown input with search capabilities to select a format on demo.ckan.org, the focus stays on the file input area. This should happens for 2.8 too.

### Please describe the actual behaviour
Clicking on "Start typing" brings the focus away from the file

[2019-07-15 16:19] shaw2thefloor commented on #4777
OK thanks for the response. I'm not getting the following error

--------------
  __no_cache__: True
  application: <fanstatic.publisher.Delegator object at 0x7f8f932e30d0>
  beaker.cache: <beaker.cache.CacheManager object at 0x7f8f932d1fd0>
  beaker.get_session: <bound method SessionMiddleware._get_session of <beaker.middleware.SessionMiddleware object at 0x7f8f932d1f50>>
  beaker.session: {'_acc

[2019-07-16 18:27] cutley opened #4909 "Error: Process completed but unable to post to result_url"
CKAN version 2.8.1 installed from package on Ubuntu 16.04.5.

Prior to configuring SSL, the 'Upload To Datastore' button on the Datastore tab works fine, producing the log on the web page as expected.

After SSL is configured the 'Upload To Datastore' button begins to throw the error "Error: Process completed but unable to post to result_url".  The log on the web page no longer appears with the ex

[2019-07-17 09:27] shaw2thefloor commented on #4777
Hi @amercader thanks for your help. The "dataset" key was indeed the problem. Is there a list of valid "type" fields anywhere? I am converting from one schema type to this one, and there are several types that could be incoming, so I need to know what to map them to.
Thanks,
F

[2019-07-18 01:52] ThrawnCA commented on #4287
We're seeing this inconsistently when uploading resources on CKAN 2.8.2.

    [Thu Jul 18 11:50:31.317462 2019] [:error] [pid 15114] [remote 70.132.29.36:232] File '/usr/lib/ckan/default/src/ckan/ckan/templates/package/snippets/resource_view_filters.html', line 5 in top-level template code
    [Thu Jul 18 11:50:31.317464 2019] [:error] [pid 15114] [remote 70.132.29.36:232]   data-module-fields="{{

[2019-07-18 16:47] anibalpacheco commented on #4878
Just some info when using apache-wsgi in 8080 behind nginx, this patch worked excellent for me using the new setting with `http://localhost/` pointing to the nginx, (using http://localhost:8080 pointing the apache didn't work, it seems that a twisted-zope error was thrown trying to load the apache.wsgi script)

[2019-07-19 07:38] usingsky opened #4911 "URL ‘/hello’ rule in public site"
I suggest providing the /hello path only in debug mode.

### CKAN Version if known (or site URL)
2.8

### Please describe the expected behaviour
Ckan extension can determine whether to use /hello routing.

### Please describe the actual behaviour
Currently ckan core provides the "/hello" path by default.
In a production build, I think this is unnecessary information for users.
There is no way to r

[2019-07-19 14:22] amercader commented on #4911
Thanks @usingsky . That's a leftover from the initial stages of the Flask migration. I've removed in #4913

[2019-07-19 14:23] amercader opened #4914 "Update usage of urllib for Pyhton 3"
As discussed [here](https://github.com/ckan/ckan/pull/4896#issuecomment-513183056)

[2019-07-19 22:56] adborden commented on #3291
I think this is still an issue. We often see different results between the main page and the organization page which is very confusing to the users. In some cases, no results are returned on the organization page.

[2019-07-22 13:58] wood-chris opened #4916 "solr on ubuntu 18.04 with ckan 2.8.2"
### CKAN Version if known (or site URL)
2.8.2

### Please describe the expected behaviour
http://localhost:8983/solr/ should show solr

### Please describe the actual behaviour
http://localhost:8983/solr/ returns 404

### What steps can be taken to reproduce the issue?
I'm trying to install ckan from source on Ubuntu 18.04. Ubuntu 18.04 includes jetty9, which has different config files than for je

[2019-07-22 15:08] sabinem opened #4917 "CKAN Search in groups not working as expected"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
CKAN 2.7.6

### Please describe the expected behaviour
When I go to a group on CKAN and I can see datasets, then I expect when I enter a searchterm and click on the search icon, that the searchresult will include that d

[2019-07-22 15:27] sabinem commented on #4917
I already debugged this and found a fix for it. I tried to push my suggestion as a branch but got a 403 error. Therefore I will just describe it here:

For me the error is solved, if `ckan.lib.search.query.py` in the method `PackageSearchQuery.run()` the default parameter for the Solr query would be `edismax` instead of `dismax`. Patching this in my local installation solved the issue for me.

So

[2019-07-22 22:26] wardi commented on #4897
forcing a re-index is a slightly different thing. If there was really no update ideally `package_update` will do absolutely nothing (and we could even return an indication to the user indicating that)

The times when you need to force a reindex you know you don't want to change anything you just want the indexing code to be re-run (eg. to update "hotness" indication on a dataset or cause some othe

[2019-07-23 09:16] Engerrs opened #4919 "Datasets on homepage shows wrong"
### CKAN Version if known (or site URL)
CKAN 2.8, master

It seems that when **home** controller was migrated to blueprint there was a mistype in **data_ditct**. The **start** option should be [0](https://github.com/ckan/ckan/blob/master/ckan/controllers/home.py#L50) rather than [4
](https://github.com/ckan/ckan/blob/master/ckan/views/home.py#L37)

[2019-07-23 10:41] sergiovmdo opened #4921 "Connection refused"
Hi i've just installed ckan and if i put my server ip and port (8983) on google i can perfectly open CKAN but when i try to modify something it refuses my connection
ERR_CONNECTION_REFUSED

[2019-07-23 12:12] amercader commented on #4919
Fixed in #4920

[2019-07-23 12:12] #4919 closed

[2019-07-23 16:17] dyaw-Drexel opened #4922 "Resource Views Drop Down Not Listing Views"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
2.9a

### Please describe the expected behaviour
Default views will show on CSVs. Additional view options will show in the drop down

### Please describe the actual behaviour
No views at all are showing up on the views

[2019-07-24 05:21] managume commented on #4916
Same problem with version 2.8.3 in Ubuntu 18.04.2 64bits using default openjdk-11 and also downgrading to openjdk-8.

[2019-07-24 15:08] #4911 closed

[2019-07-24 19:48] dyaw-Drexel commented on #4922
Figured it out - apparently I listed ckan.plugins twice in the config file

[2019-07-24 19:48] #4922 closed

[2019-07-25 00:50] avowkind opened #4925 "datapusher and ckan in docker-compose"
CKAN Version 2.8.3

I've been following the changes in #4879 as I have the same problem running datapusher and ckan both in docker-compose cluster where the public ckan url is not available.

When running datapusher in a docker cluster generated by docker-compose the public ckan site url is not available to the local datapusher server - neither is it localhost.  So we need to give the datapusher t

[2019-07-25 05:33] mroutis commented on #4916
relevant discussion on stack overflow: https://stackoverflow.com/questions/55939999/how-to-get-solr-and-ckan-to-run-on-ubuntu-18-04-after-recent-solr-jetty-updates

there's a workaround :)

[2019-07-25 05:34] mroutis commented on #4916
also, related: https://github.com/ckan/ckan/issues/4762

[2019-07-25 10:14] Engerrs commented on #4898
Hi @smotornyuk , I added a fix to this issue.
Separated it into 3 commits, so "Fix Dataset search show all types for Controller" and "Update configuration.rst for ckan.search.show_all_types" can be backported to CKAN 2.8

It seems that commits were duplicated when I pushed them into my repo, but the all same. You can check the last 3 ones.

[2019-07-25 12:59] wood-chris commented on #4916
The solution posted by @boykoc in #4762 didn't work for me; I followed the instructions, but starting the server generated errors - also generated at http://localhost:8983/solr/:

[code]

[2019-07-25 13:54] wood-chris commented on #4916
I'm not sure if the solution posted by @boykoc in #4762 has worked; I followed the instructions (at https://github.com/ckan/ckan/wiki/Install-and-use-Solr-6.5-with-CKAN) and can curl http://localhost:8983/solr/:

[code]

but when I start ckan, pysolr complains about 404 errors:

[code]

[2019-07-25 16:49] boykoc commented on #4916
@wood-chris I'll take a closer look tomorrow but I actively use Solr directly. Friday was the last time I setup a new server (18.04 LTS) and had no issues with CKAN 2.8.2. As mentioned above, 2.8.3 will have the same issue as this is not a CKAN issue but an Ubuntu / solr-jetty issue.

[2019-07-25 21:21] avdata99 opened #4928 "Fails to create package with tags"
### CKAN Version if known (or site URL)
2.8, using [the docker-ckan repo](https://github.com/okfn/docker-ckan/blob/master/ckan/Dockerfile#L1) including the docker image _openknowledge/ckan-base:2.8_

### Please describe the expected behaviour
I expect to be able to create CKAN packages including _extras_ or _tags_ as a list of dictionaries as the [documentation says](https://docs.ckan.org/en/2.8/a

[2019-07-25 22:39] mroutis commented on #4916
@wood-chris , I've followed the installation instructions and then run the following commands:
[code]
So far, it is working as expected

[2019-07-25 22:46] mroutis commented on #4916
@wood-chris, you can also try with a prebuild image of solr in Docker

[2019-07-26 00:33] wood-chris commented on #4916
@mroutis hmm, thanks for trying and confirming it works for you :) not quite sure what's so different to cause the errors I'm getting

[2019-07-26 03:28] anand870 commented on #4925
Hi,
Facing the same issue here. Tried to fix it but got stuck.

Replacing  `'ckan_url': site_url`,  in ckanext/datapusher/logic/action.py with `ckan_url': callback_url_base` does not work as `callback_url_base = config.get('ckan.datapusher.callback_url_base')`  assigns None.

Fixed it by adding  `'ckan.datapusher.callback_url_base': 'CKAN__DATAPUSHER__CALLBACK_URL_BASE'`  at line 157 in in ckan/co

[2019-07-26 13:02] avdata99 commented on #4928
My mistake, I forgot
[code]
and json.dumps over the dict

[2019-07-26 13:02] #4928 closed

[2019-07-26 14:19] jeffcullis opened #4930 "CKAN Docker registry schema will be out of date in a few releases"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
CKAN 2.8.1

### Please describe the expected behaviour
Docker registry schema will be out of date in a few releases.

### Please describe the actual behaviour
Error during CKAN build process with docker compose:

Pullin

[2019-07-26 17:04] wood-chris commented on #4916
I should say that other people reporting this 404 error seem to have fixed it by realising that they don't have a correct schema.xml file in `/etc/solr/conf/schema.xml` (or symlinked appropriately). I have checked this, and still get the error:

[code]

[2019-07-26 19:01] boykoc commented on #4916
Just checking, did you install `solr-jetty` in your first round of packages when setting up? I noticed last week that this went ahead and did an install of jetty9 and started it up and clashed with my own solr install later.

If possible, try from scratch but don't install `solr-jetty` package.

e.g. `sudo apt-get install python-dev postgresql libpq-dev python-pip python-virtualenv git-core  openj

[2019-07-26 19:15] wood-chris commented on #4916
@boykoc I did, but I followed your tip in #4762 :)

[code]

[2019-07-30 11:51] LinuxChristian commented on #4547
Hi,

Sorry for opening a old isssue but I have exactly the same problem and have been debugging this for a copule of month. I have an managed Azure Postgresql database and a Redhat Enterprise 7.0 VM running CKAN v2.8.3.

Everything works fine initially but after a couple of months CKAN fails with HTTP500 Internal Server Error. Then the server may keep this error for a couple of days or a week and

[2019-07-30 12:20] LinuxChristian commented on #4547
I had a look in the CKAN code and could the problem be in this function

https://github.com/ckan/ckan/blob/ebe9d8390e52458bc388fbaf15a9ab7bee2ae2d7/ckan/model/system_info.py#L55-L64

From the SQL I would expect the

[code]

But the statement on the server is,

[code]

So the string interpolation never happens. I had a look at the [filter_by ](https://docs.sqlalchemy.org/en/13/orm/query.html#sqlalc

[2019-07-31 15:12] mcsf13m036 opened #4932 "api"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)

### Please describe the expected behaviour

### Please describe the actual behaviour

### What steps can be taken to reproduce the issue?

[2019-07-31 15:12] #4932 closed

[2019-08-01 08:34] LinuxChristian commented on #4547
From the CKAN error logs I can see that it is exactly in the system_info.py file the problem happens,

[code]

From there the problem moves into the sqlalchemy package,

[code]

[2019-08-02 05:26] Engerrs opened #4933 "Norwegian language is not working with Flask blueprints"
### CKAN Version
2.8, master

### Expected behaviour
When changing language to Norwegian, it should translate the pages. (Implementation from views, not controllers)

### Actual behaviour
When changing language to Norwegian nothing happens

### Steps to reproduce
1. Setup pure CKAN 2.8 or master.
2. Change language to Norwegian or homepage or about page.

[2019-08-02 05:46] Engerrs commented on #4933
Hi @amercader , I added a link to 'no' folder translations in order to add new Norwegian option 'nb_NO'. As far as I understand 'no' is an old format, but pylons support both 'no' and 'nb_NO' while Flask babel doesn't.
In order to fix this for 100% we need to update the transifex code from 'no' to 'nb_NO' on https://www.transifex.com/okfn/ckan/. But not sure if it is critical right now.
There migh

[2019-08-02 12:57] stefina opened #4934 "Fanstatic-URL for ckan-resources produces 500 error"
### CKAN Version if known (or site URL)
2.8.3 (Ubuntu 16.04)

### Please describe the expected behaviour
Source Installation of CKAN on Ubuntu with Apache2 should work out of the box.

### Please describe the actual behaviour
CKAN including SOLR is up and running but the Fanstatic-Resources that are setup here https://github.com/ckan/ckan/blob/2.8/ckan/public/base/javascript/resource.config#L22 ca

[2019-08-05 11:44] stefina commented on #4934
After some more debugging we found out that it depends on the `fanstatic_config`-settings specified in [pylons_app](https://github.com/ckan/ckan/blob/f43d6a572838c792193f3239827d04f9ffea9206/ckan/config/middleware/pylons_app.py#L81) and [flask_app](https://github.com/ckan/ckan/blob/af33aebf69b3cd3777b53b4be86cd45f24841c7e/ckan/config/middleware/flask_app.py#L221)

Setting debug to true, the follow

[2019-08-05 14:38] DangPhuTrungTin opened #4935 "TemplateSyntaxError: Encountered unknown tag 'snippet'"
Someone pls help me. This error happened after I installed datastore and datapusher in develop mode. I just follow the guideline then go to home page and get the error . Sorry I am new.
[code]

[2019-08-06 09:32] Freakbrain commented on #3114
That this bug is not fixed leads to other problems!
This leads to that create_resources deletes relationships.
If it is an bug, it should not be fixed by giving a workaround!

[2019-08-06 12:07] tino097 commented on #4935
Hi, thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the ckan-dev mailing list or the #ckan tag on SlackOverflow.

You can also try on the Gitter [#ckan](https://gitter.im/ckan/chat) channel, where other developers may be able to help you.

Thanks!

[2019-08-06 12:07] #4935 closed

[2019-08-07 09:29] Robot8A opened #4937 "Port error in docker compose"
`
AttributeError: 'WSGIThreadPoolServer' object has no attribute 'thread_pool'
ckan exited with code 1
`

### CKAN Version if known (or site URL)
Docker ckan latest

### Please describe the expected behaviour
Ckan opens on port 5000 (it was ok up until last monday)

### Please describe the actual behaviour
Ckan container start fails, even though there is no other process listening on port 5000

##

[2019-08-07 12:58] jonathansberry commented on #4764
I'm hitting this problem and struggling to find any info on it.  Was it ever resolved?

[2019-08-07 13:19] malthe commented on #4547
This seems like a bug in the database driver. That statement is very strange-looking because the "bind parameters" are not actually being sent to PostgreSQL as such. This is just some string representation of the query as SQLAlchemy understands it, being sent as a statement without the processing (i.e. as you say, parameter interpolation) that should be done by the database driver.

Perhaps someth

[2019-08-08 09:30] iamarnavgarg opened #4939 "Apache process is terminated by high memory usage of ckan"
### CKAN Version if known (or site URL)
2.7.2

### Please describe the actual behavior
I have an apache web server(v2.4) + ckan (v2.7.2) running in a docker container.
In our scenario, Ckan is being hit with large number of requests at certain intervals (like 10 requests/sec). Then after a certain period of time, the memory consumption tends to increase towards it's threshold value.

At a certain

[2019-08-08 10:31] Robot8A commented on #4937
If changed in .env file (CKAN_SITE_URL), it works

[2019-08-08 10:31] #4937 closed

[2019-08-08 13:10] smotornyuk commented on #4939
As far as I know, there is no 'suggested' configuration. Memory usage highly depends on module usage, so it's almost impossible to tell some concrete numbers that may be used as bounds for Apache. So, for each particular portal and hardware, you need to manually check peak load and configure web-server according to this.

In addition, it worth mentioning, that currently, CKAN has pretty weak cache

[2019-08-13 06:12] #4796 closed

[2019-08-13 06:38] iamarnavgarg commented on #4939
Hi @smotornyuk

I searched for this behavior(Apache memory usage) and found this could be improved by following ways:

1.  Lower the limit of number of simultaneous connections/requests, as Apache creates a new process for every new request always.
For example, it can be done by tweaking apache parameters in "apache2.conf" file(location: /etc/apache2/apache2.conf) such as KeepAlive, KeepAliveTimeo

[2019-08-13 13:29] MichaelHarmsTIB opened #4940 "New Datasets with DOI - DOI Failed - error code 404"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
Ckan 2.8. WIth DataCite (DOI), datastore, datapusher

### Please describe the expected behaviour
I can add new resources to public of an organisation. One time it works but second time etc. i got an error.

### Please d

[2019-08-15 13:18] wardi commented on #4939
setting MaxConnectionsPerChild to 0 might mean unlimited, right? If you have a memory leak in an extension or if you're running with SQL logging turned on you will run out of memory.

Either way this is more of a support/configuration issue, please try asking on our gitter chat or on stackoverflow, we use the ticket system here for issues with the ckan repository itself.

[2019-08-15 13:18] #4939 closed

[2019-08-15 14:10] hayley-leblanc commented on #4576
@frafra Have you found a solution to this? We are having the same issue on a Docker server.

[2019-08-16 16:18] davidread opened #4941 "Extensions' add_template_directory doesn't work during tests"
You can't write tests for an extensions' templates. This is because FunctionalTestBase creates the flask stack, which fixes the template directories, and it only then loads plugins, which edit config['computed_template_paths'] to no effect.

### CKAN Version if known (or site URL)
master

[2019-08-16 16:43] davidread commented on #4941
The problem occurs when you enable plugins like this:
[code]
You can get round the problem by enabling the plugins for all your tests in test.ini e.g.
[code]

This seems reasonable enough to do. But it's a bit of a gotcha.

[2019-08-16 17:54] davidread commented on #4941
environment.py:update_config() is called after loading the plugins, and should implement the changed template paths. It tries to do this by setting config['pylons.app_globals'].jinja_env which contains the template loader with the new set of template paths. However this global variable does nothing - the template dirs are set when flask_app.py:make_flask_stack() runs earlier on (before the plugins

[2019-08-16 21:11] davidread commented on #4941
This previous idea failed when in combination with recursive ckan_extends tags. I hit a problem with ckanext/example_idatasetform/tests/test_controllers.py:TestPackageController.test_edit_converted_extra_field - CkanExtend creates this special template name `*2*_idatasetform/templates/package/snippets/package_basic_fields.html` and the index is based off one set of template search paths and I had

[2019-08-19 03:20] avowkind commented on #4925
Just noting for myself that until this is fixed I have to set the expected ckan ip in /etc/hosts/ of the datapusher container

[2019-08-19 13:53] aliwaqas333 commented on #3283
any solutions yet?

[2019-08-19 15:04] gallexme commented on #4817
uhm? is it now released or not?
https://docs.ckan.org/en/ckan-2.8.3/ is missing

but https://pypi.org/project/ckan/
says 2.8.3

[2019-08-19 15:10] amercader commented on #4817
@gallexme yes, it is released. Unfortunately there are errors in the 2.8 Read the Docs build that make the old version show up: https://github.com/ckan/ckan/issues/4892

But the latest changelog include the released 2.8.3 changes: https://docs.ckan.org/en/latest/changelog.html#v-2-8-3-2019-07-03

[2019-08-19 15:10] #4817 closed

[2019-08-19 21:25] Chealer opened #4943 "API guide incoherent about API or API-s"
[The API guide](https://docs.ckan.org/en/latest/api/index.html) starts with:

This implies CKAN has a single API. Yet, section API versions starts with:

This page is generally inconsistent about the number of API-s which CKAN has. It would help to stick to singular, or to list all CKAN API-s.

By the way, I suppose that in "We recommend that you specify the API number in your requests", "API numb

[2019-08-19 21:31] Chealer opened #4944 "API guide: Action API reference does not define context"
CKAN's [Action API reference](https://docs.ckan.org/en/latest/api/index.html) lists several functions which require a **context** parameter, such as

It is not explained how to define that parameter.

[2019-08-20 08:45] MichaelHarmsTIB commented on #4940
[Tue Aug 20 10:43:04.014626 2019] [wsgi:error] [pid 29605:tid 139755694876416] [remote 127.0.0.1:57802] 2019-08-20 10:43:04,014 ERROR [ckanext.doi.api] Creating DOI Failed - 404 Client Error: Not Found for url: https://mds.datacite.org/metadata
[Tue Aug 20 10:43:04.014716 2019] [wsgi:error] [pid 29605:tid 139755694876416] [remote 127.0.0.1:57802] 2019-08-20 10:43:04,014 ERROR [ckanext.doi.api] Cre

[2019-08-20 08:56] MichaelHarmsTIB commented on #4940
[Tue Aug 20 10:43:04.017466 2019] [wsgi:error] [pid 29605:tid 139755694876416] [remote 127.0.0.1:57802] File '/usr/lib/ckan/default/lib/python2.7/site-packages/weberror/errormiddleware.py', line 171 in __call__
[Tue Aug 20 10:43:04.017470 2019] [wsgi:error] [pid 29605:tid 139755694876416] [remote 127.0.0.1:57802]   app_iter = self.application(environ, sr_checker)
[Tue Aug 20 10:43:04.017472 2019]

[2019-08-20 09:06] MichaelHarmsTIB commented on #4940
Always happened this if I set the ressource on public

[2019-08-20 12:09] tino097 commented on #4940
Hi, thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the ckan-dev mailing list or the #ckan tag on SlackOverflow.

You can also try on the Gitter [#ckan](https://gitter.im/ckan/chat) channel, where other developers may be able to help you.

Thanks!

[2019-08-20 12:09] #4940 closed

[2019-08-20 12:37] wardi commented on #4943
@Chealer these are good suggestions, mind submitting a PR?

[2019-08-20 12:42] wardi commented on #4944
We're using the sphinx auto documentation feature to expose the API endpoints available, but our internal action functions take their parameters as an internal-only `context` dict and a user-provided `data_dict` dict. All the paramters described in the docstrings end up in the internal `data_dict` parameter.

We could extend sphinx to change the way these parameters appear in the generated documen

[2019-08-22 07:47] davidread commented on #4941
Another example of this problem is if you run a new-style extension functional test on its own, it doesn't find the templates:

New style functional test:
[code]
Test error:
[code]

Whereas if you run an old-style test before it, that loads the extension then it passes fine:
Old-style test:
[code]
[code]

[2019-08-22 13:18] #4795 closed

[2019-08-22 21:11] Chealer commented on #4943
Thank you wardi, but I am just starting to learn CKAN. I know that some things are wrong, but I don't really know the reality yet nor the best way to present it.
Also, in this specific case there may be a terminological issue. Perhaps the guide uses the term "API" in 2 different senses, and it may be that for one of these senses, it should be replaced by a different term (say, "sub-API"). Such ren

[2019-08-23 12:14] malthe opened #4946 "Maintainance release of 2.7.x"
A new release is required since 2.7.6 is not installable using pip (see issue #4271).

[2019-08-23 19:16] Chealer opened #4948 "Please provide an official Postman collection"
It would be helpful to provide (or refer to) a [Postman](https://www.getpostman.com/) collection so that CKAN's API can be used/tested easily. The Postman software is proprietary, but the format of its collections looks like straightforward JSON, if it isn't documented.

I found [a Postman API for CKAN](https://github.com/EMN-Data/ckan-api-postman), but it isn't clear if that's supposed to be spec

[2019-08-26 11:22] batitaye commented on #4852
can you type in full what you wrote in the command line that caused secrets being printed to stdout

[2019-08-26 11:56] batitaye commented on #4800
should I write it from scratch or just plug in WTForms in place of OneOf
and which branch should I implement this on

[2019-08-26 12:19] mgaitan opened #4949 "Improve extensibility of the 'user form' template"
### CKAN Version if known (or site URL)

2.8.x

### Please describe the expected behaviour

As a developer of extensions, I expect to extend/override specific parts of the template at `ckan/templates/user/edit_user_form.html` be possible and easy, without needing to copy the whole original code.

For instance, in the context of a deploy that uses LDAP as access protocol, I'd like to hide/remove th

[2019-08-27 04:28] ThrawnCA opened #4951 "Resource last_updated does not change when metadata is changed"
The `package_update` action calls:

    `model.Session.query(model.Package).filter_by(id=pkg.id).update(
        {"metadata_modified": datetime.datetime.utcnow()})`

but the `resource_update` action has no equivalent. Updating resource fields will not refresh the 'Last Updated' field.

### CKAN Version if known (or site URL)

2.8.3, 2.9 as at 2019-08-27 on demo.ckan.org

### Please describe the ex

[2019-08-27 11:33] letoncse opened #4953 "Install CKAN 2.5.2 on Windows 7"
### CKAN Version if known (CKAN 2.5.2)

### Please describe the expected behaviour
I'm trying to install CKAN 2.5.2 on wondows 7 . I'm following below link.
https://github.com/ckan/ckan/wiki/How-to-Install-CKAN-2.5.2-on-Windows-7

But I getting error number 13: Create database tables - (ckan) C:\src\ckan>paster db init -c development.ini

[Traceback (most recent call last):
  File "c:\python27\Lib

[2019-08-27 15:54] #4941 closed

[2019-08-27 21:05] Chealer opened #4954 "Please provide or link to a data dictionary (Data Definition Matrix)"
I am trying to obtain a definition of CKAN table contents. For example, I am wondering what the url_type column of the resource table contains. Unfortunately, it looks like the database created when installing CKAN has no documentation (I am new to PostgreSQL and don't master pgAdmin, but with my CKAN 2.4.1 instances, if I look at the properties of the package_revision table (for example), the Com

[2019-08-28 10:53] smotornyuk commented on #4642
Issue fixed in CKAN v2.8.3
Closing the issue.

[2019-08-28 10:53] #4642 closed

[2019-08-28 12:15] smotornyuk commented on #4934
Unfortunately, I cannot reproduce an issue even on Ubuntu 16 / apache. Starting from v2.9(not released yet) we start using webassets instead of fantastic and new way of managing static files is likely to fix an issue, but I have no clue, what can help right now with the problem.

[2019-08-28 13:50] smotornyuk commented on #4503
No longer reproducable in CKAN v2.8.3

[2019-08-28 13:50] #4503 closed

[2019-08-28 13:57] smotornyuk commented on #4840
Hi, @ThrawnCA .
There are two options of providing markdown into labels.

You can use safe strings for small pieces of content:
[code]

And when you need more control, editor highlight, multiline, etc, you can use block-variables:
[code]

[2019-08-28 13:57] #4840 closed

[2019-08-28 15:05] #4445 closed

[2019-08-28 15:29] smotornyuk commented on #4907
This problem came after upgrade of select2.js library and can be fixed by upgrading to v4.*. For now, I provided a small workaround in #4958 - search field still lose focus when you click on `start typing`, but input field itself is visible at least, so the field can easily regain focus by clicking on it

[2019-08-28 16:58] stefina commented on #4934
Thank you so much for looking into this @smotornyuk
Well, we haven't looked deeper into this so far as we did not require any custom static files yet. Let us hope that once we can upgrade to 2.9 (once it is released) we do not have this problem any more.

[2019-08-28 23:27] ThrawnCA opened #4959 "DataPusher tasks remain 'Pending' after WebOb errors"
Some types of DataPusher error don't update the task status from 'Pending' to 'Error', requiring manual database intervention before the resource can be pushed again.

### CKAN Version if known (or site URL)

2.8.3

### Please describe the expected behaviour

Any DataPusher error should result in the `task_status` entry updating to 'Error'.

### Please describe the actual behaviour

Exceptions ret

[2019-08-29 08:00] thsohn17 opened #4960 "ERROR: role "datastore_ro" already exists"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

No.
### CKAN Version if known (or site URL)
2.8.2

### Please describe the expected behaviour
i am trying to run the docker command below in order to create readonly user from db container.

ERROR:  role "datastore_ro" already exists

i am expecting something

[2019-08-29 13:39] amercader commented on #4960
The `datastore_ro` user should have been created for you when building the postgres image. The error is just telling you that the user already exists.

Closing, please reopen if you find an actual issue, for support head to the [ckan-dev mailing list](https://lists.okfn.org/mailman/listinfo/ckan-dev) or the [#ckan tag](http://stackoverflow.com/questions/tagged/ckan) on SlackOverflow.
Thanks!

[2019-08-29 13:39] #4960 closed

[2019-08-29 13:50] amercader commented on #4959
It seems reasonable to expect that any exception in a DataPusher job should result in the task being marked as error.

DataPusher's `HTTPError` exception [inherit](https://github.com/ckan/datapusher/blob/master/datapusher/jobs.py#L64) from CKAN Service Provider `JobError`, and [this code](https://github.com/ckan/ckan-service-provider/blob/9e697e006e5419630c729253fab7ce7730da081b/ckanserviceprovide

[2019-08-29 13:54] amercader commented on #4954
A description of the different fields on the different CKAN entities fields would be really useful. I think we don't need to go down to the database level, as many fields are abstracted in the logic layer. The closest we have now is the reference in the API actions, eg for datasets:

https://docs.ckan.org/en/2.8/api/index.html#ckan.logic.action.create.package_create

Views on how to best document

[2019-08-29 13:55] amercader commented on #4953
Sorry, Windows is not currently supported by the tech team as a platform for CKAN. The wiki pages are community maintained. I recommend that you run Ubuntu in a VM or similar to run CKAN.

[2019-08-29 13:55] #4953 closed

[2019-08-29 13:57] amercader commented on #4948
Sounds useful but not something that the technical team can work on. If you or someone from the community wants to give it a go the repo linked seems like a good start.

[2019-08-29 13:57] #4948 closed

[2019-08-29 14:00] amercader commented on #4946
A new release cycle for just this change seems unjustified (`pip install ckan` is not one of the standard supported installations). But don't worry, we will include the requirements-setuptools.txt change in the next patch release.

[2019-08-29 14:00] #4946 closed

[2019-08-29 14:01] amercader commented on #4951
You are right this is confusing. `last_updated` only refers to when the actual data file was updated (and is only set on uploads). A `metadata_modified` for resources sounds like a good idea if you are up for a PR

[2019-08-29 20:09] ziusware opened #4963 "Automatic Upload"
### CKAN Version if known (or site URL)
2.9.0

### Please describe the expected behaviour
I have a ckan website.I upload data manually to the datastore, its working perfectly. However my actual requirement is to automate the process.I want a job scheduler which automatically upload data like geojson,excel,csv,txt,pdf, etc in the ckan application. Please provide inputs

Thanks

[2019-08-29 23:10] ThrawnCA commented on #4959
We've made some progress in investigating why the CKAN error was occurring, which might help in reproducing this. It looks like the DataPusher *usually* uses the credentials of the account that triggered it, but in some circumstances (and I'm not sure what those are), it instead uses a system account, by default called 'ckan'. And we had disabled that account, causing 'site_read' access checks to

[2019-08-29 23:12] ThrawnCA commented on #4951
Independently of a separate `metadata_modified` field - if `last_updated` shows when a file was uploaded, shouldn't it also be refreshed for URL-based resources when the URL is changed?

[2019-08-31 15:04] Chealer commented on #4954
If by logic layer you mean the API, a documented API would surely reduce the importance of the lack of database documentation, but definitely doesn't replace a data dictionary. In fact, a data dictionary would surely help CKAN developers document the API.

[2019-09-02 12:38] gallexme opened #4965 "Links to Docs consistently Broken 2.7.2 2.8.3...."
### CKAN Version if known (or site URL)
2.7.2
2.8.3
and possibly a lot more Versions are affected.

### Please describe the expected behaviour
Click on Footers "CKAN-API" Link should redirect to the Documentation of that Version

### Please describe the actual behaviour
[code]

### What steps can be taken to reproduce the issue?
Install newest CKAN (2.8.3, or most other versions) click CKAN-API ->

[2019-09-03 12:39] shevron commented on #4852
I edited the original description with an example command

[2019-09-03 13:19] amercader commented on #4963
What you need is the either the [Express Loader](https://github.com/ckan/ckanext-xloader) or the [DataPusher](https://docs.ckan.org/en/latest/maintaining/datastore.html#datapusher-automatically-add-data-to-the-datastore).

In the future please submit support requests like this one to the [ckan-dev mailing list](https://lists.okfn.org/mailman/listinfo/ckan-dev) or the [#ckan tag](http://stackoverfl

[2019-09-03 13:19] #4963 closed

[2019-09-03 13:22] amercader commented on #4965
We updated the docs to link consistently to the minor version a while ago,eg

https://docs.ckan.org/en/2.7/
https://docs.ckan.org/en/2.8/ (actually points to 2.8.2 due to #4892)

AFAICT we change to the API docs in the search page and the footer. (see eg https://beta.ckan.org/)

What links exactly and on what sites are you seeing broken @gallexme ?

[2019-09-03 13:32] amercader commented on #4797
PR by @f-osorio here: https://github.com/ckan/ckan/pull/4966

[2019-09-03 13:55] gallexme commented on #4965
@amercader
https://docs.ckan.org/en/ckan-2.7.2/api/ broken
https://docs.ckan.org/en/ckan-2.7.3/api/ works
https://docs.ckan.org/en/ckan-2.7.4/api/ broken
https://docs.ckan.org/en/ckan-2.7.5/api/ broken
https://docs.ckan.org/en/ckan-2.7.6/api/ broken

sure in 2.8.3 the footer links may now only go to 2.8 and not to 2.8.3
but back in 2.7.2 bootstrap2 they didnt they link to 2.7.2 not 2.7?
u just dro

[2019-09-03 14:02] gallexme commented on #4965
here some example ckan sites from ur about/instances
http://data.zagreb.hr/dataset links to 2.5.2 not 2.5 (Docs still work tho, since they exist...)
https://data.kk.dk/dataset links to 2.5.4 not 2.5 (Docs still work tho, since they exist...)
http://offenedaten.frankfurt.de/dataset links to 2.7.2 not 2.7 (Docs dont  work!)

[2019-09-04 08:03] #4797 closed

[2019-09-04 10:09] amercader commented on #4965
Tl;DR:

* Sites on CKAN >= 2.6: If the links are broken, the site needs upgrading to the latest patch release
* Sites on CKAN < 2.6: Links should work, as we kept the old versions on RTD for compatibility

@gallexme The links are fixed on all latest patch releases to point to the new two-digit URLs. So if a site is using the latest patch release (which they should be to get the latest fixes) it wi

[2019-09-04 10:19] bellisk opened #4968 "i18n: Multiline translation strings not translated"
### CKAN Version if known (or site URL)
2.8.3

### Please describe the expected behaviour
All translated strings in the CKAN templates should be translatable into all available languages.

### Please describe the actual behaviour
Multi-line translated strings in the CKAN templates that are specified with `{% trans %}` tags are not translated.

e.g., this works: `{{ _('Update Member') }}`
This work

[2019-09-04 20:17] Chealer commented on #4948
@amercader , is the team missing something?
And do you have any indication that the ckan-api-postman repository intends to target generic CKAN?

[2019-09-05 11:34] amercader commented on #4968
@bellisk thanks a lot for the report.
I can reproduce this in master: https://master.ckan.org/ca/organization/
Are you sure this happens on 2.8.3? Seems to work fine in here: https://beta.ckan.org/ca/organization

[2019-09-05 13:18] wardi commented on #4968
I've definitely had trouble with multiline translations in my extensions being picky about not having the exact right surrounding white-space (I need to use the exact right combinations of spaces and newline characters in my .po files) I thought the fuzzy setting was supposed to make that unnecessary.

[2019-09-05 13:53] bellisk commented on #4968
@amercader Sorry, I checked again and we seem to be using master; the last commit in our ckan/ckan repository is https://github.com/ckan/ckan/commit/b6298333453650cd9dbb3f5d3566da719804ecca

[2019-09-05 22:07] adborden opened #4971 "Broken API URLs after a resources is deleted"
As a dataset owner, if I accidentally delete a resource, I want to be able to restore or re-create it in a way that the old API URL still works so that any API consumers aren't broken when the resource id changes accidentally.

### CKAN Version if known (or site URL)
2.3

### Please describe the expected behaviour
API URL works after a resource is deleted and re-created.

### Please describe the a

[2019-09-06 10:48] Naidiev opened #4972 "Ckan popular dataset flame icon does not appear in datasets list"
Ckan has Page View Tracking feature, that counts dataset and resources views. By default flame icon should appear next to dataset title when it has more than 10 views. So in my case flame icon does appear next to resource title when it reaches min views number, but does not appear next to dataset title.

Ckan version is 2.8.2.

I added "ckan.tracking_enabled = true" to ckan config file. I made sur

[2019-09-06 12:47] amercader commented on #4965
Hope this makes sense. If you think there's still an issue that we can solve feel free to reopen

[2019-09-06 12:47] #4965 closed

[2019-09-06 14:02] amercader commented on #4791
Datastore and Datapusher done by @smotornyuk in #4961

[2019-09-06 15:42] amercader commented on #4968
@wardi @bellisk I investigated a bit and this seems related to the upgrade to Jinja2 2.10, particularly:
https://jinja.palletsprojects.com/en/2.10.x/extensions/#whitespace-trimming

I haven't tried yet to pass this as I'm not sure where and how to do so (I imagine wherever we are initializing our Jinja2 environment)

[2019-09-06 15:49] amercader commented on #4800
@batitaye sorry I missed your comment. You should use the current `master` branch as a base for this.
I'd prefer if you re-implemented `OneOf` on our code base to avoid the WTForms requirement for now. You can add it to [this module](https://github.com/ckan/ckan/blob/f43d6a572838c792193f3239827d04f9ffea9206/ckan/logic/validators.py) with the rest of the core ones.
Let me know if you need any more

[2019-09-06 16:15] wardi commented on #4968
interesting, so we need to either turn this off or remove all the whitespace from the start/end of the po strings?

Sounds like kind of a nice default TBH

[2019-09-06 16:21] Vanuan opened #4973 "Datasets URL filtering doesn't ignore non-existing fields specified in url (query params)"
# CKAN Version if known (or site URL)

https://demo.ckan.org/organization/1d2e5542-9f8d-4e2d-9a1a-789608041400?non_existing_tag=test

### Please describe the expected behaviour

Non-existing keywords/tags should be ignored

### Please describe the actual behaviour

Non-existing tags

### What steps can be taken to reproduce the issue?

1. Take any dataset page url
2. Post it on Facebook
3. Click o

[2019-09-06 16:22] Vanuan commented on #4973
![Screenshot from 2019-09-06 19-21-36](https://user-images.githubusercontent.com/361985/64443934-acfa2280-d0db-11e9-85bf-b6bfb102853a.png)

[2019-09-09 09:08] bzar opened #4974 "Database [performance] for group_extras and resource"
Related to #3511

### CKAN Version if known (or site URL)
2.8.3

### Please describe the expected behaviour
Fetching from `group_extra` by `group_id` or from `resource` by `package_id` is fast.

### Please describe the actual behaviour
With enough data, both become slow. The former is especially visible when fetching `organization_list`.

### What steps can be taken to reproduce the issue?
Insert

[2019-09-09 09:08] bzar commented on #4974
I would've included a PR, but master has transitioned to alembic and I haven't had the time yet to look into it.

[2019-09-09 21:50] #3536 closed

[2019-09-10 12:30] wardi commented on #4971
Let's generate the resource id with a hash of the of the resource name and package id so that the resource ids are always generated the same. This would have the side effect of preventing duplicate names in the same dataset, which most people would consider to be a feature.

[2019-09-10 13:04] amercader commented on #4974
The additions that you propose sound great to have on master (2.9) so a PR is most welcome. On previous releases we can suggest the change in the CHANGELOG so people can run it manually if needed.

[2019-09-10 13:33] amercader commented on #4973
Thanks for flagging this @Vanuan

@wardi After giving this some thought and looking at the code, I'm wondering if it's not fair to assume that _on the UI_ any query parameter passed should be one of the defined facets. That's their main use basically, when clicking an item on the left column. And when passing an unknown parameter you get a `None` like on the screenshot because the snippet is assum

[2019-09-10 13:51] wardi commented on #4973
@amercader sounds good

[2019-09-10 15:59] Vanuan commented on #4930
FWIW: I've build this a year ago
https://hub.docker.com/r/vanuan/ckan-datapusher/dockerfile

[2019-09-10 16:01] Vanuan commented on #4930
A, wait. I don't see why you would need it: https://hub.docker.com/r/clementmouchet/datapusher/dockerfile

Just don't use an image, put the Dockerfile locally.

[2019-09-11 21:59] benbaido opened #4983 "Overriding package controller"
### CKAN Version if known (or site URL)
2.8.1

### Please describe the expected behaviour
Overriding the /dataset/new post endpoint would change the route the save dataset button goes to but it doesn't.
What I want to do is change which controller the save button routes to. I don't want it to go to the ckan.lib.base file. I want it to go to my controller.

### Please describe the actual behaviour

[2019-09-12 00:50] LukeTully commented on #4972
@amercader This is because deep in the stack, the package_list.html template is rendered, which uses the package_search api, whose 'results' param is enumerated to call the package_show api indirectly—through before_view hook—which populates the return results param. This is extremely convoluted. The package_show api does not return tracking by default, hence why way further up the chain, you don'

[2019-09-12 03:28] boykoc commented on #4901
@frafra i think this is started to be addressed in [PR 4544](https://github.com/ckan/ckan/pull/4544#issue-227959057). It allows a dataset to be created without any resources is 2.9.

For a project we were asked by a user to let them see previous resources when adding new ones to be able to reference naming and descriptions to keep them similar.

We were thinking of changing the form to allow cycli

[2019-09-16 10:21] MandanaMoshref opened #4985 "Adding group during creating dataset"
### CKAN Version if known (or site URL)
2.8

### Please describe the expected behaviour
I would like to add additional field OR stage where the user can add the group as a compulsory metadata item to the dataset.

### Please describe the actual behaviour
At the moment a user can decide to whether add a group to the dataset or not (assuming with the given right to do so). But in my application addi

[2019-09-17 05:37] ThrawnCA opened #4986 "user_invite crashes if generated password does not validate"
The `user_invite` function generates a hidden password that will pass the built-in validators, but if custom validators are supplied and the generated password fails, the function will crash with a KeyError ('password' does not exist in the error dict).

Furthermore, code review suggests that if the crash were fixed, it would be in danger of an infinite loop, constantly generating passwords that a

[2019-09-17 05:44] ThrawnCA commented on #4986
It seems to me that there are several fixes that should be applied:

- `user_password_validator` should initialize the `password` error key if it does not exist.
- Alternatively, `user_invite` should populate the `errors` dict with a blank `password` key before passing it to the validator function.
- The `test_validators` class should be updated with tests that pass in empty `errors` dictionaries.

[2019-09-17 06:01] ThrawnCA commented on #4986
Note that CKAN 2.7 handled the error somewhat more gracefully, displaying the validation failure on-screen, but still had no way to fix the problem if the validators were too strict for the password generation code.

[2019-09-17 13:51] quinoescobar commented on #3798
Workaround

CKAN version **2.7.2**
I was getting the same problem described, i didn't change the CORE code, I just modified the template whom made the call to create the logo's URL.

**Expected behaviour**
Logo URL:
`<img src="/some/path/uploads/admin/xyz.png?" alt="XYZ" title="XYZ">`

**Actual behaviour**
Logo URL:
`<img src="/some/path/some/path/uploads/admin/xyz.png?" alt="XYZ" title="XYZ">`

*

[2019-09-18 12:52] Chealer commented on #3746
It may be necessary to specify --plugin=ckan for this to work.

[2019-09-18 13:39] mcarans commented on #4681
Is the intention to release CKAN 2.9 with Python 3 support or will it be pushed back to a later version?

[2019-09-18 13:41] cclauss commented on #4681
105 days until Python 2 end of life.

[2019-09-18 13:59] mcarans commented on #4681
Thanks. Does everything in the tick list at the top of this issue (eg. vdm removal) need to be completed  for the 2.9 release?

[2019-09-18 14:04] amercader commented on #4681
@mcarans The plan is to support both Python 2 and 3 in CKAN 2.9, and make CKAN 3.0 Python 3 only

@cclauss thanks for the reminder! We are making slow but steady progress as reflected in the project board https://github.com/ckan/ckan/projects/3

We are focusing on various fronts, including the major blocker (VDM). Things will hopefully speed up as we approach the end of the year

[2019-09-19 12:18] #4974 closed

[2019-09-19 13:21] boykoc commented on #4985
Somewhat related to #4901

[2019-09-19 13:24] wardi commented on #4986
Two proposals from our developer call on resolving this one:

1. Change the way invites work so that they send a token that allows the user to create a new account with specific permissions (don't create the user with a fake password and reuse the password reset tokens)

2. Add a "password_disabled" option to `user_create` to allow creating a user with no password set (stored as an invalid hash th

[2019-09-19 13:28] smotornyuk commented on #4985
And for a basic solution, you can check [this extension](https://github.com/datagovau/ckanext-agls/blob/master/ckanext/agls/templates/package/snippets/package_basic_fields.html#L185)

Generally, dataset already has `groups` key, but it a little bit tricky because of validation logic. While the addition of 3rd step may turn into hell, updating only the dataset form may become quite straightforward,

[2019-09-19 16:56] WterBerg opened #4988 "Dead URL in testing docs"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
Probably any, tested docs of `latest` and `2.8`

### Please describe the expected behaviour
The (external) URL resolves.

### Please describe the actual behaviour
The URL points to a HTTP 404 on data.gov.uk.

### What s

[2019-09-19 21:33] MandanaMoshref commented on #4985
@smotornyuk  Thank you very much. You saved my life.
Actually, I want to use the group from the dropdown list. The extension you shared helped me finally to manage it.

I have one more question...
I have a hierarchy in my group (this works the same as the ckanext_hirarchy but for groups). Is there any possibility that I have e.g. 2 fields and each call the sub-groups of the corresponding parent gr

[2019-09-20 07:22] ThrawnCA commented on #4986
Those would be good fixes too.

[2019-09-20 10:05] kentsanggds opened #4989 "Update of package_schema to ignore new element doesn't work"
### CKAN Version if known (or site URL)

2.7.4

### Please describe the expected behaviour

An additional element was added to the output for packages -

https://github.com/alphagov/ckanext-datagovuk/blob/master/ckanext/datagovuk/plugin.py#L143-L156

but this causes a problem when attempting to update harvested datasets as the element is not accounted for in the package schema.

So adding`schema['

[2019-09-20 12:02] wardi commented on #4986
@ThrawnCA marked as good for contribution, if you have time to work on either approach I'm happy to review and merge. :-)

[2019-09-20 13:52] mgaitan opened #4990 "Facet + search not working within organization page"
### CKAN Version if known (or site URL)

2.8

### Please describe the expected behaviour

I should be able to facet a search result list whitin an organization page

### Please describe the actual behaviour

Faceted search whitin organization returns empty results, when some results are expected

### What steps can be taken to reproduce the issue?

Using official docker image (https://github.com/o

[2019-09-20 14:44] boykoc opened #4991 "Update Source Install Docs to only have Apache or Nginx"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
2.8.x and up

### Please describe the expected behaviour

**Discussion:**

- Update docs to[ remove instructions to install both Nginx and Apache](https://docs.ckan.org/en/latest/maintaining/installing/deployment.html).

[2019-09-20 15:27] boykoc commented on #4988
I've sent a ticket to GDS asking if they have an updated link we can use. I couldn't find one quickly by googling.

General browser stats would work as well but I'm assuming data.gov.uk was used as it's a large CKAN site with these numbers so it's more applicable than just browser share stats.

[2019-09-20 16:04] boykoc commented on #4988
The current link was removed from data.gov.uk due to some plugin issues. One suggestion for similar stats is the link below, however, it is for the entire site. But if we still wanted to use gov.uk as the source this would work.

https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices#browsers-to-test-in

Or this could be used instead?  https://gs.statcounter.com/

[2019-09-20 16:07] boykoc commented on #4988
See PR #4992

[2019-09-23 13:37] #4420 closed

[2019-09-23 14:49] MandanaMoshref commented on #4985
Ok I have an update:

Thanks to the help and advice from @smotornyuk I could understand how adding a new field directly in the dataset metadata works.

The steps I have done to add three new fields for the user to add the groups are as following:
1. I already adapted the ckanext-hirarchy which is for organisation for groups. It means I have groups managed under three main categories.
The prepose i

[2019-09-23 14:49] #4985 closed

[2019-09-23 15:05] smotornyuk commented on #4985
I'm not sure, whether I've got the idea, but [here's](https://github.com/smotornyuk/ckanext-example_multi_group) some example of solving the mentioned problem from my point of view.

1. Let's imagine, that you have [two separate fields](https://github.com/smotornyuk/ckanext-example_multi_group/blob/master/ckanext/example_multi_group/plugin.py#L29-L71) and each of them only can be set to specified

[2019-09-24 02:43] usingsky commented on #4983
@benbaido
I had a similar issue. In my experience, ckan has the following routing priorities

    Flask Extension > Pylons Extension > Flask Core > Pylons Core

And "/dataset/new" is routed to Flask Core(2.9.x) or Pylons Core(2.8.x)

I think there are two solutions. Hope this helps

1. overriding blueprint instead of pylons (If you plan to update ckan to 2.9.x)
refer to [get_blueprint](https://doc

[2019-09-24 03:34] usingsky commented on #4983
@smotornyuk
I have a question about the above.
`ckan_core = '' or ckan_core_ = False or ckan_core = True` behave the same.
This is because ckan only checks for the existence of the ckan_core attribute.

https://github.com/ckan/ckan/blob/1e70c730e131a0b53a5f42e815d5f710957c9fa1/ckan/config/routing.py#L47-L51

https://github.com/ckan/ckan/blob/1e70c730e131a0b53a5f42e815d5f710957c9fa1/ckan/config/rou

[2019-09-24 06:23] #4689 closed

[2019-09-24 11:01] Zharktas opened #4995 "Resource update should be resource independent"
### CKAN Version if known (or site URL)
2.8, probably master and every other ckan version

### Please describe the expected behaviour
Calling resource update on a resource should only update and validate the single resource.

### Please describe the actual behaviour
Resource update calls package update which validates all the resources which might fail if the resources have wrong values in them.

[2019-09-24 12:00] wardi commented on #4995
I think this change will just push the problem further down. Having a required field missing could cause a failure when indexing the dataset, or even just when displaying the resource.

If you change the data model I think it's up to you to migrate your data to match.

Another option is to add a field at the dataset or resource level that indicates a schema version then the required-resource-field

[2019-09-24 14:41] nicholsj commented on #4988
PR at https://github.com/ckan/ckan/pull/4997 (previous one was to incorrect branch)

[2019-09-24 14:57] mgaitan commented on #4990
@wardi  @smotornyuk I have a one-line patch for this. Opening the PR in a moment.

[2019-09-25 02:25] duttonw opened #5000 "CKAN with solr HA (master/slave combo)"
Hi,

Just wondering if others know of a way to setup CKAN (maybe with an extension) that allows multiple url's for solr. We have been building a HA CKAN system and our only single point of failure is the solr search system, when patching occurs and this server is taken out by reboot its not very nice.

So

Just wondering how one would have a master solr url (for updates) and a slave url used for a

[2019-09-25 17:21] wood-chris opened #5002 "Help strings for paster commands"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
2.8.3

### Please describe the expected behaviour
The CKAN Getting Started (https://docs.ckan.org/en/2.8/maintaining/getting-started.html) docs say to run `paster sysadmin add seanh email=seanh@localhost name=seanh -c /

[2019-09-25 17:48] wood-chris commented on #4355
Since this works on the versions of Ubuntu recommended in the docs (rather than WSL, which is what this issue was based on), it can be closed

[2019-09-25 17:48] #4355 closed

[2019-09-25 18:40] pdelboca opened #5003 "ckan.logic.NotFound: The action is not found for chained action"
### CKAN Version if known (or site URL)
2.8.3

### Please describe the expected behaviour
Using the decorator `@toolkit.chained_action` in a method of an extension should chain it as described in the documentation: [IActions](https://docs.ckan.org/en/2.8/extensions/plugin-interfaces.html?highlight=chained_action).

Note that I'm trying to chain to a core action of CKAN not to a another extension a

[2019-09-25 19:20] jeverling opened #5004 "Clarification about ckan.auth.roles_that_cascade_to_sub_groups"
I have some confusion about `ckan.auth.roles_that_cascade_to_sub_groups`.

The [documentation](https://docs.ckan.org/en/latest/maintaining/authorization.html#ckan-auth-roles-that-cascade-to-sub-groups) makes it sound like this applies to groups, i.e. what you use to create collections of datasets, e.g. for a common topic or related in another way - **not** organizations:

However, the observed beh

[2019-09-26 13:20] wardi commented on #5000
@duttonw sounds like a great idea. Have you documented the rest of your HA CKAN setup somewhere? I know lots of people would be interested.

[2019-09-26 13:21] wardi commented on #5004
Sounds like a small fix to the documentation. Would you care to submit a PR?

[2019-09-26 13:21] wardi commented on #5002
Yes it looks like the documentation is wrong here. Would you care to submit a PR?

[2019-09-26 13:30] Zharktas commented on #5003
Chained actions for the core actions are not available in CKAN 2.8 as the PR enabling them got merged in spring and it was not backported for 2.8

[2019-09-26 13:35] wardi commented on #5003
good catch @Zharktas !

 @pdelboca you can backport the PR #4509 on your own ckan fork until your next upgrade

[2019-09-26 13:35] #5003 closed

[2019-09-26 16:19] jeverling commented on #5004
Yes I'm happy to do that!

[2019-09-26 16:20] pdelboca commented on #5003
Great! Thank you guys!

[2019-09-27 13:10] kentsanggds commented on #4989
I'm currently in the middle of working on other things and since it is working with the work around I probably won't get around to looking at creating a PR to fix the issue for a little while.

What you are suggesting sounds reasonable, so will try to explore that when I can get around to it.

[2019-09-27 14:16] 4estone opened #5006 "Page view tracking - tracking update wrong sql string"
### CKAN 2.8.3

### Paster command tracking update fail

### Please describe the actual behaviour
paster --plugin=ckan tracking update -c /etc/ckan/default/production.ini

/usr/lib/ckan/default/src/ckan/ckan/lib/cli.py

LINE 12: ....tracking_date AND t2.tracking_date >= t1.tracking_date - 14
                                                                    ^
HINT:  Aucun opérateur ne correspond

[2019-09-27 16:01] Chealer commented on #3520
I'm getting a similar error with CKAN 2.8, but this specific bug seems to be solved in CKAN 2.7.

[2019-09-28 18:33] wood-chris commented on #5002
Submitted!

I haven't gone through a lot of the other code in much detail, but I see that the help strings say that apikey is a valid field - I can't see where this is parsed in `user_add` tho?

[2019-09-30 12:49] frafra commented on #4576
@hardingalexh No, still happening. No idea why. I spent much time with some internal server error raised by CKAN and I do not know if they are related. One of them is mitigated by fetching a page from time to time actually...

[2019-09-30 14:25] adborden commented on #5000
SolrCloud[1] provides HA solr. It uses Zookeeper to manage node failover. I think for CKAN you just need to put a load balancer in front of it, that way CKAN can use a single URL. The nodes will happily route requests to the correct shard/replica.We aren't using this in production, yet, but these configs[2] might be helpful.[1] https://lucene.apache.org/solr/guide/8_1/solrcloud.html[2] https://git

[2019-10-01 12:18] #5002 closed

[2019-10-01 12:19] wardi commented on #5006
which postgresql version are you running? Seems possible that date math is more strict than it used to be?

[2019-10-01 12:20] smotornyuk commented on #5006
BTW, I'm using PostgreSQL v11.5 and something like `select CURRENT_DATE - 14;` works just as expected

[2019-10-01 12:24] wardi commented on #4991
@amercader and I agree that switching to using nginx and uwsgi (no Apache+mod_wsgi) would be a good change. This will need some work and lots of testing, moving to good for contribution for now.

[2019-10-01 13:23] amercader commented on #4991
For reference, the images in [docker-ckan](https://github.com/okfn/docker-ckan) use [uwsgi](https://github.com/okfn/docker-ckan/blob/master/ckan-base/setup/start_ckan.sh#L20).

[2019-10-01 16:31] MandanaMoshref commented on #4985
Many thanks for this. I have learnt also from your approach.

[2019-10-02 09:05] kowh-ai commented on #4991
As mentioned in the CKAN Dev meeting yesterday (Oct 1), I will look at summarising the tasks involved in moving from two web servers (Apache, NGINX) to just NGINX plus uWSGI with an initial generic  configuration setup.

[2019-10-03 07:48] 4estone commented on #5006
We are running Postgres 9.6.12.
We have to upgrade our postgres...

[2019-10-03 18:07] ziusware opened #5009 "Datastore Create does not work"
### CKAN Version if known (or site URL)
2.82.1

### Please describe the expected behaviour
When I request the "http://MY_CKAN_URL//api/3/action/datastore_create" from API it would have to create a new dataset on my ckan;

### Please describe the actual behaviour
When I request the "http://MY_CKAN_URL//api/3/action/datastore_create" from API it returnes this error.

    "help": "http://MY_CKAN_URL/

[2019-10-03 19:26] dottyz opened #5010 "Inconsistency between resource URLs and site_url"
**CKAN 2.8.2 - https://ckan0.cf.opendata.inter.prod-toronto.ca**

We have 2 CKAN instances set up with a master-slave replication for PostgreSQL (with one behind a firewall and the other open to the public). Both CKAN instances share the same SOLR instance and have different URLs.

**Part 1 of the issue:** The resource URLs always uses the host where the SOLR index was built from instead of the si

[2019-10-03 20:35] Chealer opened #5011 "metadata_modified content is misleading"
In CKAN 2.4.1, the ckan.logic.action.get.package_show API function's result contains a "metadata_modified" field. When the dataset's metadata is modified, that timestamp is updated to the current time, unsurprisingly.

What is more surprising is that this timestamp is also updated when any of the dataset's resources is modified. This happens even if only the resource's content (the file) is modifi

[2019-10-03 21:14] wardi commented on #5011
In ckan the package metadata (including dataset and resource resource metadata) is what is being referred to by "metadata_modified". It is the date that any fields within the dataset or its resources were last changed. Resources are considered part of the package because they are validated, stored and indexed together for searching.

If a file that was linked in a resource is modified there's no w

[2019-10-04 13:48] Chealer commented on #5011
Thank you wardi,
We do use DataPusher, but the only fields modified that I see are:
1. the dataset's metadata_modified
2. the resource's last_modified
3. the resource's revision_id (the id of the latest revision)

I'm not sure I consider adding a revision id as a metadata modification, but for sure, if both metadata_modified and last_modified are about metadata, it would be more consistent to name

[2019-10-04 15:09] wardi commented on #5011
datapusher updates the hash value on the resource when a new file is uploaded. last_modified is meant to refer to the last change of the resource itself. HTH

[2019-10-04 15:09] #5011 closed

[2019-10-04 15:39] davidread commented on #2949
Yeah, good for contribution. @wardi said:

[2019-10-04 18:29] Chealer commented on #5011
It doesn't look like the "hash" field of resources is responsible, because in our CKAN 2.4.1, that field is the empty string. Unless it would be set to something, then cleared immediately after...

[2019-10-08 02:53] jspinella opened #5013 "AttributeError when creating a new sysadmin user"
### CKAN Version if known (or site URL)
2.8.3

### Please describe the expected behaviour
When creating a new sysadmin user, I should not see a stack trace printed out below new user's details.

### Please describe the actual behaviour
When attempting to create a new sysadmin user via paster (`paster sysadmin add seanh email=seanh@localhost name=seanh -c /etc/ckan/default/production.ini`) upon sel

[2019-10-08 08:25] kowh-ai commented on #4991
I have created a Pull Request https://github.com/ckan/ideas-and-roadmap/pull/234 on the "Ideas and Roadmap" CKAN GitHub section for discussion...oh and can someone please assign this issue to me :-) thanks

[2019-10-08 13:38] amercader commented on #5013
I could not reproduce this in 2.8.3:

[code]

Can you paste the full command and stack trace you are getting?

[2019-10-08 13:48] wardi commented on #5010
Running two ckan sites from one DB image is an interesting idea, but I can see it causing problems.

ckan stores the complete dataset metadata in solr (including full URLs to resources) so it can be returned efficiently. Parsing and replace every url in package_search results is possible but you'll have to override the `package_search` action to do it, there's no plugin because of the performance

[2019-10-09 01:16] jspinella commented on #5013
`paster sysadmin add testuser4 email=jspinella@jatsby.com
 name=seacan4 -c /etc/ckan/default/production.ini
User "testuser4" not found
Create new user: testuser4? [y/n]y
Password:
Confirm password:
Creating user: 'testuser4'
{'about': None,
 'activity_streams_email_notifications': False,
 'apikey': u'8c67becb-d10d-42d3-88ea-2755a0cf63d4',
 'created': '2019-10-09T01:15:16.143654',
 'display_name':

[2019-10-09 14:02] dottyz commented on #5010
I see, so I guess the best solution would be to have 2 instances of SOLR as well then?

[2019-10-09 14:16] wardi commented on #5010
That could work. You'll just have to make sure changes to datasets get reindexed in both cores (with the right host names)

[2019-10-10 02:28] Aaron-M opened #5015 "Bug adding dataset to group"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
2.7.2

### Please describe the expected behaviour
You add a dataset to a Group, that datset is then listed under that Groups datasets.

### Please describe the actual behaviour
When creating a dataset (manually, or usin

[2019-10-10 03:41] Aaron-M opened #5016 "Problem loading datasets with IE and Edge"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
2.72

### Please describe the expected behaviour
Create a dataset, load a resource file (e.g. named my data file.xlsx), and a resource is created with a short URL pointing to a file called my-data-file.

### Please desc

[2019-10-10 08:43] ghn commented on #4764
Same problem here with `paster`

`paster db clean -c /etc/ckan/production.ini`

with CKAN 2.8.3

[2019-10-10 08:45] ghn commented on #4764
@tino097 any reason you closed this issue? Is there a work around?

[2019-10-10 09:07] ghn commented on #4764
Hi, thanks for your response.
Yes that's what I did in psql `drop extension PostGIS cascade`. Still it's weird that paster command fails with fresh ckan install. Looks like a bug to me

[2019-10-10 09:30] sivang opened #5017 "facet search uses the free text search `q`, breaking free text within organization"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
2.8.3

### Please describe the expected behaviour
When faceting upon a filter field, results should be returned accordinglt to the amount of available times.

### Please describe the actual behaviour
Search returns noth

[2019-10-10 09:37] sivang opened #5018 "popular tags breaks when overriden in PackageController::`before_search`"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
2.8.3

### Please describe the expected behaviour
Popular Tags continues working no matter changes done in `before_search`

### Please describe the actual behaviour
Popular Tags stops working

### What steps can be take

[2019-10-10 13:08] #4799 closed

[2019-10-10 13:17] sivang commented on #5015
A general note, as it sounds like this issue has something to do with SOLR indexing, possibly due to the localized character or so.

[2019-10-10 13:19] wardi commented on #5015
If this is related to a special character in an author's name I wonder if you're running into an encoding error when the dataset is being indexed? Do you have a traceback in your logs? That would give us more information to work from.

Please also try to reproduce the error without your extension and on the latest 2.7 patch release and let us know what happens.

[2019-10-10 13:20] wardi commented on #5018
@sivang (as mentioned on the call): please add a link to the code you're using that causes this problem

[2019-10-10 13:22] wardi commented on #5009
When you get an internal server error there should be a traceback in the server log files that will help tell us what went wrong. Please attach that traceback to this issue. It's possible your datastore is not set up or misconfigured but we can't tell without more information.

[2019-10-10 16:23] dottyz commented on #5010
Great thanks for the help!

[2019-10-11 12:02] oldekaltera opened #5019 "504 Gateway Time-out after enabling reCaptcha on ckan 2.8.2"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
2.8.2

### Please describe the expected behaviour

Normal registration of the new user after filling al required information.

### Please describe the actual behaviour

Registration takes allot of time and ends up with

[2019-10-11 20:32] davidread commented on #4793
Analysis of the extensions is here: https://docs.google.com/spreadsheets/d/1oEAp68C8aGQj08vU9pVSAoDDICYR-y9EUl4Aunz45Lc/edit#gid=346652840
I've recently extended it to include the number of lines of python code, to enable estimation of story points. I've added these above.

[2019-10-11 21:51] TkTech commented on #4793
What py3 are we aiming for? 3.6+? (fstrings woo)

[2019-10-13 15:14] MandanaMoshref opened #5021 "Search extra fields"
### CKAN Version if known (or site URL)
Ckan: 2.8
Solr: 7.7.2

### Please describe the expected behaviour
To be able to run a temporal search based on an additional/extra field for collection date of a datase and not only based on modified or created date.

### Please describe the actual behaviour
I have some datasets which have the collection dates (range: [startDate - endDate])
At the moment I d

[2019-10-13 21:32] Aaron-M opened #5022 "Cannot register user at demo.ckan.org"
When you try and register on https://demo.ckan.org/, when you click create account, it returns "Bad Captcha. Please try again."

The registration form contains no Captcha form for users to complete, hence it is impossible to register.

[2019-10-14 00:40] jspinella commented on #5013
I nuked the VPS I was using and made a new one... Just to be clear, I am following the official CKAN installation guide for Ubuntu Server 16.04 LTS, which does not install `python-pastescript` by default, so I have installed that to get paster commands to run.

Running `paster --plugin=ckan user add admin --config=/etc/ckan/std/std.ini` adter running `sudo -s` I get errors about missing python mod

[2019-10-14 10:52] frafra opened #5023 "Upload multiple resources at once"
It would be nice to take advantages of HTML 5 and allow users to upload multiple resources at the same time: https://www.w3.org/TR/html51/sec-forms.html#file-upload-state-typefile

[2019-10-14 19:50] Conzar commented on #5015
We updated to ckan version 2.7.6 on our test system and were able to replicate the error.

This is the error in the apache logs:
`[Tue Oct 15 08:08:59.212727 2019] [wsgi:error] [pid 26115:tid 139634450482944] 2019-10-15 08:08:59,212 ERROR [ckan.lib.search] 'ascii' codec can't decode byte 0xe2 in position 5200: ordinal not in range(128)
[Tue Oct 15 08:08:59.212761 2019] [wsgi:error] [pid 26115:tid

[2019-10-14 21:08] Conzar commented on #5015
I have configured a system that doesn't use the [ckanext-en-lrnz](https://bitbucket.org/landcareresearch/ckanext-en-lrnz/src/master/) extension.  It also displays the same error.   I uploaded a scrubbed  [production.ini](https://pastebin.com/sBXtUEVK).  Hopefully that will help debugging.

[2019-10-14 21:43] Conzar commented on #5015
I have removed the [ckanext-lcrnz](https://bitbucket.org/landcareresearch/ckanext-lcrnz) extension as well as the ckanext-en-lrnz extension.  This current build is much closer to a stock installation but still has the same ASCII error.  The new scrubbed [production.ini](https://pastebin.com/dpeHugrW).

[2019-10-15 02:55] Conzar commented on #5015
I can confirm this is still an issue with ckan version 2.8.3.  I have tried the same user name 'Schönberger'.

[2019-10-15 05:09] bohdanbobrowski opened #5025 "Search form validation"
### CKAN Version if known (or site URL)
CKAN 2.8.3

### Please describe the expected behaviour
When user enter incorrect search query (in dataset search form on organization page), search form should inform her/him that something is wrong with that.

### Please describe the actual behaviour
Currently CKAN web UI returns "An internal server error occurs" message... which many users found to be misl

[2019-10-15 06:54] simeonackermann opened #5026 "Cannot run ckan with docker: `ImportError: no module named rdflib`"
### CKAN Version if known (or site URL)
ckan-2.8.3

### Please describe the expected behaviour
Running ckan docker container.

### Please describe the actual behaviour
ckan container exited with error message: `ImportError: No module named rdflib`:

[code]

### What steps can be taken to reproduce the issue?
Follow docs to [install from docker compose](https://docs.ckan.org/en/2.8/maintaining/inst

[2019-10-15 10:38] pdelboca opened #5027 "Updating/Adding a Resource sets obj.url_changed = True to all other uploaded resources of the package"
### CKAN Version if known (or site URL)
2.8.3 but as far as  tested it also happens in master

### Please describe the expected behaviour
Updating or adding a new resource to the package shouldn't set `obj.url_changed=True` in other resources with uploaded files of the same package.

### Please describe the actual behaviour
* Each time a resource is created if a file is uploaded, the `__init__` me

[2019-10-15 11:20] iamarnavgarg commented on #4951
Hi @amercader, I tried to reproduce this issue on my CKAN v2.8 and found that the last modified does change, after performing the reproduction steps- adding a description or changing the resource-url.

Below is the screenshot for the same:
![image](https://user-images.githubusercontent.com/36654563/66826249-af1c9000-ef69-11e9-9f42-2ec74262d3f5.png)

[2019-10-15 12:17] amercader commented on #5023
I agree that sounds like a great addition.

[2019-10-16 00:18] raylatchmanan-qol commented on #4193
Hello @anotheredward & @amercader,

Could you please advise the security reason why the username editing is now been disabled?

In our organisation (gov), we use a distributed publishing model where each dept (~40) manages its own publishers (~400). To keep the publisher names anonymous from the public, we use "agency-acronym_publisher_123" username pattern (e.g. transport_publisher_123). We do ma

[2019-10-16 02:29] camfindlay commented on #4193
I'll talk nicely to the new Product Owner of data.govt.nz and see if I can get the logic behind this one (it was legit and in a pen test report which I no longer have the access to as no longer on the product that this change came about in!).

[2019-10-16 03:19] raylatchmanan-qol commented on #4193
Thanks @camfindlay. Appreciate it.

[2019-10-16 03:52] jspinella commented on #5013
I downloaded the requirements.txt file from the CKAN repository and had pip install everything in there (`pip install -r requirements.txt`). If I recall correctly, there may have been a straggler or two I had to `pip install` manually.

Either way, after doing this I was able to create a sysadmin user by creating a new user via the CKAN web app, and then elevating that user to sysadmin with the ap

[2019-10-16 04:26] jspinella opened #5028 "CKAN API package_create method - Validation Error for "name" parameter is incorrect/misleading"
### CKAN Version if known (or site URL)
2.8

### Please describe the expected behaviour
When submitting an API call to the CKAN API's `package_create` endpoint with a `name` parameter that includes uppercase leters, the API should return a response indicating the `name` includes uppercase characters.

### Please describe the actual behaviour
The API returns a response indicating the `name` is "Mis

[2019-10-16 04:32] jspinella commented on #5028
Ehhhh I am way too tired, this is not an issue.

[2019-10-16 04:32] #5028 closed

[2019-10-16 07:43] simeonackermann commented on #5026
rdflib is required by [ckanext-dcat](https://github.com/ckan/ckanext-dcat) and described in its requirements.txt.
I solved the issue with a quick fix by adding them to ckan [requirements.txt](https://github.com/ckan/ckan/blob/master/requirements.txt):

[code]

A real fix should ad the requirements of all extensions to the `requirements.in` file.

[2019-10-16 08:27] iamarnavgarg commented on #5023
Hi @amercader, I would like to work on this enhancement. Just wanted a quick story points regarding the same to proceed further.

[2019-10-16 09:55] amercader commented on #5027
@pdelboca This is obviously a bug, and the problem is right above the line you linked:
https://github.com/ckan/ckan/blob/f717999a1a4e63ecc192cb4dfe5a7506b7c8cff0/ckan/lib/dictization/model_save.py#L48:L50

This assumes that `value` (ie the value of `resource['last_modified']`) is a string, but [that is not the case](https://github.com/ckan/ckan/blob/f717999a1a4e63ecc192cb4dfe5a7506b7c8cff0/ckan/li

[2019-10-16 10:36] pdelboca commented on #5027
Great! I will submit the PR thanks!

[2019-10-16 20:08] wardi commented on #5023
was hoping to finish off the tests for https://github.com/ckan/ckan/pull/4618 and get merged soon. This new action would let us build a single page form to create the dataset, add resources, upload files and even allow concurrent editing by detecting when a conflicting change would happen.

[2019-10-17 04:27] Chandradeep-NEC commented on #5023
@wardi Thanks for your comment. We didn't understand the context of your comment. Can you please elaborate more.
If no one is working on this enhancement then please assign it @iamarnavgarg and please provide more details of this issue.

[2019-10-17 07:35] iamarnavgarg commented on #4971
Hi @wardi, I performed the same steps as mentioned on latest CKAN and the issue doesn't occur. That is, after deleting the resource, I am unable to access the deleted resource on the same API URL.

![image](https://user-images.githubusercontent.com/36654563/66987546-9ed9f180-f0de-11e9-9d5a-65a00731c59e.png)

[2019-10-17 12:28] wardi commented on #5023
I just meant to say my work on #4618 might be helpful on this issue because it adds an API that supports multiple resource uploads. You might decide to take a different approach, e.g. I believe @TkTech had started some work that separated uploads from resources and attached them to users instead, that could be used to support your multiple-upload feature.

If you're actively working on this featur

[2019-10-17 13:30] smotornyuk commented on #4791
Done:
example_iconfigurer - #4979
datatables - #4978
stats - #4977

Review:
resourceproxy - #4976

[2019-10-17 21:13] sivang commented on #5018
After more investigation, I realized the code I was using was dropping a `:` out of the wildcard search query which was wrong so I special cased it so this is not a bug in CKAN but in a workaround, that tries to make sure a colon (:) does not break search, gone wrong.

Closing as this is INVALID.

[2019-10-17 21:13] #5018 closed

[2019-10-17 21:21] sivang opened #5029 "usage of special /__after/ field in schema breaks dataset validation"
## CKAN Version if known (or site URL)
2.8.3

### Please describe the expected behaviour
Expected behavior is that I can finish creating a new dataset including adding a resource.

### Please describe the actual behaviour
When trying to add the resource and finish dataset creation (as followed from `dataset/new`) a **Dataset id already exists** error occurs (no traceback) and the dataset remains i

[2019-10-18 00:37] ThrawnCA opened #5030 "Intermittent very high render times"
### CKAN Version if known (or site URL)

2.7.3, 2.8.3

### Please describe the expected behaviour

Pages should normally load in under 10 seconds.

### Please describe the actual behaviour

Page loads are normally fast (around 1 second) but sometimes take over 30 seconds, causing proxies to time out. This is particularly problematic when it occurs during dataset creation, because it leaves the dat

[2019-10-18 07:58] iamarnavgarg commented on #4800
Hi @amercader , is there anyone working on this issue?

[2019-10-18 08:05] amercader commented on #4800
@iamarnavgarg No AFAICT. Unless @batitaye is working on it feel free to submit a PR. As I mentioned, OneOf should be re-implemented in our own [validators module](https://github.com/ckan/ckan/blob/f43d6a572838c792193f3239827d04f9ffea9206/ckan/logic/validators.py), and references to it updated.

[2019-10-18 09:43] amercader commented on #5021
@MandanaMoshref

The steps to add a date range filter are basically:

* Index the relevant fields as `date` in Solr. If you index the fields with a name ended in `*_date` (in the `before_index` plugin method) CKAN will do that for you automatically, so no need to change the Solr schema.
* Construct a date range query that Solr understands when a query is sent. This is done in the `before_search`

[2019-10-18 09:43] #5021 closed

[2019-10-18 15:12] davidread opened #5031 "Resource URL gets changed to ___"
### CKAN Version if known (or site URL)
latest master

### The probem
When I create or edit a resource using the web form, whatever I set the resource.url to be, it gets saved as something like this: `http://myckansite.com/dataset/713c8c32-cbd8-46ce-90fb-86de1f0811d2/resource/59c0e90c-11e2-4d7f-af43-e098660745dc/download/___` (!)
It shouldn't change it. And the URL it sets it to gives a 404.

[2019-10-18 15:28] davidread commented on #5031
I bisected to find the cause: https://github.com/ckan/ckan/commit/ea4ceb404d826a48b8e66872640e6ffffe1ee0f7
[code]

[2019-10-20 11:35] Nehimyeah commented on #4800
@amercader in formencode OneOf is a class and so CKAN expects the implementation of OneOf to be an object but in [validators module](https://github.com/ckan/ckan/blob/f43d6a572838c792193f3239827d04f9ffea9206/ckan/logic/validators.py "validator.py") every validation implementations are functions so is there a reason why the new implementation of OneOf can't be a class?

[2019-10-21 07:01] iamarnavgarg commented on #4800
Hi @amercader , I would like to inform you that, I have started working on this issue.

[2019-10-21 08:22] Zharktas opened #5035 "Package search schema validation is not extendable"
### CKAN Version if known (or site URL)
master

### Please describe the expected behaviour
Add validation to package search parameters, for example minimum length of query paramater.
API and dataset search page should show error to user in nice UX box.

### Please describe the actual behaviour
There is no interface to extend package search schema, it can be extended by overriding package search it

[2019-10-21 12:32] gallexme commented on #4405
any updates? ~5Months later and still no released fix

[2019-10-21 14:37] davidread commented on #4405
@gallexme Didn't #4820 go into the CKAN 2.8.3 release, as per the PR tag?

[2019-10-21 17:04] gallexme commented on #4405
@davidread  no see for yourself: https://demo.ckan.org/dataset

click on the dataset breadcrumb

[2019-10-21 17:15] Chealer commented on #4954
Meanwhile, Cody Bokoy has created [a database diagram](https://boykoc.github.io/ckan/2019/10/21/ckan-283-database-diagram.html).

[2019-10-21 19:41] davidread commented on #4405
@gallexme I believe that's running CKAN 2.8.2, though. The release branch would be a better place to check for it, please.

[2019-10-21 22:24] Conzar commented on #5015
I thought maybe the database locale's could be a problem.  Can someone have a look to see if any adjustments need to be made regarding the encoding/locale?
[code]

[2019-10-22 09:51] gallexme commented on #4405
@davidread sorry I seem to have misunderstood the back port to 2.8.3 tag, I thought someone still had to backport it to 2.8.3 cuz it didn't make it

Also I haven't seen anything about the 2.8.3 version here https://docs.ckan.org/en/2.8/changelog.html

So I couldn't check the changelog.
But apperantly u right and it's 2.8.3, I'm gonna try updating soon

[2019-10-22 11:02] davidread commented on #4405
Closing - fixed in CKAN 2.8.3
https://docs.ckan.org/en/latest/changelog.html#v-2-8-3-2019-07-03

[2019-10-22 11:02] #4405 closed

[2019-10-22 12:20] wardi commented on #5035
possibly related to #2505

1. Our search view needs to catch ValidationErrors and display them to the user like we do for e.g. dataset forms. One banner at the top with all messages is sufficient, I don't think there's a need to highlight fields/facets that have errors.

2. Let's add a method to IPackageController that would allow overriding search validation like the ones we have in IDatasetForm.

[2019-10-22 12:25] #5027 closed

[2019-10-22 12:30] amercader commented on #5029
I'm afraid there's not much shared knowledge about the  `__after` validators. I'll see if I can install the extension and learn more but you might have to investigate deeper into how CKAN uses them to see how (and if) they work.

[2019-10-22 12:32] amercader commented on #5030
There's definitely more information needed here. There have been recent improvements in render times but the issues that they fixed would have consistent slow times, not spikes.
Spikes like these generally suggest a problem in the underlying infrastructure (db connections, memory issues etc).
If you can pinpoint some steps and conditions to consistently reproduce it feel free to reopen.

[2019-10-22 12:32] #5030 closed

[2019-10-22 22:32] davidread opened #5037 ""%" in CSV column name causes Datastore filter error"
### CKAN Version if known (or site URL)
master

### Please describe the behaviour
I load a CSV into DataStore that contains a "%" character in the column names. I preview it in CKAN's web interface and then click to add a filter on the column.
<img width="860" alt="Screenshot 2019-10-22 at 23 11 40" src="https://user-images.githubusercontent.com/307612/67338894-a273db00-f519-11e9-99eb-045dda1f872d

[2019-10-23 10:28] iamarnavgarg commented on #4800
Hi @amercader , As per my analysis -`one_of(value,context)` should be defined at this location `/src/ckan/ckan/logic/validators.py` . In this defined function, it will take `value` as a parameter and a context parameter that contains a list or a tuple.

Then, using an iterator it will check whether the list(available in context parameter) contains the value. if it exists in the list/tuple, it will

[2019-10-24 09:56] sivang commented on #5029
@amercader there seemed to have an error in my code due to copy pasting from the docs, so it seems fixed but I'll test further and update if the issue persists.

[2019-10-25 10:04] martanicholson opened #5039 ""My Datasets" in the Dashboard is giving an "Internal server error""
#1926# CKAN Version if known (or site URL)
Version is ckan 2.8.2

### Please describe the expected behaviour
Based on the code when opening this tab, one should be able to see the datasets created by the this user, or see a button allowing the user to create a new dataset

### Please describe the actual behaviour
When opening the tab "My Datasets" I get an "Internal server error" 500 error. It sti

[2019-10-25 12:37] boykoc commented on #4954
@Chealer I've added a basic set of definitions for the tables and their columns in on that page now.

@amercader What are your thoughts on one of these approaches:

- Add a new migration that adds these as comments to the DB. This would help ensure it's part of the code base and more likely to be updated as the DB structure changes
- Add comments to the Models to help record this with the other pr

[2019-10-25 19:51] Chealer commented on #4954
We at Données Québec thank you very much for this huge work Cody. I have a new browser bookmark.

I'm afraid that if the definitions are not integrated in the schema:
1. They will be updated a lot less, indeed.
2. Many users will miss them.

I would love to see them included, but I imagine this would mean a lot more migrations for updates/clarifications/fixes, which means a lot less changes in the

[2019-10-28 07:23] wangbaolong-run opened #5041 "ckan安装部署后，除了管理员用户能创建数据集，别的用户分配完管理员权限以后无法创建，请问各位大佬，是怎么回事啊"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)

### Please describe the expected behaviour

### Please describe the actual behaviour

### What steps can be taken to reproduce the issue?

[2019-10-28 12:35] #5037 closed

[2019-10-29 05:49] bzar commented on #4597
Hey, we ran into this when implementing a chained action on `organization_list`. I cobbled together a quick fix for our issue in bzar/ckan@8cc74a. Is there any progress on the more general solution described here?

[2019-10-29 12:09] #5041 closed

[2019-10-29 12:15] amercader commented on #5041
Sorry @wangbaolong-run can you report your issue in English?

[2019-10-29 12:56] amercader commented on #5039
@martanicholson Can you provide us with the full stack trace of the error? You can find that in the server terminal if running a development server or the log file in a production install (generally in /var/log/apache/ckan_default.error.log but that might vary depending on how CKAN is installed)

[2019-10-29 18:28] wardi commented on #4793
or 3.7+ for context variables and dataclasses

[2019-10-29 18:33] wardi commented on #4793
Maybe add https://github.com/ckan/ckantoolkit and https://github.com/ckan/ckanapi to this list

[2019-10-30 15:59] siccovansas opened #5045 "Partial data import in DataStore after 409 CONFLICT"
### CKAN Version if known (or site URL)
2.8.3 https://data.openstate.eu/

### Please describe the expected behaviour
After uploading a dataset and importing it in the DataStore I sometimes get a 409 CONFLICT error (which seems to be a, maybe related?, bug in itself in some cases as it just stops at line 1000 or 5000). The result is that part of the dataset was processed and loaded into DataStore a

[2019-10-31 12:38] amercader commented on #4791
All done, thanks @smotornyuk !

[2019-10-31 12:38] #4791 closed

[2019-10-31 13:40] wardi commented on #4794
@boykoc you mentioned that scheming is related to this one?

[2019-10-31 13:42] boykoc commented on #4794
@wardi I thought so. During the call it was the discussion on this issue in the sheets tracker that I thought went to scheming compatibility with WTforms? for HTML utilities.

[2019-10-31 13:53] wardi commented on #4794
WTForms aren't a good fit for us because we have more flexibility with what we can do by overriding templates and validation in plugins, e.g. ckanext-scheming allows defining snippets and validation rules for form fields and API from a yaml/json data format. The eventual plan for scheming is to make these schemas configurable through a web interface. WTForms would require writing Python classes an

[2019-10-31 13:56] amercader commented on #4794
@boykoc @wardi I think this relates to https://github.com/ckan/ckan/issues/4800 rather than this issue

[2019-11-03 05:22] jspinella commented on #3868
I was getting this same error with a fresh install of CKAN 2.8.1. I had run and re-ran the permissions script outlined at https://docs.ckan.org/en/2.8/maintaining/datastore.html. At least I thought I was.

I think it's helpful to tell the world I was running `sudo -u postgres psql` before running the script
`sudo ckan datastore set-permissions | sudo -u postgres psql --set ON_ERROR_STOP=1`, which

[2019-11-03 13:29] sivang commented on #4625
@davidread I'd like to apply this to fix this issue in an 2.8.3 instance, but the patch says it has changed 17 files? Can I just perhaps use the diff where you mention it's the offending lines replaced?

[2019-11-04 08:47] davidread commented on #4625
The PR description mentions it does a few related fixes, so yes if you can
identify the bit you need then use that. Clearly the tests are unnecessary.

This PR will need a back port to 2.8 sooner or later.

On Sun, 3 Nov 2019 at 13:30, Sivan Grünberg <notifications@github.com>
wrote:

[2019-11-04 10:16] Akshay-Hegde opened #5048 "ckan 2.8.3 installation help"
I am using ckan 2.8.3 first time, followed instructions given in

https://github.com/ckan/ckan/wiki/How-to-install-CKAN-2.7.2-on-CentOS-7.4

[code]

Unable to fix it

[code]

pip list
[code]

[2019-11-04 13:58] theokcu opened #5050 "GEOJson data in map viewer"
I have installed on my computer with the references from
[Ckan 2.8.1](https://docs.ckan.org/en/2.8/maintaining/installing/install-from-source.html)
and [Issue 4916](https://github.com/ckan/ckan/issues/4916#issuecomment-515564751) with ubuntu 18.04.
The ckan web site is up and working. Now i am trying to explore new features of ckan and add some data and visualize them.
I tried creating data set an

[2019-11-04 19:32] joeldouglass commented on #3422
This appears to be fixed if you directly delete a resource. But if you delete and purge a data set (which also deletes its resources), the datastore tables are still there.

[2019-11-05 08:38] mutantsan commented on #5025
Since Pysolr returns us a pretty clear description of the exception that occurred, we can use it to explain to the user why exactly this happened.

`u"Solr responded with an error (HTTP 400): [Reason: Can't determine a Sort Order (asc or desc) in sort spec 'score dessc, metadata_modified descs', pos=5]".
`
For now, the message "There was an error while searching. Please try again." is hard-coded i

[2019-11-05 09:02] frafra opened #5052 "cli.py does not support non-ascii characters"
### CKAN Version if known (or site URL)
2.8.3

### Please describe the expected behaviour
Get the user list from command line.

### Please describe the actual behaviour
[code]

### What steps can be taken to reproduce the issue?
1. Add a user with non-ascii character
2. Run `ckan-paster --plugin=ckan user list -c /etc/ckan/production.ini`

I am using `ckanext-oauth2`.

It looks similar to #1244

[2019-11-05 10:03] mutantsan commented on #5015
Unfortunately, i can't reproduce your problem on 2.7.6, 2.8.3 or master branches. Also, I tried it with your extension and everything still works well.

Please, clarify. Did you create user with username Schönberger somehow? Or you just trying to provide the author name, that consist this substring?

[2019-11-05 10:31] smotornyuk commented on #5019
reCaptcha was broken in v2.8.2, but fixed in v2.8.3( #4732 ) - you can upgrade and try it or, if upgrade not possible, apply patch from provided PR.
Note, this PR removes support for recaptcha v1 and now only v2 is supported

[2019-11-05 12:29] amercader commented on #5052
We are moving to the new [Click](https://click.palletsprojects.com/en/7.x/) based CLI (see https://github.com/ckan/ckan/issues/4639). Among many improvements it has the `echo()` function that deals with this kind of errors.

[2019-11-05 12:47] amercader commented on #5050
@theokcu When trying to render an external GeoJSON file (or any other external file) the view will use the `resource_proxy` plugin to get the external data to get around the same origin policy. In your case it looks like there is an SSL (https) error when trying to get that data. Are the logs showing more information? Are you using the `geojson_view` plugin?

[2019-11-05 13:09] mutantsan commented on #5017
Hi! I've create a PR #5053

[2019-11-05 14:39] theokcu commented on #5050
@amercader I have added geo_view as my pluin and geo_view and geojson_view as my default views. I have also added ssl_verify = false to my development.ini file. I don't think logs are showing more information or if they do i am not aware of those.

[2019-11-05 20:24] Aaron-M commented on #5015
Hi @mutantsan , I have done a test on 2.7.6 with AUTHOR "Schönberger, Ines" and I can confirm it does not work.  If you can get the demo.ckan.org site fixed (as per https://github.com/ckan/ckan/issues/5022) I can create a dataset there which you can see and check the behaviour - at the moment nobody cannot register to use the demo site due a missing captcha setting.  Below are some screen shots co

[2019-11-05 21:13] Aaron-M commented on #5022
The inability for **anyone** to register on demo.ckan.org is hindering the ability to address other issues (e.g. by testing/demonstrating issues using the demo install).

[2019-11-05 22:24] Chealer commented on #4954
Here are 2 comments on the data model.

I suggest to indicate that package revisions (package_revision) are deprecated (according to [a question](https://stackoverflow.com/questions/48177484/revision-history-in-ckan) and [the changelog](https://docs.ckan.org/en/2.8/changelog.html) for 2.7.0.

It is not clear which revision package.revision_id refers to. I believe it is the latest.

[2019-11-06 03:22] reubano opened #5055 "Unable to set sqlalchemy.url via plugin"
### CKAN Version if known (or site URL)

2.8.3

### Please describe the expected behaviour

an `IConfigurer` plugin should be able to set `sqlalchemy.url` in `config`.

### Please describe the actual behaviour

`environment.load_environment` calls `core.load_all` which calls `core.unload_all` which calls `core.unload` which calls `core.plugins_update` which calls `environment.update_config` which

[2019-11-06 04:03] iamarnavgarg commented on #4800
Hi @amercader could you please guide me and confirm with my understanding?

Hi @amercader could you please guide me and confirm with my understanding?

[2019-11-06 08:11] theokcu commented on #5050
@amercader I have also installed geojson_view plugin. Should i also install ressource_proxy to overcome this problem?

[2019-11-06 12:50] frafra commented on #5052
Nice, but should I suppose that 2.8 will not get the fix?

[2019-11-06 15:03] martanicholson commented on #5039
@amercader Sorry about the delay, I was away.

Please find a screen grab of the log file, there is nothing there I'm afraid. And I have also attached a screen grab of the error page

Many thanks for your help
Mart
![Snap 2019-11-06 at 15 01 15](https://user-images.githubusercontent.com/56999085/68309576-8c802180-00a6-11ea-9352-bcc079ed0373.png)

![Snap 2019-11-06 at 14 57 52](https://user-images.g

[2019-11-06 16:28] frafra opened #5057 "fanstatic requires webassets.yml"
`webassets.yml` has to be created in order to make fanstatic work, like this: https://github.com/ckan/ckan/blob/687afafd54631a52801b3f00c9b50a7532390202/ckanext/example_theme_docs/v15_fanstatic/fanstatic/webassets.yml

The documentation does not mention that file.

### CKAN Version if known (or site URL)
2.8.3

### Please describe the expected behaviour
https://docs.ckan.org/en/2.8/theming/fanstat

[2019-11-07 08:53] mutantsan commented on #5015
Can you please provide me the versions of requests and pysolr libs that you are using?

[2019-11-07 12:15] #4783 closed

[2019-11-07 15:44] dottyz opened #5058 "Metadata modified date change behaviour"
CKAN 2.8.2 (https://ckan0.cf.opendata.inter.prod-toronto.ca/)

On resources modifications (eg. create, delete, metadata updates) the metadata_modified date also updates on the package level.

Is this the expected behaviour? If so, what would be the easiest way to separate the metadata modified date tracking between resources and packages?

We would like to separate the two so that we can track whe

[2019-11-08 04:02] Conzar commented on #5015
Greetings,  I am in the process of updating the ckan puppet module in order to isolate this problem.  From my testing today, I was unable to reproduce the issue with a 'trimmed' version of our ckan installation.  I will update this issue when I can reproduce in a more isolated environment.

[2019-11-08 14:34] amercader commented on #4800
Sorry @iamarnavgarg , I added comments on the pull request

[2019-11-08 19:20] dottyz commented on #5010
We have managed to set up separate SOLR instances for both of our internal and public CKAN instances, but having a bit of issues with updating the index for both cores.

Would you suggest ideas for reindexing and keep the URLs different between the two instances?

Thanks in advance for the help!

[2019-11-08 23:41] davidread commented on #4803
# Requirements

i.e. a way to create development.ini. This is done as part of [installation](https://docs.ckan.org/en/latest/maintaining/installing/install-from-source.html#create-a-ckan-config-file):

    paster make-config ckan /etc/ckan/default/development.ini

It generates it from a template: https://github.com/ckan/ckan/blob/master/ckan/config/deployment.ini_tmpl

I think it also has a featur

[2019-11-09 14:46] jrodrigv opened #5068 "Request to track/index fork for B9-PWings"
Hi,
This is just a request for tracking this fork of B9-PWings for KSP 1.8.1

https://raw.githubusercontent.com/jrodrigv/B9-PWings-Fork/master/GameData/B9_Aerospace_ProceduralWings/Plugins/B9_Aerospace_WingStuff.version

It has the .version file included also

[2019-11-09 19:18] jrodrigv commented on #5068
sorry my bad

[2019-11-09 19:18] #5068 closed

[2019-11-11 14:52] mutantsan commented on #4486
Hi, i have created a PR #5072 with implementation of organizations and groups purge

[2019-11-11 15:06] howff commented on #4483
scheming is still using tag/autocomplete isn't it?

[2019-11-11 15:55] frafra opened #5073 ""Content-Disposition: attachment" is missing"
### CKAN Version if known (or site URL)
2.8.3

### Please describe the expected behaviour
Download should download the file.

### Please describe the actual behaviour
Download of TXT files renders the file inside the browser.

### What steps can be taken to reproduce the issue?
Download a TXT file.

I suggest to add `Content-Disposition: attachment` in the HTTP response when downloading: https://d

[2019-11-11 16:08] howff commented on #5073
My personal preference is for files to be rendered by the web browser where possible because I find it very convenient and you always have the option to save if you want. I find it annoying to have to save a simple text file into a file and then open an editor when all I wanted to do was see the content because it takes more steps and also it leaves behind unwanted files in Downloads. Just my opin

[2019-11-12 05:26] ThrawnCA commented on #5030
Just saw this happen in a development environment, so not under any special load, taking *85.044 seconds* to render `/dataset/new`. Tried it again and took 10.849 seconds.

[2019-11-12 08:15] bazayod commented on #5022
also I have this problem "no Captcha" when register on https://demo.ckan.org/

[2019-11-12 09:01] frafra commented on #5073
You can already see the file if that is a CSV/TXT when opening the resource. This ticket only refers to the "Download" button, which is reasonable it should start a download in my opinion. Otherwise it should be called "Open" or something similar.

[2019-11-12 12:37] amercader commented on #5058
Yes, that is the expected behaviour. Changes in resources are reflected in the dataset metadata_modified field.
I guess that one potential way of implementing what you want would be to override `resource_create`, `resource_update` and `resource_patch` to add a resource specific timestamp any time they are called.

Closing this as there isn't an actual issue with CKAN. If you want to discuss this f

[2019-11-12 12:37] #5058 closed

[2019-11-12 12:43] amercader commented on #5073
That's interesting. It does seem reasonable that if the button says "Download" it should download the file. Changing this should be easy enough, just adding the `as_attachement=True` parameter here:

https://github.com/ckan/ckan/blob/master/ckan/views/resource.py#L165:L168

But this will probably break the view plugins that rely on the same URL to render their widgets. I don't know for sure, would

[2019-11-12 12:44] #4673 closed

[2019-11-12 22:01] davidread commented on #4483
@wardi would know

[2019-11-13 11:59] frafra opened #5075 "Cannot use non-ascii labels"
### CKAN Version if known (or site URL)
2.8.3

### Please describe the expected behaviour
Facets should be able to display non-ascii labels

### Please describe the actual behaviour
`facet_list.html` cannot display `{{ label_truncated }}` if that is not-ASCII: `UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 31: ordinal not in range(128)`

### What steps can be taken to reprod

[2019-11-13 12:19] frafra commented on #5075
Using `s.decode('utf-8')` on the labels fixes the issue.
The Python file uses `utf-8` as encoding and it is specified on top.

[2019-11-13 18:36] boykoc commented on #4995
@Zharktas do you know if this effects the `last_updated` or is this just checking for validations on all the resources?  If it's calling package_update, I'm curious if it's actually triggering updates on all resources instead of just the one. I'm thinking of issue #4951

[2019-11-14 08:06] Zharktas commented on #4995
@boykoc As far as I know, package_update only validates resources, it does not update them in any way.

[2019-11-14 08:52] theokcu commented on #5050
@amercader I have installed resource_proxy plugin, and as afore mentioned i have add ssl_verify = false to my config file. After some digging i have also added ckan.cors.origin_allow_all = true into my config file. I haven't found anything else in ckan configuration options. But none of them worked for me. I still get
Could not proxy resource because a connection error occurred. [SSL: CERTIFICATE_

[2019-11-14 11:30] #5050 closed

[2019-11-14 15:01] theokcu opened #5077 "Data Store GeoJSON"
Hey there,

I am new in CKAN and i have installed 18.04 ubuntu with ckan 2.8.2. CKAN is runnig now. I have also installed datastore and imported some csv files into my database. Now i want to try to import some geojson data in my database and visualize them on my from my local source. I have tried some methods but no success. Is theree any one who has any idea how to do that? Thanks in advance.

[2019-11-14 15:04] wardi commented on #4995
@Zharktas package_update can be used to update all package and resource metadata (that's how `ckanapi load datasets` works) The only thing package_update can't do right now is upload resource files themselves. I've enabled uploading resource files as part of package_update in #4618, which I hope to be merged soon.

[2019-11-14 15:24] Zharktas commented on #4995
@wardi yeah, we ended up using package_update, it's just counter intuitive that you just can't update all the resources individually if the have validation errors. :)

[2019-11-14 17:07] #5010 closed

[2019-11-15 04:20] Conzar commented on #5015
I have progressed this issue more.  The [ckanext-geoview](https://github.com/ckan/ckanext-geoview) extension seems to be causing the error.  I will prepare a vagrant configuration that will demonstrate the issue next week.  Note, I have been able to demonstrate the problem on a fairly stock install of ckan (no New Zealand Language or Landcare Research extensions).  The only extension installed is

[2019-11-15 11:37] frafra commented on #5073
What about having a different link for the download to be used on the download button only? Or having an extra parameter? Compatibility would not be broken.

[2019-11-15 11:49] Akshay-Hegde opened #5078 "ckan rest api package update without removing existing resources"
I tried `/api/action/package_update` method, in which I noticed existing resources removed, I am on latest ckan 2.8.3

- Is there any possibilities to retain existing resources ?
- I had gone through https://docs.ckan.org/en/2.8/api/#ckan.logic.action.update.package_update
- I had gone through https://github.com/ckan/ckan/blob/master/ckan/logic/action/update.py#L602

How do I updated without remov

[2019-11-15 14:57] smotornyuk commented on #5048
After swithcing to 2.8.3, have you:
1. removed all `*.pyc` files
2. reinstalled requirements - `pip install -r requirements.txt`
3. reinstalled CKAN itself - `python setup.py develop`
?

[2019-11-15 15:00] smotornyuk commented on #5057
You've probably used/launched master version of CKAN before switching to 2.8.3 - webassets are available only in master branch, and described error just impossible in clean 2.8.3 installation

[2019-11-15 16:06] Akshay-Hegde commented on #5048
@smotornyuk I could install with the help of ckan gitter channel 3 days before, I had to reinstall it, I raised one more issue which is on rest api please help.

[2019-11-15 17:02] #4800 closed

[2019-11-17 01:06] vesnikos commented on #4639
Hi, I thought I could contribute a bit in this migration task from parser to click as a potentil new contributor.  I did _locally_ in my machine the `jobs` command + subcommands, but I couldn't find a test suite for click cli's, so I don't know what's the best way to test the changes

[2019-11-17 14:15] vesnikos opened #5079 "Missing dependency in requirements.txt (cookiecutter)"
https://github.com/ckan/ckan/blob/f2cea089bc0aaeede06d98449c4e9eb65e8c2f14/ckan/cli/generate.py#L7

- cookiecutter lib will be imported on a `ckan` cli attempt, but as it is missing from requirments.txt, is not present which will result to ImportError

- cookiecutter is listed in requirments-dev.txt, but docker builds don't use it

Tested on a docker personal build, by :

[2019-11-17 23:43] Conzar commented on #5015
I have updated the vagrant directory in the [puppet-ckan](https://bitbucket.org/landcareresearch/puppet-ckan) repository.  To verify the bug exists, please do a git pull on the master branch.  Then do the following:

[code]

You will need [vagrant](https://www.vagrantup.com/) installed.

Wait for the run.bash script to finish.  Then do the following:

[code]
Then open a browser on your host comput

[2019-11-18 15:38] oldekaltera commented on #5019
Sorry, my information was not correct, I have installed 2.8.2 and upgraded to 2.8.3, due to not working reCaptacha, but have the actual behavior on the version 2.8.3.

[2019-11-18 16:36] thejuliekramer opened #5087 "Helper Methods Defined in Extension Not Available in Extension Test"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)

2.8

### Please describe the expected behaviour

When running a test for an extension the helpers registered via the plugin should be available when running tests.

`nosetests --ckan --with-pylons=test.ini ckanext/exam

[2019-11-19 10:49] taviroquai opened #5089 "Installing CKAN with Docker Composer"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
https://docs.ckan.org/en/2.8/maintaining/installing/install-from-docker-compose.html

### Please describe the expected behaviour
Run ckan container without errors

### Please describe the actual behaviour
ckan container

[2019-11-19 12:25] amercader commented on #5075
@frafra that sounds good, do you want to submit a PR?

[2019-11-19 12:48] amercader commented on #5077
The DataStore can only hold tabular data, not JSON based one. If you want to preview GeoJSON files have a look at the `geojson_view` plugin of the [ckanext-geoview](https://github.com/ckan/ckanext-geoview) extension.

[2019-11-19 12:48] #5077 closed

[2019-11-19 12:50] amercader commented on #5078
`package_update` will update the whole dataset dict with the data provided, so if you pass an empty resources list, it will delete them. From the docs:

You can do as above and resubmit the whole dataset dict, or use [`package_patch`](https://docs.ckan.org/en/2.8/api/#ckan.logic.action.patch.package_patch), which will only update the keys that you provide and leave the rest of the dataset dict as

[2019-11-19 12:50] #5078 closed

[2019-11-19 13:08] amercader commented on #5087
Hi @thejuliekramer, regarding the `HelperNotFound` exception the reason is because you have added it to the helpers.py module but not registered for CKAN to know about it. To do so you need to add a reference to it on the `ITemplateHelpers` [`get_helpers`](https://github.com/thejuliekramer/ckanext-datagovtheme/blob/master/ckanext/datagovtheme/plugin.py#L85) method, similarly to how the other ones

[2019-11-19 13:08] #5087 closed

[2019-11-19 15:51] taviroquai commented on #5089
Update: after changing firewall rules with:
[code]
the containers are able to comunicate between them, so I guess it is a firewalld problem/configuration in CentOS 8.

[2019-11-20 12:11] MandanaMoshref commented on #2838
Is there any update for this task/idea?

[2019-11-20 15:34] imran1122 commented on #5022
bazayod I am facing the same issue if you solve the Captcha problem can you please share.

[2019-11-20 18:29] howff commented on #5022
demo.ckan.org has been completely broken for ages.
Maybe if everyone contacts  stewards@ckan.org  it will get fixed :-)

Recent thread:
"the demo site is hosted by Datopian right now. But yes, if you email stewards@ckan.org then that email will go to both xxx and myself :)
If anyone is skilled up with WordPress and would like to help update the website while it is also migrated to a new home with

[2019-11-21 10:33] amercader commented on #5022
@sivang can you reach at the relevant person in Datopian to address this?

@howff @Aaron-M @bazayod If you need to test some functionality in the meantime you can use https://beta.ckan.org, which is running CKAN 2.8

[2019-11-21 12:19] mutantsan commented on #2838
If validate an email for unique is a good idea, i would like to work on it.

[2019-11-21 12:25] sivang commented on #4798
@amercader can you please add some notes of where to check existing code, who is the user of this code (to test that the "contract" is kept) etc? I have a good understanding of what needs to be done, as I've written some config parsers. Looking for where exactly to start.

[2019-11-21 13:17] MandanaMoshref commented on #2838
For me personally there are couple of things which are important:
1. For new registration:
a. confirmation email
b. unique email validation

I have already sent an email to ckan-dev group and stated exactly what I am looking for:
https://lists.okfn.org/pipermail/ckan-dev/2019-November/023331.html

I have seen couple of closed issues but now solutions....

[2019-11-21 14:07] #5079 closed

[2019-11-21 19:54] Aaron-M commented on #5022
@amercader  I tred the beta site - the exact same problem exists there:
![image](https://user-images.githubusercontent.com/4842751/69371953-b15ed080-0d05-11ea-942a-86bca101b48b.png)

[2019-11-26 01:26] ThrawnCA opened #5097 "Datastore_search full-text language parameter is not parsed correctly"
### CKAN Version if known (or site URL)

2.8.3

### Please describe the expected behaviour

The full-text language used for `datastore_search` should be controlled by the 'language' parameter.

### Please describe the actual behaviour

The 'language' parameter to `/api/action/datastore_search` is ignored.

Code inspection indicates that `ckanext/datastore/backend/postgres.py` expects the parameter

[2019-11-26 07:50] umairq opened #5098 "CKAN rest API call does not work on demo.ckan.org"
Hi there:
I have been using demo.ckan.org for testing my application. Recently I faced the issue of "503 service temporarily unavailable" issue when calling from REST API client. Can anybody fix this issue on the server-side?
I tried the following API call using the rest API client:
https://demo.ckan.org/api/3/action/package_list
It works on a browser but when we call it programmatically using get

[2019-11-26 08:26] Zharktas opened #5099 "Image view has broken placeholder translation"
### CKAN Version if known (or site URL)
2.7, 2.8, master

### Please describe the expected behaviour
While creating new image view, image url placeholder should be translated.

### Please describe the actual behaviour
Placeholder is not translated at least on finnish and swedish. This probably is due that the imageview extension does not have translation interface.

### What steps can be taken to

[2019-11-26 11:30] mutantsan commented on #2838
Hey, I've created a PR #5100 with implementation of email uniqueness validation.

[2019-11-26 11:47] mutantsan commented on #4637
As I can see, currently we can create packages with duplicate names, but we should provide the unique URL. Is it good idea just to add timestamp to the URL automatically?

[2019-11-26 16:26] g-rock opened #5102 "Uploading a resource with the same name does not update the file contents"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)

### Please describe the expected behaviour
The uploaded file should replace the previous file

### Please describe the actual behaviour
The uploaded file is lost, and the previous file can only be downloaded

### What

[2019-11-27 12:39] howff commented on #4267
A similar question arises for groups:  how can you find out a list of groups to purge if the groups have been deleted? They are not returned in a group_show so you cannot find their names.

[2019-11-27 12:41] howff commented on #3746
How can I get a list of deleted groups so that I can purge them?

[2019-11-27 15:57] mutantsan commented on #4850
Hi, I've created a PR #5103 , since it's still not implemented

[2019-11-27 21:21] davidmsibley opened #5105 "Intermittent 500s from index page"
I've been having an intermittent "Internal Server Error" being served as the index page. It seems to happen on the first call to the server after a while, and then when you refresh immediately, you get the normal index page. It doesn't get logged via the normal logging levels. I upped the logging levels and was able to capture some logs of it happening.

### CKAN Version if known (or site URL)
2.8

[2019-11-27 22:57] davidread commented on #4639
@vesnikos That's great, do you want to submit a PR? There are no tests for cli at the moment (sad), so no worse than before - just test manually.

[2019-11-28 07:19] Rakhibatra opened #5106 "ckan database installation error"
I am trying to install CKAN on windows 10 by following instructions from below link:
https://github.com/ckan/ckan/wiki/How-to-Install-CKAN-2.5.2-on-Windows-7

But I am getting below error while executing this command (13th command) "C:\src\ckan>paster db init -c development.ini"

Error loading 'pyutilib.component' entry points: 'type object 'PluginGlobals' has no attribute 'add_env''
Traceback (mo

[2019-11-28 12:27] frafra commented on #4850
Hi @mutantsan; have you figured out why the previous draft PR was not working as expected?

[2019-11-28 13:21] tino097 commented on #5106
Hi, thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the ckan-dev mailing list or the #ckan tag on SlackOverflow as we dont have support for Windows yet.

You can also try on the Gitter [#ckan](https://gitter.im/ckan/chat) channel, where other developers may be able to help you.

Thanks!

[2019-11-28 13:21] #5106 closed

[2019-11-28 13:28] mutantsan commented on #5102
Hi, which browser do you use? Firefox?

[2019-11-28 13:48] mutantsan commented on #5102
As I can see, the problem is in iFrame and cache. You can open the dev tool, network tab and check "Disable cache". Then try to reload your page, and you will see the difference.

[2019-11-28 13:54] sivang commented on #5102
thanks @mutantsan for  this extra info.  Did you happen to try this on a vanilla uncustomized CKAN instance by any chance?

[2019-11-28 14:00] mutantsan commented on #5102
@sivang yes, I'm testing it right now at clean master instance.

[2019-11-28 14:30] sivang commented on #5102
@mutantsan perfect. thank you.

[2019-11-28 14:56] amercader commented on #4798
We use the config parser whenever we start the application to parse the ini file and pass the config object to `load_environment()`, which will set everything up.

This can be done more explicitly or hidden as part of a higher level execution. The only place we are doing this directly right now is in the CLI, and the only ones that should be updated are:

* [Old paster CLI](https://github.com/ckan

[2019-11-29 10:43] amercader opened #5108 "Allow extensions to define Click commands"
The core ones are migrated but currently there is no way for extensions to add commands to the main `ckan` one (eg `ckan harvester`, `ckan saml2 initdb` etc).

This is the place where it should happen: [ckan/cli/cli.py](https://github.com/ckan/ckan/blob/master/ckan/cli/cli.py). In the same way that the core ones are added with the `ckan.add_command()` call, we should iterate all extensions and reg

[2019-11-29 10:44] amercader opened #5109 "Update documentation with the new CLI commands"
Now that the all commands are available in the new `ckan` command we need to update the docs to replace usage of the paster based ones.

- [ ] The main CLI doc page is [this one](https://github.com/ckan/ckan/blob/master/doc/maintaining/paster.rst)
- [ ] Besides, we need to replace all `paster xxx` commands listed in the docs with its `ckan xxx` counterparts
- [ ] Include info on how to add command

[2019-11-29 10:50] amercader opened #5110 "Remove old paster CLI commands"
Once #5108 and #5109 are done we can remove the old paster commands in `ckan/lib/cli.py`.

At least for CKAN 2.9 let's remove the actual commands only and keep the `CkanCommand` class as this is present in the toolkit and needed by extensions to implement paster-based commands. Also utilities like `load_config` as they might be imported from extensions.

There's is some click-based stuff in there

[2019-11-29 10:51] amercader commented on #4639
All commands done now. Thanks to everyone who contributed. New tickets for the remaining tasks:

* Commands from extensions: #5108
* Documentation: #5109
* Cleanup: #5110

[2019-11-29 10:51] #4639 closed

[2019-11-29 11:44] davidread commented on #4762
To return to the original intent of this issue, the source install docs being broken for Ubuntu 18.04, how about we add a line to the install-from-source docs for CKAN 2.6/2.7/2.8/master saying:

Would that fix things, as a blunt stopgap?

(I'm also keen that we move to newer SOLR version, as per ckan/ideas-and-roadmap#232, but we should fix stuff instructions in the meantime, and the instructions

[2019-11-29 12:37] amercader commented on #4798
One important functionality that we need to keep is support for the interpolated variables eg (`%(ckan.site_id)s`). So this ini file:

[code]

Should become this config object

[code]

[This module](https://github.com/Pylons/pastedeploy/blob/9cbc584a86bd1ae425bd0c0c3c00617d7e59475d/paste/deploy/loadwsgi.py) contains the source code of paster's paster in case you want to check the implementation (b

[2019-11-29 12:45] boykoc commented on #4762
I'm pro this...looks like in May we chatted about the similar thing but I
didn't implement :(

On Fri., Nov. 29, 2019, 6:44 a.m. David Read <notifications@github.com>
wrote:

[2019-11-29 12:45] tino097 commented on #5097
The problem is with the inconsistent with the params. If you can provide PR with the fix will be great

[2019-11-29 14:30] mpolidori commented on #4803
I'd like to take this one

[2019-11-29 15:00] EvgeniiaVak commented on #5110
I would like to take this one.

[2019-11-29 15:00] amercader commented on #4803
Great @mpolidori, thanks a lot! Ping us here if you need help. If you see you won't be able to work on it after all let us know so I we can assign it to someone else.

[2019-11-29 15:21] mpolidori commented on #4803
@amercader Will do. Thanks!

[2019-11-29 15:23] shubham-mahajan commented on #4804
I would like to take this one!

[2019-11-29 15:49] amercader commented on #4804
@shubham-mahajan this (and everything in the "To do - Clean up" column in the py3 project) will only happen once 2.9 is out, so it's still a bit far away

[2019-11-29 19:10] amercader commented on #5110
@EvgeniiaVak great! Let us know if you need any pointers

[2019-11-29 20:39] ThrawnCA commented on #5097
Should the parameter be called "language" as the validation expects, or "Lang" as the action expects? I suppose using "language" means no external change.

[2019-12-01 15:45] jspinella commented on #3383
When Googling for CKAN documentation/support, I get more results for Kerbal Space Program than the data hosting platform.

[2019-12-02 14:21] amercader commented on #3383
It's unfortunate, and quite rude from the other CKAN to not check before naming the project if you ask me, but other than upping our SEO game I can't think of ways to improve it.

[2019-12-03 06:12] dportoles commented on #4637
@mutantsan No, you can't create packages with same name. It always raises an error.
But sometimes (automatic processes) it's useful to modify name to another name without raising an error.

It should be configurable, of course, maintaining backwards compatibility.

My proposal is adding a serial rather than a timestamp.
e.g.
1st attemp to create dataset name "foo"  => dataset created with name "fo

[2019-12-03 08:30] mutantsan commented on #4637
@dportoles Yes, my bad. I was talking about title. But still I insist that adding timestamp is better idea, just because this approach is simpler and more pythonic.

[2019-12-03 09:06] dportoles commented on #4637
@mutantsan Probably more pythonic but IMHO url should be easy to read/understand

[2019-12-03 15:27] mutantsan commented on #5108
Hi, I've tried to implement this feature in this PR #5112 . It works, but probably needs some improvements.

[2019-12-04 04:30] iamarnavgarg commented on #5097
Hi , I have been investigating the point of code where the change needs to take place, mostly in /ckanext/datastore of datastore_search, location with the following files:
1) /ckan/ckanext/datastore/logic/action.py
2) /ckan/ckanext/datastore/backend/postgres.py

But, when I request the API:
http://ckan-hostname:port/api/3/action/datastore_search?limit=5&resource_id=ce41bda8-9ff6-457a-92e9-f664f9b8

[2019-12-04 11:11] iamarnavgarg commented on #4968
Hi @amercader @wardi do we need to re-compile or rebuild ckan again after removing the white spaces from ckan.po  file?

[2019-12-04 11:22] iamarnavgarg commented on #4968
Hi @amercader @wardi do we need to re-compile or rebuild ckan again after removing the white spaces from ckan.po file? Because simply changing and re-executing CKAN doesn't reflects the changes?

I had followed this [po-files](https://docs.ckan.org/en/ckan-2.7.3/contributing/i18n.html#create-a-po-file-for-your-language) document.

[2019-12-04 16:26] clauded commented on #4968
I have the same problem here with 2.8.3.

For example, the string "Your profile lets other CKAN users know about who you are and what you do." is not translated in French. I tried to add/remove white spaces to the english string in the po file (and recompile with `python setup.py compile_catalog -f --locale fr`) without success.

Is there a workaround while waiting for an official fix?

[2019-12-04 19:18] g-rock commented on #5102
Thanks for looking into this. @sivang, do you have any leads on a fix? I'm happy to assist but could use some help on where to look and where the iframe is located.

[2019-12-04 19:32] mpolidori commented on #4803
@amercader I've made a little progress, but if I start taking too long, please let me know! I'm still getting the hang of things.

[2019-12-05 15:23] sivang commented on #5102
@g-rock I was awaiting @mutantsan feedback relating to if this happens on a clean master CKAN instance, @mutantsan did you test this and if so what is the outcome?

[2019-12-05 16:01] mutantsan commented on #5102
@sivang sorry, i wasn't clear enough. Yes, I tested it on the clear master instance. The problem exist. And I have an approach to fix it. [Here](https://github.com/ckan/ckan/blob/master/ckanext/textview/theme/templates/text_view.html) on the row 17 we can add dynamic parameter to the URL, to prevent cache. For example:
`var resource_url = {{ h.literal(resource_url) }} + '?' + {{ session._accessed_

[2019-12-06 14:47] Chealer opened #5115 "French: "alphanumeric characters" translated to "lettres minuscules, des chiffres""
The English string

...which is used in ckan/logic/validators.py:428 to validate tags, has an inaccurate translation in French:

An alphanumeric character can be a digit or any letter, whether lowercase or not, so the French description is overly restrictive. An accurate translation could therefore be:
"Le mot-clé \"%s\" ne peut contenir que des lettres, des chiffres ou les symboles : -_."

This a

[2019-12-06 15:26] smotornyuk commented on #4792
_Just keeping notes in one place_

1) create py3 branch
2) move plugin.py into the plugin/__init__.py. This won't break anything, as import path for plugin won't be changed. But you need to update relative paths. enable `absolute_imports` for python modules, and check, whether you registering any new directories(templates, resources, translations). For example, you'll likely make following change:

[2019-12-06 18:07] davidread commented on #4792
Let's move this content to a wiki for a couple of months. As we blitz the migration of extensions, we'll no doubt need to update with a lot of small things, work in parallel, want to suggest changes informally etc. (As discussed on gitter today, with some agreement)

[2019-12-08 15:54] EvgeniiaVak commented on #5110
@amercader
Yes, some pointers would be helpful. Although I don't know what exactly to ask for. As I understand, there was paster, that was used for everything, now flask is used for creating the server, click - for cli commands.

I can also wait for https://github.com/ckan/ckan/issues/5109 and continue to lean how ckan in general works in the mean time.

I hope this feature is not very urgent, bec

[2019-12-08 16:16] #5029 closed

[2019-12-09 13:24] smotornyuk commented on #4792
Done - https://github.com/ckan/ckan/wiki/Migration-guide-for-extensions

[2019-12-09 15:55] boykoc opened #5118 "is_flask_request() returns error"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

### CKAN Version if known (or site URL)
2.8.2

### Please describe the expected behaviour
`def is_flask_request()` should return boolean value.

### Please describe the actual behaviour
In some circumstances `def is_flask_request()` returns an error that can

[2019-12-09 15:57] boykoc commented on #5118
_**While creating issue I found the "fix", so I'm creating this issue to leave as documentation for others.**_

This is fixed based on issue # 4431 and setting [`streaming=False`](https://github.com/ckan/ckan/issues/4431#issuecomment-463938811).

This was fixed in CKAN in PR #4657

After setting `streaming=False` the error went away and boolean values were returned.

[2019-12-09 15:57] #5118 closed

[2019-12-09 18:18] mpolidori commented on #4803
@amercader

As David mentioned, `.format()` or Jinja would obviously work, but I started with [Template strings](https://docs.python.org/3/library/string.html#template-strings), which I think also works well. The format is identical to the current variable setup. `$identifier_name` variables in `deployment.ini_tmpl`, and you pass a dictionary with the identifiers like `identifier_name: identifier_

[2019-12-09 18:53] mpolidori commented on #4803
Also, I saw #4798, and it seems to be what's reading the `.ini` file. Maybe the new implementation can bypass reading the `.ini` if the command is `ckan generate config`? Let me know if any of these questions or points aren't clear.

[2019-12-10 10:03] iamarnavgarg commented on #4968
Hi @amercader , I had analyzed and investigated the issue and found that we need to change the ckan.po files present in /i18n location. For eg: in /ca/LC_messages/ckan.po file, we need to remove the unnecessary white-line spaces to make this work. I am looking further into this.

Ref docs: [ckan.po-setup](https://docs.ckan.org/en/ckan-2.7.3/contributing/i18n.html#manual-setup)

[2019-12-10 12:09] #5099 closed

[2019-12-10 12:16] amercader commented on #5115
@Chealer that sounds good. Translations are managed on Transifex (https://www.transifex.com/okfn/ckan/). If you register for an account you can update the strings for the 2.6, 2.7 and 2.8 resources, and next time we do a patch release we will pull the latest translations with the fixes:

![Screenshot_2019-12-10 CKAN Languages](https://user-images.githubusercontent.com/200230/70528781-49a2e500-1b4f

[2019-12-10 12:53] mcarans commented on #5023
Just to add that https://github.com/ckan/ckan/pull/4618 (or another solution to the slowness of multiple resource uploads) is something we are looking forward to as well.
@TkTech how far along is your solution?

[2019-12-10 14:19] mutantsan commented on #4328
@wardi Hi, I would like to work on it.
But how should it work in general. For example, user clicked some filters while work with document. Then user decide to download the doc in CSV format. Should we have some special button or checkbox for download doc with changes?

[2019-12-11 01:14] TkTech commented on #5023
Unfortunately nowhere, the project it was planned for got canned before it even started.

[2019-12-11 09:19] mcarans commented on #5023
@TkTech Thanks for your reply and explanation.
@wardi Looks like there is only your work on https://github.com/ckan/ckan/pull/4618 at this point. Do you have any idea when you might be in a position to merge it?

[2019-12-11 12:26] jodiegardiner opened #5119 "jQuery.fileupload breaks resource create/update"
# CKAN Version if known (or site URL)
2.8

### Please describe the expected behaviour
Use the jQuery.fileupload.js vendor plugin to add a progress bar to the resource_edit form.

### Please describe the actual behaviour
Progress bar upload % works (and the file is uploaded to the filestore) and the resource is correctly created when form is submitted but the url for the file is not stored correctl

[2019-12-11 19:07] Chealer commented on #5115
Thank you @amercader but I'm afraid an efficient solution for this string would start with a clarification of the English version.

[2019-12-11 20:06] amercader commented on #5115
@Chealer sorry, I don't follow. What needs clarification on the English string?

[2019-12-12 11:40] #3942 closed

[2019-12-12 13:12] #4151 closed

[2019-12-13 12:16] davidread commented on #4803
All sounds very promising! Can you make a draft PR please?

'Template strings' looks good to me - simple.

@amercader is quite right on this :)

I would have thought it is possible to avoid the load_config method, but I've not looked closely.

No. The [instructions](https://docs.ckan.org/en/latest/maintaining/installing/install-from-source.html) guide you through these sorts of things. We might ch

[2019-12-13 18:35] Chealer commented on #5115
@amercader the "symbols" (special characters) which are allowed (if I understand correctly, dashes and underscores).

[2019-12-16 12:33] amercader commented on #5115
The only [allowed](https://github.com/ckan/ckan/blob/master/ckan/logic/validators.py#L432) punctuation symbols are hyphen (`-`), underscore (`_`) and full stop (`.`). That's what it says on the message. Perhaps is the colon what is confusing?

If you can think of a better message please do send a PR and then we can create a new French translation.

[2019-12-16 19:13] ziusware opened #5123 "DataStore URL"
## CKAN Version if known (or site URL)
2.8

### Please describe the expected behaviour
I'd like to pass a url through the DataStore API and download the archives with their respective names.

### Please describe the actual behaviour
I'm uploading archives on my CKAN through the DataStore API, but when I download the file, the download get the ID name.

### What steps can be taken to reproduce the

[2019-12-16 19:26] ziusware commented on #5123
Okay, I just solved the problem
The step to do it is just pass a parameter in the json "package_id"
![URL](https://user-images.githubusercontent.com/21250011/70936221-3d6bcb80-2018-11ea-9379-d40df2ca73ea.PNG)
![URL](https://user-images.githubusercontent.com/21250011/70936285-5d02f400-2018-11ea-901e-e3f7af8edb4a.PNG)
![URL](https://user-images.githubusercontent.com/21250011/70936313-6c823d00-2018-1

[2019-12-16 19:26] #5123 closed

[2019-12-16 22:08] mpolidori commented on #4803
@davidread Thanks for clearing those up! I made a pull request. I believe the only thing left is to find a way to get around the required `development.ini`. Let me know what you think.

[2019-12-17 08:03] datphamict opened #5125 "FileStore with Cloud Storage"
**Note:** Are you submitting a security related issue that could be a potential vulnerability? Please send it to security@ckan.org instead.

Dear all,

I have just readed document in FileStore and File Uploads features.

Document as below:
_"Changed in version 2.2: Previous versions of CKAN used to allow uploads to remote cloud hosting but we have simplified this to only allow local file uploads (

[2019-12-17 11:38] smotornyuk commented on #5125
Now cloud uploads are handled by https://github.com/TkTech/ckanext-cloudstorage . It supports quite a long list of providers, so there is no need in duplicated logic inside CKAN core

[2019-12-17 12:09] #5125 closed

[2019-12-17 12:42] amercader commented on #5110
@EvgeniiaVak not a problem and sorry for not coming back to you sooner.

The old paster commands are defined in `ckan/lib/cli.py`. Their new equivalents are written in Click and located in `ckan/cli/cli.py`.

The next version of CKAN will only use the new Click based CLI so we want to remove as much as possible from the old paster ones to avoid confusion. But we can't delete the whole ckan/lib/cli

[2019-12-17 12:46] amercader opened #5126 "Migrate Datapusher and DataStore CLI commands to Click"
Now that #5112 is merged, we can refactor the CLI commands for the datastore and datapusher extensions (`ckanext/datastore/cli.py` and `ckanext/datapusher/cli.py`) to use the new `IClick` interface rather than the old paster based one.

https://github.com/ckan/ckan/pull/5121 has some detail on how to implement this interface

[2019-12-17 13:02] mutantsan commented on #5126
Hi, I would like to work on it.

[2019-12-17 13:26] amercader commented on #5126
go for it @mutantsan !

[2019-12-17 15:14] #5108 closed

[2019-12-17 15:24] smotornyuk commented on #5126
Note, that we already have those commands migrated as global groups in https://github.com/ckan/ckan/blob/master/ckan/cli/datastore.py and https://github.com/ckan/ckan/blob/master/ckan/cli/datapusher.py . So instead of full migration from paster commands, you need to put mentioned code into `IClick` of relevant extensions.

[2019-12-17 15:56] EvgeniiaVak commented on #5110
@amercader
Yes, this clarifies things very much, thank you!

[2019-12-17 20:02] amercader commented on #5126
Thanks @smotornyuk, I had missed this. So it's probably better to move the cli modules to their own extensions and expose them via IClick right?

[2019-12-18 10:52] smotornyuk commented on #5126
Yep, absolutely agree.

[2019-12-18 22:26] Chealer commented on #5115
Is that something you know for sure, or is that merely your understanding of the message?

Well, besides the potential for confusion, there is the issue of not being syntactically valid (English does not allow to just throw characters in a sentence). But yes, this sentence is not only invalid but unclear because:

1. Most importantly, the period's role is ambiguous. Considering that some character

[2019-12-19 20:14] wardi opened #5131 "ckan_extends cache depends on template paths"
### CKAN Version if known (or site URL)
all versions

### Please describe the expected behaviour
`{% ckan_extends %}` should extend templates from the next path in the template paths list

### Please describe the actual behaviour
`{% ckan_extends %}` emits a node with a numeric index into the template path list, which is cached with the rest of the compiled template. If the plugins enabled or temp

[2019-12-20 20:31] davidmsibley commented on #5105
I started running the server in debug mode, and was able to get a stack trace:
[code]

I'm not sure if this is exactly the same failure I was seeing in non-debug mode, but it was achieved the same way: by visiting the front page after a long period of inactivity.

[2019-12-20 22:07] davidmsibley commented on #5105
This looks like maybe the TCP connection to Postgres is closed due inactivity, then when the python code tries to use what it considers an active database connection, it errors out.

[2019-12-22 15:17] espona commented on #4516
Hi, I have the same issue and I understand it can be ignored, but it appears continuously filling up my log. Did anyone find a solution or workaround? Many thanks in advance

[2019-12-24 12:52] pdelboca commented on #4798
After talking with @sivang I started doing some work on this issue. So far so good, although I would probably require some assistance. I will create a PR soon to get some feedback!

[2019-12-25 14:33] mutantsan commented on #5016
@Aaron-M Hi, I am trying to reproduce this bug, but I can't. I've tested it on 2.7.2 and 2.7.6 (current CKAN version on your portal) in Edge browser. Do you still have this issue, or it's gone? The problem, probably, was in _image-upload.js_, but it could be fixed already.

[2019-12-25 18:33] shubham-mahajan commented on #4793
@amercader Shall I take https://github.com/ckan/ckanext-qa?

[2019-12-27 10:22] kowh-ai commented on #4793
@shubham-mahajan I don't think anyone is assigned to this yet @smotornyuk: what do you think?

[2019-12-27 10:27] davidread commented on #4793
@shubham-mahajan ckanext-qa is maintained by @Zharktas. I assume there is no issue with creating PRs on any extension that get us closer to python3 compatibility.

Note to all: our guide for doing the conversion is here: https://github.com/ckan/ckan/wiki/Migration-guide-for-extensions

[2019-12-27 12:39] smotornyuk commented on #4793
Yep, everyone is on holiday, so there no current work on listed extensions. It would be really cool to have your help with ckanext-qa

[2019-12-28 01:06] MandanaMoshref opened #5136 "Strange behaviour in regards to the relationship function of CKAN"
### CKAN Version if known (or site URL)
CKAN 2.8

### Please describe the expected behaviour
I need to create relationship between my datasets.
I used the instruction in this [link:](https://github.com/ckan/ckan/wiki/Dataset-relationships) and everything works. It means in my terminal i received success = true.

..........
"{
"subject":"test1",
"object": "test2",
"type": "parent_of",
"comment" : "

[2019-12-29 00:27] MandanaMoshref commented on #4212
Experienced the same issue #5136

[2019-12-29 23:43] MandanaMoshref commented on #4212
I guess I somehow found the fix for

The problem is probably related to Solr schema.
https://github.com/ckan/ckan/blob/master/ckan/logic/action/get.py#L872 it calls the search.show with use at then end solr response. And as there are no fields with the name "relationships_as_object" and "relationships_as_subject" these are empty in package_show.

However, as I am not a programmer and zero knowledg

[2019-12-31 02:01] league3236 opened #5137 "Add dataset button displays an Internal Server Error"
### CKAN Version if known (or site URL)
git master branch

### Please describe the expected behaviour
I have configured docker-compose ckan based on the url below.

https://docs.ckan.org/en/2.8/maintaining/installing/install-from-docker-compose.html

There was no problem with datastore when adding ckan plugin.
[code]

However, when I added datapusher and pressed the add datasets button, I could se

[2020-01-02 02:48] league3236 commented on #5137
I solved it by changing it to a stable version.
[code]

[2020-01-02 02:48] league3236 commented on #5137
I solved it by changing it to a stable version.
[code]

[2020-01-02 10:00] shubham-mahajan commented on #4793
@davidread Then I am taking up this one.

[2020-01-03 01:04] ThrawnCA commented on #5030
Update: This has started happening consistently on new datasets in our production environment. Adding debugging statements indicates that the time is being spent in attempting to load tracking summary data (`ckan/model/tracking.py`, TrackingSummary.get_for_package), although in the end no tracking data exists since they're new datasets.

[2020-01-03 01:20] ThrawnCA commented on #5030
This appears to be related to the combination of ORDER BY and LIMIT 1; see https://stackoverflow.com/questions/21385555/postgresql-query-very-slow-with-limit-1 and https://stackoverflow.com/questions/6037843/extremely-slow-postgresql-query-with-order-and-limit-clauses for discussion.

There is a simple workaround of adding a second unnecessary ordering clause, which causes PostgreSQL to make bette

[2020-01-06 17:03] EvgeniiaVak commented on #5110
### From gchat with @pdelboca

@EvgeniiaVak:

@pdelboca:

so migrating the old paster tests to the new ckan command would be nice

[2020-01-06 23:29] Aaron-M commented on #5016
I have just tested and uploaded a file and the same behaviour is occuring (in CKAN v 2.7.6)

The file I chose to upload was  C:\Program Files\Inkscape\lib\gdk-pixbuf-2.0\2.10.0\loaders.cache.  In IE this is what results, URL points to https://datastore.landcareresearch.co.nz/dataset/b7804c9c-24b8-4258-8e18-e6c011dc37ed/resource/6635654d-5c8e-42e2-88cd-37fc0099d82e/download/cprogram-filesinkscapeli

[2020-01-06 23:44] Aaron-M commented on #5016
I have also replicated this behaviour in demo.ckan.org

https://demo.ckan.org/dataset/long-path-test/resource/3a4639ec-972f-49f4-aa69-9937b74ee2e8

[2020-01-07 20:22] pdekraker-epa opened #5142 "Default license when creating dataset via API"
CKAN 2.8

For datasets created via the API if a license is not provided the resulting license_id and license_title are None. If you browse to the page associated with the dataset no license is displayed. If you then go to manage the dataset through the web interface the dropdown defaults to the first item in the list. When clicking update the license is changed, which may not have been intended.

[2020-01-07 21:13] #5022 closed

[2020-01-07 21:23] Aaron-M commented on #5015
Just to add that this bug also occurs when special characters are present in the description of the dataset, or of any of the resources within.

In demo.ckan.org i have created a dataset which demontrates this problem (has the author with the special character, and in the resource description)
https://demo.ckan.org/dataset/testing-ckan-issue-5015

[2020-01-08 06:31] #4794 closed

[2020-01-09 18:25] davidmsibley commented on #5105
I think I found it. Key bit of information is that I'm trying to run CKAN using Docker Swarm.

https://forums.docker.com/t/tcp-timeout-that-occurs-only-in-docker-swarm-not-simple-docker-run/58179
Looks like the Docker Swarm IPVS cuts connections at 15 minutes, rather than 2 hours which is normally the default.

One solution to this is to set `endpoint_mode: dnsrr` on the db service.
https://succes