[2022-04-13 12:10] avdata99 commented on #6787
Starting check for fluent [here](https://github.com/ckan/ckanext-fluent/pull/41)

[2022-04-13 15:10] avdata99 commented on #6787
Starting check `ckanext-hierarchy` [here](https://github.com/ckan/ckanext-hierarchy/pull/49)

[2022-04-13 16:43] avdata99 commented on #6787
Starting check `ckanext-dcat` [here](https://github.com/ckan/ckanext-dcat/pull/208)
The workflow to run the test is awaiting approval from a maintainer

[2022-04-14 05:16] categulario commented on #6464
Just faced this issue. Not only with `SITE_URL` but also `SQLALCHEMY_URL`.

[2022-04-14 05:21] categulario commented on #6464
It is not enough, because `update_config` itself requires `site_url` to be set.

[2022-04-15 13:24] #6786 closed

[2022-04-15 17:42] avdata99 commented on #6787
We need to add `ckanext-report` considering it's a requirement for other extensions

[2022-04-16 14:42] Sheile commented on #4129
We faced same problem in 2.9.5( [master at yesterday](https://github.com/ckan/ckan/commits/71a82c4b0) ) and Python 3.
I've created above PR to redirect to HTTPS after login with who-friendlyform.

Is there anyone who can check this fix for your environment?

[2022-04-18 04:48] robin-NEC commented on #5943
@amercader  I would like to work on this issue. Please let me know if any work is needed to be done on this issue.

[2022-04-18 13:27] frafra opened #6814 "Templates are not loaded in the correct order"
**CKAN version**
2.9.x

**Describe the bug**
No matter if the ckanext-scheming is loaded before or after my custom plugin: the templates are loaded in the same order (my custom plugin first, scheming after).

**Steps to reproduce**
Just try to extend a template like `additional_info.html` in a custom plugin, loaded after scheming.

**Expected behavior**
The order of the plugin should affect the or

[2022-04-18 14:41] frafra commented on #6814
It looks that could be ckanext-scheming specific: https://github.com/ckan/ckanext-scheming/issues/216

[2022-04-19 15:05] Zharktas commented on #6814
scheming defines its own template hierarchy which then extends core template directly. E.g. `templates/scheming/package/snippets/addional_info.html`

https://github.com/ckan/ckanext-scheming/blob/3aa6ed7f134d14b882c5cea474d6519eed36bac9/ckanext/scheming/templates/scheming/package/snippets/additional_info.html#L1

Because of how it's done instead of using `{% ckan_extends %}`, it prevents extending

[2022-04-19 19:22] avdata99 commented on #6787
Starts with `ckanext-qa` [here](https://github.com/ckan/ckanext-qa/pull/73)

[2022-04-19 22:54] frafra commented on #6814
I tried to extend `templates/scheming/package/snippets/addional_info.html` but failed (it gets ignored); I am going to test it again, with a minimal setup. Thanks again :)

[2022-04-20 07:57] TomeCirun commented on #6787
@amercader I can work with `ckanext-googleanalytics` if no one has started yet and a polite reminder `ckanext-harvest` is ready for merging :)

[2022-04-21 12:31] #6802 closed

[2022-04-21 13:36] kowh-ai commented on #6807
Thanks @n00dl3nate for the information re: ARM64. There's no mention of CPU Architecture in the documentation. Perhaps there should be with "_the rise of ARM-based processors_" as you say. We don't tend to backport CKAN Docker Install changes. As far as using major releases eg: `FROM debian:stretch`, we have discussed this quite a bit in the twice-weekly Dev meetings and the general consensus is,

[2022-04-23 19:45] #6210 closed

[2022-04-24 16:08] #6198 closed

[2022-04-24 16:10] #6225 closed

[2022-04-24 16:13] #6470 closed

[2022-04-25 11:01] #5857 closed

[2022-04-27 11:28] amercader commented on #6787
@kojicz983 yes! As soon as we branch out the new `dev-v2.10` branch. We are waiting for a couple of big PR merges in master before doing that, but as soon as translations are ready we'll make an announcement

[2022-04-27 12:49] rogermsarmento opened #6824 "Error starting CKAN database"
**CKAN version**: 2.9
**Ubuntu version**: 20.04
**Python version**: 3.8.10

**Describe the bug**
I installed 2.9 from package and every time i run the "sudo ckan db init" i get the following error below:

[code]
Whats happening?
It errors, and I wonder how can I solve this:

[2022-04-27 13:17] TomeCirun commented on #6824
@rogermsarmento do you have `[app:main]`  in your `.ini` file ?

![image](https://user-images.githubusercontent.com/72216462/165525753-f4ae23e7-2f89-490a-9599-c33630201392.png)

[2022-04-27 13:27] rogermsarmento commented on #6824
Hi, @TomeCirun

/etc/ckan/default/ckan.ini was never created.
Inside the default folder there were these files:

![image](https://user-images.githubusercontent.com/40036396/165527700-26ae6d35-4a04-4bc7-b004-adb950c3471a.png)

ckan.ini is a copy of ckan-uwsgi.ini with some changes.

![image](https://user-images.githubusercontent.com/40036396/165528628-48b75cee-41af-44d1-9f6a-2cb64d16780f.png)

Any

[2022-04-28 01:18] ThrawnCA opened #6827 "CKAN version is exposed to the public"
**CKAN version**

2.8, 2.9

**Describe the bug**

The exact version of CKAN is visible to the public in the status_show API call and as a header on all emails. This makes reconnaissance by malicious third parties easier.

**Steps to reproduce**

Visit /api/action/status_show

**Expected behavior**

There should be an option to hide the CKAN version in use.

**Additional details**

Will raise a pul

[2022-04-28 01:54] ThrawnCA opened #6829 "Package modified date should not change when resources are reordered"
**CKAN version**

2.9

**Describe the bug**

Package "metadata_modified" timestamp should not change when resources are reordered.

**Steps to reproduce**

* Create a dataset with multiple resources
* Swap the order of the two resources
* Check the "metadata modified" timestamp for the dataset and verify that it was updated when the order changed.

**Expected behavior**

"Metadata modified" should

[2022-04-28 14:51] wardi commented on #6829
@ThrawnCA ckan treats the resource metadata as part of the package metadata, so updating metadata_modified when a resource changes or is reordered is consistent.

Right now it's difficult for extensions to detect independent changes at the resource level. If that's the problem you're trying to solve I think we can come up with some new signals or a plugin interface for capturing these events inste

[2022-04-28 20:56] knudmoeller opened #6833 "Action status_show has no corresponding auth function"
**CKAN version**

2.9.5

**Describe the bug**
The Action-API function `status_show` does not call a corresponding auth function (there is none). This means that, if a plugin _does_ register an auth function for `status_show`, there will be an error when the action is called.

**Steps to reproduce**
* Implement IAuthFunctions in a plugin and add `status_show` to `get_auth_functions()`.
* Call `stat

[2022-04-28 20:57] knudmoeller commented on #6827
There is a related issue: #6833 (Action status_show has no corresponding auth function).

[2022-04-28 22:14] ThrawnCA commented on #6827
@knudmoeller Related, but I think that each approach offers something the other doesn't.

[2022-04-28 22:15] ThrawnCA commented on #6829
The field is specifically called *metadata* modified, so I don't think it should be updated if eg a new version of a file is uploaded.

[2022-04-29 08:17] knudmoeller commented on #6827
@ThrawnCA Yes, absolutely! The approaches are not mutually exclusive. I just wanted to point out the relatedness.

[2022-04-29 08:41] Commifreak opened #6834 "Add `restart: always` to docker-compose"
**CKAN version**
2.9.5

**Describe the bug**
I set up ckan using the docker method. But after every docker daemon restart, ckan does not come up automatically. The `restart: always`-policy is missing inside the compose file. Is this a wanted behaviour?

**Steps to reproduce**
Steps to reproduce the behavior: -

**Expected behavior**
I would expect that ckan containers come up on their own

**Addit

[2022-04-29 13:30] roc commented on #6829
Chiming in on this: it would be nice to be able to pass through `metadata_modified` to `update.py` as an override when making amendments to records but without updating the metadata. At the moment each time we perform a bulk update of our datasets with some minor change it flattens the metadata modification history, which is _fine_ but in our case not representative

[2022-04-29 14:04] wardi commented on #6829
@roc this sounds familiar. I'm sure we fixed the issue of not being able to set metadata_modified in the past, maybe you're using an older version of ckan? If not we have a regression and we should open a separate ticket for that.

[2022-04-29 14:16] KingMonke123 opened #6835 "Opening on macos will not open and only take you to a install guide"

[2022-04-29 15:07] knudmoeller commented on #6833
I created a pull request for this: https://github.com/ckan/ckan/pull/6836

[2022-04-29 15:19] roc commented on #6829
@wardi first code contribution so will probably need some hand holding https://github.com/ckan/ckan/pull/6837

[2022-04-29 18:33] jqnatividad commented on #6792
pinging @twdben.  Let's team up on this...

[2022-05-01 14:43] Gauravp-NEC commented on #6835
@KingMonke123 , Can you provide description or steps to reproduce this error?

[2022-05-02 01:15] abhisheksridh commented on #6763
Is there any solution to overcome this issue?

[2022-05-02 01:51] noesunfelipe commented on #6763
Hi.

i didn't find a solution. Sorry.

[2022-05-02 19:42] tino097 commented on #6829
@wardi i was checking an option to use [`signals`](https://github.com/ckan/ckan/blob/master/ckan/lib/signals.py#L49) and having something like `resource_reorder` signal that would be used as check if we need to update the `metadata_modified` when `package_update` is called.

@ThrawnCA maybe those signals could be used on extension level using the [`ISignal`](https://github.com/ckan/ckan/blob/maste

[2022-05-02 22:37] ThrawnCA commented on #6829
I'm not sure how that would work. The point is that if, say, 3 processes each update a resource in the same package, at the same time, then each of them will trigger an update to the package `metadata_modified`, meaning that they'll be competing for database locks.

It's not about whether the extensions really need to perform the update. Let's assume that they do; the resources really have changed

[2022-05-03 00:37] nykc commented on #4129
Unfortunately, we have all moved on to different projects. Hoping this fix will help others who may need it however.

[2022-05-03 13:00] amercader opened #6840 "Theme issues on 2.10 branch (master)"
**CKAN version**
master

- [x] Pagination buttons are not styled

![Screenshot 2022-05-03 at 12-39-24 Dataset - CKAN](https://user-images.githubusercontent.com/200230/166456932-f9cff6e6-3bcb-451c-b522-ac02331625b7.png)

- [x] Activity filter on Dashboard is floating on the left

![Screenshot 2022-05-03 at 12-22-15 Manage - Adrià 333332 - Users - CKAN](https://user-images.githubusercontent.com/2002

[2022-05-03 13:46] wardi commented on #6829
A lock on the package shouldn't cause any kind of deadlock. We're already doing this for `package_revise` and the other package/resource-editing should have similar locking soon e.g. #6439

[2022-05-04 11:54] amercader opened #6841 "`ckan_config` pytest mark doesn't work when used with the `with_request_context` fixture"
**CKAN version**
2.9

**Describe the bug**
If you use the `with_request_context` fixture, changes in config introduced by `@pytest.mark.ckan_config`  are ignored.

**Steps to reproduce**
Consider the following new tests, first one passes, second fails:

[code]

[2022-05-04 12:00] kowh-ai commented on #6835
Closing issue as no description provided. Please **re-open** if you can add something for us to help you troubleshoot this issue - thanks

[2022-05-04 12:00] #6835 closed

[2022-05-04 12:04] #6549 closed

[2022-05-05 13:09] #6833 closed

[2022-05-05 18:27] atanikan opened #6842 "Very slow page render when metadata > 2000 words"
**CKAN version**
2.9.5

**System Used**

OS version : Ubuntu 20.04.4 LTS
RAM:    16G RAM
Cores/cpu: 4 CPU single core
Docker Version:          20.10.14

**Describe the bug**

Our requirement is to track the metadata (path of the file and its size) of all files generated through all our projects. We generate ~10k files for each project. This information is captured in the notes section of the datas

[2022-05-05 19:48] smotornyuk commented on #6842
Do you mean, that every page takes around half a minute to load?

[2022-05-05 20:15] smotornyuk commented on #6842
Here are my results:

CKAN: fresh 2.9.5, no extra plugins
Test data: 100 datasets, each containing 20 resources with 1KB binary upload and 3000 words in the description
Solr: 5.5
PostgreSQL: 11.2

OS version: Arch on v5.17.5 kernel
RAM: 8G RAM
Cores/CPU: Intel i5-8400, 6 cores, 2.8GHz
Docker Version: no docker, running on the host.

Load time:

Homepage(`/`): **174 ms**
Search page(`/dataset`): **

[2022-05-05 20:49] atanikan commented on #6842
Yes, I meant every page takes around half a minute. I am using the docker build which comes with the package can you please try it out with that. I am not using any additional plugins other than those which come with the source.

[2022-05-05 21:09] atanikan commented on #6842
Hello, I missed mentioning that I followed the first 4 steps laid out in the link below. So I do include datapusher and  datastore

http://docs.ckan.org/en/2.9/maintaining/installing/install-from-docker-compose.html

Thank You once again for helping me with this

[2022-05-05 21:15] atanikan opened #6843 "docker-compose-up errors out. Binary-amd-64 blocked"
**CKAN version**

**Describe the bug**
Failed to bring up ckan build using docker/docker-compose

**Steps to reproduce**
git clone [git@github.com](mailto:git@github.com):ckan/ckan.git
git checkout tags/ckan-2.9.5
cp contrib/docker/.env.template .env
cd contrib/docker
docker-compose up -d --build

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional d

[2022-05-06 04:57] Zharktas commented on #6843
Someone has blocked the user agent or ip address in the repository, nothing to do with ckan or its docker files.

[2022-05-06 04:59] Zharktas commented on #6842
If you are using datapusher and adding your resources one after the other within a short period of time, the container will run out of memory as the datapusher downloads all the files in memory.

[2022-05-06 07:23] Nisha-1212 commented on #6713
I am working on this issue.

[2022-05-10 10:04] Perla-Al-Haddad opened #6850 "Setting up CKAN with Docker-Compose '\connect: FATAL: database "datastore" does not exist'"
**CKAN version**
2.9.5

**Describe the bug**
A clear and concise description of what the bug is.

I've been following the documentation to set up CKAN using Docker-Compose on Windows 10
I've reached this part of the installation process:

When running the following command:
`docker exec ckan /usr/local/bin/ckan -c /etc/ckan/production.ini datastore set-permissions | docker exec -i db psql -U ckan`

[2022-05-10 10:47] Nisha-1212 commented on #6713
Hi @tgurr

I am successfully able to download the above mentioned csv file "https://github.com/ckan/ckan/files/8108382/2022_02_06-oberbuergermeisterwahl-stadt-heilbronn-heilbronner-stadtteile.csv" as json format.

You can also check both the log file  datapusher_error.log  and ckan_http.error.log  as well. Might be you are able to understand the reason of 500 internal server error in error log.

[2022-05-10 12:57] kowh-ai commented on #6850
This should work. Did you have any problems when building the docker images _or_  running the containers?

[2022-05-10 14:55] kowh-ai commented on #6843
Closing this issue...please re-open if you think this is a problem we can help with

[2022-05-11 05:21] Perla-Al-Haddad commented on #6850
I ran into a couple problems when running the ckan container.

One issue was converting all the files in the solution from CRLF to LF to get rid of the "no such file or directory" error.
After that the ckan container started throwing this error:

I was able to resolve this by following the steps described here #5874
After that the ckan container ran successfully.

The db container is also throwing

[2022-05-11 20:54] Perla-Al-Haddad opened #6854 "CKAN crashing when adding datastore to ckan.plugins"
**CKAN version**
version 2.9.5

**Describe the bug**
A clear and concise description of what the bug is.
I am setting up CKAN with a package install on my Windows 10 using WSL 2.
I ran into a few problems since I was using WSL (mainly setting up solr), but was able to resolve them. Now CKAN is running successfully on http://localhost:5000/. I am able to login as a sysadmin user and add new dataset

[2022-05-12 09:37] MichaelHarmsTIB opened #6856 "WARNING: ftell mismatch with expected position -- ftell used"
**CKAN version**
2.9.3
**Describe the bug**
Try to use:
sudo -u postgres pg_restore --clean --if-exists -d ckan_default < ckan.dump
with a dump from my database
I got this error:
`pg_restore: [custom archiver] WARNING: ftell mismatch with expected position -- ftell used`

**Expected behavior**
dump goes into the database

[2022-05-12 10:07] Gauravp-NEC opened #6857 "No "Previous" button in Dataset edit form page"
**CKAN version**
Master
**Describe the bug**
There is no "Previous" button available in Dataset edit form page. If a user changes his mind not to edit Dataset form page or mistakenly reached to Dataset edit form page, there should be a "Previous/back" button to go back to previous page.

**Steps to reproduce**
Edit any Dataset.

**Expected behavior**
 There should be a "Previous/back" button to go

[2022-05-12 10:21] Gauravp-NEC commented on #6857
This issue is related to the https://github.com/ckan/ckan/issues/6623

[2022-05-12 13:15] wardi commented on #6857
There are a couple of ways a user could arrive at the dataset edit page so adding a back button might be unclear. Also the breadcrumbs can be used to return to the dataset view page, so this feature would be duplicative.

[2022-05-12 13:16] Zharktas commented on #6856
Did you follow the documentation creating the dump http://docs.ckan.org/en/2.9/maintaining/database-management.html#dumping-and-loading-databases-to-from-a-file ?

If you did and the it still doesn't work, its probably not a ckan bug https://stackoverflow.com/a/53405737/622796

[2022-05-12 13:47] Zharktas commented on #6842
Could you try disabling datapusher to see if it has any affect on performance pin point the actual bottleneck ?

[2022-05-12 15:58] #6857 closed

[2022-05-12 17:35] #6623 closed

[2022-05-16 06:43] atanikan commented on #6842
Hello,

No dice :(
I tried disabling datapusher for ckan 2.9.5 and my new results for 30k words with 5382561 letters in the "notes" field are as bad as before i.e. ~ 25 seconds for page load.

I also tried to scale to 300k words with 48442153 letter in the "notes" field, but the application crashes with java.lang.OutOfMemoryError: Java heap space error
in solr logs:

[code]

Also, I'd really appre

[2022-05-16 09:05] Zharktas commented on #6842
Are every page slow ? Even those which have nothing to do with datasets ? If its only pages which display datasets, you could remove markdown rendering from notes field which is bound to be slow on a large content.  If it's solr that is causing the slowdowns, then you need to build infrastructure for large indexes which is out of scope of core ckan development.

[2022-05-17 10:26] #6827 closed

[2022-05-17 10:39] robin-NEC commented on #6773
Hi @Zharktas , I would like to work on this issue.

[2022-05-17 13:15] #6856 closed

[2022-05-17 13:33] #6108 closed

[2022-05-17 13:38] mattsouth commented on #6728
Ive hit this issue.  If I try to run the pip upgrade I see:

[code]

[2022-05-18 07:39] Anrecky commented on #6728
# **May 18 2022**

In my case, It appears pip not installed or broken in your's server try to install pip on your server (in my case i ran (already in root, sudo)) `apt install python3-pip`.
After that i did activate my virtual env (`source /usr/lib/ckan/default/bin/activate`), and then i ran `pip install <ckan-extension>` but it gave me an error  `error: invalid command 'bdist_wheel'`.
So, to fix

[2022-05-18 07:58] Nisha-1212 opened #6867 "Getting Missing header token when using right-time-context plugin"
**CKAN version** 2.7.2

**Describe the bug**
I have installed the "ckanext-right_time_context" plugin in ckan source code setup. And also enabled this plugin in ckan.ini file.
I have followed the [ckanext-right_time_context ](https://github.com/conwetlab/ckanext-right_time_context) site link. Add one new resource by performing the  all steps mentioned in this above link. I am getting the below err

[2022-05-18 12:47] mattsouth commented on #6728
Yes this has indeed worked for me.  Many thanks @Anrecky

[2022-05-19 12:03] kowh-ai commented on #6854
@Perla-Al-Haddad - Have the *_DATASTORE_* entries in the ini file been updated?

[2022-05-19 13:09] Zharktas commented on #6867
ckanext-right_time_context is not develop by the CKAN core team, so you should post the issue on their github repo instead.

[2022-05-19 13:09] #6867 closed

[2022-05-20 05:20] Perla-Al-Haddad commented on #6854
[code]
I'm guessing you mean those lines, and yes, I ended up following the rest of the instructions even though CKAN was crashing. And once the datastore database was set up, adding datastore to the plugins stopped crashing CKAN.

The [documentation](https://docs.ckan.org/en/2.9/maintaining/datastore.html) seems to instruct to add datastore to the plugins before setting up the database, and since

[2022-05-20 08:33] #6854 closed

[2022-05-22 16:42] priest110 opened #6873 "2.9.5 with docker and python 3"
2.9.5

How can I use ckan installed with docker and python 3, since with the latest stable version (2.9.5) it has docker environment using python 2?

[2022-05-24 10:47] #6420 closed

[2022-05-24 11:09] kowh-ai commented on #6850
With regards to the `ERROR: relation "migrate_version" does not exist at character 21` error check out: https://github.com/ckan/ckan/issues/6449

[2022-05-24 11:10] kowh-ai commented on #6850
Closing this issue. Please reopen if there is something more we can potentially help you with. Thanks.

[2022-05-24 11:10] #6850 closed

[2022-05-24 14:45] TheoStefou opened #6874 "Documentation doesn't give enough info on hide_activity_from_users"
Looking at this: http://docs.ckan.org/en/latest/maintaining/configuration.html#ckan-hide-activity-from-users

I can't really understand what this field is used for, or rather, what kind of values it receives. I would like to hide all kind of activity from not logged in users, because it compromises the names of the registered users, even if a dataset is public.
Therefore: In order to view the acti

[2022-05-25 08:28] MichaelHarmsTIB opened #6875 "Form Inputs Fields"
**CKAN version**
**2.9.3**
**Describe the bug**
I follow this documentation:
https://docs.ckan.org/en/2.9/contributing/frontend/templating.html#form-macros
My code:
{% import "macros/form.html" as form %}
 {{ form.input("email", id="field-email", label=_("Email"), type="email", placeholder=_("joe@example.com"), value=data.email, error=errors.email, classes=["control-medium"], is_required=True) }}

[2022-05-27 11:16] amercader opened #6878 "Validation doesn't work on plugins inheriting the core `IDatasetForm` methods"
**CKAN version**
Current master (2.10)

**Describe the bug**
Consider the following test:

[code]

This will fail with an SQLAlchemy error

[code]

Upon further investigation, when calling the NAVL validation function from `package_create`:

https://github.com/ckan/ckan/blob/a18603ec182e279488c0e91b78cd957a3ed49d30/ckan/logic/action/create.py#L178-L179

`data` is an empty dict!

I'll send a propos

[2022-05-27 13:47] amercader opened #6880 "Fixtures and setup() methods order of execution changed on current master"
**CKAN version**
master (CKAN 2.10)

**Describe the bug**

Consider the following test:

[code]

In CKAN 2.9 (pytest 4.x) -> First fixtures get executed, then `setup()` methods:

[code]

In CKAN 2.10 (pytest 7.x) -> First `setup()` methods get executed, then fixtures:

[code]

This is bad, because you generally want the 2.9 behaviour, eg to clean up the db or the index using fixtures, and then on

[2022-05-27 13:54] amercader commented on #6880
On second thought this should have likely impacted the core tests before so maybe is something on my environment, I'll keep digging

[2022-05-27 14:14] #6878 closed

[2022-05-27 15:52] priest110 commented on #6873
Now I am using the master branch, but I still have errors: initially, datapusher doesn't work, giving 'Process completed but unable to post to result_url', solved with this [solution](https://github.com/ckan/ckan/issues/3987#issuecomment-359486018). But now I have a new error, 403 error (JobError: CKAN DataStore bad response. Status code: 403 FORBIDDEN. At: http://dockerhost:5000/api/3/action/data

[2022-05-27 19:03] TomeCirun commented on #6880
Same here @amercader, i set 2 breakpoints, when i execute the class `TestHello`, first, it stops on `setup` then on the `fixture hello`, this only happens on `CKAN 2.10`...

[2022-05-28 15:08] kowh-ai commented on #6873
Can you please post the curl command you are using?

[2022-05-28 17:09] priest110 commented on #6873
For example: curl -X POST http://dockerhost:5000/api/3/action/datastore_create -H "Authorization: MY-API-KEY" -d '{"resource": {"package_id": "SOME-PACKAGE-ID"}, "fields": {"id": "a"}, {"id": "b"} ], "records": [ {"a": 1, "b": "xyz"}, {"a": 2, "b": "zzz"} ]} ]}'. I found that if I replaced [this]( https://github.com/ckan/ckan/blob/91c9366cf8df0dc4e12a9a043756eda5e40534b0/ckan/lib/api_token.py#L83)

[2022-05-29 14:53] kowh-ai commented on #6873
Not sure what the problem is. If you replace **MY-API-KEY** with your actual API key you have generated with your user in the GUI _and_ **SOME-PACKAGE-ID** with your actual Package ID you have already created, then this works. I just tested this with a fresh Docker build of the master repo

[2022-05-29 15:30] priest110 commented on #6873
Right, when I say MY-API-KEY is actually my API key that I generated with my user in the GUI and SOME-PACKAGE-ID is actually a package id that I already created. And does this Docker build have the datapusher working well?

[2022-05-29 18:52] priest110 commented on #6873
Ok, I found that the user that is not authenticated is the default user (named after ckan.site_id in the configuration file) that runs internal tasks. So how can I fix this?

[2022-05-29 20:13] TomeCirun commented on #6880
@amercader  I found that, if we pass: `scope='class'` as a parameter,  `fixtures` get executed  first, then `setup()` methods

[code]

[2022-05-30 09:43] amercader commented on #6880
Behaviour changed between pytest 6.x and 7.x. I've asked a question on the pytest repo: https://github.com/pytest-dev/pytest/discussions/10005

[2022-05-30 11:10] pdelboca commented on #6787
@amercader @smotornyuk I've started working on ckanext-googleanalytics: I would like your opinion and suggestions since the pipeline is currently broken.

https://github.com/ckan/ckanext-googleanalytics/pull/67

[2022-05-30 21:28] #6404 closed

[2022-05-30 21:31] #4699 closed

[2022-05-30 21:31] #4622 closed

[2022-05-30 21:32] #4620 closed

[2022-05-30 21:33] #4593 closed

[2022-05-30 21:40] #4353 closed

[2022-05-30 21:41] #4337 closed

[2022-05-30 21:41] #4175 closed

[2022-05-30 21:49] #3907 closed

[2022-05-30 21:50] #3798 closed

[2022-05-31 10:13] TomeCirun commented on #6875
@MichaelHarmsTIB  `ckan/logic/scheme.py` module is incharge of which field is going to be required and which not, we are validating our forms in our actions (`ckan/logic/action` package) and this is one example of it:
https://github.com/ckan/ckan/blob/91c9366cf8df0dc4e12a9a043756eda5e40534b0/ckan/logic/action/create.py#L178 we are sending the data (which we are previously getting in some of our vi

[2022-05-31 12:34] aucuparia opened #6884 "Documented form setting create_on_ui_requires_resources not implemented"
**CKAN 2.9**

**Describe the bug**
The form setting `ckan.dataset.create_on_ui_requires_resources` [is documented](https://ckan.readthedocs.io/en/2.9/maintaining/configuration.html#ckan-dataset-create-on-ui-requires-resources), but does not appear to be implemented.

**Steps to reproduce**
Set `ckan.dataset.create_on_ui_requires_resources` to `False` in `ckan.ini`, restart CKAN, observe that resou

[2022-05-31 12:50] Zharktas opened #6886 "Member_delete causes not found errors even though everything should be present"
**CKAN version**
2.9, master

**Describe the bug**
Clicking delete member from organization results in not found.

**Steps to reproduce**
Create an organization.
Add an user to it.
Delete the user from it.

**Expected behavior**
Member is deleted and the UI returns to member view

**Additional details**
Most likely bug resides in this line https://github.com/ckan/ckan/blob/91c9366cf8df0dc4e12a9a04

[2022-06-01 10:36] amercader commented on #6880
Looks like regardless than this is a pytest a regression or not it's worth updating your tests to not rely on `setup()` and `teardown()` methods anymore.
I've put down some guidelines in our 2.9 to 2.10 migration doc:

[2022-06-01 10:50] TomeCirun commented on #6880
should i make PR ?

[2022-06-01 10:56] amercader commented on #6880
@TomeCirun what for?

[2022-06-01 20:24] amercader commented on #6880
@TomeCirun oh, you meant to update tests in core that still use `setup()`? That makes sense if you have spare time but it's not a priority, there aren't many of them and they are obviously passing

[2022-06-02 06:04] Zharktas commented on #6886
This actually requires that javascript is disabled for whatever reason, which is why it wasn't caught before. The modal works, but the url from the delete button does not. Can be reproduced by copying the url from the button and pasting it to the browser url bar.

[2022-06-02 09:05] MichaelHarmsTIB opened #6893 "Delete User Web UI"
**CKAN version**
2.9.3

**Describe the bug**
I delete a user with the web-ui. Now I try to add a user with the same e-mail and I got an error the email already exists, but
the user is removed.

**Steps to reproduce**
Create a user an try to delete the user in the web ui. Then create a user with the same email address.

**Expected behavior**
Removing a user removes all data.

**Additional details**

[2022-06-02 09:39] TomeCirun commented on #6893
The current workflow is as follows: when you delete a user, we are actually changing its state from 'active' to 'deleted', we are not deleting it from the database.
https://github.com/ckan/ckan/blob/89c7b6063a9cf0e0198ce2c4aa04030f2ed9be8b/ckan/model/core.py#L19-L21

Thanks

[2022-06-02 13:26] MichaelHarmsTIB commented on #6893
In the user table there are no other users except postgres.
If you save users where you save it?

[2022-06-02 14:19] MichaelHarmsTIB commented on #6893
ckan_default there all tables from ckan.

[2022-06-02 14:44] EricSoroos commented on #6893
I literally _just_ got an identical support request here.

` select * from "user" ` gets you ckan users.
[code]
` select * from user` gets you your current user.
[code]

[2022-06-02 14:51] MichaelHarmsTIB commented on #6893
Interesting:
ckan_default=# select * from user;
   user
----------
 postgres
(1 row)
If I do that.
Thx for the hint.

[2022-06-02 15:35] seitenbau-govdata opened #6895 "Group page in Basque langugage causes an internal server error"
**CKAN version**
2.8.7 and 2.9.5

**Describe the bug**
It looks like the translation for the Basque language has a bug, because the group page in Basque shows an "500 internal server" error.

**Steps to reproduce**
1. Select the language Basque (language key `eu`)
2. Go to the group page (/eu/group)

Link to the demo instance: https://demo.ckan.org/eu/group/

**Expected behavior**
Displays the gro

[2022-06-02 16:21] EricSoroos commented on #6893
Possible solutions to this from the CKAN side:
1) The validator only checks emails from active accounts, so that instead of unique(email), it's unique(email) where state=active
2) When deleting the user, the email address is munged or deleted.
3) Duplicate email addresses permitted.

[2022-06-02 16:29] wardi commented on #6893
Re solution 1: what happens when the old account is re-activated? Maybe we can validate email uniqueness on users only when active is set to True. I think this is workable.

Re solution 3: This goes against https://github.com/ckan/ckan/pull/6748 which has been a very frequently requested feature.

[2022-06-02 16:35] EricSoroos commented on #6893
Yeah. I understand the duplicate email thing.

I think we've potentially got one too many identifiers for the user.

1) Internal id. This is what we should always use for referential integrity.
2) Display name. I don't care what it is (other than it shouldn't allow xss and has length limits) but it's used in public display.
3) Email. Contact method. Type-able identifier.

Leaving username as a why

[2022-06-02 16:42] EricSoroos commented on #6893
I think it's fair that if someone has a deleted account, and then they make a new account with the same email, that the original one can't be reactivated without deleting the other one. At any rate, the confusing errors that would come from that would be at least 10x less common than this case.

[2022-06-06 08:16] TomeCirun commented on #6895
I can't reproduce the error... works fine on both `CKAN 2.9.5 / 2.10`
<img width="840" alt="image" src="https://user-images.githubusercontent.com/72216462/172120849-d3931059-f828-43c5-9e33-50f15514cd73.png">
@seitenbau-govdata

[2022-06-06 09:26] kowh-ai commented on #6886
@TomeCirun - just confirming the bug/error is the following:

![Screenshot 2022-06-06 at 11 25 01 am](https://user-images.githubusercontent.com/54408245/172134112-56c8e3e9-92a5-4424-b037-73a6050ea4f1.png)

I'll test the fix once confirmed  - thanks!

[2022-06-06 12:37] #6886 closed

[2022-06-06 13:06] amercader commented on #6895
@TomeCirun You need to have a group create to replicate the issue.

This is caused by this bad substitution (var names should not be translated): https://github.com/ckan/ckan/blob/c7e946c0b144c1de7157b0cc3f6414ec8927e4c8/ckan/i18n/eu/LC_MESSAGES/ckan.po#L3108 (and there's another one [here](https://github.com/ckan/ckan/blob/c7e946c0b144c1de7157b0cc3f6414ec8927e4c8/ckan/i18n/eu/LC_MESSAGES/ckan.po#

[2022-06-07 04:26] robin-NEC commented on #6295
Hi @Zharktas , I'm interested to work on this issue. Please let me know, if anything else is needed to be done on this issue.

[2022-06-09 00:15] ThrawnCA commented on #1545
This was never actually implemented, and it would be a useful feature to have.

On our current CKAN system, one of our org admins wants to delete an obsolete organisation - but he can't, because it has draft datasets. And they're not easily visible to him; if he were more technically skilled, he could assemble a `package_search` API call that would retrieve them, but there's no web UI for it.

[2022-06-09 08:18] amercader opened #6900 "Fix activity stream pagination on non-dataset streams"
@avdata99 fixed the activity stream pagination on the dataset activity stream on https://github.com/ckan/ckan/pull/6798

These changes need to be ported to the organization, group, user and dashboard activity streams. Now that the activities live in a separate plugin (after #6790) it should be easy to replicate the changes.

[2022-06-10 14:43] abhisheksridh opened #6904 "Issues with Ckanext-saml2auth extension on xmlsec1 dependency"
### Discussed in https://github.com/ckan/ckan/discussions/6903

<div type='discussions-op-text'>

<sup>Originally posted by **abhisheksridh** June 10, 2022</sup>
We are having issues with xmlsec1 library, which has some outdated libraries as follows:

-xmlsec1-devel (1.2.25)
-xmlsec1-openssl-devel (1.2.25)
-libtool-ltdl-devel (2.4.6)
</div>

[2022-06-12 00:10] frafra commented on #6814
I can confirm that the custom plugin is loaded afterwards and templates are not overwritten nor extended.

[2022-06-12 05:17] Zharktas commented on #6814
Can you provide minimal example which reproduces the problem ? If the problem happens only with scheming, the issue should be posted there instead of core ckan. The template order hasn't changed in years, so I doubt there is an issue with the core itself.

[2022-06-12 15:24] wardi commented on #6814
@frafra "the custom plugin is loaded afterwards" makes me think you have your `plugins` in the wrong order. Have you tried putting your custom plugin *before* scheming in the `plugins` list?

[2022-06-12 16:47] #6884 closed

[2022-06-13 04:17] robin-NEC commented on #6172
Hi @jqnatividad , I would like to work on this issue.

[2022-06-13 05:43] Zharktas commented on #6295
There really isn't anything to do here, everything is documented already.

[2022-06-13 05:43] #6295 closed

[2022-06-13 10:41] duskobogdanovski commented on #6904
Hey @abhisheksridh, if it's related ckanext-saml2auth please move it to the extension repository and please add some more details for the issue.

[2022-06-13 11:29] #6904 closed

[2022-06-13 20:21] Perla-Al-Haddad opened #6906 "Custom Images Not Displaying on Deployed CKAN Instance"
**CKAN version**
2.9.5
Deployed CKAN docker instance on Linux VM

**Describe the bug**
When deploying a local version of CKAN to a Linux VM with Ubuntu 18.04, the images in the cutsom extension created throw a 404 error in the browser and don't display. They display normally when running the instance locally.

**Steps to reproduce**
1. Setup ckan using the package installation on WSL 2 on windows

[2022-06-14 06:48] thehappycheese commented on #5833
Annoyed to find this closed. A minor error in the production.ini has locked me out of the build. As a docker n00b this creates a seriously difficult situation to fix the ini.

[2022-06-14 11:07] robin-NEC commented on #6773
On investigation, I found that this issue is not only affecting the dataset page but also the other components like organizations, groups, and user profile pages in CKAN versions 2.8 and above.

Below are the changes before and after applying the fix:

![datasetbefore#6773](https://user-images.githubusercontent.com/100402885/173563165-98cc12e3-c586-41d8-8911-5bd64b68336b.PNG)

![dataset#6773](http

[2022-06-14 12:39] robin-NEC commented on #6773
Before:

![before_patch#6773](https://user-images.githubusercontent.com/100402885/173578061-e736bebe-8ae6-4e57-b6ca-6ad887b7f245.PNG)

After :

![after_patch#6773](https://user-images.githubusercontent.com/100402885/173578049-46e37a5f-f12b-49c9-b5d7-ffe7b4419483.PNG)

[2022-06-15 05:26] robin-NEC commented on #6172
Hi @jqnatividad , I'm unable to reproduce the issue.
I also checked the API documentation for  [datastore_search](https://docs.ckan.org/en/2.9/maintaining/datastore.html#ckanext.datastore.logic.action.datastore_search), but there is no reference for `full_text` in it.
Can you provide any resource that has a reference  to `full_text` parameter.?

[2022-06-15 11:32] bzar opened #6910 "Appending a comma to dataset sort parameter causes itnernal server error"
**CKAN version**
master

**Describe the bug**
Works: https://demo.ckan.org/dataset/?q=&sort=title_string+asc
Breaks: https://demo.ckan.org/dataset/?q=&sort=title_string+asc,

**Steps to reproduce**
See above

**Expected behavior**
Either a sensible error message or no sorting

**Additional details**
Breaks here: https://github.com/ckan/ckan/blob/master/ckan/views/dataset.py#L245
`sort_by_fields =

[2022-06-15 13:12] MichaelHarmsTIB opened #6911 "Resources throw Solr exception"
**CKAN version**
2.9.3
**Describe the bug**
A dataset has 11 resources, the 12th resource throw this solr exception:
ckan.lib.search.common.SearchIndexError: Solr returned an error: Solr responded with an error (HTTP 400): [Reason: Exception writing document id 8ccb03e27e996d6f0dbfa9a40064115f to the index; possible analysis error: Document contains at least one immense term in field="text_de" (wh

[2022-06-16 04:13] Gauravp-NEC commented on #6910
@bzar , I am interested to work on this issue.

[2022-06-16 10:29] amercader opened #6915 "Add documentation about Search / Solr internals"
Our docs cover how to install Solr but not much more. We have recurring questions about how does the search work (default operators, etc) and how to modify it so I think it would be great to document this a bit more comprehensibly in a centralized page.

I started a stub with what it should cover, we can iterate over it there and then move it to the docs:

https://github.com/ckan/ckan/wiki/Solr-an

[2022-06-16 18:41] wardi commented on #4147
@amercader as mentioned at the dev meeting today this might be the right place to continue discussion on this feature.

Names are really important for clear communication so here are some names we could use to disambiguate the types of additional data that are added to ckan datasets/resources/groups/orgs and the way they are stored:
1. "free-form extras" are the default interface for adding any ke

[2022-06-17 07:20] Zharktas commented on #6911
Similar was discussed in dev meeting the other day related to #4825 and there are hard limits of 32 kilobytes per field in solr. It usually is not feasible to search that content any way, so you need to either remove the field or truncate it to 32 kilobytes, in you case its text_de which has too big content.

[2022-06-17 14:03] #4986 closed

[2022-06-19 04:42] johnfelipe opened #6922 "wich wrong with my instance?"
.env file:

[code]
.env.ckan.local file:

[code]

But in chrome in my windows

![SNAG-1305](https://user-images.githubusercontent.com/428820/174466165-4a851880-d47f-419b-aa42-7a5646b57957.png)

[2022-06-19 06:23] saikarthikp9 opened #6923 "Custom runtime config options not updatable using environment variables"
**CKAN version**
2.9.5

**Describe the bug**
I followed this guide: [Making configuration options runtime-editable](http://docs.ckan.org/en/2.9/extensions/remote-config-update.html#making-configuration-options-runtime-editable). I am able to use API to update the custom options variables I added and I able to see and update it from an admin account at /ckan-admin/config.
However, when I try to use

[2022-06-20 05:54] bzar opened #6925 "Updating a non-existing resource causes an internal sever error"
**CKAN version**
master

**Describe the bug**
Trying to update a resource that does not exist causes an internal server error instead of a not found error

**Steps to reproduce**
- using `httpie`: `http POST https://demo.ckan.org/api/action/resource_update id=doesnotexist`
- Causes an internal server error

**Expected behavior**
- "Not found" error

**Additional details**
Caused by [this line](htt

[2022-06-20 11:12] robin-NEC commented on #6172
Hi @jqnatividad , I'm able to reproduce the issue. Are we trying to remove the `rank` column from the records response when we hit the API, i.e. from `'records': [{'_id': 2, 'a': 2, 'b': 'zzz', 'rank': 0.057308756}],` and not from the field response . Please confirm my understanding.

[2022-06-20 13:44] TomeCirun commented on #6925
Hey, @bzar, I just tested this via curl, I sent an id that doesn't exist, and it gives me the proper error message: 404 not found.
https://github.com/ckan/ckan/blob/7586d78682c30f205027522214f33ee2bf413055/ckan/logic/action/update.py#L73-L76
if you look at the code you can see in line 73 we have another check

[code]

and here are my logs:
![image](https://user-images.githubusercontent.com/7221646

[2022-06-20 13:55] ondics opened #6927 "CKAN licences for resources manageable at the user interface"
Our project experiences with CKAN is that quite different resources are attached to datasets in the CKAN filestore, e.g. excel-files, images, csv-files, shape-files, and so on.

Considering the creation processes of this resource files, there may apply different licenes for these files. E.g. images could have licence constraints that don't allow to change the licences to the dataset licence.

So w

[2022-06-20 20:20] frafra commented on #6814
@wardi I tested it, and it works indeed. The plugin containing the custom template, which extends ckanext-scheming, should be listed *before* `scheming_datasets` to be able to load the templates *after* it :)

[2022-06-20 20:37] wardi commented on #6814
@frafra yes, that's just as it has always been: "first plugin wins" earlier plugins get to override things defined in later ones.

[2022-06-20 20:37] #6814 closed

[2022-06-21 05:36] bzar commented on #6925
Yeah, my bad. I tested this on our 2.9.5 instance and demo.ckan.org, saw the same order for those lines in master and assumed it was still an issue.

[2022-06-21 13:58] Zharktas commented on #6922
CKAN core has nothing to do with docker templates of specific site, so this is wrong place to post this. And as an author of those templates you are using, the client does not have the resources to give support for them.

[2022-06-21 13:58] #6922 closed

[2022-06-21 22:19] bonnland commented on #5794
Our CKAN plugin has unit tests that rely on proper initialization of the plugins toolkit (a successful call to `_initialize()`).

Unfortunately, it seems that `_initialize()` will always fail when using python 3, because of this code:

[code]

The objects for 'response', 'BaseController', 'CkanCommand', and 'load_config' are never assigned when using python 3, and so the exception at the end of th

[2022-06-22 02:02] ThrawnCA opened #6930 "Robots.txt can no longer be easily customised"
**CKAN version**

2.9

**Describe the bug**

`robots.txt` was moved back to the `public` directory as part of #4801. However, this reverts the implementation of https://github.com/ckan/ideas-and-roadmap/issues/178 and makes it harder to customise the file (it can still be overridden with a different version, but not using Jinja syntax).

[2022-06-22 02:39] ThrawnCA commented on #6930
In case it's relevant to anyone, serving `robots.txt` from the templates directory can be re-enabled with a blueprint rule similar to:

    blueprint.add_url_rule(u'/robots.txt', 'robots', view_func=lambda: render('robots.txt'))

(Also, if the `robots.txt` file contains `{% ckan_extends %}`, that directive will need to be removed.)

[2022-06-22 02:48] duttonw commented on #6930
yes very strange

routing removed here: https://github.com/ckan/ckan/commit/8ee21484d3ceb6c0f0d9eb8d239a3a97baf2e5ac
jinja template parts removed here: https://github.com/ckan/ckan/commit/4a05d5cd09ada5abde1dd74ae545679eef61aad8

[2022-06-22 10:13] Deep-NEC commented on #5997
@jqnatividad I am interested to work on this issue, I tried to reproduced this issue on CKAN v2.9.5 and searching for null values with `datastore_search` in field mode is working fine using both "field is null" and "field = ''" . Can you please provide more information on how to reproduce this issue?

I have attached the screenshot for your reference.

![image](https://user-images.githubuserconten

[2022-06-23 06:38] ThrawnCA opened #6931 "Changing maintainer causes template error on activity stream 'Changes' link"
**CKAN version**

2.9

**Describe the bug**

Changing the Maintainer of a dataset will result in a template syntax error when the activity stream is viewed and the 'Changes' link is followed. This is caused by erroneous double commas in `ckan/templates/snippets/changes/maintainer.html`.

**Steps to reproduce**

- Create a public dataset.
- Edit the dataset and change the Maintainer field.
- View t

[2022-06-23 06:48] ThrawnCA commented on #6931
This appears to be resolved on master by https://github.com/ckan/ckan/commit/fb27f2a42cd9b579e1989271f5ecf1a3f4c4e35d but should be back-ported to 2.9.

[2022-06-23 06:49] #6931 closed

[2022-06-23 13:08] wardi commented on #6930
@amercader was there a reason for serving robots.txt from the public directory instead of a view?

[2022-06-23 21:33] avise1 opened #6934 ""order by" doesn't get set in project/bulk_process"
**CKAN version**
2.9.5

**Describe the bug**
In the endpoint project/bulk_process the "order by" button does not show how the data is being organized. It is stuck on "Relevance"

**Steps to reproduce**
Go to project/bulk_process endpoint and click different "order by" options

**Expected behavior**
The "order by" button should display how the data is being organized

**Additional details**
If poss

[2022-06-23 21:54] avise1 commented on #6934
Seems like this was fixed since the last patch release, which can see by this code: https://github.com/ckan/ckan/blob/master/ckan/views/group.py#L706

Versus 2.9.5 https://github.com/ckan/ckan/blob/2.9/ckan/views/group.py#L742

[2022-06-23 21:54] #6934 closed

[2022-06-24 18:11] wardi opened #6938 "Circle-CI not hilighting errors"
**CKAN version**
master

**Describe the bug**
on our circle-CI builds errors used to be called out and easy to find in the reports, this was done by exporting junit.xml along with our tests: `--junitxml=/root/junit/junit.xml` https://github.com/ckan/ckan/blob/bfcc37596bf37113c2ad3774dd3a0b5002e071ed/.circleci/config.yml#L25

**Steps to reproduce**
Have a test fail

**Expected behavior**
See the ex

[2022-06-25 12:28] hussnainwithss commented on #6910
@amercader have proposed a fix for this according to your guidelines. Please verify and merge. Thanks

[2022-06-26 03:43] smotornyuk commented on #6938
Yes, it's a change of how CircleCI detects JUnit-files. Now it discovers only files inside a subfolder of the directory that contains artifacts. I've added a fix in #6940

[2022-06-27 00:18] ThrawnCA commented on #5294
We have never had trouble with the Beaker session cache filling up before, despite running production instances that are rarely restarted, for years. However, since recently upgrading to CKAN 2.9 (less than a fortnight ago), we have started encountering incidents from our disks running out of inodes and needing to be manually cleaned out.

We will probably establish a cron job to start cleaning up

[2022-06-27 04:12] Nisha-1212 opened #6941 "Unable to view ngsi-view on CKAN UI"
**CKAN version**
2.7.2

**Describe the bug**
I am unable to view ngsi_view on CKAN UI.

**Steps to reproduce**
I have installed CKAN ckanext-right_time_context plugin and enbale it in ckan.ini file. I have followed the below link.
https://github.com/conwetlab/ckanext-right_time_context

1. Add the new resource using the the input parameters which are mentioned below.

URL: https://xxx.fs.in/orion/

[2022-06-27 13:11] ArqamFarooqui110719 opened #6943 "Not able to preview data on CKAN GUI when uploaded using link"
**CKAN version**
CKAN-2.7 (Docker)

**Describe the bug**
I am not able to preview data on CKAN GUI when uploaded using link.

**Steps to reproduce**

1. Uploaded the new resource using link (https://jsonplaceholder.typicode.com/todos) as below:

![resource_upload_using_link](https://user-images.githubusercontent.com/55977298/175947726-07ef8f9f-6f88-4685-954c-7113dc59d228.png)

2. After successful

[2022-06-27 13:19] kowh-ai commented on #5833
Other than deleting all containers, images, networks and volumes plus running docker-compose again to build everything, another option is to set up a bind mount for the `production.ini` file. You could make changes to the "local" file and back out anything that causes the CKAN container to not run

[2022-06-28 02:42] kyung064 opened #6945 "Can you import database api to ckan"
hi i have an old data portal which actually works quite perfectly, but since we want to use ckan can we intergrated the old database api with ckan? if can may i ask for sollution bcs i cant find one (pretty newbie) thanks

[2022-06-28 13:04] #6938 closed

[2022-06-28 14:27] Nisha-1212 commented on #6941
I have investigated in the source code that CKAN source code file  function resource_read(src/ckan/ckan/controllers/package.py) is not passing the token . This is the reason that ckanext-right_time_context extension is not redirecting the url with header.

[2022-06-29 04:08] ThrawnCA opened #6948 "Unsustainable Beaker cache growth on CKAN 2.9"
**CKAN version**

2.9 (tested on 2.9.0 and 2.9.5)

Does not occur on 2.8.8.

**Describe the bug**

Beaker session cache files are created on every unauthenticated request to non-API URLs. This did not occur under CKAN 2.8.

**Steps to reproduce**

* Create a CKAN 2.9 instance on a Linux system.
* Check total inode usage with `df -i`
* Send a request to /dataset, eg `curl http://my-site/dataset/`
*

[2022-06-29 04:46] ThrawnCA commented on #6948
Further testing shows that CKAN 2.8 does create session files for requests that go to Flask, such as `/user` or `/ckan-admin`

[2022-06-29 08:31] ThrawnCA commented on #6948
We're looking at resolving this on our own system by using Redis as our Beaker storage backend, with a suitable session expiry.

    beaker.session.timeout = 3600
    beaker.session.type = ext:redis
    beaker.session.url = <same as ckan.redis.url>

[2022-06-30 04:23] duttonw commented on #6948
something from https://github.com/ckan/ckan/issues/3196
and looking at
https://flask-session.readthedocs.io/en/latest/#quickstart

it seems a 'session' is created on each request and anon is for the single request and thrown. Since flask session has beaker backing it, it still creates a file, from what i can see, ckan could be tweaked to give anon a cookie/session that sticks around and reduces th

[2022-07-01 04:22] ThrawnCA opened #6951 "Updating config schema does not update sysadmin UI"
**CKAN version**

2.9

**Describe the bug**

If fields are removed from the configuration schema, eg by plugins implementing `IConfigurer`, the corresponding UI is still visible at /ckan-admin/config

**Steps to reproduce**

- Create an extension that implements IConfigurer and provides an `update_config_schema` function, returning an empty dictionary.
- Install and enable the extension.
- Log in

[2022-07-01 09:41] amercader commented on #6948
Found the culprit!

Here's the step by step rundown:

* At the end of each request, Flask checks if there is something in the session, and if so, saves it (in our case this means that Beaker will store a session file):

    https://github.com/pallets/flask/blob/0305d31cb8c62b26c1e073995114963c88ca962e/src/flask/app.py#L1887-L1888

* We would assume that in an anonymous request where nothing has be

[2022-07-01 10:15] duttonw commented on #6948
Good trouble shooting. Sounds like an easy fix 😊

[2022-07-04 13:43] Suryakandukuri commented on #4762
Will the same instructions work for docker installation of ckan? Please help

[2022-07-05 01:18] ThrawnCA opened #6955 "Page visibility is cached beyond login/logout"
**CKAN version**

2.9

**Describe the bug**

Accessing a restricted page such as a private dataset will cache the page; returning to that page will initially show the cached version even if access has changed due to login/logout.

**Steps to reproduce**

* Log in as a privileged user.
* Go to a private dataset.
* Log out.
* Use the 'Back' button to return to the dataset. The page will initially be

[2022-07-05 07:59] Zharktas commented on #6955
As far as I know, browsers don't reload the page when back button is pressed, they only execute the javascript that was already there. As CKAN uses server side rendered templates, instead of modern frontend rendering, there isn't much that can be done for cached pages.

[2022-07-05 09:46] amercader opened #6957 "Incorrect disclaimer displayed in latest docs"
It's showing this:

![Screenshot 2022-07-05 at 11-40-16 Overview — CKAN 2 10 0a0 documentation](https://user-images.githubusercontent.com/200230/177300667-2782f892-e86a-4331-aecd-6999dbd019fa.png)

When it should be showing this:

![Screenshot 2022-07-05 at 11-45-33 Overview — CKAN 2 10 0a0 documentation](https://user-images.githubusercontent.com/200230/177300701-74056bc0-98f0-4abb-8133-76bcc4201a

[2022-07-05 15:30] psammarco opened #6959 "services.ckan.depends_on contains an invalid type, it should be an array"
**CKAN version**
git latest

**Describe the bug**
This is a issue with the **docker-compose.yml** rather than a bug with the platform code.
When building a docker image using the default **docker-compose.yml** file docker-compose throws out the following error
[code]

**Steps to reproduce**
docker-compose up -d --build

**Additional details**
[code]

I would appreciate your help in figuring this o

[2022-07-05 15:34] psammarco commented on #6959
nevermind, I realised I had to option to switch to a stable branch and it works now. Sorry!

[2022-07-05 15:34] #6959 closed

[2022-07-05 21:41] ThrawnCA commented on #6955
The ckanext-datarequests example doesn't use the Back button, though...

[2022-07-05 23:18] wardi commented on #6955
@ThrawnCA If this is a concern for your site one fix could be to use response headers to disable caching for all pages when a user is logged in. Maybe that's what web sites do when they have a "I am logging in from a shared computer" option on their login screens.

[2022-07-06 06:00] robin-NEC commented on #6548
Hi @amercader, @Zharktas , I would like to work on this issue.

[2022-07-06 07:12] Zharktas commented on #6955
The login workflow and cookie settings might also relate. If the workflow is doing proper redirects and you are using external authentication service, you need to use Lax in `who.samesite` as Strict prevents sending the cookie after redirects in external service.

[2022-07-06 07:21] Zharktas commented on #6927
The default schema shouldn't be changed to accommodate individual needs as the change would then be applied to everyone who hasn't customized their schemas. This change can already be done by customizing the schema in your extension.

[2022-07-06 07:21] #6927 closed

[2022-07-06 11:03] amercader opened #6962 "Document new login behaviour and configuration options"
After the titanic work by @TomeCirun in #6560 we need to document it properly to ensure a smooth transition

- [ ] Add a new "Authentication and Sessions" page to the docs, including an overview of how login works, ways to extend if with `IAuthenticator` as well as more generally how the sessions work, default and alternative backends and configuration, relation to logged in users etc. We can reus

[2022-07-06 22:21] ThrawnCA commented on #6955
There's no external authentication provider at https://www.data.qld.gov.au which is where we're encountering this.

[2022-07-11 14:45] KatiRG commented on #6308
Hi, has this issue been resolved? We are experiencing the same problem and we're not sure if there is a bug in ckan 2.9 to connect to a remote postgres server, or if the roles were inadvertently interfered with. To test the latter, we tried creating a brand new role as per [this user](https://github.com/geosolutions-it/C195-azure-workspace/issues/27), but this fails on account of the `@`, i.e.:

[

[2022-07-12 03:14] Gauravp-NEC commented on #6874
@TheoStefou @amercader , I did investigation on this issue and found that if  `ckan.hide_activity_from_user = "user" `, then the user will not be able to see his own activities in activity stream. The activity stream is hidden for user itself.

[2022-07-12 03:29] saikarthikp9 commented on #2475
[ckanext-customizer](https://github.com/saikarthikp9/ckanext-customizer)
Use this extension to replace the terms "group" and "organization" in English. It is a hacky solution. PR/requests are welcome!

[2022-07-12 03:32] saikarthikp9 commented on #5331
[ckanext-customizer](https://github.com/saikarthikp9/ckanext-customizer)
Use this extension to replace the terms "group" and "organization" in English. It is a hacky solution. PR/requests are welcome!

[2022-07-12 08:54] maxclac opened #6965 "Newly created dataset not listed in the Solr Index"
**CKAN version**
2.9.5

**Describe the bug**

The list of datasets displayed at the `/dataset` endpoint of my CKAN instance is not refreshed automatically each time I create a new dataset, although the new dataset appears correctly in the database. It is only listed when the search index is updated with `ckan -c /etc/ckan/default/ckan.ini search-index rebuild`. The only possibly related error mess

[2022-07-12 09:00] #6893 closed

[2022-07-12 12:26] Chealer commented on #5331
Thank you @saikarthikp9 but since this must be indeed quite hacky, I suggest to extend your README to refer those only interested in renaming "groups" to ckanext-categroupy.

[2022-07-14 07:49] robin-NEC commented on #6548
Hi @amercader , I've proposed the changes as suggested. Please let know if there are any changes required.
Thanks.

[2022-07-14 10:58] MRFROG2106 opened #6971 "Data Repositorio"
- Esta vida me encanta

[2022-07-14 11:26] #6971 closed

[2022-07-14 12:39] KatiRG commented on #6308
Followup:

- We found that a new postgres user should not be defined with the `@host` domain name, i.e.:
`$ psql -U $arg1@$arg3 -h $arg4 postgres -c "CREATE ROLE "datastore_ro" NOCREATEDB NOCREATEROLE LOGIN PASSWORD '${arg5}';"`
- `read_connection_user` in [posgres.py](https://github.com/zzzeek/sqlalchemy/blob/fc5c54fcd4d868c2a4c7ac19668d72f506fe821e/lib/sqlalchemy/engine/url.py#L28) is obtained f

[2022-07-14 21:55] tino097 commented on #2660
Completed in #6311

[2022-07-14 21:55] #2660 closed

[2022-07-14 21:57] tino097 commented on #3119
Flask migration completed

[2022-07-14 21:57] #3119 closed

[2022-07-14 22:06] #3215 closed

[2022-07-14 22:18] tino097 commented on #3511
Old CKAN version, if the issue is still relevant we can reopen it

[2022-07-14 22:18] #3511 closed

[2022-07-15 05:19] Gauravp-NEC commented on #4415
I have updated and mentioned `Express Loader` in DataStore Extension document in PR https://github.com/ckan/ckan/pull/6972. Do we need to completely obsolete the `DataPusher`?

[2022-07-15 06:20] ThrawnCA opened #6974 "CKAN 2.9 is not compatible with Python 3.9, should be documented"
**CKAN version**

2.9

**Describe the bug**

CKAN 2.9 relies on Markdown 2.6.7, which is incompatible with Python 3.9 (see https://github.com/Python-Markdown/markdown/issues/953). This should be documented at http://docs.ckan.org/en/2.9/maintaining/installing/install-from-source.html

**Steps to reproduce**

- Install Python 3.9.
- Install CKAN 2.9.5 from source.
- Attempt to install the CKAN `req

[2022-07-15 10:58] thatguylor commented on #4746
Hi @MichaelHarmsTIB , from my experience, CKAN has many ways to output Internal Server Error 500, one of the ways is through Apache SOLR, you might want to check your SOLR cores and see if they are configured correctly, especially if you are not running the default package install - (things like managed-schema, solrconfig.xml and solr.xml are the usual suspects)

Next, i saw in your `ckan.ini` con

[2022-07-15 14:30] JVickery-TBS opened #6976 "USWGI fails to serve app due to circular import"
**CKAN version**
2.10 / master branch

**Describe the bug**
Serving the app with uwsgi fails due to circular import of ckan.model.user

**Steps to reproduce**
Using the wsgi.py file provided in master, serve the app with uwsgi:
[code]

**Expected behavior**
UWSGI loads the ckan app via the provided wsgi.py script. The ckan app is then accessible from the above http port (5001)

**Additional detail

[2022-07-16 11:38] TomeCirun commented on #6974
You can always find the supported python versions if you look at the setup.cfg/setup.py in any CKAN versions, but you are right, that should be in the ckan docs too.

 ![image](https://user-images.githubusercontent.com/72216462/179323392-e1aa2472-480a-4762-9e05-218276bbfd25.png)

[2022-07-16 15:17] TomeCirun commented on #3922
@kabeza i tested it yesterday and it works like a charm in both CKAN 2.9/2.10, @tino097 @amercader we should close this.

[2022-07-17 13:43] #3922 closed

[2022-07-18 04:20] robin-NEC commented on #6004
Hi @amercader , I agree with your first suggestion. I've create a error response when the `type` is different by replacing
`data_dict['type'] = group.type` with:
[code]
The response is as below when the request is made for the type change:
[code]
But getting the following errors when running the test cases:
[code]
Please let me know if my approach is correct or I should take a different approach f

[2022-07-18 22:32] tpgmartin opened #6977 "Extend User Model"
How do I add an attribute to the existing CKAN user model?

[2022-07-19 08:45] kowh-ai commented on #6976
@JVickery-TBS - I just tried this on a CKAN **2.9.5** version I had lying around and it worked fine. Are you able to try 2.9.5?

[2022-07-19 14:10] JVickery-TBS commented on #6976
@kowh-ai Yes, I do not have an issue with running the earlier releases.

It seems to be this line.
https://github.com/ckan/ckan/blob/master/ckan/plugins/interfaces.py#L18

Changing it from `from ckan.model import User` to `from ckan.model.user import User` has fixed it for me locally.

I am also running python 3.9.2, not sure if that would affect CKAN master?

[2022-07-19 20:40] TomeCirun commented on #6806
@frafra I could not reproduce the error on `CKAN 2.10, 2.9, and dev-v2.9,` I tried with custom dataset schema via `ckanext-scheming`, then with the core `example_idatasetform`, can you please give more info on how to reproduce the same behavior you had?

Thanks

[2022-07-20 04:18] robin-NEC commented on #6974
Hi @ThrawnCA , I would like to work on this issue.

[2022-07-20 13:06] wardi commented on #6974
would be much better to fix the incompatibility. python 3.9 is common these days

[2022-07-20 13:20] amercader commented on #6974
I agree, seems like an easy fix changing the version pinned. We should test the latest released version against different Python versions to catch stuff like this. Maybe not in the main repo, but on a separate one where we run a test matrix before each release

[2022-07-21 04:40] Gauravp-NEC commented on #6795
@jannettim @Zharktas , I am interested to work on this issue.

[2022-07-21 13:41] amercader commented on #6977
There is still no full support for scheming-like customization of the user schema (we need `IUserForm` for that, https://github.com/ckan/ckan/issues/6070). But the underlying `plugin_extras` that support this are already in place so with a bit of fiddling you can create custom user fields from an extension.

I wrote about the approach that needs to be followed here:

https://github.com/GenderDataL

[2022-07-21 14:45] #6172 closed

[2022-07-22 13:58] tpgmartin commented on #6977
@amercader many thanks for your response. The link to the ckanext-genderdatalab returns 404 for me, can you please reshare the issue? Thanks

[2022-07-22 14:06] amercader commented on #6977
Apologies, didn't realise it was a private repo, here's a copy:

Sadly extending the user schema (ie metadata fields associated with a user object) is severely lacking behind datasets and orgs/groups, where thanks to [ckanext-scheming](https://github.com/ckan/ckanext-scheming) it's just a matter of editing a JSON/YAML file. That doesn't mean it's not possible, it will just take a bit more code to

[2022-07-22 14:14] #6977 closed

[2022-07-25 11:22] amercader opened #6987 "Inconsistent behaviuor in non-authorized errors (2.10)"
**CKAN version**
2.10 (master)

**Describe the bug**

Following up from https://github.com/ckan/ckan/pull/6560, here's what happens when a user is not authorized to perform an action on the UI:

| CKAN Version | Logged in user | HTTP status, result |
| --- | --- | --- |
| <= 2.9 (tested 2.9 and 2.8) | No | 403 - Not authorized message
| <= 2.9 (tested 2.9 and 2.8) | Yes | 403 - Not authorized mess

[2022-07-25 13:27] wardi commented on #6987
another option is to keep the 403 but render a login page on the error response. (bonus points for including a hidden parameter in the form to redirect to the original page after login)

[2022-07-26 00:04] ThrawnCA commented on #5822
This should be backported to CKAN 2.9 under Python 2.

[2022-07-26 00:07] wardi commented on #5822
@ThrawnCA I've added the backport label to the PR.

Also.. newlines and semicolons in headers?? you monster.

[2022-07-26 00:22] ThrawnCA commented on #5822
Thanks for the fast response!

Heh. I don't own the data, I just help maintain the portal.

[2022-07-26 09:13] TomeCirun commented on #6987
@amercader, @wardi it's true that anonymous users get redirected to the login page if 403 happens, but after they log in, ckan redirects them back to where they were and shows 403 if not authorized.

Isn't that what we needed?

[2022-07-26 13:36] amercader commented on #6987
@TomeCirun We discussed this in the dev meeting. It's probably best not to change the status code returned between CKAN versions (I had some tests broken because of this). But we can make easier for non-logged in users to login adding a link to the login page to the 403 or 401 error pages (embedding the form would make things more complicated for extensions overriding the authentication logic). So

[2022-07-27 06:44] TomeCirun commented on #6987
Everything coming from the dev meetings makes sense :), btw I remember we wanted the same behavior as on 2.9, you can see a comment from @pdelboca [here](https://github.com/ckan/ckan/pull/6560#issuecomment-1111859579 ) asking for that change, maybe we can check this before going any further?

@amercader

[2022-07-27 11:03] amercader commented on #6987
@TomeCirun I think extensions should gradually migrate to emit 403s instead of 401s to be consistent with the CKAN core behaviour so let's go ahead with the plan (cc @pdelboca)

[2022-07-27 16:27] BonaBeavis commented on #6054
Why is this issue closed? It still exists with  ckan 2.9.5 and py3.

[2022-07-28 04:47] Gauravp-NEC commented on #6779
@tomeksabala , I am interested to work on this issue. Can you please provide exact steps to reproduce this behaviour? Thanks

[2022-07-28 11:56] amercader commented on #6880
Looks like this is [not going to get fixed in pytest](https://github.com/pytest-dev/pytest/discussions/10005), so let's just recommend rewriting the tests:

https://github.com/ckan/ckan/wiki/CKAN-2.9-to-2.10-migration-tips#test-classes-setup-methods-not-firing-or-firing-in-wrong-order

[2022-07-28 11:56] #6880 closed

[2022-08-01 11:24] #6948 closed

[2022-08-01 11:26] #2628 closed

[2022-08-02 05:23] #5679 closed

[2022-08-02 05:24] #6444 closed

[2022-08-03 01:56] florianm opened #6995 "flask-debugtoolbar does not scroll"
**CKAN version**
2.10.0a0

**Describe the bug**
A clear and concise description of what the bug is.
The [flask-debugtoolbar](https://github.com/flask-debugtoolbar/flask-debugtoolbar) (FDT) does not scroll, as CKAN is affected by https://github.com/flask-debugtoolbar/flask-debugtoolbar/issues/181.
A fix is in the making at https://github.com/flask-debugtoolbar/flask-debugtoolbar/pull/182.

**Steps

[2022-08-03 12:15] flaviofrancisco opened #6996 "Error when trying to install CKAN in a VM running Ubuntu 20.4"
**CKAN version 2.9**

I am stuck trying to install CKAN from a package. The following error is happening during the installation:

[code]

**Steps to reproduce**
- I have created a new Linux 20.4 VM instance in a Hyper-V
- Followed the steps 1 to 3 from the CKAN installation guide from package and
- Run the following command:
[code]

**Expected behavior**
Install CKAN from package.

**Additional d

[2022-08-04 07:45] flaviofrancisco commented on #6996
Never mind, I was using Ubuntu 20.04 Jammy Jellyfish. It should be Ubuntu 20.04.4 LTS (Focal Fossa).

[2022-08-04 07:45] #6996 closed

[2022-08-04 11:21] sagargg opened #6998 "Extra resource metadata fields are being lost when it is updated via UI."
**CKAN version v2.8, v2.9 , v2.10  and Main**

**Describe the bug**
Extra resource metadata fields are being lost when it is edited via UI.
https://github.com/ckan/ckan/blob/master/ckan/views/resource.py#L236

**Steps to reproduce**
1. Add extra fields/metadata to the resource using `resource_update` or `resource_patch` API and confirm it has been added via resource_show API.
2. Update any resourc

[2022-08-04 13:09] #6795 closed

[2022-08-04 21:01] TomeCirun commented on #6998
Yes, I investigated a bit around this, this [line](https://github.com/ckan/ckan/blob/568e28fe43d452709b1fdd6667e6d09f2b09a490/ckan/logic/action/update.py#L107) is causing the problem, data_dict contains all values from the resource form and since it doesn't have custom fields, it would delete the extra metadata fields on every update.
One way to avoid this is by your suggestion, instead of resourc

[2022-08-04 21:06] wardi commented on #6998
changing to resource_patch for resource editing would be an API change that users may be relying on (e.g. with dynamic fields not submitted when they shouldn't be saved) It would be better to add these as fields to your schema and hidden inputs in the form.

[2022-08-04 21:31] TomeCirun commented on #6998
@wardi we already have extras in our resource schema, i just checked out, they are saved in resource.extras
![image](https://user-images.githubusercontent.com/72216462/182956103-b67a0324-59bb-443e-85df-281bc57cc935.png)
i will need to add only the hidden inputs in the form right?

[2022-08-04 22:52] ThrawnCA commented on #5822
Incidentally, the semicolons+newlines make more sense when the data is an Excel spreadsheet. I've seen *bulleted lists* in header rows before...

[2022-08-05 02:03] sagargg commented on #6998
Hi @wardi,   are you suggesting this shouldn’t be fixed in core code but add hidden extra input fields in the extension template per project requirement?

[2022-08-05 06:56] muhammed-ajmal commented on #6995
I would like to work on this issue @wardi

[2022-08-05 13:06] wardi commented on #6998
@sagargg yes that's the backwards-compatible way to add resource fields that aren't changed by the form.

[2022-08-08 14:38] wardi commented on #6976
@JVickery-TBS I get the same error when using okfn/docker-ckan against ckan master. Would you submit a PR for this fix?

[2022-08-08 18:55] pdekraker-epa opened #7000 "Site logo missing when specified in ckan.ini"
**CKAN version**
Master - 2.10a

**Describe the bug**
The site logo image is not displayed. I have not set one via the sysadmin config UI, but do have a ckan.site_logo entry in my ckan.ini, a configuration that worked in 2.9.

**Expected behavior**
I expect the provided logo to be displayed. Instead text for the site title is shown. Looking at the header.html file it appears g.site_logo  may not b

[2022-08-09 11:23] flaviofrancisco opened #7002 "Trying to create a new resource for an existing dataset."
**CKAN version**
2.9.5

**Describe the bug**
Trying to create a new resource for an existing dataset.

**Steps to reproduce**
curl --location --request POST 'http://localhost/api/action/resource_create' \
--header 'Authorization: xxxxxxxxxxxxxxxxxxxxxxxxxx' \
--form 'package_id="dataset-from-api-ii"' \
--form 'upload=@"/C:/Users/User/Downloads/book.pdf"'

**Expected behavior**
Attach the resource

[2022-08-09 11:28] flaviofrancisco commented on #7002
I found the problem. My dataset has no creator name as the error mentioned aboved.

[2022-08-09 13:16] Zharktas commented on #7000
It seems to work for me though, something related was previously discussed https://github.com/ckan/ckan/issues/6111,

but if it can be reproduced, this should be a simple fix.

[2022-08-09 14:31] JVickery-TBS commented on #6976
@wardi @kowh-ai PR created https://github.com/ckan/ckan/pull/7005

[2022-08-09 14:32] pdekraker-epa commented on #7000
I have dug a little further and there seems the to be a need for documentation and a potential secondary issue.

First, here is what my admin page looks like which I think helps explain the behavior I observed
![Screenshot (1)](https://user-images.githubusercontent.com/47568003/183669945-484b7820-4345-4e55-a2ea-aa2885335b62.png)

It appears the admin config page overrides the settings in ckan.ini

[2022-08-09 17:56] #4147 closed

[2022-08-11 18:34] wardi opened #7008 "ckan generate config debug issue"
**CKAN version**
master

**Describe the bug**
`ckan generate config` exports a configuration including `debug = false` in the `[app:main]` section of the ini file. This setting overrides any debug setting in `[DEFAULT]` which is where it normally occurs, and where okfn/docker-ckan adds the `debug = true` setting for development ckan environments

**Steps to reproduce**
Steps to reproduce the behav

[2022-08-11 19:20] wardi opened #7009 "IConfigurer plugin load order"
**CKAN version**
(all)

**Describe the bug**
`update_config` runs through all IConfigurer plugins from first to last calling `plugin.update_config`. The pattern for other interfaces is that the "first plugin wins", but this is difficult to implement when later plugins override values from earlier ones in the list.

**Steps to reproduce**
Enable two plugins that set the same config value using ICon

[2022-08-12 02:42] pdekraker-epa commented on #7000
@Zharktas here is some more detail

**Steps to recreate issue**

1. Set site logo image in ckan.ini to a partial file path that does _not_ start with '/base/images/'
2. Go to the sysadmin config page and click reset - the logo should work
3. Click Update Config and the image will be broken.

**My Analysis**
I did a little digging to see if this was an issue I could handle. It appears the logic on

[2022-08-12 06:00] alexmorev commented on #6995
Have the same problem. Actually the issue is in fixed position of #flDebug .flDebugPanelContentParent selector. Change it to absolute in your browser inspector and it'll work. Or you should wait for someones merging.

[2022-08-12 06:21] florianm commented on #6995
That upstream PR seems to be close to being merged. On  the CKAN side, the fix could be as simple as bumping FDT version.

[2022-08-12 07:42] #6158 closed

[2022-08-14 18:36] frafra commented on #5369
It seems to work on demo.ckan.org.

[2022-08-14 20:03] Chealer commented on #5369
It does seem to work. Thank you @frafra , I will assume that this was resolved.

[2022-08-14 20:03] #5369 closed

[2022-08-14 22:45] ThrawnCA commented on #6158
Would it be feasible for an extension to support both old and new CKAN versions with a snippet like this?

    {% if csrf_token is defined %}
      {{ csrf_token() }}
    {% endif %}

[2022-08-15 08:40] #6773 closed

[2022-08-15 08:56] frafra commented on #5369
I think so. I still have it, but I think it could be related to ckanext-scheming.

[2022-08-16 13:20] amercader commented on #7009
We decided to reverse the order in which `IConfigurer` plugins are read to be consistent with other hooks. Add a changelog entry.

[2022-08-16 15:17] Gauravp-NEC commented on #6995
@florianm , On CKAN side where we need to bumping FDT version?

[2022-08-16 21:28] TomeCirun commented on #7009
Great, I can work on this one :)

[2022-08-17 01:15] florianm commented on #6995
@Gauravp-NEC
I would review the contrib guides for process and do a code search to see whether a PR here would need anything more than just bumping the fdt version in the dev requirements.

[2022-08-17 09:10] #6976 closed

[2022-08-17 09:11] kowh-ai commented on #6976
PR: https://github.com/ckan/ckan/pull/7005 Merged

[2022-08-17 09:39] Deep-NEC commented on #6111
@Zharktas Did issue #6111 is similar to issue #7000?

[2022-08-17 11:05] amercader opened #7016 "Provide a mechanism to support CSRF on extensions that support older CKAN version"
@TomeCirun @pdelboca

After #6863, [best practices](https://github.com/ckan/ckan/blob/master/doc/extensions/best-practices.rst) say:

This won't work on CKAN<=2.9 because that macro doesn't exist. Similarly, trying to add the input directly like in [here](https://github.com/ckan/ckan/pull/6863/files#diff-09d2291ff01f465bfadf71b865872b83bd0301fc32f72e3fc96964a74a1619b0R7) will fail because the `csr

[2022-08-17 11:17] amercader commented on #5605
Done in master (future 2.10): http://docs.ckan.org/en/latest/maintaining/data-viewer.html

[2022-08-17 11:17] #5605 closed

[2022-08-17 12:03] amercader commented on #7016
Forgot to say that this should be validated on everyone's favourite forms extension, ckanext-scheming!

[2022-08-17 14:26] JVickery-TBS opened #7017 "IFacets implementation with organization_facets not present in v2.9 (backport master)"
**CKAN version**
Version 2.9

**Describe the bug**
`organization_facets` is unused in the group view: https://github.com/ckan/ckan/blob/2.9/ckan/views/group.py#L375

**Steps to reproduce**
Steps to reproduce the behavior:

- Have a plugin class which implements `IFacets`
- Define `organization_facets` method in plugin class and return a custom dict of facets
- Try to access the custom facets in an

[2022-08-18 09:16] amercader commented on #7017
https://github.com/ckan/ckan/pull/6682 is marked for backporting, so it will be available in the next patch release

[2022-08-18 09:16] #7017 closed

[2022-08-18 14:31] amercader commented on #7016
@TomeCirun Does the above make sense? would you have time to work on it?

[2022-08-18 15:04] TomeCirun commented on #7016
Yes @amercader, I can work on this

[2022-08-19 00:15] florianm commented on #6995
[Upstream is merged](https://github.com/flask-debugtoolbar/flask-debugtoolbar/pull/182), pending a new release of FDT.

[2022-08-19 07:52] hongjie123 opened #7019 "When I use "http://URL/dataset/page", the dataset page fails to display, showing "504-time out"."
When I use "http://URL/dataset", the page works fine and the list of datasets is displayed successfully..
![image](https://user-images.githubusercontent.com/54384385/185568952-587bf9dc-0659-483b-9b07-72fc7af2404f.png)

But, When I use "http://URL/dataset/page", the dataset page fails to display, showing "504-time out".
![image](https://user-images.githubusercontent.com/54384385/185570984-ffc2e378-

[2022-08-19 07:55] hongjie123 commented on #7019
I get the same error when I click on a link to a dataset. " 504 Time-out"

[2022-08-22 05:26] Gauravp-NEC commented on #7019
@hongjie123, I have use "http://url/dataset/page" and the dataset page shows "404 Not Found" which is a normal behavior in CKAN.

![image](https://user-images.githubusercontent.com/66116382/185845460-eba4d86e-084e-427a-b369-89525c060587.png)

[2022-08-22 06:34] hongjie123 commented on #7019
@Gauravp-NEC , He means the URL of a specific data set. For example: http://47.93.14.246/dataset/ckgg.
![image](https://user-images.githubusercontent.com/54384385/185854509-163dceb1-e34d-4980-8373-19a4c76e210f.png)

[2022-08-22 06:45] Gauravp-NEC commented on #7019
@hongjie123 , You are getting "504 Time-out" due to you environment related issue and it is not related to CKAN.

[2022-08-22 09:24] hongjie123 commented on #7019
@Gauravp-NEC , The dataset page cannot be displayed.
![image](https://user-images.githubusercontent.com/54384385/185887593-0c332d30-a44c-4671-a975-308395335a66.png)

[2022-08-22 16:50] hubertokf commented on #5722
I'm having this issue in my current desktop. Just installed using the [install from docker compose](https://docs.ckan.org/en/2.9/maintaining/installing/install-from-docker-compose.html) documentation.

[2022-08-22 20:18] #7002 closed

[2022-08-23 06:40] hongjie123 commented on #7019
@Gauravp-NEC , I found the following error in the CKAN log file:
![image](https://user-images.githubusercontent.com/54384385/186088094-94171855-5dcc-4b5a-9e76-f6aeadb29797.png)
![image](https://user-images.githubusercontent.com/54384385/186088159-b3b16e9a-f1a5-499b-9fef-054bbff25bc7.png)
![image](https://user-images.githubusercontent.com/54384385/186088234-73482547-f892-4c4b-a90c-04acd15da761.png)

[2022-08-23 12:24] Gauravp-NEC opened #7026 "CSRF Protection changes not applied on BS3 template"
**CKAN version**
Master

**Describe the bug**
This issue originates from https://github.com/ckan/ckan/pull/6863. Changes are not applied on BS3 template.

**Expected behavior**
Changes should be applied on BS3 template.

[2022-08-23 12:26] Gauravp-NEC commented on #7026
If dev team agree to have work on this issue. I will submit the PR. Thanks

[2022-08-23 12:33] tino097 commented on #7026
@Gauravp-NEC Bootstrap 3 support will be removed for CKAN 2.10 where CSRF protection changes are applied.

[2022-08-23 13:43] amercader commented on #7026
@tino097 Are we removing the Bootstrap 3 templates from CKAN 2.10? I thought we would keep them for a version and then remove it to allow sites to migrate:

https://github.com/ckan/ckan/blob/34401f000846aa59559c77e755e56656cf1355f9/ckan/config/environment.py#L179

If that's the case then forms in templates-bs3 also need the `{{ h.csrf_input() }}` snippet

[2022-08-23 13:55] amercader opened #7028 "Lock down cookie based authentication on API endpoints"
Discussed on 2022-08-23 dev meeting:

1. Default behaviour: discard cookie based authentication in the API if it doesn't include the CSRF token
    - Is this equivalent to remove the `@csrf.exempt` decorator [here](https://github.com/ckan/ckan/blob/34401f000846aa59559c77e755e56656cf1355f9/ckan/views/api.py#L212)?
2. Add new configuration option: turn off entirely cookie based authentication on the

[2022-08-23 14:25] Gauravp-NEC commented on #7026
@amercader , If forms in templates-bs3 also need the `{{ h.csrf_input() }}` snippet then I will do this activity.

[2022-08-23 14:54] tino097 commented on #7026
My bad https://github.com/ckan/ckan/pull/6307#issuecomment-995863296
@Gauravp-NEC you can provide the solution for this

[2022-08-23 18:42] wardi opened #7031 "prepare_dataset_blueprint: support dataset type"
**CKAN version**
master

**Describe the bug**
IDatasetForm.prepare_dataset_blueprint is silently ignored when `type='dataset'`

**Steps to reproduce**

**Expected behavior**
It should be possible to override dataset-type views the same way we can override other dataset types

**Additional details**

[2022-08-23 21:34] wardi opened #7034 "datastore primary key retrieval"
**CKAN version**
all

**Describe the bug**
It's possible to set primary key column(s) with `datastore_create` but none of the endpoints will tell you about them

**Steps to reproduce**
assign primary key column(s)

**Expected behavior**
`datastore_search` reports on the fields returned and which ones are primary keys along with results

**Additional details**

[2022-08-24 06:39] bpeXX opened #7037 "Downloading data with null value as JSON causes an Internal Server Error"
**CKAN version**
2.8.4 and 2.8.10

**Describe the bug**
When downloading data (which is stored in the datastore) as JSON, an internal server error occurs if the data contains a null value. The error occurs when each row has at least one column with a null value.

**Steps to reproduce**
The bug can be reproduced via ckan API:
1. Create resource: http://myserver:myport/api/3/action/resource_create

[2022-08-25 01:56] Gauravp-NEC commented on #7026
@tino097 , Yes I will update the BS3 template. I will submit a PR.

[2022-08-25 02:16] Gauravp-NEC commented on #7026
@amercader @tino097 , Please assign this issue to me. Thanks:)

[2022-08-25 10:34] #6987 closed

[2022-08-25 10:35] #7016 closed

[2022-08-25 10:47] #6962 closed

[2022-08-25 12:44] #6792 closed

[2022-08-25 13:10] #7009 closed

[2022-08-25 14:11] #7034 closed

[2022-08-27 20:21] Khalil-Alhadidi commented on #3441
Is it fixed yet ?
I'm using CKAN 2.8.3 and I'm trying to find a workaround for this issue ? all user_list is exposed without authentication publicly; is there a way to hide it or even disable it ?
@amercader

[2022-08-27 20:47] ThrawnCA commented on #3441
You can set `ckan.auth.public_user_details` to False, but bear in mind that it will hide other user APIs as well.

Other than that, there's nothing in the core. Feel free to try out ckanext-qgov or just copy some of its functions from https://github.com/qld-gov-au/ckanext-qgov/blob/8954a146222186ce0059678d5ed012ee8d7f5bd0/ckanext/qgov/common/auth_functions.py#L118

[2022-08-27 20:56] ThrawnCA commented on #4361
Is the behaviour implemented by [ckanext-qgov](https://github.com/qld-gov-au/ckanext-qgov/)  something that might be merged into core if we offered it in a pull request?

- Organisation admins and group admins (and sysadmins) can access `user_list`; others cannot. This also controls access to the user/autocomplete API.
- Admins (including both sysadmins and group/org admins) can call `user_show` f

[2022-08-30 16:18] MichaelHarmsTIB opened #7051 "MO-File for Translation compiled not correct"
**CKAN version**
2.9.2
**Describe the bug**
I followed the instruction on:
https://docs.ckan.org/en/2.9/contributing/i18n.html
My locale is **de**
I created a new Plugin with a po-file. I wrote msgid for english and msgstr for german.
Example:
[code]
My Babel version is 2.10.3.
Then:
python setup.py compile_catalog --locale de
But with this Babel version only the header of *.mo is generated.
Befor

[2022-08-30 17:08] alexmorev opened #7052 "Text view freezing on Android devices"
**CKAN version**
2.9.5

**Describe the bug**
The problem is that when viewing the pages in CKAN with the “Text View” on an Android device, after 15-20 seconds on the page the browser will lock up and not work until the app is restarted.

This problem does not appear to occur on iOS but it has been tested on a number of Android devices and all of them have the issue.

**Steps to reproduce**
1. Usin

[2022-08-31 14:54] #7026 closed

[2022-08-31 15:43] MichaelHarmsTIB commented on #7051
I managed to compile without errors.
But my example here:
` <li class="list-inline-item normal"><a href="{{ h.url_for('/datenschutz') }}">{% trans %}Datenschutzerklärung{% endtrans %}</a></li>`
and in po:
`#: ckan/templates/footer.html:25
msgid "Privacy Statement"
msgstr "Datenschutzerklärung"`
Is not working, no translation.

[2022-08-31 16:47] MichaelHarmsTIB commented on #7051
What means:
`ckan.po:2158: positional format placeholders are unbalanced` ?

[2022-09-01 07:36] Deep-NEC commented on #6052
Hi @amercader I have reproduced this issue and I am working on it.

[2022-09-01 12:12] Gauravp-NEC opened #7053 "Block `extra_fields` empty in edit_user_form template-bs3"
**CKAN version**
Master
**Describe the bug**
The block `extra_fields` is empty in edit_user_form template-bs3
Ref :https://github.com/ckan/ckan/blob/master/ckan/templates-bs3/user/edit_user_form.html#L26-L27
**Expected behavior**
Should include extra fields code like edit_user_form template.

[2022-09-01 13:02] amercader commented on #7053
Sure, go ahead

[2022-09-01 13:16] Zharktas commented on #7051
You should be following extension translation guide and not the core contribution guide https://docs.ckan.org/en/2.9/extensions/translating-extensions.html

You also should generate the translation files using `extract_messages` instead of writing them manually, by the errors you are receiving, something is broken somewhere in your templates or the translation files. I'm converting this to a discu

[2022-09-01 13:19] amercader commented on #7028
@TomeCirun you were kindly volunteered to work on this by @tino097 :)

Let's start with the first point. I think what we need to do is:

1. Remove the `@csrf.exempt` check from the API `action` endpoint. This will cause all client side JS API calls to fail, so
2. We need to update the JS calls to include the CSRF header, like you did for the `follow` module on #6863 . Remember to move the `addCsrf

[2022-09-01 14:27] amercader commented on #6974
@smotornyuk @ThrawnCA got bitten by this and I updated the Markdown requirement on `dev-v2.9` (https://github.com/ckan/ckan/commit/46e443dedebedc40895bbfd63618f4200b21d086) so will be on 2.9.6. [Tests pass](https://app.circleci.com/pipelines/github/ckan/ckan/4167/workflows/04bf4ea7-b842-4ef7-b3f4-490362280745/jobs/12054/parallel-runs/3?filterBy=ALL)

[2022-09-01 14:27] #6974 closed

[2022-09-02 12:14] azambranogalbis commented on #5155
Hi. I am reproducing the same issue on Windows 10 with Ubuntu wsl2 and docker desktop. Just noticed that the problem may be related with the following:

https://github.com/docker/for-win/issues/6875

In this case, it seems volumes are not managed as in Linux, and the "production.ini" file cannot be directly accessed from the terminal. A workaround in this case would be connecting to the ckan conta

[2022-09-05 22:30] Mohab25 commented on #6875
@TomeCirun maybe not the same issue but slightly relevant, having a custom scheming Select field that have "others" as an option, once selected it's shows a text input that takes data from user, once there is a submit, if you logged the data  it shows the custom field value, but if logged the result of package_create action or package_update action the custom field value isn't their, more that it'

[2022-09-06 03:37] ThrawnCA commented on #4663
We're using XLoader, but there is still a race condition on the `datastore_active` flag.

Notably, if you create multiple resources in a new draft dataset, using the "Save and add another" button, then every resource except the last one will encounter this behaviour, where the datastore is populated but the datastore_active flag ends up being false.

[2022-09-06 10:55] Suryakandukuri commented on #5009
@wardi Can you please help with a solution on this? I have already tried datastore set-permissions. Maybe I missed something, but this issue persists.

Thanks, Surya

[2022-09-06 12:56] #5009 closed

[2022-09-06 14:09] teunoknmi opened #7060 "Adding custom response headers and customize cookie settings"
We have a requirement to add some headers to the CKAN response and change the settings on some of the cookies.
Is there a part in the docs somewhere on how to do this on a low level (I could not find it)? I am struggling on how to do this. Especially the header part I have not found.

I tryed something like:
[code]
but this does not seem to work.
We are running version 2.9.

Thanks in advance.

[2022-09-07 11:13] #7053 closed

[2022-09-07 14:02] teunoknmi commented on #7060
[code]

I have the headers working now (probably a docker caching issue from my side.

I am still struggeling on how to change the properties of the default CKAN cookies for example make them http only.

[2022-09-07 15:07] ondics opened #7062 "Docker: Login fails with Firefox browser"
**CKAN version**

2.9.5, master branch, cloned on apr,7, 2022
Commit: dfa58c885795bcafe531bfe2e0289c53b6f203ea

**Describe the bug**

I cannot login with a freshly installed CKAN docker instance.

**Steps to reproduce**

After starting up the docker-compose, I create a sysadmin user with the command line. This works perfectly.
When I try to login with Firefox browser (version 104.0.2) I get the er

[2022-09-08 08:25] robin-NEC commented on #7037
Hi @wardi @bpeXX , should we allow users to upload files with `null` values? I tried to reproduce the issue but received a different error that is associated with the #6713  issue, I've fixed issue #6713 and will raise the PR soon.

 But I found that when downloading a resource in json format, [this](https://github.com/ckan/ckan/blob/master/ckanext/datastore/backend/postgres.py#L1372-#L1378) query

[2022-09-08 12:05] #7031 closed

[2022-09-08 15:51] ipimpat opened #7065 "Exception occurs when logging in, while setting a cookie"
**CKAN version**: 2.9.5

**Describe the bug**

Exception occurs when logging in - seems like setting the "remember me" cookie fails.

**Steps to reproduce**

1. Install from source: https://docs.ckan.org/en/2.9/maintaining/installing/install-from-source.html.
2. Add a sysadmin user, using the CLI command.
3. Start CKAN using built-in webserver (run CLI command).
4. Try to login.

**Expected behavi

[2022-09-08 18:43] wardi opened #7066 ".test_durations string matches"
**CKAN version**
master

**Describe the bug**
Not a bug, but `.test_durations` is machine generated and contains lots of common strings, so `git grep` will often return its single giant line of text at the top of every result

**Steps to reproduce**
`git grep <almost anything>`

**Expected behavior**
find source code, not fill terminal with machine generated text with extremely long line lengths

[2022-09-09 00:23] ThrawnCA commented on #5617
@Zharktas #6831 is now passing.

[2022-09-09 07:56] teunoknmi commented on #7060
For cookies these setting in the .ini seemed to work with the logging in cookies:
`who.secure = True
who.samesite = Strict
who.httponly = True`

Only sometimes I see a cookie like this:
![image](https://user-images.githubusercontent.com/112876766/189300891-a60ad246-a57b-4f16-8fe8-36a79f96ef19.png)

On CKAN itself it disappears quickly but a site on a subdomain it stays longer and that's where I to

[2022-09-09 11:38] kowh-ai commented on #7062
Iv'e just tested a new CKAN **2.9.5** (Docker) install. Created a new (admin) user and logged in using both Chrome and Firefox (**104.0.1**) browsers. Both work fine. Screenshot of the Firefox browser after logging in:

![ff ckan](https://user-images.githubusercontent.com/54408245/189341169-b0949f62-63d5-448c-8d75-dfe39f899600.png)

[2022-09-09 12:11] kowh-ai commented on #6713
I'm not sure why the original (problem) CSV file: [2022_02_06-oberbuergermeisterwahl-stadt-heilbronn-heilbronner-stadtteile.csv](https://github.com/ckan/ckan/files/8108382/2022_02_06-oberbuergermeisterwahl-stadt-heilbronn-heilbronner-stadtteile.csv) seems to work now (I've just tested with a new CKAN 2.9.5 install and it works fine) but I will keep this issue open as it can be used in conjunction

[2022-09-09 13:30] ondics commented on #7062
Hmmm. Maybe a 301 redirection problem in some of our browsers? Anyway.
Thank you for your investigation.
I close this issue.

[2022-09-12 06:23] hongjie123 opened #7071 "An error message occurred when I added a resource to a new dataset."
Try adding a JSON file for the new dataset, as shown below:
![image](https://user-images.githubusercontent.com/54384385/189586373-78e10023-3b6b-455e-954d-61f1842b300b.png)

An error message occurred when I added a resource to a new dataset. The diagram below:
![image](https://user-images.githubusercontent.com/54384385/189585624-81af1b37-414c-4a55-8535-1e70b62e50aa.png)
This error only occurs when

[2022-09-12 06:46] hongjie123 opened #7072 ""500 Server Error" occurred when the data set was permanently deleted."
According to this document (https://docs.ckan.org/en/2.5/sysadmin-guide.html#permanently-deleting-datasets), 500 Server Error occurs during the Permanently Delete Dataset operation.
![image](https://user-images.githubusercontent.com/54384385/189589019-1a38acf0-d2f1-4c22-8781-596db213243c.png)

![image](https://user-images.githubusercontent.com/54384385/189589525-4f8501fb-d866-4f77-bf40-386625a790c

[2022-09-12 08:29] hongjie123 commented on #7072
The log file "ckan_default.error.log" displays the following results:
![image](https://user-images.githubusercontent.com/54384385/189605880-dc4bc241-bc4d-4ee0-8710-af4e7257fb75.png)

I checked my database and there is no "tool_revision" table, but there is a "package_revision" table. I would like to try to modify the SQL statement in the figure that reported an error by asking him to visit "packag

[2022-09-13 05:59] robin-NEC commented on #5888
Hi @mcarans , I'm trying to reproduce the issue but am unable to do so.  Could you please confirm where you're getting the error, is it coming from the `ckanapi` or `package_revise`?
Can you please provide the API endpoint that you're using to get this error response?
Thanks.

[2022-09-13 09:08] bzar opened #7075 "resource_patch does not update file size"
**CKAN version**
2.9.5, probably others

**Describe the bug**
Updating an uploaded resource file through API does not update the resource's `size` field

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a dataset and a file upload resource
1. Observe the resource's `size` field value
1. Change the file through the UI
1. Observe the resource's `size` field value changes as it shoul

[2022-09-13 09:15] amercader opened #7076 "Search indexing logic called twice after update or create dataset"
**CKAN version**
2.10

**Describe the bug**

When updating or creating a dataset, we are indexing the dataset twice in a row, ie the [`index_package()`](https://github.com/ckan/ckan/blob/9f1b5cfaff8c135b589e2ea0275f1286c2e02711/ckan/lib/search/index.py#L108) function gets called twice during the same operation (and of course any `IPackageController.before_index()` hook gets called twice as well.

[2022-09-13 13:26] amercader commented on #7075
TODO  https://github.com/ckan/ckan/blob/97d48e1d5ad0c52ba7352baa155bb320c74f0ae6/ckan/logic/action/update.py#L305

[2022-09-13 13:41] wardi commented on #7071
There's not enough information to work on this ticket so I'm converting it to a support discussion. Uploading a JSON file to vanilla CKAN does work properly.

Try disabling some of the plugins you have installed that could be causing the issue, and provide the server logs from when this error occurs. A member of the community might be able to help you with this.

[2022-09-13 13:46] #4949 closed

[2022-09-13 15:36] kowh-ai commented on #7037
Hi @bpeXX - Just wondering if you tested this issue with CKAN 2.9 (2.9.5 or master)?

[2022-09-13 19:16] mcarans commented on #5888
@robin-NEC I was using `ckanapi` and a fix was released in that library for the problem. See [this issue](https://github.com/ckan/ckanapi/issues/186). @wardi said "interesting, this might be a bug in package_revise, none of the other actions return a list in the message value AFAIK"

Looking at the source code, I think it was fixed in a large update. If you load the diff for [ckan/logic/action/upd

[2022-09-13 21:06] mcarans commented on #5888
@robin-NEC I have tried a call like this in postman
url: SERVER_URL/api/3/action/package_revise
body:
    match__id=ANY DATASET ID TO MATCH
    update__resources__20__upload@testfile1

(20 is any number higher than teh number of resources in the dataset)

I got:
`{"help": "https://stage.data-humdata-org.ahconu.org/api/3/action/help_show?name=package_revise", "error": {"message": [{"resources__20__

[2022-09-14 06:35] robin-NEC commented on #7075
Hi @amercader , I would like to work on this issue.

[2022-09-14 12:05] pdelboca opened #7083 "Update CKAN to Flask 2.2.2 (or latest)"
CKAN 2.9.5 and next 2.10.0 will be running under Flask 2.0.3.

Migration to Flask 2.2.2 will have some work that we would address once 2.10.0 is released. Some of the key points to be able to run the latest version:
- [x] We will need to update from Flask-Login `0.6.1` to `0.6.2` (See #7064 description)
- [X] We will need to fix/patch/replace `flask-multistatic` since it will not work with latest

[2022-09-14 16:19] jqnatividad opened #7084 "`route_after_login` is not documented"
**CKAN version**
master

**Describe the bug**
The `ckan.route_after_login` configuration option is not documented.

**Expected behavior**
The option is documented with default and valid values.

**Additional details**
see https://github.com/ckan/ckan/pull/4770

[2022-09-14 17:32] wardi opened #7085 "plugin template order reversed (since #7033)"
**CKAN version**
master

**Describe the bug**
After we swapped the order of calling plugins' update_config hooks the resulting order of templates and public directories is now reversed

**Steps to reproduce**
have more than one plugin that adds template directories

**Expected behavior**
first plugin templates override later plugin templates (historic behaviour)

**Additional details**

[2022-09-15 13:26] #7066 closed, assigned to wardi

[2022-09-15 13:31] amercader commented on #7084
Yes, and it should follow the same naming convention as other similar config options like [`ckan.auth.login_view`](https://docs.ckan.org/en/latest/maintaining/configuration.html#ckan-auth-login-view), so it should be named `ckan.auth.route_after_login` (but support the old version of course)

[2022-09-15 14:38] jqnatividad commented on #7084
Hi @amercader , since it was an undocumented option, should we even support the old configuration option name?

Perhaps, when documenting it, instead mention the old name?

[2022-09-16 07:30] TimoB2005 commented on #7062
Same problem here.

Firefox login fails repeatedly. Please reopen Issue.

[2022-09-16 09:06] amercader commented on #7084
I always lean towards trying to not break stuff, specially if the config option has been around for a while. We can show a deprecation message if the old variant is used and drop it after a ckan version

[2022-09-16 13:02] #6657 closed

[2022-09-18 19:55] #7076 closed

[2022-09-19 10:44] #7085 closed

[2022-09-19 11:29] amercader commented on #6789
Fixed in dda6bb8, this will be in 2.9.6

[2022-09-19 11:29] #6789 closed

[2022-09-20 09:46] amercader opened #7090 "Patch releases September 2022"
This is an issue to track progress on the patch releases scheduled for September / October 2022 (2.8.11 and 2.9.6)

[Full docs](http://docs.ckan.org/en/latest/contributing/release-process.html)

* [x] [Backports](https://github.com/ckan/ckan/labels/Backport%20pending)
* [x] Translations
* [x] Rebuild Frontend
* [x] Changelog
* [x] Change version and tag
* [x] Build and upload packages
* [x] Update

[2022-09-21 10:27] amercader commented on #7065
@ipimpa I can not reproduce this in a CKAN 2.9.5 install and I'm a little confused about the details.

In CKAN 2.9 there are two cookies set by default:

* `auth_tkt`: authentication cookie set by Repoze.who (not flask/werkzeug!)
* `ckan`: session cookie, set by Flask/Werkzeug

The error you mention is returned by werkzeug so in theory it should affect the session one.
Are you using any custom con

[2022-09-21 11:21] evaleries commented on #5657
I think CKAN must add this problem to the documentation. No one know what's the effect from deleting "default" user.

[2022-09-21 11:34] evaleries commented on #4930
any reason why we use datapusher from clementmouchet instead from ckan itself?

[2022-09-21 12:21] amercader commented on #7083
On the Flask-login failures, I'm pretty sure that they are caused by this change: https://github.com/maxcountryman/flask-login/pull/691

Somehow the combination of storing the logged in user in `g` instead of the stacks and the way CKAN tests with the `app` fixture are run breaks tings. We need to keep digging.

[2022-09-21 15:08] MoSHad91 opened #7092 "Beaker - Cookie expires installation error on Mac"
**CKAN version**
Latest version

**Describe the bug**
I tried to install the CKAN according to the [documentation with docker compose](https://docs.ckan.org/en/latest/maintaining/installing/install-from-docker-compose.html) on Mac and got the following error.
Mac M1
Docker version 4.12.0

ckan          | Option ckan.requests.timeout is not declared
ckan          | Option ckan.requests.timeout is n

[2022-09-21 20:38] wardi commented on #5888
note that latest ckanapi no longer fails this way when a list is returned in the message key

[2022-09-21 21:09] #6900 closed

[2022-09-22 09:55] aymanos1208 commented on #6763
Well, i tried to **git checkout tags/ckan-2.8.5**, and it works for me, but the problem was that container is unstable.

[2022-09-22 11:15] amercader opened #7095 "POST requests to API don't work with CSRF, tests bypass CSRF protection"
**CKAN version**
2.10

**Describe the bug**
The API is completely unusable since https://github.com/ckan/ckan/pull/7058 was merged.

Any POST API call (and presumably PUT, DELETE etc) returns a `400 Bad Request: The CSRF token is missing` error, which in hindsight makes sense because we removed the `@csrf.exempt` decorator from the `api.action` endpoint. We'll need to see how we can implement:

*

[2022-09-22 14:14] wardi opened #7097 "Delete dataset CSRF issue"
**CKAN version**
master

**Describe the bug**
"400 Bad Request The CSRF token is missing" on deleting datasets with the web form.

**Steps to reproduce**
Click delete on the dataset edit form with JS enabled
![Screenshot from 2022-09-22 10-07-47](https://user-images.githubusercontent.com/153258/191770038-c59bcc83-58d4-4e67-800b-00d1a87987fb.png)
then click confirm

**Expected behavior**
deleted da

[2022-09-22 14:44] MoSHad91 commented on #7092
Dear @kowh-ai,
I considered default as False for **key: beaker.session.cookie_expires**  in the **config_declaration.yaml**, and got another error:

Option ckan.requests.timeout is not declared
2022-09-22 14:01:18,970 INFO  [ckan.cli] Using configuration file /etc/ckan/production.ini
2022-09-22 14:01:18,970 INFO  [ckan.config.environment] Loading static files from public
2022-09-22 14:01:19,060 WA

[2022-09-22 15:19] EricSoroos opened #7098 "Local testing should be straight forward"
**CKAN version**
Current master

**Describe the bug**
The Documentation for back-end testing (https://docs.ckan.org/en/2.9/contributing/test.html#back-end-tests) doesn't cover the CircleCI testing, nor how to replicate that on the local system. It's an automated system, based on docker, we should be able to easily run this locally, from this repo.

The Documentation for manual testing (https://doc

[2022-09-22 20:05] twdbben opened #7101 "KeyError on content-type in ckanext/resourceproxy/blueprint.py"
**CKAN version**
Current master

**Describe the bug**

The problem is a KeyError on content-type in this line of code:
https://github.com/ckan/ckan/blob/367fed2fa572e896c5eb703db9c663e097133e41/ckanext/resourceproxy/blueprint.py#L71

proxy_resource() is failing with a KeyError in the case that the remote server is misconfigured to not include a content-type header on the file being proxied.

In my

[2022-09-23 08:20] paulchauch opened #7102 "Hyperlink with the UK Open Government License does not work"
**CKAN version**
2.9.5

**Describe the bug**
The link in the `license.py` under class `LicenseOpenGovernment`, stating (http://reference.data.gov.uk/id/open-government-licence) is now a non-existing page.

It is rendered on the dataset using the license, which is going to an invalid link.

Found the recent one should be provided by [The National Archives](https://www.nationalarchives.gov.uk/doc/op

[2022-09-23 09:50] bzar commented on #7075
@amercader seems to fix the issue with a quick test. Since @robin-NEC has not PR'd yet I'll do it.

[2022-09-23 11:16] jonathansberry opened #7104 "User ID does not have to be unique?"
**CKAN version**
CKAN 2.9.5

**Describe the bug**
The `id` field can be set by the user when calling the user_create API action. It appears that no check for ID uniqueness is made when doing so. This surprised me!  I was able to send multiple requests with the same `id` field, so long as they had different `name` fields, without any error being thrown.

**Steps to reproduce**
Perhaps the simplest

[2022-09-26 04:43] Gauravp-NEC commented on #6053
@theksch , I have investigate this issue and found that you have not provide `properties` in step 3 (Insert data into the datastore). GeoJSON has no valid JSON format and as a result `properties: {popupContent:`  is found without any data. You can refer : https://leafletjs.com/examples/geojson/ for more details.

Meanwhile, I think we should have `ValidationError` when no valid JSON format data is

[2022-09-26 09:15] TomeCirun commented on #7097
@wardi it's already fixed https://github.com/ckan/ckan/blob/master/ckan/public/base/javascript/modules/confirm-action.js#L108

[2022-09-27 05:59] #6563 closed

[2022-09-27 07:10] ThrawnCA commented on #5617
Is there more that we need to do for this to be suitable for 2.10?

[2022-09-27 10:48] #7075 closed

[2022-09-28 12:39] knudmoeller opened #7109 "Problems with missing `auth_user_obj`"
**CKAN version**

2.9.5

**Describe the bug**

TLDR: `context['auth_user_obj']` is not always defined, which can lead to unwanted exceptions when calling `ckan.authz.py.auth_is_loggedin_user()`, especially when implementing IAuthFunctions in a plugin. Years ago, before Flask, there was a PR with a solution for this that was never merged. Now with Flask, this solution doesn't work under all circums

[2022-09-28 16:10] gp86041 commented on #5185
I am seeing "internal server error" when I reset password.

[2022-09-28 22:53] ThrawnCA commented on #5185
What is the stack trace?

[2022-09-29 13:34] amercader commented on #7097
@TomeCirun please confirm if it's still an issue

[2022-09-29 16:41] ddazal opened #7111 "Is ckan.datasets_per_page not being used?"
**CKAN version**
CKAN 2.9.5

**Describe the bug**
I set the _ckan.datasets_per_page_ configuration options to 10 and this is working fine on routes:
- /dataset/id
- /group
- /organization

 But is not working in the routes*
- /group/id
- /organization/id

where it always shows 20 results per page. Reading through the source code I noticed that the _read_ function called in *those routes receives a

[2022-10-03 10:43] mohammed-aladi opened #7116 "some files need to updates"
some files need to change the import from "collections" to "collections.abc"

files:
1- jinja2/tests.py
2- pytz/lazy.py
2- bleach/_vendor/html5lib/_trie/_base.py

[2022-10-03 11:40] EricSoroos opened #7117 "Theme regression in 2.9.6"
**CKAN version**
2.9.6

**Describe the bug**
On updating to ckan 2.9.6 from 2.9.5, an extension that used the app global main_css failed with a jinja template error:
[code]

Ref: https://github.com/ckan/ckan/commit/f9084f909538a963b1121d5cfb1e3a1485324add

**Steps to reproduce**
Steps to reproduce the behavior:
Have an extension that refers to the old `main_css` asset or `h.get_rtl_css`

**Expecte

[2022-10-03 20:23] wardi opened #7119 "package_update performance of repeated calls"
**CKAN version**
all

**Describe the bug**
Repeated calls to `package_update` with a set of resources w/o consistent resource ids get slower over time

**Steps to reproduce**
For this test I used a dataset with 10 resources repeatedly submitted to `package_update`:
[code]
![package_update](https://user-images.githubusercontent.com/153258/193670739-55a6aea5-a5b9-4fca-9b86-624a02e61a6e.png)

- orig:

[2022-10-04 13:15] #7102 closed

[2022-10-04 13:34] amercader commented on #7111
@ddazal That makes sense, want to submit a PR?

[2022-10-04 14:21] lbam opened #7120 "CKAN w/ docker-compose won't start"
**CKAN version**

d199d39d5e225ecbc4ee9c75418009226c7c8571

**Describe the bug**
CKAN fails to start when following the instructions from [Installing CKAN with Docker Compose](https://docs.ckan.org/en/2.9/maintaining/installing/install-from-docker-compose.html).

**Steps to reproduce**

From the installation instructions + the additional instructions listed in `contrib/docker/.env.template`:

[cod

[2022-10-05 01:45] ThrawnCA commented on #4895
This is obsolete as CKAN 2.8 is no longer being actively developed.

[2022-10-05 01:45] #4895 closed

[2022-10-05 01:48] ThrawnCA commented on #4671
This is obsolete.

[2022-10-05 01:48] #4671 closed

[2022-10-05 13:31] gp86041 commented on #5185
I am a noob in this. We are just using an image from the Amazon Web Service: https://aws.amazon.com/marketplace/pp/prodview-ag6z2fqishchg.

[2022-10-05 19:36] ThrawnCA commented on #5185
@gp86041 Have you set `ckan.auth.public_user_details` to False? If not, then it's unrelated to this issue.

[2022-10-05 20:54] anthonymobile commented on #7120
same here built on M1 mac (tho ckn is an AMD64 image)

[2022-10-05 21:52] tino097 commented on #7120
Yes there is an issue with freshly created `ckan.ini` file

[2022-10-06 00:42] anthonymobile commented on #7120
i dont see ckan.ini anywhere in `/etc/ckan' (the `docker_ckan_config` volume) only `production.ini` and `who.ini`

this is the stack log, things seem to start going wrong with the failed query, guessing the db schema never got initialized?

[code]

[2022-10-06 12:38] Gauravp-NEC opened #7124 "Add `csrf_input.html` in templates-bs3/snippets"
**CKAN version**
Master
**Describe the bug**
Add csrf_input.html in templates-bs3/snippets like here https://github.com/ckan/ckan/blob/master/ckan/templates/snippets/csrf_input.html

**Expected behavior**
csrf_input.html should be added in templates-bs3/snippets

[2022-10-06 12:46] Gauravp-NEC commented on #7124
If dev team agree to have work on this issue. I will submit the PR.

[2022-10-06 13:09] wardi commented on #7124
yes, please

[2022-10-06 14:55] kowh-ai commented on #7120
no, just broken at the moment. Same issue as installing CKAN (Master) from source

[2022-10-06 15:04] kowh-ai commented on #7120
Another workaround option is to create a pre-configured `production.ini` file and copy it into the CKAN image via the CKAN Dockerfile. The `ckan-entrypoint.sh` script won't override this file if it exists

…
`RUN cp -v $CKAN_VENV/src/ckan/contrib/docker/production.ini /etc/ckan/production.ini`
...
The Make sure the ckan config volume (docker_ckan_config)  has been deleted before running a new buil

[2022-10-06 16:05] Gauravp-NEC commented on #7124
@wardi, Please assign this issue to me. Thanks

[2022-10-10 14:04] kowh-ai opened #7128 "Beaker Session parameters need to be initialised in the CKAN config file"
**Beaker Error in CKAN  when starting**

It seems when the PR https://github.com/ckan/ckan/pull/7068 was merged it caused an error with CKAN starting up

The [config_declaration.yaml](https://github.com/ckan/ckan/blob/master/ckan/config/config_declaration.yaml) file contains 3 Beaker Session settings that need to be initialised in a newly generated CKAN config file (ckan.ini _or_ production.ini)

[2022-10-11 09:55] djk2 commented on #7120
Hi.
I had the same issue,  when I switched to `tags/ckan-2.9.5` now I have a problem with migrations.
[code]
When I go to inside docker and run manually `ckan-entrypoint.sh`
I got
[code]
How I can solve the problem?

[2022-10-11 11:49] bzar opened #7131 "Resource DeleteView uses package_delete auth function"
**CKAN version**
2.9.6

**Describe the bug**
Allowing deleting resources but not packages is not possible, because https://github.com/ckan/ckan/blob/9f1b5cfaff8c135b589e2ea0275f1286c2e02711/ckan/views/resource.py#L454 checks `package_delete`.

**Steps to reproduce**
Steps to reproduce the behavior:
- Override `package_delete` and `resource_delete` auth functions with a plugin to create a situation

[2022-10-11 15:28] FuhuXia opened #7134 "Add an index in table resource_view to improve DB performance"
**CKAN version**
2.9.6, master

**Describe the bug**
Table `resource_view` needs a index on column `resource_id`.

**Steps to reproduce**
In a big CKAN database (500k packages) run the query
[code]

**Expected behavior**
[code]
After the index added, the time dropped from **68.124** to **0.420**, that is 170 times faster.

**Additional details**
This will greatly reduce time spent when clearing a

[2022-10-12 15:24] mackeynichols opened #7136 "datastore_alias_delete Action"
Hi there 👋

In CKAN 2.9.5, a user does not have the ability to remove an alias via CKAN actions. The only way to do this is to delete an alias is to run a `DELETE` query in the DB directly. A `datastore_alias_delete` action could help with this.

Let me know if I need to clarify anything here 😁

(Also I know this is more of a feature request than a bug report - if theres somewhere else I should pu

[2022-10-13 00:19] duttonw commented on #7095
Hit this issue in trying to get ckanext-validation on qld-gov-au progressing with our test setup configuration.

[code]
https://github.com/qld-gov-au/ckanext-validation/blob/master/.docker/scripts/create-test-data.sh#L48

[code]

[2022-10-13 06:24] Zharktas opened #7137 "Authentication functions for views"
This is related to #7131, current functionality is that views do various authentication checks to determine if user can see the view or not. These checks might be different than what the actual action is checking for some feature.

For example `resource_delete` action is calling `package_show` and `package_update` which both should be checked before the view is rendered additionally to `resource_d

[2022-10-13 06:31] bzar commented on #7137
Such "view auth functions" should be implemented solely by calling the current "logic auth functions". Then they would not require additional overrides from site developers, since changes in the "logic auth functions" would propagate to them.

[2022-10-13 12:57] #7008 closed

[2022-10-13 13:16] amercader commented on #7097
Working as expected

[2022-10-13 13:16] #7097 closed

[2022-10-13 13:20] #7095 closed

[2022-10-13 13:21] amercader commented on #7137
We discussed this and felt than rather than adding a new layer of auth functions at the views level we should aim for all endpoints to only call the logic auth functions needed, and if an endpoint is calling an auth function that is a bit too out of scope, like in #7137 is better to fix that particular case.

[2022-10-13 13:24] amercader commented on #7090
2.8.11 and 2.9.6 went out on 2022-09-28

[2022-10-13 13:24] #7090 closed

[2022-10-13 13:27] amercader commented on #7136
This should be easy to implement, adding a new `datastore_alias_delete` action (and auth function) in [ckanext/datastore/logic/action.py](https://github.com/ckan/ckan/blob/master/ckanext/datastore/logic/action.py). Maybe we can even have `datastore_alias_create` and `datastore_alias_update` instead of managing them via `datastore_create` only (cc @wardi)

[2022-10-13 13:29] amercader commented on #7095
@duttonw CKAN 2.10 (master) is not yet released so this kind on instability is to be expected

[2022-10-13 13:57] #5570 closed

[2022-10-14 07:51] smotornyuk commented on #7104
Yes, you are right, this is a bug. We have started working on a fix

[2022-10-14 09:59] zlobniyshurik opened #7138 "Unable to create core [] Caused by: fieldType 'text_general' not found in the schema"
**CKAN version**
2.9.6

**Describe the bug**
When trying to add a Solr core with the CKAN schema.xml on Solr 9.0.0 I get an error:
![ngobug](https://user-images.githubusercontent.com/29420572/195818559-c33f9aa6-ff23-4954-ab8f-d847231111dc.png)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Download and start the current stable Solr 9.0.0
2. Try to create a core with the CKAN schema.

[2022-10-14 10:25] zlobniyshurik commented on #7138
Pardon, I found solution just after describe issue.
For SOLR 9.0.0 it need to use **schema.solr8.xml** instead of **schema.xml**

[2022-10-14 10:25] #7138 closed

[2022-10-18 11:10] #7128 closed

[2022-10-18 11:59] #7120 closed

[2022-10-19 13:01] emancinelli opened #7144 "Accessibility issues"
**CKAN version**
2.9.5

**Describe the bug**
The site should be accessible according to the criteria on accessibility defined by the Web Content Accessibility Guidelines (WCAG) 2.1;

The problems detected are:

- 1.4.1 - Use of color.

link texts are highlighted only through the use of color: color should not be the only visual cue. the color contrast ratio between the link text and the surroundin

[2022-10-21 06:06] robin-NEC commented on #7144
Hi @amercader @emancinelli  , I would like to work on this issue.

[2022-10-21 08:28] #7124 closed

[2022-10-21 13:09] Zharktas opened #7149 "Deleting organizations is broken when javascript is not used"
**CKAN version**
2.9.6, master

**Describe the bug**
When deleting organizations without javascript the delete button url is generated wrongly on http://localhost/organization/delete/some_organization_id

This is the result of #6892 which added `user_id` to the template but not to the blueprint rendering the page.

**Steps to reproduce**
Create organization.
Delete organization from http://localho

[2022-10-22 07:56] #6004 closed

[2022-10-23 05:01] eduynza commented on #7119
When applying the mentioned changes, if some resource has already been removed from the dataset, one problem in DB is generated when updating, creating or deleting a resource.

[2022-10-23 06:19] eduynza commented on #7119
Performance when adding, updating or deleting a resource get slower over time by this:

1. File: ckan/lib/dictization/model_save.py (Line 88)
   [resource_list[:] = obj_list](https://github.com/ckan/ckan/blob/master/ckan/lib/dictization/model_save.py#L88)
This line is the most critical.

[2022-10-24 09:32] u10313335 opened #7151 "The resources on Transifex are obsolete"
**CKAN version**

2.9.6

**Describe the bug**

The last update of the translation strings for CKAN 2.9 was on 2020-07-21.

**Steps to reproduce**

Navigate to https://www.transifex.com/okfn/ckan/2-9/.

**Expected behavior**

The resources should be updated.

**Additional details**

For example, the new string `Reorder resource view`  in the #6089 is missing.

[2022-10-24 11:35] pdelboca opened #7152 "secondary_content template block is being executed twice."
**CKAN version**
master
2.9.6

## Describe the bug
Template's block `secondary_content` is being executed twice on each page load

## Steps to reproduce

Creating a testing helper and adding it to any `secondary_content` block it's enough. In my case I have the following helper:

[code]

And I added into whatever `secondary_content` block like in `ckan/templates/package/search.html` or `ckan/templ

[2022-10-25 06:31] smotornyuk commented on #7152
I bet it's due to [secondary() call here](https://github.com/ckan/ckan/blob/master/ckan/templates/page.html#L48) which is used in order to add an extra CSS class to the page when the sidebar is empty.

[2022-10-25 09:00] #7149 closed

[2022-10-25 17:19] avdata99 opened #7154 "docs.ckan.org is down"
![image](https://user-images.githubusercontent.com/3237309/197840115-c5effccf-b938-4b4f-9554-509383e70b44.png)

**Describe the bug**
403 error trying to access CKAN documentation site

[2022-10-25 17:26] wardi commented on #7154
@avdata99 working for me now, do you see it? I clicked the "save" button on the domain page as readthedocs prompted.

[2022-10-25 17:27] avdata99 commented on #7154
Is working now, closing.
Thanks @wardi

[2022-10-25 17:29] avdata99 commented on #7154
No, it's not working
Reopening 🙃

[2022-10-25 17:46] wardi commented on #7152
reiterating from the meeting: it's better for us to avoid this kind of duplicated rendering in ckan (even if it's recommended in general) because our rendering is slowed down by our `{% snippet %}` tag implementation having no caching

[2022-10-25 17:58] #7154 closed

[2022-10-25 20:56] disl-pdavid opened #7155 "Tags not transferring with backups"
**CKAN version**
2.9.6 (docker tag)

**Describe the bug**
Migrating from an old server to a new one.  Using the git tag `ckan-2.9.6` for both with docker.
The PSQL database is backed up with:

`docker-compose exec db pg_dump -U ckan > ~/backups/ckan/pgdump-YYYY-MM-DD.sql`

The `ckan_storage` named volume is transferred to the new server.

:heavy_check_mark:  Install `ckan-2.9.6` on the new server

[2022-10-25 21:05] disl-pdavid commented on #7155
I can confirm that the `package_tags` table did make it into the dump:

[code]

I didn't recall seeing any issues when restoring the dump file.

[2022-10-26 07:43] Deep-NEC commented on #6731
Hello @wood-chris I was trying to reproduce this issue and for scenario 2 , I was able to see that ``package_update`` worked fine and the activity stream also showed changes what actually happened that is updation of the name of package and also I was able to see dataset being mentioned in the list of datasets. Please suggest if I am missing something.

[2022-10-26 10:07] S-mardii commented on #6996
@flaviofrancisco are you meaning that CKAN is not running well on Ubuntu 22.04 Jammy Jellyfish, and you need to use Ubuntu Focal Fossa instead to have it working?

[2022-10-28 13:59] amercader opened #7160 "CKAN 2.10 release"
Time has come to start the long overdue and highly anticipated CKAN 2.10 release :rocket:

~~Optimistic target: before Christmas / More realistic target: Mid-January 2023 /~~ Even more realistic: Early-Mid February

# First steps

## Core

- [x] Create the `dev-v2.10` branch and change the version number on this branch to `2.10.0b`. From that moment on, everything that needs to go into the release

[2022-10-28 13:59] amercader commented on #6787
Following on #7160

[2022-10-29 08:45] S-mardii commented on #6728
`python3 setup.py develop` failed with the error of `https://setuptools.pypa.io/en/latest/deprecated/easy_install.html`

By the way, I get the extension installed with `python3 -m pip install --user -e .`

[2022-10-29 13:25] kowh-ai commented on #7160
Maybe this would be a good time to include the new (official) CKAN config+setup (https://github.com/ckan/ckan-docker) and CKAN images (https://github.com/ckan/ckan-docker-base) repo’s as part of this release? Both repo's are close to finishing. I'd also rewrite the CKAN install with Docker documentation (https://docs.ckan.org/en/latest/maintaining/installing/install-from-docker-compose.html)

[2022-10-30 16:10] S-mardii commented on #5351
@smotornyuk With this saying, do you mean that you would add the custom css directly in CKAN directory or in `ckanext-example_theme`?

[2022-10-31 15:21] wardi opened #7166 "allow plugins to implent old and new method names"
**CKAN version**
master, 2.10

**Describe the bug**
In the past it has been possible for plugins to implement both the old and new names of methods, but since #7148 the new method gets overwritten by the old method.

**Steps to reproduce**
Use e.g. scheming_nerf_index plugin which implements both `before_index` and `before_dataset_index` for compatibility

**Expected behavior**
Not an infinite loo

[2022-11-01 01:57] smotornyuk commented on #5351
1. [Create a new extension](https://docs.ckan.org/en/2.9/extensions/tutorial.html)
2. [Register a new asset](https://docs.ckan.org/en/2.9/contributing/frontend/assets.html) using [webassets.yml](https://github.com/ckan/ckan/blob/master/ckanext/example_theme_docs/v15_webassets/assets/webassets.yml) and [`IConfigurer.update_config`](https://github.com/ckan/ckan/blob/master/ckanext/example_theme_docs

[2022-11-01 07:03] S-mardii commented on #5351
I am working with CKAN on Docker and it seems that the ckanext for customizing the theme that I created is not loaded to override the default one.

Do you have any guidance related to that?

[2022-11-01 09:57] pdelboca commented on #7166
We discussed this in the PR implementation because I detected that `ckanext-showcase` had a similar issue: https://github.com/ckan/ckan/pull/7148#issuecomment-1290327093

It was a recommendation that the issue was on the plugin's side and it will be better to fix it there. Maybe it is up to debate?

[2022-11-01 13:29] wardi commented on #7166
This is a small change that allows compatibility with extensions that try to support multiple versions of ckan. IMHO this makes more sense than forcibly replacing methods in plugins and requiring all extensions be aware of this quirk.

[2022-11-01 15:59] #7166 closed

[2022-11-01 19:20] wardi opened #7168 "testing posts to forms from extensions"
**CKAN version**
2.10, master

**Describe the bug**
posting to a view created by IDatasetForm in ckanext-scheming tests is triggering a CSRF protection failure:
https://github.com/ckan/ckanext-scheming/actions/runs/3364978110/jobs/5579953087#step:7:466

I've tried adding a token to the request headers the way it's done in `ckan/tests/controllers/test_package.py` to no avail.

Looking for guidance

[2022-11-02 18:12] avdata99 opened #7170 "member_list action returns deleted users"
**CKAN version**
2.9.7

**Describe the bug**
The `member_list` action with  `'object_type': 'user'` returns all member users, including deleted ones
This was fixed with #3078 but relies on the `user_delete` action.
If I manually delete a user from the DB, this will fail.

**Steps to reproduce**
Trying to iterate all members, you will get `toolkit.ObjectNotFound` for deleted users

[code]

**Expect

[2022-11-03 09:27] chetan-NEC commented on #5919
@wood-chris I'm interested to work on this issue.

[2022-11-03 14:26] wardi commented on #7168
here's the branch where I tried to make the tests work like the ones in master https://github.com/ckan/ckanext-scheming/tree/form-test-fixtures

[2022-11-04 09:43] amercader commented on #7170
To mimic the behaviour at the Python level introduced in #3078 (mark membership records as deleted when you delete a user via `user_delete`) we need to implement a foreign key with the proper `CASCADE` behaviour between the `user` and `member` tables.
Additionally we can add an extra check to the SQLAlchemy query in `member_list` that filters member records who don't have a record in the `user` ta

[2022-11-05 11:47] pdelboca commented on #7160
I have updated https://github.com/pdelboca/ckan-extensions-monitor to include all of the extensions listed in #6787

I have also start checking on the test failing in `ckanext-sitesearch` since it is related to `The CSRF token is missing.` when executing forms in test context using `app.post(...)` method.

[2022-11-05 15:00] Perla-Al-Haddad opened #7176 "OOM error when uploading large amount of data to the datastore"
**CKAN version**
2.9.5

**Describe the bug**
I'm running ckan using docker-compose on linux. When trying to upload a large amount of data (around 3GB to 7GB) into the datastore using the datastore_create endpoint, the memory usage of the ckan container will go up significantly, but once the request is over, the memory usage will not go all the way back down on the docker container. When uploading

[2022-11-07 16:05] bhavin2897 commented on #5953
Hello all,

Hope the issue is till open.
I have been facing the same issue lately.

Is the FIX referred above by @etj would work?

Please mention a solution as the production server collapses after every few thousand requests if not used.

CKAN 2.9: Installed by Source Manually.

[2022-11-08 11:30] amercader commented on #7160
@kowh-ai yes! this is long overdue and feels like the perfect timing to remove the Docker setup included in this repo and point people to the better newer options. If you can focus on that that would be awesome. Make sure to update the release process docs to include whatever tasks we need to do maintain the Docker images (ie updating the images but maybe there's other stuff that needs to be done

[2022-11-08 15:35] mgifford commented on #7144
I suspect these should be broken down into different issues.

I like the [Accessibility Insights](https://accessibilityinsights.io/) reports because they make it just so easy to cut/paste the errors into a GitHub Issue like this.

I'm also wondering why there isn't an accessibility tag here.

[2022-11-08 15:40] mgifford commented on #3104
This is what we did in Drupal:
https://www.drupal.org/docs/accessibility/hide-content-properly

We based on the [HTML5 Boilerplate](https://github.com/h5bp/html5-boilerplate/blob/a00d0365c2e293979b6ebe5bf0c80c34dc913284/dist/css/style.css) in Drupal 8, although we had established a similar convention with an element-invisible class in Drupal 7.

This is really a pretty simple convention.  It is al

[2022-11-08 16:35] mgifford commented on #3085
Change the password in `sqlalchemy.url = postgresql://ckan_default:pass@localhost/ckan_default` within the `/etc/ckan/default/ckan.ini` file and you should be able to initiate the database. Least it worked for me.

This needs to be added to the docs!

Also, at least in Linux:
`sudo systemctl restart postgresql
`

[2022-11-09 01:08] mgifford opened #7184 "ARIA is inappropriately used in the language switcher"
**CKAN version**

https://demo.ckan.org/

**Describe the bug**

Title: ,WCAG 1.3.1,WCAG 4.1.2,Best Practice: Ensures role attribute has an appropriate value for the element (#s2id_autogen1)
Tags: Accessibility, , WCAG 1.3.1, WCAG 4.1.2, Best Practice, aria-allowed-role

Issue: Ensures role attribute has an appropriate value for the element (aria-allowed-role - https://dequeuniversity.com/rules/axe

[2022-11-09 01:14] mgifford opened #7185 "Test Group Icons have Insufficient Context"
**CKAN version**

https://demo.ckan.org/group/test-group

## Describe the bugs

**Purple**
Title: WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (a[data-format="geojson"])
Tags: Accessibility, WCAG 1.4.3, color-contrast

Issue: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds

[2022-11-09 01:17] mgifford opened #7186 "Bug report templates should be semantic"
Pretty trivial issue, but bolding the headings like you do **CKAN version**

Isn't semantic. Headings should be used to break up major elements, so:

## Describe the bug

I don't there are sub-headings here, but perhaps in other templates.

### Steps to reproduce
Steps to reproduce the behavior:

This is a pretty simple fix that will also make the content more machine-readable in the future.

[2022-11-09 01:24] mgifford opened #7187 "Table iframe must have a title attribute"
**CKAN version**
https://demo.ckan.org/dataset/sample-dataset-1/resource/e687245d-7835-44b0-8ed3-0827de123895

**Describe the bug**
Title: WCAG 2.4.1,WCAG 4.1.2: Ensures <iframe> and <frame> elements have an accessible name (iframe)
Tags: Accessibility, WCAG 2.4.1, WCAG 4.1.2, frame-title

Issue: Ensures <iframe> and <frame> elements have an accessible name (frame-title - https://accessibilityinsi

[2022-11-09 01:26] mgifford opened #7188 "Download Button needs discernible text"
**CKAN version**
https://demo.ckan.org/dataset/sample-dataset-1/resource/e687245d-7835-44b0-8ed3-0827de123895

**Describe the bug**
Title: WCAG 4.1.2: Ensures buttons have discernible text (.dropdown-toggle)
Tags: Accessibility, WCAG 4.1.2, button-name

Issue: Ensures buttons have discernible text (button-name - https://accessibilityinsights.io/info-examples/web/button-name)

Target application: S

[2022-11-09 01:28] mgifford opened #7189 "Range Inputs Need Labels"
**CKAN version**
https://demo.ckan.org/dataset/sample-dataset-1/resource/e687245d-7835-44b0-8ed3-0827de123895

**Describe the bugs**
Title: WCAG 1.3.1,WCAG 4.1.2: Ensures every form element has a label (#from)
Tags: Accessibility, WCAG 1.3.1, WCAG 4.1.2, label

Issue: Ensures every form element has a label (label - https://accessibilityinsights.io/info-examples/web/label)

Target application: Samp

[2022-11-09 01:37] mgifford opened #7190 "Map should be keyboard navigable"
**CKAN version**
https://demo.ckan.org/dataset/sample-dataset-1/resource/ecd4a62d-998b-46e4-8a64-cadac2125c64

**Describe the bug**
There is no reason that you should need to be able to use a mouse to navigate this map.

You can navigate to the button with the tab key, but then can't activate it.

The arrow keys left/right work but not up/down.

**Steps to reproduce**
- Navigate to the URL above.

[2022-11-09 14:49] amercader commented on #7160
@ckan/core I've created the [`dev-v2.10`](https://github.com/ckan/ckan/tree/dev-v2.10) branch, so from now on everything that needs to be part of 2.10 needs to be marked with both the **Backport pending** and **Backport 2.10.0** labels (or even better submit 2 PRs, one for master and one for dev-v2.10)

[2022-11-09 15:04] mgifford opened #7193 "Color contrast issue in the dashboard"
**CKAN version**
https://demo.ckan.org/dashboard/

**Describe the bug**

Title: WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (small)
Tags: Accessibility, WCAG 1.4.3, color-contrast

Issue: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (color-contrast - https://accessibil

[2022-11-09 15:13] mgifford opened #7194 "Skip to Content not visible for keyboard-only users"
**CKAN version**
https://demo.ckan.org/

**Describe the bug**

Skiplink exists but is not focusable:
`<div class="sr-only sr-only-focusable"><a href="#content">Skip to content</a></div>
`
Not all keyboard-only users use screen readers. All links should be visible on focus for keyboard only users.

**Steps to reproduce**
Tab into the site and you do not see the "Skip to Content" text.

**Expected b

[2022-11-09 15:16] mgifford opened #7195 "Color contrast insufficient in Description's Description Text"
**CKAN version**
https://demo.ckan.org/dataset/new

**Describe the bug**
Title: WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (a[href$="#markdown"])
Tags: Accessibility, WCAG 1.4.3, color-contrast

Issue: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (color-contrast - htt

[2022-11-09 15:21] mgifford opened #7196 "Role not allowed for select drop-down"
**CKAN version**
https://demo.ckan.org/dataset/fishing/resource/new

**Describe the bug**
This is similar to
https://github.com/ckan/ckan/issues/7184

Title: ,WCAG 1.3.1,WCAG 4.1.2,Best Practice: Ensures role attribute has an appropriate value for the element (#s2id_autogen1)
Tags: Accessibility, , WCAG 1.3.1, WCAG 4.1.2, Best Practice, aria-allowed-role

Issue: Ensures role attribute has an appro

[2022-11-09 15:29] mgifford opened #7197 "Language of Parts"
**CKAN version**
https://demo.ckan.org/

**Describe the bug**
If the language of the page is defined as  `<html lang="ja">` then any deviations from that language must be wrapped in a language code. In most cases, this for CKAN that would be EN.

Untranslated strings like: `<li><a href="/ja/about">About</a></li>`

Need to be wrapped in a language wrapper like `<li><a href="/ja/about" lang="en">Abo

[2022-11-09 15:32] mgifford commented on #7196
Worth noting that Select2 has a number of known accessibility problems that probably should be pushed upstream.

[2022-11-09 15:32] mgifford commented on #7184
Worth noting that Select2 has a number of known accessibility problems that probably should be pushed upstream.

[2022-11-09 15:36] mgifford opened #7198 "Language of Parts in Language Selector"
**CKAN version**

**Describe the bug**
Language isn't defined for different languages:

[code]

Should be

[code]

**Steps to reproduce**
Look at the HTML code.

**Expected behavior**
See above.

**Additional details**
See https://github.com/ckan/ckan/issues/7197

[2022-11-09 15:38] mgifford opened #7199 "White on Yellow?? Color Contrast"
**CKAN version**
https://demo.ckan.org/en/user/edit/mgifford

**Describe the bug**
Title: WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (.btn-warning)
Tags: Accessibility, WCAG 1.4.3, color-contrast

Issue: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (color-contrast - h

[2022-11-09 17:23] ondics opened #7200 "Translation "group" to german "Gruppe"?"
In the CKAN user interface the english word `group"`is translated as `Gruppe`.

We have many CKAN installations where customers like to see `Kategorie` instead of `Gruppe`.

This means we had to consistently change the german translations in
https://www.transifex.com/okfn/ckan/translate/#de/2-9/294238824?q=text%3Agroup

This requires some work, but should we start to change this? What are your opi

[2022-11-09 20:19] amercader commented on #7151
The 2.9 resource in Transifex has been updated with the latest strings. There are about 18 new strings that need translation
Thanks for flagging @u10313335

[2022-11-09 20:19] #7151 closed

[2022-11-09 22:45] wardi commented on #7168
problem was on my end, this is the test fixture I'm using in ckanext-scheming now: https://github.com/ckan/ckanext-scheming/blob/b53bb92a4ba6dc4b3e9087721a025534211e32ea/ckanext/scheming/tests/test_form.py#L11-L21

[2022-11-09 22:45] #7168 closed

[2022-11-10 11:47] mgifford commented on #7196
This alternate pattern might work https://designsystem.digital.gov/components/combo-box/

[2022-11-10 11:47] mgifford commented on #7184
Might be able to use https://designsystem.digital.gov/components/combo-box/ instead

[2022-11-10 13:50] amercader commented on #7168
Great, I added it to the 2.9 to 2.10 migration notes:
https://github.com/ckan/ckan/wiki/CKAN-2.9-to-2.10-migration-tips#requests-with-the-test-client-and-csrf-failures

[2022-11-10 14:13] EricSoroos commented on #7200
The feedback I'm getting is that `Kategorie` wouldn't apply to people (and presumably users).

[2022-11-10 15:23] ondics commented on #7200
Sorry, top be more precise: I'm talking about CKAN-groups for datasets. And most of our customers had us to change the translation from "Gruppe" to "Kategorie".

You are right, that this is no general translation but in in the context of CKAN dataset grouping "Kategorie" applies better than "Gruppe".

The "group" translation with relation to users or people should remain "Gruppe" of course.

[2022-11-10 16:04] EricSoroos commented on #7200
The trouble here is that users can be added to groups as well, so both senses of the word are used. It's not just datasets.

![image](https://user-images.githubusercontent.com/36156267/201145712-f7a3cff9-8b9e-4e4f-83a1-334ee02fca71.png)

[2022-11-10 16:06] EricSoroos commented on #7200
I think that the best response here would be to have the naming for this concept be more flexible -- as we tend to rename organizations to other concepts in our sites, I think groups are a building block that are used for different purposes on different sites and deserve different names.

[2022-11-10 17:50] mgifford opened #7203 "Improve accessibility by clearly defining keyboard focus"
**CKAN version**
https://demo.ckan.org

**Describe the bug**
Users should clearly know where they are in the site. This is especially important for keyboard only users. This is described in some detail here in the Drupal issue queue:
   https://www.drupal.org/project/drupal/issues/1993574

The easiest example to see in the wild is:
  https://www.gov.uk/guidance/accessibility-requirements-for-publi

[2022-11-14 12:13] chetan-NEC commented on #5919
@wood-chris, I have reproduced this issue. The solr-jetty required package is recommended for installation in CKAN 2.9.x, but in that installation guide, Solr setup has been done by the Tomcat web server. That's why Solr returns a 404 error.

To fix the issue, install Solr-Tomcat rather than Solr-Jetty and adhere to the instructions for CKAN setup from source during installation.

![CKAN_issue_591

[2022-11-15 05:56] Gauravp-NEC commented on #5664
@Engerrs , I have reproduce this issue and I am working on this issue.

[2022-11-16 10:37] chetan-NEC commented on #5919
Hi @wood-chris, is it necessary to update the CKAN installation from source documentation?

[2022-11-16 12:51] ondics opened #7212 "Undelete button missing in 2.9.7"
When deleting a dataset/package then you can see it in `http://10.0.1.51:5300/ckan-admin/trash.

But when updating the dataset there should be an undelete button according to https://github.com/ckan/ckan/issues/868

Where is it?

[2022-11-16 14:37] stefina opened #7214 "DataPusher URL required to run CKAN without DataPusher"
**CKAN version**
2.9.7

**Describe the bug**
We are running the default [docker-setup](https://github.com/okfn/docker-ckan) and disabled and removed datapusher from `ckan.plugins` because we are using xloader.
We are getting this error when starting the app because we also removed it from the [.env](https://github.com/okfn/docker-ckan/blob/master/.env.example#L27):
[code]
After some debugging to s

[2022-11-17 03:58] chetan-NEC commented on #7170
@avdata99, @amercader I'm interested to work on this issue.

[2022-11-17 10:00] kowh-ai commented on #7214
@stefina The  [docker-setup](https://github.com/okfn/docker-ckan) you have used is not this CKAN repo. It's the OKFN repo. Are you able to post this issue there?

[2022-11-17 10:37] stefina commented on #7214
Thanks for getting back to me so quickly @kowh-ai !
Yes, the setup is from OKFN, but as far as our investigation went, we have not found a possibility to "fix" this from the OKFN-repo. The root, it looks for us, seems to be there:
https://github.com/ckan/ckan/blob/2.9/setup.py#L55
But if you see a way for us to configure this otherwise, we would be happy to hear it :)

[2022-11-17 10:47] amercader commented on #7214
@stefina this seems like an issue with the docker setup not refreshing the plugins configuration correctly rather than an issue with how Datapusher is registered.
The lines you point to in setup.py just register the click command, they don't activate the plugin.
This line:
[code]
implies that the `datapusher` plugin is activated. Have you tried removing the container (`docker-compose rm ckan-dev`)

[2022-11-17 12:50] kowh-ai commented on #7214
@stefina - I have just installed CKAN via the OKFN repo (`docker-compose -f docker-compose.dev.yml up --build`) and I **don't** get the error. Have you tried removing the datapusher service from the compose yaml file? As a last resort are you able to try  removing all containers, images, volumes and network(s) plus pruning any dangling (unassigned) images?

[2022-11-17 17:20] Namwanza commented on #6670
You need to reload apache2 and nginx:

1. sudo service apache2 reload
2. sudo service nginx reload

Then, restart CKAN Worker

1. sudo supervisorctl restart ckan-worker:*

your ckan-worker will be stopped and started again without errors:
_ckan-worker:ckan-worker-00: stopped
ckan-worker:ckan-worker-00: started_

[2022-11-17 17:30] #6998 closed

[2022-11-18 09:16] #6670 closed

[2022-11-18 10:30] spwoodcock opened #7220 "setup.cfg (find) module autodiscover does not include all modules"
**CKAN version**
master / dev-v2.10

**Describe the bug**
- Configuration for packaging was moved from setup.py to setup.cfg between 2.9 --> 2.10.
- The new configuration does not include all modules under the `ckan` directory during install.
- After debugging I found it was due to the `options.packages.find.include` configuration setting: https://github.com/ckan/ckan/blob/master/setup.cfg#L36

**

[2022-11-18 14:29] amercader opened #7222 "Exception on a fresh install / no session when trying to login"
**CKAN version**
master/2.10

**Describe the bug**
On a fresh install, if `REMEMBER_COOKIE_DURATION`  is set in the ini file I get an exception trying to login

[code]

**Steps to reproduce**
* Add `REMEMBER_COOKIE_DURATION = 31536000` to your ini file
* Delete the sessions folder in `/tmp/<ckan.site_id>`
* Try to login

**Additional details**
Based on the stack trace complaining about `duration`

[2022-11-18 17:47] #7214 closed

[2022-11-18 18:14] kowh-ai commented on #7214
Sorry to hear that @stefina -- FYI: I used the Python3 image when testing

[2022-11-21 11:39] ondics opened #7224 "German translation of {object_type} in version 2.10"
To translate `{object_type}s` to german is difficult since there are different plurals in german for

* organisation (`Organisation` -> `Organisationen`)
* dataset (`Datensatz` -> `Datensätze`)
* groups (`Gruppe` -> `Gruppen`)

and so on.

Either we stick to the singular {object_type} in the translation or (better) we use translation-plural-forms in the source code.

[2022-11-21 15:11] amercader opened #7225 "User clean up command"
Some auth configurations can lead to the creation of spam user account. Default changes in #7208 will hopefully make more difficult for maintainers to end up in this situation but we can also provide a small command to cleanup spam user accounts.

The logic should be:

* Filter any user accounts that
   1. Has a value for `image_url`
   2. The file referenced in `image_url` does not match one of t

[2022-11-21 18:39] wood-chris commented on #5919
@chetan-NEC thanks for your investigations! Given what you've found, I think the docs probably do need updating, but perhaps @amercader has a view on that?

[2022-11-21 19:55] jleonard commented on #5155
@azambranogalbis thanks!

Editing inside the container worked for me.

[2022-11-22 02:06] rupakchatterjeeLD opened #7226 "Images must have alternate text"
**CKAN version**
2.9.7
**Describe the bug**
![image](https://user-images.githubusercontent.com/118783627/203199096-1aaf820d-90d1-44b1-af93-96dfb8185b92.png)

**Steps to reproduce**
![image](https://user-images.githubusercontent.com/118783627/203199151-ff8da89b-1f4e-4c6a-a5ea-ff62131ca864.png)

**Expected behavior**
![image](https://user-images.githubusercontent.com/118783627/203199266-9ed31dcd-429

[2022-11-22 02:27] rupakchatterjeeLD opened #7227 "Unable to activate upload button using keyboard"
**CKAN version**
2.9.7
**Describe the bug**
![image](https://user-images.githubusercontent.com/118783627/203200663-2d710885-6b8d-47e0-811c-87c312063119.png)

**Steps to reproduce**
![image](https://user-images.githubusercontent.com/118783627/203200727-4a32ef8c-d349-472f-8920-370a2d5883c8.png)

**Expected behavior**
![image](https://user-images.githubusercontent.com/118783627/203200751-49a390e0-1c3

[2022-11-22 02:30] rupakchatterjeeLD opened #7228 "Close button not read a such"
**CKAN version**
2.9.7
**Describe the bug**
![image](https://user-images.githubusercontent.com/118783627/203204254-f5d5247c-c302-44ab-ad76-40617017ec2d.png)

**Steps to reproduce**
![image](https://user-images.githubusercontent.com/118783627/203204501-c94bb494-529f-45db-a6c6-c4c128b9b998.png)

**Expected behavior**
![image](https://user-images.githubusercontent.com/118783627/203204596-efad5e34-135

[2022-11-22 02:34] rupakchatterjeeLD opened #7229 "Edit button read with no context"
**CKAN version**
2.9.7
**Describe the bug**
![image](https://user-images.githubusercontent.com/118783627/203206536-2ef9f113-5e49-4cea-bd04-1fba4463ba19.png)

**Steps to reproduce**
![image](https://user-images.githubusercontent.com/118783627/203206686-c5c64e56-afe6-4553-9e8b-795b19bf4e88.png)

**Expected behavior**
![image](https://user-images.githubusercontent.com/118783627/203206780-f4cffdc8-a64

[2022-11-22 13:53] EricSoroos commented on #7224
The plan:

1) We extend the babel stringifier to run all of the known core object types through the `helpers.humanize_entity_type` (https://github.com/ckan/ckan/blob/master/ckan/lib/helpers.py#L1002)  and add those strings to the `.po` file to be translated.  This will add strings like 'Add dataset' to the translations instead of 'Add {object_type}'.  This will allow for any translation issues to

[2022-11-22 13:57] wardi commented on #7224
here's a message extractor that pulls some English error messages strings out of a json config file I needed: https://github.com/open-data/goodtables/commit/c504823769108bb31a5e69905d1e70a2d3426314

[2022-11-22 14:11] wardi commented on #7224
This let us generate po files that referenced strings including line numbers into the json file and comments with the json "path" to the value being translated: https://github.com/frictionlessdata/framework/commit/fa58d01dce3dfdbea307df01a221adc547680968

We'll want something similar in our generated po -- comments that describe where these strings are coming from e.g.
[code]

[2022-11-22 14:19] ondics commented on #7224
Please consider that translation happens mainly in [Transifex ](https://www.transifex.com/okfn/ckan/2-10/) and there no context information is given.

Maybe after Transifex there has to be some po file editing as well. But that makes translation more costly. We already have about 200 - 300 strings to translate for each language for a minor version release.

[2022-11-22 14:25] wardi commented on #7224
Even if context isn't shown by transifex it's useful for us to have it in the files we generate so we know where the strings are used. The po files generated feed transifex and all identical strings are merged IIUC.

@ondics is there another approach that you think will work better?

[2022-11-22 14:26] amercader commented on #7224
@wardi do you mean our generated pot file? maybe that's where the confusion comes from.
We extract the translations to the pot file and then update the po files with the new strings, which are then uploaded to Transifex

IIUC the goal is that all these translatable strings have enough context so they can be translated on Transifex

[2022-11-22 14:27] wardi commented on #7224
@amercader yes my mistake, I should have said pot file

[2022-11-22 15:18] jqnatividad opened #7235 "Activity Stream "View this Version" for the last update still shows "old version warning""
**CKAN version**
2.95

**Describe the bug**
When viewing the latest entry in the Activity Stream and clicking on "View this version", CKAN still shows the warning "You're currently viewing an old version of the dataset. To see the current version, click here.", even while viewing the latest version.

**Steps to reproduce**

1. Create a new public dataset package without a description
2. Add a reso

[2022-11-23 09:27] shoully commented on #6996
I had the same error on Ubuntu 22.04.1 LTS

"No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.1 LTS
Release:	22.04
Codename:	jammy"

[2022-11-23 09:52] pepesanyu00 opened #7238 "invalid json syntax in resource_formarts.json, ascii codec can't decode bytes 0xc2 in position 4411"
**CKAN version**
2.9.0
**Describe the bug**

I'm running ckan in a server with solr and uwsgi and everything is correct but when I create a new dataset and try to add data it displays a internal server error, when checking on logs I see that there is an ascii codec decode error. I tried with a lot of different data because I thought that it was because some wrong caracter but I discovered that no

[2022-11-23 10:05] pepesanyu00 commented on #7238
Btw I'm ussing Solr version 9.0.0

[2022-11-24 07:58] chetan-NEC commented on #7235
@jqnatividad I'm interested to work on this issue.

[2022-11-24 09:41] JackBurns1984 opened #7240 "Ckan Docs page is down - do we have an alternative?"
![image](https://user-images.githubusercontent.com/115991393/203750167-620b2cf7-a6f2-4541-9271-7b41e4212898.png)
hello,  the ckan document page is down,  I was looking for some pages about updating the dataset question groupings.

do we have any documents i can download until the site is backup?

[2022-11-24 10:27] JackBurns1984 commented on #7240
never mind - the page is back. thanks :)

[2022-11-24 10:47] amercader commented on #7240
Sorry, there's some really confusing configuration problem between Readthedocs and Cloudflare but *I think* we should be fine now. Thanks for reporting it

[2022-11-24 10:47] #7240 closed

[2022-11-24 12:54] wardi commented on #7240
I've been working around this issue by clicking the "Save" button on the custom domain page of readthedocs every 30 days but I think the root cause is that our DNS is configured to use an alias instead of a CNAME (which readthedocs doesn't like)

[code]

![Screenshot from 2022-11-24 07-52-54](https://user-images.githubusercontent.com/153258/203789310-536f817e-9337-4cef-8d3e-1cd7114454a8.png)

[2022-11-25 08:16] pdelboca commented on #7229
Hello @rupakchatterjeeLD ! Thanks for reporting issues on accessibility. We are truly looking to improve it and we are going to create a new tag for them.

Is there a reason why you are reporting the bug using images instead of writing text? Could you update them to use just text if possible? The current images you are uploading are not compatible with using dark mode:

![image](https://user-image

[2022-11-27 13:45] Namwanza commented on #6243
The error seems to surface with SessionExtension, I have tried all the other options but can't get it resolved, how did you @pdelboca solve this ??

Traceback (most recent call last):
  File "/usr/lib/ckan/default/bin/ckan", line 33, in <module>
    sys.exit(load_entry_point('ckan', 'console_scripts', 'ckan')())
  File "/usr/lib/ckan/default/bin/ckan", line 25, in importlib_load_entry_point
    re

[2022-11-28 07:53] pdelboca commented on #6243
Hello @Namwanza !

What version of CKAN are you using? SQLAlchemy 1.4 has support only in `CKAN 2.10`.

`SessionExtension` has been deprecated in SQLAlchemy 1.4 and therefore we had to refactor it from core. Your traceback points to `meta.py` line 11 having a call to `SessionExtension` which have been removed in `CKAN 2.10`. Note that if you are running CKAN 2.9 you will not be able to run SQLAlch

[2022-11-29 13:02] amercader opened #7247 "UI broken in Resource DataStore tab"
**CKAN version**
2.10/master

**Describe the bug**
Missing icons and misaligned

![Screenshot 2022-11-28 at 11-38-11 dadada - 25_best_tacos_austin csv - CKAN](https://user-images.githubusercontent.com/200230/204535911-8e94acc1-7eed-4dc9-b7a1-d06891874274.png)

[2022-11-29 14:44] amercader commented on #7185
If I'm not mistaken this report refers to the format pills, specifically the geospatial ones (geojson, wms and kml) which are defined in [ckanext-geoview](https://github.com/ckan/ckanext-geoview/blob/master/ckanext/geoview/public/css/geo-resource-styles.css)
![Screenshot 2022-11-29 at 15-43-01 Test Group - Groups - CKAN Demo](https://user-images.githubusercontent.com/200230/204559455-4626b90d-90d6