[2021-07-07 12:53] wrinklenose commented on #2317
Is there any progress according to this issue?

We've stumbled into the same problem and would be happy about a fix. The PR seems to be pretty close - where it's getting stuck?

[2021-07-07 15:12] rjruizes commented on #5658
I think purging a user should be allowed to comply with GDPR, the right to erasure.

[2021-07-07 15:25] ErroneousBosch commented on #4845
Yes. in the pg_isready check, it hardcodes in the db name as "db", rather than using something like an environment variable with a default value, which would be a better practice.

[2021-07-07 15:45] #6148 closed

[2021-07-07 16:31] wardi commented on #2317
We just need a new PR to review

[2021-07-08 11:53] Gauravp-NEC commented on #4845
@ErroneousBosch , Can you help me to understand how in the pg_isready check, it hardcodes in the db name as "db"?

[2021-07-08 13:08] TomeCirun commented on #5946
Hi, @jqnatividad @Zharktas

Im doing some research around this issue and i noticed few things:

I've changed `ckan.display_timezone` to different timezone than my local (e.g Canada/Saskatchewan) and commented out the javascript snippet (.automatic-local-datetime)
![image](https://user-images.githubusercontent.com/72216462/124925913-3f7feb80-dffd-11eb-9e87-e52b072b898b.png)

As we can see the UI do

[2021-07-08 13:17] Minimik opened #6234 "'Customizing CKAN’s CSS' behaves not as expected and described"
**CKAN version**
2.9.3

**Describe the bug**

I followed the steps at [Customizing CKAN’s CSS](https://docs.ckan.org/en/2.9/theming/css.html). Unfortunately I did not get the changes which shall be visible. The changed colors are responded from the server, but for any reason these get overloaded/constrained by something.

Here the original but **not** expected colors are shown:
![ckan_with WrongCo

[2021-07-08 15:48] Gauravp-NEC commented on #4845
@rdenadai , Thankyou. If the env var like ${CKAN_POSTGRESQL_HOST} is placed then how I can verify that the hard-coded db is removed?

[2021-07-12 12:04] amercader opened #6243 "Refactor model to support SQLAlchemy 1.4"
Our current usage of SQLAlchemy prevents us from upgrading to [version 1.4](https://docs.sqlalchemy.org/en/14/changelog/changelog_14.html).

* We use the [`SessionExtension`](https://github.com/ckan/ckan/blob/94194d43667d122bc5a55a45e16b07b4430f3405/ckan/model/meta.py#L13) and [`MapperExtension`](https://github.com/ckan/ckan/blob/94194d43667d122bc5a55a45e16b07b4430f3405/ckan/model/extension.py#L27

[2021-07-13 08:41] amercader opened #6247 "Remove support for deprecated API keys"
As discussed in one of the last dev meetings, old legacy API keys will no longer be supported in the next version. [API tokens](https://docs.ckan.org/en/2.9/api/index.html#api-authentication) are a much more secure and flexible alternative, and migrating is just a matter or switching one for the other when sending the `Authorization` header.

Tasks:

* Remove [the logic that checks for API keys](h

[2021-07-13 09:55] amercader opened #6248 "Increase minimum supported Solr version, default to Solr 8"
This has been an issue for a while so let's draft a plan to make users life easier (and ours!)

Our install documentation recommends installing the Ubuntu system packages (`solr-tomcat`), which include an ancient Solr version (3.6!). This version in not compatible with the latest `pysolr` version (see #6238) so we need to update these instructions to be able to upgrade.

Seeing as we don't need to

[2021-07-13 12:29] #5025 closed

[2021-07-13 13:24] #6231 closed

[2021-07-13 13:46] TheoMul commented on #6231
Thanks @kowh-ai, @amercader for fixing this. Even a better solution then the one I had in mind (CREATE EXTENSION IF NOT EXISTS POSTGIS;)

[2021-07-13 14:01] ccancellieri commented on #6183
As discussed in dev meeting I would try to use my own validation function to provide a value during the creation of the default view.
I'll let you know if it's a possible solution to my special case once properly tested.
Thanks a lot about that.

[2021-07-13 18:50] #2317 closed

[2021-07-14 21:18] Aaron-M opened #6256 "ckanext-officedocs broken"
Extension ckanext-officedocs has stopped working.  Gives an error message.
![image](https://user-images.githubusercontent.com/4842751/125694262-4180fea7-de83-43ce-ba07-6ec1e6243b37.png)

![image](https://user-images.githubusercontent.com/4842751/125694295-582a5c99-384f-4c70-8e0e-1ee0b5aeeb9e.png)

[2021-07-15 06:27] Lochanie opened #6257 "Ckan DataStore testing is not working properly"
I have installed ckan using package installation in ubuntu 20.4 LTS. I have followed the steps in https://docs.ckan.org/en/2.9/maintaining/datastore.html to install datastore. Once I typed curl -X GET "http://127.0.0.1:5000/api/3/action/datastore_search?resource_id=_table_metadata" command. It gives me the results.

![image](https://user-images.githubusercontent.com/70228255/125739228-340aba7a-679

[2021-07-15 08:47] #6159 closed

[2021-07-15 12:40] ccancellieri commented on #6183
So, applying a custom validator to provide the default value is working fine:
https://bitbucket.org/cioapps/ckanext-terriajs/src/42d471b1bb720f915e46e1cfbe62db14205a0303/ckanext/terriajs/plugin.py#lines-179

A bit of machinery is needed couse the incoming (from context) resource is NOT a dict and the URL is not resolved as external link but it's still doable.

Personally I would prefer to don't us

[2021-07-15 12:40] #6183 closed

[2021-07-16 10:29] Gauravp-NEC commented on #6052
@amercader @theksch , I am interested to work on this issue. As a fix what is your suggestion to do? Do I need to document that moving the nested part to the end of the data inserts the nested data in datastore?

[2021-07-16 11:03] amercader commented on #6052
@Gauravp-NEC thanks for your offer. It would be good to fix the underlying issue so nested data can be provided at any index of the `records` key and it doesn't fail when it's the first one.
The code that parses the incoming parameters and creates the database query is [here](https://github.com/ckan/ckan/blob/3bca47492878b13dfac8338893a1b35b8f1311c7/ckanext/datastore/backend/postgres.py#L1098) so

[2021-07-18 17:16] rhabbachi commented on #5769
@wrinklenose Would be very interesting to know if you hear if you managed to workaround / solve this issue. I'm running into a similar situation and was not able to find a suitable solution yet.

[2021-07-19 09:37] Gauravp-NEC commented on #6210
@kowh-ai , I have tried to install 2.8.4 in Ubuntu 18.04 but still development.ini file is not created. Please have a look on below images:

![Capture 1](https://user-images.githubusercontent.com/66116382/126137504-d81fd509-fc35-4b8e-a8e6-7c2b265f121a.JPG)

![Capture 2](https://user-images.githubusercontent.com/66116382/126138959-6ded5eae-fe7d-464a-a1c3-0a41da2617a7.JPG)

![Capture 3](https://user

[2021-07-19 13:04] kowh-ai commented on #6210
Looks like you need to use a newer version of setuptools - check the file: `requirement-setuptools.txt`

[2021-07-19 14:55] jqnatividad commented on #6248
Do consider adding some functionality from https://github.com/stadt-karlsruhe/ckanext-discovery while upgrading Solr to 8.x.

Also, consider adding the data dictionary to the index by default, or at least, using a configuration flag.

[2021-07-20 03:19] jungmin8 opened #6268 "ckan Authorization Error"
How can I resolve this issue??

_(This is my command)_
curl -X POST http://localhost/api/3/action/datastore_create -H "Authorization: {553efb90-7a6e-4bd1-88b2-4a8038daddb3}" -d '{"resource": {"package_id": "{0a84826c-923b-4228-ab15-cba33d2bce8f}"}, "fields": [ {"id": "a"}, {"id": "b"} ], "records": [ { "a": 1, "b": "xyz"}, {"a": 2, "b": "zzz"} ]}'

_(This is result)_
{"help": "http://localhost/api

[2021-07-20 07:43] #5968 closed

[2021-07-20 09:24] kowh-ai commented on #6256
Thanks Joel

@Aaron-M  - I just installed this plugin and successfully tested with this URL: https://file-examples-com.github.io/uploads/2017/02/file-sample_100kB.doc

[2021-07-20 09:58] smotornyuk commented on #6257
It looks like your terminal emulator has some problems with newline characters - can you try removing it in the end of ApiToken (before `" -d ...`). Because payload itself cannot produce the given error

[2021-07-20 10:27] Lochanie commented on #6257
Hi , Thank you so much for your response. when I remove it, I am getting authorization error.  I put this commas" I am getting type not found error.
![image](https://user-images.githubusercontent.com/70228255/126308962-77b9d110-cf81-4ac9-abc0-12d27b127658.png)

[2021-07-20 11:36] Gauravp-NEC opened #6269 "DataPusher not documented in CKAN source installing document."
**CKAN version**
Master

**Describe the bug**
There is no information about DataPusher in CKAN source installing doc: https://docs.ckan.org/en/2.9/maintaining/installing/install-from-source.html

**Expected behavior**
DataPusher must be documented after Datastore in the CKAN source installing document.

[2021-07-20 12:18] smotornyuk commented on #6257
* AccessDenied : you are using invalid ApiToken
* NotFound: you are using invalid PackageID

[2021-07-20 12:32] jqnatividad commented on #6269
This might be because the datastore is an optional extension, as noted in step 8 of the source install.

https://docs.ckan.org/en/2.9/maintaining/installing/install-from-source.html#set-up-the-datastore

If you choose to set it up, it does [link to the procedure](https://docs.ckan.org/en/2.9/maintaining/datastore.html#datapusher-automatically-add-data-to-the-datastore) to install the DataPusher.

[2021-07-20 12:37] Gauravp-NEC commented on #6269
My suggestion is that a precise information about DataPusher must be documented after DataStore. This will help beginner's to know more about CKAN and DataStore extension.

[2021-07-20 13:23] Gauravp-NEC commented on #6269
@amercader , Please assign this issue to me. Thankyou

[2021-07-20 15:17] kowh-ai commented on #6269
@jqnatividad is correct - the datastore is an optional extension. @Gauravp-NEC - We chatted about this today at the Dev meeting. The documentation for installing CKAN from source should be as minimal as possible (which I believe it currently is). However what might be helpful is mentioning: "**DataPusher** _or_ **XLoader** could be installed after DataStore in the **8. Set up the DataStore** secti

[2021-07-20 21:06] Aaron-M commented on #6256
Thanks @jqnatividad and @kowh-ai  - I can confirm that it looks like an issue our end.  No idea what has changed in our system, but I can view the file Brett linked, but if i download a local copy and place in our CKAN instance (publicly visible) it gives the error.  Will look into it.

Cheers

[2021-07-21 09:07] amercader opened #6272 "Remove helpers that output HTML"
Replace them with Jinja blocks and snippets that can be easily overridden from plugins.

For instance:

[code]

Doesn't look that much readable or easy to write than:
[code]

For higher level ones like `build_nav_icon()`:
https://github.com/ckan/ckan/blob/d513351db72731df48a38ce3c1621a5058f502c5/ckan/templates/user/read_base.html#L18-L24

we can add helper snippets snippets, but I suspect that fol

[2021-07-21 12:11] Gauravp-NEC commented on #6269
@kowh-ai , Thanks. I will fix this issue.

[2021-07-22 10:53] etj commented on #6142
I guess this issue is still open.
If the admin is editing another user's profile, some internal assignment are plainly wrong, e.g.:

Here we are taking the admin username, not the edited profile:
https://github.com/ckan/ckan/blob/2121cda9865a26ebf2058c41e65b827c4e66f136/ckan/views/user.py#L270

Here the code is comparing admin mail address against the edited user one:
https://github.com/ckan/ckan/

[2021-07-22 11:16] etj opened #6277 "Bad data handling when sysadmin edits another user's profile"
**CKAN version**
2.9, master

**Describe the bug**
The user update logic is reading user admin info instead of the edited profile.

**Steps to reproduce**
This is just one error use case:

- Login as admin
- Open in "manage" mode any user profile
- Do not edit anything and press "update profile"
As a result:
![image](https://user-images.githubusercontent.com/717359/126629217-a05a83db-f27d-4f65-afc

[2021-07-22 13:53] Gauravp-NEC commented on #5684
@jqnatividad @smotornyuk , I am interested to work on this issue. In this issue I understand that stats functionality needs to be recreated and rendered to activity stream. Please confirm my understanding. Thankyou : )

[2021-07-22 13:53] wardi opened #6278 "i18n js files are built in source directory"
**CKAN version**
all

**Describe the bug**
On startup the ckan process tries to rebuild all JS translations by overwriting a file in the ckan source directory. This means the web process needs to have permission to write to its own source directory just to be able to start. This encourages a bad security practice so we should generate this file in a location that the web process would normally hav

[2021-07-23 09:03] maxclac commented on #4116
I would also be interested in a solution for this.

[2021-07-23 10:17] smotornyuk commented on #5684
No. Stats functionality just needs to be recreated. Just forget about activity streams.

### stats functionality needs to be recreated SOMEHOW and rendered exactly as before(as much as possible)

[2021-07-26 08:51] Gauravp-NEC commented on #6269
@kowh-ai , I have raise the PR https://github.com/ckan/ckan/pull/6281 to fix this issue.

[2021-07-27 04:19] ejdoh1 opened #6285 "ckan.lib.search.common.SearchError: Could not extract version info from the SOLR schema"
**CKAN version**
2.9.3 (deb)

**Describe the bug**
CKAN fails to fetch the Solr schema using basic auth (401s)

**Steps to reproduce**
In ckan.ini
[code]
Then run CKAN with

`ckan run`

**Expected behavior**
CKAN to fetch the Solr schema and version

**Additional details**
[code]

Have already applied this patch #6179

[2021-07-27 08:48] Zharktas commented on #6012
Only sass migration was done.

[2021-07-27 10:00] tomeksabala commented on #3673
Any updates on this? What's current recommendation for Solor version to be used with latest CKAN 2.9.3 @ python3?

[2021-07-27 10:56] fulior opened #6288 "Wrong Python version in Dockerfile"
**CKAN version**
master

**Describe the bug**
Dockerfile tries to install python 3.6 on Ubuntu Focal image, but apt-get installs 3.8 instead. On Ubuntu 20.04 apt-get just ignores that package python3.6 is missing and is installing python3.8 as a dependency to package python-dev. Using `apt` instead of `apt-get` would result in an error.

**Steps to reproduce**
Run `docker build .`  on master branc

[2021-07-27 13:03] #6288 closed

[2021-07-27 13:41] tomeksabala commented on #3673
Alright. I think that current effort in this area are captured here: https://github.com/ckan/ckan/pull/5143
and in this discussion: https://github.com/ckan/ckan/issues/6248
@amercader Maybe it makes sense to close this issue as a duplicate?

[2021-07-28 11:45] maxclac opened #6291 ""Internal server error" when colleague tries to create a Dataset"
**CKAN version**

2.9.2

**Describe the bug**
I am running a CKAN 2.9.2 instance on an Ubuntu 20 server. I am a admin and I can create and edit datasets without problems, but a colleague of mine, who is also an admin user, got an "Internal server error" message while simply trying to create a dataset. To be more precise, it happens when he clicks "Add data". I really puzzles me that I cannot repro

[2021-07-28 18:15] wardi opened #6292 "CORS headers for swagger (open api) et. al."
**CKAN version**
all

**Describe the bug**
When developing a customized swagger UI for our CKAN sites [1] I was unable to include POST requests as part of the interface

**Steps to reproduce**
Try using a cross-domain AJAX POST request to a ckan site with `ckan.cors.origin_allow_all` set to `true`

**Expected behavior**
Call should succeed

**Additional details**
POST call is blocked because an in

[2021-07-29 12:58] smotornyuk commented on #6291
I saw similar error in environments that are setting up multiple uWSGI processes. Can you post your `ckan-uwsgi.ini`? Or, if you understand, how it works, check whether you are using more than one process. If so, make sure you've enabled `lazy-apps` option

[2021-07-29 14:49] tmneche opened #6295 "Limit API endpoint"
**CKAN version 2.8**

**Describe the bug**
API endpoint only returns 10 datasets despite otherwise indicated in the API documentation

**Steps to reproduce**
I used this endpoint ckanu.rl/api/3/action/package_search?include_private=True&include_drafts=True to migrate datasets.

**Expected behavior**
I expected this endpoint to return all datasets. It only returned 10. As workaround, I checked the

[2021-07-29 15:45] #6269 closed

[2021-07-29 19:55] Zharktas commented on #6295
The API documentations says for `rows` parameter in `package_search`:

Which means that if you do not give `rows` parameter, `package_search` will return 10 datasets. The maximum by default is 1000 due to performance reasons or whatever you have given in `ckan.search.rows_max` parameter in your configuration and you will need to fetch them in multiple calls by using `start` parameter.

[2021-07-30 10:20] #4631 closed

[2021-07-30 12:32] Gauravp-NEC commented on #4806
@amercader , I am interested to work in this issue. Please let me know what needs to be done in this issue.

[2021-07-30 15:38] amercader commented on #4806
@Gauravp-NEC hold on this one. I think last time we discussed this we decided to wait a few more versions

[2021-08-02 07:23] maxclac opened #6301 "CKAN package_patch authentication error"
**CKAN version**

2.9.2

**Describe the bug**
I am using CKAN 2.9.2 on Ubuntu 20. One of the user on my CKAN instance is not sysadmin but is admin on an organization. In this situation he cannot use the package_patch of the API to modify a dataset in this organization.

**Steps to reproduce**
[code]

**Expected behavior**
A non-sysadmin user is expected to be able to use package_patch for a datase

[2021-08-02 07:25] maxclac commented on #6291
Thank you @smotornyuk for your reply, it sounds very useful! Actually, I found that my problem was a misconfiguration of my config file. I will anyway pay attention to uWSGI processes in the future.

[2021-08-02 07:25] #6291 closed

[2021-08-02 14:00] Gauravp-NEC commented on #5684
@smotornyuk @jqnatividad , I have investigated the source code of stats (2.8 and 2.9). I am stuck at what to use in place of revisions. I am keeping this on hold from my end.

[2021-08-02 14:33] smotornyuk commented on #5684
Use activities instead of revisions

[2021-08-02 16:24] maxclac commented on #6301
I managed to make it work but it is not exactly what I wanted. I added `context['ignore_auth']=True` to the `plugin.py` file of my plugin. Here is a simplified version:

[code]

Of course, being able to tune exactly the authorizations `package_patch` would be the best for me, rather that this quick fix.

[2021-08-03 14:04] sordak opened #6306 "Cannot create test data - CKAN 2.9"
**CKAN 2.9**

**Cannot create test data**
I'm trying to follow instructions at https://docs.ckan.org/en/2.9/maintaining/getting-started.html#creating-test-data
But the next step ends up with error:
ckan -c /etc/ckan/default/ckan.ini seed translations

**Steps to reproduce**
Install and tune ckan on Ubuntu 20.04 LTS using algorithm below:
[code]

**Expected behavior**
All test data created without

[2021-08-04 11:14] cemtekinbas opened #6308 "Can't connect to postgres running on azure"
**CKAN version**
CKAN 2.9 (Bionic)

**Describe the bug**
CKAN can't connect to postgres hosted on azure. When running `ckan db init` following error is returned:
`invalid interpolation syntax in 'postgresql://ckan_default%40postgresql-dev:<my_password>@postgresql-dev.postgres.database.azure.com/ckan_default' at position 25`
I tried escaping the "@" sign with "%40", but unfortunately this doesn't s

[2021-08-04 12:27] hallucinogenizer opened #6309 "CKAN v2.8 Docs mention package link of v2.9 in "Install from Package""
**CKAN version**
CKAN 2.8

**Describe the bug**
In the v2.8 docs, under "Install CKAN from package", the package link mentioned for Ubuntu 16.0.4 is:
`wget http://packaging.ckan.org/python-ckan_2.9-xenial_amd64.deb`
That is not the CKAN 2.8 package, rather it is the CKAN v2.9 package.

Similarly for Ubuntu 14.04, the mentioned package link is:
`wget http://packaging.ckan.org/python-ckan_2.9-trusty

[2021-08-04 12:29] hallucinogenizer commented on #6309
I traced the issue to the ckan/ckan repository in the following file:
[https://github.com/ckan/ckan/blob/2.8/doc/maintaining/installing/install-from-package.rst](url)

The package URL is coded as:
`wget http://packaging.ckan.org/|latest_package_name_xenial|`

That inserts the latest CKAN package name into the URL, instead of inserting the package version relevant to the CKAN version the docs of wh

[2021-08-04 15:19] pdelboca commented on #6308
Are you running on Python 2 or Python 3? Is the error in the CKAN database or in Datastore database?

We're connected to a postgres running on Azure but we needed to do some changes when migrating from Python 2 to 3:
- Replace the escaped "%40" character with an actual "@" character inside the Azure postgres user name.
- Add an option to the connection string to enforce SSL (?sslmode=require)

Cur

[2021-08-04 15:44] pdelboca opened #6310 "Inconsisten behavior of `default_views` when updating resources"
**CKAN version**
2.9.3

**Describe the bug**
When using `xloader` and `datastore` extensions. Default resources views are not being properly deleted/created when changing the resource format.

**Steps to reproduce**
Steps to reproduce the behavior:
- Enable `xloader` and `datastore` extensions
- Add `datatables_view pdf_view` to `ckan.views.default_views`
- Create a resource and upload a CSV file

[2021-08-06 15:37] kowh-ai commented on #6309
After investigating the older docs (2.8 and 2.7), there is a bit of work involved in setting up referencing the older versions of CKAN. `(docs/conf.py)` I'm going to see what I can do here. If you want to work on this yourself then please let me know @hallucinogenizer

[2021-08-06 15:42] hallucinogenizer commented on #6309
Sure, I can attempt to fix it. I will require some guidance though.

[2021-08-06 15:54] ddazal commented on #5887
I'm facing the same issue. Is there any updates on this?

[2021-08-09 02:59] Gauravp-NEC commented on #6116
@Zharktas , I am interested to work on this issue.  How can I configure root_path?

[2021-08-09 05:16] #6257 closed

[2021-08-09 07:34] Lochanie opened #6314 "Set permission for data store which is not in a local server"
Hi,

I have deployed ckan in a one server (192.168.241.xxx) and postgresql DB and data store has been deployed in an another server (IP:192.168.241.yyy and username:ckan_DB).  I have installed data store extension following this link. https://docs.ckan.org/en/2.9/maintaining/datastore.html.

I have installed ckan using package installation.

When we need to set permissions, I tried the below comma

[2021-08-09 11:59] smotornyuk commented on #6314
You said that all 4 attempts gave you the same error. The only error I can see is ![error](https://i.imgur.com/GtUyOQC.png).

This problem is not related to CKAN and [here is quite a popular solution to the problems of this kind](https://letmegooglethat.com/?q=could+not+resolve+hostname+%3A+name+or+service+not+known)

[2021-08-10 04:09] Gauravp-NEC commented on #4454
@wardi , Please let me know if there is need to work on this issue now.

[2021-08-10 14:21] kowh-ai commented on #6314
You could always just run the SQL script `https://github.com/ckan/ckan/blob/master/ckanext/datastore/set_permissions.sql` on your database server (192.168.241.158) - after copying it over to it of course

[2021-08-10 14:28] GitYepper opened #6316 "API request within extension: Connection refused"
I just wanted to make some test API requests (like https://docs.ckan.org/en/2.9/api/index.html#making-an-api-request or https://docs.ckan.org/en/2.9/api/index.html#example-importing-datasets-with-the-ckan-api) within my CKAN extension but I always get an error that the connection was refused when using the urllib2 library.

`urllib2.URLError: <urlopen error [Errno 111] Connection refused>`

What m

[2021-08-10 14:37] etj commented on #5998
Needs a porting to stable branch 2.9

[2021-08-10 19:26] GitYepper commented on #6316
Closed, as this issue is discussed here: https://github.com/ckan/ckan/discussions/6315

[2021-08-10 19:26] #6316 closed

[2021-08-10 22:03] niall-mediasuite opened #6319 "Listing user tokens causes traceback when running under Python 2."
**CKAN version**
2.9

**Describe the bug**
When running on Python 2, if one of the API tokens has been used then calling `ckan user token list [USERNAME]` results in a traceback (seen below). This is caused by differences in the `isoformat` option of `datetime` objects between Python 2 and Python 3.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Add an API token to a user.
2. Use the

[2021-08-12 12:21] bzar opened #6324 "ckan.lib.uploader.ResourceUpload regression with cgi.FieldStorage"
**CKAN version**
2.9.3

**Describe the bug**
Resource create action allows providing the uploaded file as either `cgi.FieldStorage` or `werkzeug.datastructures.FileStorage`. [The default uploader uses bool to check whether `upload_field_storage` is set](https://github.com/ckan/ckan/blob/2.9/ckan/lib/uploader.py#L222-L223). This works correctly with `w.d.FileStorage`, but not `c.FieldStorage` since

[2021-08-12 15:42] Gauravp-NEC commented on #5684
@smotornyuk, Do I need to develop stats functionality here https://github.com/ckan/ckan/blob/master/ckan/views/dataset.py#L1127-L1166 and render it to  https://github.com/ckan/ckan/blob/master/ckanext/stats/templates/ckanext/stats/index.html? Please confirm my understanding. Thanks :)

[2021-08-12 23:46] gg2 commented on #5610
I found the fix by smotornyuk to work. Ran cookiecutter pip-installed beneath the CKAN virtualenv. Thank you!

[2021-08-13 12:08] ccancellieri commented on #6128
probably it's sufficient/better to back-merge the #6131

[2021-08-17 08:33] smotornyuk commented on #5684
No, `stats` has dedicated [blueprint](https://github.com/ckan/ckan/blob/master/ckanext/stats/blueprint.py)

yes

[2021-08-17 08:46] #5610 closed

[2021-08-17 09:56] Gauravp-NEC opened #6328 "Create "welcome username" after login on UI"
**CKAN version**
Master

**Steps to reproduce**
Login to CKAN and see the top right side as highlighted in below image:

![p1](https://user-images.githubusercontent.com/66116382/129704668-2cb18683-d8c9-4cd2-b4d9-750c13bb9aba.JPG)

**Expected behavior**
As highlighted in below image:

![Capture](https://user-images.githubusercontent.com/66116382/129705134-3eaf1a10-5828-4964-80fa-e94caa8d6a69.JPG)

[2021-08-17 09:57] Gauravp-NEC commented on #6328
If Dev-team agree to have PR on this issue. Please assign this issue to me. I will submit the PR. Thanks :)

[2021-08-17 13:23] Gauravp-NEC commented on #6328
@amercader , Please assign this issue to me.

[2021-08-17 13:25] amercader commented on #6324
Last commit here: https://github.com/ckan/ckan/commit/856a9a1e5e1f2ea6b2094eb4ce8bf56d5c45f833

[2021-08-17 14:26] #6128 closed

[2021-08-17 14:36] amercader commented on #6328
Thanks @Gauravp-NEC . We don't believe this is a valuable feature for CKAN core, as it can be easily implemented in an extension if needed.

[2021-08-17 14:36] #6328 closed

[2021-08-17 20:27] wardi commented on #6324
in #5032 we lost the test covering cgi.FieldStorage https://github.com/ckan/ckan/pull/5032/files#diff-0c8a1163195ec14bf50f02d32d997d82984b498728bae56687877da0dccc2044L29
looks like we should check for FlaskFileStorage before checking truthiness of this object, or check for the existence of a `file` attribute that should be present for FieldStorage instances

[2021-08-17 23:43] pdelboca commented on #6243
I have been debugging the first point and cleaned one of the SQLAlchemy extensions that depends on SessionExtension: #6331

Related CkanSessionExtension:

https://github.com/ckan/ckan/blob/94194d43667d122bc5a55a45e16b07b4430f3405/ckan/model/meta.py#L33-L62

The whole purpose of this extension is to create a cache object inside Session object to trigger the index of the Package into Solr.

It has t

[2021-08-18 02:04] Gauravp-NEC commented on #6324
@wardi @bzar, I am interested to work on this issue. I have start the investigation.

[2021-08-18 07:44] #5684 closed

[2021-08-18 07:46] #5558 closed

[2021-08-18 07:49] smotornyuk commented on #6319
Corresponding PR marked for backport into CKAN v2.9.4

[2021-08-18 07:49] #6319 closed

[2021-08-19 01:14] hongjie123 opened #6334 "The tracking_summary table is no longer updated"
The tracking_summary table is no longer updated when a resource is downloaded.   However, if PostgreSQL data can be obtained normally, how do I solve the problem that the tracking_summary table is not updated?
![image](https://user-images.githubusercontent.com/54384385/129992087-fdac35e0-8ec4-4c86-8068-59457da553b2.png)

[2021-08-19 03:21] hongjie123 commented on #6334
Manual data insertion succeeded, eliminating the database problem.  How is the resource record written to the database?
![image](https://user-images.githubusercontent.com/54384385/130002330-233a0bb7-2b47-4a5f-8eaa-32014ac4706e.png)

[2021-08-19 05:14] Gauravp-NEC commented on #4454
@wardi @amercader , Please let me know if there is need to work on this issue now. Thanks :)

[2021-08-19 12:42] #5586 closed

[2021-08-19 12:57] amercader commented on #4454
@Gauravp-NEC yes, if you can review the steps on the documentation tutorial page linked to make sure they work with the latest CKAN version that would be great

[2021-08-19 12:57] #6285 closed

[2021-08-19 15:17] amercader commented on #6334
Page view tracking needs a command to be run regularly with a cron job to populate this table as described in the [docs](https://docs.ckan.org/en/2.9/maintaining/tracking.html#enabling-page-view-tracking). Are you doing this?

[2021-08-19 15:23] #5158 closed

[2021-08-19 15:23] #6152 closed

[2021-08-20 00:57] hongjie123 commented on #6334
I have enabled page view tracking.
![image](https://user-images.githubusercontent.com/54384385/130161958-690b6567-4fe9-4313-a576-4535dd7e6ff8.png)

[2021-08-20 09:20] quinoescobar opened #6336 "CKAN won't start if properties have accents in the ini config file"
**CKAN version**
2.9.3

**Describe the bug**
Ckan won't start if is set ckan.title or ckan.description has accents.

**Steps to reproduce**
Steps to reproduce the behavior:

1. In the ckan.ini configuration file set ckan.title = "Catálogo de datos abiertos"
2. Restart/Reload Apache
3. Try to access the ckan web page --> Server Error 500
4. Take a look to the log output

**Expected behavior**
CKAN

[2021-08-20 17:44] jqnatividad commented on #6334
@hongjie123 , apart from setting `ckan.tracking_enabled = true`, you also need to setup the cron job as @amercader mentioned.

It's step 2 of [Enabling Page View Tracking](https://docs.ckan.org/en/2.9/maintaining/tracking.html#enabling-page-view-tracking).

[2021-08-21 18:01] vncsna commented on #5719
@amercader did you find a solution?

[2021-08-23 08:37] amercader commented on #6334
@hongjie123 please start a Discussion if you need more support with this

[2021-08-23 08:37] #6334 closed

[2021-08-23 10:48] amercader commented on #5719
@vncsna The solution is to replace this line in the dataset index logic:

https://github.com/ckan/ckan/blob/ccc582d048b1e2d7ea602884c2d974ff363afce7/ckan/lib/search/index.py#L208-L209

So instead of use that `model.Resource.get_extra_columns()` method we should collect all fields in the resource dict (maybe we can skip some internal ones)

If you or someone else wants to help submitting a patch co

[2021-08-23 11:00] Gauravp-NEC commented on #4454
@amercader , I have followed the document https://docs.ckan.org/en/latest/theming/templates.htmlhttps://docs.ckan.org/en/latest/theming/templates.html and configured the "debug= true" in my ckan.ini file after executing the command ckan -c /etc/ckan/default/ckan.ini run to run CKAN. I got the below error:

![Capture](https://user-images.githubusercontent.com/66116382/130436662-156451d8-4612-4ec9-a

[2021-08-23 11:47] vncsna commented on #5719
Thanks

[2021-08-24 10:52] shubham-mahajan commented on #6268
@jungmin8

The correct syntax for the command is
[code]

**You need to remove the brackets around `package_id` also**

The Authorization you are passing should have access to create the resource or should be admin.

[2021-08-24 11:46] Zharktas opened #6340 "Not authorized and Not found generates errors in logs even though the errors are shown correctly in the UI"
**CKAN version**
2.8, 2.9, master

**Describe the bug**
When some flask route produces NotFound or NotAuthorized, error is generated in the logs even though the UI handles it correctly.

For example 404:
![image](https://user-images.githubusercontent.com/830663/130610428-86b41119-e58e-4280-b7cc-e49f5eb05b0e.png)

[code]

403 (public user details are turned of to produce this):
![image](https://use

[2021-08-24 12:23] Zharktas opened #6341 "% characters in config variables results in error."
**CKAN version**
2.9, master

**Describe the bug**
While upgrading from 2.8.8 to 2.9.3 and python3, CKAN refused to start and produced following error:
[code]

**Steps to reproduce**
Add % character to some config variable.

**Expected behavior**
CKAN should start as it did with 2.8.8

[2021-08-24 13:22] amercader commented on #6341
Add a note on the next patch release changelog about the escaping needed (`%%`)

[2021-08-24 13:28] amercader commented on #6340
For both errors, capture and hide the exception, but add the status code to the `[ckan.config.middleware.flask_app]  /user/foobar render time 0.039 seconds` line (check if that's added on API requests as well)

[2021-08-24 13:30] amercader commented on #6336
Try to open the file with the correct encoding in the line linked

[2021-08-27 20:43] wood-chris opened #6347 "Unexpected permissions issues when restarting `supervisor`"
**CKAN version**
2.9.3

**Describe the bug**
Unexpected permissions issues when restarting `supervisor` by a different user to the one who installed CKAN

**Steps to reproduce**

 - Follow CKAN installation instructions, including symlinking into the home directory of `user1`
 - a 2nd user on the same machine runs `sudo service supervisor restart`, but CKAN doesn't restart and returns a 502 error.

[2021-08-30 15:59] #5946 closed

[2021-08-31 00:21] dawnh223 commented on #5887
I am also facing this issue if anyone can suggest a fix.

[2021-08-31 00:40] dawnh223 commented on #5820
This error takes place even if you drop a user or change the email address so you can create a new user with it.  CKAN doesn't lose the association with the original  user.

[2021-08-31 08:10] paulmueller opened #6350 "`ckan.lib.helpers.format_resource_items` discards `False` boolean values"
**CKAN version**
2.9

**Describe the bug**
I have boolean resource metadata keys defined via schemas in my DCOR instance. These are not written to the resources HTML page, because [format_resource_items](https://github.com/ckan/ckan/blob/c5c529d10ebe63d8573515483fdd46e0839477f0/ckan/lib/helpers.py#L2294) discards `False` boolean values.

**Steps to reproduce**
Set a value of a resource key to `Fal

[2021-08-31 09:43] Zharktas commented on #6350
I think the helper expects strings, even though there are some handling for special cases like dates and numbers. But the actual type given to the function is still a string.

[2021-08-31 13:14] amercader commented on #6347
The underlying issue here is https://github.com/ckan/ckan/issues/6278. Until that is fixed perhaps the documentation changes you suggest make sense.

[2021-08-31 20:33] paulmueller commented on #6350
I thought `items` (what `format_resource_items` accepts)  would be something like `dict.items()`, i.e. a list of `(key, value)` pairs.

And no, (while the keys are strings) the values are definitely not always strings. They can be floats, integers, and boolean. Otherwise it would not make sense to handle those cases in that function.

[2021-09-01 08:29] amercader commented on #6350
@paulmueller it makes sense to handle boolean as special case as well. A PR would be great!

[2021-09-01 15:03] pdelboca opened #6354 "`_table_metadata` view contains references to PostgreSQL extension's tables."
**CKAN version**
master

**Describe the bug**
Datastore's `_table_metadata` view contains references to PostgreSQL extension's tables.

**Steps to reproduce**
1. Setup an instance with datastore
2. Connect to the datastore database
3. Install an extension. eg: `datastore=# CREATE EXTENSION pg_buffercache;`
4. Execute a select statement or run `get_all_resources_ids_in_datastore()`

[code]

**Expec

[2021-09-02 08:37] shubham-mahajan commented on #5807
@Zharktas What do you think to implement it in the [notify CLI](https://github.com/ckan/ckan/blob/master/ckan/cli/notify.py) itself with the new click command as `send_email_notifications` which will trigger the notifications

Something like this

[code]

WDYT about the above approach?

[2021-09-02 09:05] TomeCirun commented on #6272
Hey @amercader i have started working on this if that's okey...

there is situation where replacing `h.link_to` with `<a> tag` looks nicer like this:
![image](https://user-images.githubusercontent.com/72216462/131813055-77832dfe-3288-4e79-b85a-c23249dc31b7.png)

before :
![image](https://user-images.githubusercontent.com/72216462/131813684-1e7d81ec-affc-4584-ab57-3e8f18054444.png)

but.. what abou

[2021-09-02 09:17] hongjie123 opened #6358 "Create the CKAN config file:Errors"
The use of "ckan generate config/etc/ckan/default/ckan ini" errors "ImportError: cannot import name 'token_urlsafe'".
![image](https://user-images.githubusercontent.com/54384385/131817696-93b19004-bb0c-497e-bb22-8acd9ffce2ee.png)

[2021-09-02 09:19] hongjie123 commented on #6358
Version information of "secrets"
![image](https://user-images.githubusercontent.com/54384385/131818052-e11f89b8-0f6b-4b69-9139-c67600525da3.png)

[2021-09-02 13:06] #6340 closed

[2021-09-02 13:18] smotornyuk commented on #6358
You are using python 3.5, while CKAN supports 3.6 and newer. Starting with v3.6, `secrets` was included in python's standard library. So you just need to update your python (CKAN v2.9 supports v3.6, v3.7, and v3.8)

[2021-09-02 13:18] #6358 closed

[2021-09-02 21:40] paulmueller opened #6360 "Not possible to upload resource via `package_revise` using requests"
**CKAN version** 2.9

**Describe the bug**
I am not sure if this is a bug or a lack of documentation. I cannot upload resources to a dataset via `package_revise`.

**Steps to reproduce**
Here is a working python script (you have to save it someplace because it will attempt to upload itself) that creates a dataset and uploads a resource via `resource_create` to a testing server:
[code]

While this

[2021-09-03 14:49] ArqamFarooqui110719 opened #6362 "ckan_default process is using more than allowed connections"
CKAN v2.7.2(Docker)

**Describe the bug**
In the CKAN I have configured,
[code]

As per the above configuration, maximum possible connections with 1 database(ckandb) should be 60, As:

But when I look into pg_stat_activity table, it is showing, currently there are 75 connections with the `ckandb` (that is more than 60), out of which 64 connections are in `active` state and 2 connection are in `idl

[2021-09-06 02:27] Gauravp-NEC commented on #6324
@bzar , I am unable to reproduce this issue. Please share the steps to reproduce this issue.

[2021-09-06 02:43] flopdaisies opened #6365 "internal server error while running ckan (ckan.config.middleware.flask_app error)"
**CKAN version**
2.9.3 on MacOS

**Expected behavior**
There's no internal server error when opening main page and dataset.

**Additional details**
2021-09-06 09:32:14,398 ERROR [ckan.config.middleware.flask_app] Expecting value: line 1 column 1 (char 0)
Traceback (most recent call last):
  File "/usr/lib/ckan/default/lib/python3.7/site-packages/flask/app.py", line 1949, in full_dispatch_request

[2021-09-06 07:20] smotornyuk commented on #6362
Can you give more details as to your configuration and where you've found an example:

[code]

[2021-09-06 07:29] ArqamFarooqui110719 commented on #6362
Yes sure...
first let me confirm your query, do you wanted to know source of the mentioned details for ex. where I have configure ckan_default processes == 4 or where I have found queuepool configuration)?

[2021-09-06 07:34] smotornyuk commented on #6362
The more details we have, the better - it allows us to reproduce your environment locally.
But the most important for now - how you've configured sqlalchemy pool and what part of CKAN documentation you've used for it?

[2021-09-06 08:51] hongjie123 opened #6366 "http://localhost:5000 Display error: unable to connect"
http://localhost:5000 Display error: unable to connect
![image](https://user-images.githubusercontent.com/54384385/132188253-1bac40fd-1366-41f1-9c7c-1200463b1676.png)
![image](https://user-images.githubusercontent.com/54384385/132188889-56878426-9de4-48f4-b2d9-f1340c8f56ab.png)

`sudo apt-get install solr-tomcat`Using Tomcat7
![image](https://user-images.githubusercontent.com/54384385/132188630-03

[2021-09-06 09:02] ArqamFarooqui110719 commented on #6362
Hi @smotornyuk sir, we are using CKAN v2.7.2(docker) and SQLAlchemy==0.9.6.
and we have not modified sqlalchemy's queuepool configuration, it has default size as `pool_size = 5,  max_overflow = 10`. We have checked this in file `/usr/lib/ckan/default/lib/python2.7/site-packages/sqlalchemy/pool.py`:

![sqlalchemy](https://user-images.githubusercontent.com/55977298/132189439-eee3c806-4c6a-475b-974e-

[2021-09-06 09:05] hongjie123 commented on #6366
Ubuntu version:
![image](https://user-images.githubusercontent.com/54384385/132190843-ebd42d10-7ded-45a6-8dd9-d91ea34b288b.png)

[2021-09-06 11:55] danmihaila opened #6367 "trying to get feed atom of a deleted organization will display server error"
**CKAN version**
2.9

**Describe the bug**
When accessing /feeds/organization/{org_id}.atom of a deleted organization it will throw server error

**Steps to reproduce**
- create an organization
- delete organization
- access /feeds/organization/{org_id}.atom

**Expected behavior**
It should display "Not authorized ..." instead of server error

**Additional details**
If possible, please provide the

[2021-09-06 13:13] smotornyuk commented on #6362
Oh, I see. In that case, this has nothing to do with CKAN, report this issue to SQLAlchemy repo.

Little insight:
CKAN does not change any options of SQLAlchemy by default. It just uses an engine [created over your config file](https://github.com/ckan/ckan/blob/ckan-2.7.2/ckan/config/environment.py#L265). As mentioned in docs, [you can configure sqlalchemy's engine](https://docs.ckan.org/en/2.9/ma

[2021-09-06 13:13] #6362 closed

[2021-09-06 14:50] #6045 closed

[2021-09-06 22:20] paulmueller commented on #6360
@wardi since you wrote the `package_revise` implementation (#4618 and #5654), could you please point me in the right direction?

[2021-09-07 07:12] dave0529 commented on #6366
you need to config the [ckan.site_url = http://{your public or private ip address}:5000/] in ckan.ini file.

[2021-09-07 09:03] bzar commented on #6324
Here's the commit in our code that fixed the issue for us: https://github.com/vrk-kpa/ckanext-xroad_integration/commit/e8a927c9e4b8533ed4e5258ba71d89ca386ae9b4
The previous upload code using `cgi.FieldStorage` had this issue, the new `werkzeug.datastructures.FileStorage` one doesn't. Perhaps this helps in reproducing the issue?

[2021-09-07 12:03] kowh-ai commented on #6366
I'd recommend using Ubuntu **20.04.** as 14.04 is VERY old and unsupported

[2021-09-07 12:06] kowh-ai commented on #6365
CKAN on MacOS is unsupported. I'd recommend using Ubuntu 20.04...Using VirtualBox 6.1 on MacOS to create a virtual server (Ubuntu 20.04) is pretty painless

[2021-09-07 12:48] #6051 closed

[2021-09-07 13:22] #6365 closed

[2021-09-08 09:18] Gauravp-NEC commented on #6324
@bzar , Thankyou for your response. I want to know the steps to reproduce this issue.

[2021-09-08 11:43] wardi commented on #6324
@Gauravp-NEC the steps to reproduce are in the issue description.

[2021-09-08 12:30] #6367 closed

[2021-09-08 19:01] wardi commented on #6360
@paulmueller you're right, this feature doesn't seem to work anymore. I'll look into it.

[2021-09-08 19:12] wardi commented on #6360
my mistake. local uploads with the ckanapi tool seem to be broken on current master, but file uploads with `package_revise` still work with earlier versions or when connecting to a remote instance, e.g.
[code]

will create a new resource and upload a file at the same time.

[code]

will create two resources and upload files to each of them. HTH

[2021-09-09 09:14] hongjie123 commented on #6366
Installed from source CKAN and deployment source has been completed, start the Nginx, did not perform "CKAN - c/etc/CKAN/default/CKAN ini run", through the IP access error 502.

[2021-09-09 09:16] hongjie123 commented on #6366
Installed from source CKAN and deployment source has been completed, start the Nginx, did not perform "CKAN - c/etc/CKAN/default/CKAN ini run", through the IP access error 502.
![image](https://user-images.githubusercontent.com/54384385/132658645-fc1c2287-3a8f-4c69-b8e9-2cf17dfac92b.png)

[2021-09-09 09:20] hongjie123 commented on #6366
If has been executed "ckan - c/etc/ckan/default/ckan ini run", the server is as follows:
![image](https://user-images.githubusercontent.com/54384385/132659213-7210c68e-7929-42d6-a723-678e7d2f7067.png)

[2021-09-09 09:26] hongjie123 commented on #6366
If has been executed "ckan - c/etc/ckan/default/ckan ini run", the server is as follows:
![image](https://user-images.githubusercontent.com/54384385/132659890-01b1c842-8643-465a-99f0-73231a54841b.png)
http://{ip address}:5000 is ok.
How do I keep CKAN running and not occupy the terminal?

[2021-09-09 16:31] kentsanggds opened #6383 "Missing resource_embedded_dataviewer.html or misnamed template file"
**CKAN version**
2.9.3

**Describe the bug**
Missing or incorrectly named template file

**Steps to reproduce**
Steps to reproduce the behavior:

Create a dataset with a resource and then go to the resource url and append `/embed` at the end, it causes an internal server error - `TemplateNotFound: package/resource_embedded_dataviewer.html`

**Expected behavior**
The resource to be correctly return

[2021-09-10 01:38] hongjie123 opened #6385 "start the Nginx, did not perform "CKAN - c/etc/CKAN/default/CKAN ini run", through the IP access error 502."
Installed from source CKAN and deployment source has been completed, start the Nginx, did not perform "CKAN - c/etc/CKAN/default/CKAN ini run", through the IP access error 502.
![image](https://user-images.githubusercontent.com/54384385/132784841-da26b66d-38de-4d69-8f16-f636a88ea51e.png)

If has been executed "ckan - c/etc/ckan/default/ckan ini run", the server is as follows:
![image](https://user

[2021-09-10 09:15] #6247 closed

[2021-09-10 10:14] amercader opened #6386 "Patch releases September 2021"
This is an issue to track progress on the patch releases scheduled for September 2021 (2.7.12, 2.8.9 and 2.9.4)

[Full docs](http://docs.ckan.org/en/latest/contributing/release-process.html)

* [x] Backports
* [x] Translations
* [x] Rebuild Frontend
* [x] Changelog
* [x] Change version and tag
* [x] Build packages
* [x] Update docs (RTD)
* [x] PyPI
* [x] Announce

[2021-09-10 19:52] michael-long88 opened #6390 "Users can register with an "empty" string for their email"
**CKAN version**
2.9.3

**Describe the bug**
Users are able to register with " " for the email.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to registration page
2. Fill out information, entering " " for the email
3. Submit

**Expected behavior**
The system does not allow the user to register and provides an error explaining why

**Additional details**
I believe the issue origina

[2021-09-14 09:17] amercader commented on #6386
@smotornyuk This commit https://github.com/ckan/ckan/commit/b9e49519f79a50510644a4b30d21beefac86bddd#
removed and updated a bunch of entries from `requirements.txt`. I think you might have targeted the wrong `requirements.in` when running `pip-compile`. This was causing failures like [this one](https://app.circleci.com/pipelines/github/ckan/ckan/2324/workflows/e28086ac-8caf-46f1-b970-546aa7a30167/

[2021-09-14 12:13] thebe14 opened #6393 "Removal of ckan.lib.base.render_jinja2 breaks harvester plugin"
**Describe the bug**
The CKAN master branch no longer contains `render_jinja2` in module `ckan.lib.base`, which is required by the plugin.

**Steps to reproduce**

- Install CKAN using Docker compose, from the master branch.
- Add the [harvest](https://github.com/ckan/ckanext-harvest/issues/455) plugin, which bricks my CKAN container.

**Expected behavior**

Installation of the latest CKAN and the

[2021-09-14 12:41] kowh-ai commented on #6366
Try this: `nohup ckan -c /etc/ckan/default/ckan.ini run  1>std.out 2>std.err &`

[2021-09-14 12:42] kowh-ai commented on #6385
Try this: `nohup ckan -c /etc/ckan/default/ckan.ini run 1>std.out 2>std.err &`

[2021-09-15 14:28] Gauravp-NEC commented on #6324
@wardi @bzar  , I didn't understand the steps to reproduce in the issue description. What does the below code means in steps to reproduce:

[2021-09-15 15:12] TomeCirun opened #6404 "Uploaded resource file is missing when validation fails"
**CKAN version**
Master

**Describe the bug**
When trying to edit a resource with required field set to True .. either with enabled `ckanext.scheming` or with modified `default_resource_schema` (e.g name and description set to `not_empty` instead of `ignore_missing`) and if you leave them blank.. uploaded file is missing and `ckan` persists you to upload it again.

![image](https://user-images.git

[2021-09-16 11:15] Gauravp-NEC opened #6407 "Remove tag template"
**CKAN version**
Master

**Describe the bug**
Tag template is no longer used in CKAN.

**Expected behavior**
Tag template must be removed from CKAN code.

[2021-09-16 11:17] Gauravp-NEC commented on #6407
If Dev-team agree to have work on this issue. Please assign this issue to me. I will submit the PR. Thanks :)

[2021-09-16 13:24] amercader commented on #6407
Please go ahead @Gauravp-NEC

[2021-09-16 13:25] Gauravp-NEC commented on #6407
@amercader, Thanks. I will submit the PR.

[2021-09-17 05:55] ArqamFarooqui110719 opened #6413 "While updating CKAN from 2.7.2 to v2.9.3(via docker image), Facing many issues"
**CKAN version**
Updating to 2.9.3(docker)

**Describe the bug**
I have updated CKAN 2.9.3, and currently CKAN container is UP and successfully running. But when I'm trying to access CKAN GUI, actual CKAN page is not being loaded it is giving below page with `404 Not found` error:

![CKAN GUI error 2 9 3](https://user-images.githubusercontent.com/55977298/133730671-853a2b03-6b3e-4a90-a862-a60d24b8

[2021-09-17 05:59] ArqamFarooqui110719 commented on #6413
I'm also trying to add ckanext-oauth2 extension(0.7.0) in this updated CKAN. For that I have installed ckanext-oauth2 but when I'm adding oauth2 plugin in the `producition.ini`, it is giving below error:
[code]

I have resolved the above error by updating the file /usr/lib/ckan/venv/src/ckan/ckanext-oauth2/ckanext/oauth2/plugin.py from from urlparse import urlparse to from urllib.parse import urlp

[2021-09-17 11:25] smotornyuk opened #6415 "Upgrade Jinja2 to v3.0.2 when it's released"
In master, Jinja2 should be updated to v3.0.2 when it is released(currently uses v3.0.1).

I've just noticed a bug(which will be fixed in v3.0.2) that breaks ckanext-scheming on CKAN's master:)

It mentioned in Jinja's changelog:

[2021-09-20 04:44] Gauravp-NEC commented on #5690
@amercader , I am interested to work on this issue. As you said that:

What would be the correct approach to develop this feature?

[2021-09-20 07:27] Gauravp-NEC commented on #6407
@amercader  I have raised the PR https://github.com/ckan/ckan/pull/6416 to fix this issue.

[2021-09-21 09:10] Gauravp-NEC commented on #5664
@Engerrs , I am trying to reproduce this issue. But this issue is not reproduce based on the steps to reproduce. How a user will be created if password field is filled and confirm password field not filled or no password fields? These are mandatory fields. Also user image is successfully uploaded after creation of user.

[2021-09-21 13:09] #6413 closed

[2021-09-21 13:41] #6168 closed

[2021-09-21 14:06] #6407 closed

[2021-09-21 14:32] frafra opened #6418 "Pin redis to a specific version"
It would be safer to pin redis to the latest known compatible version.

https://github.com/ckan/ckan/blob/d20703f261c2f42fe034bbac7370943784b74e07/contrib/docker/docker-compose.yml#L79

[2021-09-21 15:43] frafra opened #6419 "docker-compose.yml contains unneeded build args"
These arguments can be removed safely:
https://github.com/ckan/ckan/blob/d20703f261c2f42fe034bbac7370943784b74e07/contrib/docker/docker-compose.yml#L56-L58

These as well:
https://github.com/ckan/ckan/blob/d20703f261c2f42fe034bbac7370943784b74e07/contrib/docker/docker-compose.yml#L17-L18

It would be better to make images that are not deployment specific and just rely on environmental variables. T

[2021-09-22 10:00] aitormagan commented on #5959
Hi! Have you been able to fix this issue? We are at the same situation and trying to find a solution :(

[2021-09-22 12:44] wardi opened #6420 "concurrent-safe resource updates"
**CKAN version**
master

**Describe the bug**
The only way to safely update multiple resources in the same dataset at the same time is to use `package_revise` exclusively.

Any concurrent calls to `package_update`, `resource_create`, `resource_update`, `resource_delete`, `package_patch` or `resource_patch` can cause data loss because changes made in calls happening at the same time aren't visible.

[2021-09-22 12:46] wardi commented on #5959
This should be pretty easy to fix: #6420

[2021-09-22 12:50] wardi commented on #5225
Opened a new ticket for this #6420

[2021-09-22 12:51] wardi commented on #5256
Opened a new ticket for this #6420

[2021-09-22 12:51] #5256 closed

[2021-09-22 13:24] Zharktas commented on #6393
Fixed inn ckan/ckanext-harvest#459

[2021-09-22 13:24] #6393 closed

[2021-09-23 08:07] sim-pml opened #6422 "Custom fields , basic package fields keyError when using "Removed""
**CKAN version**
2.8

**Describe the bug**
During the process of adding custom fields via https://docs.ckan.org/en/2.8/extensions/adding-custom-fields.html .

Adding a` form.select` macro element into `package_basic_fields.html` causes a `keyError` in the logs (e.g. `error_log`)  if the id of the form.select element is called `Removed`.

**Steps to reproduce**
Using the below line in `package_basi

[2021-09-23 10:57] sim-pml commented on #6422
If this helps assist in the issue, I added a little extra logging to the helpers lib :

[code]
Not that the key and value for `Removed` are seperate elements in the list , whereas other extra fields I have added are one element . `Archive` is a good example as this is also using a dropdown list tp select values, but does not have this problem.

[2021-09-23 11:36] Gauravp-NEC commented on #5801
@amercader @jqnatividad , I am interested to work on this issue. I want to know where to display the resource aliases in CKAN UI?

[2021-09-23 13:30] EricSoroos commented on #6418
Propose pinning to either redis:6 or redis:6.2

[2021-09-23 13:58] wardi commented on #6418
I feel like Debian will be the better-tested environment, other than a slightly smaller image is there a reason to use Alpine?

[2021-09-23 14:38] EricSoroos commented on #6418
I don't really care that much for self contained services -- most of the big ones are reasonably stable with MUSL or they're not packaged that way.

For python, I much prefer the debian based ones, as they're compatible with binary wheels.

[2021-09-24 07:11] vicoztechnology opened #6425 "ckan 2.9.3 container not working on windows 10"
CKAN version 2.9.3
Windows 10
Docker

I use windows 10 and I try to follow this [tutorial](https://docs.ckan.org/en/2.9/maintaining/installing/install-from-docker-compose.html#environment).
My CKAN Docker install seems perfect except that the ckan container exits immediately after a restart.
docker log is as follows:

Attaching to ckan, db, datapusher, redis, solr
ckan          | standard_init_lin

[2021-09-24 08:20] vicoztechnology commented on #6425
Attaching to ckan, db, datapusher, redis, solr
ckan          | standard_init_linux.go:228: exec user process caused: no such file or directory
ckan          | standard_init_linux.go:228: exec user process caused: no such file or directory
ckan          | standard_init_linux.go:228: exec user process caused: no such file or directory
redis         | 1:C 24 Sep 2021 06:59:02.336 # oO0OoO0OoO0Oo Redi

[2021-09-24 09:20] hongjie123 opened #6426 "Fuzzy lookup failed"
sudo apt install -y solr-tomcat (tomcat9)
CKAN configuration file (/etc/ckan/default/ckan.ini),solr_url=http://127.0.0.1:8983/solr
![image](https://user-images.githubusercontent.com/54384385/134650710-12946e9d-495a-479c-a40b-16cbaff2098a.png)
![image](https://user-images.githubusercontent.com/54384385/134650920-a6b8f345-d4b9-4abe-8711-25db63e7fc47.png)
Keyword search failed, complete search succee

[2021-09-24 09:22] hongjie123 commented on #6426
Keyword search failed, complete search succeeded.

[2021-09-24 09:40] hongjie123 commented on #6426
Other questions:
1.The email function is unsuccessful.
![image](https://user-images.githubusercontent.com/54384385/134651945-c7f1971f-6a89-4fa2-833d-cbd1fbbe9ec1.png)
Wait a few minutes for a problem:
![image](https://user-images.githubusercontent.com/54384385/134652216-2c3d6ca1-d531-4263-a92a-5df2a61e960c.png)
I didn't get any mail.

2.Failed to add a new user to the organization.
![image](https:

[2021-09-24 13:23] 4estone opened #6427 "Installing from source on Centos7 failed on zope requirement."
**CKAN 2.9.3**

**Describe the bug**
Installing from source on Centos7 failed on  zope requirement.
[code]
It seems to be related to [zope.interface<5.0.0 relies on a deprecated API from setuptools](https://stackoverflow.com/questions/67784206/python-dependency-satisfied-but-pip-still-complains-for-zope-interface-4-6-0)

Is there any plan to upgrade requirements.txt with zope.interface==5.0.0 or l

[2021-09-24 14:18] kowh-ai commented on #6419
Yes agreed - always found Docker ARG and ENV a bit confusing especially when using Docker Compose

[2021-09-24 16:13] Sayaka91 commented on #5570
Hi, i get the same error. Did u fix the last error: KeyError: "formatters"? what did happen with logging/config of python 3.8?

[2021-09-24 21:29] paulmueller commented on #5570
@Sayaka91 I think I just removed the ``--ckan-ini=test-core.ini`` keyword argument and did an ``export CKAN_INI=/etc/ckan/default/test-core.ini`` beforehand.

I am using a vagrant image for testing, references:

- https://github.com/DCOR-dev/ckanext-dcor_schemas/blob/master/vagrant-run-tests.sh
- https://github.com/DCOR-dev/dcor-vagrant

[2021-09-26 20:40] Gauravp-NEC commented on #5808
@amercader @jqnatividad , I am interested to work on this issue. I am unable to create resource alias by calling datastore_create i.e., `curl http://127.0.0.1.:5000/api/3/action/datastore_create ` and it is resulting in "

`Bad request - JSON Error: Invalid request. Please use POST method for your request"`

[2021-09-27 03:41] 12lxr opened #6428 "The page view tracking function is abnormal. It has been configured in the configuration file, but the tracking data has not been updated"
The page view tracking function is abnormal. It has been configured in the configuration file, but the tracking data has not been updated

[2021-09-27 14:23] Gauravp-NEC commented on #6418
I think it is better to keep the redis at latest version. If we change the redis to a specific version then in future we have change the version time to time.

[2021-09-27 14:28] TomeCirun opened #6432 "jinja2.exceptions.UndefinedError: 'extras' is undefined"
**CKAN version**
 master

**Describe the bug**
When trying to access `/dataset` i m getting this error: `jinja2.exceptions.UndefinedError: 'extras' is undefined`

![image](https://user-images.githubusercontent.com/72216462/134928400-f6cd4aab-9172-4233-a775-4abf6195a040.png)

[2021-09-27 14:31] kowh-ai commented on #6418
@Gauravp-NEC - The problem with that is there's a high chance a major version change will severely break things - We never really know when `:latest`  versions will change.

[2021-09-27 17:07] #5490 closed

[2021-09-28 13:04] #6419 closed

[2021-09-28 13:05] #6418 closed

[2021-09-28 13:30] #6428 closed

[2021-09-28 13:31] #6426 closed

[2021-09-28 14:16] kowh-ai commented on #6425
Try a `doc2unix` command on the `ckan-entrypoint.sh` script before building/deploying the images/containers

[2021-09-28 16:50] Zharktas commented on #6427
You need to install our pinned setuptools version from https://github.com/ckan/ckan/blob/master/requirement-setuptools.txt which currently is version 44.1.0. We do need to upgrade dependencies but those updates are not usually added to patch releases as testing resources are limited.

[2021-09-28 20:09] ccancellieri opened #6440 "[2.8.x] missing cache headers on blueprint endpoints"
Hi,
 I'm over 2.8.x and I'm implementing some plugin leveraging over blueprints.

What I'm experiencing is a lack of cache headers on those requests, the rest of ckan is properly cached thanks to:

[code]

Looking at that line (see below)

2.8.x
https://github.com/ckan/ckan/blob/c1c0b16b223b4b75b2042d9755897a41bef67732/ckan/config/middleware/flask_app.py#L328

Master:
https://github.com/ckan/ckan/

[2021-09-29 07:35] ccancellieri commented on #6440
Can be related to:
https://github.com/ckan/ckan/pull/4781

[2021-09-29 07:56] vicoztechnology commented on #6425
thanks @kowh-ai its work.

[2021-09-29 08:33] ccancellieri commented on #6440
This PR is only a quick draft I used to test, (it works and now endpoints are cached) but maybe we would like to **backport #4781 instead**?

[2021-09-29 09:36] tomhukins opened #6443 "The https://ckan.org/ "Contact Us" form is broken"
I realise that this isn't the best place to report this problem, but as your "Contact Us" form is broken I can't contact you about it easily..

When I follow the "Contact Us" link at the bottom of https://ckan.org/ a form appears.  I fill in this form, including telling you that I'm not a robot, then click the "Submit Query" button.  I have seen a "Bad gateway" page earlier today and now I see the

[2021-09-29 09:48] amercader commented on #6443
Thanks @tomhukins . Here's the issue tracker for the website: https://github.com/ckan/ckan.org/issues
I'll transfer the issue there where it will be actioned faster

[2021-09-29 10:15] Ajaysamdyan opened #6444 "ckan latest with datapusher have some package version conflict error"
**CKAN version**
Ckan latest (2.9.x)
**Describe the bug**
While installing the `Datapusher`, some package versions conflict with ckan packages.
**Steps to reproduce**
We have followed the procedure of datapusher installation as per mentioned in below link:
https://github.com/ckan/datapusher/blob/master/README.md

**Additional details**
We have pulled the latest ckan image and tried to install the

[2021-09-30 00:23] vicoztechnology commented on #6425
thanks. its work

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Tue, Sep 28, 2021 at 9:17 PM Brett ***@***.***> wrote:

[2021-09-30 11:36] amercader opened #6446 "DataStore doesn't accept fields starting with underscore"
*TL;DR*
* DataStore currently doesn't allow fields prefixed with underscore. In general we should allow this.
* There are some internal fields added by the DataStore which are underscore-prefixed, which can clash with incoming user-provided fields, most notably `_id`. Although the best approach would be to rename this field to something else, this field has been returned as part of the API since t

[2021-09-30 13:28] #6440 closed

[2021-09-30 15:42] jbrown-xentity opened #6447 "resource_create API returns 500"
**CKAN version: 2.9.4 (latest release)**

**Describe the bug**
When a resource is loaded via the API, a 500 error is given

**Steps to reproduce**
We use Cypress tests to validate key use cases for our users. See [GSA/data.gov PR](https://github.com/GSA/inventory-app/pull/373) showing this test case (tests pass on 2.8). See specific test case [here](https://github.com/GSA/inventory-app/blob/main/e

[2021-09-30 15:42] jbrown-xentity commented on #6447
@amercader, this is the bug I mentioned this morning on dev call.

[2021-10-01 10:45] frafra opened #6449 "Failures when initializing the database"
**CKAN version**
2.9.4

**Describe the bug**

First run:
[code]

Second run:
[code]

**Steps to reproduce**
Steps to reproduce the behavior: `docker-compose up; docker-compose down; docker-compose up`

**Expected behavior**
No errors.

**Additional details**
Docker is used.

[2021-10-01 11:21] #6347 closed

[2021-10-01 11:38] amercader commented on #6383
The `/embed` endpoint is a remnant of the old preview system. The route, blueprint endpoint and template should be removed cc @TomeCirun

[2021-10-01 11:58] frafra opened #6450 "ImportError: cannot import name 'render_jinja2' from 'ckan.lib.base'"
**CKAN version**
master, ad405b580332e5f73e933da8db6ed36a90adfcdf

**Describe the bug**

[code]

**Steps to reproduce**
Steps to reproduce the behavior: `cd contrib/docker && docker-compose down -v && docker-compose up --build`

**Expected behavior**
CKAN starts.

[2021-10-01 13:15] amercader commented on #6447
@jbrown-xentity I could not verify this from your test setup but are you using the `xloader` plugin in the tests by any chance?

This issue was addressed in https://github.com/ckan/ckanext-xloader/pull/140, which was merged and included in the ckanext-xloader 0.9.0 release.

If this doesn't help can you share the list of plugins that are used in these tests? (I could not reproduce it in a vanilla

[2021-10-01 13:35] TomeCirun commented on #6383
@amercader I am sorry... now i see that we have /viewer for this .. and additionally `fullscreen` is doing the same job.. please advise what else can i do  except removing the route,bluprint endpoint and template for /embed (i m not sure about the template as i can see   [view](https://github.com/ckan/ckan/blob/ad405b580332e5f73e933da8db6ed36a90adfcdf/ckan/views/resource.py#L611)  still using `"pa

[2021-10-01 13:49] kowh-ai commented on #6450
Looks like `render_jinja2` was removed in https://github.com/ckan/ckan/commit/d19b2ca1bd7118068c749f773a7cd80cda8c85efharvest was updated on Sep. 22

[2021-10-01 14:29] frafra commented on #6450
Thank you!

[2021-10-01 14:30] #6450 closed

[2021-10-01 14:31] jbrown-xentity commented on #6447
For future, we validate all our extensions are installed: https://github.com/GSA/inventory-app/blob/main/e2e/cypress/integration/ckan_extensions.spec.js#L14-L25

I bumped xloader which we are using, hopefully this solves the issue! https://github.com/GSA/inventory-app/pull/373#event-5394817572

[2021-10-01 14:39] kowh-ai commented on #6449
For what it's worth Iv'e seen this error for a while now...for me (and my simple testing) it seems benign but I'm not sure....this will get discussed in next Tuesday's Dev meeting

[2021-10-01 15:46] jbrown-xentity commented on #6447
That did it, I'm closing this issue. Thanks for the quick response @amercader!

[2021-10-01 15:46] #6447 closed

[2021-10-02 10:09] frafra commented on #6449
It does not seem to affect CKAN, but it would be nice to avoid having it, as log monitoring tools will always see an "ERROR" popping up from time to time.
Thanks! :)

[2021-10-04 13:44] frafra opened #6451 "Remove Docker non-data volumens"
`ckan_config` and `ckan_home` should not be there, as the configuration is created each time the container starts, based on the environment variables. Code should not be mounted as a volume too.

https://github.com/ckan/ckan/blob/ad405b580332e5f73e933da8db6ed36a90adfcdf/contrib/docker/docker-compose.yml#L38-L41

[2021-10-04 14:46] frafra opened #6452 "TypeError: 'ScriptInfo' object is not subscriptable"
I tried to start CKAN using Flask, for debugging purposes in PyCharm.

This is a command line equivalent of what PyCharm tries to do when debugging a Flask app in Docker:
```docker-compose run -e CKAN_INI=/etc/ckan/production.ini ckan python3 -m flask run```

...which fails badly:

[code]

https://github.com/ckan/ckan/blob/ad405b580332e5f73e933da8db6ed36a90adfcdf/ckan/config/environment.py#L41

[2021-10-04 16:48] smotornyuk commented on #6422
Can you confirm that you are using one of the latest v2.8 tags( v2.8.8 or v2.8.9). There was a similar issue before, but I think it was fixed a few months ago (and, just in case, rebuild search index via CLI: `ckan -c <ckan-config.ini> search-index rebuild`)

[2021-10-05 04:21] Gauravp-NEC commented on #6386
@amercader , What is left in patch releases scheduled for September 2021? I think track progress should be closed now.

[2021-10-05 06:17] Gauravp-NEC commented on #6415
@smotornyuk, v3.0.2 is released https://jinja.palletsprojects.com/en/3.0.x/changes/#version-3-0-2.

[2021-10-05 09:58] sim-pml commented on #6422
I have managed to resolve  this issue now .  The `Removed` word was actually irrelevant . This was resolved by updating `plugin.py` for the extension .

I noticed that `convert_from_extras` , `ignore_missing` were the wrong way around in the `show_package_schema` function, once switched around this resolved the issue.

[2021-10-05 09:58] #6422 closed

[2021-10-05 12:19] frafra opened #6456 "Avoid copying all the files in Dockerfiles"
https://github.com/ckan/ckan/blob/ad405b580332e5f73e933da8db6ed36a90adfcdf/Dockerfile#L63

`COPY . /dir` should be avoided, as for any change in .git or other non-relevant folder or files Docker would recreate the image, running pip again etc.

It would be better to copy the requirement files first, then running pip, then copying the source code.

If a wide `COPY` cannot be avoided, a `.dockerigno

[2021-10-05 12:47] amercader commented on #6452
The entrypoints are written to be used using the `ckan run` command. Running `flask run` will probably pass different parameters to the app factory (a `ScriptInfo` object instead of a `dict`). Can you configure PyCharm to run the expected CKAN command (`ckan run`)?

[2021-10-05 13:15] amercader commented on #6449
These are benign, but if someone wants to try to suppress them they should review the Docker entrypoint scripts to see what commands are emitting and try to figure out why there are being shown.

This one `ERROR:  relation "migrate_version" does not exist at character 21` is being generated [here](https://github.com/ckan/ckan/blob/a226a70019d850683ac77abe5a9df9bde2c2f0a4/ckan/model/__init__.py#L26

[2021-10-05 13:16] #6452 closed

[2021-10-05 14:10] kowh-ai commented on #6451
Discussed in the Dev meeting today @frafra - we will keep `ckan_config` and `ckan_storage` but will get rid of `ckan_home` - Until the ckanext-envvars extension is used it is convenient to keep these volumes around for CKAN container restarts (as long as you are using Ubuntu OS which has a nice mapping to local storage, unlike MacOS)...

[2021-10-06 08:05] kowh-ai commented on #6451
Thanks @frafra - tend to agree (Iv'e just tested this) -  For `/etc/ckan/` (ckan_config) `who.ini` is set up as a soft link in the CKAN Dockerfile during the image build and the `production.ini` file is generated in the `ckan-entrypoint.sh` file as you say during the CKAN container startup

@amercader - Can you think of any other file that needs to manually placed in the `/etc/ckan/` directory and

[2021-10-06 08:20] frafra commented on #6451
I am trying to imagine what could be the use case. I think that some users could manually change `production.ini` to add some parameters that are not read using environmental variables, such as extensions.
When I use CKAN + some extensions, I create a new entrypoint which sets them using `crudini`, which is a tool to handle ini files.
A better solution could be to have a base ini file, handled via

[2021-10-08 16:14] pdelboca commented on #6243
I had some time to keep working on this issue. The next step is to refactor all uses of `SessionExtension` which can be tricky to do.

The problem I'm facing is that the SQLAlchemy the paradigm shifted from `SessionExtension` plugins to EventListeners registration. This means that instead of adding an extension to the Session object, we need to register the events upon initialization.

We need to

[2021-10-12 09:01] #6127 closed

[2021-10-12 09:05] frafra opened #6464 "Docker entrypoint does not generate /etc/ckan/production.ini correctly"
**CKAN version**
CKAN 2.8.3, CKAN 2.9.4, CKAN master

**Describe the bug**
Docker entrypoint does not generate `production.ini` correctly.

**Steps to reproduce**
[code]

**Expected behavior**
`ckan.site_url` should be set using `CKAN_SITE_URL` environmental variable.

**Additional details**
[code]

[2021-10-12 17:52] wardi commented on #1518
I had an idea about this one:

Let's let a ckan site define a UUID suffix for all its resources, then all URLs could use the part that comes before that suffix instead of the complete UUID, e.g. a site configured with

[code]
would generate resource ids like
[code]
and the resource URLs would only need to contain `b642`, `6596`, `e746` ... whenever a resource id suffix matches `CKAN_RESOURCE_UUID_

[2021-10-13 14:54] BonaBeavis opened #6470 "Unnecessary key errors"
CKAN 2.9

**Describe the bug**
https://github.com/ckan/ckan/blob/47552742bdd3ace2900bfbc6b85d520239ad2fb0/ckan/lib/app_globals.py#L217

`config.get(key)` with a not existing key throws a `KeyError` instead of returning `None`, because the  `get()` method for `config` is overridden  here:

https://github.com/ckan/ckan/blob/47552742bdd3ace2900bfbc6b85d520239ad2fb0/ckan/common.py#L97-L98

**Steps to

[2021-10-14 08:02] Zharktas opened #6471 "Resources don't have activities"
**CKAN version**
2.9, master

**Describe the bug**
The old activity streams used to have activitities related to resources like "new resource" and "changed resource" among others https://github.com/ckan/ckan/blob/c1c0b16b223b4b75b2042d9755897a41bef67732/ckan/lib/activity_streams.py#L140-L163 The new activities only have activities related to dataset, groups and organizations. https://github.com/ck

[2021-10-14 16:55] paulmueller opened #6472 "Uploading resources via `package_revise` does not trigger `IResourceController.after_create`"
**CKAN version**
2.9.4

**Describe the bug**
When uploading resources via the `package_revise` function using [this approach](https://github.com/ckan/ckan/issues/6360#issuecomment-943491826), the plugin function `IResourceController.after_create` is not called.

**Steps to reproduce**
I tested this by doing a `raise ValueError` in `after_create` in a plugin. Such an error **is not** raised when I

[2021-10-15 09:52] paulmueller commented on #6472
My particular problem is that I have to start background jobs whenever a resource is uploaded.

I find it hard to find a workaround. My first idea was to hook into `IPackageController.after_update`, but then I would have to write another plugin, because of the name clashes for `after_update` between `IResourceController` and `IPackageController` (I think).

So my choices are (1) migrate everything

[2021-10-15 11:09] amercader opened #6475 "Wrong margin in stages banner"
**CKAN version**
master

**Describe the bug**

![Screenshot 2021-10-15 at 12-55-12 Add data to the dataset - CKAN](https://user-images.githubusercontent.com/200230/137477693-85eee473-ce48-471e-b3a5-30f14ef597a7.png)

**Expected behavior**
![Screenshot 2021-10-15 at 13-05-04 Create Dataset - CKAN](https://user-images.githubusercontent.com/200230/137477727-60c96f61-1df7-41db-9653-75243cd397ec.png)

[2021-10-18 15:54] MichaelHarmsTIB opened #6478 "CKAN Api"
Hello,
how can fetch the package_search by createdDate or lastmodified-date?
Is there a proper way to fetch all packages (I mean not package_list)?

[2021-10-19 13:45] #6478 closed, assigned to amercader

[2021-10-20 07:14] smotornyuk commented on #6415
Fixed by #6474

[2021-10-20 07:14] #6415 closed

[2021-10-20 21:57] robson-koji commented on #6278
Wardi, I am new to CKAN, I am looking this issue and I would like to work on it.

**I was not sure how to reproduce the problem**

First I tried on my development environment (git clone here), running the command below in virtualenv.
- ckan -c /etc/ckan/default/ckan.ini run

Translations did not compile on dev, but I think this is the expected behavior.

I built a "production environment" followin

[2021-10-21 13:22] frafra opened #6488 "TypeError: str cannot be used as validator because it is not a user-defined function"
**CKAN version**
master

**Describe the bug**
Adding a CKAN harvester raises an internal server error.

**Steps to reproduce**
Add a CKAN harvest with ckanext-harvest.

**Expected behavior**
No internal server error.

**Additional details**
[code]

I post here since it looks a CKAN issue from the traceback, and not a ckanext-harvest error, but I could be wrong

[2021-10-22 09:28] Engerrs opened #6495 "Activity Stream view changes for Dataset returns 500 error"
**CKAN version**
2.9 and might be older as well.

**Describe the bug**
On Dashboard page where all activities are placed, when you click Changes on Dataset activity, then choose the Date range, CKAN returns 500 error.

**Steps to reproduce**
1. Create Dataset that is attached to an Organization.
2. Update the Dataset once so there will be Activity note.
3. Update the Dataset by changing the Organi

[2021-10-22 15:12] teuno opened #6496 "running ckan with gunicorn .ini file reading not working"
I have a CKAN version 2.9 instance (inside docker) that I would like to run with gunicorn (version 20.1.0).
When running the command:
`exec gunicorn --paste "/etc/ckan/production.ini" --config "/etc/ckan/gunicorn.conf.py"`

the following error appears (the first row in the [app:main] section of the ini file):
`TypeError: make_app() got an unexpected keyword argument 'api_token.jwt.algorithm'
`
Whe

[2021-10-25 08:55] #6496 closed, assigned to nobody

[2021-10-25 13:54] SilviuPantelimonSay10 opened #6499 "Internationalization issues"
**CKAN version**

2.9.4

**Describe the bug**
There is an error for some translations, e.g. romanian, that result in a 500 error on a route for i18n.

**Additional details**
I found the source in ckan/views/api.py and ckan/lib/i18n.py and corrected it. I thought I should let you know.
![image](https://user-images.githubusercontent.com/25910221/138707309-8087b611-b551-4902-90a8-2ee72a66ecbe.png)
![

[2021-10-29 14:48] knudmoeller opened #6506 "Conflicting info on container for Solr in 2.9 install-from-source documentation"
**CKAN version**

2.9

**Describe the bug**

The install-from-source documentation for CKAN 2.9 lists `solr-jetty` as one of the required packages (both in the `apt-get install` command and in the table below), but then later discusses how to setup Solr with Tomcat (not Jetty).

**Steps to reproduce**

Look here

* https://docs.ckan.org/en/2.9/maintaining/installing/install-from-source.html#instal

[2021-11-02 13:27] Gauravp-NEC commented on #6386
amercader , What is left in patch releases scheduled for September 2021? I think track progress should be closed now.

[2021-11-02 14:58] kowh-ai commented on #6506
Hoping https://github.com/ckan/ckan/pull/5875 will be backported to the 2.9 branch and https://github.com/ckan/ckan/pull/5666 to be merged/backported soon too...

[2021-11-03 11:46] ccancellieri opened #6518 "IDatasetForm does not provide package_type to setup_template_variables"
**CKAN version**
2.8.x

**Describe the bug**
I'm creating a new plugin to manage a set of types let's say:

[code]

so the ckan core function:

[code]

Will lookup for my plugin and based on **package_type** assign the management of that type to my plugin....

But then the package_type is not passed to my plugin... so.

How I can get the type of the package we are creating not looking at the url ?

[2021-11-03 11:59] smotornyuk commented on #6518
I think that plugin that defines multiple package types has to provide some generic interface for **every** package type it defines.
If you expect different behavior for different package types - just register every separate type inside different plugin

[2021-11-03 12:01] ccancellieri commented on #6518
So the match is 1 plugin 1 type... which come back to the question... so what's the point of returning a set of types?

[2021-11-03 12:12] smotornyuk commented on #6518
You can register multiple package types in one go, that's the point. As long as all of them share the same logic of `setup_template_variables`, you can do it.
Let's imagine you developing the `report` extension, that provides some sort of `wheater`, `population`, `economics` reports(as a separate package type). All of these package-report types share the same template variables(maybe start/end dat

[2021-11-03 12:16] smotornyuk commented on #6518
PS I am not really against this change, just to make it clear, and I will support PR that changes this behavior. But personally, I think that this will be "the change that only allows to write worse code@

[2021-11-03 12:42] ccancellieri commented on #6518
Yes, I see your point but I don't understand why it should be hidden.

I can't see the point of hide an information which is available to the backend to the template.

To give a bit of context.

I'm writing a jsonschema plugin which is by it'self extensible. The extensions are provided in form of json and jsonschema and no code should be provided.

I also would like to allow people to render their

[2021-11-03 12:45] ccancellieri commented on #6518
by the way I'm also providing several options making this improvement possible NOT breaking any interface.

[2021-11-03 13:01] smotornyuk commented on #6518
You didn't get it:)
It **should not** be hidden, it **is** hidden. I.e, there are no reasons to hide this information, but that's how it's done at the moment. That's all. I am not arguing for hiding it, I rather explain why I have to intention to fix it myself :laughing:  As long as you or someone else will work on PR - you're welcome.

In case you only need different templates for different packa

[2021-11-04 14:26] amercader commented on #6518
So, to sum up the discussion on the dev meeting: `setup_template_variables()` is unreliable as it does not get consistently calls on all endpoints (eg when creating a new resource), but it makes sense that plugins get the `package_type` passed to them.
At the same time we need to maintain compatibility with older plugins that don't expect this parameter so here's what needs doing:

1. Add a new `p

[2021-11-04 23:57] ThrawnCA opened #6521 "Upload.__init__ relies too much on makedirs"
**CKAN version**

2.8, 2.9

**Describe the bug**

ckan.lib.uploader:Upload.__init__ relies on `os.makedirs` to create the storage directory. However, this is inadequate if, for example, the storage directory has been created by another process, with sufficient permissions for CKAN to use it, yet with insufficient permissions in the parent directory for CKAN to have created it.

It also adds extra

[2021-11-05 16:45] fostermh opened #6524 "Application Error email for every web asset fetched"
**CKAN version**
2.9.3

**Describe the bug**
I receive an 'Application Error' email for every web asset loaded when loading a page in ckan via a web browsers. There is no stack trace attached or indication there is an error in the logs.

**Steps to reproduce**
set `debug = false` in ckan.ini, restart ckan, load a page.

**Expected behavior**
no email generated for non-exception log messages

**Add

[2021-11-08 13:51] uliss3s opened #6526 "2.9.4 docker-compose installation method does not work (proxy issue)"
Version: CKAN 2.9.4 (tested with 2.9.3 and 2.9.2 too)

Can't run with docker-compose behind proxy

Just following the steps in http://docs.ckan.org/en/2.9/maintaining/installing/install-from-docker-compose.html

[code]

[2021-11-08 15:35] uliss3s commented on #6526
Looks like a local network proxy problem. Sorry.

[2021-11-08 15:36] #6526 closed

[2021-11-09 13:29] amercader commented on #6521
This code is used to create subdirectories for each uploader type, eg `groups` for group and org images, `admin` for the
admin UI logos, and others that extensions might want to create, which is really useful.

https://github.com/ckan/ckan/blob/master/ckan/lib/uploader.py#L123-L130

Perhaps it's not the most elegant one, what do you propose to improve it? Maybe checking if the directories exist be

[2021-11-10 01:34] ThrawnCA commented on #6521
It would be a good check to add, yes.

Consider a CKAN system created by a configuration management tool like Chef. It might well have the storage directory created, with appropriate permissions for CKAN to use it, but without write access to the parent directory.

[2021-11-10 09:54] paulmueller opened #6528 "requirements.txt is not up-to-date for 2.9 branch"
**CKAN version**
2.9

**Describe the bug**
The requirements file is not up-to-date with master: https://github.com/ckan/ckan/blob/2.9/requirements.txt
For instance, rq should be version 1.10 and not 1.0.

[2021-11-10 11:43] Zharktas commented on #6528
We currently don't have the resources to test updating dependencies in older ckan versions as they might require code changes too. So they are not updated at all. There  has been a discussion about in dev meetings but currently there is no solution and if you install requirements from master, there will be errors with older codebase.

[2021-11-10 13:14] managume commented on #5796
Please, someone could add a clarification in CKAN 2.8 documentation about this issue? CHANGELOG note at 2.8.7 patch release is not totally correct.

If only update sqlalchemy and vdm packages, the `db init` bug is fixed but when you try to create and organisation or group, CKAN returns a SERVER ERROR page. So is mandatory patch meta.py with `True` and `False` instead of `'1'`and `'0'` values.

For

[2021-11-10 13:46] avdata99 commented on #5796
@managume, CKAN 2.9 and master no longer include this code
I assume you need to apply a manual patch on your CKAN 2.8.x code.
Not sure if this is something to apply (sending a PR) to [2.8 branch](https://github.com/ckan/ckan/edit/2.8/ckan/model/meta.py) and include on the next CKAN 2.8 tag release.

[2021-11-10 15:34] frafra commented on #6528
Couldn't we rely on dependabot with auto-tested PR? Sooner or later they need to be updated, so it is better to have some tested PR opened with changelogs (potentially referring to security issues) than not having them in the first place, right?

[2021-11-10 17:58] Zharktas commented on #6528
My personal preference is that we would have security updates on older releases as updating some dependency might break extensions even if CKAN itself with its tests would work. We don't want to break things between patch releases. Rq was updated just for sake of update so that is not even security thing.

[2021-11-10 19:53] paulmueller commented on #6528
OK, makes sense to me.

[2021-11-11 09:15] shubham-mahajan commented on #6524
@fostermh I think this is due to the fix for https://github.com/ckan/ckan/issues/6340

[2021-11-11 16:05] frafra opened #6531 "CKAN 2.9.4 cannot load JS translations when using Python 2.7"
This code is not Python 2.7 compatible:

https://github.com/ckan/ckan/blob/6731c5a821a6a5f4bdaa20f4e793e0b6ba44f823/ckan/views/api.py#L482

In Python 2, `encoding` is not a valid argument for the `open` function, but it is for the `json.load`.

Here is the commit which introduced the regression: https://github.com/ckan/ckan/commit/a280cf123748eb548a64242033aa41c0c67ee256

[code]

It seems to have

[2021-11-12 14:58] amercader opened #6537 "Flaky datapusher test"
This tests keeps failing from time to time in master, would be good to refactor it to avoid unrelated failures:

[code]

[2021-11-12 17:40] smotornyuk commented on #6537
I'll try to work on it next week. I'm testing the execution of tests in random order and such flaky tests are exactly what I'm looking for

[2021-11-15 09:46] frafra commented on #5610
Still not working for me. I have isntalled cookiecutter inside the venv, I used full paths, but I still get:

[code]

[2021-11-15 11:51] frafra opened #6540 "site_intro_text does not change existing values"
**CKAN version** 2.9.4

**Describe the bug**
If I set a different `ckan.site_intro_text`, the text shown in the homepage does not change.

**Steps to reproduce**
1. Set `ckan.site_intro_text`
2. Start CKAN
3. Change`ckan.site_intro_text`
4. Restart CKAN

**Expected behavior**
The new text should be shown.

[2021-11-15 12:19] frafra opened #6542 "layer1.html pushes the Search data form to the roof"
When a featured block is too short, the search data form goes under the header.

<img width="582" alt="CKAN CSS glitch" src="https://user-images.githubusercontent.com/4068/141780787-9f97f740-30b4-4b32-a6ec-5900d001d765.png">
8

This is caused by `col2` class:
https://github.com/ckan/ckan/blob/10aa7c6f92f1dede5f02302e2b6ea4d96aaf4604/ckan/public/base/css/main.css#L10279-L1028

[2021-11-15 15:36] paulmueller opened #6543 "Unclear documentation or behavior of "capacity" keyword in `member_create`"
**CKAN version**
2.9.4

**Describe the bug**
The documentation for [member_create](https://docs.ckan.org/en/2.9/api/index.html#ckan.logic.action.create.member_create) is not very verbose when it comes to adding packages to groups. In my opinion the "capacity" option should not be required when setting "object_type" to "package".

**Steps to reproduce**
I can pass any string for "capacity" in `memb

[2021-11-16 05:49] Sunny-NEC commented on #6341
@amercader @Zharktas  I am interested to work on this issue.

[2021-11-16 09:32] Gauravp-NEC commented on #5159
@amercader @JGulic , I am working on this issue. I have developed the feature to delete a resource view from the resource view list page. I will raise PR after testing the my fix.

[2021-11-16 10:49] Sunny-NEC commented on #6542
@frafra  I am interested to work on this issue.

[2021-11-16 10:51] frafra commented on #6542
@Sunny-NEC Please go for it then :)

[2021-11-16 10:58] Sunny-NEC commented on #6341
@Zharktas if we use %% sign with config variables instead of single % it will work fine. but if we have to use % then we can disable configparser.

[2021-11-16 13:46] Zharktas commented on #6540
I can't reproduce this myself, but did you at any point save the configuration in ckan-admin ? as those are stored in database and database entries always override config variables.

[2021-11-16 14:40] frafra commented on #6540
You are right. It happens only when I modify the website configuration in the meanwhile, even if I do not intend to change the intro text explicitly (I was changing the theme layout, which does not seem to be possible by using the conf file).

[2021-11-16 14:58] Zharktas commented on #6540
Config values which are modifiable in ckan-admin are more or less initial values. When you click save in ckan-admin, whatever there is in the form are then used forever.

[2021-11-16 15:42] frafra commented on #6540
Still, shouldn't a different intro text have some effect and not behave like an initial value?

[2021-11-17 09:16] EricSoroos opened #6545 "Helpers.current_url returns inconsistently quoted url, causing 500 errors."
**CKAN version**
Definitely 2.9, ~Looks like 3.0, master,~ and (probably) 2.8. Bug appears to have been added 5 years ago.  Definitely on python2, maybe on python3.

**Describe the bug**

https://site/%EF%AC%81?foo=bar&bz=%AC%81

`ckan.config.middleware.__init__.py:handle_i18n` urlencodes the querystring, but this function is explictly not for querystrings, as it encodes the special characters. (i

[2021-11-17 09:33] #6545 closed

[2021-11-17 13:36] wardi opened #6546 "validation error on resource subfields (regression) in 2.9"
2.9.4, master

**Describe the bug**
ckanext-scheming demonstrates the failure in its tests https://github.com/ckan/ckanext-scheming/actions/runs/1464096741

**Steps to reproduce**
use ckan 2.9.4 or master branch with a ckanext-scheming dataset schema containing resource subfields

**Expected behavior**
not failing

**Additional details**
This is the traceback of the validation failure, see the for

[2021-11-17 13:49] Gauravp-NEC commented on #5159
@JGulic @amercader , I have raise the PR https://github.com/ckan/ckan/pull/6544 to fix this issue. User can directly delete a resource from the `Explore` drop-down button instead of going to the edit form page and delete the resource. **Edit does not reflect to delete**, the main purpose of edit form is to update a resource.

[2021-11-18 05:52] Sunny-NEC commented on #6542
@frafra I tried to reproduce this issue in my local machine of CKAN version - 2.9.4 but did not find any layer1.html file.
Could you please confirm the CKAN version.

[2021-11-18 06:48] paulmueller opened #6548 "The `bulk_update_*` actions don't call `package_update` and `package_delete` auth functions"
**CKAN version**
2.9.4

**Describe the bug**
If I disallow `package_update` via IAuthfunctions in a plugin, then the `bulk_update_*` functions still work.

**Steps to reproduce**
In a plugin:

[code]

**Expected behavior**
`bulk_update_private`, `bulk_update_delete`, and `bulk_update_public` should not work.

I can work on a PR if you agree that this behavior is unintuitive.

[2021-11-18 07:04] Zharktas commented on #6548
Bulk_update have their own auth functions like https://github.com/ckan/ckan/blob/10aa7c6f92f1dede5f02302e2b6ea4d96aaf4604/ckan/logic/auth/update.py#L257

you should just modify those too. If the package_update auth function would be called for each package, it would have performance impact.

[2021-11-18 08:18] Zharktas opened #6549 "Syntax error on python 3.6 and on 3.8"
**CKAN version**
master

**Describe the bug**
Running cli commands results in syntax error with python 3.6
[code]

We could either fix the error or bump our minimum python version to 3.7 as 3.6 end of life date is in a month anyway.

On python 3.8, master produces different error:

[code]

[2021-11-18 08:49] paulmueller commented on #6548
So, does anyone have a problem with the performance impact (checking all datasets in the dataset list) in those auth functions?

[2021-11-18 09:05] Zharktas commented on #6548
If you bulk update 10000 datasets and run auth check for each of them, it will have an affect. There isn't an auth check which would check access to a list of packages, which is why bulk_update has their own checks.

[2021-11-18 09:13] paulmueller commented on #6548
OK, so I understand that this is actually a desired behavior and nobody is interested in a PR, correct?

[2021-11-18 10:11] Zharktas commented on #6540
@frafra it's the same for all the fields in ckan-admin which get their initial value from config. If you save the settings in ckan-admin , none of those values will be read from config thereafter. This includes logo, site_name, description and probably others.

[2021-11-18 10:28] #6386 closed

[2021-11-18 13:12] amercader commented on #6549
We need to update the docs to reflect that master requires Python 3.7

[2021-11-18 13:14] amercader commented on #6548
This is desired behaviour but we should mention the bulk_ functions in package_update and package_delete auth functions so users are aware of them and can override them too if necessary.

[2021-11-18 14:20] paulmueller commented on #6548
OK, I changed the issue title accordingly and can create a docs-only PR if you like.

[2021-11-18 14:37] smotornyuk commented on #4194
Original issue was caused by the mail client. At present, I'm getting this data passed to the mail client:
[code]

And it's decoded to:
[code]

[2021-11-18 14:37] #4194 closed

[2021-11-18 16:10] richardtallent opened #6551 "Package queries don't work with spaces in the value"
**CKAN version**

Unknown version. We're trying to query the open.alberta.ca site (it's not our site).

**Describe the bug**

Queries on the "pubtype" attribute that include a space are not working. For example, this search:

https://open.alberta.ca/api/3/action/package_search?q=pubtype:Orders%20and%20Directives&rows=50

Should return results including this one:

https://open.alberta.ca/api/3/acti

[2021-11-19 13:33] Zharktas commented on #6531
The issue with relative import in lib directory still needs to be fixed.

[2021-11-23 13:49] amercader commented on #6551
If your query terms contain spaces you need to quote the value with `"`:

https://open.alberta.ca/api/3/action/package_search?q=pubtype:%22Orders%20and%20Directives%22&rows=50

Are these the results you expect?

[2021-11-24 09:03] bzar opened #6555 "Non-root installs broken with python3"
**CKAN version**
2.9.3

**Describe the bug**
Root path is added twice to any generated URLs on the site. For example `/data/data/dataset`

**Steps to reproduce**
Install CKAN 2.9.3 into root_path `/data`, see `data-site-root` body tag attribute when loading `/data/dataset`

**Expected behavior**
The URLs are generated correctly

**Additional details**
This is because the Python 3 app stack does no

[2021-11-25 04:48] richardtallent commented on #6551
Yes, that solves the issue! Thanks!

[2021-11-25 04:48] #6551 closed

[2021-11-25 14:00] amercader opened #6559 "Patch release January 2022"
This is an issue to track progress on the patch releases scheduled for December 2021 / January 2022 (2.8.10 and 2.9.5)

[Full docs](http://docs.ckan.org/en/latest/contributing/release-process.html)

* [x] [Backports](https://github.com/ckan/ckan/labels/Backport%20pending), notable candidates:
    - [x] Solr 8: https://github.com/ckan/ckan/pull/6530
    - [x] Root path: https://github.com/ckan/ckan

[2021-11-29 00:21] paulmueller opened #6563 "Setting `ckan.main_css` does not work because there is no webassets.yml file for custom files"
**CKAN version**
2.9.4

**Describe the bug**
I tried to set [ckan-main-css](https://docs.ckan.org/en/2.9/maintaining/configuration.html#ckan-main-css), but it does not work if there is no corresponding `webassets.yml` file.

**Steps to reproduce**
Set `ckan.main_css = /base/css/my-custom.css` as described in the [docs](https://docs.ckan.org/en/2.9/maintaining/configuration.html#ckan-main-css). No

[2021-11-29 06:30] Sunny-NEC commented on #6549
@Zharktas I am interested to work on this issue.

[2021-11-29 09:26] paulmueller opened #6564 "enh: Resource download buttons should have the HTML5 option `<a download="{{ res.name }}">`"
**CKAN version**
2.9.4

**Describe the bug**
Some uploaded resources may have upper-case chacaters, such as "MyUploadIng.txt". The [Download](https://github.com/ckan/ckan/blob/ckan-2.9.4/ckan/templates/package/resource_read.html#L36) in the resource view links to an all-lower case file name. It would be nice if the downloaded file would have the correct name.

**Steps to reproduce**
1. Upload a re

[2021-11-30 05:56] Sunny-NEC commented on #6564
@paulmueller  I am interested to work on this issue.

[2021-11-30 11:00] maxclac opened #6566 "Registering users don't get the confirmation email"
**CKAN version**
2.9.4

**Describe the bug**

Hi!

I am using CKAN 2.9.4. I noticed that, when a user registers, everything is going fine except that no confirmation email is sent (not even in the spam folder). I don't think it is a postfix problem because commands like `echo "This is the body of the email" | mail -s "This is the subject line" user@example.com` work fine.

**Steps to reproduce**
R

[2021-11-30 13:10] frafra opened #6567 "Back button breaks "Update Project""
**CKAN version**
2.9.4

**Describe the bug**
After a dataset is modified, if the user goes back, the "Update Project" button is disabled.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Modify a dataset
2. Press Back (browser button)

**Expected behavior**
The back button should not break CKAN.

[2021-11-30 13:15] smotornyuk commented on #6563
Yes, you are right, it's webassets thing. Now `ckan.main_css` is a bit broken, I would say so documentation needs to be updated.

[2021-11-30 13:34] Zharktas commented on #6564
name can be anything though, so if we add your suggestion the downloaded file will have whatever is typed in the name field as the file name. The actual issue is that uploaded file urls are handled as lowercase somewhere. And there are numerous places where there is stuff done with headers to decide what to do with the file which could use a cleanup. In general i'm in favor the attribute as it is

[2021-12-02 01:33] florianm opened #6568 "Let Docker services restart "always" to survive system reboot"
**CKAN version**
Current master [ace6850dd](https://github.com/ckan/ckan/commit/ace6850ddabb1bc533c6942cc434e806c62236e5)

**Describe the bug**
When installed via docker-compose, the services do not restart after a system reboot.

**Steps to reproduce**
Steps to reproduce the behavior:
Install CKAN following the [CKAN docker-compose docs](http://docs.ckan.org/en/2.9/maintaining/installing/install-

[2021-12-02 05:51] gg2 opened #6570 "Implementing DefaultDatasetForm and DefaultOrganizationForm simultaneously causes shadowed methods"
**CKAN version**
2.9

**Describe the bug**
If an extension implements both IGroupForm and IDatasetForm, and inherits from DefaultOrganizationForm and DefaultDatasetForm, a number of the methods for templates collide: new_template, read_template, and edit_template. (setup_template_variables also collides, I imagine. I haven't explicitly checked.)

**Steps to reproduce**
For the plugin I'm working w

[2021-12-02 11:03] TomeCirun commented on #6546
hey @amercader , @wardi , I found what causes the error...

[https://github.com/ckan/ckan/blob/ace6850ddabb1bc533c6942cc434e806c62236e5/ckan/lib/navl/dictization_functions.py#L290](url)
Here in this function somehow after all iteration are over, in `errors_unflattened` those items `{'citation': [{}], 'contact_address': [{}], 'resources': [{'schedule': [{}, {}, {}]}, {}]}` still lives... then we ar

[2021-12-02 11:25] frafra opened #6571 "Database connection issues (EOF, connection reset)"
**CKAN version**
2.9.4

**Describe the bug**
Sometimes it can take a minute to load a page and PostgreSQL is full of connection errors.

**Steps to reproduce**
Steps to reproduce the behavior:
- Start CKAN 2.9.4 with Docker
- Open a page from time to time
- See "Internal server error 500" messages and/or wait for a minute for the page to load; see PostgreSQL connection errors

**Additional details

[2021-12-02 12:51] frafra commented on #4734
It still occurs, but it is mitigated by using a Docker HEALTHCHECK or a container fetching the dataset page from time to time.
PR has been merged, but it wasn't enough.

[2021-12-02 12:53] frafra commented on #6571
I looked at the `pg_stat_activity` table. There are 17 connection between CKAN and my database on my test server. Some of them have been idle for more than one hour on a `BEGIN` statement. Many others are in an idle state, stuck on `ClientRead`.

I also encountered this issue: https://www.postgresql.org/message-id/flat/5979.1557543440%40sss.pgh.pa.us

It looks to me that CKAN has some serious issu

[2021-12-02 13:10] amercader commented on #6571
@frafra can we get more details? More detailed logs around these messages or more concrete steps to reproduce? thanks

[2021-12-02 13:15] amercader commented on #6567
@frafra do you mean "Update dataset"?

[2021-12-02 13:23] frafra commented on #6571
Sure, I am sorry that this is not so easy to reproduce. It is easy for me to reproduce on a remote server, but I am unable to reproduce it locally (using the same Docker images).

I am using `ckanext-harvest`, which I think it could multiply the number of concurrent connections to the database or be the real trigger of such lock.

I tried to stress test the server using `siege`, but I got no issue

[2021-12-02 13:26] frafra commented on #6567
@amercader yes, sorry, I fix that. I have a CKAN instance where datasets are renamed to projects :)

[2021-12-02 15:34] frafra commented on #6571
After a total reset on the test server, it is working fine. I wonder if an error triggered during harvesting would make the database connection close cleanly or just stay open.

[2021-12-02 23:22] gg2 commented on #6570
I implemented a fix that immediately seems to work, though I haven't tested it more robustly yet.

I changed "*_template" to "*_group_template" in the reference to each (new, read, edit, and index, because why not) for the group methods in ckan/lib/plugins.py, ckan/plugins/interfaces.py, and ckan/views/group.py. That seemed to touch all the pertinent places. Anything else to consider?
Oh, and setu

[2021-12-04 07:57] gg2 opened #6574 "package_patch Doesn't Handle Untouched Extras As Expected"
**CKAN version**
2.9

**Describe the bug**
Using package_patch to attempt to update a select few custom values from an extension, it throws errors from the validator `extra_key_not_in_root_schema`: "There is a schema field with the same name". I believe it does this because patch melds its data with package_update, and in doing so, brings the other package_extras values into the dict, as extras, b

[2021-12-04 09:27] gg2 commented on #6574
I found a way package_patch should be able to work as expected.
If, show_context['use_cache'] = False, package_show will return a better version of the dict, without 'extras' set, and those custom values "properly" set at the top-level. Then, package_update (via extra_key_not_in_root_schema) doesn't balk.

[2021-12-06 06:05] smotornyuk commented on #6570
It's really a good solution. Previously, similar work was done to `IPackageController` / `IResourceController`: #6560

In addition, there should be some solution for keeping backward compatibility for a couple of releases, [like this](https://github.com/ckan/ckan/blob/master/ckan/plugins/interfaces.py#L549-L566). Would you like to provide a PR?

[2021-12-06 17:04] frafra opened #6575 "Cannot upload organizations with logo via API"
**CKAN version**
2.9.4

**Describe the bug**
Cannot upload organizations with logos using ckanapi any more, because of strict typing.

**Steps to reproduce**
Upload an organization with ckanapi using `--upload-logo`, like this:
[code]

The `--upload-logo` makes ckanapi send the data as `multipart/form-data` instead of JSON and CKAN fails because `is_organization` is a string and not a boolean.

**

[2021-12-06 17:11] guilhermeiablo opened #6576 "sqlaclhemy Can't reconnect until invalid transaction is rolled back"
CKAN 2.4.9

Hi people, I'm running CKAN 2.9.4 with a handful of extensions. Lately I've been getting a sqlalchemy error whenever I try to make edits to anything related to Groups:

sqlalchemy.exc.StatementError: (sqlalchemy.exc.InvalidRequestError) Can't reconnect until invalid transaction is rolled back
[SQL: SELECT system_info.id AS system_info_id, system_info.key AS system_info_key, system_info

[2021-12-06 17:12] frafra commented on #4494
It seems to work now.

[2021-12-06 17:12] #4494 closed

[2021-12-06 20:02] gg2 commented on #6570
Yeah, I can do that. I see what's happening there with the example you provided. Looks like a great way to maintain backwards compatibility.
So I'll see about creating a PR this week.

[2021-12-07 08:45] Sunny-NEC commented on #6566
@maxclac i am intrested in this issue.

[2021-12-07 10:57] #6566 closed

[2021-12-07 12:46] frafra commented on #6571
@guilhermeiablo It should be enough to stop CKAN, restart the database, and start CKAN again.
CKAN has some consistency issues with the database when handling errors in my opinion: just today I had a user logging in via LDAP, Solr was down, and CKAN wrote the user in the database, then crashed, leaving it not consistent. Check your logs to see if any unexpected restart or error happens: that could

[2021-12-07 13:17] frafra commented on #6576
Duplicate? https://github.com/ckan/ckan/issues/6571

[2021-12-07 13:17] guilhermeiablo commented on #6571
thanks @frafra ! So, to be abundantly clear, I ran a `service nginx stop`, then `/etc/init.d/postgresql restart`, and then a `service nginx start`. First thing I got when trying to access ckan website was the sqlalchemy again... Ran a `supervisorctl reload` for it to go back to normal, so I don't think this solved it for me?

[2021-12-07 13:35] frafra commented on #6571
@guilhermeiablo It depends on how your system is configured, I guess (I do not use supervisorctl).
It could be that something fails before that error. Could you please share the relevant part of your logs (if there is any other error)?

[2021-12-07 14:20] FuhuXia opened #6579 "Searching organization with trailing space failed"
**CKAN version**
2.9

**Describe the bug**
When doing an organization search, the search terms are not trimmed. Searching with `GSA ` will not find organization **GSA**.

**Steps to reproduce**
https://demo.ckan.org/organization/?q=organization+
It gives no results.

**Expected behavior**
Show results including **Sample Organization**.

**Additional details**
Search terms need to be trimmed.

[2021-12-07 15:03] wardi commented on #6546
@TomeCirun the better solution is to make this code match what master is doing (or 2.8 if you prefer) because those versions work and don't have special-case clean up code

[2021-12-07 16:45] TomeCirun commented on #6546
Thanks, Wardi

[2021-12-08 05:31] Sunny-NEC commented on #6579
@FuhuXia I am interested to work in this issue.

[2021-12-08 12:38] guilhermeiablo commented on #6571
Thanks for your help, @frafra . The postgresql logs show this:

[code]

and of course the debugger in the web interface shows:
[code]

[2021-12-08 12:56] frafra commented on #6571
No other errors?
I think it could be a good idea to run Postgresql using `log_statement = all`, so see what was running and why. Could it be related to some specific plugin of yours?

[2021-12-08 13:16] guilhermeiablo commented on #6571
I think it's possible, because I wasn't getting this error before. I tried something in my custom plugin using the map_before function for creating new custom pages, it didn't work so I removed it completely, and it's been misbehaving since...

I ran postgresql with the `log_statement` set to all and these are my logs from the moment I restart the database and get that very error:

[code]

[2021-12-08 13:20] kowh-ai commented on #6568
PR tested - works great

[2021-12-08 13:20] TomeCirun commented on #6546
@wardi, actually the same problem occurs in master too, I m working on master and I m facing the same problem ...

[2021-12-08 14:02] frafra commented on #6571
@guilhermeiablo I count 90 BEGIN, 7 COMMIT and 83 ROLLBACK; it looks fine (90 = 7+83).
Could you also check the `pg_stat_activity` table to see if something is running/hanging?

[2021-12-08 14:47] wardi commented on #6546
@TomeCirun oh I thought we were running the scheming tests against master too. I guess the fix is to make the validation behave like it did in 2.8 (if possible)

[2021-12-08 18:25] guilhermeiablo commented on #6571
Not a whole lot either, I'm afraid...

` backend_start         |          xact_start           |          query_start          |         state_change          | wait_event_type |     wait_event      | state  | backend_xid | backend_xmin |              query              |         backend_type
-------+-------------------+--------+----------+-------------------+------------------+-------------+-----

[2021-12-08 20:27] #6568 closed

[2021-12-09 21:40] jqnatividad opened #6587 "Incomplete/incorrect documentation for supervisor ckan-worker.log setup"
**CKAN version**
master

**Describe the bug**
The template for `supervisor-ckan-worker.conf` sets up the logfiles to go to `/var/log/ckan`, however, subsequent mention of the worker.log in background-tasks.rst refers to `/var/log/ckan-worker.log`.

**Steps to reproduce**
Steps to reproduce the behavior:
Follow the Using Supervisor procedure - https://docs.ckan.org/en/2.9/maintaining/background-tas

[2021-12-10 10:01] emgmarcote opened #6588 "DataProxy returned an error"
**CKAN version**

2.9.3

**Describe the bug**
A clear and concise description of what the bug is.

Data explorer should work

**Steps to reproduce**
Steps to reproduce the behavior:
When dataset is uploaded, I receive that message:

Could not load view: DataProxy returned an error (Data transformation failed. error: An error occured while connecting to the server: DNS lookup failed for URL: http:/

[2021-12-10 12:46] pdelboca commented on #6243
@amercader this ticket is not finished yet. I'm still working on some of the cleanup like the MapperExtensions.

I would suggest to keep it open :)

[2021-12-14 10:11] frafra commented on #6531
The `io.py` has been renamed to `io_.py` on master.

Should that change be back ported too? https://github.com/ckan/ckan/commit/96693f22b14581de23ffcf28022ad90b974367d6

[2021-12-14 12:05] frafra commented on #6571
I found something easy to reproduce on CKAN 2.9.4.

[code]

Trying to reindex always fails on my system, and it triggers a database error:
[code]

That is a clear sign that CKAN sometimes (or always?) does not close the database connection when there are errors. I think that it could be the same when killing it with SIGKILL or SIGTERM.

[2021-12-14 13:11] frafra commented on #6531
I am unable to reproduce on `dev-v2.9`. Fully fixed then?

[2021-12-14 18:00] TomeCirun commented on #6546
Hey, @wardi if we need the same behavior on `2.9` and `master` as on `2.8`, here is the fix

![image](https://user-images.githubusercontent.com/72216462/146052185-004f72bd-73c6-44ae-b069-77ec79e7ae3c.png)
but then I m going to conflict with the @smotornyuk last changes on `config.declaration.load.py` as I m getting this `error`:

![image](https://user-images.githubusercontent.com/72216462/14605295

[2021-12-15 08:20] frafra opened #6600 "setup.py has no requirements"
https://github.com/ckan/ckanext-spatial/blob/9831e74c9e9eedcb35fa00858190f778d83928ad/setup.py#L46

[2021-12-15 11:01] frafra opened #6599 "Cannot run reindex"
**CKAN version**
2.9-dev

**Describe the bug**
Cannot reindex the database.

**Steps to reproduce**
This happens on some of my setups, but not on all of them, so it can be hard to replicate. I just imported some dataset and run reindex.

**Expected behavior**
Reindex should work or give better errors.

**Additional details**
[code]

I started to debug CKAN using `pdb` and I found that `package_sho

[2021-12-15 14:50] ajddba commented on #6050
did you ever work this out?

[2021-12-15 19:03] ddazal commented on #6050
@ajddba No, I ended up installing ckan from the package https://docs.ckan.org/en/2.9/maintaining/installing/install-from-package.html

[2021-12-15 19:48] ajddba commented on #6050
@ddazal cheers - unfortunately i cant install from package as its for centos

[2021-12-16 09:32] frafra commented on #6599
This issue is related to an extension which relies on `g.user` to create a new context.

[2021-12-16 12:16] frafra commented on #6599
This is how I fixed that:

[code]

Feedback is welcome.

I didn't have the same issue in CKAN 2.8.4 for some reason.

[2021-12-16 12:31] Nenad-N commented on #4512
hi guys,
We are trying to restart ckan, our installed version is 2.8.9, and it happens when we make changes to the configuration files, it does not save the changes. We tried restarting jetty8 and activating and deactivating our virtualenv the same problem happens to us.

[2021-12-16 13:07] #6587 closed

[2021-12-16 14:22] Zharktas opened #6605 "OneOf validator does not accept empty value"
**CKAN version**
2.9, master

**Describe the bug**
OneOf validator was added in https://github.com/ckan/ckan/issues/4800, it is used in for example scheming where there are select fields where selecting one is not required. 2.8 accepts it as is, 2.9 fails in validation error.

Simple test added to scheming here:

https://github.com/vrk-kpa/ckanext-scheming/blob/a4618a7c6dea180a125eaa52441ec9d1d528

[2021-12-16 14:40] amercader commented on #6599
Flask raises an exception if you try to access an non-existing property of the `g` object. On CKAN 2.8 the `g` object implementation was provided by Pylons which doesn't fail. Your approach here seems correct.

[2021-12-16 14:40] #6599 closed

[2021-12-16 14:43] amercader commented on #6588
The issue here is that data needs to be imported to the DataStore. DataProxy is a fallback external service that is used when data can not be found in the DataStore. As it is an external service, it can not access a local file on your instance.

Check the documentation on how to set up the DataStore and also DataPusher or Xloader to automatically import data to it:

http://docs.ckan.org/en/2.9/mai

[2021-12-17 11:13] maxclac commented on #6566
Thank you @smotornyuk for the information. Just a last question: is it the same for invitation emails (i.e. when I want to invite someone to a group who does not have an account)? Do I need to inform this person myself?

[2021-12-17 11:21] Zharktas commented on #6566
If you invite someone without an account to a group or organization, they will get an email about the invitation and resetting password. Template for that is here https://github.com/ckan/ckan/blob/master/ckan/templates/emails/invite_user.txt

[2021-12-17 11:27] maxclac commented on #6566
I see. So there is no confirmation email for users registering themselves, but there is an invitation email when someone wants to invite someone else to a group. Thank you for the clarification!

[2021-12-17 14:02] BainMcKay commented on #6050
We installed on Ubuntu 20.04 on Digital Ocean. The only issue I was having is [urllib3] http handler to SOLR. it complained about version mismatch. Manual changing the version number did not help. I replaced it with [python3-requests], which resolved that connection issue. It effected Datapusher fetching of csv files from FileStore. Now I get the csv fetched in [Upload to DataStore], parsing of CS

[2021-12-17 15:58] jeverling opened #6611 "Groups should be selectable as Dataset collaborators"
The Dataset collaborators feature is a great addition in 2.9. However, it only allows to select individual users as collaborators, not groups.
CKAN describes groups as means for _catalogue datasets for a particular project or team_. Having to add all individual users of a team to a dataset as collaborators individually can be error prone for larger teams. Being able to make groups collaborators on

[2021-12-20 09:50] #6521 closed

[2021-12-21 10:01] #6524 closed

[2021-12-21 11:01] #6555 closed

[2021-12-21 11:12] smotornyuk commented on #6546
Yes, I really like this change and I'm glad that you replaced that ugly line in the `declaration/load.py`

[2021-12-21 11:13] smotornyuk commented on #6546
Yes, I really like this change and I'm glad that you replaced that ugly line in the `declaration/load.py`

[2021-12-23 03:43] hongjie123 opened #6616 "Counting website visits"
In August 2021, it could still be counted normally and stored in the database. After September, it suddenly stopped working and was no longer counted.

Who has encountered such a problem, how to solve it?

![image](https://user-images.githubusercontent.com/54384385/147184830-3b7ebf50-42df-4641-8d06-2367e8f3c23d.png)

[2021-12-24 09:04] hongjie123 commented on #6616
How to count the number of visitors to CKan website?

[2021-12-29 07:12] bzar opened #6621 "Wrong auth function used when editing organizations"
**CKAN version**
2.9.4

**Describe the bug**
Organization edit view uses group_update auth function instead of organization_update

**Steps to reproduce**
Steps to reproduce the behavior:
- Override `group_update` auth function to always fail (allows only sysadmins)
- Attempt to edit an organization as a regular user

**Expected behavior**
Editing succeeds

**Additional details**
This is because `

[2022-01-03 03:52] Gauravp-NEC opened #6623 "No "Previous" button in Organization/Group edit form page"
**CKAN version**
Master
**Describe the bug**
There is no "Previous" button available in Organization/Group edit form page. If a user changes his mind not to edit Organization/Group form page or mistakenly reached to Organization/Group edit form page, there should be a "Previous/back" button to go back to previous page.

**Steps to reproduce**
Edit any Organization/Group.

**Expected behavior**
 Th

[2022-01-04 14:02] hussnainwithss opened #6627 "db update Fail after migrating database from ckan 2.8.3 to ckan 2.9.3 instance"
**CKAN 2.9.3 by LinkDigital**

**Describe the bug**
Im following the guide on migrating database from 2.8 to 2.9.3 (both are from linkdigital). after taking dump and restoring it using pg_restore. i need to update the schema after migrating 2.8 version data. but db update command gives error. it also gives warning that harvester table creation deferred.

**Steps to reproduce**
1- dump database fro

[2022-01-04 14:03] Gauravp-NEC commented on #6623
If Dev-team agree to have "Previous" button available in Organization/Group/Dataset edit form page. I will submit the PR. Thank you 😊

[2022-01-05 04:08] Sunny-NEC commented on #6116
@Zharktas Regarding this issue  could you please share the use case for the email extension.

[2022-01-05 11:20] smotornyuk commented on #6627
Something is wrong with your DB dump or DB server settings. Check [this StackOverflow post](https://stackoverflow.com/questions/41207259/no-schema-has-been-selected-to-create-in-error)

[2022-01-05 13:23] #6621 closed

[2022-01-05 14:00] amercader commented on #6531
AFAICT this has been fixed in 2.9

[2022-01-05 14:00] #6531 closed

[2022-01-05 14:32] stefina commented on #6531
We have applied this patch for one of our instances running 2.9.4 and no longer get this error, so this is indeed the fix :)

[2022-01-05 14:39] #6546 closed

[2022-01-05 14:52] hussnainwithss commented on #6627
so basically we are using the base instance provided by linkDigital. it is possible they are configured in different ways as i havent modified any of them.  The 2.8 dump does have other extensions installed that modify the schema and add new meta fields. where as the 2.9 one doesnt have those extensions installed. can that might be the issue?

[2022-01-06 00:56] ThrawnCA opened #6631 "Intermittent duplicate key errors when creating default sysadmin"
**CKAN version**

CKAN 2.9.x. Does not appear to affect 2.8.

**Describe the bug**

When our continuous integration tests initialise a test CKAN 2.9 instance, they sometimes encounter a duplicate key exception when CKAN is attempting to create the 'default' sysadmin account. There does not appear to be any specific pattern to when the errors occur; re-running the build may resolve it, or not. This

[2022-01-06 02:32] Gauravp-NEC commented on #6570
@smotornyuk , I am interested to work on this issue.  @gg2 , Please let me know if you are still working on this issue. Thanks

[2022-01-06 03:39] ThrawnCA commented on #6631
Does `ckan.logic.action.get:get_site_user` need some kind of transaction lock, to prevent race conditions between checking the presence of a user, and trying to add that user?

[2022-01-06 04:08] ThrawnCA commented on #6631
Fixed on our fork in commit https://github.com/qld-gov-au/ckanext-ytp-comments/pull/67/commits/bbbd29db18a150d3a8a82ae1a389743196080a04 (creating the site user is idempotent, so just swallow the error)

[2022-01-06 12:19] smotornyuk commented on #6627
Yes, it's possible. I've tested your examples of `pg_dump`/`pg_restore` on my local PostgreSQL server and it worked like a charm.
This means, that commands are correct. You haven't modified the dump itself, so the only possible problem from my point of view is the differences between PostgreSQL services that you are using for your old and new CKAN application.

Do you mean, that on CKAN 2.8 you ha

[2022-01-06 12:32] hussnainwithss commented on #6627
@smotornyuk it works locally for me as well. but when i take the dump to a remote ckan 2.9 server it work restore anything. and throws the error. ill try to recreate both servers again and then try and will also look at the configurations. since you work with LinkDigital would you be able to let me know if there are any configuration changes made in the new ckan 2.9 AWS AMI.

[2022-01-06 13:08] BonaBeavis opened #6632 "Writing extensions tutorial is not up to date"
**CKAN version**
2.9

**Describe the bug**
[This](https://docs.ckan.org/en/2.9/extensions/tutorial.html#creating-a-plugin-class) and [that](https://docs.ckan.org/en/2.9/extensions/tutorial.html#adding-the-plugin-to-setup-py) are not needed anymore.

[2022-01-09 10:36] gtkChop commented on #5664
I guess this is the problem:

https://github.com/ckan/ckan/blob/master/ckan/templates/macros/form.html#L457

If any form validation error occurs the value will be reset to ''

[code]

[2022-01-09 21:11] frafra opened #6635 "Dockerfile uses an old version of Ubuntu Focal"
https://github.com/ckan/ckan/blob/86474733977828686e8fd1d1d0d3476b8cca2731/Dockerfile#L2

Shouldn't `:focal` be used instead of `:focal-20210119`? Otherwise, someone should always update this Dockerfile and run some tests to assure that compatibility is not broken, which does not seem to be the case.

[2022-01-10 07:15] smotornyuk commented on #6631
Perfect. Don't you mind creating a PR?

[2022-01-10 07:24] mominimtiaz786 opened #6636 "organization_facets not working, instead replaced by group_facets but no description given about the change"
**CKAN version**
2.9

**Describe the bug**
[organization_facets](https://docs.ckan.org/en/2.9/extensions/plugin-interfaces.html#ckan.plugins.interfaces.IFacets.organization_facets) that were working in the 2.8 version of ckan are not working any more and there is no description in the documentation about changing of any thing. Instead group_facets function is being used to render facets on organiz

[2022-01-10 08:42] gg2 commented on #6570
I'm finally getting to it. So, yes, still working on this issue. I'm glad to hear it'll be used, though.

[2022-01-10 12:11] Gauravp-NEC commented on #6567
@frafra @amercader  , I have tried to reproduce this issue but the issue is not reproduced. Can you provide more details to reproduce this issue?

If dataset is updated and browser back button is pressed without clicking on `Update Dataset` button then definitely it will break the updates. Secondly, if dataset is updated and `Update Dataset` button is clicked to complete the dataset update task th

[2022-01-10 17:24] frafra commented on #6567
Sure. Just click on `Update Dataset` and use the brower back button. When you click on `Update Dataset`, the button switch to inactive, so when the browser goes back, the DOM is restored as it was, and the button is still disabled.

[2022-01-11 05:08] Gauravp-NEC commented on #6567
@frafra , I have re-tried to reproduce this issue based on your above reply. Again, the issue is not reproduced.
If I just click on `Update Dataset` button then the page is redirected back.

[2022-01-11 11:45] smotornyuk commented on #6627
Yep, i'll share this discussion with our team

[2022-01-11 14:13] #6605 closed

[2022-01-12 06:07] ArqamFarooqui110719 commented on #6571
I'm also facing similar issue with CKAN 2.7.2, we have also raised a discussion on https://github.com/ckan/ckan/discussions/6602 and shared data on that.
@amercader is there any plan to fix this issue nearby?

[2022-01-12 09:29] kowh-ai commented on #6635
The idea of using a specific Docker base image is to minimise issues caused by a base image change update we have no control over.  eg: if we use `:focal` _or_ `:latest` an update to this from the Ubuntu team that maintains there images could cause a issue that may take a while to work out what caused the problem. An update (by the CKAN team) to a new base image can be a little more controlled

[2022-01-12 10:34] smotornyuk commented on #6571
I don't think so. All the issues with the [Good for Contribution](https://github.com/ckan/ckan/labels/Good%20for%20Contribution) label are not progressed by the tech team at the moment. But volunteers are welcome:)

[2022-01-12 10:41] quinoescobar opened #6644 "SQLAlchemy Session error when updating a resource"
**CKAN version**
2.9.4

**Describe the bug**
I just update from 2.9.3 to 2.9.4 release in my testing server and when I try to update a resource by API call or by web the ckan gives a timeout error.

**Steps to reproduce**
Use version 2.9.4, log in and in an existing dataset try to reload a new version of the file a resource has, then update the resource, and starting this moment the app stops work

[2022-01-13 01:30] Gauravp-NEC commented on #6563
@smotornyuk , I am interested to work on this issue. If set `ckan.main_css = /base/css/my-custom.css` then below lines should be appended in webassests.yml file?
[code]
The same needs to be updated in Docs: https://docs.ckan.org/en/2.9/maintaining/configuration.html#ckan-main-css? Please confirm my understanding. Thankyou :)

[2022-01-13 08:26] smotornyuk commented on #6563
No, it's not a proper way to handle the issue. What you've suggested allows using `my-custom` as a custom CSS file, but it will not work with other filenames.
At the moment I don't see an easy way to fix the problem. `ckan.main_css` config option must be rethinked and, probably, replaced with something else

If you are interested in this issue, feel free to create a PR with a fix.

[2022-01-13 11:48] frafra commented on #6635
I can understand the reason, but that also means to have outdated images with potential security issues. Would the CKAN team consider something like depend-a-bot for Dockerfiles if someone develop some end-to-end test for that?

[2022-01-13 13:37] EricSoroos commented on #6635
For the solr one, we're pinning to solr:8 (at least in a recent pr). Ubuntu has a relatively strong promise for compatibility within a LTS distribution. In my experience/opinion, the risk from not updating for a security issue far exceeds the likelihood of a regression from the base os, especially since we are not pulling in many packages.

(And actually going further, I'd recommend doing an apt-g

[2022-01-13 14:53] pdekraker-epa commented on #6611
I made an [extension](https://github.com/USEPA/ckanext-collaborator_orgs) that provides this. It is functional but would benefit from more tests / development. However, I would say integrating it into CKAN would be preferable.

[2022-01-14 01:22] ThrawnCA commented on #5807
I mostly like it, but if it's already getting filed under 'notify', maybe it can have a shorter name?

[2022-01-14 13:11] wrinklenose opened #6649 "The title of a dataset is translated in some cases"
**CKAN version**
2.8.4

**Describe the bug**
The title of a dataset is translated in some cases if you run ckan localized.

**Steps to reproduce**
Steps to reproduce the behavior:

- run ckan localized, choose the german language (de)
- create a new dataset with the title "private"
- review the created dataset in the detail page: It shows up as "Privat" in title and Breadcrumb

Same happens for ex

[2022-01-14 14:28] kowh-ai commented on #6635
Yes maybe `:focal` is the better option in this case (Ubuntu images). Either that or I have a monthly task of testing the latest focal image (assuming there is one), creating a PR and getting the PR merged. I'm not familiar with Dependabot @frafra but if it can help alleviate this sort of manual work I think it's a good idea!

[2022-01-15 08:36] Gauravp-NEC commented on #6623
@Zharktas, PR https://github.com/ckan/ckan/pull/6640 will fix this issue.

[2022-01-17 06:21] Sunny-NEC commented on #6616
@hongjie123 Regarding this issue checked the source code  and find this feature is already present in ckan.

[2022-01-17 06:28] smotornyuk commented on #6627
@hussnainwithss , I've discussed it with the team and they confirmed that there was nothing special about your instance's image. It was using exactly the same defaults as any other LinkDigital's images

[2022-01-17 06:30] smotornyuk commented on #6644
I have the similar issue with ckanext-xloader <= 0.9.0. Can you upgrade ckanext-xloader to the latest version? (or you're already using it?)

[2022-01-17 12:31] hussnainwithss commented on #6627
okay so the issue is with the backup file it self i think.

[2022-01-18 01:50] Jianbo-jia opened #6656 "Using python 2.7 in ckan 2.9 docker"
**CKAN version**
ckan 2.9
**Describe the bug**
as title, I want to using py2 in docker, I mod Dockerfile's python version, it doesn't work. is anyone can give me some advise?

**Expected behavior**
hope python 2.7 can used in ckan 2.9 docker

[2022-01-18 09:54] amercader opened #6657 "not_empty validator does not support `False` or 0"
**CKAN version**
All

**Describe the bug**
The `not_empty` validator raises an error when the value is any "[falsy](https://docs.python.org/3/library/stdtypes.html#truth-value-testing)" one , including `False` or `0`, which might be legitimately correct in a boolean or int field.

This is generally not an issue because the validators get data sent from an HTTP request so the incoming data_dict tha

[2022-01-18 10:33] Sunny-NEC commented on #6632
@BonaBeavis I am interested to work in this issue

[2022-01-18 10:41] kowh-ai commented on #6656
Which tag or branch of CKAN 2.9 did you use?

[2022-01-18 10:56] quinoescobar commented on #6644
I'm working with ckanext-xloader V0.9.0 right now because I've had this issue: https://github.com/ckan/ckanext-xloader/issues/148
But just now I saw your reply to that issue.

I'll try CKAN core v2.9.4 with ckanext-xloader V0.10.0, and check both issues.

Thanks

[2022-01-18 11:53] amercader commented on #6390
Fixed in https://github.com/ckan/ckan/pull/6399

[2022-01-18 11:53] #6390 closed

[2022-01-18 13:36] kowh-ai commented on #6656
@Jianbo-jia - I just installed CKAN (Docker) branch=**2.9** and the Python version is **2.7.13**

[2022-01-18 14:20] wardi commented on #6649
@wrinklenose #6660 should solve this issue

[2022-01-18 15:23] wrinklenose commented on #6649
@wardi I haven't tested the PR yet, but it looks for me like it does not fix the described problem. But maybe if have a wrong or at least a different understanding of how CKAN should behave.

In my understanding the title of a dataset should **NOT** be translated in any case.
For example:
If I name a dataset "private" it should remain named "private" regardless which language I run CKAN. Am I wron

[2022-01-18 16:08] wrinklenose commented on #6649
@wardi Full step back! The PR works! And I have to check why and how...

[2022-01-19 11:14] quinoescobar opened #6662 "Broken request when URL has trailing slash"
**CKAN version**
2.9.3

**Describe the bug**
If you browse to a page with a trailing slash, ckan can't find it and shows 404 error

**Steps to reproduce**
Go to                    https://demo.ckan.org/es/dataset/sample-dataset-1                         ................. [200]
then try going to  https://demo.ckan.org/es/dataset/sample-dataset-1/                       .................. [404]
https

[2022-01-19 11:33] amercader commented on #6559
CKAN 2.9.5 and 2.8.10 were released on January 19th 2022

[2022-01-19 11:33] #6559 closed

[2022-01-19 14:12] #6226 closed

[2022-01-19 17:46] josedager commented on #5579
I solved it modifying the server.py file, adding the option Threaded=True to the werkzeug run_simple function... after that it render very faster...
![server py](https://user-images.githubusercontent.com/12756934/150185762-31fc0c98-2384-4c9e-8191-c0c4df7e2114.png)

[2022-01-20 05:52] Sunny-NEC commented on #6632
@BonaBeavis Regarding this issue i want to know only we have to delete the extension tutorials . please confirm

[2022-01-20 11:17] EricSoroos opened #6665 "Obsolete requirements"
**CKAN version**

2.9.5

**Describe the bug**

Obsolete requirements:
* pytz is pinned to 2016, https://github.com/ckan/ckan/blob/2.9/requirements.in#L23
* Zope.interface is pinned to a version from 2016, prior to python 3.6 support. https://github.com/ckan/ckan/blob/2.9/requirements.in#L38 (ref: https://pypi.org/project/zope.interface/)

Specifically, (at least on python 3) the zope.interface pin

[2022-01-21 14:13] quinoescobar commented on #6336
It can't be apply right now, the parameter encoding in the logging.config.fileConfig it's not present for the versions of python currently fully supported by CKAN, Python 3 (<= 3.8).
Only starting from Python 3 version >= 3.10 the encoding parameter its implemented

"**_New in version 3.10: The encoding parameter is added._**"

https://docs.python.org/3.10/library/logging.config.html#logging.confi

[2022-01-22 22:27] BonaBeavis commented on #6632
The sections I linked to. The ckan generate command includes those parts already

[2022-01-24 00:28] hussnainwithss commented on #6627
@smotornyuk i redid the whole process using fresh instances, but used pgadmin to restore data and everything is working fine.  Was able to restore whole data along without any issues. Thank you for your help. 💯

[2022-01-24 00:28] #6627 closed

[2022-01-24 00:50] hussnainwithss commented on #6636
@amercader any updates on this issue?

[2022-01-24 04:42] Sunny-NEC commented on #6575
@tino097  I am interested to work in this issue.

[2022-01-24 10:22] maxclac opened #6670 "uwsgi in supervisor : spawn error"
**CKAN version**
2.9.5

**Describe the bug**
I am using CKAN with Supervisor. I have the following error when I try to restart uwsgi in supervisor:
[code]
The uwsgi logs tell me this:
[code]
This happened after a reboot. Before it was working fine. What can I do?

[2022-01-24 12:33] sagargg opened #6672 "API option doesn't show when the multiple resources are added to the new datasets."
**CKAN version**
**2.9.5**

**Describe the bug**
Datastore won't get active when multiple resources are added to the newly created datasets.

**Steps to reproduce**
1. Create Datasets
2. Add New resource
3.  Click `Save and add another` resource to add another resource.
4.  Finally click `Save` to finish the dataset creation. You will see that only one dataset has an API option,  even all files pu

[2022-01-24 13:29] maxclac commented on #6670
It turns out that CKAN on this machine runs both with supervisor and as a service with systemd. Both conflict with each other. If I turn off the systemd-deployed CKAN with `systemctl stop ckan`, I can restart supervisor normally without problem. Is it safe in that case to completely remove the ckan.service file, so that I don't have this problem again in the future?

[2022-01-24 15:06] tino097 commented on #6636
@amercader @hussnainwithss @mominimtiaz786
The issue exists because the [function](https://github.com/ckan/ckan/blob/2.8/ckan/controllers/organization.py#L27) for organizations was not migrated from pylons to flask correctly.

@TomeCirun was working on this and he would provide a PR later this week

[2022-01-25 11:35] quinoescobar commented on #6644
@smotornyuk It worked.

Just upgraded to the version 2.9.5 of CKAN with XLoader extension version 0.10.0 and the problem was solved.

Thank you.

[2022-01-25 11:35] #6644 closed

[2022-01-26 10:41] TomeCirun commented on #6672
Hey @smotornyuk, @sagargg,  I was doing a bit of research about this problem, seems everything's fine except this query from `solr` which returns an empty list after we submit the first resource:
https://github.com/ckan/ckan/blob/d61a533cc330b6050f4957573f58ec912695ed0a/ckanext/datastore/logic/action.py#L662-L668

So our first resource never reaches for the update in line 666 which contains the `{

[2022-01-26 13:10] smotornyuk commented on #6672
By default CKAN [filters out all draft datasets(non-active)](https://github.com/ckan/ckan/blob/master/ckan/lib/search/query.py#L339-L340). When created dataset remains in the draft state till the user clicks on the **Finish** button.

[2022-01-27 06:49] smotornyuk commented on #6672
Generally, yes. Just don't forget to take into account the fact that `package_show` can throw NotAuthorized/NotFound exceptions if the context is misformed. Not sure if it's possible to get such an exception  in this particular case(there person, who uploads a resource probably has full access to the given package), but it's better to check if any worth-case scenario can happen

[2022-01-27 08:21] TomeCirun commented on #6672
@smotornyuk Thanks

[2022-01-27 13:11] kowh-ai commented on #6670
Yes @maxclac - you have a choice of either - looks like you already know what's going on

[2022-01-28 01:16] firstnevyn opened #6675 "Delete and purging a dataset leaves unreferenced datastore tables"
**CKAN version**
2.9.4

**Describe the bug**
As noted at the end of #3422 deleting and purging a dataset still results in datastore tables that are unreferenced.

**Steps to reproduce**
on a configuration with datapusher enabled upload a dataset with csv tables delete and purge that dataset then recreate it with additional csv lines

**Expected behavior**
1 table in datastore

**Actual behavior *

[2022-01-31 00:01] ThrawnCA opened #6678 "Cannot import core blueprint modules"
**CKAN version**

2.9

**Describe the bug**

Attempting to import the core blueprint modules sometimes results in an ImportError. Importing at plugin load time works, but lazy-loading at the time of actually creating a blueprint does not.

**Steps to reproduce**

https://github.com/ThrawnCA/ckanext-import-example contains a minimal plugin that, when installed, will recreate the error. Going to any

[2022-01-31 00:04] ThrawnCA commented on #6678
Adding an import at plugin load time (eg at the top of `plugin.py`) also prevents the error from occurring later. We may be able to use this as a workaround...

[2022-01-31 12:35] frafra commented on #6635
@kowh-ai yes, we could create automatic PR and run tests using Dependabot.

Reference: https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/about-dependabot-version-updates

Minimal example of a possible `.github/dependabot.yml`:
[code]

It could also be extended to support `pip-compile`:
[code]

[2022-01-31 13:15] EricSoroos commented on #6635
That seems like a lot of work for minimal payoff.

IF we were specifically targeting ubuntu, then _maybe_ it's worth pinning and doing staged updates. However, ckan is not specifically tuned for one pinned version of ubuntu-lts, it's an application that runs on linux, mac, (and potentially windows, dunno, haven't tried). We've got minimal dependencies on system libraries.

We've got enough to do t

[2022-01-31 14:32] frafra commented on #6635
It looks we all agree in just using `:focal` then.

I would still suggest using dependabot for maintaining the Python dependencies updated, for security issues at least. Tests would be executed automatically, which reduces the burden of maintain CKAN, but that is a discussion for another issue/ticker I guess :)

[2022-02-01 09:37] Sunny-NEC commented on #6575
I am unable  to reproduce this issue in my local machine. it would be great if you provide some other information to reproduce this issue.

[2022-02-01 12:22] frafra commented on #6575
@Sunny-NEC
1. Create an organization with a logo
2. Dump the organization using `ckanapi dump organizations --all -r "$SRC_URL" -a"$SRC_KEY" > organizations.jsonl`
3. Load the organization using `ckanapi load organizations -r "$DST_URL" -a"$DST_KEY" --upload-logo < organizations.jsonl`

The problem appears with both Python 2 and Python 3. Even if the value `is_organization` is boolean, it gets cas

[2022-02-01 12:26] hussnainwithss commented on #6575
@tino097 can i take a go at this. i have been reporting issues previously and would like to start contributing the actual code base. this seems like the best issue for me to fix and start contributing more regularly.

[2022-02-01 13:08] tino097 commented on #6575
@Sunny-NEC @hussnainwithss go on, no need to ask for permission to contribute

[2022-02-01 16:48] wardi commented on #6675
like in https://github.com/ckan/ckan/pull/3425 we could hook the IPackageController after_delete to handle package deletion, then chain the dataset_purge action to handle the purge case.

[2022-02-02 09:42] #6635 closed

[2022-02-02 10:41] EricSoroos opened #6684 "Helpers.current_url returns inconsistently quoted url, causing 500 errors."
**CKAN version**
Definitely 2.8, Probably 2.9, Not sure about master. Bug appears to have been added 5 years ago.  Definitely on python2, maybe on python3.

**Describe the bug**

https://site/%EF%AC%81?foo=bar&bz=%AC%81

`ckan.config.middleware.__init__.py:handle_i18n` urlencodes the querystring, but this function is explictly not for querystrings, as it encodes the special characters. (it encodes

[2022-02-02 15:53] wardi commented on #6675
Possibly better option: make core call IResourceController after_delete for all resources in a dataset that is being deleted or purged

[2022-02-03 18:05] ajaymaity commented on #5013
Any luck on how to resolve this error? Can't believe this hasn't been resolved!

[2022-02-04 13:36] #6631 closed

[2022-02-06 02:04] u10313335 commented on #4973
After testing, this problem persists in the latest CKAN 2.9.5.
The ([refactored](https://github.com/ckan/ckan/commit/58e16adecd6901044174be09bfa5d47c49688ebb)) [_get_search_details](https://github.com/ckan/ckan/blob/master/ckan/views/dataset.py#L165-L197) function still includes the non-existing fields.

[2022-02-08 13:34] frafra commented on #6662
It seems nice to me, it would be more Django-style :)
When is that an issue, in your experience?

[2022-02-08 14:09] frafra commented on #6567
@Gauravp-NEC have you use the *browser* back button to go back to the metadata form? On Firefox, the latest DOM of the form page is shown, which is with the button disabled.

[2022-02-08 14:21] frafra commented on #6549
In addition to updating the documentation, a fix could be used for newer versions of Python, such as:

[code]

If we are targeting Python 3.6 and if we exclude Python 2, then `from typing import Literal` can be used.

[2022-02-08 14:22] frafra opened #6691 "ModuleNotFoundError: No module named 'typing_extensions'"
In addition to updating the documentation, a fix could be used for newer versions of Python, such as:

[code]

It could be a good idea to split this issue in two.

_Originally posted by @frafra in https://github.com/ckan/ckan/issues/6549#issuecomment-1032662197_

[2022-02-08 17:49] n00dl3nate opened #6694 "/Organization package count incorrect, Collaborator private packages aren't included."
**CKAN 2.9**

Packages that you are a collaborator of are not included in the dataset count on the /organization view page but then are included on the organizations/<organistion_name> page.

I'm not sure whether this is the intended functionality? But it seems like packages you are a collaborator of should be included.

Thanks in advance.

[2022-02-09 08:51] frafra commented on #6549
@Zharktas It looks like `typing_extensions` is available for Python 3.8+, so I guess there is something else going on with your CKAN setup. Did pip failed to install something?

[2022-02-09 08:52] frafra commented on #6691
It seems that it was not related to `typing_extensions` incompatibility with Python 3.8. Closing for now.

[2022-02-09 08:52] #6691 closed

[2022-02-09 10:21] frafra commented on #5570
What I did to make it work:
- Installed `pytest-ckan`
- Set `CKAN_INI` variable instead of using `--ckan-ini`

If you hit the `KeyError: 'formatters'` issue, it means that the path of your conf file is wrong, or some sections are missing from your conf file (loggers, formatters, ...).

[2022-02-09 11:11] TomeCirun commented on #6694
Hey, @n00dl3nate I've just tested this out, works fine for me, the only dataset that didn't count in the `/organization` page are those who are private...

[2022-02-09 11:21] TomeCirun commented on #6694
If the core team agreed to count the private datasets for collaborators on the `/organization` page I will make a PR

[2022-02-09 14:41] n00dl3nate commented on #6694
Hello, Thanks for your response, Apologies I left out that piece of information that it is private datasets that you are a collaborator of isn't being included in the dataset count on but private datasets that are owned by an organisation that you are a member of are included in the count. is there a reason why they shouldn't be included in the count?

[2022-02-09 19:20] #6636 closed

[2022-02-09 21:13] frafra commented on #4715
It looks it has been fixed.

[2022-02-09 21:13] #4715 closed

[2022-02-10 09:34] frafra opened #6696 "Failing tests - ckan.requets.timeout not documented"
I think the "Document new options" commit: https://github.com/ckan/ckan/commit/81177ed9b0221ac8412da89e9661795f1fe65322 needs to be merged into **master** as the tests seem to be failing at the moment...the new `ckan.requests.timeout` label is referenced by CHANGELOG.rst but doesn't exist in the configuration.rst file. CKAN 2.9 and 2.8 are fine.

_Originally posted by @kowh-ai in https://github.co

[2022-02-10 13:24] amercader commented on #6694
@TomeCirun @n00dl3nate Yes, these two counts should have the same value. Also compare it to the Organization facet on the dataset search page to make sure they match

[2022-02-10 21:42] sfirke commented on #6050
I was getting `ckan-uwsgi:ckan-uwsgi-00 FATAL Exited too quickly (process log may have details)` when I ran `sudo supervisorctl status` and, like the first post here, had `!!! no internal routing support, rebuild with pcre support !!!` in my log files.

I ran `sudo apt-get install libpcre3 libpcre3-dev` when installing packages in the first steps of the CKAN installation from package guide and tha

[2022-02-11 10:40] amercader opened #6700 "Provide guidelines for testing, including usage of clean_db / non_clean_db fixtures"
Discussion and examples on the docs, including what's laid out here:

https://github.com/ckan/ckan/pull/6469#issuecomment-954686692

[2022-02-11 12:02] Zharktas commented on #6012
Done in #6307

[2022-02-11 12:02] #6012 closed

[2022-02-11 18:10] dynamicmonkeys commented on #6464
Some extra keywords to help people pushing their Google-fu...
If you're trying to build the setup via Docker on a Mac running macOS Monterey, without any tinkering then port 5000 is used by default by the ControlCenter.app.

Due to this issue, even if you change:
https://github.com/ckan/ckan/blob/ad8d27e504391f504012bfcce79a7cd29c62046c/contrib/docker/docker-compose.yml#L24
to:
`      - "0.0.0.0:$

[2022-02-14 09:06] frafra opened #6703 "Docker entrypoint refers to "db" statically"
https://github.com/ckan/ckan/blob/6e05d8a56c92653d9571493873bc5ab7b7e1555d/contrib/docker/ckan-entrypoint.sh#L45

[2022-02-14 09:17] kowh-ai commented on #6703
#6244 (for reference)

[2022-02-14 13:21] steveoni commented on #6215
@kowh-ai i'm having the same error when i run `python setup.py extract_messages`, ckan 2.9.4 python 3

here is the output error

[code]

[2022-02-15 10:14] tgurr opened #6704 "Documentation: Installing CKAN from source missing user creation"
**CKAN version**
latest

**Describe the bug**
http://docs.ckan.org/en/latest/maintaining/installing/install-from-source.html is missing an information to create a dedicated `ckan` system user which is referenced later on by `whoami`. The guide https://github.com/ckan/ckan/wiki/How-to-Install-CKAN-2.9-on-CentOS-7#3-install-ckan for example has the additional information:

[code]

**Steps to reprodu

[2022-02-15 13:36] amercader commented on #6703
Closing as duplicate

[2022-02-16 06:29] wrinklenose commented on #6649
Is there any roadmap, when this PR will be merged? Seems to me it works very well and I understood the solution in the meantime ;-)

[2022-02-16 13:42] Pooya-Oladazimi commented on #6571
I have the same issue with CKAN version 2.9
CKAN goes down every couple of hours and therefore Nginx returns 502. I had to write a script to check it each 10 minutes and restart the supervisor ckan is down.
This is the log when it happens:
![ckan_error1](https://user-images.githubusercontent.com/16546640/154276768-bd351a6f-6c20-4390-abb4-bf010f425a4c.png)

![ckan_error2](https://user-images.github

[2022-02-16 16:20] wood-chris opened #6706 "Differing behaviour when specifying `id` to a `resouce_create` call"
**CKAN version**
2.9.4

**Describe the bug**

Two main issues:

 - If a resource id is given in the call to `resource_create`, the resource file (in this case a json file) is uploaded and can be clicked on to view, but no red "JSON" tag appears against the dataset.
 - If a dataset already has a resource, and another resource is added, the new resource _replaces_ the existing resource _if_ an id is

[2022-02-17 12:43] kowh-ai commented on #6215
@steveoni - I think this was fixed in https://github.com/ckan/ckan/pull/6258 - I updated mine and the `/ckan/i18n/ckan.pot` file was successfully created

[2022-02-17 13:02] steveoni commented on #6215
@kowh-ai my bad! I did a mistake of not including the plug-in interface to my extension.

now fixed.
Thanks

[2022-02-17 14:21] #6672 closed

[2022-02-17 15:10] kowh-ai commented on #6704
@tgurr - I think the documentation here is correct. There does not need to be a "ckan" user. The user who is logged into the CKAN Ubuntu server _can_ be the user who installs CKAN.
The 'sudo chown `whoami` /usr/lib/ckan/default' command will change the ownership of the  /usr/lib/ckan/default/ directory to be the user running the command.

I run CKAN as the `brett` user :-) - works fine

[2022-02-17 16:04] tgurr commented on #6704
@kowh-ai - Sure but there are many things that can go wrong here. If you happen to be logged in as root you're doing things as root which is clearly not what you want. Or someone may end up just using useradd and create a user with a valid login shell and the home directory not properly configured.

The documentation should be clear about what commands to run to get what the guide and ckan expects

[2022-02-17 17:56] frafra opened #6707 "tk.ValidationError returns HTTP 200"
**CKAN version**
master

**Describe the bug**
`tk.ValidationError` produces an error page, with HTTP code 200 instead of 400.

**Steps to reproduce**
Add invalid metadata for a dataset.

**Expected behavior**
The response should use an HTTP error code, and not an HTTP success code.

**Additional details**
https://github.com/ckan/ckanext-spatial/pull/272#issuecomment-1043211710

[2022-02-18 12:27] amercader opened #6708 "Flask-Babel 2.0.0 breaks ITranslation"
Upgrading Flask-Babel from 1.0.0 to [2.0.0](https://github.com/python-babel/flask-babel/releases/tag/v2.0.0) makes the `ITranslation` tests fail:

https://app.circleci.com/pipelines/github/ckan/ckan/1902/workflows/8ef66c69-6def-4d1b-8bbf-1678e93f56aa/jobs/9630

Basically our custom override to support multiple translation domains is never called:

https://github.com/ckan/ckan/blob/d47eb0972a6f9946

[2022-02-18 12:30] #6383 closed

[2022-02-18 13:47] TomeCirun commented on #6707
@frafra How to add invalid metadata using the browser?

Thanks

[2022-02-18 15:21] frafra commented on #6707
@TomeCirun just write something which is not accepted by CKAN, like not filling out a mandatory field.

[2022-02-18 15:30] smotornyuk commented on #6707
Good point. In most cases, edit/create pages use [code similar to this](https://github.com/ckan/ckan/blob/master/ckan/views/resource.py#L375-L380).
Whenever validation error happens, extra variables `error/error_summary` added to template. But everything else works exactly as for normal GET request, i.e. page is rendered with 200 status code

As a quick workaround, instead of
[code]

You can use s

[2022-02-21 10:31] tgurr opened #6713 "error [500] - internal server error when trying to download dataset resource as json"
**CKAN version**
2.9.5

**Describe the bug**
While downloading as json works for other resources on other datasets on the same system, it fails on a specific one with "Error [500] - Internal server error".

**Steps to reproduce**
Steps to reproduce the behavior:
* Dataset with csv: [2022_02_06-oberbuergermeisterwahl-stadt-heilbronn-heilbronner-stadtteile.csv](https://github.com/ckan/ckan/files/810

[2022-02-21 12:43] smotornyuk commented on #5380
Seems to be fixed:
![image](https://user-images.githubusercontent.com/11091199/154957470-eb314070-0fd7-4d64-88c8-f0de180f850f.png)

[2022-02-21 12:43] #5380 closed

[2022-02-21 12:44] smotornyuk commented on #4892
It's no longer relevant (see #5380)

[2022-02-21 12:44] #4892 closed

[2022-02-21 21:38] tino097 opened #6714 "replace repoze.who-friendlyform with a modern alternative"

[2022-02-22 12:10] TkTech commented on #6708
@amercader I'll look into this, however it'll have to wait until Saturday.

[2022-02-22 12:49] tomeksabala commented on #6499
The issue is partially fixed with https://github.com/ckan/ckan/issues/6531
It only fixes the non py2 compatible `open` function use in the `ckan/views/api.py`. The `i18n` module still uses py3 only code.

[2022-02-22 13:41] amercader commented on #6707
I think returning a 200 status error makes sense, you are generally rendering a page that lists some errors on your input data (as opposed to calling an API directly).
@frafra do you think this a standard practice when inputing data via the browser?

[2022-02-22 18:40] ericariyanto opened #6718 "Profile Picture Upload Not Validated"
**CKAN version**
2.9.2

**Describe the bug**
User can upload another files like (.html/.php etc) on profile picture

**Steps to reproduce**
User register new account and upload html file to profile picture that contains "Hacked By..."

**Expected behavior**
Only allow image when upload profile picture

**Additional details**
With this bug, user can span and deface the web
![ckan-1](https://user-im

[2022-02-23 03:31] #6718 closed

[2022-02-23 07:57] TomeCirun commented on #6707
I found something that could be useful...

<img width="676" alt="image" src="https://user-images.githubusercontent.com/72216462/155277734-23bc7e54-6ef5-45db-aa0f-b0d2879a9049.png">

[2022-02-23 19:02] TomeCirun commented on #6713
@kowh-ai @tgurr, I tried with the resource you attached, instead of 500 I get AssertionError, I didn't have much time to deal with the problem, but I will do it by the end of the week.

[2022-02-25 05:55] loleg commented on #5788
I have noticed a couple of other CKAN instances facing similar problems. Is there a feature or extension that allows public flagging of datasets for moderation? I suppose [comments](https://extensions.ckan.org/extension/ytp-comments/) could be used in this way. The legacy [moderated edits](https://extensions.ckan.org/extension/moderatededits/) plugin also did something to this effect. Possibly rel

[2022-02-25 12:47] robin-NEC commented on #6564
Hi @paulmueller ,  I've recently started community contribution and I would like to work on this issue. Please let me know if  there is no one is working on it.

[2022-02-25 15:13] smotornyuk commented on #6564
At the moment no one working on this issue

[2022-02-26 18:46] wardi commented on #5490
@paulmueller new features aren't backported in case they cause issues for current users.
If you need this feature in 2.9 the simplest option would be to create a branch and backport just the feature(s) you need. Once you upgrade to 2.10 this feature will be available without running your own branch.

[2022-02-26 21:52] paulmueller commented on #5490
:+1: Thank you for the clarification.

[2022-02-27 21:00] tino097 opened #6721 "Api Token and `get_site_user`"
After introducing the Api Token and merging  #6352 we are moving towards removing apikey from the [user](https://github.com/ckan/ckan/blob/master/ckan/model/user.py#L53) model.

That will cause [`get_site_user`](https://github.com/ckan/ckan/blob/master/ckan/logic/action/get.py#L2402) action not to work anymore so we will need to create api token and return its value back in the response

[2022-02-28 00:40] TkTech commented on #6708
I'm not entirely sure how this works as-is. It seems to depend on the order it's called (?) which is prone to breaking. Under v2.0.0, the approach I think will work here is to create a:
 ```domain = flask_babel.Domain(translation_directories=plugin.i18n_directory(), domain=plugin.i18n_domain())```
 for each plugin that defines `ITranslation`, then pass in `domain.gettext` to the templates instead

[2022-02-28 04:48] Gauravp-NEC commented on #6543
@amercader. I am interested to work on this issue. Do we need an error when not passing "capacity" in this combination as describe by **paulmueller** . Please let me know your opinion. Thanks

[2022-03-01 08:28] frafra commented on #6425
@vicoztechnology Close this issue if it has been solved, thank you.

[2022-03-01 08:37] #6425 closed

[2022-03-01 08:39] vicoztechnology commented on #6425
ok.  I will close this issue as soon as possible

On Tue, Mar 1, 2022 at 3:28 PM Francesco Frassinelli <
***@***.***> wrote:

[2022-03-01 08:59] frafra commented on #4060
@amercader I think this issue can be closed, as Python 3 has been added to the CI system.

[2022-03-01 09:02] frafra commented on #3470
@iamarnavgarg https://use-the-index-luke.com/no-offset

[2022-03-01 09:07] frafra commented on #3904
The old libraries have been removed. Dependabot can be enabled, at least for security updates and with a low frequency, just to start.

[2022-03-01 09:09] frafra commented on #3990
I do not have such problem running CKAN from Docker on Linux. I fetched it using git. I guess this issue has been solved.

@thekaveman Can you close this issue if it has been fixed?

[2022-03-01 09:10] frafra commented on #4011
This could be just the web server in front of CKAN limiting big file uploads, which is reasonable. Uploading GB sized files via HTTP forms is unreliable. Something like https://uppy.io/ should be considered instead.

[2022-03-01 09:14] frafra commented on #4129
I run CKAN behind an HTTPS reverse proxy and I do not have such issue.
@syats Have you tried with the latest CKAN 2.9.5 with Python 3?

[2022-03-01 09:21] frafra commented on #6549
@Zharktas then this issue can be closed, I guess :)
I am running ~CKAN 2.9.5 on Python 3.8, and it is working fine.

[2022-03-01 09:27] amercader commented on #3904
@frafra We are almost there! Still a couple of libraries to update https://github.com/ckan/ckan/pull/6709

The repo admins do get alerts about security dependabot updates

[2022-03-01 09:44] #4060 closed

[2022-03-01 09:44] #3673 closed

[2022-03-01 09:59] frafra commented on #6656
Just use this old version: https://github.com/ckan/ckan/blob/2c912e9898e198482156dcc6132dd36669140e5c/Dockerfile
Please avoid Python 2. It has been EOL for more than 2 years.

[2022-03-01 10:01] frafra commented on #4643
We could use Python images, actually. The images include tools that shouldn't be needed, like `postresql-client`, `git-core`, `vim`.
Related: https://github.com/ckan/ckan/issues/6456

[2022-03-01 10:18] frafra commented on #4706
The documentation has been fixed for CKAN master and 2.9. Not sure if this issue is still relevant, since 2.8 is quite old.

[2022-03-01 10:18] Zharktas commented on #6549
The docs aren't updated yet, i'm not closing an issue that still exists.

[2022-03-01 10:19] frafra commented on #4988
PR has been merged; this issue can be closed.

[2022-03-01 10:32] frafra commented on #6549
You are right. I was misled by the fact that more than one issue is mentioned in the first post, which seemed a code error more than a documentation issue.

[2022-03-01 11:07] TomeCirun opened #6727 "error [500] - when providing template-bs3 in the config"
**CKAN version**
Master

**Describe the bug**
![image](https://user-images.githubusercontent.com/72216462/156154500-4ea303a0-a28c-445f-b88c-c3cc7c5b9203.png)

**Steps to reproduce**
Go to `ckan.ini` file and change the default option for `ckan.base_templates_folder` to `templates-bs3` and when you run `CKAN` you will get `500`

The problem occurs because `CKAN Master` could not find `flask.pop_mes

[2022-03-01 11:53] derw0lf opened #6728 "Problem with extension installation"
**CKAN version**
Verison 2.9.5 (package installation) on Ubuntu 20.04

**Describe the bug**
While extension installation there ist always the follwoing error coming up:
_ImportError: cannot import name 'appdirs' from 'pip._vendor'_

**Steps to reproduce**
Steps to reproduce the behavior:
Activate virtual environment (source /usr/lib/ckan/default/bin/activate)
Install extension with pip (pip instal

[2022-03-01 12:16] frafra commented on #6567
@Gauravp-NEC are you using Firefox with CKAN 2.9.5? I guess some browsers could reload the page entirely, when going back.

[2022-03-01 12:20] frafra commented on #6728
It seems that you have problem with your pip. Try to reinstall it.
You can try this if you installed it without your package manager: `python3 -m pip install --upgrade pip`

[2022-03-01 12:34] frafra commented on #6707
@amercader there is no standard practice when replying to a bad form request, but there are good practices, in my opinion. While everybody agrees that the correct HTTP status code should be used (4xx for handling errors, like validation, duplicates, authorization, and such) for JSON/XML REST API, there is less interest in form validation for some reason, so there is no common practice. Most advice

[2022-03-01 13:19] derw0lf commented on #6728
Thanks for your help.
I was able to install the ckanext-geoview extension but I had to add it manually directly from git because I got a syntax error when starting the one from repository.
Now I added the ""geojson_view" plugin in the ckan.ini but nothing happens to my geojson-file.
Any Idea?

[2022-03-01 13:19] #4403 closed

[2022-03-01 13:47] frafra commented on #6707
Meeting notes 01/04/2022: 422 could be a good code; this issue is not a priority; we should warn user if we change HTTP status codes (potential issues with reverse proxies).

[2022-03-01 14:05] wardi commented on #6721
Closing as discussed in #6722

[2022-03-01 14:05] #6721 closed

[2022-03-01 15:03] Gauravp-NEC commented on #6567
@frafra , I am using Firefox with CKAN 2.9.4.

[2022-03-01 16:30] thekaveman commented on #3990
Hi @frafra - I didn't open the issue; and I haven't worked with CKAN in some time, so I'm not really following it anymore. Fine by me to close it.

@carlsonp was the OP for this issue, maybe they would like to chime in?

[2022-03-01 19:45] wood-chris opened #6731 "Behaviour of `package_update` of a deleted dataset"

[2022-03-02 04:38] Gauravp-NEC commented on #6543
@amercader @paulmueller , I think "capacity" keyword should be mentioned optional in the documentation. Please let me know your opinion.

[2022-03-02 10:20] Zharktas commented on #6543
Capacity is used at least in package collaborator feature, it does not use `member_create` action as it uses database directly, the `member_create` action itself is quite generic which means that the extensions might use it even if the core doesn't, however it could use better documentation.

[2022-03-02 11:40] Gauravp-NEC commented on #6543
@Zharktas, What exactly needs to be done to fix this issue?

[2022-03-02 14:27] #6350 closed

[2022-03-02 14:50] Metuphysics commented on #4652
Alpine uses a different package manager(apk) than debian based
So, I recommend u use alpine base like  `FROM node:17-alpine` or etc...

[2022-03-02 16:10] FuhuXia opened #6733 "Breadcrumb shows "Add an Organization" when editing an organization"
**CKAN version**
2.9

**Describe the bug**
Breadcrumb shows "**Organizations / Add an Organization**" when editing an organization.

**Steps to reproduce**
Visit url `/organization/edit/some-org`

**Expected behavior**
Breadcrumb shows "**Organizations / Some Org / Manage**" when editing an organization.

**Additional details**

![image](https://user-images.githubusercontent.com/1392461/156401010-

[2022-03-02 17:32] #4652 closed

[2022-03-02 23:44] carlsonp commented on #3990
It's likely a result of what OS (Linux or Windows) the git checkout is performed on.  If you're on Linux and you checkout the code and build it you're likely using the appropriate line endings.  In my case, I had to use `dos2unix` to switch them on Windows.  It likely could have also been fixed on the Git side by setting `core.autocrlf`.  I'll close it out.

[2022-03-02 23:44] #3990 closed

[2022-03-04 09:49] derw0lf commented on #6728
So I tried a fresh install of CKAN on Ubuntu 20.04 directly with the official documentation (http://docs.ckan.org/en/2.9/maintaining/installing/install-from-package.html)
Directly after the installation of CKAN (everything up and running) I tried to install the extension "ckanext-geoview" and the following output appears while trying to execute "pip install ckanext-geoview":
`Traceback (most recen

[2022-03-04 13:36] robin-NEC commented on #6564
Hi @Zharktas , I've raised the PR: https://github.com/ckan/ckan/pull/6737 to fix this issue.

[2022-03-04 19:16] #6727 closed

[2022-03-07 04:59] ThrawnCA opened #6739 "Formatter failure when Flask is not initialised"
**CKAN version**

2.9.4

**Describe the bug**

When Flask is not initialised and no middleware app exists, eg when running a background job, then `ckan.lib.formatters.localised_filesize` fails due to the absence of a Flask locale (`flask_babel._get_current_context` fails).

**Steps to reproduce**
Steps to reproduce the behavior:

**Additional details**

      File "/app/ckanext/data_qld/converters

[2022-03-07 10:12] robin-NEC commented on #6234
Hi @Zharktas, I would like to work on this issue.

[2022-03-08 07:59] Gauravp-NEC commented on #6549
@Zharktas , I have raise the PR: https://github.com/ckan/ckan/pull/6740 for docs update.

[2022-03-08 11:03] TomeCirun commented on #6324
Can anyone clarify the difference between cgi.FieldStorage and FlaskFileStorage

I m trying to add a resource through both ways (upload and link)  either way, the file is an instance of FlaskFileStorage.

So, I question the existence or need for cgi.FieldStorage
Thanks

@wardi @amercader

[2022-03-08 11:36] Zharktas commented on #6324
`cgi.FieldStorage` was used with pylons and maintaining compatibility in extensions it should be still supported. If you just use 2.9 ckan from the UI, it will always FlaskFileStorage.

[2022-03-08 11:37] TomeCirun commented on #6324
Thanks @Zharktas

[2022-03-08 13:36] Zharktas commented on #6739
We've dealt with this when creating CLI commands which use some parts of CKAN that require flask context and have circumvented the problem by creating the context for it:
[code]

But currently background jobs and CLI do not know which locale you want to use, that would require implementation and the request context should be automatic for both.

[2022-03-09 18:04] #6694 closed

[2022-03-10 03:46] robin-NEC commented on #6616
@hongjie123 are we trying to count the number of user visit the site or tracking the page view?

[2022-03-10 11:02] TomeCirun commented on #6495
@Engerrs I can't reproduce this error on `CKAN 2.9.5`

<img width="1199" alt="image" src="https://user-images.githubusercontent.com/72216462/157637881-2ede6caa-dcf9-4ab6-bfe9-6b24dd8f3638.png">

[2022-03-10 11:02] TomeCirun commented on #6301
@maxclac  it works on `CKAN 2.9.5`

[2022-03-10 11:32] TomeCirun commented on #5887
it works on `CKAN 2.9.5`

![image](https://user-images.githubusercontent.com/72216462/157653174-6274fe21-7c0c-4774-9a0d-c626de940fef.png)

[2022-03-10 15:50] #6277 closed

[2022-03-10 18:42] TomeCirun commented on #6301
@Zharktas i've tested this, and it works on `CKAN 2.9.5` so i think we should close it.

Thanks

[2022-03-10 18:45] TomeCirun commented on #5887
@Zharktas i've tested this, and it works on CKAN 2.9.5 so i think we should close it.

Thanks

[2022-03-10 18:47] TomeCirun commented on #6495
@Zharktas i've tested this, and it works on CKAN 2.9.5 so i think we should close it.

Thanks

[2022-03-11 04:31] Gauravp-NEC commented on #6570
@gg2 , Are you still working on this issue?

[2022-03-11 04:36] Gauravp-NEC commented on #6309
@hallucinogenizer @kowh-ai , I am interested to work on this issue. Please let me know if you are working on this issue.

[2022-03-11 05:59] hallucinogenizer commented on #6309
I am not working on the issue. You can proceed.

[2022-03-11 12:54] robin-NEC commented on #6616
Which CKAN version are you using?

[2022-03-13 18:00] frafra commented on #6728
Have you tried to upgrade pip as suggested?

[2022-03-14 09:23] robin-NEC commented on #6575
Hi @frafra  I would like to work on this issue. Please let me know if someone working on it.

[2022-03-14 09:26] frafra commented on #6575
@robin-NEC feel free to go after it.

[2022-03-14 09:56] robin-NEC commented on #6575
@frafra  I'm trying to reproduce the issue by following the steps you mentioned, but I'm getting a different error.
[code]
Are the variables `"$SRC_URL"` & `"$SRC_KEY"` that you've mentioned environment specific or do i need to provide them myself?
What exactly are these variable?
I just want to make sure that I'm going in the right direction with this.

[2022-03-14 10:00] frafra commented on #6575
The command is `ckanapi`, not `ckan`, which triggers such CKAN bug.
The variables depend on your CKAN setup (URL and API key generated by your user).

[2022-03-14 11:28] tino097 commented on #6575
@robin-NEC as @frafra mentioned the command is `ckanapi` and you will need to install this [package](https://github.com/ckan/ckanapi) in your local virtual environment

[2022-03-14 13:18] FuhuXia commented on #6733
resolved in PR https://github.com/ckan/ckan/pull/6637

[2022-03-14 13:18] #6733 closed

[2022-03-14 16:57] Ali-Padhani commented on #5155
Hi I am following [these [instructions](https://docs.ckan.org/en/2.8/maintaining/installing/install-from-docker-compose.html)] on a Windows 11 machine (ubuntu wsl2) and cannot find the production.ini file and when truing to write getting this error ("/var/lib/docker/volumes/docker_ckan_config/_data/production.ini"
"/var/lib/docker/volumes/docker_ckan_config/_data/production.ini" E212: Can't open f

[2022-03-15 05:13] robin-NEC commented on #6575
I'm able to dump the organization but getting a different error while loading them.
[code]
Can you provide any lead for this?

[2022-03-15 10:04] frafra commented on #6575
@robin-NEC CKAN fails, which is what this bug report is about. You can have a look at CKAN logs to see if it fails for the same reasons.

[2022-03-15 11:35] amercader commented on #4793
Most commonly used extensions support CKAN .9 / Python 3

[2022-03-15 11:35] #4793 closed

[2022-03-15 11:56] #6116 closed

[2022-03-15 12:53] #5727 closed

[2022-03-15 14:07] #6579 closed

[2022-03-15 14:45] #4845 closed

[2022-03-16 10:03] robin-NEC commented on #6575
Hi @frafra , on investigation I'm not sure how and where the `parameters` are being passed?
Can you provide any guidance on this?

[2022-03-16 11:25] frafra commented on #6575
@robin-NEC you can see the CKAN traceback in the first post, which also explains as the request is sent as `multipart/form-data` when the logo is updated, which is not typed and makes CKAN fail.
One option would be to try to convert the argument which require a boolean from strings when needed.

[2022-03-17 12:21] amercader commented on #5865
Part 2 of my proposed fixes was implemented in #6557

[2022-03-17 12:33] #4933 closed

[2022-03-18 12:06] amercader commented on #6708
@TkTech I wasn't able to figure out your approach, so I proposed this on the Flask-Babel side:

[2022-03-18 15:56] MichaelHarmsTIB opened #6758 "ckan.lib.navl.dictization_functions.Missing object"
**CKAN version**
2.9.2
**Describe the bug**
ckan.lib.navl.dictization_functions.Missing object :
3 custom fields schema.update like that:
[code]

If I have only one field it works but more i got this message:
_sqlalchemy.exc.StatementError: (builtins.TypeError) <ckan.lib.navl.dictization_functions.Missing object at 0x7fa8edc37208> is not JSON serializable
[SQL: INSERT INTO activity (id, timestamp,

[2022-03-21 05:12] gg2 commented on #6570
I am.

It's done. But I want to test it sufficiently before submitting the
pull-request.

However, I'm not seeing what I expect to verify absolutely that it
works.
So I need to ask for good ways to test it; and time keeps getting away
from me.

Gabe

On 2022-03-10 20:31, Gauravp-NECI wrote:

Links:
------
[1] https://github.com/gg2
[2] https://github.com/ckan/ckan/issues/6570#issuecomment-10647623

[2022-03-21 10:35] #6758 closed

[2022-03-21 10:36] MichaelHarmsTIB commented on #6758
Wrong converter.

[2022-03-22 20:51] noesunfelipe opened #6763 "ckan 2.9.5 container not working"
**CKAN version**: 2.9.5
**OS**: Windows 10

**Describe the bug**:
After doing a docker-compose up -d --build ckan container doesn't start. It exited immediately.

**Steps to reproduce**:
I follow this [tutorial ](http://docs.ckan.org/en/2.9/maintaining/installing/install-from-docker-compose.html)
1. git clone https://github.com/ckan/ckan.git
2.  git checkout tags/ckan-2.9.5
3. then, inside the dir

[2022-03-24 13:32] frafra opened #6768 "form input has prepend but not append"
It would be nice to extend `form.html` so it supports `append` too, which would show a label after the input, instead of before like `prepend` does.

https://github.com/ckan/ckan/blob/37f86db98b8e2e8b67155b8ba1e591873b9ba2de/ckan/templates/macros/form.html#L177

https://github.com/ckan/ckan/blob/37f86db98b8e2e8b67155b8ba1e591873b9ba2de/ckan/templates/macros/form.html#L197-L201

[2022-03-24 13:36] kowh-ai commented on #6763
The `dos2unix` command _should_ clear up the EOL's in the `ckan-entrypoint.sh` file. Not sure why this doesn't work. Are you using VSCode? Is there a way to see all the control characters in this file?

[2022-03-24 14:44] noesunfelipe commented on #6763
I first tried with notepad++, and now i tried with VSCode and it isn't working. The problem remains the same. i'm trying to find the way to see all the control characters in the file, but i haven't found it yet.

[2022-03-24 21:16] pdelboca opened #6769 "Deprecate use of c object"
**CKAN version**
master

**Description**
The goal of this ticket is to deprecate the use of the old `c` object. The `c` object was part of the Pylons architecture and for a while we provided compatibility for old extensions. When this work is completed the `c` object will no longer exist in CKAN codebase and we will use Flask's global variable `g` instead.

Currently we are proxing `pylons.c = fla

[2022-03-25 16:45] knudmoeller opened #6773 "Order of primary and secondary block in mobile view is wrong"
**CKAN version**

2.9.5 (bug introduced in 2.8.0 in https://github.com/ckan/ckan/commit/00e8dc5caa1029f978dc0525b3996f2bc8330c61)

**Describe the bug**

Block `secondary` from the `page.html` template is rendered before block `primary` in mobile view (width < 768px). This is counter-intuitive and confusing.

**Steps to reproduce**

* Open any page with a primary and secondary block (e.g. a dataset

[2022-03-28 12:19] #6165 closed

[2022-03-29 05:27] #6665 closed

[2022-03-29 15:24] Zharktas commented on #6773
It would make sense that primary and secondary would be in order they originally were, screen readers and such kind rely on that. However swapping them back would require for fixing the original issue https://github.com/ckan/ckan/issues/3754 properly with CSS.

[2022-03-29 21:48] #5807 closed

[2022-03-30 04:11] ThrawnCA opened #6777 "Password reset fails if user API is not public"
Requesting a password reset uses the `ignore_auth` flag to access a user profile. However, _performing_ the reset does not, causing a failure if `ckan.auth.public_user_details` is set to False. See https://github.com/ckan/ckan/blob/fc91b296da2e6d7d6cfbb949d6616fcabe072640/ckan/views/user.py#L720

This affects both CKAN 2.8 and 2.9.

Steps to reproduce:

- Configure a CKAN instance with `ckan.auth.

[2022-03-30 08:30] Zharktas commented on #6777
Isn't this the same old issue which we previously discussed in #5185 ? Are you still blocking anonymous access which also blocks checks for public user details ?

[2022-03-30 08:37] tomeksabala opened #6779 "Make owner_org_validator honour ignore_auth"
**CKAN version**
2.9
master

**Describe the bug**
It is a follow up to https://github.com/ckan/ckan/issues/4187
While trying to programmatically update owner org of of a dataset:
[code]
 while in the request context of a dataset collaborator the `ignore_auth` is ignored.
This is due to user is auto added to the context in the `ckan.logic.get_action`
[code]
which later raises validation error `'You

[2022-03-30 11:00] TomeCirun commented on #6777
hey @ThrawnCA can you tell me more details because i cannot reproduce this error on `CKAN 2.9.5`. (I'm trying to reset user password via `UI`)

Thanks

[2022-03-30 11:19] amercader opened #6782 "Minor design fixes in latest theme"
These should be easy to fix for a CSS wizard :stars: . They might be leftovers from the Bootstrap 5 migration or previous issues:

*Note:* Make sure to compile the SASS files if working from master, running `ckan sass`

- [ ] Misaligned "Remove" button on resource upload fields

![Screenshot 2022-03-22 at 12-56-56 Add data to the dataset - CKAN](https://user-images.githubusercontent.com/200230/160

[2022-03-30 12:23] ThrawnCA commented on #6777
@TomeCirun The key is to configure your CKAN instance so that access to the `user_show` API is restricted. Setting the `ckan.auth.public_user_details` flag to False should do it, although [our extension](https://github.com/qld-gov-au/ckan-ex-qgov) goes further and only allows access for group/organisation admins, or if you're accessing your own record.

When `ckan.views.user.PerformResetView._prep

[2022-03-30 12:25] TomeCirun commented on #5185
can you try to change user.id to user.name here: https://github.com/ckan/ckan/blob/96cb766218f723a398cd2a03059bd32b978701f1/ckan/lib/mailer.py#L171 and see if this helps because at line 304: https://github.com/ckan/ckan/blob/96cb766218f723a398cd2a03059bd32b978701f1/ckan/logic/__init__.py#L304 we are trying to get the user by its name ?

@ThrawnCA

[2022-03-30 12:36] ThrawnCA commented on #5185
@TomeCirun I'm fairly sure that's not the problem, because we've been successfully running on our fork of 2.8.8 (with `ignore_auth` set before calling `user_show`, see https://github.com/qld-gov-au/ckan/commit/8d817feb3343bfc9f36c8eb9aa4aaed90150acc0) for quite some time now.

[2022-03-30 13:37] amercader opened #6784 "Failing dashboard Cypress test"
First mentioned by @tino097 in https://github.com/ckan/ckan/pull/6557#issuecomment-1044680100, this has started to pop up again ([example](https://github.com/ckan/ckan/runs/5751402784?check_suite_focus=true))

[code]

[2022-03-30 13:43] Zharktas commented on #6777
@ThrawnCA it was never fixed as I feel that removing auth checks just hide the underlying issue that when you are removing anonymous access from `user_show`, the remaining auth checks for it are never run and it fails. There might be various other places where it would similarly fail and your usecase is not covered by tests and might not be even recommended. But I'll discuss it with the tech team

[2022-03-30 13:44] amercader commented on #6784
Actually, looking at what this test appears to be testing, the search input in the Dashboard activities filter widget doesn't seem to work anyway, so maybe we can just drop it

![Screenshot 2022-03-30 at 15-42-45 Manage - Adrià 33333 - Users - CKAN](https://user-images.githubusercontent.com/200230/160849074-e083e394-45f0-491c-82c4-7516ed9632a9.png)

[2022-03-30 15:11] TomeCirun commented on #6777
Hey, @ThrawnCA

when i click on the reset link that im getting on my email... that link contains the ID of the user and when we try to access `user_show`, we are sending that user ID in it.
Inside `user_show` we are trying to get the `user_obj` from that id (https://github.com/ckan/ckan/blob/96cb766218f723a398cd2a03059bd32b978701f1/ckan/logic/action/get.py#L1405-L1407)
and as you can see we fill i

[2022-03-30 21:20] ThrawnCA commented on #6777
@TomeCirun We haven't modified `ckan/logic/action/get.py`. I think you're looking at master, while ours is based on 2.9.4 (and 2.9.5 appears to be unchanged).

If the latest master really can call `user_show` successfully even with `ckan.auth.public_user_details` set to False, does that mean that `ckan.auth.public_user_details` is actually ineffective? It can't actually restrict access?

[2022-03-31 05:24] Zharktas commented on #6777
@ThrawnCA I did a quick test with master and it still responds with Forbidden if user is not logged in when `public_user_details`is false

[2022-03-31 07:54] TomeCirun commented on #6777
@ThrawnCA it works as Jari said.

<img width="1446" alt="image" src="https://user-images.githubusercontent.com/72216462/160992939-e10127dc-75b1-4442-99ee-9f274996400e.png">

What I m trying to say is that we are not `anonymous` after you click on the email link, it has our `user.id` and we are passing it to our `context['user']`:
https://github.com/ckan/ckan/blob/96cb766218f723a398cd2a03059bd32b97

[2022-03-31 09:10] TomeCirun commented on #6779
Hey @tomeksabala have you tried this with `ckan.auth.allow_collaborators_to_change_owner_org` set to True in your .ini file ?

Can you tell me the exact scenario ? what has been enabled in .ini, what capacity has the user you are trying to update the owner.org of a dataset etc.

Thanks

[2022-03-31 12:01] amercader opened #6786 "Make form macros easier to override"
Right now all the macros used in the form templates are located in [`templates/macros/form.html`](https://github.com/ckan/ckan/blob/master/ckan/templates/macros/form.html). This means that if you want to tweak one of them you need to override the whole thing.

It would be easier if all macros were split into their own template file, and `templates/macros/form.html` imported them all to maintain ba

[2022-03-31 12:01] amercader commented on #6768
That sounds good @frafra feel free to submit a PR

Also see https://github.com/ckan/ckan/issues/6786

[2022-03-31 12:59] amercader opened #6787 "[WIP] Getting ready for CKAN 2.10"
The next CKAN version will be 2.10, here's how you can help making it happen quicker:

* There are no major features under development but would be good to wrap some things up before we start the [release process](http://docs.ckan.org/en/2.9/contributing/release-process.html). I've compiled some of them in this milestone. There's a couple of Good for contribution issues in there!

    https://gith

[2022-03-31 14:50] tino097 commented on #6784
@TomeCirun check this one

[2022-03-31 19:09] TomeCirun commented on #6784
@amercader i can work on this issue.

Thanks

[2022-03-31 19:24] TomeCirun commented on #6786
Hey @amercader i can work on this too

Thanks

[2022-04-01 09:11] amercader commented on #6784
Thanks @TomeCirun . I'd start checking if the actual functionality being tested is working (I have my doubts)

[2022-04-01 13:40] TomeCirun commented on #6784
@amercader i've tried this on both `bs-3` and `bs-5`, it turns out that it works on `bs3` and the reason that it doesnt work on `bs5` might be beacuse we are missing this line of code:
`this.popover = this.button.data('bs.popover').tip().addClass('popover-followee');`
but even if added: `this.button.data('bs.popover')` is undefined maybe @Zharktas  can help with this one.

Thanks

[2022-04-01 15:41] wolfm89 opened #6789 "Listing API tokens with CKAN CLI runs into error if token has already been used"
**CKAN version**
2.9.5 (Python 2.7.13)
**Describe the bug**
When using the CKAN CLI to run `ckan user token list default` and there is an existing token that has been accessed before, then the CKAN CLI throws an exception: `TypeError: isoformat() argument 1 must be char, not unicode`.

**Steps to reproduce**
Run CKAN, create API token for user `default`, use this token at least once, run `ckan use

[2022-04-04 15:03] pdekraker-epa opened #6792 "Datatables view formatting / rendering issues"
**CKAN version**
master ~ 2.10.0a

**Describe the bug**
There are a few formatting issues with the updated datatables view in the current master.

1. It seems the view is designed to fit within the resource view iFrame, but is slightly too large resulting in the 2nd (outer) vertical scroll bar.
2. The icons for sorting in the column headings are missing
3. On mouseover of longer table entries, the

[2022-04-04 18:04] digital-codes opened #6793 "Datastore upsert update not working with index _id"
**CKAN version** 2.9.5

**Describe the bug**
A clear and concise description of what the bug is.
datastore/upsert method=update does not work with _id

**Steps to reproduce**
Steps to reproduce the behavior:
Create resource in datastore
insert values
read values => resulting records have unique field _id, as expected
update command with _id fails on "undefined primary_key"
{
    "error": {

[2022-04-05 08:42] quinoescobar commented on #6662
Any update with this issue?

[2022-04-05 08:43] frafra commented on #6662
@quinoescobar as you see, there is a PR waiting to be reviewed. The is happening there, mostly.

[2022-04-05 08:52] amercader commented on #4806
Closed in favour of https://github.com/ckan/ckan/issues/6769

[2022-04-05 08:52] #4806 closed

[2022-04-05 09:48] #6784 closed

[2022-04-05 12:00] jqnatividad commented on #6792
@pdekraker-epa It needs some attention - the vendored plugin needs to be updated, and I need to clean up the JS a bit.

Will be sure to ping you once its done.

[2022-04-05 20:36] jannettim opened #6795 "Overwriting package_show auth function raises dataset not found"
**CKAN version**
2.9.3

**Describe the bug**
Overwriting the package_show auth function in an extension produces dataset not found error for anonymous users when they attempt to access a package's webpage. This occurs both with code to limit access to remove access restrictions. Other auth overwrites seem to work as expected.

If the user is logged in, access is granted.

**Steps to reproduce**

1

[2022-04-06 12:18] frafra commented on #6789
Thanks for the bug report.

Both ` ` and `T` are acceptable.

The issue can be reproduced running this code on Python 2:
[code]

Python 2 fails, while Python 3 does not.

CKAN master targets Python 3 only, so I am going to produce a patch for CKAN 2.9 only.

I strongly suggest migrating to Python 3 as soon as possible.

[2022-04-06 14:25] TomeCirun commented on #6793
Hey, @digital-codes,  I've tested this and it doesn't work as you think.

When using `datastore_create` action, you have `param: primary_key` this `primary_key` is optional.

When you set your `fields/columns` e.g like this: `"fields": [{"id": "name"}, {"id": "age"}, {"id": "email"} ]` and your records like: `"records": [ {"name": "Andreas", "age": 30, "email": "andreas@digital-codes.com"} ]` you

[2022-04-06 14:32] wardi commented on #6793
I agree with the reporter. The `_id` field should be usable as a primary key for `datastore_upsert`. I'm happy to review a PR or help work on a fix for this issue.

[2022-04-06 16:15] digital-codes commented on #6793
Thanks for taking this issue. I'm not too familiar with CKAN internals nor Postgres, but if I'll try to help. I looked at backend/postgres.py and there is

`elif method in [_UPDATE, _UPSERT]:
        unique_keys = _get_unique_key(context, data_dict)
        if len(unique_keys) < 1:
            raise ValidationError({
                'table': [u'table does not have a unique key defined']

[2022-04-06 16:31] digital-codes commented on #6793
Hmmm, maybe it's the way how the unique keys are looked up:

[code]
The line
        AND idx.indisprimary = false
will probably exclude the _id ...

[2022-04-06 17:00] TomeCirun commented on #6793
Yep thats true

[2022-04-06 20:19] TomeCirun commented on #6795
This happens because the default implementation of `package_show`  has an attribute `auth_allow_anonymous_access`.
https://github.com/ckan/ckan/blob/2e63e7fbaf7208f122e8c90a419f7c71485423b9/ckan/authz.py#L84-L95

If you track down your `auth_function` you will see it will fail here:
https://github.com/ckan/ckan/blob/2e63e7fbaf7208f122e8c90a419f7c71485423b9/ckan/authz.py#L233
to avoid this you can

[2022-04-07 01:30] ThrawnCA commented on #6789
We're running into this, too.

The trouble with that suggestion is that CKAN 2.8 doesn't handle Python 3, so we've been treating the 2.9 upgrade as a stepping stone toward Python 3 compatibility.

Having to upgrade both CKAN and Python _at the same time_ is potentially much messier.

[2022-04-07 04:55] Zharktas commented on #6795
If you would call the api directly, it would so the reason for failure which in this case is that it requires authenticated user. The UI shows 404 Not found for both non-existing datasets and those where user does not have permission due to security reasons.

[2022-04-07 05:08] bhargavsipl commented on #6256
The URL is not Working Can u check and reply me back please....

[2022-04-07 15:14] Zharktas commented on #6795
Currently it's not possible to customize the error messages except by changing the localizations. One improvement for this could be that instead of "Dataset not found" the error message would "Dataset not found or you've no permission to view it"

[2022-04-07 17:05] jannettim commented on #6795
Thank you for the help, the provided code addresses my immediate need. Additionally, something like the error message @Zharktas wrote might have preempted the user feedback that preceded my attempt to change the error message.

[2022-04-07 17:50] TomeCirun commented on #6793
Hey @wardi, I'd like to work on this issue, currently, I have a fix though might not seem the best solution, if you don't agree with this please give me some pointers.

Here is what I've done:
I removed this line: `AND idx.indisprimary = false` from `_get_unique_key()`
with that line removed, from now we will always receive the `_id` when calling `_get_unique_key()`

i will comment my changes with

[2022-04-07 18:05] wardi commented on #6793
@TomeCirun thanks, would you mind creating a pull request instead?

[2022-04-07 23:33] hussnainwithss commented on #6782
@amercader can you assign me this. i can fix this.

[2022-04-08 00:59] ThrawnCA commented on #6777
Ah, I think I understand the situation better now.

The reason for the failure is because our custom auth function was not annotated with `@auth_allow_anonymous_access` (and was not in a module named `get.py`, so the annotation value defaults to False). This is something we can fix on our end.

However, it also highlights the fact that although `PerformResetView._prepare` _does_ populate the conte

[2022-04-08 03:42] hussnainwithss commented on #6782
@amercader found another possible design issue at the dashboard page
![image](https://user-images.githubusercontent.com/47157583/162358320-0d3c243f-b29e-4a09-ac6b-b92e1186030f.png)

[2022-04-08 04:28] hussnainwithss commented on #6567
@frafra i have tried the steps you told and this is still not replicated.

[2022-04-08 04:59] Zharktas commented on #6777
We did have a discussion yesterday that it is somewhat counter-intuitive when all the function in `get.py` is annotated with `auth_allow_anonymous_access` automatically behind the scenes. We could change that and annotate all then functions as the developers will look at the code anyway when they are overriding the functions.

For `user_show` the auth logic could be changed as it is now that first

[2022-04-08 05:52] ThrawnCA commented on #6777
@Zharktas Should populating the context with a user ID be sufficient to quality as "authenticated" for the purposes of the `auth_allow_anonymous access` check?

[2022-04-08 15:53] pdelboca commented on #6787
@amercader are we going to keep compatibility for `CKAN 2.7` in the extensions?

I would suggest to only keep compatibility for `>= 2.8` since `2.7` do not run on `Python 3`.

[2022-04-08 16:45] peg-leg opened #6802 "Test data creation issues"
Following the guide here: http://docs.ckan.org/en/2.9/maintaining/getting-started.html
Creating test data fails for translations and vocabs with one of these two errors:

DETAIL:  Key (name)=(annakarenina) already exists.
DETAIL:  Key (name)=(david) already exists.

[2022-04-08 17:07] Zharktas commented on #6787
@pdelboca Our current maintenance cycle is that 3 minor versions are supported, so 2.7 support ends once 2.10 is released. Until then it should remain in codebase and in tests.

[2022-04-09 15:48] visla-xugeng commented on #6713
@TomeCirun any update on this issue?
We got the similar 500 Internal Server Error, when we tried to download with **JSON Flat**.
![image](https://user-images.githubusercontent.com/88679609/162581388-53de3009-e5f3-40fe-80df-bb4965926362.png)

[2022-04-11 05:57] Zharktas commented on #6777
@ThrawnCA the code is looking for `auth_user_obj` in context https://github.com/ckan/ckan/blob/b88286ecdf224732d7c86a9956b9038b629ad531/ckan/authz.py#L233-L234

[2022-04-11 05:58] Zharktas commented on #6777
Closing this as duplicate of #5185

[2022-04-11 05:58] #6777 closed

[2022-04-11 06:46] ThrawnCA commented on #6777
I know. My question was, should it look for the `user` object (which password resets populate with an ID) and accept that as an alternative?

[2022-04-11 15:33] frafra opened #6806 "Wrong filter links"
**CKAN version**
dev-v2.9

**Describe the bug**
Filters produce malformed URL, bringing the user to "Page not found - 404".

**Steps to reproduce**
Steps to reproduce the behavior:
Add a custom dataset schema. Visit `/dataset/` and try to use filters.

**Expected behavior**
Links should be valid

**Additional details**
Header has URLs with a trailing slash (produced using `build_nav_main` helper),

[2022-04-11 17:00] frafra commented on #6806
Ok, I think I pinpointed the issue.
`scheming_multiple_choice_output` is the correct validator to put in place, but there is a problem when loading the data again.
[code]
This should probably look like this:
[code]

[2022-04-11 17:54] frafra commented on #5369
Still happens in CKAN dev-v2.9.

[2022-04-12 09:19] n00dl3nate opened #6807 "Arm64 build using Dockerfile doesn't work."
**CKAN 2.7, 2.8, 2.9**

**Describe the bug**
The tagged release branches for the CKAN repository cannot build ARM64-based Docker images whereas the master branch will.
The images will build from the master branch with a Ubuntu: Focal image but not from any of the Debian releases on an Arm64 release. Thinking this would be a good contribution considering the rise of ARM-based processors. Also worth

[2022-04-12 14:36] #6782 closed

[2022-04-12 20:23] avdata99 commented on #6787
Starting check for ckanext-archiver [here](https://github.com/ckan/ckanext-archiver/pull/83)

[2022-04-13 09:13] hylkevdveen commented on #6713
@tgurr @kowh-ai @TomeCirun is there a solution for this problem yet? I am running into the exact same issue. I can provide more details if necessary.

[2022-04-13 10:42] frafra commented on #4535
PR has been merged, but we still lack of documentation on how to extend the schema.
It could be related to: https://github.com/ckan/ckanext-scheming/issues/195

[2022-04-13 11:28] frafra commented on #5273
@pdekraker-epa Have you had the chance to make it open?