[2017-03-21 18:06] TkTech commented on #3491
Seems like it would be a lot cleaner (especially since we no longer rely solely on pylons) and portable to use `ckan.config.environment.make_app(ckan.common.config['global_config'], ...)` to make an app and request context instead.

Remember we'll be moving off pylons, using make_app lets you ignore which backend we're using.

[2017-03-21 18:36] KrzysztofMadejski commented on #3491
I'm not sure where this could be placed as a function. Also don't know how
make_app works, so I'm not feeling strong enough to propose PR.

On Tue, 21 Mar 2017 at 19:06, Tyler Kennedy <notifications@github.com>
wrote:

--
*Krzysztof Madejski*
Product Manager at TransparenCEE.org <http://transparencee.org/>
Code for Poland <http://codeforpoland.org> Program Manager / Koordynator Koduj
Dla Polski <h

[2017-03-22 08:05] torfsen commented on #3492
I'm totally OK with restricting `IResourceController` (and `IPackageController`) callbacks to not modify the reported entity directly but use background jobs for that. However in that case we need to document this limitation.

[2017-03-22 09:02] tino097 opened #3498 "Image URL on edit organization or group"
### CKAN Version if known (or site URL)
2.5/2.6

the bug occurs when you set a value for an image for an organization which is not a URL link like 'Test', this later on prevents updates cause it fails validation, so basically the issue is if you put a non-image link while creating or updating the organization.

Steps to reproduce:
- Create an organization in CKAN
- Add a non-existing image link li

[2017-03-22 10:01] kmbn commented on #2362
Does this issue still need to be addressed? Since it's been open for over a year, I want to double-check before digging into it.

[2017-03-22 12:20] Zharktas opened #3499 "Redirecting to same page in non-root hosted ckan adds extra root_path to url"
### CKAN Version if known (or site URL)
2.6.0, 2.6.1, master

### Please describe the expected behaviour
In ckanext-harvest reharvest and clear buttons and in ckanext-report button redirect to the same page, if ckan is hosted in for example /data, I expect the redirection to /data/harvest/admin/someharvestname.

### Please describe the actual behaviour

Resulting url is /data/data/harvest/admin/so

[2017-03-22 12:23] KrzysztofMadejski commented on #2362
I guess a PR should follow, but I'm quite involved now in other ckan parts, cannot promise to do it here. I think it may be less hussle if you cherrypick it or copy by hand instead of going through all PR process.

[2017-03-22 15:42] jortizsisamon-dtt opened #3501 "Problem installing stats in release-v2.1"
[CKAN 2.1.1]

I'm trying to install the 2.1.1 version, following the documentation of how to install as a source [http://docs.ckan.org/en/latest/maintaining/installing/install-from-source.html](url) and I'm obtaining the same error as the commented in the Issue 170. [https://github.com/poguez/ckan/commit/c835bd5072bf1775f1001c3eb102557ac20e06c5](url)

In the 2.1.1 version, the ckanext/stats/__init

[2017-03-23 05:45] deepak-thinqq commented on #1821
any updates on this issue. im facing the same error in v2.6.1

[2017-03-23 09:53] davidread commented on #1821
@deepak-thinqq it's marked 'good for contribution' so it's waiting for someone who needs this to contribute a fix. Do you have a chance to contribute this?

[2017-03-23 09:59] tino097 commented on #3498
its a problem caused by extensions

[2017-03-23 09:59] #3498 closed

[2017-03-23 12:12] smotornyuk commented on #3492
@TkTech  No, as i understand they are not the same. I suggest synchronous workflow, where user need to wait until all tasks are ended in order to see result. In that case, when, for example, removal of one resource triggers modification of another one - user will see final result at once. If we use background worker instead - it will be asynchronous - user have to refresh page, because there are n

[2017-03-23 13:48] #3474 closed

[2017-03-23 17:10] smotornyuk opened #3502 "Tests sometimes just hangs. I suspect HTTPretty"
I checked timeouts in CircleCI and make some local tests with `release-v2.5.5` branch and it seems, that v0.8.3 is the main problem here. It works with v.0.6.2 but there some issues on Ubuntu14. Newest v0.8.14 throws BadStatus error.  So we need either upgrade or downgrade. Or another library

I suggest using another similar library, for example [mocket](https://github.com/mindflayer/python-mocket

[2017-03-24 00:25] TkTech commented on #3502
Doubt it I do not, I already have monkey patches in there to keep HTTPretty from failing.

[2017-03-24 10:43] amercader commented on #3502
I've found tons of issues with HTTPretty so happy to replace it with something more robust. But for 2.5.5 have you identified what are the tests that get stucked? Perhaps we can just mock the calls so we don't have to change the branch that much.

[2017-03-24 12:45] amercader commented on #3489
Backported to 2.4.7

[2017-03-24 12:45] #3489 closed

[2017-03-24 13:24] augusto-herrmann commented on #3028
Thanks for the [PR](https://github.com/ckan/ckan/pull/3455), @gleb-rudenko !

[2017-03-24 16:35] oliverkarst opened #3503 "Python errors after source installation of 2.6.2"
### CKAN Version if known (or site URL)
ckan 2.6.2
ubuntu 14.04.5 in VM

### Please describe the expected behaviour
ckan is accessable in browser

### Please describe the actual behaviour

after invoking
`cd /usr/lib/ckan/default/src/ckan
paster serve /etc/ckan/default/development.ini`

the result is:
`(default)ckan@ckan-VirtualBox:/usr/lib/ckan/default/src/ckan$ paster serve /etc/ckan/default/dev

[2017-03-26 18:22] KrzysztofMadejski commented on #1854
I've just checked and this error is dependent on Jinja2. It's ok with Jinja2 2.6, but appears with 2.7 onward. Support for new Jinja2s would be welcome as 2.7 corrects at least `filesizeformat` bug, which is used in `archiver`.

I see it was resolved in https://github.com/ckan/ckan/pull/3005.

It seems a bit arbitrary to get first node, or if it's a list first child of second node. If problems ari

[2017-03-26 23:48] TkTech commented on #1854
When I last tried bumping jinja up to tip I recall most of our jinja extensions breaking. Things like the node traversal API changing.

I ran out of time to work on it, but changing our snippet macro to rewrite `{% snippet %}` (not cached) into a `{% macro/call %}` (Jinja builtin, cached) since right now almost all cumulative CPU time in a deployment CKAN is spent re-parsing, re-compiling, and re-

[2017-03-27 09:13] KrzysztofMadejski opened #3504 "mod_wsgi: Partial results are valid but processing is incomplete -> IOError: request data read error"
### CKAN Version if known (or site URL)
2.3.5

### Please describe the expected behaviour
No errors in the apache log.

### Please describe the actual behaviour
An error is thrown quite often, mostly for the tracking requests:

[code]

### What steps can be taken to reproduce the issue?
It's not easy to reproduce

### Diagnosis

In current CKAN it's [this line](https://github.com/ckan/ckan/blob/ma

[2017-03-27 09:18] davidread commented on #1854
Sounds serious @TkTech - care to break this out into a separate issue and provide a bit more explanation?

[2017-03-27 09:52] KrzysztofMadejski opened #3505 "Treat resources independently while adding/updating"
### CKAN Version if known (or site URL)
I'm using CKAN 2.3.5, but I see that in master (2.7) it works the same.

### Please describe the expected behaviour
When I add or update many resource I do not want race conditions between resources of the same dataset.

### Please describe the actual behaviour
All the datasets' resources data are pulled, [one resource data is changed](https://github.com/cka

[2017-03-27 10:21] amercader commented on #3503
Hi @oliverkarst , thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the [ckan-dev mailing list](https://lists.okfn.org/mailman/listinfo/ckan-dev) or the [#ckan tag](http://stackoverflow.com/questions/tagged/ckan) on SlackOverflow.

You can also try on the [#ckan IRC channel](http://webchat.freenode.net/?chan

[2017-03-27 10:21] #3503 closed

[2017-03-27 10:45] smotornyuk commented on #3502
Yeah, good idea. There are 3-4 tests from `ckanext.datapusher.tests.test:TestDatastoreCreate` that cause this problem, i'll update them for now

[2017-03-27 11:34] KrzysztofMadejski opened #3506 "paster front-end-build tries to process my plugin's unexisting files"
### CKAN Version if known (or site URL)
2.3.5

### Please describe the expected behaviour
`paster front-end-build` shouldn't try to process unexisting files like in my plugin/app `Generating fanstatic from /home/ckan/src/ckanext-danepubliczne/ckanext/danepubliczne/fanstatic/LC_MESSAGES/ckan.po`.

### Please describe the actual behaviour
[code]

Should I run any other command in advance? That also

[2017-03-27 11:40] smotornyuk commented on #3502
I checked newer version - it seems that 0.8.7 fixes our problem and it not yet throws BadStatus error as 0.8.14. So is it ok to update dev-requirements for 2.5.5 branch ? or this should be applied for other two release branches as well?

[2017-03-27 11:59] KrzysztofMadejski opened #3507 "Usage of the 'related attribute set' operation is not currently supported within the execution stage of the flush process"
### CKAN Version if known (or site URL)
2.3.5, [pip environment](https://github.com/DanePubliczneGovPl/ckanext-danepubliczne/blob/release/1.2.0/requirements-danepublicznegovpl.txt)

### Please describe the expected behaviour
Fix error message.

### Please describe the actual behaviour
From time to time I'm getting the following message. That's the whole stack trace :/ so it's hard to check where i

[2017-03-27 13:37] wardi commented on #3505
datasets are the basic unit of metadata in CKAN. When you update a resource the metadata_modified of the dataset is updated. Validation is also applied across a complete dataset, e.g. depending on fields at the dataset level you might not be allowed to upload certain types of resources. The whole dataset needs to be updated in solr as well, even for a single resource change.

It is wasteful to be

[2017-03-27 15:55] torfsen opened #3508 "Document undocumented interface methods"
There are several methods in the interfaces of [`ckan.plugins.interfaces`](https://github.com/ckan/ckan/blob/af2f061fdd08219d5070415be118d6063d38341f/ckan/plugins/interfaces.py) which are undocumented and therefore do not show up in the [interface reference](http://docs.ckan.org/en/latest/extensions/plugin-interfaces.html). This is problematic, since implementing an interface partially will raise

[2017-03-27 21:22] david-nguyen opened #3509 "Files uploaded in IE11 contain full file path in filename"
I seem to be running into an issue with file uploads using IE11 (11.0.9600). The filename being passed through includes the full file path in the upload name. I've tested this on the demo site (2.5.2) and I cannot reproduce the issue there.

Similar to https://github.com/ckan/ckan/issues/2603

### CKAN Version if known (or site URL)
2.6.0

### Please describe the expected behaviour
Upload files ke

[2017-03-28 09:32] TkTech opened #3510 "Quirks with Solr6"
Some quirks with CKAN and up-to-date versions of Solr:

- default field in the schema is deprecated: `[ckan] default search field in schema is text. WARNING: Deprecated,&#8203; please use 'df' on request instead.`
- When multiple terms are provided (like an org filter) the field name to search must be explicit. This is currently breaking searching for terms within an organization (`q=test +owner_o

[2017-03-28 09:34] gleb-rudenko commented on #3281
@amercader, any progress with this one?

[2017-03-28 09:38] TkTech commented on #3510
For point #2, a very small change should be forward and backwards compatible and safe for back-porting. Ex:

[code]

[2017-03-28 09:42] gleb-rudenko commented on #3028
@augusto-herrmann, np 👍

[2017-03-28 09:42] gleb-rudenko commented on #3028
@amercader, any progress with this one?

[2017-03-28 09:55] smotornyuk commented on #3507
#2017 - this problem had been raised previously but nobody wants to fix it :)

[2017-03-28 10:07] KrzysztofMadejski commented on #3507
I was searching for it, but couldn't find it. Thanks for the link. Closing as duplicate.

[2017-03-28 10:16] TkTech opened #3511 "organization_list / group_list [performance] in CKAN 2.6"
### CKAN Version if known (or site URL)

2.6

### Please describe the expected behaviour

`org/group_list` with `all_fields=true` should have reasonable sub-1s performance. As reported on the mailing list:

### Please describe the actual behaviour

40s+ on the demo site. This seems to be bound to the # of groups (every future time I say groups I mean both orgs and groups, same mechanic) and not th

[2017-03-28 10:28] davidread opened #3512 "Beaker 1.8.0 exception when the code is served from OSX via Vagrant"
### CKAN Version if known (or site URL)
2.6.2

### Please describe the behaviour
Exception when you start CKAN:

    ImportError: cannot import name http_cookies

Full detail:
[code]

### What steps can be taken to reproduce the issue?
With an OSX host, create a Vagrant box with ubuntu/trusty64 and these options:
`config.vm.synced_folder "ckan-source/", "/usr/lib/ckan"`
This means that the source

[2017-03-28 10:51] gleb-rudenko commented on #2695
@amercader , is this still need to be investigated or work?

[2017-03-28 11:07] gleb-rudenko commented on #2608
@wardi, is is still topical?

[2017-03-28 11:14] gleb-rudenko commented on #2550
@davidread, is it still topical?

[2017-03-28 11:16] gleb-rudenko commented on #2230
@amercader, I think this one should be closed.

[2017-03-28 11:24] davidread opened #3513 "Minimum setuptools version"
CKAN requires a recent version of setuptools ever since some of CKAN's dependencies were upgraded. However there's nothing in the install instructions to sort this out. The default setuptools for our recommended distro, Ubuntu Trusty 14.04, is 2.2, which is too old.

Specifically:
* repoze.who needs setuptools 11.3 or later https://github.com/repoze/repoze.who/issues/26
* html5lib needs setuptools

[2017-03-28 11:24] gleb-rudenko commented on #2186
@wardi, is it still topical or can be closed?

[2017-03-28 11:26] gleb-rudenko commented on #2183
@amercader, any progress with this one?

[2017-03-28 11:28] gleb-rudenko commented on #2228
@wardi, what is the progress of this one? can it be closed?

[2017-03-28 11:33] davidread commented on #2550
@gleb-rudenko This seems a valuable enough job to do, if you're offering?

[2017-03-28 11:35] wildcatzita commented on #2183
@gleb-rudenko , I still working on it

[2017-03-28 11:39] wardi commented on #2228
Still not fixed, and a really easy thing to contribute. I'll mark it as such

[2017-03-28 11:41] gleb-rudenko commented on #2381
@amercader, is it still topical?

[2017-03-28 11:41] wardi commented on #2608
looks like it's there to me. https://github.com/ckan/ckan/blob/master/ckan/lib/helpers.py#L1381 closing

[2017-03-28 11:41] #2608 closed

[2017-03-28 11:42] gleb-rudenko commented on #2373
@wardi, is it need to be closed?

[2017-03-28 11:43] wardi commented on #2381
should have been fixed by #2846

[2017-03-28 11:47] wardi commented on #2373
Likely still an issue. good for contribution

[2017-03-28 11:55] gleb-rudenko commented on #2277
maybe it should be closed?

[2017-03-28 12:12] KrzysztofMadejski commented on #2277
I agree. Kombu was bumped up to 2.5 in https://github.com/ckan/ckanext-archiver/pull/33/files, and deprected kombu-sqlalchemy package was removed.  With new archiver it's also possible to move task scheduling to be supported by Redis instead of Pgsql, which should make this error completely obsolete.

I'd close it.

[2017-03-28 12:19] #2277 closed

[2017-03-28 12:22] gleb-rudenko commented on #2501
@joetsoi, @amercader, is it still topical?

[2017-03-28 12:23] gleb-rudenko commented on #2501
same is still happening

[2017-03-28 12:28] wardi commented on #3504
I'm not familiar with this code but it might just be clients closing the connection but that error not being handled in the middleware. How about we just catch and ignore this exception right there? Would you mind trying that and submitting a PR?

[2017-03-28 12:32] gleb-rudenko commented on #3457
@wardi, what is the progress of this one?

[2017-03-28 12:33] TkTech commented on #2501
The JavaScript for this needs to listen for both `change` and `input` instead of `keypress` to work on all browsers.

[2017-03-28 12:33] gleb-rudenko commented on #3456
@amercader, I think this one can be closed now.

[2017-03-28 12:35] wardi commented on #3505
Let me know if you need more direction here. Datasets with 100+ resources aren't well supported by CKAN for updating (noted above), searching (mentioned in resource_search issue) and displaying (no pagination), but if you have a site with such large datasets and some time I'd love to see that fixed.

[2017-03-28 12:37] wardi commented on #3457
@Engerrs please create a PR so we can review it

[2017-03-28 12:40] KrzysztofMadejski commented on #3505
Thank you @wardi, it's quite clear now. Polish Ministry of Digital Affairs plans bigger development around data portal, so it could be tackled then.

[2017-03-28 12:43] #3456 closed

[2017-03-28 12:44] metaodi commented on #2332
Just ran into this issue as well, so in CKAN 2.5.x this issue is still present.

[2017-03-28 12:45] TkTech commented on #2332
Correct, currently still unresolved in master.

[2017-03-28 12:48] TkTech commented on #3505
Agreed, this is usual a sign of a bigger underlying model issue (our updates are stateful) would be great to see this improved.

[2017-03-28 13:26] wardi commented on #2332
somewhat related, #3494 once merged might be a more general solution.

for this specific use case you could apply a group to new datasets with a validator so that the whole thing is done in one step.

[2017-03-28 13:32] wardi commented on #2332
Maybe `after_create` should have been called `after_create_before_commit` or something.  You should be able to use it in its current form to add the dataset to groups by modifying the `data` parameter in-place.

If we change the implementation to commit first then we'll probably be breaking other extensions. The proper fix might just be documenting what `after_create` actually does.

[2017-03-28 15:07] JDias commented on #3503
+1

[2017-03-28 15:30] JDias commented on #3503
dunno how to reference a issue, but the #3513 solved this

https://github.com/ckan/ckan/issues/3513

pin install --update setuptools

[2017-03-28 16:04] #3028 closed

[2017-03-28 19:20] metaodi commented on #2332
Plus providing a method `after_create_after_commit` to properly implement those use cases, where currently this _hack_ is needed.

[2017-03-28 19:29] wardi commented on #2332
@metaodi #3494 lets you wrap `package_create` to get the same effect as `after_create_after_commit`. You just call the original `package_create` from your new action then run whatever code you want afterwards.

For adding groups to a package by default though, using `after_create` and modifying the data parameter (or using a validator) will be fewer trips to the db.

[2017-03-29 06:56] Engerrs commented on #3457
Sorry @wardi , thought that  I've created one. Add it.

[2017-03-29 08:39] thenets commented on #3513
I had the same problem. I did not find any tutorial about it and after some time I found a setuptools version. The version 20.4 worked for me, but the latest version raises many errors.

[2017-03-29 08:46] thenets opened #3516 "Disable upload file and keep old files avaliable"
### CKAN Version if known (or site URL)
2.6.1

### Please describe the expected behaviour
I want to disable upload file without affect actual content.

### Please describe the actual behaviour
I need to disable upload support, but I need to keep all old content available.

### Suggestion
Will be perfect if upload controllers show just "URL" on UI when "ckan.max_resource_size" or "ckan.max_image_si

[2017-03-29 11:41] davidread commented on #3513
Maybe we should suggest people use a particular version then, rather than the latest.

24.2.1 was the latest when we discussed this on ckan-dev in July 2016. I used that and it seemed ok, but it [sounded like @thenets you had an issue with that or similar](https://lists.okfn.org/pipermail/ckan-dev/2016-July/010144.html).

18.5 is the version suggested then by @thenets, along with the older version

[2017-03-29 13:22] thenets commented on #3513
Hi, @davidread. I had problems with setuptools on CKAN 2.5.x and 2.6.x versions.

**CKAN 2.5.2**
The version setuptools=18.5 worked for me. I didn't know why this specific version.

**CKAN 2.6.1**
I got errors with setuptools=18.5 on CKAN 2.6.1. I tried to install a lot of setuptools versions and the 20.4 was the first version that worked for me.

I have scripts of both versions, if you need.
If y

[2017-03-29 13:29] davidread commented on #3513
Thanks @thenets I'll change the recommended version to 20.4. Do you have a record of when or how the error occurred with setuptools 18.5? It would be good to be accurate with the minimum version, even if the recommended one is later.

[2017-03-29 14:11] thenets commented on #3513
CKAN 2.6.1 with

[code]

[2017-03-29 14:19] thenets commented on #3513
I don't remember :/ I'm using a lot of plugins on my test environment.

I just remember to change two thing from 2.5.2 to 2.6.1.
 - ADD apt-get install -y libmemcached-dev zlib1g-dev
 - CHANGE pip install setuptools==20.4
I don't know if all those modifications are really required.

[2017-03-29 15:13] jqnatividad commented on #3484
Hopefully, this will set the stage to do revisions properly.

Its one of the features govt CDOs/CIOs look for -
http://datasmart.ash.harvard.edu/news/article/an-open-letter-to-the-open-data-community-988

[2017-03-29 16:12] davidread opened #3517 "Load data into datastore better, using pgloader"
Currently data goes into CKAN Datastore via the datastore_create action. This has lots of problems:
* the data is only accepted in JSON format, which requires datapusher etc to convert CSV files, which is slow
* the types of each column are guessed based on the first row. Subsequent rows with different types cause errors
* errors with any row cause the whole load to fail

I propose a new, better,

[2017-03-29 16:13] davidread commented on #3517
Comments appreciated @jqnatividad @wardi @amercader @maxious in particular

[2017-03-29 17:02] wardi commented on #3517
Sounds great. This is why I'm implementing all my datastore validation and transformations with postgres triggers #3428 they *should* work just as well with pgloader.

[2017-03-29 17:35] wardi opened #3518 "IDatastore.before_upsert method"
I'm using datastore triggers #3428 to implement validation and transformation for rows entered into datastore resources. One of the transformations tracks the user that last modified each record.

For this to work I create a temporary table with the current logged in username and sysadmin status (only sysadmins may set arbitrary users as the last one to modify a record) but I have to do it within

[2017-03-30 10:19] davidread opened #3520 "flask_debugtoolbar dependency"
A clean install of ckan (master), following [docs](http://docs.ckan.org/en/latest/maintaining/installing/install-from-source.html#installing-ckan-from-source) suffers this exception:

[code]

It looks like flask_debugtoolbar has been added to the dev-requirements.txt when it is actually required for all installs, so should be in requirements.txt. Or do you @amercader want to move the import to onl

[2017-03-30 11:20] amercader commented on #3517
That sounds good to me. Some questions:

* If I understood correctly we need [pgloader](http://pgloader.io/) installed in the same environment as CKAN  (not the db) right?

* How are you planning on integrating with pgloader? spawning a process and calling the binary?

* > pgloader loads the file into the Datastore

   I'm assuming this is done asynchronously using the new queue? In that case mayb

[2017-03-30 11:38] amercader commented on #3520
@davidread yes, this should only be loaded if you are on debug mode. I'll submit a PR.

[2017-03-30 11:55] davidread commented on #1597
@KrzysztofMadejski I've done a PR to fix this here: https://github.com/ckan/ckan/pull/3522

[2017-03-30 11:56] #3520 closed

[2017-03-30 12:07] davidread commented on #3517
Thanks for these @amercader

Yes, exactly.

Yup. The latest version is lisp, so I can't see a better way.

It's tempting to move DataPusher off ckanserviceprovider and onto [CKAN background jobs](http://docs.ckan.org/en/latest/maintaining/background-tasks.html) however I think this is a separate job and I'll try and avoid thinking about this as well for the time being.

This is a good point. I thi

[2017-03-30 18:29] jqnatividad commented on #3517
Awesome! Datapusher has been a constant problem for us and this will help slay a lot of support issues.

As for pgloader.io, it is available on ubuntu, but the version packaged is a very old version.  It's a good thing though that its available on apt.postgresql.org (https://wiki.postgresql.org/wiki/Apt) so it should help other installations use it without having to build from source.

And I agree

[2017-03-30 19:46] TkTech commented on #3517
I may be missing something here but looking at pgloader there is nothing particularly special about it, although it's a handy command line tool. We can change our loading process to be identical to pgloader (verbatim if we need to, as pgloader is under a compatible licence) without having to add a new external dependency. Smarter use of COPY and partitioning with background workers would give us t

[2017-03-30 21:31] jqnatividad commented on #3517
Point taken @TkTech , but the motivation to use pgloader.io are the following:

per the README

- This is our primary motivation, as the current datapusher just stops when it encounters bad data. We will leverage the report it produces, and perhaps, even give the dataset publisher actionable info as to which records failed.  Right now, the datastore tab for a dataset provides some logging messages

[2017-03-31 08:56] amercader commented on #3517
@davidread thanks for your answers, just to clarify this one:

Is this going to target the new queue, ie CKAN >= 2.7?

[2017-03-31 09:49] davidread commented on #3517
I've no plans to move this off datapusher's existing ckanserviceprovider job queue.

[2017-03-31 11:19] amercader commented on #3517
Then I'm missing something.

Right now the one that is doing a long, heavy task that needs to be queued (parsing the CSV file, transforming to JSON and calling `datastore_create` with chunks of the file) is the DataPusher, and that's why it's a separated, queue-based service.
If I understood correctly your plans, `datastore_load` is the one that will be performing this task (or pgloader rather), s

[2017-03-31 13:03] davidread commented on #3517
Ah, I get you now. The datastore_load may take a few minutes, so that's no good for a simple HTTP API call. Excellent point. I'll have a ponder.

[2017-03-31 16:33] davidread commented on #3517
I did a speed benchmark loading in a large CSV ([370MB / 100k rows])(https://data.boston.gov/dataset/311-service-requests/resource/2968e2c0-d479-49ba-a884-4ef523ada3c0)

Existing 'convert and INSERT': 35 minutes
Existing 'convert and INSERT' but dropping the INDEXes: 13 minutes
pgloader without INDEX: 1m22s

[2017-03-31 16:36] davidread commented on #3517
2 options spring to mind:

1. A DataStore API call that starts the pgloader asynchronously and responds immediately saying it's started. DataPusher could either poll or wait for a callback, before doing its tidy-up and moving onto the next in its queue. Complicated.

2. pgloader is run from inside Datapusher. I'm hesitant to adding too much into DataPusher, with a view to replacing it. However may

[2017-03-31 17:18] david-nguyen commented on #3509
Sorry after reviewing the changes this should be resolved in 2.62...I'll see if I can set up an instance to test this.

[2017-03-31 21:43] wardi opened #3523 "datastore dump + search performance"
Profiling dumping datastore resources and the `datastore_search` API it uses to identify the easiest improvements we can make.

Timings for `python -m cProfile paster datastore dump` on a datastore table with ~920k rows
- commit c1132574ef
- total time: 218.7 s - all percentages below relate to this
- 68.8 % within datastore_search (datastore/logic/action)
   - 41.1 % within format_results (datast

[2017-04-03 09:56] amercader commented on #3511
I completely agree. There simply no way we can get decent performances with `all_fields=True` unless the objects are on the search index. Settling on a modern Solr version that allows schema-less indexing (or using ElasticSearch) will hopefully help with this in the future.

[2017-04-03 09:57] amercader commented on #3509
Thanks @david-nguyen, feel free to reopen the issue if it still happening.

[2017-04-03 09:57] #3509 closed

[2017-04-03 10:00] TkTech commented on #3511
@amercader https://github.com/TkTech/sachi/blob/master/tests/test_basics.py#L15

Working on it. Solr & Postgres supported at the moment, facets will be next then it's suitable to drop into CKAN.

[2017-04-03 10:35] amercader commented on #3506
Sorry I have no idea why the front-end-build command would try to create po files on your extension. 2.3 is quite an old version and much has changed on translations from extensions since then (@torfsen did a lot of work on this front recently). A quick run of the command on my local 2.3.5 branch with your extension did not raise the error so I'm afraid you'll need to investigate a bit more.

In a

[2017-04-03 11:17] KrzysztofMadejski commented on #3506
I was hoping sbd has had that issue before. If you couldn't reproduce that I'll investigate my environment. Closing until I come up myself with a solution.

[2017-04-03 11:17] #3506 closed

[2017-04-03 13:23] davidread commented on #3478
From these comments, I believe this is fixed now, so closing.

[2017-04-03 13:23] #3478 closed

[2017-04-03 15:51] davidread commented on #2666
I'm not clear what version was used here, but I think that it was in Dec 2014 that the code was improved so that a URLError at this point caused a JobError to be raised. (I added a test to show this behaviour: https://github.com/ckan/datapusher/pull/127 ). JobError is the way that ckan-service-provider likes to record jobs that go wrong.

[2017-04-03 15:51] #2666 closed

[2017-04-03 17:43] jqnatividad commented on #3517
My vote goes to option 2 for the **_initial_** implementation.  Though there is a new queueing system in 2.7+, it will be a while before existing users migrate.

A lot of our users are using CKAN for more than just a catalog, and make extensive use of the datastore and the datapusher is the single biggest source of support headaches.

In the same breath however, the advanced stuff like datatype ov

[2017-04-03 20:29] davidread commented on #3156
This is an error during Datapusher's datapusher_status action. It looks in its ckan-service-provider database. However the default place for this is wiped on reboot:

    SQLALCHEMY_DATABASE_URI = 'sqlite:////tmp/job_store.db'

I've raised a ticket to improve this: https://github.com/ckan/datapusher/issues/129

[2017-04-03 20:29] #3156 closed

[2017-04-03 20:33] davidread commented on #2721
Right before doing a load, datapusher calls delete_datastore_resource (previously called delete_resource). This went in in 2013, so maybe there was a problem at some point.

Or maybe you had you ckan.site_url set to a completely different instance, and it deleted it off that instance yet added the rows to the correct datastore?

[2017-04-04 02:13] Conzar commented on #2255
This bug is also present in the packaged version of ckan and starting in ckan 2.5 and also in 2.6.  The work-a-round that I found is to install ckan version 2.4 (packaged) and than install 2.5 or 2.6.

[2017-04-04 08:17] tino097 commented on #3475
is this fixed ?
im trying to reproduce the issue but no success, tried to create dataset via web and via api

[2017-04-04 08:58] davidread commented on #3502
@smotornyuk sounds like you have everyone's support, so please do a PR. If it passes circleci then I will merge it.

[2017-04-04 09:09] davidread commented on #3263
This is covered in: https://github.com/ckan/datapusher/issues/48

[2017-04-04 09:09] #3263 closed

[2017-04-04 09:16] davidread commented on #3189
According to the changelog, @smotornyuk 's fix went out in ckan patch releases in February: v2.6.1, v2.5.4, v2.4.5.

[2017-04-04 09:16] #3189 closed

[2017-04-04 09:20] davidread commented on #2721
Ah, is this to do with it running twice concurrently?

[2017-04-04 09:22] davidread commented on #2581
@florianm can this be closed?

[2017-04-04 09:33] davidread commented on #2357
ckan-service-provider should simply queue each job up asynchronously and return. It sounds like that is not working correctly.

[2017-04-04 10:06] davidread commented on #3517
Agreed @jqnatividad I'll do this.

Although datapusher seems relatively simple to move onto the new queue, there are just so many issues reported with the whole thing, that I want to be careful.
Issues:
* https://github.com/ckan/ckan/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20datapusher
* https://github.com/ckan/datapusher/issues

[2017-04-04 10:41] gleb-rudenko commented on #2373
will take a look at this one

[2017-04-04 10:48] davidread commented on #2334
@clementmouchet thanks for this, I've created the PR: https://github.com/ckan/ckan/pull/3526

Are you able to give it a try?

[2017-04-04 10:58] DavidLemayian opened #3527 "[DataPreview] Excel embed redirects parent page on mobile"
### CKAN Version if known (or site URL)
v2.5-latest - [openAFRICA](https://africaopendata.org/)

### Please describe the expected behaviour
After embedding an Excel sheet view in a blog post or website, a user should be able to see the content of the website on desktop or mobile.

### Please describe the actual behaviour
On mobile, when you load the parent website / blog post that has embedded the

[2017-04-04 11:28] dmichelakis opened #3528 "Creation of dataset - different behaviour between Web API & CKAN Interface functionality"
### CKAN Version if known (or site URL)
ckan_version: "2.5.2b"

### Please describe the expected behaviour
Create Dataset through the web interface & the function` ckan.logic.action.create.package_create(context, data_dict)` should both allow the use of underscores in dataset names.

### Please describe the actual behaviour
Create Dataset using the web interface transforms dynamically (i.e. while

[2017-04-04 11:45] smotornyuk commented on #3502
Sorry, forgot to mention it here. As we discussed on one of the last meetings, i added commit with version upgrade while preparing patch-release for branch 2.5.5, so it already [there](https://github.com/ckan/ckan/commit/5e0ddde76dd58431330df5246ea24942878e1de4)

[2017-04-04 12:15] florianm commented on #2581
@davidread thanks, yes I'll close it and will open a new issue if I run into it again with a current version. Cheers!

[2017-04-04 12:15] #2581 closed

[2017-04-04 12:18] davidread commented on #3502
Great! I'll close this then :)

[2017-04-04 12:18] #3502 closed

[2017-04-04 12:46] amercader commented on #3528
You can edit the name of the dataset when creating it via the web UI by clicking the "Edit" button next to the URL slug. This will accept underscores. The default formatting makes sense as in most cases you want the name to be URL friendly.

![tueah9g](https://cloud.githubusercontent.com/assets/200230/24657033/bf37fac0-193c-11e7-8f41-6b5729de0ba4.png)

Hope this makes sense.

[2017-04-04 12:48] amercader commented on #3527
Yes, I can reproduce it myself, but this is an issue with this particular view extension:

https://github.com/jqnatividad/ckanext-officedocs

I suggest you open an issue there as this is not related to CKAN core.
Good luck!

[2017-04-04 12:48] #3527 closed

[2017-04-04 14:05] DavidLemayian commented on #3527
Oh crap. Apologies. I thought it was being done by DataPreview.

[2017-04-04 18:29] TkTech commented on #3484
This also closes #3333

[2017-04-05 03:56] Prashantguptanz opened #3530 "r"
### CKAN Version if known (or site URL)

### Please describe the expected behaviour

### Please describe the actual behaviour

### What steps can be taken to reproduce the issue?

[2017-04-05 03:57] #3530 closed

[2017-04-05 09:22] dmichelakis commented on #3528
Hi,
I am familiar with the 'Edit' button.
In your screenshot the title has underscores but the URL does not because they are not allowed (i.e. the default formatting that you mention). Using the CKAN web API I can generate URLs with underscores and hence the inconsistency that I mentioned in my previous post since the default formatting does not seem to apply in that case.
D.

[2017-04-05 09:58] amercader commented on #3528
Sorry, you are absolutely right. I wrongly assumed that when you clicked on Edit, you could edit the URL freely but this will also prevent underscores.

I think the relevant code that is enforcing this on the browser is this one:

https://github.com/ckan/ckan/blob/9db60058394569c232dde3b002d3768cedea45ff/ckan/public/base/javascript/plugins/jquery.url-helpers.js#L38

Perhaps if you have some time y

[2017-04-05 11:03] dmichelakis commented on #3528
Np; thanks for pointing me to the right file for potentially fixing this.
D.

[2017-04-06 10:14] gleb-rudenko commented on #2373
@wardi, @TkTech, guys the main culprit is the revision avoiding:
[code]
This part of code doesn't triggers any update event for updating solr index.
What we can actually do about this?
1. we could rewrite this part of code and it will do what we need (update solr index) but it will also start writing activity records for each dataset update even if nothing was changed.
2. try to check for data cha

[2017-04-06 15:09] TkTech opened #3536 "Deprecations in CKAN 2.7"
This ticket is for tracking the upcoming 2.7 release aimed at deprecating or flagging behavior changing in the next major release. I would also recommend we make this an "LTS" kind of release we'll backport fixes to for quite awhile.

## Deprecated
### API

- [x] `/api/rest/*` will be removed in favour of action API introduced in CKAN 2.0
- [ ] All `*_html` actions will be removed in favour of sim

[2017-04-06 15:12] wardi commented on #3536
I put `/api/rest` at the top because it seemed important :-)

[2017-04-06 15:14] #2334 closed

[2017-04-06 15:14] #2721 closed

[2017-04-06 17:54] tedstrauss commented on #2475
@metaodi  Did you find some way to modify strings on the default english translation? I'm in the same situation.

[2017-04-06 17:55] tedstrauss commented on #2475
(huh?!... I didn't unassign anyone ... nor should i have permissions to do so ... github bug?)

[2017-04-06 18:35] wardi commented on #2475
@tedstrauss my mistake! this was a change I thought had been merged into master but it's only on my fork of ckan at the moment and in an unmerged PR https://github.com/ckan/ckan/pull/2909

I'll unassign it since @joetsoi is no longer active on ckan.

[2017-04-06 20:18] metaodi commented on #2475
@tedstrauss for those instances where I need this, I simply patched the i18n.py file to not treat 'en' in a special way and hence load the translation. This is not a clean solution, so this issue is still open.

[2017-04-06 21:05] tedstrauss commented on #2475
So just to be clear, if I replace the file i18n.py with the version on PR #2909 ([here](https://github.com/LaurentGoderre/ckan/blob/3a99ebd62d2c6e81dff8d07032f05d6a3adf613a/ckan/lib/i18n.py)) and compile that, then the overriding of the default language should work. Right?

[2017-04-07 05:38] metaodi commented on #2475
@tedstrauss I'm using a different version, but I have no link to it atm. But from quickly looking at it, the version you linked to should work as well. Maybe also check [the extra-directory config](http://docs.ckan.org/en/latest/maintaining/configuration.html#ckan-i18n-extra-directory)

[2017-04-07 07:56] torfsen commented on #3536
From my point of view, the Celery-based background jobs can be deprecated in favor of the RQ-based solution. Code, documentation and deprecation notices are in `master`.

[2017-04-07 16:03] tedstrauss commented on #2475
It appears to be working!

[2017-04-11 05:50] gleb-rudenko commented on #2373
@wardi, @TkTech, could you take a look at my PR please? resolving test issues now

[2017-04-11 06:38] u10313335 opened #3539 "Exception when specifying a directory in the ckan.i18n_directory option"
### CKAN Version if known (or site URL)
2.6.2

### Please describe the expected behaviour
After specifying a directory in the `ckan.i18n_directory` option, we should get locales from that directory.

### Please describe the actual behaviour
Exception is thrown when accessing the CKAN site. The page shows "Internal Server Error".
[code]

### What steps can be taken to reproduce the issue?

1. Speci

[2017-04-11 06:51] u10313335 commented on #3539
My workaround for this issue:

Change this line:

https://github.com/ckan/ckan/blob/a6fc30979dd75890c3322006554a350102f6b10b/ckan/lib/i18n.py#L178

from

[code]
to
[code]

Not sure if it is okay since we are migrating from pylons to flask.
I would submit a PR later If this fix looks good.

[2017-04-11 07:48] u10313335 opened #3540 "DataStore Map preview does not show plot markers from latitude / longitude fields"
### CKAN Version if known (or site URL)
2.6.2

### Please describe the expected behaviour
The [DataStore Map](http://docs.ckan.org/en/ckan-2.6.2/maintaining/data-viewer.html#datastore-map) preview function should show plot markers from pairs of latitude / longitude fields.

### Please describe the actual behaviour
The map doesn't show anything. It seems that we don't get those markers.

### What s

[2017-04-11 08:01] u10313335 commented on #3540
I found that this issue can be solved by simply adding the `state` parameter to the `_reclineMapViewOptions` function in

https://github.com/ckan/ckan/blob/a6fc30979dd75890c3322006554a350102f6b10b/ckanext/reclineview/theme/public/recline_view.js#L124 like:

[code]

Not a good way though.

[2017-04-11 18:27] tedstrauss commented on #3507
the previous issue was closed without any resolution, so closing this one as a duplicate is not appropriate.

[2017-04-12 09:30] tino097 commented on #3540
not able to reproduce, i can see the markers on the preview

`state,name,latitude,longitude
AL,Alabama,32.318231,-86.902298
AK,Alaska,63.588753,-154.493062
AR,Arkansas,35.20105,-91.831833
AZ,Arizona,34.048928,-111.093731
CA,California,36.778261,-119.417932
CO,Colorado,39.550051,-105.782067
CT,Connecticut,41.603221,-73.087749`

tried with this data as csv file

[2017-04-12 14:49] martinburchell opened #3542 "API v2 hard coded for feed items"
### CKAN Version if known (or site URL)
eg http://demo.ckan.org/feeds/dataset.atom

### Please describe the expected behaviour
It would be good to have the option for the feed to contain v3 API URLs

### Please describe the actual behaviour
only v2 API URLs are available
https://github.com/ckan/ckan/blob/eee6decdbab330e0926942a0299754f33fceaa79/ckan/controllers/feed.py#L418

### What steps can be

[2017-04-13 10:57] timgiles commented on #3536
Is beta.ckan.org running the latest built?

[2017-04-13 13:59] amercader commented on #3542
@martinburchell If I understood correctly this is just a matter of updating the `url_for` call that you link to to use the version 3 of the API. (and while you are at it, remove the `self.base_url + ` and use a `qualified=True` param on the `url_for` call.

Are you up for sending a PR?

[2017-04-14 13:44] martinburchell commented on #3542
Happy to send a PR but it's a low priority for our client and might not happen until mid-May, if at all

[2017-04-14 21:55] davidread opened #3543 "Ubuntu 16.04 Xenial compatibility"
16.04 has been out a while, so it would be good to tweak the ckan install instructions to be compatible with it.

[2017-04-18 12:08] #3518 closed

[2017-04-18 19:56] jonathan-s opened #3546 "The name of packages are not sorted alphabetically"
### CKAN Version if known (or site URL)
http://demo.ckan.org/

### Please describe the expected behaviour
Sorting on name ascending. The expected behaviour in my humble opinion.
* Abc
* abc
* Bc
* bc
* cba
* Cbc

### Please describe the actual behaviour
It sorts on name ascending, but in the following way. So lowercase and uppercase are separated from each other. If you were looking for a package

[2017-04-19 03:58] u10313335 commented on #3540
@tino097 many thanks.
I forgot to mention that this issue only occurs when the name of latitude / longitude fields is NOT latitude / longitude.
For example, if I replace column names:
`state,name,latitude,longitude`
with
`state,name,latitude-a,longitude-a`,
then the markers will be gone.

[2017-04-19 07:34] torfsen commented on #3546
+1. While we're at it, we might as well start using [natural sorting](https://blog.codinghorror.com/sorting-for-humans-natural-sort-order/).

[2017-04-19 20:07] ashishsingal1 commented on #3255
Same issue 16.04. Is that the issue? Do we downgrade to 14.04 to get this working?

[2017-04-19 20:56] TkTech commented on #3484
The PR attached to this has been updated. Activities should now be able to support the history functionality that was removed.

1) The history package (which is not used at all in default CKAN) just redirects to the package's activity steam page.
2) Package activity events now display a "View this version" link to go back in time.
3) Activites store the post-`package_show` dict instead of the inco

[2017-04-19 21:15] TkTech commented on #3255
See https://github.com/ckan/ckan/pull/3544 for updated source install instructions. An updated package will likely come after this.

If at all possible I always highly recommend you just install from source. It is simple and reliable across all platforms and versions.

[2017-04-19 22:58] vithalalapati opened #3548 "Indexing of extra fields at resource level in ckan?"
I instantiated additional metadata at resource level. And, I couldn't index them through Solr. So, when I search information in CKAN catalog based on these fields the search won't return any result.

[2017-04-19 23:06] TkTech commented on #3548
Please reserve the bug tracker for technical bugs. Use stack overflow or the mailing list for help.

If you want additional fields indexed through solr add them in a `before_index` handler. http://docs.ckan.org/en/latest/extensions/plugin-interfaces.html#ckan.plugins.interfaces.IPackageController.before_index

[2017-04-19 23:06] #3548 closed

[2017-04-20 12:35] carlitosfioravante commented on #3255
Same issue in Ubuntu 14.04 using: sudo dpkg -i python-ckan_2.6-trusty_amd64.deb

[2017-04-20 14:25] wardi commented on #3536
when this goes in I'd like to switch all use of `unicode` in validators to `unicode_only` https://github.com/ckan/ckan/pull/3428/files#diff-38644dde5577e621a00643c43bfec0feR120

[2017-04-25 14:48] rwillmer opened #3550 "How to create default data (organization and editor)?"
### CKAN Version if known (or site URL)
2.6.2

### Please describe the expected behaviour
I would like to be able to supply a fixture for a set of default organisations and users,
to be created when the ckan server is first created.

### Please describe the actual behaviour
I cannot see how to do this without writing a bespoke paster command.

### What steps can be taken to reproduce the issue?
Re

[2017-04-27 12:42] wardi commented on #3550
`ckanapi load users | organizations` is what I use. You can create your fixtures with the `ckanapi dump` commands

[2017-05-02 09:07] rwillmer commented on #3550
Thanks!

[2017-05-02 09:07] #3550 closed

[2017-05-04 14:08] #3543 closed

[2017-05-05 05:38] grahame opened #3555 "Upload progress bar"
### CKAN Version if known (or site URL)
2.6.1

### Please describe the expected behaviour
This isn't a bug, it's request for comments on a potential new feature.

When uploading a file, the user should be shown upload progress -- a simple percentage progress bar would be sufficient.

### Please describe the actual behaviour
No progress is shown, unless by the user agent. At the moment only Chrome

[2017-05-05 09:23] TkTech commented on #3555
CKAN supports only very limited uploading. You don't *want* CKAN to be the one handling large uploads as it is right now because it'll be using up a worker for a very long time.

The solution to this with local storage (without adding a new, light-thread file server to CKAN) depends on where you're storing it and what you're running, such as nginx using nginx-upload-module. Anything you come up wi

[2017-05-05 19:16] wardi opened #3556 "datastore upsert performance + continue on error"
The `datastore_upsert` and `datastore_create` actions currently issue separate insert statements to the datastore database for every row added or updated instead of using a single query, which is simple but slow. The insert/update also abort completely if any individual row fails to be loaded.

This ticket is to track work improving performance and adding an option to continue when some records fa

[2017-05-05 20:21] wardi opened #3557 "datastore alter column types from data dictionary form"
This is a ticket for tracking work towards supporting column type changes in `datastore_create` and exposing column type changes in the data dictionary form.

Adding columns is currently supported by `datastore_create` but changing a column's type is silently ignored. We'll need to be able to support a few different expressions for the `USING` clause of `ALTER COLUMN` but for data privacy reasons

[2017-05-09 09:40] amercader commented on #3281
@gleb-rudenko Is there a PR for this?

[2017-05-09 09:43] amercader commented on #2695
@gleb-rudenko it would be good to test if it it's still happening on the current lib versions used in master. But considering that we are moving away from Pylons I'm not sure it's worth chasing it unless it's something that can be easily fixed on the CKAN controller.

[2017-05-09 09:44] #2230 closed

[2017-05-09 10:05] amercader commented on #3516
That is very reasonable, and what is happening now is that when you disable uploads and try to download an existing uploaded resource you get a Server Exception which is not good.

There are no previous checks on the controller and the uploader [tries to compute](https://github.com/ckan/ckan/blob/69bf8c6a69b081ef38f075942a9dd85c713995ec/ckan/lib/uploader.py#L241:L242) the file path using `ckan.sto

[2017-05-09 10:41] #3513 closed

[2017-05-09 12:26] mikkonieminen opened #3558 "Groups should support multilingual schema fields"
Group templates are missing translation support for multilingual fields. E.g. templates should call get_translated for displayed group fields. I'll provide suggestions with a PR in a minute.

[2017-05-09 22:34] dythya opened #3560 "Reharvest datapusher is not recreating default views"
### CKAN Version if known (or site URL)
2.6.0
https://catalogue.data.govt.nz/dataset

### Please describe the expected behaviour
When reharvesting the default resource views should be recreated.

### Please describe the actual behaviour
When reharvesting default resource views are not recreated

### What steps can be taken to reproduce the issue?
1. Make sure you have default views.
ckan.views.def

[2017-05-10 01:15] camfindlay commented on #3560
+1 I've seen this behaviour on a vanilla CKAN install using the DCAT JSON Harvester

[2017-05-10 09:31] francescomangiacrapa opened #3561 "Loading Time for dataset pages is very high [4-8] sec"
### CKAN Version
https://ckan-d-d4s.d4science.org/api/util/status
https://ckan-sobigdata.d4science.org/api/util/status
I'm comparing loading time of dataset pages to the two ckan above.
It seems there are some problems with sql queries.
DB is Postgres 9.4. Database schema are identical, there is no difference between them. Only data changes.
Ckan configurations and plugins are identical.
But the s

[2017-05-10 14:55] LondonAppDev commented on #3372
I am getting some of the same failures that @rwillmer was getting. For example:

[code]

I am also using Docker to run the tests.

I believe I have solved the encoding issues and I think the remaining problems are related to solr.

@rwillmer when you say `Now using the solr config from the CircleCI setup.` would you mind pointing me to the place you got the solr config from? I've copied the schema

[2017-05-10 15:02] rwillmer commented on #3372
The CKAN documentation doesn't match what they are using on CircleCI.

I followed the CircleCI link on http://github.com/ckan/ckan and found myself here. https://circleci.com/gh/ckan/ckan

So then I found a working test and looked to see how it was setup.

[2017-05-10 15:12] LondonAppDev commented on #3372
Thanks a lot for the quick reply @rwillmer.

Looks like they are running this script:
https://github.com/ckan/ckan/blob/master/bin/solr_init/create_core.sh

Is this what you mean when you say the CircleCI build doesn't match the docs?

[2017-05-10 15:21] rwillmer commented on #3372
The docs at http://docs.ckan.org/en/latest/maintaining/installing/install-from-package.html talk through installing via apt-get from a package and then modifying config files.

The CircleCI build gets a solr tarball, and runs it directly as a service without troubling apt-get.

Two totally different methods of setting up Solr.

[2017-05-10 15:23] LondonAppDev commented on #3372
Ah I see what you mean. Thank you @rwillmer

[2017-05-10 17:33] TkTech commented on #3561
A regular stack trace isn't terribly useful here. Since it looks like you have physical access to these machines please update your Postgres config with slow query logging (the most basic of which is [setting `log_min_duration_statement `](https://www.postgresql.org/docs/current/static/runtime-config-logging.html). If you can post an example of what queries are being run when you hit that page we

[2017-05-11 04:36] grahame commented on #3555
OK, thanks for the feedback.

[2017-05-11 04:36] #3555 closed

[2017-05-11 14:05] #2939 closed

[2017-05-11 14:29] amercader commented on #3561
Hi, thanks for submitting your issue.

This sounds like a specific issue with your particular deployment. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the [ckan-dev mailing list](https://lists.okfn.org/mailman/listinfo/ckan-dev) or the [#ckan tag](http://stackoverflow.com/questions/tagged/ckan) on SlackOverflow.

You can also try on the

[2017-05-11 14:29] #3561 closed

[2017-05-11 15:03] amercader commented on #3560
@dythya just to clarify, are you using the CKAN harvester?

[2017-05-11 16:52] francescomangiacrapa commented on #3561
@amercader, @TkTech
I just posted this question on StackOverlflow.. adding more details regarding sql queries.
http://stackoverflow.com/questions/43921335/ckan-loading-time-for-dataset-pages-is-very-high-4-8-sec
Number of query is too much on ckan-sobigdata compared to ckan-d-d4s
I hope someone can help me on where I can investigate.

Thanks,
Francesco.

[2017-05-12 12:23] dmichelakis commented on #1874
I just noticed that the last modified date does not update when editing or replacing a link in a resource but does change when editing or replacing a file. Is this a bug or is this suppose to happen?

[2017-05-12 16:04] davidmiller commented on #3539
Hi @amercader !

I also saw this error when trying to upgrade to 2.6
I'm translating CKAN and have the translations in my plugin.

[2017-05-13 00:42] dythya commented on #3560
@amercader We are using CKAN harvester it's a DCAT harvest.  We have  made customisations to the ckanext-dcat harvester.

[2017-05-14 13:09] wardi commented on #3556
New datastore_upsert error-handling parameters:

## errors
* `'stop_on_first'` (default) stops processing records on first error and returns that error as a single value in the raised ValidationError.
* `'all'` attempts to insert/update all records, collecting errors. ValidationError is raised after all records are processed with a list of every error if any error was encountered.

## commit
* `'o

[2017-05-14 15:48] wardi commented on #3556
Timings for `python -m cProfile ckanapi action datastore_upsert -I datastore_upsert.json -j > /dev/null` Where datastore_upsert.json contains 32k records of a table with 33 columns of real 311 data from a major open data portal. All tests against commit 67e9c53

* `method=insert`
* total time: 64.1 s
* 86% within a single execute call (sqlalchemy)
* 6% preparing data for execute call

For `method=

[2017-05-14 19:44] wardi commented on #3556
A quick test using `json_populate_recordset` brings the `method=insert` case down to 47.5 s (35% faster than 67e9c53). Another 2-3 s will be saved by generating our text search column within postgres. That's a required change for what's likely to be the last big win for `method=insert`: extending `datastore_upsert` to accept CSV-formatted records.

[2017-05-15 06:48] dlax commented on #3560
See also ckan/ckanext-dcat#91.

[2017-05-15 14:02] gustavomwk commented on #3146
Hello everyone, does anyone has a fix for this?
I am having the exact same problem. The tutorial mentioned at http://docs.ckan.org/en/ckan-2.6.2/theming/templates.html and it fails

with the error ImportError: No module named plugin

[2017-05-15 14:24] gustavomwk commented on #3146
Hi nabiltntn, can you put a comment on what your tried to fix the problem?
I am having the same exact problem. Thanks in advance

[2017-05-15 17:31] wardi commented on #2186
@jackmaney was this not fixed by #3112 ? What version are you using, what error are you seeing and what steps did you take to trigger the issue?

[2017-05-15 17:39] jackmaney commented on #2186
Looks like we're on version 2.5.2 of the API (according to the `CKAN API` link at the bottom of the server's main page).

I had two tables with a `parent_of` relationship, I deleted them both, but when I tried to purge either one, I got essentially the same error message as @jayhuggins above.

Has #3112 been merged into a release since 2.5.2?

[2017-05-15 17:50] wardi commented on #2186
Looks like it hasn't been backported to 2.5.x . @amercader any objection to backporting to 2.5?

[2017-05-16 15:43] taviroquai opened #3566 "Uploaded resource - preview/download returns 404"
### CKAN Version if known (or site URL)
Version 2.6.2

### Please describe the expected behaviour
Display resource

### Please describe the actual behaviour
Open default 404 ckan page

### What steps can be taken to reproduce the issue?
Open dataset => Tab resources => Add new resource => Upload file => Save

I suppose it is a problem with my configuration but I'm new to ckan and I can't find wher

[2017-05-17 05:46] dythya commented on #3560
I did a fix on my local CKAN so it now recreates views when resources are updated.

[2017-05-17 06:02] fanxiaoguang commented on #2819
hi all ,i also met this problem,even if I used scoped_session,
To fix this problem  I just  create new session when I create a new object, which destroy the object then in  call _session.close(). But which is a bad idea.
 I don't kown why scoped_session  and use the query.with_lockmode（ｒｅａｄ）　query.with_lockmode（ｕｐｄａｔｅ） also can not fix the problem

[2017-05-17 13:17] taviroquai commented on #3566
I attach a screenshot about the problem so you can help me with this. Thank you.

![ckan_error_404](https://cloud.githubusercontent.com/assets/498409/26155526/5fda9d62-3b0b-11e7-89c1-199f39106224.jpg)

[2017-05-17 13:37] taviroquai commented on #3566
Ok I found it:
1. The dataset was set as private. I though I was able to view with admin account. I changed to public and it worked.
2. I also changed the setting ckan.site_url to the host name instead of the IP address.

[2017-05-17 13:37] #3566 closed

[2017-05-18 12:51] amercader opened #3567 "Port feeds controller to Flask blueprint"
Once #3239 is merged (hopefully really soon after we branch out 2.7) we can start porting controllers to Flask blueprints and identify issues as we go.

One easy controller to get started is the feeds controllers, as it does not require template rendering, work can start on a branch from `3229-api-blueprint`.

The goal is too have a new blueprint `ckan.views.feeds.py`, modelled after `ckan.views.a

[2017-05-18 12:55] amercader commented on #3567
@tino097 In general, the approach I would follow for migrating controllers is

1. Familiarize yourself with how Blueprints are defined and registered (they are registered automatically if the module is on `ckan/views/`.
2. Make sure routes are registered and the Flask one is used instead of the Pylons one (comment the Pylons one on `ckan/config/routing.py`)
3. Start moving the first controller end

[2017-05-18 17:48] siccovansas opened #3569 "[DOCKER] docker-compose up not working"
Running `docker-compose up -d` on the `docker-compose.yml` file in `contrib/docker` seems to result in the `ckan` container not running? When inspecting the `ckan` container logs it shows me this:
[code]

Any ideas on what goes wrong?

[2017-05-19 11:27] davidread commented on #3146
The solution to this problem is here: http://stackoverflow.com/a/44068312/1512326

How should we fix the docs though? We use the same path "ckanext/example_theme" in both the tutorial and the files in the ckan repo, so that we can quote real file examples, using `literalinclude` e.g. in https://raw.githubusercontent.com/ckan/ckan/master/doc/theming/css.rst

So renaming one or the other seems not g

[2017-05-19 11:51] amercader commented on #3569
@mattfullerton is this related to the ports issue you were discussion recently?

[2017-05-19 11:54] amercader opened #3570 "Javascript error on resource page, view filters not working"
Looks like [this change](https://github.com/ckan/ckan/pull/3423/files#diff-0fc89fa4c2a24dba1d7b053ef7164d84R9) introduced a JS error (semi-colon should be a comma).

@torfsen should be easy to fix, would you have time to send a patch?

[2017-05-19 18:14] siccovansas commented on #3569
Ok; so I made one little change which I didn't tell you all about, and apparently reverting this changes solved my problem. It does pose a different challenge though. The change I made was to the port binding from port 80 to port 5000 for the `ckan` container. I changed this line to:
[code]
Apparently this breaks the whole setup. Which is a bad thing because you can't assume CKAN to be installed o

[2017-05-19 19:20] mattfullerton commented on #3569
@amercader yes - as you can see its trying to reach redis at localhost (this is in the code as a default - it can and should be overriden in the .ini for docker-compose)

What I can't explain off the top of my head is why CKAN is trying to reach Postgres at 172.17.0.3 - that's a docker IP... but ideally it should be using the container name.

I will try to get a look at this on a suitable machine

[2017-05-22 08:52] torfsen commented on #3570
@amercader Oops, I'll look into it.

[2017-05-22 11:47] siccovansas commented on #3569
@mattfullerton I guess you see the Postgres docker container IP address because it already resolved it from the container name? I'm still not sure why changing the binding of port 80 causes the whole thing the break down.

[2017-05-22 11:55] gleb-rudenko commented on #3281
@amercader, I guess https://github.com/ckan/ckan/compare/master...gleb-rudenko:user-manage-dialog-usability

[2017-05-22 14:17] mattfullerton commented on #3569
https://github.com/ckan/ckan/pull/3572

[2017-05-22 17:20] deinok commented on #3569
you should port docker-compose to version 3. now its in version 1 so binding works only via env vars

[2017-05-23 06:54] dportoles commented on #2655
I have experienced a similar situation using API resource_view_create (using 2.4.2).
The problem is about validation over 'filters' field.
This field could be defined for a grid using ckanext-basicgrid.
IMHO, having a 'filters' value will raise a wrong Validation Error

If 'filter' field is temporaly deleted, validation [1] is ok and you can continue with the rest of code and it works.

[1] https:

[2017-05-23 11:46] siccovansas commented on #3569
@mattfullerton given your pull request, what values should I set for the environment variables in order to run `docker-compose up -d` without binding port 80?

[2017-05-23 12:02] mattfullerton commented on #3569
For that it's even easier: just change this line
https://github.com/ckan/ckan/blob/master/contrib/docker/docker-compose.yml#L10

to something else instead of 80.

That said, we need a way of piping through a site url. This is bad:
https://github.com/ckan/ckan/blob/master/Dockerfile#L9

[2017-05-23 12:13] #3570 closed

[2017-05-23 13:00] siccovansas commented on #3569
@mattfullerton I tried changing/removing that line but that still results in the errors shown at the top of this issue.

[2017-05-28 18:13] Engerrs opened #3579 "My organizations on dashboard page show wrong number of datasets for organization."
CKAN Version
All versions

Expected behaviour
When logged user switch to My organizations tab at dashboard, the number of datasets for the organization should match the number of datasets that found on **/organization** page.

Actual behaviour
The number of datasets are not match the number of datasets on **/organization** page.

To reproduce the issue there should be at least 1 organization with

[2017-05-29 12:27] Engerrs commented on #2550
I will start working on creating PR for this one.

[2017-05-30 11:12] Engerrs commented on #2794
Hi @amercader, I've added a PR for this one.

[2017-05-30 12:31] tino097 commented on #3579
#3580

[2017-05-30 20:55] dythya commented on #3560
ckan/ckanext-dcat#91 is talking about resources themselves being recreated. The issue I am trying to fix is the fact that when they are recreated the default views are not  recreated.
The site I work on this is a significant issue as they reharvested a lot data and all the views went.  Recreating manually is time consuming.
I've done a patch for this on our local fork of CKAN.  I should do a PR an

[2017-05-31 00:04] camfindlay commented on #3560
@amercader yip as @dythya mentions, the issue here is that once a resource is recreated (which works well) a corresponding view is not created.

I noticed this when we did an initial harvest - datasets, resource and views get created = good.

When a manual or scheduled reharvest occurred - dataset remains, new resources get created, no views = sad face.

Seems @dythya has tracked this to something

[2017-05-31 16:52] mikkonieminen commented on #3558
Fixed in PR #3559, closing.

[2017-05-31 16:52] #3558 closed

[2017-06-01 06:39] #3146 closed

[2017-06-01 07:44] #3475 closed

[2017-06-01 07:46] TkTech commented on #3071
Fixed in #3445

[2017-06-01 07:46] #3071 closed

[2017-06-01 07:47] TkTech commented on #2772
The work for this is being done as part of #3547.

[2017-06-01 07:47] #2772 closed

[2017-06-01 09:11] hvwaldow opened #3584 "Debug footer doesn't show template variables"
### CKAN Version if known (or site URL)
2.6.2

### Please describe the expected behaviour
Debug footer shows template variables.

### Please describe the actual behaviour
Debug footer doesn't show template variables.

### What steps can be taken to reproduce the issue?
Set `debug = true` in `development.ini`
Click on "Debug" link in footer.

[2017-06-01 10:58] goncaloGIT opened #3585 "Trouble installing Ckan Extensions"
Hi

## CKAN Version if known (or site URL)

2.6.2

## Problem

Im trying to install an extension, to be specific

- https://github.com/EUDAT-B2FIND/ckanext-b2find

- https://github.com/EUDAT-B2FIND/ckanext-datesearch

## Please describe the actual behaviour

Cant see the extension in Ckan, but the extension seem's to be enable because ckan is up and running, yet there's are no error in **/var/log/

[2017-06-01 13:47] LondonAppDev commented on #2689
Hey all, I am also experiencing this issue using CKAN 2.6.2. Wondering if anyone has a workaround for indexing the search?

[2017-06-01 14:08] tino097 commented on #3585
Hi, thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the ckan-dev mailing list or the #ckan tag on SlackOverflow.

You can also try on the #ckan IRC channel on freenode, where other developers may be able to help you.

Thanks!

[2017-06-02 13:02] brylie opened #3587 "Error when initializing development database"
### CKAN Version if known (or site URL)
Latest stable

### Please describe the expected behaviour
When setting up the CKAN database, there should not be any tracebacks.

### Please describe the actual behaviour
When running the `paster db init` command, I see the following traceback:

[code]

### What steps can be taken to reproduce the issue?
I am following the CKAN installation instructions, on

[2017-06-02 13:22] brylie commented on #3119
I would like to help with this task. Is there any small, repetitive task that I can take as part of the larger Pylons to Flask migration? I am new to Flask, so something with a clear recipe that I can follow would be appreciated.

[2017-06-02 13:32] brylie commented on #3309
I would like to help. Which of the packages above has the least usage in CKAN? I would need something bite sized, since I am learning the CKAN codebase.

[2017-06-02 13:58] brylie commented on #3309
One idea would be to replace [wevhelpers.feedgenerator](https://webhelpers.readthedocs.io/en/latest/modules/feedgenerator.html) with a Python 3 compatible library, such as [python-feedgen](https://pypi.python.org/pypi/feedgen/).

[2017-06-02 14:10] TkTech commented on #3309
@brylie alternatively there's no need for either of those, since Jinja can happily generate the feeds.

[2017-06-02 18:21] Engerrs opened #3588 "Upload to Datastore tab shows incorrect time at Upload Log"
CKAN Version
2.5,2.6,2.7

Expected behaviour
When Upload to Datastore, the time in table and at logs, shows display correctly.

Actual behaviour
When Upload to Datastore, the time at logs, shows display incorrectly. -1 day

Steps to reproduce the issue
1.Configure datastore and datapusher.
2.Create dataset with CSV resource.
3.Enter the Upload to Datastore tab and click on the button, reset the pa

[2017-06-02 21:26] wardi opened #3590 "resource view filter user filters JS error"
### CKAN Version if known (or site URL)

master

### Please describe the expected behaviour

I define a new resource view with `filterable=True` and enable it in my plugins. The "Add Filter" interface available to users viewing the view be usable to add new filters.

### Please describe the actual behaviour

I get the following JS error when clicking on the "Add filter" text from the view view pag

[2017-06-03 12:14] brylie commented on #3309
Fewer dependencies seems better to me! :smile:

[2017-06-05 13:19] smotornyuk commented on #3587
@brylie , it looks like you missed [2.b](http://docs.ckan.org/en/latest/maintaining/installing/install-from-source.html#install-ckan-in-virtualenv) - this issue most likely was caused by incorrect version of setuptools

[2017-06-05 23:37] MrkGrgsn commented on #2808
I've just seen the same error with CKAN 2.5.4 (also reported by Sentry). I suspect it's caused by https://github.com/pallets/jinja/issues/8 which was resolved in jinja2 2.7 released in May 2013.  Perhaps a requirements upgrade is due?

[2017-06-06 08:20] ddlam opened #3591 "ImportError: No module named werkzeug.test [Installation on Windows]"
### CKAN Version if known (or site URL)
CKan 2.5.2

### Please describe the expected behaviour
Setup Python 2.7.13, PostgreSQL newest version, solr-4.9.1, ckan2.5.2
Following https://github.com/ckan/ckan/wiki/How-to-Install-CKAN-2.5.2-on-Windows-7 on the step
"Create database tables"
(ckan) C:\src\ckan>paster db init -c development.ini

ImportError recieved

### Please describe the actual behaviou

[2017-06-06 09:20] brylie opened #3592 "Deprecate webhelpers.feedgenerator and use Jinja for feeds"
Related to issue #3309

### CKAN Version if known (or site URL)
latest

### Please describe the expected behaviour
CKAN should be migrated to Python 3

### Please describe the actual behaviour
The webhelpers package does not support Python 3.

# Goal
Replace webhelpers.feedgenerator based feed(s) with Jinja.

[2017-06-06 10:27] tino097 commented on #3592
im using http://werkzeug.pocoo.org/docs/0.12/contrib/atom/ for #3567

[2017-06-06 12:00] wardi commented on #3590
@torfsen I'm sure there's a fix better than reverting the commits, do you have time to take a look?

[2017-06-06 12:08] wardi commented on #3592
@brylie are you planning to work on a PR for this issue?

[2017-06-06 12:10] smotornyuk commented on #3508
Resolved in #3519

[2017-06-06 12:10] #3508 closed

[2017-06-06 12:12] #3587 closed

[2017-06-06 12:41] tino097 commented on #3591
Hi, thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the  #ckan tag on SlackOverflow as we dont officialy support Windows.
We would suggest to use Ubuntu on VM.
Thanks!

[2017-06-06 13:45] ZoranPandovski opened #3593 "Filter results button is not working"
### CKAN Version if known (or site URL)
Tested in 2.5.3 and 2.6

### Please describe the expected behaviour
In organization datasets page if the user use mobile device he can see Filter results button. I am not sure what this button should do.

### Please describe the actual behaviour
The button doesn't do nothing, it only adds class to a body and nothing else.

### What steps can be taken to repr

[2017-06-06 14:43] #3591 closed

[2017-06-06 17:27] brylie commented on #3592
Yes, I will make time ASAP

[2017-06-06 19:08] mattfullerton opened #3594 "requests dependency failure"
### CKAN Version if known (or site URL)
master running inside Docker

### Please describe the expected behaviour
CKAN starts

### Please describe the actual behaviour
This is inside Docker, at CKAN startup (stack trace at end). The paster command `ckan-paster make-config ckan "$CONFIG"` is completing successfully and this is presumably at `ckan-paster --plugin=ckan db init -c "${CKAN_CONFIG}/ckan.

[2017-06-07 07:31] nabobnagari commented on #3504
We got the same issue using IHS 8.5.5.11

getting (70008)Partial results are valid but processing is incomplete: proxy preftech request body failed to IP

[2017-06-07 08:06] ddlam commented on #3591
Posted here:
https://stackoverflow.com/questions/44402273/importerror-no-module-named-werkzeug-test-installation-on-windows

[2017-06-08 04:11] dythya commented on #3560
An initial harvest, or a clear then harvest follows a different path to a
re-harvest. Default views are created by add_views_to_resource in both cases.
However, on an initial harvest ckan-dia-fetch creates recline_view,
geojson_view and geo_view. ckan-dia crates the recline_map_view. And on a
re-harvest ckan-dia creates recline_view and recline_map_view. The re-harvest
does not call add_views_to_r

[2017-06-08 13:50] #3585 closed

[2017-06-08 13:55] wardi commented on #3584
@hvwaldow we removed the template variables from the debug footer because it was causing massive slowdowns (many seconds) when rendering pages that use lots of templates and snippets #3000.

If you need access to the variables used one approach I use is causing the page to fail and inspecting the variables with the werkzeug debugger. If you really want the old behaviour you can add it back from an

[2017-06-08 13:56] #3584 closed

[2017-06-08 14:02] francescomangiacrapa opened #3597 "Smart/Quick way to delete "one shot" all dataset of an organization??"
Hi all,

I opened a ticket sorry for "abuse"
A simple question..
Is there a smart/quick way to permanently delete (“purge”) "one shot" all dataset belonging to an organization?
Is there a facility via GUI or also via sysadmin command..?

I've an organization within 100k dataset..

Thanks in advance for your feedback

Cheers,
Francesco

### CKAN Version if known (or site URL)
2.6.x

[2017-06-08 14:07] TkTech commented on #3597
Hi, thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the ckan-dev mailing list or the #ckan tag on SlackOverflow.

You can also try on the #ckan IRC channel on freenode, where other developers may be able to help you.

Thanks!

[2017-06-08 14:07] #3597 closed

[2017-06-08 14:09] TkTech commented on #3593
Added in https://github.com/ckan/ckan/commit/2654fbb8fb258fa15e39e16cd103aed522ebf8a0 for reference.

[2017-06-08 15:38] Engerrs opened #3598 "IPackageController Interface don't have before_update and before_create methods"
### CKAN Version
All versions

### Expected behaviour
When user(admin) creates/updates dataset he can hook the dict that he got in method to modify the data that he gets before the actuall create/update.

### Actual behaviour
User can't hook dict before package creates/updates.

Those methods would be very useful for situations, when user got some hidden fields that need to get all data or part of

[2017-06-10 00:24] neilmayhew opened #3602 "config-tool doesn't merge settings that span multiple lines"
### CKAN Version if known (or site URL)

All, including `master`.

### Please describe the expected behaviour

Merging

[code]

into a config file should produce the same value, ie

[code]

### Please describe the actual behaviour

It produces

[code]

### What steps can be taken to reproduce the issue?

[code]

[2017-06-10 00:29] neilmayhew commented on #3602
The problem is in `parse_config()` in `ckan/lib/config_tool.py`. It uses a hand-rolled, line-by-line parsing strategy that isn't compatible with continuation lines.

However, it also doesn't raise an error if it gets a line it doesn't understand, so unfortunately this is a silent bug that took me a long time to track down when my installation wasn't behaving properly.

[2017-06-10 06:20] thenets opened #3603 "[Bug] Resource/groups/activity URLs doesn't support schema name."
### CKAN Version / site URL
CKAN 2.6.2
http://dados.gov.br

I've created a issue about it in the ckanext-scheming GitHub page:
https://github.com/ckan/ckanext-scheming/issues/157
I don't know how the "IDatasetForm" works, but if anyone help me I can try to fix it in the next CKAN version.

## Problem
The scheming doesn't support the actions 'resource', 'groups', 'activity'.

These URL works ok:
ht

[2017-06-13 06:12] torfsen commented on #3590
@wardi Sorry for the delay, I was on vacation. I'll take a look at it.

[2017-06-13 12:57] reitsma commented on #3540
I work with 2.6.2 too, and I observe the same behavior with respect to the names of the fields. No markers when fields names are lat/lng.

[2017-06-13 14:14] torfsen commented on #3590
That PR solves the issue for me.

[2017-06-13 15:00] amercader commented on #3603
@thenets thanks for the excellent report. This is something that should be easy to fix. Here is where the custom routes for each package type are registered:

https://github.com/ckan/ckan/blob/0bb141ae43b51f2c095fba87750c5fdaa00ee816/ckan/lib/plugins.py#L93:L122

The easy fix would be to add the missing routes here, eg

[code]

But in fact I can't see a reason why we could not factor out the code

[2017-06-13 15:04] amercader commented on #3602
@neilmayhew sorry about the silent failing. Feel free to submit a patch for the parser that allows support for multiple lines.

I'm not sure of the context in which you are using `config-tool` but just so you know you can use env vars to configure CKAN as well. Some of them are directly supported in [core](http://docs.ckan.org/en/latest/maintaining/configuration.html#environment-variables) but you

[2017-06-13 15:04] wardi commented on #3603
@amercader I don't see a problem with that

[2017-06-13 15:30] thenets commented on #3603
@amercader Thanks! I'll fix that in the Brazillian plugin!

About the CKAN core, I don't know a lot about Python, but I'll try to create a fix to that and test in my CKAN 2.6.x.
Later I sent a pull request and you and/or @wardi help me to test on 2.7.x.

Thanks for the tips about CKAN routing!!!

[2017-06-14 13:28] torfsen opened #3606 "Problems in background workers with non-core database relations"
@amercader has [reported](https://gist.github.com/amercader/7d7d3ffa89af834205974cad0d0a57d0) problems with the new background job system where a job succeeds on the first run but then fails on the following runs. This is similar to issue #3243 (fixed by PR #3247). Also of interest may be the issue #3332 (with PR #3337) as well as issue #3365 (with PR #3377).

@amercader has suggested that the pro

[2017-06-14 13:38] torfsen commented on #3606
There is an [existing test case](https://github.com/ckan/ckan/blob/5bc4921f2b7489867aa47905a34331f20f8c64e1/ckan/tests/lib/test_jobs.py#L218) which executes a job that accesses the DB several times. That test case should, in principle, cover the problem described here. However, it has been running successfully for quite some time, so it does not reproduce the problem reported by @amercader.

[2017-06-14 15:20] torfsen commented on #1954
On CKAN 2.6.2, I get internal server errors when calling the [`datastore_info`](http://docs.ckan.org/en/latest/maintaining/datastore.html#ckanext.datastore.logic.action.datastore_info) API function on a private dataset. When I [reported](https://lists.okfn.org/pipermail/ckan-dev/2017-June/011010.html) that on the `ckan-dev` mailing list, @mattfullerton [told me](https://lists.okfn.org/pipermail/ck

[2017-06-15 09:53] ZoranPandovski commented on #3593
This only works on home page when you search datasets, on organization page it's not working. Also tested also on http://demo1.ckan.io/ .

[2017-06-15 11:19] amercader commented on #3606
This case does not cover the scenario where another engine is being used by an extension (only the main core one is tested). The problem can be reproduced by enabling the `datastore` plugin on the `test-core.ini` file.

Annoyingly, it is not triggered when enabling the plugin via `p.load('datastore')` though. That may be caused by the way the environment is initialised differently on both cases?

[2017-06-15 13:59] wardi opened #3607 "Compute and store hashes of resource files uploaded"
Optionally compute and store hashes of resource files uploaded to CKAN based on a new configuration option, eg:

[code]

Would compute the MD5 and SHA384 hashes of resource files as they are uploaded (not as a separate pass) and store those values in the `resource.hash` field. CKAN's resource hash field has been unused since datastorer was replaced with datapusher. If `ckan.resource_hash` is not s

[2017-06-15 14:03] #3590 closed

[2017-06-15 23:48] krishnaraghavendra commented on #2260
I am still having the issue. Is it resolved

[2017-06-16 09:41] Vanuan opened #3608 "Feature: new "private-only" role"
### CKAN Version if known (or site URL)

2.7

### Please describe the expected behaviour

"untrusted" users shouldn't be allowed to change visibility. Visibility should be private by default.

### Please describe the actual behaviour

The "bad" dataset is available to everyone

### What steps can be taken to reproduce the issue?

1. Login as "untrusted" member of organization.
2. Publish "bad" dat

[2017-06-16 12:44] tino097 opened #3610 "Munge issue"
During migrating portals to newer CKAN versions, we got some problems with resources containing characters which are cleaned up with the `munge_filename` method

https://github.com/ckan/ckan/blame/ckan-2.6.2/ckan/lib/munge.py#L161

eg. 'filename--something--test.pdf" will be cleaned to 'filename-something-test.pdf'

The problem is when accessing to s3, as the files have been saved with those chara

[2017-06-16 15:42] klikstermkd commented on #2228
@wardi Can I take this one?

[2017-06-16 15:43] wardi commented on #2228
@klikstermkd absolutely! anything marked good for contribution is up for grabs

[2017-06-17 10:13] klikstermkd commented on #3528
@amercader @dmichelakis I'll take this one.

[2017-06-17 12:45] klikstermkd commented on #2944
@wardi I'll update the docs for missing `owner_org` in the example for importing datasets with the CKAN API.

[2017-06-17 15:00] klikstermkd commented on #2804
@rossjones I'll work on this.

[2017-06-18 09:17] Engerrs opened #3615 "datastore_search action gives 0 results with query search"
### CKAN Version
2.6 and lower

###  Expected behaviour
When uploading CSV file and trying to do query search with datastore_search for example: http://demo.ckan.org/api/action/datastore_search?resource_id=335bda41-93ea-4f57-b274-cb4347425e73&q=mary, it should give results, where 'mary' is set in text or is a single word. Searching by small text "Native of NSW" should give results, where this text

[2017-06-18 14:10] klikstermkd commented on #2501
@gleb-rudenko @TkTech I will work on this.

[2017-06-19 08:53] Engerrs commented on #3615
This issue can be closed, as I found out that there is an config option "ckan.datastore.default_fts_lang = english" that can solve this one if we put "simple".
But still the actual issue with 'english' still appears on Postgres 9.4.7, 9.5.4, while 9.5.7 working with 'english' fine.

[2017-06-19 08:53] #3615 closed

[2017-06-19 11:26] Danidude opened #3618 "Serving CKAN over none root (http://example.com/ckan)"
### CKAN Version if known (or site URL)
CKAN version 2.6.2
Tested with latest version too.

### Please describe the expected behaviour
In the configuration file (development.ini) I have set both
ckan.site_url = http://example.com
ckan.root_path = /ckan/{{LANG}}

Fanstatic to serve the static files:
/ckan/fanstatic/vendor/....

### Please describe the actual behaviour
Fanstatic is not adding the '/

[2017-06-20 07:19] NicolaiMogensen commented on #3115
I would like to also chime in here. Experiencing the same exact thing.

[2017-06-20 10:47] klikstermkd commented on #3593
The "Filter Results" button should only be displayed in the "Datasets" page and not in "Organizations" and "Groups" page, since filters are only available for the "Datasets" page.

So I don't see this as an issue.

[2017-06-20 11:52] klikstermkd opened #3619 "Links to issues/PRs in Changelog page"
In the docs in the [Changelog](http://docs.ckan.org/en/latest/changelog.html) page, at the end of every listed feature/bug fix for a particular release, there is a number of the issue/PR.

I think it would be nice so that those numbers have a link attached of the issue/PR on Github, so that it's much easier for someone to view directly the issue/PR, instead of manually copying the number.

[2017-06-20 12:08] #2944 closed

[2017-06-20 12:36] #2804 closed

[2017-06-20 13:03] klikstermkd commented on #3619
@amercader I can make the change :)

[2017-06-20 13:06] amercader commented on #3619
Thanks @klikstermkd

[2017-06-20 13:10] amercader commented on #3618
Mounting CKAN in a non root location is a recurring source of problems. @fanjinfei will try to find some time to investigate. And this is also perhaps related to something that @tino097 is working on currently.

[2017-06-20 13:14] amercader commented on #3608
@Vanuan With the default authorization configuration users need to belong to an organization and be made admins or editors from this organization to be able to edit datasets. This is essentially what you are describing (making someone and editor means you trust them).

More advanced authorization workflows where datasets need to be made public by administrators could be implemented in an extension

[2017-06-20 13:14] #3608 closed

[2017-06-20 13:18] Danidude commented on #3618
I did a workaround this problem by having the nginx server just redirect the missing paths to the ckan server.

When I did this I also found out that some more URLs do not have the /ckan path to their URL:
/base/images/ckan-logo-footer.png
/base/images/background-tile.png
/base/images/bg.png

Hope this is helpfull :)

[2017-06-20 16:21] TkTech commented on #3115
@NicolaiMogensen are you using the most recent version of CKAN? A few leaks were [relatively] recently fixed.

[2017-06-20 19:03] skasberger commented on #1296
+1 on @the42 and @mattfullerton !

[2017-06-21 07:44] mattfullerton commented on #3560
I am also suffering from this on a simple API-based external harvester - completely new dataset - no problem, adding resources to an existing dataset - no views

[2017-06-21 09:04] #3619 closed

[2017-06-21 09:09] #3528 closed

[2017-06-21 09:12] #3593 closed

[2017-06-21 10:39] amercader opened #3623 "CKAN 2.7 Checklist"
This is a rough checklist of what should happen to get 2.7 out. The detailed guidance is still at http://docs.ckan.org/en/latest/contributing/release-process.html.

## Main release

- [x] Branch out `dev-v2.7` and update version number
- [x] Extract translations, upload to Transifex and announce
- [x] Create `release-v2.4.8`, `release-v2.5.6` branches, update version numbers
- [x] Change version n

[2017-06-21 11:37] torfsen commented on #3623
How is decided which issues are going to be blockers for 2.7? A new minor release would be a good time to introduce the new background job system, but we'd need to fix #3606 before. It would be nice to have a rough time plan so that I can see whether I find time for doing that.

[2017-06-21 11:56] amercader commented on #3623
@torfsen It's hard to track everything going on so raising individual issues as you did is the best way. You are right that it would be really good to include this in 2.7.

I've added the Backport Pending label to #3606. In terms of timeline releases tend to take 3-4 weeks since branching (which happened last week) but always depending on resources. A patch like this which is well defined and easy

[2017-06-21 14:37] #2501 closed

[2017-06-21 15:06] tubulabi commented on #3085
Hiii, Everyone ..
Can anyone help me? As I am getting the same error after changing the password in sqlalchemy.url in production.ini or development.ini.

FATAL:  password authentication failed for user "ckan_default"

[2017-06-21 15:08] tubulabi opened #3625 "FATAL: password authentication failed for user "ckan_default""
### CKAN Version: http://docs.ckan.org/en/latest/maintaining/installing/install-from-source.html

#3085

### Please describe the actual behaviour

### What steps can be taken to reproduce the issue?

[2017-06-21 15:09] tubulabi commented on #3625
Hiii, Everyone ..
Can anyone help me? As I am getting the same error after changing the password in sqlalchemy.url in production.ini or development.ini.

[2017-06-21 16:53] torfsen commented on #3606
@amercader I've implemented our idea in #3627. Could you please check if this solves your issue?

[2017-06-21 18:22] klikstermkd commented on #3625
@tubulabi Did you create a database user called `ckan_default` ?

[2017-06-21 18:49] TkTech commented on #3625
Hi, thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the ckan-dev mailing list or the #ckan tag on SlackOverflow.

You can also try on the #ckan IRC channel on freenode, where other developers may be able to help you.

Thanks!

[2017-06-21 18:49] #3625 closed

[2017-06-22 10:25] klikstermkd commented on #3141
@amercader @torfsen This doesn't seem to be an issue anymore. I don't see mixed content in the log.

[2017-06-22 11:21] #2331 closed

[2017-06-22 11:43] klikstermkd commented on #2676
@ajb @joetsoi I just tested this and it works now.

[2017-06-22 11:48] torfsen commented on #3141
@klikstermkd You're right, the new website seems to serve all content over HTTPS without problems. Thanks for checking!

[2017-06-22 11:48] #3141 closed

[2017-06-22 15:18] NicolaiMogensen commented on #3115
Do you have an issue number or commit id? Doing an entire package update is not something i can do at this point @TkTech

[2017-06-23 10:02] amercader opened #3629 "Exception when providing a wrong sort param on group/org page"
Providing a sort param like `sort=title xx desc` or `sort=title xx` causes an exception due to an uncaught `ValidationError`

[2017-06-23 10:21] iewil commented on #3308
I noticed that the pull request in #3351 didn't change the permission form "update" to "manage_group" as discussed. @amercader @smotornyuk is this what both of you decided on? If it is, can you help to merge this in. Thanks.

[2017-06-23 11:03] mattfullerton opened #3632 "Resource titles cannot contain unicode when created via API"
### CKAN Version if known (or site URL)
~2.6

### Please describe the expected behaviour
Resource can be created with the API

### Please describe the actual behaviour
Here is the result when using 'name': "Revenues received by government agencies - Cote d'Ivoire"

[code]

Here is the result when using 'name': "Revenues received by government agencies - C\u00f4te d'Ivoire"

[code]

### What steps

[2017-06-23 11:03] mattfullerton commented on #3632
I am using ckanext-scheming as well in case that's relevant

[2017-06-23 11:22] davidread opened #3633 "Deprecate notify_after_commit"
Because it doesn't work.

notify_after_commit (from interface IDomainObjectModification) never gets called because session._object_cache is blank for this sort of SessionExtension event, so CKAN don't know what object has been committed.

I see there are no tests for it, and no-one (on Github) has used it.

[2017-06-24 10:35] klikstermkd opened #3635 ""Testing coding standards" page in docs is missing code snippets"
### CKAN Version if known (or site URL)
Not relevant.

### Please describe the expected behavior
Code snippets should be displayed in the [Testing coding standards](http://docs.ckan.org/en/latest/contributing/testing.html) doc page.

### Please describe the actual behavior
Some code snippets are missing in the [Testing coding standards](http://docs.ckan.org/en/latest/contributing/testing.html) doc

[2017-06-24 13:16] klikstermkd opened #3637 "Broken link in "Upgrading CKAN’s dependencies" doc page"
In the [Upgrading CKAN’s dependencies](http://docs.ckan.org/en/latest/contributing/upgrading-dependencies.html) doc page, in the `Steps to upgrade` section, in the last 7th step there is a broken link for the `Making a pull request` page.

I'll fix this and provide a PR.

[2017-06-25 06:58] #3637 closed

[2017-06-25 11:06] klikstermkd opened #3639 "Followers count not updated immediately on UI"
### CKAN Version if known (or site URL)
Any.

### Please describe the expected behaviour
When you follow/unfollow something (org, group etc.), the followers count should immediately be updated in the UI.

### Please describe the actual behaviour
When you follow/unfollow something (org, group etc.), the followers count isn't immediately updated in the UI, instead a refresh is needed to see the chan

[2017-06-25 21:34] dythya commented on #3560
CKAN fetch process does not trigger any calls to datapreview for the second and
subsequent harvests. The datapreview is where both the recline CSV and GeoJson
views are created in the initial harvest, or a clear followed by a harvest.

The original fix that I tried causes the resource_update to call
resource_create_default_resource_views like the resource_create. The recline
CSV view is now create

[2017-06-26 08:13] brylie commented on #3592
I am still having trouble setting up a development environment. I will open a separate issue.

[2017-06-26 08:18] brylie opened #3641 "No such file or directory: '/usr/lib/ckan/default/src/ckan/requirement-setuptools.txt' during installation from source"
### CKAN Version if known (or site URL)
Latest (setting up development environment)

### Please describe the expected behaviour
When following the CKAN [installation from source](http://docs.ckan.org/en/latest/maintaining/installing/install-from-source.html) instructions, I should be able to complete the development setup on Ubuntu 16.04. This implies that all requisite steps should be fully docum

[2017-06-26 09:05] torfsen commented on #3641
Which CKAN version are you installing? The docs you're quoting are for the current development version, which [does include the `requirement-setuptools.txt` file](https://github.com/ckan/ckan/blob/master/requirement-setuptools.txt).

If you're installing a specific release version then make sure that you use that version's documentation. For example [the instructions for installing CKAN 2.6.2 from

[2017-06-26 09:47] brylie commented on #3641
Thanks @torfsen.

Regarding the Python environment error:

[code]

Should I open another support request? I think it may be related to using Anaconda for managing my Python packages/version.

[2017-06-26 10:29] torfsen commented on #3641
@brylie Yes, that would be a separate issue. Also note that traditional support requests should go to [StackOverflow using the `ckan` tag](https://stackoverflow.com/questions/tagged/ckan). GitHub issues, on the other hand, are intended for bug reports.

[2017-06-26 11:33] smotornyuk commented on #3632
I was unable to reproduce error using either ` C\u00f4te d'Ivoire`, `russian symbols or kanji at both 2.6 and 2.7 versions(i just checked - http://li1665-139.members.linode.com/api/action/status_show - looks like this instance uses v2.7.
And the fact, that validation error complains on missing url is quite suspicious . @mattfullerton couldn't you please provide me with request body, you sent to se

[2017-06-26 12:33] mattfullerton commented on #3632
Now that you pointed out that the validation error is a missing URL, I rather suspect something is going wrong with the file upload with that name involved and then it wants to have a URL and then URL isn't there; so the bug is somewhere else and not directly with CKAN, I will take another look.

[2017-06-26 15:40] fanjinfei commented on #3618
@Danidude Can you try https://github.com/ckan/ckan/pull/3628 ?

[2017-06-26 16:20] mattfullerton commented on #3632
@smotornyuk Looks like its the files['upload'] parameter of requests.post in my python script that can't cope with the funny letters. I was using the same variable name for both. Sorry for the bother.

[2017-06-26 16:20] #3632 closed

[2017-06-27 10:20] amercader opened #3644 "Activity test relies on datetime.now()"
`ckan/ckan/tests/logic/action/test_update.py` uses `datetime.now()` to check the timestamp but it should use `.utcnow()`

[2017-06-27 12:03] #3644 closed

[2017-06-27 12:07] #3635 closed

[2017-06-27 12:48] #3569 closed

[2017-06-27 13:55] #3641 closed

[2017-06-27 13:55] #3308 closed

[2017-06-27 19:27] #3594 closed

[2017-06-27 19:35] wardi commented on #2261
lots of work done on private and draft dataset visibility recently including #3191 and #3192 If these don't cover your use case, please consider submitting a new PR

[2017-06-27 19:35] #2261 closed

[2017-06-27 19:36] #2516 closed

[2017-06-27 19:38] wardi commented on #2525
closing in favour of work being done on #3556

[2017-06-27 19:38] #2525 closed

[2017-06-27 19:41] wardi commented on #2527
It's now possible to override the bulk actions so you can trigger your publishing events, see #3494

[2017-06-27 19:41] #2527 closed

[2017-06-27 19:46] wardi commented on #2649
fixed by #3480

[2017-06-27 19:46] #2649 closed

[2017-06-27 19:47] wardi commented on #2651
fixed by #3454

[2017-06-27 19:47] #2651 closed

[2017-06-27 19:49] wardi commented on #2732
fixed by #3595

[2017-06-27 19:49] #2732 closed

[2017-06-27 19:49] wardi commented on #2767
fixed by #3054

[2017-06-27 19:49] #2767 closed

[2017-06-27 19:51] wardi commented on #2773
soon to be merged BS3 migration #3547 is taking a simpler approach, closing this issue.

[2017-06-27 19:51] #2773 closed

[2017-06-27 19:57] wardi commented on #2781
Closing because this is a feature request that isn't currently being worked on.

[2017-06-27 19:57] #2781 closed

[2017-06-27 20:09] wardi commented on #2967
I've updated the default to point to the last released version. We'll have to do this on an ongoing basis

[2017-06-27 20:09] #2967 closed

[2017-06-27 20:27] wardi commented on #3450
Closing as fixed by separate count query, include_count option and new datastore_search records_format option

[2017-06-27 20:27] #3450 closed

[2017-06-27 20:31] wardi commented on #3457
fixed by #3515

[2017-06-27 20:31] #3457 closed

[2017-06-27 20:33] wardi commented on #3499
@fanjinfei would you look at this when you have some time?

[2017-06-27 20:36] wardi commented on #3245
mitigated by #3331 and #3481

[2017-06-27 20:36] #3245 closed

[2017-06-27 20:48] wardi commented on #3220
fixed by #3224

[2017-06-27 20:48] #3220 closed

[2017-06-28 11:04] klikstermkd opened #3647 "In API docs "package_create" lists "owner_org" as optional"
In API docs, the action `package_create` lists the parameter `owner_org` as optional which is not correct.

The parameter `owner_org` can be optional only if `ckan.auth.create_unowned_dataset` is set to `true` in the config.

I suggest to remove the "(optional)" text and add to the description of the parameter that it can be optional only if `ckan.auth.create_unowned_dataset` is set to `true` in t

[2017-06-28 12:38] fanjinfei commented on #3499
for a none root such as `/data/{{LANG}}`, `h.url_for('/data/user/logoin')` is wrong (`/data/data/user/login`).  `h.url_for(controller='user', action='login')` is correct.
h.redirect_to() should have the same problem.

[2017-06-28 12:54] Zharktas commented on #3499
Yes, this issue can circumvented by modifying the extensions to redirect to controller actions instead of urls.

For ckanext-harvest https://github.com/ckan/ckanext-harvest/blob/master/ckanext/harvest/controllers/view.py#L77 and for ckanext-report https://github.com/datagovuk/ckanext-report/blob/master/ckanext/report/controllers.py#L46

But since the helper functions accept urls as parameters and

[2017-06-28 13:52] fanjinfei commented on #3499
The other way is to make the doc clear. All the url arguments in h.()...  should not include the root path.

[2017-06-28 14:28] wardi commented on #3499
When passing urls to redirect_to I agree with @Zharktas, we should never add the root path. That way existing code that does `redirect_to(url_for(...))` will work, `redirect_to('http://some.other.place/..')` will work and `redirect_to('/user/login')` won't work because it should be written with the controller and action parameters as @fanjinfei suggests. We should also document this on redirect_to

[2017-06-28 15:36] #2228 closed

[2017-06-28 19:18] wardi opened #3648 "revisit solr tracking summary values"
@alexandru-m-g raised part of the change in #2207 as unnecessary in a recent mailing list post.

For the past few CKAN versions we no longer have the tracking summary details available from package_search, they're only being stored in solr and on request available from package_show. One use of the tracking summary in package_search is marking "hot" datasets in the results page.

Is anyone opposed

[2017-06-29 01:51] florianm opened #3649 "Docker installation: how to customise and add extensions?"
### CKAN Version if known (or site URL)
My [fork](https://github.com/parksandwildlife/ckan/tree/3649-docker-upgrade) of master (2.8.0a) built with docker-compose, incorporates #3651
[code]
### Please describe the expected behaviour
* A working, up to date docker-compose with custom variables, persistence, together with instructions targetted at non-expert software maintainers like me
* Some explic

[2017-06-29 13:15] #3629 closed

[2017-06-29 14:11] alexandru-m-g commented on #3648
@wardi, indeed that's exactly how we're using the tracking summary on the results page ( to flag them as "hot").
P.S. I think you meant that "they're only stored in the database" (not solr)
Thanks for opening this discussion.

[2017-06-29 15:00] wardi commented on #3648
They are stored in solr for ordering by popularity: https://github.com/ckan/ckan/blob/master/ckan/lib/search/index.py#L192

[2017-06-29 15:04] wardi commented on #3649
@mattfullerton what do you think about the state of docker installation. Is it polished enough to include in the install docs?

[2017-06-29 18:33] #3647 closed

[2017-06-29 22:31] alexandru-m-g commented on #3648
Right, didn't realize those 2 fields existed.
I see now they are in solr with stored=false, indexed=true.

[2017-06-30 04:45] dythya commented on #3560
I modified the package update to create the default views in the same way as the package create. This seems to work.
I think it is a valid fix as the reharvest deleted them.

[2017-06-30 09:12] mattfullerton commented on #3649
Yes, I think it is. And we should recommend and possibly only document (at this stage) install with docker-compose as people are almost always going to need the other services (solr/redis/postgres).

Documenting other situations (manual creation of containers and setting links, or having an external Postgres for example) I would hold off on but should also be documented.

[2017-06-30 09:27] florianm commented on #3649
@mattfullerton I've updated my working steps in the original issue above. Happy to contribute to docs if you could help me figure out the remaining steps.

[2017-06-30 09:31] davidheuckrodt opened #3653 "Problem with Solr an proxy"
### CKAN Version if known (or site URL)
2.6

### Please describe the expected behaviour
In the productive environment I have to go over a Proxy. I wrote the proxy details in the /etc/environment config. Later the harvester (ckanext-harvest and ckanext-spatial) should also go over the proxy settings.

### Please describe the actual behaviour
Always I'am using the `export http_proxy='...'` over the

[2017-06-30 14:51] klikstermkd opened #3654 "Search icon on many pages is not properly vertically aligned"
### CKAN Version if known (or site URL)
2.8.0a

### Please describe the expected behaviour
On many pages that have a search input, the search icon inside the "Search data" input field should be properly vertically aligned.

### Please describe the actual behaviour
On many pages that have a search input, the search icon inside the "Search data" input field isn't properly vertically aligned.

Exampl

[2017-06-30 15:20] #3639 closed

[2017-06-30 17:55] klikstermkd opened #3656 "Default logo image not properly saved"
### CKAN Version if known (or site URL)
2.7 and 2.8.0a

By default, CKAN uses a default logo image. This can be changed through the UI in the sysadmin config page or in configuration settings.

If you go to the sysadmin config page, and if you don't change the logo image and just click Update, the logo image will break. The reason is because its been given wrong path to the image.

### What steps

[2017-06-30 18:49] wardi commented on #3556
We currently generate the `_full_text` tsvector column in Python code. That makes quickly ingesting CSV data much slower because it means looping over every column of every row before passing them to the database.

My current plan is to switch to a trigger for generating the `_full_text` column values, this lets us COPY straight into the table from raw CSV text or JSON records. For the interface I

[2017-07-01 10:09] klikstermkd opened #3658 "Register user form missing required field indicators"
### CKAN Version if known (or site URL)
All versions.

### Please describe the expected behaviour
Required fields in the form for registering a new user such as username, email, password and confirm password, should have an indicator for a required field.

### Please describe the actual behaviour
Required fields in the form for registering a new user such as username, email, password and confirm p

[2017-07-01 10:35] klikstermkd opened #3660 "Resource URL is not validated on create/update"
### CKAN Version if known (or site URL)
All versions.

### Please describe the expected behaviour
On resource create/update, if a URL is provided it should be validated.

### Please describe the actual behaviour
On resource create/update, if a URL is provided it's not validated.

### What steps can be taken to reproduce the issue?
Either through the API or the web form, try to create or update a r

[2017-07-01 14:09] klikstermkd opened #3661 "Issue upon creating new organization/group through UI form"
### CKAN Version if known (or site URL)
All versions.

### Explanation
When creating a new organization or group through the UI form, the org/group can be created by just typing an image URL.

### What steps can be taken to reproduce the issue?
Go to the "Add Organization" or "Add Group" page, and type something in the image URL field and click on "Create Organization" / "Create Group" button. It'

[2017-07-01 14:52] klikstermkd opened #3663 "Info block text for Format field not properly aligned in resource form page"
### CKAN Version if known (or site URL)
All versions.

### Please describe the expected behaviour
Info block text for Format field in resource form page should be properly aligned with the field.

### Please describe the actual behaviour
Info block text for Format field in resource form page isn't properly properly aligned with the field.

![screenshot from 2017-07-01 16-50-03](https://user-images

[2017-07-02 15:57] antonkulaga commented on #3309
Any updates on this? Using outdated python2 creates a HUGE amount of problems. Many libraries (at least those that we use in the lab) are already python3 only that makes writing CKAN plugins much more coplicated

[2017-07-03 19:09] Chris-noaa opened #3665 "jQuery version"
Are there any plans to upgrade jQuery? Version 1.x is end of life and there are known vulnerabilities.

[2017-07-04 11:57] JGulic opened #3667 "radio helper missing"
### CKAN Version if known (or site URL)
CKAN 2.6.2

### Please describe the expected behaviour
The radio button helper is removed from helpers.py and it's still used in revisions_table.html

### Please describe the actual behaviour
As I am informed history revision will be removed, but we should be taken into consideration that some extensions may still use it. The radio button helper should be di

[2017-07-04 12:03] #3658 closed

[2017-07-04 12:06] #3663 closed

[2017-07-04 12:07] #3654 closed

[2017-07-04 12:41] amercader commented on #3653
Hi @davidheuckrodt , thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the [ckan-dev mailing list](https://lists.okfn.org/mailman/listinfo/ckan-dev) or the [#ckan tag](http://stackoverflow.com/questions/tagged/ckan) on SlackOverflow.

You can also try on the [#ckan IRC channel](http://webchat.freenode.net/?c

[2017-07-04 12:42] wardi commented on #3653
you might be missing a NO_PROXY environment variable setting for your solr host

[2017-07-04 13:04] klikstermkd commented on #3665
Some jQuery plugins in CKAN and probably many third-party extensions rely on the current jQuery version included in CKAN, which is 1.10.2, so it must be thoroughly tested if there are some breaking changes introduced by a newer version of jQuery.

[2017-07-04 13:53] mattfullerton opened #3669 "Datatables view can't be used as a default view"
Result in CKAN log:

[code]

The key bit is this:
[code]

Even though `show_fields` is defined with a default of `[]` in the view config schema (https://github.com/ckan/ckan/blob/master/ckanext/datatablesview/plugin.py#L49)

Which raises two questions:

1. How to (in plugin.py) force a default of [] for show_fields
2. What should the default behaviour actually be? Is there a facility to intervene

[2017-07-04 14:01] torfsen commented on #3665
@klikstermkd: True, but on the other hand a new minor release is a good time to make such a change.

Perhaps we could combine this with the Bootstrap3 migration (#3547), since that will require many people to touch their templates, too. In addition, we should also check whether our other JS dependencies need to be updated.

It seems that there are [quite a lot of breaking changes in jQuery 3.0](ht

[2017-07-04 14:04] klikstermkd commented on #3665
@torfsen Yes, I think we can safely upgrade to 2.x with a good testing.

[2017-07-04 14:46] #3653 closed

[2017-07-04 15:22] aborruso opened #3670 "Disable preview for some reosource"
Hi,
I have CKAN ckan 2.6.2 and I would like to disable preview for a GeoJSON resource. Is there a way to disable it only for a specific resource?

Thank you

[2017-07-04 15:30] wardi commented on #3669
https://github.com/ckan/ckan/blob/master/ckanext/datatablesview/plugin.py#L49 means "pass through values unchanged", which is the wrong thing pretty much always because of the Missing objects that get used in place of missing keys.

We could add an `ignore_missing` validator then have the view treat no value the same as "show all fields"

[2017-07-05 07:33] torfsen commented on #2649
Reminder for myself: Need to check whether the fix in #3480 also solves the problem I described above regarding the form's POST data not containing the extras.

[2017-07-05 07:41] davidheuckrodt commented on #3653
Hey. Thanks for the support.

I got the problem solved by adding the NO_PROXY variable for the solr-port.

But the harvester does not work either... Her the information from the log... i will also open an thread in the harvester-repository...

`2017-07-05 09:21:29,158 DEBUG [ckanext.harvest.queue] Received harvest job id: fb70cddf-4d37-4690-9b66-d60363aeb3e4`

`2017-07-05 09:21:29,163 DEBUG [ckane

[2017-07-05 10:17] KrzysztofMadejski opened #3671 "Some comments on features while customizing CKAN"
I've forgot to send comments I had while developing ckan for Polish gov. All what's below relates to CKAN 2.3, but maybe some of these "issues" hasn't been yet resolved.

I've put comments in the code: https://github.com/DanePubliczneGovPl/ckanext-danepubliczne/search?utf8=%E2%9C%93&q=TODO+ckan-dev&type=

Briefly these are:
- [ ] ckan.new_authz should be overridable by IAuthFunctions as well
- [ ]

[2017-07-05 10:42] #3661 closed

[2017-07-05 10:43] #3606 closed

[2017-07-05 12:09] klikstermkd commented on #3665
jQuery 2.x removes support for IE 6/7/8, which means we have to decide is that the right choice to go with.

cc @torfsen @amercader @wardi

[2017-07-05 12:48] klikstermkd commented on #3665
I just tested the latest stable 2.x version in #3547, which is 2.2.4, and everything seems to work since the API is backwards-compatible.

All frontend tests pass as well.

Also, the minified version of 2.2.4 is 85KB in size, whereas the current 1.10.2 that is used now it's 145KB. This means that the script will download and parse faster resulting in a greater UX.

[2017-07-05 15:18] torfsen commented on #3665
The documentation [says](http://docs.ckan.org/en/ckan-2.6.2/contributing/test.html?highlight=browser#front-end-testing)

According to that site, in June 2017 there were

* no visits using IE 6
* 0.24% of visits using IE 7
* 1.50% of visits using IE 8

IE 9 and 10 both have less than 0.5%, while IE 11 has over 20%.

Even though IE 8 still has slightly more than 1% I think it would be OK to drop sup

[2017-07-05 17:20] tino097 commented on #3623
@amercader release 2.5.6 is built as 2.5.5b again

[2017-07-05 23:40] Aaron-M opened #3672 "Broken links in documentation"
### CKAN Version if known (or site URL)
Any - latest documentation

### Please describe the expected behaviour
Links within documentation should work

### Please describe the actual behaviour
The links at http://docs.ckan.org/en/latest/maintaining/linked-data-and-rdf.html
to
http://demo.ckan.org/dataset/newcastle-city-council-payments-over-500.xml
http://demo.ckan.org/dataset/newcastle-city-counci

[2017-07-06 00:06] Aaron-M commented on #3670
Would creating the resource (during which it automatically creates the preview), and then editing the resource and deleting the auto created view work for you?

[2017-07-06 09:27] florianm commented on #3649
@mattfullerton @wardi I'm experimenting in my fork at https://github.com/parksandwildlife/ckan/tree/3649-docker (this includes PR #3651) but as I'm documenting above, docker-compose is a world of pain in a desert of confusing docs. Have you got any notes that might help me?

[2017-07-06 13:38] SergK opened #3673 "Solr version should be explicitly defined as ckan requirement"
### CKAN Version if known (or site URL)
ckan (2.8.0a0)

### Please describe the expected behavior
nosetest should pass with **solr version 6.2** or at least it should be explicitly mentioned that tests use solr version **solr-4.3.1** and the same version should be used for production use. We can also upgrade to solr-6.2, then tests should be updated as well.

### Please describe the actual behavio

[2017-07-06 14:06] #3660 closed

[2017-07-06 15:04] amercader commented on #3673
@SergK You are right, we should document the supported Solr versions.

@TkTech you worked on this recently, any ideas on what we should recommend?

Are there any extra steps that need to be added to these instructions to support Solr 5 or 6?

http://docs.ckan.org/en/latest/maintaining/installing/install-from-package.html#install-and-configure-solr

As for this particular issue it looks like the be

[2017-07-06 15:06] amercader commented on #3670
@aborruso there is no way to prevent views from being prevented on particular resources. You can delete it manually as @Aaron-M suggests but if that doesn't work you can extend the relevant View plugin and override the [`can_view()`](https://github.com/ckan/ckanext-geoview/blob/master/ckanext/geoview/plugin.py#L219) method to add any logic you need.

Hope this helps.

[2017-07-06 15:06] #3670 closed

[2017-07-06 15:12] amercader commented on #3671
@KrzysztofMadejski thanks for your feedback

2.3 is no longer supported, so we encourage you to upgrade to the latest version of CKAN

Perhaps some of the stuff handled there can be moved up to the auth functions. Anything in particular?

This was added on previous versions

Not sure I understand this one

There has been a lot of of work on resource previews in recent versions. I suggest you check

[2017-07-06 15:12] #3671 closed

[2017-07-06 15:13] amercader commented on #3672
Not sure where this dataset went, but yes, we should find a more permanent place for the links.

[2017-07-06 22:32] pduchesne commented on #2876
Just in case this gets reopened in the future, here's some extra info, as I've run into this also while migrating from 2.2 to 2.6 :

the bug is similar to #2029, but for system_info table, rather than user.
The fix for #2029 does not apply though, because this variant of the bug happens before the fix, when ckan/lib/cli.py calls `load_environment`. This happens since 048632d73588ed462a1133e7966810

[2017-07-07 01:29] TkTech commented on #3673
We can list usable versions but they release so frequently and with such poor quality releases there's little point in supporting anything official. Currently CKAN can work with minor changes from v3 to v6 (see #3510)

[2017-07-07 11:18] #3667 closed

[2017-07-07 13:33] SergK opened #3675 "[nosetests][docs] nosetests doesn't work without segmentation"
### CKAN Version if known (or site URL)
ckan (2.8.0a0)

### Please describe the expected behaviour
run nosetest without error

[code]

### Please describe the actual behaviour
Test failed

[code]

### What steps can be taken to reproduce the issue?

run nosetest without `--segments`

**Note** No such issue in case of segmentation usage `--segments` or explicitly running `ckan.tests.test_common`

[2017-07-07 14:07] Danidude commented on #3618
Sorry for the late answer, I just tested the changes, and it works as I would expect now :)
Thanks for the quick fix for this problem.

Now I have an other question, not sure where to ask this and it is not related to this issue. :)

I was looking at https://ckan.org/portfolio/search-and-discovery/, and it says CKAN supports Fuzzy-matching, is this possible in the API search (package_search), if s

[2017-07-10 06:19] dassolkim opened #3676 "OSError: [Errno 13] Permission denied: '/var/lib/ckan/storage/uploads'"
I installed ckan latest version from source and using tomcat7 instead of jetty.
but, When I tried to add a new organization, I got this error. There was an internal server error on the web, and this error occurred when I looked at the logs.

_
Error - <type 'exceptions.OSError'>: [Errno 13] Permission denied: '/var/lib/ckan/storage/uploads'
URL: http://114.70.235.44:5000/organization/new
File '/us

[2017-07-10 09:00] smotornyuk commented on #3676
@dassolkim , are you running CKAN using apache?  If not(i.e. you are using `paster serve ...`, then you need to change owner of `/var/lib/ckan` to you current user

[2017-07-10 10:11] dassolkim commented on #3676
@smotornyuk thank you for your advice!!!!

[2017-07-10 12:04] wildcatzita commented on #3542
@amercader made [PR](https://github.com/ckan/ckan/pull/3677)

[2017-07-10 12:09] amercader opened #3678 "Minor issues with new Bootstrap 3 default theme"
* Text in homepage search box does not show up

![aaa](https://user-images.githubusercontent.com/200230/28017286-7a03a136-6570-11e7-85ea-5ca514aa5e61.png)

* Missing right border on left hand column headings

![bb](https://user-images.githubusercontent.com/200230/28017296-837876d8-6570-11e7-98ab-196fc45b6df7.png)

[2017-07-10 13:40] ggcatu opened #3679 "Overriding datastore authorization system"
Hello guys,

I've been looking through and found I can override ckan authorization system with a plugin that implements IAuthFunctions and just return the new fuction that I want.

But, as Datastore is already a plugin, how should I proceed in order to modify it s behaviour ?
Of course, I don't want to directly modify the Datastore functions but instead write a plugin.

In the examples, you show h

[2017-07-11 09:08] NicolaiMogensen commented on #2949
Are there any updates on this? I'm using the "after_create" interface for both resources and dataset in my extension for validation checking. The only way to avoid weirdness is to, as @torfsen says, type check the dict as it comes in. (I don't even know how to do this, do I have one "after_create" method that potentially is called by both interfaces?)

This creates unnecessary overhead and is quit

[2017-07-11 09:23] NicolaiMogensen commented on #2949
I guess I will just check for the "size" parameter as resources will have a size, and packages will not.

[2017-07-11 09:50] jqnatividad opened #3680 "Retire Google+ social network link"
Google+, though still active, is for all intents and purposes, dead.

Why not replace it with a mailto link or even add LinkedIn Social Sharing? (https://developer.linkedin.com/docs/share-on-linkedin)

[2017-07-11 10:05] torfsen commented on #2949
@NicolaiMogensen I don't think anyone is currently working on this, so for the time being the workaround you describe is the best way to go.

[2017-07-11 10:13] NicolaiMogensen commented on #2949
If anyone else stumbles upon this, this is what I did
[code]
I found that for `after_update` both the package and the resource handler gets called sequentially.

[2017-07-11 11:57] #3676 closed

[2017-07-11 12:05] #3678 closed

[2017-07-11 12:29] amercader commented on #3680
+1 to remove Google+, not a big fan of LinkedIn though :)

In any case feel free to send a PR with the changes on the default theme

And just for the record, it is trivial to choose the sharing options by customizing the `snippets/social.html` snippet.

[2017-07-11 12:31] amercader commented on #3679
This sounds totally reasonable.

@wardi @fanjinfei  you recently pushed code to allow chaining of action functions from extensions. Could the same principle be applied to auth functions?

[2017-07-12 06:29] dassolkim opened #3683 "suddenly occurs this error 404 Not Found; The resource could not be found"
I was running ckan on the server.
when I was trying to add a new dataset, suddenly an error occurred.
It should have worked well until a while ago.
Help me resolve

[code]

[2017-07-12 10:25] amercader opened #3684 "Restrict access to forms"
Resource edit and add member page can be accessed knowing the URL. No action can be saved but it's best to allow access at all.

[2017-07-12 11:42] amercader commented on #3588
Fixed on #3589

[2017-07-12 11:42] #3588 closed

[2017-07-12 12:44] #3684 closed

[2017-07-12 17:24] willc commented on #3665
Just to chime in, jQuery 1.x and 2.x are both end of life, with known security vulnerabilities that they do not plan on back-porting fixes for. Any new security issues that may be found will likely not get fixed either.

https://github.com/jquery/jquery.com/issues/162

[2017-07-13 01:55] MaryBethBaker commented on #3556
Quick question: Does this mean the single datastore error message interface + functionality has been solved, just not implemented into the master?

Thanks,
Mary Beth

[2017-07-13 02:15] wardi commented on #3556
@MaryBethBaker not yet, this ticket describes the interface of one of the features I'm working on. My implementation's not pushed because it's not working fully yet.

Strictly speaking I could separate out the multiple-datastore-errors feature from the upsert performance one, but both require deep changes to the queries being generated so I opted to work on them together.

[2017-07-13 07:32] florianm commented on #3649
Update: I'm drafting docs for docker-compose [here](https://github.com/parksandwildlife/ckan/blob/3649-docker-upgrade/doc/maintaining/installing/install-from-docker-compose.rst). Any feedback highly appreciated.

[2017-07-13 10:44] #3683 closed

[2017-07-13 13:49] #3633 closed

[2017-07-13 14:04] wardi commented on #3679
@amercader absolutely. That's something we simply overlooked.

[2017-07-13 14:27] amercader commented on #3618
Fixed in #3628

@Danidude Try the [ckan-dev mailing list](https://lists.okfn.org/mailman/listinfo/ckan-dev) or the [#ckan tag](http://stackoverflow.com/questions/tagged/ckan) on SlackOverflow.

You can also try on the [#ckan IRC channel](http://webchat.freenode.net/?channels=ckan) on freenode, where other developers may be able to help you.

Thanks!

[2017-07-13 14:27] #3618 closed

[2017-07-13 14:36] davidread opened #3687 "redis error during install"
I here that redis is a hard requirement for the next version of CKAN, but there's no sign of it in the install docs

### CKAN Version if known (or site URL)

master.

### Please describe the expected behaviour

No error messages during source install of ckan.

### Please describe the actual behaviour
[code]

### What steps can be taken to reproduce the issue?

Follow: http://docs.ckan.org/en/lates

[2017-07-13 14:45] amercader opened #3688 "Frontent build command does not work on master"
Running `paster front-end-build` on master returns:

[code]

Looks like the culprit is this [line](https://github.com/ckan/ckan/pull/3547/files#diff-530e98d83857b6bd57795518ad4c2dbdR2027), part of the Bootstrap 3 PR.

@klikstermkd can you have a look?

[2017-07-13 14:45] amercader commented on #3688
This works on 2.7 so there's no rush

[2017-07-13 14:47] klikstermkd commented on #3688
@amercader Yes I will look into it.

[2017-07-13 16:03] davidread opened #3690 "Scrollbar on "Create organization" button"
### CKAN Version if known (or site URL)

master

### Please describe the actual behaviour

On the 'Create an Organization' page http://localhost:5000/organization/new
the 'Create Organization" (submit) button has a little scrollbar along its right edge for some reason. It's harmless, but no doubt should be removed.

![create](https://user-images.githubusercontent.com/307612/28207670-7c216178-6882-

[2017-07-13 16:10] davidread opened #3691 "Clipped buttons on resource/add page"
### CKAN Version if known (or site URL)

master

### Please describe the actual behaviour

On the resource add page e.g. http://localhost:5000/dataset/new_resource/simple
the buttons at the bottom ("Previous", "Save & Add Another" and "Finish") have the bottom few pixels missing, so that the two buttons which are just outlines only have 3 sides.

![buttons](https://user-images.githubusercontent.co

[2017-07-13 17:44] MaryBethBaker commented on #3556
Hi Ian,

I was supposed to post someone to help fix this through my team's new micro-procurement website, but when I went to scope out the task, I found your issue but our timelines don't sync. Is it possible for a second dev to split this issue into two and fix the part (multiple error messages for datastore) so that I can do a data call out the end of this month? Given that this would be a contr

[2017-07-13 17:55] wardi commented on #3556
Upsert is currently implemented with a separate query for each row, so if all you need is one error *per row* that's a pretty small change to split off (if there are multiple errors in a single row you'll just get the first one for that row).

[2017-07-13 18:44] MaryBethBaker commented on #3556
We need all errors per row per sheet. Our usecase is to make it as easy for a departmental user to identify errors and fix them. This work might require communications back to colleagues and if there are multiple errors then sharing all per row would save time/email.

If listing all error per sheet is possible, is it easy to hive off this task for another dev?

[2017-07-13 18:51] wardi commented on #3556
What's the source of the data? If most departments manually enter values or copy and paste values into excel, we can add validation to the template that highlights errors directly in the sheet before they try to upload it.

That's a small amount of duplicated validation logic, but would probably be the easiest for end users. It also doesn't require deep API changes, just a few extra formulas in th

[2017-07-13 18:53] klikstermkd commented on #3691
Can you attach a screenshot of what is actually wrong? I went to that page and the buttons seem ok to me.

[2017-07-13 18:56] klikstermkd commented on #3690
Can you attach a screenshot? I am using Ubuntu 16.04 / Chrome 59 as well and it looks ok to me.

[2017-07-13 19:40] MaryBethBaker commented on #3556
Awesome idea. Is it possible to download/upload registry templates with validation logic built in? If so I will propose this as a solution to my team.

I'm working on the consultations data, it's collected internally and not the product of an automated system such as a log file or a database dump.

[2017-07-13 19:43] wardi commented on #3556
yes, in fact some in-template validation is already done this way. But, we're getting off-topic on this issue. maybe open a new issue on https://github.com/open-data/ckanext-canada where the consultations validation is implemented.

[2017-07-13 20:04] MaryBethBaker commented on #3556
I've added the issue to my colleagues at TBS, they've submitted it somewhere. I don't want to jump the queue.

[2017-07-14 09:53] davidread commented on #3690
I've added in a pic now. I have now learnt that it only occurs on 90% zoom. This may be too obscure to worry about.

[2017-07-14 09:56] klikstermkd commented on #3690
Are you sure you added a pic? I can't see it.

Even on 90% it's displayed properly on my machine.

[2017-07-14 09:57] davidread commented on #3690
sorry, it's there now

[2017-07-14 09:59] davidread commented on #3691
pic added. browser width must be over 1000px for it to occur.

[2017-07-14 10:09] klikstermkd commented on #3691
For me it shows the clipping on 110%.

[2017-07-14 10:12] davidread commented on #3691
Yeah, one of those marginal things. If you or anyone else can look for a way to add a bit of tolerance to avoid this, then that'd be great.

[2017-07-14 10:14] klikstermkd commented on #3690
Actually it shows up on 110%.

[2017-07-14 11:05] kmbn opened #3693 "Autocomplete only suggests tags once user stops typing"
### CKAN Version if known (or site URL)
2.6.2

### Please describe the expected behaviour
Autocomplete suggests tags as the user types, e.g., if the tag `technology` already exists, and the user starts to type `technology`, autocomplete will suggest `technology` before the user finishes typing the word. Users can thus discover what tags exist and select the pre-existing or canonical verison and av

[2017-07-14 13:46] davidread opened #3694 "datastore set-up error - logging getting in the way"
### CKAN Version if known (or site URL)
master

### Please describe the actual behaviour
Setting up the datastore permissions hits an error (which can be ignored, but still)
[code]
This is because of some stray logging appearing:
[code]

[2017-07-14 13:51] davidread commented on #3694
Looks like it was added in this commit: https://github.com/ckan/ckan/commit/d03a88211990fe324ee73ebe3cacaf39e9ccda0f#diff-075debb789cb12033188527d800a4db5R239
I guess we can just lose the log statement.

[2017-07-14 14:11] #3694 closed

[2017-07-15 13:37] klikstermkd commented on #3693
I think this is intentionally implemented like this, i.e. it debounces the typing so that requests are not sent on every keystroke, because some users type fast and it will send many requests at once to the server (one request per letter).

In my opinion it should stay like this.

[2017-07-16 13:50] Vanuan commented on #3649
@florianm
Here's my feedback:

1. I would put installing docker, virtualenv and docker-compose out of this doc. An official way of installation is this:

[code]
so virtualenv isn't needed.
So section 2 should be completely removed.

2. In the production environment sensitive settings should be extracted to docker secrets. So I would create a wrapper script which will put these settings into corres

[2017-07-17 05:10] florianm commented on #3649
@Vanuan thanks for the detailed feedback!

I've pushed an update to the docs integrating your feedback.
Notably I've made some opinionated choices (which make perfect sense on my end), but mileage may vary -- I've added some notes to inform readers of rationale and other options.

re named volumes: As I'm already mounting /var/lib/docker to a backed up network drive, are there any other advantages

[2017-07-17 06:49] mattfullerton commented on #3649
@florianm Thanks for forging ahead with this, if there's anything you need from me, just ask (doesn't look like it though!)

[2017-07-17 07:42] kmbn commented on #3693
The current implementation only sends a request if the user stops typing, though. Unless the user pauses for a second between keystrokes, they'll never see any suggestions at all. I think it could be less aggressive when it comes to limiting requests.

I'm assuming that autocomplete is enabled for the tags field to help users avoid creating misspelled tags or alternate versions of the same tag. Bu

[2017-07-17 07:44] florianm commented on #3649
@mattfullerton thanks! There are a few points I still need to get my head around - pointers welcome:

1. docker swarm vs docker compose
I'm trying to get my head around using CKAN in swarm mode. Currently I'm not discussing that at all in the PR for the docs.
My own setup is having a local machine to develop, and two EC2 VMs for uat/prod. The VMs sit behind my Department's firewall/proxy/auth. I h

[2017-07-17 08:48] klikstermkd commented on #3693
It's clear to me what you mean now. If a user types fast `tech` and hits the Return key the suggestions will never show up.

The autocomplete module receives an [`interval`](https://github.com/ckan/ckan/blob/master/ckan/public/base/javascript/modules/autocomplete.js#L27) option which is used to set the interval between requests. The default is 1000ms, which is why is so slow to show up suggestions

[2017-07-17 12:34] Vanuan commented on #3649
The rationale is the following:
When you have multiple servers (for high availability/fault tolerance), it is easier when all of them are homogeneous, i.e. you don't care which service is on which host. Since docker doesn't automatically migrate volumes between machines, you usually end up with some global filesystem which is reachable from all hosts in a cluster. AFAIK, "/var/lib/docker" can't be

[2017-07-17 13:53] florianm commented on #3649
@Vanuan thanks for the detailed explanations, that makes a lot of sense to me. Let me digest those and see what I can factor in.

[2017-07-17 21:16] wardi opened #3706 "translate urls"
We'd like to make it possible to translate all parts of CKAN urls: the route urls, the root_path, and even the site_url when switching languages.

e.g. when clicking the "Français" option on a page like `http://open.canada.ca/data/dataset` it should lead to `http://ouvert.canada.ca/donnees/donnees`. For the moment we've implemented a half-solution with redirects for the host name.

Kind of a hack,

[2017-07-17 21:22] dgmouris opened #3707 "Documentation has dead links in API Guide (latest documentation)"
This was seen on the latest version of the documentation.

Under API Guide and "Get a full JSON representation of a dataset, resource or other object" all links should be

Under the section mentioned above, 2 of the links display an error:
http://demo.ckan.org/api/3/action/package_show?id=adur_district_spending
http://demo.ckan.org/api/3/action/group_show?id=data-explorer

As I am new to the proje

[2017-07-17 21:48] Aaron-M commented on #3707
Similar to #3672

[2017-07-18 01:06] TkTech commented on #3706
<opinion> As much of this as possible should be left to extensions. I know the client wants it but I absolutely hate even having a french title in there. URIs should be unique and only one URI should ever point to the same data. </opinion>

[2017-07-18 01:10] TkTech commented on #3707
These are just examples of how the URL is formed, the demo site is frequently wiped. Maybe we should disable auto-hotlinking on them?

[2017-07-18 02:41] wardi commented on #3706
Yes, only for theme extensions that require it... Even more fun if this leads to things like trying to translate our facet query parameters in our search URLs (we'll have to say no at that point)

[2017-07-18 12:19] #3665 closed

[2017-07-18 12:20] #3680 closed

[2017-07-18 12:21] #3688 closed

[2017-07-18 12:23] #3690 closed

[2017-07-18 12:37] #3691 closed

[2017-07-18 12:40] wardi commented on #3687
@davidread sounds good, would you submit a PR?

[2017-07-18 12:52] wardi commented on #3706
@TkTech if we do it right (add redirects for improper urls) then we'll still have one only URL per resource since {{LANG}} is already part of the current URLs.

[2017-07-18 13:05] #3656 closed

[2017-07-18 13:19] amercader commented on #3707
I've recreated the examples datasets and the links now work again.

For reference, these datasets are created using the following script:

https://github.com/ckan/ckan-demo-data

[code]

This should be of course automated as part of the demo redeploy

[2017-07-18 13:19] #3707 closed

[2017-07-18 13:20] amercader commented on #3672
Fixed now, see https://github.com/ckan/ckan/issues/3707#issuecomment-316061042

[2017-07-18 13:20] #3672 closed

[2017-07-18 17:23] dgmouris commented on #3707
Thanks! @amercader

[2017-07-18 19:51] Rjones8901 opened #3708 "Harvesting to no organization (on purpose)"
### CKAN Version if known (or site URL)
2.6.2

### Please describe the expected behaviour
When selecting "No Organization" for the harvester source, then the source should still be harvested if the setting ckan.auth.create_dataset_if_not_in_organization = true

### Please describe the actual behaviour
Get an error message that an Organization must be selected

### What steps can be taken to reprod

[2017-07-18 19:57] Rjones8901 opened #3709 "Changing the Organization of a harvested dataset"
### CKAN Version if known (or site URL)
2.6.2

### Please describe the expected behaviour
I would expect that I could set different organizations for different datasets harvested from the same source. The process would be to harvest the datasource with no organization selected then change the organization for each dataset harvested. When it re-harvest it would harvest to the correct organization.

[2017-07-19 10:01] davidread commented on #3694
It appears I was using test-core.ini which outputs logs to stdout, whereas the docs say I should have used development.ini which logs to stderr, and doesn't get piped. So my bad here. But the merged change is harmless.

[2017-07-19 11:23] davidread commented on #3687
I did some more digging and I believe the problem was with running Ubuntu (16.04) on a chromebook, which seems to have a few oddities - some sort of cut-down version. For some reason all services (postgresql, jetty8, redis-server) don't run automatically when you install them nor survive a reboot. However they are all fine when I install vanilla Ubuntu 16.04 in a virtualbox.

[2017-07-19 11:23] #3687 closed

[2017-07-20 10:42] dassolkim opened #3713 "DCAT RDF Harvesting errors."
I tried DCAT RDF Harvesting at ckan. General ckan harvesting works well, but DCAT RDF Harvesting does not seem to add many configuratin feature. How can I resolve this error and get data from https://www.europeandataportal.eu ??

I add this configuration in rdf.py and swden_dcat_harvest in my ckan configuration file.

[2017-07-20 12:24] amercader commented on #3623
@smotornyuk I've updated the checklist to reflect all tasks. Don't worry it looks like a lot but they are mostly really small tasks.

Can you please review all outstanding steps to make sure they make sense and that you have access to the necessary places? (Don't worry about Twitter or the blog post, I'll coordinate that separately).

[2017-07-20 14:07] #3693 closed

[2017-07-20 14:14] wardi commented on #3713
This looks like an problem better discussed on the dev list or stack overflow. We use this issue tracker for bugs and changes on the core ckan project.

[2017-07-20 14:14] #3713 closed

[2017-07-21 09:17] smotornyuk commented on #3709
@Rjones8901  No, it's not the way harvester supposed to work. It just pulls datasets and save all information locally. What about cases, when owner organization was changed at remote instance and you change it locally as well?
Datasets are historical data objects and activity stream allows us to see, how data was changed during the time. Manual changes obscures data history.
CKANHarvester was desi

[2017-07-21 09:19] smotornyuk commented on #3708
Thanks for report, i'll take a look at it

[2017-07-21 13:36] Rjones8901 commented on #3709
It changes the data anyways because it ignores any organization set downstream applies the organization that is selected when editing the harvesting source. We tried to set the organization in an ESRI ODP to something that was not in CKAN and it adopted the organization that was forced on it when you have to select an organization in CKAN.

[2017-07-21 13:39] Rjones8901 commented on #3709
I am not talking about Organization wrt to metadata. I am saying the organizational structure used in CKAN to organize datasets and resources. When you create a harvesting source you have to select an organization that is in CKAN. You can cannot select "no organization" even though its an option. It returns an error. When you try to change them to the correct organizations because not all the harv

[2017-07-21 14:41] pmartignoli opened #3716 "Loading image duplicated"
The load image should not be duplicated

Go to any dataset preview, for example

https://birmingham.ckan.io/dataset/cycling-sensors/resource/97ea705d-50b4-40e9-bcd0-1c02bbb04e45

Select one of the headings in the preview eg. Road Number, Location.

The loading sign is duplicated.

[2017-07-21 21:45] shilu911 opened #3717 "Fanstatic path in debug mode is different with the path in prod mode"
### CKAN Version if known (or site URL)
2.6

My fanstatic folder's structure is:
- fanstatic
    - css
        - jquery-ui.css
        - images
            - icon.png
In the jquery-ui.css file, one of the classes has ' background-image: url("images/icon.png")'
### Please describe the expected behaviour
The background image should show up in both debug mode and prod mode

### Please describe the ac

[2017-07-22 10:18] klikstermkd commented on #3717
Images should be put in `public` folder. `fanstatic` folder is only for CSS and JS files.

[2017-07-23 22:26] Aaron-M commented on #3716
Is that not correct behaviour - when you click on a field heading, that sorts the data by that field, and hence the 'loading' indicator displays as the sorted view of the data is displayed?

[2017-07-24 09:46] smotornyuk commented on #3709
Yeah, i see. I'll take a look at setting 'no organization' and add check what can be done in order to preserve owner changes during harvesting

[2017-07-24 21:45] camfindlay opened #3727 "Editors cannot see the organisation they are assigned into in the dashboard"
A reported User Experience issue from a user of our portal.

### CKAN Version if known (or site URL)
2.6.x

### Please describe the expected behaviour
When a user with "editor" permissions who has been added to an organisation logs in they should see that they are a member of that organisation (even though they cannot manage the organisation).

### Please describe the actual behaviour
When the edi

[2017-07-25 10:03] klikstermkd opened #3728 "Not adequate error message when creating an organization through API"
### CKAN Version if known (or site URL)
Any.

### Please describe the expected behaviour
When creating an organization through API, if an organization already exists for that `name`, the error message should be "Organization name already exists in database".

### Please describe the actual behaviour
When creating an organization through API, if an organization already exists for that `name`, the e

[2017-07-25 10:16] ggcatu opened #3729 "Documentation error"
### CKAN Version if known (or site URL)
http://docs.ckan.org/en/latest/contributing/frontend/templating.html#form-select
http://docs.ckan.org/en/ckan-2.6.2/contributing/frontend/templating.html#form-select

### Please describe the expected behaviour
[code]

### Please describe the actual behaviour
[code]

### What steps can be taken to reproduce the issue?
The example in the documentation is wrong

[2017-07-25 11:28] ggcatu commented on #3729
Only fixed on latest documentation, don't know how to push to ckan-2.6.2

[2017-07-25 12:22] #3716 closed

[2017-07-25 12:30] wardi commented on #3717
Yes, as mentioned in http://docs.ckan.org/en/ckan-2.6.2/theming/fanstatic.html

[2017-07-25 12:30] #3717 closed

[2017-07-25 13:14] tino097 commented on #3728
Changing the message will have impact on translations, so maybe it is good to keep it as it is

[2017-07-25 14:45] amercader opened #3731 "Embed modal window not working"
### CKAN Version if known (or site URL)
master (2.8.0a)

@klikstermkd another small issue with the Bootstrap3 templates. The modal that comes up when you click on "Embed" in a resource view does not work. It looks like the ordering of the divs is wrong

![localhost-5000-dataset-test-tartan-1-resource-ebcd7122-2207-45ad-9f11-0094823ff28d](https://user-images.githubusercontent.com/200230/28577981-3c

[2017-07-26 13:14] smotornyuk commented on #3729
Thanks, i backported it to v2.6.3

[2017-07-26 13:14] #3729 closed

[2017-07-26 14:52] ggcatu commented on #3729
Shouldn't it be backported to 2.6.2 which is the stable version?

[2017-07-26 15:10] ggcatu opened #3732 "Autoform .checkbox"
### CKAN Version if known (or site URL)

Present in latest version and also in 2.6.2
https://github.com/ckan/ckan/blob/master/ckan/templates/macros/autoform.html#L28

### Please describe the expected behaviour
As for what I understand from documentation of autoform

In the source code we have,
` {% set value = data.get(name) %} `

And a special case for form.select()
` {% call form.select(name, id

[2017-07-27 10:33] smotornyuk commented on #3729
No, we are making patch releases for such branches. In most workflows(including ours) after making version available to public, there is no any possibility to somehow change this version. It leads to having instances with same versions but different functionality, thus it harder to fix bugs.
All existing minor versions will stay the same and any observed problem will be fixed in patch release - it

[2017-07-27 10:46] ggcatu commented on #3729
Cool, that makes perfectly sense

[2017-07-27 11:28] ggcatu commented on #3732
input_required() not defined in form.html

[2017-07-27 14:20] #3610 closed

[2017-07-27 14:32] amercader commented on #3732
Hi @ggcatu. We discussed this on the [dev meeting](https://hack.allmende.io/ckan-meeting). The autoform module is not really used apart from some minor templates and we will deprecate it an remove it on 2.8. We don't think it's worth the extra complexity as opposed to plain form controls in templates.

[2017-07-27 14:39] amercader commented on #3539
@u10313335's suggestion is correct, PR in #3734

Sorry, I totally missed this one.

[2017-07-27 14:39] #3471 closed

[2017-07-28 09:02] ggcatu commented on #3732
Oh, that's good, then I guess there's no point into keep digging into it

[2017-07-28 10:36] #3539 closed

[2017-07-31 08:44] brylie opened #3736 "Install from source lacks continuity between 2.b and 2.c"
When following the [installation from source instructions](http://docs.ckan.org/en/ckan-2.7.0/maintaining/installing/install-from-source.html), step 2.b says to install the CKAN package from Github and then step 2.c says to install requirements.txt.

However, running the `pip install -e 'git+https://github.com/ckan/ckan.git@ckan-2.6.2#egg=ckan'` command simply downloads a `src/` folder within the

[2017-07-31 11:21] brylie commented on #3592
OK, I got the development environment sorted out (and just returned from vacation). Today, I will create a list of feeds created by *webhelpers.feedgenerator*.

[2017-07-31 11:39] brylie opened #3737 "Trouble setting up development environment from cloned repository"
When trying to set up a development environment from the latest version, I am getting the following error in console:

[code]

The error is visible after running `paster serve /etc/ckan/default/development.ini`

How can I downgrade the 2.7 SOLR schema?

[2017-07-31 11:42] tino097 commented on #3737
hey @brylie , you should copy the schema.xml as it is in documentation

`sudo mv /etc/solr/conf/schema.xml /etc/solr/conf/schema.xml.bak
sudo ln -s /usr/lib/ckan/default/src/ckan/ckan/config/solr/schema.xml /etc/solr/conf/schema.xml`

[2017-07-31 12:22] brylie commented on #3737
Hm, I have tried that a few times. I must have messed something else up. I have previously installed the 'production' version, and am now attempting to install a version for development.

[2017-07-31 12:27] brylie commented on #3737
Also, from my interpretation, it is looking for a **2.3** schema. How can I make sure it allows the **2.7** schema? Should I be on a different branch than `master`?

[2017-07-31 12:38] brylie commented on #3737
Basically, I need to set up a local development environment from which I can make a PR against ckan/ckan. For now, I have forked the repository, and cloned from my fork. At that point, I started seeing the above error.

[2017-07-31 12:39] tino097 commented on #3737
Are you sure that you have latest version of CKAN, as schema 2.3 is used prior CKAN 2.7

[2017-07-31 12:39] brylie commented on #3737
I had cloned directly from Github, and was on the `master` branch.

[2017-07-31 12:40] brylie commented on #3737
Now, I am following the instructions from *installing from source*, but don't understand how I can make a PR if I follow this process:

[2017-07-31 12:43] tino097 commented on #3737
yes, that could be misguiding a little bit

and if you have created fork, you should be on latest CKAN version
try with
[code]

[2017-07-31 12:45] brylie opened #3738 "Support setuptools 36.x"
### CKAN Version if known (or site URL)
latest

### Please describe the expected behaviour
CKAN dependencies would be kept up to date.

The latest version of setuptools is 36.x

### Please describe the actual behaviour
The instructions for *installing from scratch* require a specific version of setuptools (20.4) that is rather old.

[2017-08-01 07:57] brylie commented on #3737
At what step in the installation from source document should I run `python setup.py develop`? E.g. 2.d?

[2017-08-01 07:59] brylie commented on #3737
Here is the output of `python setup.py develop`, which looks successful:

[code]

[2017-08-01 08:31] brylie commented on #3592
I have found at least three controllers that are responsible for generating Atom feeds:

- /ckan/controllers/revision.py
- /ckan/controllers/package.py
- /ckan/controllers/group.py

What routes render the above controller actions? I would like to test the feeds, but cannot find an obvious UI element to access the feed display.

[2017-08-01 08:38] tino097 commented on #3737
This looks good, can you double check that coping of SOLR schema from ckan to solr directory is actually happening?
And which version of SOLR are you using ?

[2017-08-01 08:39] brylie commented on #3592
I found several [feeds in routing.py](https://github.com/ckan/ckan/blob/master/ckan/config/routing.py#L404-L410), but none of them seem to map to the above controllers.

[code]

Where can I find the routes that map to the revision, package, and group feeds?

[2017-08-01 08:47] brylie commented on #3592
I started looking at the Group controller [history method](https://github.com/ckan/ckan/blob/master/ckan/controllers/group.py#L788-L799). The code in the history method, shown below, does not correspond with the text displayed when rendering the atom feed:

[code]

![screenshot_20170801_114742](https://user-images.githubusercontent.com/17307/28816922-3c63d85a-76af-11e7-8a88-1ea13296508b.png)

[2017-08-01 08:49] brylie commented on #3592
Is it possible that none of the webhelpers.feedgenerator code is in use?

[2017-08-01 08:52] brylie commented on #3737
Here is a screenshot of my Solr info page

![screenshot_20170801_115208](https://user-images.githubusercontent.com/17307/28817106-db44b1c4-76af-11e7-8013-5b397ab780ca.png)

[2017-08-01 08:53] brylie commented on #3737
I think we can close this issue, since I somehow managed to get things working. However, these type of problems may be common for new developers. I am not sure specifically how to make it easier to set up a development environment, but *ideally* it would be something like running a single command.

[2017-08-01 08:54] brylie commented on #3737
I have started working on issue #3592. There are a few questions at the end of the discussion, that I can't quite figure out.

[2017-08-01 10:13] brylie opened #3739 "API Catalog feature"
# Summary
Many organizations use CKAN as a **data portal and catalog**. However, there is an emerging need to catalog data sources from remote **APIs** (e.g. REST, etc.).

It would prove beneficial for CKAN to support some sort of API catalog.

# Background
There are national and EU-wide initiatives to standardize data infrastructure, and CKAN is well positioned. However, CKAN mainly lacks the API

[2017-08-01 12:04] #3737 closed

[2017-08-01 12:06] #3732 closed

[2017-08-01 12:19] wardi commented on #3736
@brylie do you mind submitting a PR to the docs with the change you're requesting? (it would have to be against master not 2.6 of course)

[2017-08-01 12:22] tino097 commented on #3592
hello @brylie, i had some work over feedgenerators #3586. Please feel free to look it and share ideas. As for the usage, some of the developers are using their custom implementations

[2017-08-01 12:24] TkTech commented on #3739
Is there a missing feature preventing you from doing this as an extension?

[2017-08-01 12:25] tino097 commented on #3739
@brylie this should be posted in [ideas and roadmaps](https://github.com/ckan/ideas-and-roadmap ) project for further discussion

[2017-08-01 12:48] TkTech commented on #3739
Never thought I'd say this but I miss JIRA. Can't move issues on github :(

[2017-08-01 12:48] #3739 closed

[2017-08-02 07:44] brylie commented on #3739
@TkTech we have used a project called [Github issue mover](https://github-issue-mover.appspot.com/) in the past.

[2017-08-02 09:29] HilariousGil opened #3740 "Exposed Server Local Files - Url Validator Needed"
### CKAN Version if known (or site URL)
Latest

### Please describe the expected behaviour
Resources should not be able to access files from the server where the ckan is hosted as a valid url.

### Please describe the actual behaviour
You can add a URL like "file:///etc/passwd" and it will be a valid one. Pushed to the Datastore and Visible on the website.

### What steps can be taken to reproduce

[2017-08-02 10:23] brylie commented on #3641
@torfsen this addition seems to have been reverted in the [2.7.0 version of the CKAN docs](http://docs.ckan.org/en/ckan-2.7.0/maintaining/installing/install-from-source.html)

[2017-08-02 10:58] brylie commented on #3736
@wardi PR #3741 is ready for review.

[2017-08-02 11:16] wardi commented on #3740
Thanks @HilariousGil.

Next time please submit this sort of issue to security@ckan.org so we can prepare and release a fix before we discuss in public. I think the best place for a fix is in the datapusher repo. Sites can override the dataset schema so preventing bad urls there isn't as safe.

[2017-08-02 11:22] HilariousGil commented on #3740
My bad. I wasn't aware of that.
Should the issue be deleted then?
I think that approach is better than my suggestion yes.
Thanks!

[2017-08-02 14:36] wardi commented on #3740
fixed by https://github.com/ckan/datapusher/pull/140

[2017-08-02 14:36] #3740 closed

[2017-08-03 02:44] florianm commented on #3561
@francescomangiacrapa if your issue still persists, here's some troubleshooting which may or may mot be helpful: https://github.com/ckan/ckan/issues/3264

We experienced degraded performance when we accumulated a ton of revisions after some vigorous API / batch-updating.

[2017-08-03 08:43] brylie commented on #3592
Well that work looks pretty comprehensive, and certainly beyond my capacity as a first-time contributor. Perhaps I may defer this issue to you?

[2017-08-03 09:24] smotornyuk commented on #3738
We periodically have bugs related to setuptools package([latest one](https://github.com/ckan/ckan/issues/3513)) so we just cannot afford using the latest version. But your suggestion has sense, so i made some tests and updated setuptools to v36.1 in #3742

[2017-08-03 10:13] dyleighba opened #3743 "[Bug] Silently ignores corrupt downloads."
### CKAN Version if known (or site URL)
v1.22.3

### Please describe the expected behaviour
1. CKAN attempts to download mod.
2. Download is redirected but still outputs data which in this case is HTML.
3. CKAN saves the data as a ZIP in downloads.
4. CKAN checks the hash and attempts to re-download and on subsequent attempts errors.

### Please describe the actual behaviour
1. CKAN attempts to do

[2017-08-03 10:40] wildcatzita commented on #3727
I will take a look

[2017-08-03 11:22] wildcatzita commented on #3441
We can use some cases for show user list for current login user:

1. For register user without organizations we can show only the same users
2. For user in organizations we can show only users from this organizations and registered users without organizations
3. For user in top organization we can show all users from top organization and child organizations
4. For sysadmins we show all users from

[2017-08-03 12:01] ggcatu opened #3744 "2.7.0 DataProxy returned an error"
### CKAN Version if known (or site URL)
2.7.0

### Please describe the expected behaviour
Data explorer should work with uploaded and external urls

### Please describe the actual behaviour
When dataset is uploaded, would receive message:

Could not load view: DataProxy returned an error (Data transformation failed. InvalidURL: Invalid request URL: http://localhost:500/dataset/d49e0da6-b9d2-4d85-b

[2017-08-03 13:26] TkTech commented on #3743
Wrong CKAN.

[2017-08-03 13:26] #3743 closed

[2017-08-03 14:07] #3736 closed

[2017-08-03 14:10] wardi commented on #3744
Data proxy is an external service that can only access public URLs. You can either upload your csv (so data proxy is not necessary) or try hosting the file on a public site instead.

[2017-08-03 15:10] ggcatu commented on #3744
@wardi I'm telling you this behavior is actually happeing while uploading the csv to ckan.

[2017-08-03 15:34] wardi commented on #3744
If you have datapusher enabled the upload should be creating a datastore table for your data so you don't need data proxy. It is strange that recline is trying to use data proxy on a localhost url, though. Are you interested in investigating the cause?

[2017-08-05 21:01] ilikegumballs opened #3745 "new horizons mod in ckan not working"
CKAN Version 1.22.3

i downloaded the mod and selected all the other mods that is recommended for it and when i launched KSP the only planets that were there were the stock planets in different a arrangement and i have no idea what to do and the other times i downloaded the mod nothing happened to the system

[2017-08-05 22:56] TkTech commented on #3745
Wrong CKAN.

[2017-08-05 22:56] #3745 closed

[2017-08-05 23:56] ilikegumballs commented on #3745
which version?

[2017-08-06 00:41] TkTech commented on #3745
The project you are commenting on has absolutely nothing to do with KSP.

[2017-08-07 04:57] Vanuan commented on #3649
I've created this somewhat simplified production-oriented instruction and dockerfile: https://github.com/Vanuan/ckan-base

That is a level of simplicity I think would be great for production-like environments.

[2017-08-07 08:14] davidheuckrodt opened #3746 "Deleting Groups"
### CKAN Version if known (or site URL)
2.7

### Please describe the expected behaviour
If I delete a group within the CKAN-form, the group should be deleted completely.

### Please describe the actual behaviour
The group is "deleted" and not in the group-list

When I want to create a group with the same name, as of the deleted one, I get an error. It says that the group already exists in the data

[2017-08-07 12:17] ggcatu opened #3747 "Datapusher - paster set-permission - EOF"
### CKAN Version if known (or site URL)
2.7.0

### Please describe the expected behaviour
paster set-permission to correctly execute

### Please describe the actual behaviour
paster --plugin=ckan datastore set-permissions -c /etc/ckan/default/development.ini
Is not giving any error on the ckan side, but on postgresql is received this:

db       | LOG:  unexpected EOF on client connection with an o

[2017-08-07 12:19] #3738 closed

[2017-08-07 15:55] ggcatu commented on #3744
The problem occurs if you have datapusher disabled and upload the dataset.

Shouldn't it just treat it as if it was an external resource, and show it in the Data Explorer ?
External resources can be previewed without having datapusher and datastore enabled

[2017-08-08 05:50] davidheuckrodt commented on #3746
Hey.

I [this](http://docs.ckan.org/en/latest/sysadmin-guide.html?highlight=delete#permanently-deleting-datasets) in the docs. It works perfectly with the datasets but not with the groups.

Has someone an idea?

[2017-08-08 12:28] wardi commented on #3744
sure, but how could DataProxy access a URL like http://localhost:500/... when it's running on a different machine? If you set your SITE_URL to a valid location it should work (but you'll need to re-upload your files to update their URLs IIRC)

[2017-08-08 13:38] ggcatu commented on #3744
In my opinion that is currently a problem, sharing config between components.

For instance, DataPusher shouldn't be using the ckan.site_url but instead have it's own URL setting.
I was running a setup with
- ckan container
- datapusher container

And had everything config, to localhost. So ckan container was working good, but datapusher wouldn't, since localhost:500 isn't valid for him.
Had to so

[2017-08-08 14:34] wardi commented on #3744
No, as I said in https://github.com/ckan/ckan/issues/3744#issuecomment-319980364 data proxy is an external service, only used by the recline views IIUC.

You need to set SITE_URL to the external address for the ckan site. It's necessary for generating correct absolute URLs (e.g. when sending emails from a background job) and the rest of CKAN relies on it being correct.

If you either enable datapu

[2017-08-08 14:34] #3744 closed

[2017-08-09 10:25] Zharktas commented on #3499
This issue might manifest itself with ckan 2.7 as there is now new handler [helpers.py](https://github.com/ckan/ckan/blob/ckan-2.7.0/ckan/lib/helpers.py#L162]) if the path starts with /-character.

If the root path is set, both ckan 2.6 and 2.7 will generate urls incorrectly with url_for:

    h.url_for('http://example.com')
    '/datahttp://example.com'

When calling redirect_to with 'http://exam

[2017-08-10 07:52] smotornyuk commented on #3747
@ggcatu , i can't reproduce suche errors. Do you redirect output to postgresql using pipe? i.e `paster datastore set-permissions -c development.ini |sudo -u postgres psql --set ON_ERROR_STOP=1` . or you copy output and paste it directly using psql client?

[2017-08-10 08:06] smotornyuk commented on #3746
Hi, @davidheuckrodt . No, we don't have neither page in UI nor command in CLI for this. `trash` page from admin interface handles only removed packages.
Group/organization removal is quite cumbersome and dangerous operation. If you are sure, that you want to completely remove it, you can perform next steps:
a) if you are going to remove organization
1. Remove all datasets that belongs to this org.

[2017-08-10 11:12] ggcatu commented on #3747
I was just running this command alone, not redirecting

paster --plugin=ckan datastore set-permissions -c /etc/ckan/default/development.ini

Im using paster to paster to db init, create users etc, and everything works good

[2017-08-10 13:59] smotornyuk commented on #3747
Yeah, this is just how datastore works) You need to run `paster datastore set-permissions -c development.ini | sudo -u postgres psql --set ON_ERROR_STOP=1`. paster command only generates SQL code that need to be executed under db root account (this is why paster can't do it - we do not want to expose db root credentials)

[2017-08-10 14:17] ggcatu commented on #3747
How do you think this process should be done in a Docker setup, where the ckan container doesn't have postgres installed , and postgres is in another container?

I ended up doing it like:

Wouldn't it be better to just accept a postgres url, connect and execute?

[2017-08-10 14:45] smotornyuk commented on #3747
hm, you can install postgresql client on host image and connect to another one, but i agree, that simplest solution would be to copy paster output -> connect to image with postgresql -> connect to db -> insert copied commands.

as for using postgres url - if you are meaning that this url can be used in order to connect and perform necessary operations from paster command - no. You'll probably run

[2017-08-10 15:17] PointyShinyBurning opened #3750 "ckan.root_path doubled in new dataset form redirect"
CKAN Version 2.7

I have `ckan.root_path = /ckan/{{LANG}}` in my production.ini and `rewrite ^/ckan/?(.*)$ /$1 break;` in my nginx configuration to serve ckan from a subdirectory.

On 2.6 this worked fine, but on 2.7 clicking ![image](https://user-images.githubusercontent.com/5345844/29177102-ab2d4bd0-7de5-11e7-8667-39d867631743.png) on the new dataset form at `ckan/dataset/new` leads to `ckan/cka

[2017-08-11 21:52] curtisyallop opened #3752 "Uploading large files never frees tmp-file disk space (disk space leak)"
### CKAN Version if known (or site URL)
2.6.0 and 2.7.0 (both versions tested)

### Please describe the expected behaviour
After uploading 1GB file repeatedly (and removing the old one each time), ckan should keep running just fine - not die due to running out of disk space. Restarting the web server should not free up all the missing space and make it work again.

### Please describe the actual b

[2017-08-12 09:50] mattfullerton commented on #3560
@dythya Could you create a pull request for core CKAN?

[2017-08-13 05:28] dythya commented on #3560
@mattfullerton
I could do this. One reason I hadn't done it yet wasn't I had not updated any of the tests.

[2017-08-14 06:12] TkTech commented on #2186
@wardi #3112 does *not* resolve this issue. This issue relates to revisions of relationships, not the relationship itself. We need to go one level deeper :(

[2017-08-14 09:45] nesnera opened #3753 "Missing upload GUI"
### CKAN Version if known (or site URL)
ckan_version | "2.7.0"
-- | --
site_url | "http://< private ;) >.otevrenamesta.cz"
site_description | ""
site_title | "Katalog městských dat"
error_emails_to |  
locale_default | "cs_CZ"
extensions |  
0 | "stats"
1 | "text_view"
2 | "image_view"
3 | "recline_view"
4 | "hierarchy_display"
5 | "hierarchy_form"

### Please describe the expected behaviour
Have

[2017-08-14 12:05] #3731 closed

[2017-08-14 12:17] smotornyuk opened #3754 "Bootstrap3 UI issues"
Chromium v59:
#3620
This is how looks dataset search page when filters are enabled
![screenshot from 2017-07-27 16-18-29](https://user-images.githubusercontent.com/11091199/28672108-74c628cc-72e7-11e7-9b18-27b19073c46d.png)
And this is organization list(I have one organization):
![screenshot from 2017-07-27 16-19-45](https://user-images.githubusercontent.com/11091199/28672111-77bcf2fe-72e7-11e7-95

[2017-08-14 13:13] amercader commented on #3623
CKAN 2.7 is out, thanks to @smotornyuk great work.

[2017-08-14 13:13] #3623 closed

[2017-08-15 09:13] amercader commented on #3753
Please check the documentation on how to set up [file uploads](http://docs.ckan.org/en/ckan-2.7.0/maintaining/filestore.html#setup-file-uploads). You need to specify a `ckan.storage_path` on your ini file.

As for the incorrect rendering, perhaps one of the extensions is interfering with the default fields?

Closing this for now. Feel free to reopen if you think this is an actual issue with CKAN c

[2017-08-15 09:13] #3753 closed

[2017-08-15 12:09] amercader commented on #3754
@klikstermkd can you have a look at this when you have a moment?

[2017-08-15 12:10] klikstermkd commented on #3754
@amercader Yes I will look into it.

[2017-08-15 21:28] kurtsalsa opened #3755 "View Organisation - TypeError: string indices must be integers"
### CKAN Version if known (or site URL)
2.6.3

### Please describe the expected behaviour
I have a fresh install of CKAN 2.6.3. I created a new Organization. The organization page should appear for the new organization.

### Please describe the actual behaviour
I get the following 500 error.
[code]

Clicking the plus icon get's me this info

[code]
Changing from Interactive to Full view gives me
[

[2017-08-16 09:25] smotornyuk commented on #3752
thanks, @curtisyallop . What you are doing with ResourceUpload is ok, but as for changing `paste` source code - i propose additional middleware that will clean temporary files insted. I'm going to create PR with reference to this issue, so you can make patch or just take a idea and adapt it to you instance.

[2017-08-16 11:32] nesnera commented on #3753
Re: Amercader - thank for response.
The problem seems be solved by installing redis.. :-)

[2017-08-16 11:42] nesnera opened #3757 "Language switcher doesn't work"
### CKAN Version if known (or site URL)
https://ckan.otevrenamesta.cz/api/util/status

### Please describe the expected behaviour
Be able to switch between languages.

### Please describe the actual behaviour
Just try to switch to another language.
But you can do that manually as https://ckan.otevrenamesta.cz/en or ../de, /sk

### What steps can be taken to reproduce the issue?
Have a look https:/

[2017-08-16 12:36] nesnera opened #3758 "Enormous amount warnings _resource_preview() has been deprecated in log file"
### CKAN Version if known (or site URL)
https://ckan.otevrenamesta.cz/api/util/status

### Please describe the expected behaviour
More clear/smart log ;)

### Please describe the actual behaviour
[code]

### What steps can be taken to reproduce the issue?
Have a look at ckan_default.error.log

[2017-08-16 13:38] nesnera commented on #3753
Upps. Problem persist and I think it's at client side but it's very strange.
Steps to reproduce:

1. use default (Czech) language and create new dataset. Uploader is OK.
2. switch to Englis (correct) and back - "Error 404 Not Found" and wrong URL http://ckan.otevrenamesta.cz/en/cs_CZ/dataset/new_resource/
3. replace URL to http://ckan.otevrenamesta.cz (Czech language again)
4. now if you modify ex

[2017-08-16 13:44] nesnera commented on #3757
related issue? - https://github.com/ckan/ckan/issues/3753

[2017-08-17 06:16] kurtsalsa commented on #3755
Seems like it must've been something odd with a new extension, I rebuilt my vagrant and the issues gone.

[2017-08-17 06:16] #3755 closed

[2017-08-17 09:59] markburgess opened #3759 "Unclear docs and/or bug in docker container"
### CKAN Version if known (or site URL)

latest from docker ckan/ckan

### Please describe the expected behaviour

expect netstat to show port 80 service running.

### Please describe the actual behaviour

No port 80 service running, though all docker containers running

### What steps can be taken to reproduce the issue?

Follow the precise destructions from the website:

  466  docker run -d --n

[2017-08-17 11:45] ggcatu commented on #3757
Yes, language switch is neither working on my instance of ckan, 2.7.0

[2017-08-17 11:46] ggcatu commented on #3753
Yes, this strange bug is happening also to me.

[2017-08-17 11:47] ggcatu commented on #3747
Got it. Guess this can be closed then.

[2017-08-17 12:07] amercader opened #3760 "CLI commands require a Flask test request context"
On latest master, running a paster command that involves URL generation (like `paster search-index rebuild`) will throw the infamous `RuntimeError: Attempted to generate a URL without the application context being pushed` exception:

[code]

Why this is happening is explained [here](http://docs.ckan.org/en/latest/extensions/flask-migration.html#wrap-url-for-calls-in-tests-with-a-test-request-conte

[2017-08-17 12:59] ggcatu commented on #3757
Actually I made it work, by having my ckan url not local, I mean, using my public IP.

The problem is that it just keep appending names to the url instad of substituting the old one.
So fot example if I change my language to italian, it works, but if later i change it to nederlands, i get
myurl:5000/it/nd
and if i then change it to spanish i get
http://url:5000/it/nl/es/dashboard

[2017-08-17 14:10] wardi commented on #3758
@nesnera yes, we should really remove that old code. Do you have any time to look at this?

[2017-08-17 14:14] wardi commented on #3757
Looks like your site_url should have `https://` not `http://`. The language switcher works on http://ckan.otevrenamesta.cz

[2017-08-17 14:14] #3757 closed

[2017-08-17 14:15] wardi commented on #3759
@mattfullerton any idea about this?

[2017-08-17 14:30] ggcatu commented on #3757
@wardi  try what i said, its not working.

Go to http://ckan.otevrenamesta.cz/group/br_indikatory
Change the language 2 times.

[2017-08-17 15:39] wardi commented on #3757
that's different than the initial bug report. do you have a root_path setting?

[2017-08-17 15:58] tino097 commented on #3757
possible relation to #3750

[2017-08-18 12:01] terchris opened #3764 "Found bug in docker ckan installation - CKAN_SOLR_URL env variable read problem"
### CKAN Version if known (or site URL)
https://hub.docker.com/r/ckan/ckan/

### Please describe the expected behaviour
expect ckan to start :)

### Please describe the actual behaviour
Installing ckan/ckan from https://hub.docker.com/r/ckan/ckan/

Getting this error:
"
    raise InvalidURL("Invalid URL %r: No host supplied" % url)
InvalidURL: Invalid URL u'http://:/solr/ckan/select/?q=%2A%3A%2A&r

[2017-08-18 14:41] nesnera commented on #3757
@tino097 Good point. I have reverse proxy (nginx). But my redirection is very simple `proxy_redirect      http://[2a01:430:17:1::ffff:27] http://ckan.otevrenamesta.cz;`
1. I believe the protocol (http|https) should be isolated
2. I've tried direct access (by IP address and changing ckan.site_url to this IP). Switcher still return wrong URLs like [http://77.93.223.72 **/cs_CZ/en/** group/br_indikat

[2017-08-18 14:44] nesnera commented on #3758
@wardi  :D I see :D

[2017-08-18 17:15] jqnatividad commented on #2562
Hi all,

Pinging this issue again as we're helping clients with some internal dashboards that are fed by private datasets, and they need datastore_search_sql access to these private datasets.

[2017-08-18 21:12] JasminaPN opened #3765 ""Reorder Resource View" button is mising"
### ckan 2.7

Steps to reproduce the issue:
1. Go to Dataset page of the portal
2. Create Dataset (metadata +add resource (data)
3. Click "edit" on the newly created resource
4. Go to "Views" tab from edit/resource
5. There is a button "+New View" and in Ckan 2.6 right next to "+New View"  button was displayed "Reorder Resource Views" button.

Note:
In CKAN 2.7 "Reorder Resource View" is missing

[2017-08-18 21:23] JasminaPN opened #3766 ""Name" of the uploaded resource is not added automatically in CKAN 2.7"
### CKAN 2.7

Steps to reproduce the issue:
1. Go to Dataset page of the portal
2. Create Dataset (metadata)
3. Click "Next Add Data" button
4. Upload a resource
5. The "Name" field under the "Upload Resource: filed by default is added automatically
6. In CKAN 2.7 no action was not taken and the name of the resource has to be added manually

Note please check the attached image to this issue.
![na

[2017-08-20 10:12] markburgess commented on #3759
Searching around, I found a compose file, (these docker compose files seem fragile), which works

# docker-compose build && docker-compose up
# If you experience problems with the CKAN container not being
# able to connect to the DB, then most likely the DB has not
# started up quickly enough. Just do "docker-compose up ckan"
# again to retry
ckan:
  container_name: ckan
  # Note, if you are worki

[2017-08-20 15:27] Vanuan opened #3768 "Create dataset with custom date"
### CKAN Version if known (or site URL)

1.6

### Please describe the expected behaviour

API package_update should accept custom date

### Please describe the actual behaviour

API package_update ignores creation date. It's impossible to change creation date of dataset.

### What steps can be taken to reproduce the issue?

Call package_update with `created` field.

[2017-08-20 15:28] Vanuan commented on #3768
On the other hand, resource_create supports setting the `created` field

[2017-08-20 16:42] nesnera opened #3769 "Creating a new extension | "paster create" ends with error"
### CKAN Version if known (or site URL)
https://ckan.otevrenamesta.cz/api/util/status

### Please describe the expected behaviour
http://docs.ckan.org/en/latest/extensions/tutorial.html#creating-a-new-extension part "Now run the paster create"

### Please describe the actual behaviour
[code]
### What steps can be taken to reproduce the issue?
Follow tutorial instructions.

[2017-08-20 18:13] nesnera commented on #3769
Dash isn't allowed in extension name. If I change name to ckan-internal script works well. An name checker? But I see ckanext-googleanalytics..

[2017-08-21 05:21] mattfullerton commented on #3759
Can you paste the errors?

There is work going on to improve things: https://github.com/ckan/ckan/pull/3692

[2017-08-21 07:21] klikstermkd commented on #3765
I will look into this.

[2017-08-21 07:21] klikstermkd commented on #3766
I will look into this.

[2017-08-21 09:34] JasminaPN commented on #3765
@klikstermkd  Konstantin will review this bug.

[2017-08-21 09:35] JasminaPN commented on #3766
@klikstermkd  Konstantin will review this bug. Thanks.

[2017-08-21 10:01] smotornyuk commented on #3769
Yes, you are right, dash is not allowed at all in extension name. Reason is quite obvious, if you create extension ckanext-om-internal-catalog, you won't be able to import it as
[code]
As you can see, `ckanext` part becomes a parent directory, but everything exept it is a single package name, so it should contains just safe characters( `[a-zA-Z]+[\d\w]*`). So ckanext-googleanalytics become `ckanex

[2017-08-21 10:07] #3747 closed

[2017-08-21 19:20] curtisyallop commented on #3752
This webob fix does not seem to fix our situation. On ckan 2.6.0, when I apply CloseWSGIInputMiddleware, it is never a FakeCGIBody so it does nothing. When I print it at that point it is a socket or a file descriptor. I think the unfreed one is the tempfile.TemporaryFile created in cascade.py.

Thanks for that ckan fix. That part works.

[2017-08-21 21:26] curtisyallop commented on #3752
Update: Your webob fix actually does work for me. I had to alter it slightly, perhaps due to the different version of ckan. I updated "if upload:" to "if upload is not None:" because otherwise it evaluated to false and skipped the "upload.fp.close()". When I printed "upload", it displayed "FieldStorage('upload', 'test60M')". It had a value but then evaluated to false.

[2017-08-21 21:36] curtisyallop commented on #3752
Thanks!

[2017-08-21 21:36] #3752 closed

[2017-08-22 06:31] nesnera opened #3771 "Wrong(?) behavior at debug mode"
### CKAN Version if known (or site URL)
2.7 - https://ckan.otevrenamesta.cz/api/util/status

### Please describe the expected behaviour
Look for "[Reload the CKAN front page in your browser, and you should see a Debug link in the footer at the bottom of the page.](url)", please.

### Please describe the actual behaviour
(I've desibled all plugins.)
server side:
[code]
client side:
[code]
### What

[2017-08-22 09:13] smotornyuk commented on #3771
As far as i know, debug mode is available only under dev server, i.e if you start CKAN instance with `paster serve`. Nginx and apache deployment supports only prod mode(debug=false)

[2017-08-22 09:26] tino097 commented on #3765
This issues caused by translation to the label
https://github.com/ckan/ckan/blob/dev-v2.7/ckan/public/base/javascript/modules/resource-view-reorder.js#L36

this PR is fixing it #3604

[2017-08-22 11:22] klikstermkd opened #3773 "Multiple resources created for a dataset"
### CKAN Version if known (or site URL)
All versions.

### Please describe the expected behaviour
When a new resource is created through the web UI, if the "Add" button in the form is clicked multiple times consecutively, only one resource should be created.

### Please describe the actual behaviour
When a new resource is created through the web UI, if the "Add" button in the form is clicked multi

[2017-08-22 11:31] #2806 closed

[2017-08-22 11:41] tino097 commented on #3750
#3749 would fix this issues

[2017-08-22 11:51] Vanuan opened #3774 "Format isn't recognized out of the mimetype"
### CKAN Version if known (or site URL)

2.6.3

### Please describe the expected behaviour

Setting mimetype to 'text/csv' using API should result in format being automatically set to 'CSV'.

### Please describe the actual behaviour

Setting mimetype result in format being equal to mimetype.

### What steps can be taken to reproduce the issue?

Use 'resource_create' to create a resource with mimet

[2017-08-22 11:53] Vanuan commented on #3774
Why even have the field mimetype if it doesn't influence format in any way?

[2017-08-22 12:22] #3771 closed

[2017-08-22 12:22] #3769 closed

[2017-08-22 12:26] smotornyuk commented on #3773
As was discussed, the simplest solution would be to disable **Add** button right after user's click. Do you want to do this?:)

[2017-08-22 12:27] klikstermkd commented on #3773
@smotornyuk Yes seems reasonable to me. Will do it :)

[2017-08-22 13:06] amercader commented on #3768
CKAN has two internal fields to track creation and modification date: `metadata_created` and `metadata_modified`. These are read-only and refer to the actual CKAN dataset on this catalog.

There was some discussion recently about whether these should be editable: https://github.com/ckan/ckan/pull/3476. (cc @TkTech)

The consensus seems to be that both the read-only and the editable fields have app

[2017-08-22 13:10] amercader commented on #3764
@deinok is the version build on Docker Hub the one built from the last Dockerfiles you worked on? Does this problem ring a bell?

@terchris there's some work being done on https://github.com/ckan/ckan/pull/3651 and https://github.com/ckan/ckan/pull/3692 Perhaps the problem is fixed there?

[2017-08-22 14:19] deinok commented on #3764
@amercader The Dockerfile from https://hub.docker.com/r/ckan/ckan/~/dockerfile/ has been updated 8 days ago. And seems like it have been updates.

[2017-08-22 14:21] deinok commented on #3764
@terchris @amercader Bug 2:
Yep, the .ini it is set to ckan.ini . If @amercader is agree, i can change it to production.ini

[2017-08-22 14:46] amercader commented on #3764
@deinok yes, of course. Shouldn't this be covered by the Travis tests? which btw started failing a few days ago

[2017-08-22 15:51] wardi commented on #3768
if you *really* want to be able to overwrite the metadata_modified and metadata_created with package_update that can also be accomplished with a custom schema. e.g. you can copy the values to other fields on input then override them on output with some custom validators.

[2017-08-22 15:53] wardi commented on #3774
We auto-fill the mimetype from the format, but since there isn't a 1:1 mapping between mimetypes and file extensions doing the same in reverse could lead to strange behaviour. @Vanuan if you would like the reverse to happen in your site it's certainly possible with a custom validator on the format field, e.g. when no value is passed, look it up in the mime types table and store that instead.

[2017-08-22 18:24] deinok opened #3776 "[DOCKER] - Change .ini name"
ref: #3764
The .ini its called ckan.ini
Rename it to production.ini

[2017-08-22 18:25] deinok commented on #3764
@amercader  Yep, it have been detected by travis

[2017-08-22 19:20] deinok commented on #3764
Also, the docker seems failing to build cause this:
[code]

This is hitted when installing dev-requirements.txt

[2017-08-22 19:20] deinok commented on #3764
Also, i have found some things related to docker that can be done better.

[2017-08-22 19:43] deinok opened #3778 "[Badges] - Add a badge to the pip dependencies"
[![Requirements Status](https://requires.io/github/ckan/ckan/requirements.svg?branch=master)](https://requires.io/github/ckan/ckan/requirements/?branch=master)

https://requires.io/github/ckan/ckan/requirements/?branch=master

This can help to see the actual state of dependencies.

[2017-08-23 09:22] metaodi opened #3780 "Using url_for in tests for various versions of CKAN"
This issue is related to https://github.com/ckan/ckan/pull/3723.

I just changed the tests in ckanext-dcat to include the `test_request_context` for calls to `url_for`. Now the tests run fine with CKAN `master`. But tests with earlier versions of CKAN fail with `'TestApp' object has no attribute 'flask_app'` ([see details on Travis CI](https://travis-ci.org/ckan/ckanext-dcat/builds/267500801))

So

[2017-08-23 09:31] amercader commented on #3780
Good point @metaodi, let me have a think about the best way to handle this.

[2017-08-23 09:46] metaodi commented on #3780
@amercader I came up with [the following](https://github.com/ckan/ckanext-dcat/pull/94/commits/079ddc2976e560d4b2987b27afeb1178ffee8e0b):

[code]

And then in the test:

[code]

Which is arguably not very beautiful, but [it works](https://travis-ci.org/ckan/ckanext-dcat/builds/267514870).

[2017-08-23 13:39] ggcatu opened #3781 "_mail_recipient header override"
### CKAN Version if known (or site URL)
https://github.com/ckan/ckan/blob/3fa8d9b7476a9f37761749804e4613c196f4fa26/ckan/lib/mailer.py#L30-L36
Mailer is actually adding more keys to the MIMEText, isntead of replacing them.

### Please describe the expected behaviour
To change the Content-Type to the new one

### Please describe the actual behaviour
The old Content-Type is kept, but a new Content-Ty

[2017-08-23 15:22] amercader commented on #3780
@metaodi I'm leaning towards reverting this change entirely, see #3782

[2017-08-24 09:18] tino097 commented on #3765
the #3604 should be backported to 2.7 too

[2017-08-24 09:38] #3766 closed

[2017-08-24 10:01] #3773 closed

[2017-08-24 14:25] wardi commented on #3778
@smotornyuk @tino097  if you thought I was going crazy in the dev call, this is what I was referencing https://en.wikipedia.org/wiki/Stinking_badges

[2017-08-24 14:28] Vanuan commented on #3768
Looks like I also have to change dataset sorting behaviour to use new fields.
My use case is to mirror (harvest) datasets from multiple data sources to CKAN. And I want to preserve original dates, not the dates at the time of harvesting.

[2017-08-24 14:41] amercader commented on #3778
@deinok It will take a long time until we can have all requirements up to date, essentially because until we don't get rid of Pylons for good there will always be some outdated requirements. So I don't think it's a good idea to have a badge that permanently says outdated on the README as this will give the impression that we don't try to have all requirements up to date as much as possible (which

[2017-08-24 14:41] #3778 closed

[2017-08-24 14:43] amercader commented on #3781
@ggcatu This sounds really sensible and looks like you know where the code should be changed. Do you want to submit a PR for this?

[2017-08-24 14:50] Vanuan commented on #3774
Oh, I see. So mimetype is useless to fill in for my use case.

[2017-08-24 14:50] #3774 closed

[2017-08-25 15:02] ggcatu commented on #3781
Check https://github.com/ckan/ckan/pull/3784

[2017-08-25 15:55] davidread opened #3785 "Datastore full-text-search column is populated by postgres trigger rather than python"
Datastore tables have a column with the full-text-search indexing. This has hitherto been populated by python code _to_full_text() when loading/updating data. This PR changes it to being generated by a postgres function, triggered by postgres seeing rows being added or updated.

Benefits:
* it works when data gets into the table in ways other than datastore action functions. e.g. columns generated

[2017-08-26 20:06] nesnera opened #3787 "False(?) upload error (devel server)"
### CKAN Version if known (or site URL)
https://ckan.otevrenamesta.cz/api/util/status

### Please describe the expected behaviour
correct upload

### Please describe the actual behaviour
The upload ends with the error (if devel server is used `paster serve --reload /etc/ckan/default/devel.ini`. With Apache works without problem.)
[code]
### What steps can be taken to reproduce the issue?
Run devel

[2017-08-26 20:13] tino097 commented on #3787
@nesnera  please check this answer
https://github.com/ckan/ckan/issues/3676#issuecomment-314047590

[2017-08-27 02:36] #3787 closed

[2017-08-28 13:17] #3754 closed

[2017-08-28 19:13] nesnera commented on #3787
@tino097, thanks. It works. (But have a more flexible/intuitive way would be nice.)   ;?

[2017-08-29 12:16] #3499 closed

[2017-08-30 14:39] #3781 closed

[2017-08-30 14:39] amercader commented on #3781
Thanks @ggcatu

[2017-08-30 14:41] amercader opened #3790 "New plugin hooks before commit"
I'd like to explore the inclusion of two new hooks on `IPackageController` and `IResourceController` that would be called just before the actual commit is being made. Something like this:

[code]

There are two main reasons for this:

* My current use case, I want to run a check that depends on the uploaded file contents, and raise a `ValidationError` if I'm not happy about them (could be structur

[2017-08-30 14:54] #3760 closed

[2017-08-31 11:44] amercader commented on #3780
@metaodi This should no longer be an issue after #3782 was merged. Can you confirm it works as expected from extensions?

[2017-08-31 11:44] #3780 closed

[2017-08-31 12:02] metaodi commented on #3780
@amercader yes perfect, it works like there was never any problem :stuck_out_tongue_winking_eye:

[2017-08-31 12:18] Engerrs opened #3793 "Fanstatic urls are broken when none root is set"
### CKAN Version
Latest 2.6

### Expected behaviour
When the root_path is set up, fanstatic generates urls with root_path prefix

### Actual behaviour
When the root_path is set up, fanstatic generates urls without the prefix

This is been fixed in #3628, but backported only to 2.7

[2017-08-31 12:24] Engerrs commented on #3793
PR https://github.com/ckan/ckan/pull/3794

[2017-08-31 14:25] wardi commented on #3790
As discussed in the meeting I've got concerns about creating interfaces that will potentially hold a transaction (logical or otherwise) open for arbitrary lengths of time.

Instead we can move the uploading to the top of resource_update and create an extension point just before reading and updating the metadata. The uploading is done inside a DB transaction right now which creates a really large w

[2017-08-31 14:30] amercader commented on #3790
@wardi that makes sense. I'll investigate with your pointers.

[2017-08-31 16:34] DanielWFrancis commented on #2293
Having problems with httpie not returning the results given in the docs. Going to the demo url in browser shows the correct JSON so I think it's an httpie issue, never used httpie though.

[2017-08-31 17:19] davidread commented on #2293
I suggest you provide details in a stack overflow question - then someone
should be able to help you achieve whatever it is that you're stuck on.

On Thu, 31 Aug 2017 at 17:34, Daniel Francis <notifications@github.com>
wrote:

[2017-09-01 11:36] mattfullerton opened #3796 "Incorrect API link on /dataset"
### CKAN Version if known (or site URL)
master

### Please describe the expected behaviour
Text at bottom of dataset listing (search.html template) should include a working API link

### Please describe the actual behaviour
A link of the form https://beta.ckan.org/packages?ver=%2F3 is generated
(https://beta.ckan.org/dataset)

This line is no longer working, I suspect because of the recent work to

[2017-09-01 11:56] mattfullerton opened #3797 "Remove search box label?"
I'm not a UI expert, but labelling this field when we already have a placeholder text to the same effect and a big search icon seems superfluous:

https://github.com/ckan/ckan/blob/760175a709c8d01f7fcd2f2fd2a83f31cad7ca32/ckan/templates/snippets/search_form.html#L13

But the real reason for my asking is I'm bumping into it on the topic of https://github.com/ckan/ckan/pull/3643 (labelling texts cor

[2017-09-01 13:56] torfsen commented on #3790
If you end up modifying `IPackageController` and `IResourceController` then I'd love to take that chance to also deprecate the currently conflicting names (`after_delete`, etc.) in favour of new, separate names (e.g. `after_resource_delete`, `after_package_delete`). See #2949.

[2017-09-04 12:54] Engerrs opened #3798 "Site logo is broken when site got root_path and WSGIScriptAlias"
### CKAN Version
Master(2.8), 2.7

### Expected behaviour
When sysadmin adds external link to image or upload an image for site.logo, logo is displayed.

### Actual behaviour
When sysadmin adds external link to image or upload an image for site.logo, the url that is generated is broken. For upload/link it adds extra /data and the end of the url.

### Steps to reproduce the issue:
1. Setup CKAN wit

[2017-09-05 10:18] torfsen opened #3799 "Add missing major changes to change log"
[As discussed on ckan-dev](https://lists.okfn.org/pipermail/ckan-dev/2017-September/011103.html): Our [update-guide](http://docs.ckan.org/en/ckan-2.7.0/maintaining/upgrading/index.html) doesn't mention version-specific changes (AFAIK by design), and the [change log](https://github.com/ckan/ckan/blob/177143fca601cad334d0e6be09a4224ac9c85645/CHANGELOG.rst) only lists certain categories of changes (e

[2017-09-05 10:23] amercader opened #3800 "Fix Travis build"
There is a problem with the Docker tests and it makes all checks fail. @deinok is there a chance you could find some time to investigate and fix this? It would be good to reduce all the noise.

[2017-09-05 10:28] deinok commented on #3800
I think there is a PR updating the dockers. Should i fix that version or the actual version?

[2017-09-05 10:30] amercader commented on #3800
If we can fix current master first that would be great

[2017-09-05 11:48] ggcatu commented on #3800
Adding this line to the dockerfile helped me fix the error.

`apt-get install -y build-essential libssl-dev libffi-dev python-dev`

[2017-09-05 11:58] #3785 closed

[2017-09-05 11:59] ggcatu opened #3801 "2 Questions"
1.  Is there a proper way to actually override validators?

For example, I want to override member_schema, because I want to add a new validator to one of it's fields.

2.  Why is it that:

        ``is_fallback()`` method returns ``True``, if this happens CKAN will
        raise an exception at startup.

Why shouldn't we be able to modify the same package though multiple plugins?

[2017-09-05 12:36] amercader commented on #3801
Hi @ggcatu
To minimize the number of issues on this repo we encourage you to submit questions and support requests like this one to the [ckan-dev mailing list](https://lists.okfn.org/mailman/listinfo/ckan-dev) or the [#ckan tag](http://stackoverflow.com/questions/tagged/ckan) on SlackOverflow.

You can also try on the [#ckan IRC channel](http://webchat.freenode.net/?channels=ckan) on freenode, whe

[2017-09-05 12:36] #3801 closed

[2017-09-05 12:36] #3768 closed

[2017-09-05 12:37] amercader commented on #3800
@ggcatu can you send a PR with the changes?

[2017-09-05 13:12] ggcatu commented on #3800
#3802

[2017-09-05 13:16] smotornyuk commented on #3797
There are few reasons([a lot of them](https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/Placeholder_Research)) that states, that placeholder and lablel are not interchangeable. But main concern is accessibility of the field, so label is almast always is desirable, even if it seems little bit redundant

[2017-09-05 13:22] #3800 closed

[2017-09-05 19:26] #3799 closed

[2017-09-06 13:46] lwm opened #3804 "Add a `--skip-failures` flag to `paster search-index rebuild`"
We some times get errors when running an entire dataset re-index (with `paster search-index rebuild`). We then resort to listing all of the datasets (using `paster dataset check`) and indexing them individually (using `paster search-index rebuild <dataset-id>` and some `| xargs -i {}` machinery).

It would be nice to be able to do `paster search-index rebuild --skip-failures` when rebuilding the e

[2017-09-06 13:53] lwm opened #3805 "Add json query interface for `paster dataset check`"
Since datasets with `private=True` are not indexed, running `paster dataset check` lists datasets that are not indexed, but will not be (by `paster search-index rebuild`) - so not so useful to see them. It would be nice to be able to pass `paster dataset check --query="private:False"` (or something like that!) so that when listing un-indexed datasets, we can specify some extra context.

If we're i

[2017-09-06 14:04] wardi commented on #3804
sounds good to me

[2017-09-06 14:18] lwm commented on #3805
I'm pretty new to CKAN, so maybe I'm wrong in my private=True assumption not being indexed?

[2017-09-06 14:39] lwm commented on #3805
So, after some more reading and I found https://github.com/ckan/ckan/commit/39a8c938bb62b0413f24264356e110a8be2ae985, it seems my assumption is incorrect.

That makes this feature request redundant then, I'll close :+1:

[2017-09-06 14:39] #3805 closed

[2017-09-06 19:29] lwm commented on #3804
Cool! I'll give it a shot then. \cc @martinburchell