[2018-04-20 10:18] #4146 closed

[2018-04-20 10:51] rp-21 opened #4198 "modifying row in ckan postgres db table from pgadmin, not reflecting in CKAN-UI"
### CKAN Version if known (or site URL)
2.6.0

### Please describe the expected behaviour
Upon Modifying db from postgres command-line changes must be reflected in CKAN front end UI and db sessions.

### Please describe the actual behaviour
Upon Modifying db from postgres command-line changes are not reflected in CKAN front end UI and db sessions.

### What steps can be taken to reproduce the issu

[2018-04-20 12:57] wardi commented on #4198
It's likely that you're still seeing data that was indexed in solr, so a `paster search-index rebuild` might work.

However, directly writing metadata to the postgres database isn't the supported way to integrate ckan with other systems. Instead try using the API. The API will maintain better compatibility across ckan versions and will make sure to update everything required after each call.

http

[2018-04-20 13:03] wardi commented on #3607
My original issue description was incorrect: The resource hash **is** set by datapusher unconditionally to the md5 of the file pushed, when it runs its jobs.

I'd like this field to be changed as described above but it will require either a new field or changes to datapusher. In my mind it's much nicer to compute the hash while a file is uploaded instead of depending datapusher pushing the same da

[2018-04-20 15:04] boykoc commented on #3503
Ran into this issue too, and the above didn't sink in right away so leaving this for others that may run into this as well and save them searching.

This issue came from running an older version of setuptools that's install for you during setup. I had to run the following to install a newer version mentioned in issue #3513
[code]

[2018-04-20 21:01] ply112 opened #4202 "Failed to add a new color scheme to CKAN website"
### CKAN Version if known (or site URL)
2.6.1

### Please describe the expected behavior
I followe the commands found online to add a new color scheme to our CKAN website.

1.	Activate the enviroment
. /usr/lib/ckan/default/bin/activate
cd /usr/lib/ckan/default/src	(if at root, cd to take you out of /root)
2.  Add new color
Option #1  (To run a paster command without activating the virtualenv firs

[2018-04-23 08:42] rp-21 commented on #4198
Hi @wardi
the old value is retained in the form even when i opened the dataset/resource for editing.

So I am thinking view page alone picks data from search index. but edit forms/actions fetch data from db sessions i suppose. correct me if i am wrong.

Any ways i will rebuild the index and see if it's the case.

[2018-04-23 09:07] amiedes commented on #3441
Hi, what's the status on a *sysadmin-only* access fix for this?

We have to do exactly this for one of our installations of CKAN and I was wondering if someone already implemented it somewhere or can we work on a PR to CKAN instead of doing it in one of our extensions.

[2018-04-23 09:34] anotheredward commented on #3441
If you have made the change @amiedes , then it's probably worth submitting :)

[2018-04-26 10:37] #4066 closed

[2018-04-26 13:52] amercader opened #4209 "Stable version URLs CKAN for documentation"
We are currently building the documentation for the different versions against the release tag, eg:

http://docs.ckan.org/en/ckan-2.7.3/
https://docs.ckan.org/en/ckan-2.6.5/

This is problematic because:

* We break the links to the documentation for a particular minor version on each release (eg #4185)
* Read the Docs won't allow you to rebuild the same tag even if you change it in the repo (whic

[2018-04-26 13:53] amercader commented on #4185
@xellos866 you are right, the way doc links work is a mess. We are going to fix it in #4209
cheers

[2018-04-26 13:53] #4185 closed

[2018-04-26 13:55] amercader commented on #4209
Further improvements like banners showing if a version is supported or master can be done separately

[2018-04-26 14:01] amercader commented on #4066
@metaodi this is now fixed on master and dev-v2.8 in case you want to test it against the extension that was not working

[2018-04-27 09:05] imdadable opened #4210 "Uploading Logo"
### CKAN Version if known (or site URL)
2.7.3

### Please describe the expected behaviour
When the logo gets uploaded, the logo should be inside `/var/lib/ckan/storage/uploads/admin`.

### Please describe the actual behaviour
When uploading a logo via `http:localhost:5000/ckan-admin/config`, the picture didn't get uploaded to `uploads/admin`
I go inside the storage volume and do not find the uploa

[2018-04-30 09:33] amercader commented on #4183
@knudmoeller great! Can you submit a PR?

[2018-04-30 11:17] amercader opened #4212 "Fix, document and rewrite tests for dataset relationships (or remove)"
A feature that has been part of CKAN since its early version but few people are aware of are dataset (package) relationships. These allow to relate datasets with different kinds of relationships. These can be managed via the API, including v3 (actions). We wrongly assumed that they were tested in the legacy tests but the tests were not run (see #4157).

We need to decide if it's worth keeping as f

[2018-04-30 11:47] amercader opened #4213 "Need to migrate to CircleCI v2.0"
Not sure what's the effort involved but this needs to be done before the end of August.

https://circleci.com/docs/2.0/migration/

[2018-04-30 13:59] torfsen commented on #4212
We currently do not use these, but I think there's a lot of potential in this feature, especially w.r.t. linked data. AFAIK, DCAT-AP recommends, for example, that different temporal realizations of the same data are released as separate datasets instead of separate resources in a single dataset -- i.e. two datasets "Weather Data 2016" and "Weather Data 2017" instead of one "Weather Data" dataset w

[2018-04-30 14:27] knudmoeller commented on #4183
I'm happy to! PR is ready to be submitted, but I'm wondering if I need to add test code for this?

[2018-04-30 16:06] rp-21 opened #4214 "ckanapi is deleting all resources under a dataset package when resource_update action is called"
### CKAN Version if known (or site URL)
2.6

### Please describe the expected behaviour
ckanapi should update all resources under a dataset package when resource_update action is called

### Please describe the actual behaviour
ckanapi is deleting all resources under a dataset package when resource_update action is called

### What steps can be taken to reproduce the issue?
python script using rem

[2018-04-30 16:10] wardi commented on #4214
This certainly doesn't sound like normal behaviour, I'm wondering if it's related to any extensions installed or other services connected to that instanced.

@rp-21 can you link to the script you're using and the site you're running this against? If you can't, then we'll need some way to reproduce the issue you describe (a minimal example would be perfect).

[2018-05-02 10:47] spikeheap opened #4216 "Flash message cannot be added when run within tests for plugin"
### CKAN Version if known (or site URL)
2.7.2

### Please describe the expected behaviour
Given an `IPackageController`-extending plugin with an `after_create` hook which uses flash messages
When I create a new dataset
The text passed to `helpers.flash_error` is displayed on screen
AND a test can be written to exercise this behaviour

### Please describe the actual behaviour
The flash message is d

[2018-05-02 10:51] spikeheap commented on #4216
This looks like we can't access the session object within the plugin code, just because we're in a test environment. Is there some setup required that's not in the docs?

[2018-05-02 10:57] spikeheap commented on #4216
In case it helps, we also have a more standard controller where this _isn't_ a problem:

[code]
So this issue appears to be isolated to the `IPackageController`

[2018-05-02 11:14] rp-21 commented on #4214
Hi @wardi thanks for responding.

I Figured it out. it's all because of a small flag "**_ckan_phase**" sent in request_data. controller/package.py -> **_save_edit** method will actually add a flag **allow_partial_update : True** in context to preserve existing resources under the package to be updated based on **_ckan_phase** in data_dict. this flag in context then is used by the action accordingl

[2018-05-02 11:16] #4214 closed

[2018-05-02 11:16] rp-21 commented on #4214
Hi @wardi thanks for responding.

I Figured it out. it's all because of a small flag "**_ckan_phase**" sent in request_data. controller/package.py -> **_save_edit** method will actually add a flag **allow_partial_update : True** in context to preserve existing resources under the package to be updated based on **_ckan_phase** in data_dict. this flag in context then is used by the action accordingl

[2018-05-02 12:15] amercader commented on #4216
Can you try to run the tests using the `FunctionalTestBase` helper object? That might help setting everything up correctly:

[code]

[2018-05-02 14:43] klikstermkd opened #4217 "Create concurrent resources for a dataset"
### CKAN Version if known (or site URL)
Tested on CKAN 2.6, 2.7 and 2.8.

### Please describe the expected behaviour
If for example 10 resources are created concurrently for 1 dataset through the REST API using the action `resource_create`, all resources should be created and have the field `state` set to `active`.

### Please describe the actual behaviour
If for example 10 resources are created c

[2018-05-02 15:12] JasminaPN opened #4218 "Fields and buttons on "Reorder Resource View " page are merged"
### CKAN Version if known (or site URL)
https://beta.ckan.org/

### Please describe the expected behaviour

The fields and buttons on "reorder resource view" page should not be merged.
### Please describe the actual behaviour
The fields and buttons on "reorder resource view" page should are merged. (please check the uploaded images)

### What steps can be taken to reproduce the issue?
beta.ckan.or

[2018-05-02 15:15] spikeheap commented on #4216
Hi @amercader, thanks so much for getting back to me.

Firstly, cheers for the much neater approach to structuring the tests. I'll be refactoring a fair bit now.

Changing to extend `FunctionalTestBase` hasn't resolved the issue, but it has helped me whittle it down a bit more.

Flash messages are working *fine* for standard page requests. The part that breaks is the factories, so in this case cal

[2018-05-02 15:29] wardi commented on #4217
in general it's not safe to update multiple resources on a dataset concurrently because `resource_create` is calling `package_update` which validates all dataset metadata fields and re-writes all fields, and there's no locking or enforced ordering on dataset updates implemented.

The client approach I've taken with ckanapi is to use `package_update` for all metadata including resource fields, then

[2018-05-02 15:41] rp-21 commented on #4217
Even in your case since all are getting added in dataset but some are in deleted state.
Run a seperate db query to update the state to active and then using paster rebuild-index rebuild the index vola all your datasets will be active.
A few extra steps is a small price to pay for depending on ckan.

Actually ckan should change this logic of indexing package and resources combinely for every resour

[2018-05-03 08:01] klikstermkd commented on #4217
The script I posted is part of a real project I am working on, which does not have access to the CKAN server, so it only communicates with it through the CKAN API.

As a temporary solution, I am using Python's `Lock` feature to only allow one thread at a time to create a resource, and once it's done release the lock and allow other threads to continue. This of course is not that fast since it is s

[2018-05-03 08:29] rp-21 commented on #4217
cool, although even if you run as multi-threaded.

mark the datasets/resources active from postgresql tools pgadmin or so.
UPDATE <resource/package> SET state='active' WHERE <Your Condition to pick recently added ones>

Then run the rebuild index command from ckan's virtual-env folder.
paster --plugin=ckan search-index rebuild --config=/etc/ckan/default/production.ini

This works.

[2018-05-03 08:49] #3823 closed

[2018-05-03 09:49] klikstermkd commented on #4217
@rp-21 As I said above, I don't have access to the database of the CKAN server.

[2018-05-03 12:40] amercader commented on #3923
Fixed in #3979

[2018-05-03 15:38] dmichelakis opened #4224 "'not_empty' validator does not allow file/link upload to CKAN storage when used in plugin.py"
### CKAN Version if known (or site URL)
2.7.3

### Please describe the expected behaviour
When the `not_empty` argument is used in toolkit.get_validator() object in the plugin.py of an extension to support custom resource schema the file/link is uploaded to the CKAN file_storage and the user is redirected to http://localhost:5000/dataset/dataset-name.

### Please describe the actual behaviour
When

[2018-05-03 23:09] camfindlay opened #4226 "Link to API docs for any version other than current patch sends user to 404 version docs"
This line at
https://github.com/ckan/ckan/blob/fa3462e374f80fece9df702bc63d9b645b430173/ckan/templates/package/search.html#L53

Adds the particular version of CKAN into the URL, problem is for example if you're running ckan-2.6.4 following this link will send the user to a 404 page as the documention system doesn't retain past version paths. For example http://docs.ckan.org/en/ckan-2.6.4/api/

Sug

[2018-05-04 06:42] tino097 commented on #4226
Please check #4209
you are welcome to contribute with PR

[2018-05-04 07:45] cclauss commented on #3592
Is this issue still open?

[2018-05-04 07:46] cclauss commented on #3119
Is this issue still open?

[2018-05-04 08:07] deinok commented on #4213
ref: #4060

[2018-05-04 08:34] cclauss commented on #3904
How do things stand on getting off these old dependencies?    Is there progress on this PR?
* https://requires.io/github/ckan/ckan/requirements/?branch=master

For the bot, https://pyup.io works well for me.

[2018-05-04 08:58] amercader opened #4228 "2.8 + patch releases tracker"
This is just an issue to track progress on the 2.8 and patch releases scheduled for Wed 9th May

[Full docs](http://docs.ckan.org/en/latest/contributing/release-process.html)

* [x] [Cherry-picks 2.8](https://github.com/ckan/ckan/labels/Pending%202.8.0)
     - [x] #4215 + #4225 (? if finished soon)
     - [x] Rest
* [x] Docs reorganization #4209
* [x] Pull translations
* [x] Rebuild Frontend
* [x]

[2018-05-04 13:18] amercader commented on #4226
Thanks for flagging this @camfindlay, I added the changes as part of #4231

[2018-05-04 13:18] #4226 closed

[2018-05-04 14:31] JasminaPN opened #4233 "Reorder Resource View" button is mising on beta.ckan.org - bootstrap 2"
### CKAN Version if known (or site URL)
beta.ckan.org - bootstrap 2

### Please describe the expected behaviour
"Reorder Resource View" button should be on Views page for the resource.

### Please describe the actual behaviour
Go to Dataset page of the portal
Create Dataset (metadata +add resource (data)
Click "edit" on the newly created resource
Go to "Views" tab from edit/resource
There should b

[2018-05-04 14:38] tino097 commented on #4233
same as #3765
fix was introduced to #3604 but probably missed porting to bs-2

[2018-05-04 20:06] jeff-at-h3 opened #4235 "default SOLR query not searching text"
### CKAN Version if known (or site URL)
2.7.2
Solr 7

### Please describe the expected behaviour
Using the search feature for datasets, providing text, eg. parks, returns datasets the have the work park (plus plurals) in the results.

### Please describe the actual behaviour
Our test env is using Solr 7 and our production env is using Solr 4.10, querying with 'park', there is no results with the s

[2018-05-06 20:08] wardi opened #4236 "datastore_search regression: total incorrect when distinct=true"
PR with test in progress

[2018-05-07 09:27] JasminaPN opened #4238 "On resource view page, clicking the "firescreen" and"
### CKAN Version if known (or site URL)

### Please describe the expected behaviour

### Please describe the actual behaviour

### What steps can be taken to reproduce the issue?

[2018-05-07 09:37] JasminaPN opened #4239 "On resource view page, clicking the features: "fullscreen" and 'embed" is displayed like tabs"
### CKAN Version if known (or site URL)

https://beta.ckan.org
### Please describe the expected behaviour
Clicking on "fullscreen" and "embed" should not be displayed as tabs.

### Please describe the actual behaviour

On resource view page, by clicking the "fullscreen" and 'embed" is displayed like tabs
### What steps can be taken to reproduce the issue?

[2018-05-07 09:38] JasminaPN opened #4240 "On resource view page by clicking the "embed" feature the box with info is opened and the title is very large"
### CKAN Version if known (or site URL)
https://beta.ckan.org

Steps to reproduce the issue:
On resource view page by clicking the "embed" feature the box with info is opened and the title is very large. It should be managed with a class modal title.

[2018-05-07 09:41] #4233 closed

[2018-05-07 09:49] #4238 closed

[2018-05-07 10:15] gocemitevski commented on #4239
@JasminaPN the problem here is that the Fullscreen and Embed buttons are missing the `.btn-default` CSS class.

[2018-05-07 13:44] jorgejeferson commented on #3085
I also went through this problem, the documentation does not speak, however we should change the line: `sqlalchemy.url = postgresql://ckan_default:pass@localhost/ckan_default` and put the user and password created for the postgress

[2018-05-07 13:58] #4218 closed

[2018-05-07 14:02] #4240 closed

[2018-05-07 17:17] #4239 closed

[2018-05-08 12:41] amercader commented on #4224
@dmichelakis I can't reproduce this using the plugin you pasted here. Can you paste or point to the source of your whole `resource_form.html` file? Maybe there is something missing there.

[2018-05-09 13:30] amercader commented on #4228
2.8 is out, thanks @tino097 for your work on this.

[2018-05-09 13:30] #4228 closed

[2018-05-09 13:34] wardi commented on #4228
great work guys!

[2018-05-09 17:18] boykoc commented on #4128
Confirming I get a similar error when creating database tables (step 6) with Solr Specification Version: 3.6.2.2015.11.20.05.14.33 and CKAN 2.7.3 on ubuntu 16.

Error after running db cmd (`paster db init -c /etc/ckan/default/development.ini`):

[code]

[2018-05-09 20:58] asarchami opened #4244 "Search on datastore returns nothing"
### CKAN Version if known (or site URL)
2.7.2

### Please describe the expected behaviour
I have a fairly large dataset ~75GB. We need to have a persistent URL to this resource and for that we cannot delete and recreate the resource. Right now we are using sql queries to write directly to database. We cannot use upsert because this dataset doesn't have a unique ID.  Every morning all records are d

[2018-05-09 21:17] wardi commented on #4244
You need your `_full_text` column populated with data for the datastore search to work. In CKAN 2.7 its data is created from within `datastore_upsert`, so you'll need to use the API for loading your data (`method=insert`) or populate `_full_text` from your SQL.

CKAN 2.8 comes with a trigger for loading `_full_text` data that does this job instead. If you can upgrade to 2.8 then you should be able

[2018-05-10 09:55] amercader commented on #4187
Backported

[2018-05-10 09:55] #4187 closed

[2018-05-10 12:33] ansh1221 opened #4245 "How can we integrate ckan with content management system like drupal on same host?"
### CKAN Version if known (or site URL)
2.7.2

### Please describe the expected behaviour
I wanted to integrate drupal with ckan ( not drupal inside ckan) . I am unable to figure it out as to how can I do it.

### Please describe the actual behaviour

### What steps can be taken to reproduce the issue?
Installed ckan 2.7.2
Cms like drupal on same host.
And under one tab like data in drupal. I have

[2018-05-10 12:44] dmichelakis commented on #4224
That is strange; the resource_form.html follows: The only change in it is the form as also pasted in my previous message

[code]

[2018-05-10 12:57] dmichelakis commented on #4224
The log while performing the action is also included here if that helps.

[code]

[2018-05-10 13:15] asarchami commented on #4244
Thanks. I think we can move to 2.8.

[2018-05-10 17:13] ansh1221 commented on #4245
@amercader can you help me with this. your help would mean a lot.

[2018-05-10 22:23] ply112 opened #4246 "User login no longer times out after installation of CKAN LDAP plugin"
### CKAN Version if known (or site URL)
2.6.1

### Please describe the expected behaviour
User logins on CKAN should time out in accordance to the time-out parameter set in the configuration file.  After the installation of the CKAN LDAP plugin, we expect the user login to time-out accordingly.

### What steps can be taken to reproduce the issue?
User logs in and the account is never timed out.

#

[2018-05-11 02:16] ashleysommer opened #4247 "'_Globals' has no attribute 'user' : exception when using an IAuthenticator on CKAN 2.8.0"
I'm putting together a new deployment based on the new CKAN v2.8.0 release. I'm using ckanext-ldap as an authenticator, though it looks like this bug would apply to any authenticator plugin.
This exact setup worked fine on CKAN v2.7.3.

### CKAN Version if known (or site URL)
CKAN v 2.8.0
ckanext-ldap @ `ckan-upgrade-2.8.0a`

### Please describe the expected behaviour
If the IAuthenticator plugin

[2018-05-11 07:15] dkelsey commented on #4235
We have an extension that was injecting ```{!lucene q.op=AND}``` into the query.
The search query that resulted from a query for `park` was ```{!lucene q.op=AND}park```.
This was failing to return results.
I removed the _injection_ of ```{!lucene q.op=AND}``` and the issue appears to be resolved.
We'll be testing to assert that this **does** resolve the issue.

[2018-05-11 09:43] dmichelakis commented on #4224
I am closing this; this was a clash between extensions. The functionality works as expected. Apologies.

[2018-05-11 09:43] #4224 closed

[2018-05-11 12:04] ansh1221 commented on #4245
@wardi

[2018-05-11 13:09] groundrace commented on #3648
@wardi Having total views and recent views data on the dataset list seems to me really usefull indeed I'm actually using on the CKAN instances I manage. Upgrading to the recent 2.8.0 looks like in the SOLR data_dict field the tracking_data for both the dataset and resources isn't properly stored. I've just patched my 2.8.0 and if needed I can submit a pull request to have it re-enabled

[2018-05-11 13:15] wardi commented on #3648
@groundrace yes please

[2018-05-14 08:52] #3579 closed

[2018-05-14 09:19] #4153 closed

[2018-05-14 09:35] TkTech commented on #3673
I'm in favor of only officially supporting recent versions of Solr with the next release. Solr has been pushing breaking update versions too quickly for us to support a wide range of versions perpetually.

Version 6.6.* is stable and trivial to install from the Solr site. Solr maintainers seem to be behind with debian and most other distros being stuck on 3.6.2. Our documentation and packages shou

[2018-05-14 20:28] asarchami commented on #4150
I updated to 2.7.4 and I still see the issue. Problem is not resolved

[2018-05-14 20:41] wardi commented on #4150
@asarchami so you're testing on a local copy (data.illinois is still running 2.7.2)? Are you still seeing repeated and missing rows in the dumped output?

[2018-05-14 21:49] asarchami commented on #4150
The link I provided above is on our production and its updated to 2.7.4. That specific resource I can't touch but if you download and filter it you can still see duplicates. I am also testing it in our QA and still having same issue.

[2018-05-15 09:18] leonardoporpora opened #4252 "SQLi?"
Can someone reply to my email sent to the security team my mail is leonardo.porpora@firewake.org
I have probably found an SQLi
Let me know

[2018-05-15 11:41] amercader commented on #4252
Thanks @leonardoporpora, your email was in the moderation queue. We'll come back to you via email.

[2018-05-15 11:41] #4252 closed

[2018-05-15 12:00] smotornyuk commented on #4245
Yep, sorry for delay.
You can use ckan api if you want to manage/display CKAN's data via drupal. As for making it available for user to visit both drupal and CKAN instance - make drupal available at the root of your host and attach ckan in under some path(i think, `/data` is the most popular choice) . The way of doing this may be slightly different for different servers. But if you came with this

[2018-05-15 12:27] amercader commented on #4246
@ply112 Do you mean the [`who.timeout`](http://docs.ckan.org/en/2.8/maintaining/configuration.html#who-timeout) setting? If this is working in a plain CKAN install but not with the LDAP extension enabled please open an issue in the [ckanext-ldap](https://github.com/NaturalHistoryMuseum/ckanext-ldap) repo. Thanks!

[2018-05-15 12:27] #4246 closed

[2018-05-15 20:44] wardi commented on #4150
https://data.illinois.gov/api/action/status_show is still showing 2.7.2, are you sure it's been updated?

[2018-05-16 07:09] imdadable opened #4253 "Deployment wsgi error"
### CKAN Version if known (or site URL)
2.8

### Please describe the expected behaviour
After following the [documentation](http://docs.ckan.org/en/2.8/maintaining/installing/deployment.html), apach2 should serve ckan app.

### Please describe the actual behaviour
But I'm getting Apache2 ubuntu default page. Although I have disabled the default conf as per the instructions in the documentation. Th

[2018-05-16 09:56] WterBerg opened #4255 "Installation instructions for 2.7.4 actually install 2.7.3"
### CKAN Version if known (or site URL)
2.7.4

### Please describe the expected behaviour
The installation instructions for CKAN version 2.7.4 mentions and installs CKAN version 2.7.4

### Please describe the actual behaviour
Following the 'Install CKAN from source' instructions the documentation still states that 2.7.3 is the latest stable version and the terminal command downloads CKAN 2.7.3 (ht

[2018-05-16 10:15] amercader commented on #4255
Ups, thanks for flagging @WterBerg , we'll fix this asap

[2018-05-16 19:10] asarchami commented on #4150
Problem is fixed. It was my update process! Thanks. It wasn't fully updated to 2.7.4

[2018-05-16 19:10] #4150 closed

[2018-05-16 19:11] wardi commented on #4150
Huzzah!

[2018-05-16 19:42] #4244 closed

[2018-05-16 19:55] asarchami commented on #4244
How do you use `_full_text`. How can I update my data to use postgres full text search?

[2018-05-17 07:41] jamesnguyen259 commented on #3758
i also have the same problem. anyone know how to fix it? i can't use DataStore for preview dataset anymore after upgrading CKAN from 2.7.3 to 2.8.0

[2018-05-17 08:13] vicding-mi opened #4259 "after restart of docker package_list and package_search give different result"
http://ckan:5000/api/3/action/package_list gives different result than http://ckan:5000/api/3/action/package_search?q=organization:org_test
When the search on all the organisations returning nothing, the package_list should return nothing as well. But it is not the case.

### CKAN Version if known (or site URL)
2.9.0a

### Please describe the expected behaviour
After restart of the docker images,

[2018-05-17 21:00] klikstermkd opened #4260 ""New view" button does not work"
### CKAN Version if known (or site URL)
2.8

### Please describe the expected behaviour
If the portal is in Bootstrap 2 mode, the "New view" button located in the "Views" tab for a resource, when clicked it should give a list of possible views to create.

### Please describe the actual behaviour
If the portal is in Bootstrap 2 mode, the "New view" button located in the "Views" tab for a resource,

[2018-05-20 20:43] terchris opened #4261 "ckan API organization_update require all fields to be updated when you need to update just one"
### CKAN Version if known (or site URL)
2.7.3

### Please describe the expected behaviour
Im creating a javascript interface that uses ckan as the backend.

I need to update a organization and I see that organization_update is the same as organization_create
http://docs.ckan.org/en/latest/api/#ckan.logic.action.update.organization_update

This is a problem when I need to just update one of the fie

[2018-05-20 22:13] tino097 commented on #4261
@terchris i guess you need to use http://docs.ckan.org/en/latest/api/#ckan.logic.action.patch.organization_patch

[2018-05-21 22:30] tom--lee commented on #4212
Just one perspective: I am working on a CKAN site to catalogue the input and output of molecular simulations. These simulations are often broken up into consecutive chunks, of which there can be 10s to 100s, each with its own inputs and outputs (approx. 5-10 files). I'm leaning towards making each chunk it's own dataset and linking them through tags. Relationships would probably offer a better app

[2018-05-22 12:01] tino097 opened #4262 "Upload logo is not working"
### CKAN Version if known (or site URL)

2.8+
### Please describe the expected behaviour
When uploading logo from config page, we should see new logo on the portal

### Please describe the actual behaviour
Logo is not uploaded

### What steps can be taken to reproduce the issue?
Go to
https://beta.ckan.org/ckan-admin/config

Upload an image
Update config

[2018-05-22 12:26] amercader commented on #4260
@klikstermkd can you have a look and see if it's an easy fix?

[2018-05-22 12:29] klikstermkd commented on #4260
@amercader Yes I will.

[2018-05-22 12:33] wardi commented on #4259
Sounds like the solr image is being wiped when you restart. @vicding-mi would you try adding a volume for solr to https://github.com/ckan/ckan/blob/master/contrib/docker/docker-compose.yml and see if that helps for your configuration?

[2018-05-22 17:21] jguo144 opened #4263 "Dataset license links from www.opendefinition.org are broken"
### CKAN Version if known (or site URL)
2.7+

### Please describe the expected behaviour
When on a dataset page, clicking on the license link on the left should direct users to a page with an overview of the license.

### Please describe the actual behaviour
The urls for licenses from www.opendefinition.org are broken. For example the link for Creative Commons Attribution is http://www.opendefinit

[2018-05-23 04:31] Aaron-M opened #4264 "Broken links in CKAN footer"
### CKAN Version if known (or site URL)
CKAN 2.7.2, https://datastore.landcareresearch.co.nz/

### Please describe the expected behaviour
At the foot of the page we have the standard About, CKAN API, and CKAN Association links, as we have always had.  Clicking on the CKAN API link should take you to documentation about the API, and the CKAN Association link to the CKAN website.

### Please describ

[2018-05-23 07:27] WterBerg commented on #4255
Something changed and all versions of the installation instructions now point to the latest stable ( 2.8.0 ). Is this intentional? I would expect the instructions for CKAN 2.6.6 to install CKAN 2.6.6.

[2018-05-23 09:58] amercader commented on #4264
Hi @Aaron-M we have changed the documentation URLs to be stable across releases (ie http://docs.ckan.org/en/ckan-2.7.2/api/ -> http://docs.ckan.org/en/2.7/api/). If you upgrade to the latest patch release (2.7.3) the API link should be fixed.

http://www.ckan.org/ should now work as well

Feel free to reopen if there is still an issue.

[2018-05-23 09:58] #4264 closed

[2018-05-23 10:10] amercader commented on #4263
Thanks @jguo144, that was a misconfiguration in the opendefinition.org domain, it is now fixed.

[2018-05-23 10:10] #4263 closed

[2018-05-23 12:19] amercader commented on #4255
No, @WterBerg this is not working as expected, there is a problem with the variables being used in the docs. As you say they should display the latest patch release for that minor version (ie 2.6.6). We need to fix this.

[2018-05-23 13:26] wardi commented on #4244
no, if the datasets already exist you can just run the datastore set-permissions command (as it says in the upgrade docs)

If your tables are currently missing values in their _full_text columns you'll need to call the `datastore_run_triggers` action to force an update.

[2018-05-23 13:59] asarchami commented on #4244
Thanks

[2018-05-23 16:51] vicding-mi commented on #4259
I added a volume, but the problem was still there. And there is another issue, not sure if I can mention it here or better start another thread. I will briefly mention anyway.

When I try to click on one of the organizations (like organization_test_1) I get 500 error. Please see the screenshot below
<img width="303" alt="screen shot 2018-05-23 at 18 49 46" src="https://user-images.githubuserconten

[2018-05-24 13:27] wardi commented on #4259
I think this is a problem with your particular set-up. reindexing your datasets with `paster search-index rebuild` might help.

To minimize the number of issues on this repo we encourage you to submit support requests like this one to the ckan-dev mailing list or the #ckan tag on SlackOverflow.

You can also try on the #ckan IRC channel on freenode, where other developers may be able to help you.

[2018-05-24 13:27] #4259 closed

[2018-05-24 22:47] terchris opened #4267 "cannot purge a deleted organization"
### CKAN Version if known (or site URL)
2.7.3

### Please describe the expected behaviour
I'm doing import from a crm system so that one customer is a organization in ckan.
During development I need to delete all organizations in ckan and do a new import.

I see that just deleting the organizations using the web interface is not enough. It just changes the status to deleted on the organization.

W

[2018-05-25 13:04] WterBerg commented on #4267
You *may* be able to recover the organization ids by reviewing `(GET) /api/3/action/user_activity_list?id={{user_id that created the organization}}`. This list doesn't appear to contain activity events for the deletion of organizations however. But it does contain the id of the created organization, which you can then use for `(POST) /api/3/action/organization_purge`.

I know of no way to list the

[2018-05-25 13:14] antoniopadez opened #4268 "Create and configure datastore database"
### CKAN Version if known (or site URL)
Latest image from docker Ckan

### Please describe the expected behaviour
I'm trying create the datastore database and the datastore readonly user in the db container with this commands:

[code]
But when i execute the built-in setup scripts against the db container and run the first command i have this error:

[code]

### Please describe the actual behaviour

[2018-05-25 13:39] fvanderbiest commented on #3991
There is no `00_create_datastore.sh` file indeed.

The [doc](https://github.com/ckan/ckan/blob/2.8/doc/maintaining/installing/install-from-docker-compose.rst#3-datastore-and-datapusher) requires an update. Can someone have a look ? Thanks

[2018-05-25 13:53] #4262 closed

[2018-05-27 17:10] arifulhaqueuc commented on #3255
Same issues faced in building Python/Flask app in Ubuntu 16.04

[2018-05-30 11:30] amercader commented on #4255
@tino097 can you add this to your list? one of the variables set in `doc/conf.py` probably needs to be cahnged to use the branch that the docs are on rather than the latest one.

[2018-06-04 11:33] frbattid opened #4270 "demo.ckan.org fails when using datastore_search"
### CKAN Version if known (or site URL)
I'm using CKAN running at `demo.ckan.org`.

### Please describe the expected behaviour
Once a resource has been uploaded to CKAN, I expect to search for data using CKAN REST API. Specifically, `datastore_search`.

### Please describe the actual behaviour
CKAN always return:

[code]

### What steps can be taken to reproduce the issue?
At `demo.ckan.org` creat

[2018-06-04 15:56] rossjones opened #4271 "Unable to pip install ckan"
### CKAN Version if known (or site URL)

2.8.0

### Please describe the expected behaviour

I tried `pip install ckan` so that my linter would stop complaining (my actual ckan is in a VM) and I expected it to install CKAN.

### Please describe the actual behaviour

It appears that requirement-setuptools.txt is not part of the pypi package.

[code]

### What steps can be taken to reproduce the issu

[2018-06-04 19:00] rossjones commented on #4271
I worked around this by downloading https://files.pythonhosted.org/packages/70/aa/b76a115c256b9cd3ccfe166e04949f0b1dcbde36133025f97535c1a8b942/ckan-2.8.0.tar.gz extracting and tweaking the setup.py to remove the requirement-setuptool check.

It is possible to specify the setup tools dependency in the setup.py instead of a separate file?

[2018-06-05 12:24] amercader commented on #4271
This should do the trick to include the file in the packaged version:

[code]

We don't really test installing via `pip install ckan` but if it helps feel free to send a PR with the change. If I'm not mistaken this won't install the requirements either, what's your use case @rossjones ?

[2018-06-05 12:26] amercader commented on #4270
`datastore_search` seems to be working fine:

https://demo.ckan.org/api/3/action/datastore_search?resource_id=04127ad5-77e5-4a08-9f40-12d3c383e460&limit=5

@frbattid Are you replacing `resource-id` with the actual resource id (ie a UUID)?
Is it happening with a particular file? Perhaps it contains an error and the file is not being uploaded to the DataStore.

[2018-06-05 12:42] frbattid commented on #4270
Thanks for replying.

For instance, it happens with this resource: https://demo.ckan.org/dataset/usal-test-dataset-error/resource/9f10a482-dc79-46fa-8a0c-494a592c442f

By the way, CKAN yesterday was able to visualize it, but not today.

The REST API tells me:

[code]

Nevertheless, I agree it works for other resources I have.

[2018-06-05 12:45] JasminaPN opened #4272 "The "License" Icon in 2.8 is wrong"
### CKAN Version if known (or site URL)
beta.ckan.org (CKAN 2.8)

### Please describe the expected behaviour

The "License" icon should be like a padlock. Please check the following image:
![licence icon 1](https://user-images.githubusercontent.com/23238850/40976334-276e931a-68ce-11e8-907c-24c276475c28.PNG)

### Please describe the actual behaviour
The "License" icon is wrong. Please check the att

[2018-06-05 12:51] JasminaPN opened #4273 "Search - input- border color is overly specific in CSS (CKAN 2.8)"
### CKAN Version if known (or site URL)
beta.ckan.org (CKAN 2.8)

### Please describe the expected behaviour
search - input- border color is overly specific in CSS. It should not have been overridden from .form-control
### Please describe the actual behaviour
Please check the following image:
![screenshot from 2018-06-05 14-17-53](https://user-images.githubusercontent.com/23238850/40976960-e8f0578

[2018-06-05 13:43] amercader commented on #4270
There's nothing wrong with the file, I've downloaded the resource and uploaded to my local instance and it worked fine (the DataPusher uploaded it to the DataStore). Going to Resource page > Manage > DataStore will give you the error that the DataPusher is returning.
I can reproduce the error on demo, it's returning a 403 error, so I suspect it's something related to the particular setup of the fi

[2018-06-06 02:35] ibaidaTaha commented on #3085
have you found a soultion for this error?, since i am facing it.

[2018-06-06 08:12] rossjones commented on #4271
PR sent.  I have a few particular use-cases:

* When working in a VM, my editor's linter will not work unless it can `import ckan.plugins.toolkit`.  I'd rather just pip install CKAN so that it be can loaded locally by my editor.

* When working on an extension, that doesn't require me to make changes to CKAN, I'd rather pip install CKAN rather than do a source install.

The second case isn't solve

[2018-06-06 13:06] stefina opened #4277 "Remove shell=True from subprocess calls"
### CKAN Version if known (or site URL)
CKAN 2.7.3+

### Please describe the expected behaviour
Remove unneeded subprocesses with shell=True.
Otherwise I would appreciate an explanation why shell=True must be set as a comment.

### Please describe the actual behaviour
In a recent security audit/code review performed on one of our client installations the following findings are considered harmful d

[2018-06-06 13:06] stefina opened #4278 "Unsecure SQL-Queries"
### CKAN Version if known (or site URL)
CKAN 2.8 and earlier

### Please describe the expected behaviour
Use parameterised SQL-Operations.

### Please describe the actual behaviour
In a recent security audit/code review performed on one of our client installations the following findings are considered harmful due to potential SQL-Injections.

Mainly these occurrences were found in the Migration-Sc

[2018-06-06 13:22] stefina opened #4279 "Jinja2 Autoescape Default-Setting"
### CKAN Version if known (or site URL)
CKAN 2.8 and earlier

### Please describe the expected behaviour
Set autoescape explicitly to True.

### Please describe the actual behaviour
In a recent security audit/code review performed on one of our client installations the following findings are considered harmful due to potential Cross-Site-Scripting-Vulnerabilities.

Jinja2 sets autoescape to False

[2018-06-06 13:31] amercader commented on #4278
Hi @stefina, many thanks for your report. In general please report any security related issues to security@ckan.org rather than creating a public issue.

I'm keeping this issue as is because, while the queries should definitely be updated, I don't think they present any immediate danger, as they aren't using any user provided input as parameter. For instance, the `DELETE` query is using the table

[2018-06-06 15:48] rossjones commented on #2255
Is this all resolved by https://github.com/ckan/ckan/tree/master/contrib/docker now ?

[2018-06-06 15:49] rossjones commented on #2239
I can't see a way around this, and it looks like isn't biting anybody else, so this is safe to close.

[2018-06-06 15:49] #2239 closed

[2018-06-06 16:14] rossjones commented on #2306
I think it's safe to close this issue now.

[2018-06-06 16:16] rossjones commented on #4273
@JasminaPN Is this something you're intending to submit a PR for?   If not do you have a way of describing what the fix is so that someone looking for a first contribution could take a look.

[2018-06-06 16:32] TkTech commented on #4279
The code segment you have linked is not at all involved with user-facing input or output and is used to generate on-disk template files from paster. The exclusion of safe strings is intentional.

[2018-06-06 16:32] #4279 closed

[2018-06-06 16:36] TkTech commented on #4278
Also to mention table names cannot normally be passed as parameters to compiled statements, as is the case with the DELETE example given. It can however be bound with text().

[2018-06-06 16:38] gocemitevski commented on #4273
@rossjones I will submit a PR. @JasminaPN is just reporting the issue.

[2018-06-06 19:42] amercader commented on #4279
@stefina To give more context, this template renderer is used when bootstrapping a CKAN extension with the command:

[code]

The extension files are generated from static templates located in [this folder](https://github.com/ckan/ckan/tree/master/ckan/pastertemplates/template) and the autoescaping is needed to properly render them.

[2018-06-07 07:29] rossjones commented on #2446
Closing this ticket due to inactivity.  Suspect the tutorials_* tickets should be in https://github.com/ckan/ideas-and-roadmap

[2018-06-07 07:29] #2446 closed

[2018-06-07 07:38] rossjones commented on #2211
Closing this issue due to inactivity.  There are plenty of discussions elsewhere I believe about params and context.

[2018-06-07 07:38] #2211 closed

[2018-06-07 07:41] #2306 closed

[2018-06-07 07:49] rossjones commented on #2323
Is this something you're still interested in doing, I realise it's a bit of an old ticket.

There are a few things that it would be useful to be able to include from extensions, and I wonder if it might be something that could be done as part of something like https://github.com/ckan/ideas-and-roadmap/issues/113 ?

If you think this isn't really an issue any more, lemme know and I'll close it.

[2018-06-07 07:53] rossjones commented on #2333
This issue (Solr versions) is being discussed in https://github.com/ckan/ckan/issues/3673 so I'm going to close this ticket (due to inactivity) - please contribute on the other issue if this is still causing you problems.

[2018-06-07 07:53] #2333 closed

[2018-06-07 08:04] rossjones commented on #2492
The associated PR was merged, so closing.

[2018-06-07 08:04] #2492 closed

[2018-06-07 08:07] rossjones commented on #2609
The associated PRs are all merged now, closing this ticket.

[2018-06-07 08:07] #2609 closed

[2018-06-07 08:10] rossjones commented on #2482
This appears to have been fixed by https://github.com/ckan/ckan/pull/2503
If this is not the case, please re-open this ticket.

[2018-06-07 08:10] #2482 closed

[2018-06-07 08:14] rossjones commented on #2628
The associated PR looks okay, but needs tests.

[2018-06-07 09:04] gocemitevski opened #4283 "Site logo image does not scale down when very large"
### CKAN Version if known (or site URL)

~~CKAN 2.8 with Bootstrap 3~~ All versions of CKAN

### Please describe the expected behaviour

When a large logo image is used, it should scale down to a maximum set height.

![screenshot from 2018-06-07 10-58-47](https://user-images.githubusercontent.com/359855/41089557-6b579e1c-6a42-11e8-9a88-c7cb63b9720d.png)

### Please describe the actual behaviour

W

[2018-06-07 11:48] stefina commented on #4279
That makes sense to me! Thank you for clarifying that :)

[2018-06-07 11:53] stefina commented on #4278
@amercader Thank you for pointing out how to submit security-issues in future, will keep that in mind for next time.

Both your explanations confirm our assumption that those findings are not critical as is.

[2018-06-07 13:05] #4255 closed

[2018-06-07 13:11] #4272 closed

[2018-06-07 13:12] #4273 closed

[2018-06-07 13:22] tino097 commented on #3991
Fixed in #4274

[2018-06-07 13:22] #3991 closed

[2018-06-07 21:05] ply112 opened #4287 "WebApp Error: <class 'ckan.logic.NotFound'>: Resource "...resource id...." was not found."
### CKAN Version if known (or site URL)
2.6.1

### Please describe the expected behaviour
A package is successfully created and two resources are added.  If one wants to go back and add a description for one of the resources, he can simply click on "Explore" and then "Edit" to go back to that resource, add a description for that resource, and then click [Update Resource].

### Please describe the

[2018-06-08 08:38] #2293 closed

[2018-06-08 10:21] amercader commented on #4060
This roadmap looks really sensible. I guess the next step is #4213 @deinok @cclauss is any of you up for that ? :)

[2018-06-08 12:46] deinok commented on #4060
Yeah, also CircleCI 1.0 will be shutdown at the end of the summer i think.

[2018-06-08 12:48] deinok commented on #4060
@amercader I supose I have your confirmation to start executing the steps above.
I will start working on on this, this weekend

[2018-06-08 12:50] deinok commented on #4060
@amercader Can we close all other Issues related on CircleCI and start using this as a meta-issue, so we can centralize the roadmap of CircleCI related issues?

[2018-06-08 16:34] jguo144 opened #4288 "Validation Error on datastore_search when sorting timestamp fields"
### CKAN Version if known (or site URL)
2.7+

### Please describe the expected behaviour
The datastore_search API should be able to perform a distinct or sort on fields with a timestamp data type. A data table or data explorer resource view should be able to reorder rows based on a timestamp field.

### Please describe the actual behaviour
A validation error is returned from the datastore_search A

[2018-06-08 16:39] dreadlocked opened #4289 "-"

[2018-06-08 16:57] #4289 closed

[2018-06-11 07:56] #4283 closed

[2018-06-11 15:25] wardi commented on #4288
`datastore_search` needs some expanded tests to cover this case and a bunch of other combinations of types, sorting and records_format values to catch all the edge cases

[2018-06-11 18:15] jorgejeferson commented on #1810
I'm going through the same problem, has anyone worked with this?

[2018-06-12 10:47] tino097 commented on #4070
After some time debugging i located the following [line](https://github.com/ckan/ckan/blob/master/ckan/lib/dictization/model_dictize.py#L110) causes the bug and fully qualified url is stored in the DB instead of just the file name.

[2018-06-12 11:19] amercader opened #4291 "Run the development server using Werkzeug"
As we transition to Flask, besides migrating the controllers we need to start picking up other tools from its ecosystem. As it surfaced in #4257 in order to get the debugger pages working on requests served by Flask we will need to switch from the Paster development server (`paster serve`) to a Werkzeug-based one. This will enable the debugger on Flask requests (and is probably more performant tha

[2018-06-12 12:23] smotornyuk commented on #4268
*[root@localhost ansible]# docker exec -it ed3e8bdb6f70 bash* <- now you connected to image console
*root@ed3e8bdb6f70:/# docker exec -it db psql -U ckan -f 00_create_datastore.sql* <- this won't work, because you are running this  comand from one of your docker image.

if you check [docs](http://docs.ckan.org/en/2.8/maintaining/installing/install-from-docker-compose.html#datastore-and-datapusher)

[2018-06-12 12:56] amercader commented on #4287
@ply112 can you share what extensions do you have enabled? Maybe one of them is interacting with the datastore tables and creating a race condition.

In any case perhaps it would be a good a idea to put a safeguard in place on the helper that triggered the error (although obvs this only masks the issue):

[code]

[2018-06-12 12:57] amercader commented on #4291
Rather than using a paster command, use a new `ckan serve` command that we can keep going forward.

[2018-06-13 14:14] lucpao opened #4292 "Publich dataset from Database view"
### Please describe the expected behaviour
I want to connect ckan to a view of an external database and publish it. Is is possible? Alternatively, I would like to load the data of my view into the internal database and pulish it.

[2018-06-13 14:36] #4292 closed

[2018-06-13 20:10] ply112 commented on #4287
This is what we have in the configuration file:

ckan.plugins = stats text_view image_view recline_view datastore datapusher ldap apihelper datasetversions pdf_view

Any clue?  Thanks.

[2018-06-14 20:13] #4070 closed

[2018-06-15 12:03] amercader commented on #3675
Closing this in favour of #4088 as there are more details there

[2018-06-15 12:03] #3675 closed

[2018-06-18 20:53] jqnatividad commented on #3422
Any chance the "quick & dirty" paster command to clean up orphaned datastore tables that @metaodi put together will be folded into core?

[2018-06-18 20:59] metaodi commented on #3422
@jqnatividad if there is a need, I can create a PR with the command for this repository.

[2018-06-19 10:22] datagovlvlv opened #4294 "Bug in resource description field"
"ckan_version": "2.6.0"

In catalog typing text in the data resource description box, for example "2017. data", the text is not displayed correctly - it appears as "annual data" in the data view, but in the file view as "Year 1 data"
_(You can see the pictures below)_

![2_data view](https://user-images.githubusercontent.com/39514280/41591798-6e64a674-73c3-11e8-901a-0ed2c72e0293.gif)
![3_file_view

[2018-06-19 12:17] amercader commented on #4294
@datagovlvlv The description field supports Markdown syntax. Markdown will interpret any number followed by a period (`.`) as an ordered list and create a list item starting with 1. Try removing or changing the period for another character.

Let me know if this makes sense.

[2018-06-19 12:17] #4294 closed

[2018-06-19 16:31] terchris opened #4295 "jetty upgraded - need to update install doc"
### CKAN Version if known (or site URL)
2.8

### Please describe the expected behaviour
Installing from package http://docs.ckan.org/en/latest/maintaining/installing/install-from-package.html

The "3. Install and configure Solr" does not apply. Installing now will install version 9 and not version 8 of jetty.

### Please describe the actual behaviour
In "Edit the Jetty configuration file" refers t

[2018-06-19 21:55] TkTech commented on #4294
You can also escape the period. `1\.` will not create a list. Not terribly intuitive but it works.

[2018-06-21 12:46] amercader commented on #4295
On what operating system are you finding this?

[2018-06-21 18:24] jqnatividad opened #4298 "Sorting on timestamp columns doesn't work on Add Filter and Datatables"
### CKAN Version if known (or site URL)
2.7.3

### Please describe the expected behaviour
When 1) creating a filter or 2) datatable sorting a timestamp column as declared in the associated resource data dictionary, you expect 1) to get a sorted timestamp list on the filter, or 2) the datatable is sorted by date order.

### Please describe the actual behaviour
For 1), you get a spinner that never r

[2018-06-21 20:15] jqnatividad opened #4299 "Intermittent LazyJSON errors when calling datastore_search"
### CKAN Version if known (or site URL)

2.7.3

### Please describe the expected behaviour

Doing a valid datastore_search API call returns a valid result.

### Please describe the actual behaviour

Intermittently, you get a 500 error.

Looking at the error log, you'd see something like:

``
[Thu Jun 21 20:08:35.599547 2018] [:error] [pid 15204:tid 140389726643968] [remote 127.0.0.1:24846] Error -

[2018-06-22 09:47] rp-21 opened #4300 "BDB0087 DB_RUNRECOVERY: Fatal error, run database recovery -- BDB0060 PANIC: fatal region error detected; run recovery"
### CKAN Version if known (or site URL)
2.6.*

### Please describe the expected behaviour
Any Page accessed must not have any error

### Please describe the actual behaviour
getting 500 internal server error occasionally.
on checking the logs below error is captured.
DBRunRecoveryError: (-30973, 'BDB0087 DB_RUNRECOVERY: Fatal error, run database recovery -- BDB0060 PANIC: fatal region error detect

[2018-06-22 10:32] TkTech commented on #4300
Doesn't really have anything to do with CKAN, you're just noticing it on CKAN. Other programs on your system are likely failing. One of the many, many, many tools on your system that use the Berkley DB are failing. Could be IMAP, LDAP, yum, rpm, etc...

[2018-06-22 10:32] #4300 closed

[2018-06-22 10:43] rp-21 commented on #4300
i think so
using saml mode for ldap
below is the complete log

[Thu Jun 21 11:49:13.932445 2018] [wsgi:error] [pid 12134] [client 10.164.136.100:32406] 2018-06-21 11:49:13,931 ERROR [saml2.s2repoze.plugins.sp] Exception: (-30973, 'BDB0087 DB_RUNRECOVERY: Fatal error, run database recovery -- BDB0060 PANIC: fatal region error detected; run recovery')
[Thu Jun 21 11:49:13.932470 2018] [wsgi:error] [

[2018-06-22 11:45] davidread commented on #4298
This is very similar to #4288

[2018-06-22 13:54] terchris commented on #4295
Did a fresh install in google cloud VM.
name -a
[code]
ls -l /etc/default/je*
[code]
cat /etc/default/jetty9
[code]

[2018-06-22 14:39] jqnatividad commented on #4298
Managed to triage this issue, and get it to work by commenting out the to_json for timestamps

https://github.com/ckan/ckan/blob/master/ckanext/datastore/backend/postgres.py#L1683-L1684

[2018-06-22 22:18] jqnatividad commented on #4299
Triaged this by modifying lazyjson.py

https://github.com/ckan/ckan/blob/ckan-2.7.3/ckan/lib/lazyjson.py#L30

[code]
to

[code]

[2018-06-23 16:15] wardi commented on #4299
Do you have a full traceback? what version of simplejson?

[2018-06-23 16:18] wardi commented on #4298
I am working on this on #4288, @jqnatividad just for reference which version of postgres is this on?

[2018-06-24 13:48] wardi commented on #4298
fixed by #4288

[2018-06-24 21:45] jqnatividad commented on #4298
We're using Postgres 9.5.12 on RDS.  FWIW, we plan to move to AWS Aurora with the Postgres 9.6.6 engine next month.

[2018-06-24 22:10] jqnatividad commented on #4299
Here's some more from the logfile:

[code]
To replicate the error, I rolled back the change above so its using lazyjson again.  If you go to
http://cnrabk.ogopendata.com/dataset/periodic-groundwater-level-measurements/resource/bfa9f262-24a1-45bd-8dc8-138bc8107266
and then Add Filter on COOP_ORG_NAME, and then keep paginate loading values and not do anything else, you'll eventually get a 500 error

[2018-06-24 22:28] wardi commented on #4299
I tried paginating through COOP_ORG_NAME and I get down to about page 15 then I don't get a server error but I do get the endless ajax loop that is fixed by #4236

This is still really puzzling without a full traceback or a way to reproduce the issue.

[2018-06-24 22:40] jqnatividad commented on #4299
Forgot to reset nginx which we use to cache datastore API calls.  Try it again.  Basically, just paginate load thru any Add Filter...  And thanks for pointing out #4201.

[2018-06-24 22:54] wardi commented on #4299
That gets the site failing again. The full tracebacks might be getting emailed to jguo@opengov.com instead of being added to the log, can you check if you have a copy of one?

[2018-06-24 23:09] jqnatividad commented on #4299
I'm afraid @jguo144 is on vacation, so I redirected the email.

Adding relevant section here for reference:
[code]

[2018-06-24 23:41] jqnatividad commented on #4299
Upgraded simplejson to 3.12.0 and did confirm that Apache 2.4.7 is using threading (Server MPM)

Here's the traceback with the TypeError problem even after 3.12.0

[code]

[2018-06-24 23:47] wardi commented on #4299
@jqnatividad would you try temporarily setting the ThreadsPerChild to 1 to see if the problem still happens?

[2018-06-25 01:01] jqnatividad commented on #4299
No joy. I even reinstalled simplejson 3.12.0 making sure to have python-dev installed so it can install the C speedups and it seems that made it worse. So you now get the LazyJSONObject error more frequently.

Going back to my workaround of just using simplejson.loads, any ramifications since I'm now predisposed to leave that be on the prod server.

[2018-06-25 01:05] wardi commented on #4299
Understood. If we can get this isolated on a non-production instance we can investigate further.

[2018-06-25 08:29] iamarnavgarg opened #4301 "I am Unable to authenticate CKAN 2.7.2 using oauth2 on http"
### CKAN Version if known (or site URL)
2.7.2

### Please describe the expected behaviour

I am using CKAN 2.7.2 .

I have added the following configurations in my development.ini file of ckan

ckan.oauth2.authorization_endpoint = https://account.lab.fiware.org/oauth2/authorize
ckan.oauth2.token_endpoint = https://account.lab.fiware.org/oauth2/token
ckan.oauth2.profile_api_url = https://account.la

[2018-06-25 09:55] terchris opened #4302 "Is it possible to log in to CKAN from javascript ?"
### CKAN Version if known (or site URL)
any

### Please describe the expected behaviour
I'm making a javascript client that reads data from ckan using the ckan.js api. This works just fine when accessing data that does not need authentication.

In order to read private data and to update data I need to provide  the API key. But how to get the API key from my javascript client. I cant find a login

[2018-06-25 10:22] torfsen opened #4303 "Undocumented changes breaking error_document_template"
It seems that #4225 changed how the HTTP error code is passed to `error_document_template.html`.

In CKAN 2.7.3, `error_document_template.html` [says](https://github.com/ckan/ckan/blob/ckan-2.7.3/ckan/templates/error_document_template.html#L3):

    {% block subtitle %}{{ gettext('Error %(error_code)s', error_code=c.code[0]) }}{% endblock %}

In CKAN 2.8.0, however, the (BS2-) template [says](http

[2018-06-25 12:04] wardi commented on #4303
I like @torfsen 's suggestion of adding the change to the changelog.

For this issue we could support old copied and modified templates as @amercader says, and try to remember to remove the dead code later. For general template changes I don't want to be held to the same deprecation process that we have for things like plugin interfaces. When we get around to reducing the template `extends` and `s

[2018-06-25 15:04] jqnatividad commented on #4299
The instance we've been using for troubleshooting is actually a non-prod instance, so we can continue investigating.

The prod instance [has the workaround of just using simplejson.loads instead of using the LazyJSONObject](https://github.com/ckan/ckan/issues/4299#issuecomment-399597263).

[2018-06-25 15:14] amercader commented on #4303
@wardi Just to be clear, are you happy to keep support for all `c.*` vars for a version and remove them later or just this particular one on the error template? We've followed this approach so far for the admin, user and home controllers (merged) and for the group and package ones (almost merged) ([example](https://github.com/ckan/ckan/pull/4062/files#diff-2c4f7feb385fad48e72f4de013976946R1019). M

[2018-06-25 15:56] wardi commented on #4303
Should have kept my mouth shut, I'm thinking about not tying our hands for larger unrelated template changes. @amercader's suggested fix is good for this issue, and I'm happy with either approach 1 or 2 above.

[2018-06-25 22:24] ebuckley opened #4304 "ckanext/datastore/templates/ajax_snippets/api_info.html does not links in api examples"
### CKAN Version if known (or site URL)
Ckan 2.7 commit (bc4f8dfc0d60c51858d82cd19c181f49ae8cf21e)

### Please describe the expected behaviour
When viewing a dataset resource which has been loaded with the datastore
And I click on the green "Data API" button
I expect to see usable examples for accessing that resource

### Please describe the actual behaviour
When I click the "Data API" button, I s

[2018-06-26 06:36] torfsen commented on #4303
For what it's worth, as a user of and developer of custom templates I'm perfectly fine with having to update my templates when upgrading to a new CKAN minor version (as long as the changes are small, as in this case -- the switch to Bootstrap 3 is a bigger task, so the provision of the legacy BS2-templates is much appreciated). Hence, mentioning the change in the change log would have been enough

[2018-06-26 06:40] torfsen commented on #4302
You need to actively pass the appropriate API key to your JavaScript client (via a configuration file, a function parameter, etc.). There is no way to obtain it automatically. This is similar to other APIs (Twitter, etc.).

Your JS can then pass the API key along its requests using the `Authorization` HTTP header. How you set that header in your requests depends on which JS library you use for mak

[2018-06-26 06:43] torfsen commented on #4302
Ah, I've missed that your using the [`ckan.js` client](https://github.com/okfn/ckan.js). Take a look at the example provided with that library:

[code]

[2018-06-26 08:34] amercader commented on #4303
Please don't! Yours and @torfsen is really valuable feedback! We'll stick to 1 for now but we can revisit and go for 2 when we finish the migration of the controllers.

[2018-06-26 12:10] #4302 closed

[2018-06-26 12:17] wardi commented on #4304
@ebuckley yes, we removed the links because of excessive bot traffic on some large sites, but a better fix might have been to add `rel="nofollow"` to those links. A PR would be great!

[2018-06-26 12:41] amercader commented on #4301
Hi @iamarnavgarg, this tracker is for issues with CKAN core itself. Please open an issue in the ckanext-oauth2 extension that you are using or in the Fiware software involved.

[2018-06-26 12:41] #4301 closed

[2018-06-26 15:05] rossjones opened #4305 "Internal server error when viewing /dashboard when logged out"
### CKAN Version if known (or site URL)

2.8.0

### Please describe the expected behaviour

When attempting to visit /dashboard as a non-logged in user, the user should be sent to the login page.

### Please describe the actual behaviour

An internal server error occurs.

[code]

### What steps can be taken to reproduce the issue?

Visit http://demo.ckan.org/dashboard when not logged in

[2018-06-26 20:56] mystycs opened #4306 "Hide everything unless logged in."
How would I go about only allowing domain/login to be visible and hiding everything else unless the user is logged in?

Basically unless use is logged in, redirect to the login page

[2018-06-27 08:14] rossjones commented on #4306
I'm sure someone will correct me if I'm wrong, but I don't recall an option to require a login to access the site that ships with CKAN.

You've probably got two options:

1. Write a http://docs.ckan.org/en/latest/extensions/plugin-interfaces.html#ckan.plugins.interfaces.IMiddleware plugin that checks if the user is logged in and does the right thing.

2. Implement http://docs.ckan.org/en/latest/ex

[2018-06-27 10:07] kushagrasrivastva-NEC commented on #4267
Id is not required for purging an organization. It can be done by organization name itself. However, make sure before purging any organization, the dataset related to the given organization should also be purged. This will completely remove the dataset and organization and after deleting, new organization and new dataset with the same name can be created. If dataset is not purged, then new dataset

[2018-06-27 10:14] rossjones opened #4308 "Q: Dashboard functions in user controller?"
### CKAN Version if known (or site URL)

2.8

### Please describe the expected behaviour

The user controller (ckan/controllers/user.py) still contains methods for rendering dashboard pages.
Can these now safely be removed?

[2018-06-27 10:19] amercader commented on #4308
That's the place where they lived in the old controller. When moving it to a Flask blueprint @smotornyuk split the methods in two blueprints, `admin` and `user`. We'll keep the old controllers around for a version in case someone is extending them from their extensions but the whole file will eventually go, so no need to remove them for now.

[2018-06-27 10:28] #4308 closed

[2018-06-27 10:41] amercader commented on #4306
To minimize the number of issues on this repo we encourage you to submit support requests like this one to the [ckan-dev mailing list](https://lists.okfn.org/mailman/listinfo/ckan-dev) or the [#ckan tag](http://stackoverflow.com/questions/tagged/ckan) on SlackOverflow.

I went for option 2 in [this extension](https://github.com/okfn/ckanext-unhcr) and I have to warn you it's not straight-forward,

[2018-06-27 10:41] #4306 closed

[2018-06-27 14:39] mystycs commented on #4306
That looks good, but its not working with 2.8 unfortunately.

[2018-06-27 14:44] torfsen opened #4310 "Missing c.action attribute in 2.8.0 templates"
It seems that in CKAN 2.8.0, the `c.action` attribute is at least sometimes missing when templates are being rendered. I can reproduce this for the `home/index.html` template, which currently breaks ckanext-pages for CKAN 2.8.0 (see ckan/ckanext-pages#78).

It seems that this is a consequence of [a change to `routing.py`](https://github.com/ckan/ckan/pull/3891/files#diff-eb995cd7c3a1045a463f8172c7

[2018-06-27 15:22] amercader commented on #4306
The relevant bits should work fine in 2.7 so you can cherry-pick what you need.

[2018-06-27 15:35] TheMMcOfficial opened #4311 "Is it possible to install ckan on ubuntu 18.04?"
### CKAN Version if known (or site URL)
2.8

### Please describe the expected behaviour
If it's possible and how I install it if it's possible.

### Please describe the actual behaviour

### What steps can be taken to reproduce the issue?

[2018-06-28 16:04] mystycs opened #4313 "Get error when running db init (internal server error)"
I installed 2.7.3 from source and every time i run the paster db init production.in script i get the following error below:

This also causes an internal server error on my site.

Whats happening?

[2018-06-28 19:48] jqnatividad commented on #4299
It turns out the WSGI configuration was misconfigured, which may have led to the race condition.

WSGIDaemonProcess was set, but the required WSGIProcessGroup directive was absent (and was was set to use WSGIApplicationGroup instead)

It turns out you need WSGIDaemonProcess and WSGIProcessGroup to be set for WSGI Daemon mode to work in a multithreading env.

http://modwsgi.readthedocs.io/en/develo

[2018-06-28 20:22] wardi commented on #4299
@jqnatividad good find! This really had me puzzled.

[2018-06-29 04:17] kushagrasrivastva-NEC commented on #4267
@terchris
If the above solution is working fine, then can we assume that the issue is closed?

[2018-06-29 14:58] TheMMcOfficial commented on #4311
Solr is not working for me.

[2018-06-29 15:09] rossjones commented on #4311
It's probably related to the version that is installed on 1804.
You can check with

[code]

You're welcome to dive in and help with support for newer Solr ;), or you could see if you can install Solr 3.6 ... http://sysop.volyn.ua/how-to-install-apache-solr-3-6-on-debian-or-ubuntu/

[2018-06-29 20:49] davidread opened #4316 "Redirect /dataset/[id] -> /dataset/[name] etc"
Redirects:
* /dataset/[id] -> /dataset/[name]
* /group/[id] -> /group/[name]
* /organization/[id] -> /organization/[name]

Specifying these objects by *id* is hidden functionality really. There are no links to it. I've added it for two reasons:

1. As a developer it's occasionally I know a dataset's id and want to look at it, and it is useful to have it instead display on the normal url with the n

[2018-06-29 22:03] davidread commented on #4313
Looks like you have the datastore plugin enabled in your .ini file, but you've not followed the datastore set-up instructions, well at least have not the createdb step or it doesn't match the ckan.datastore.read_url. See http://docs.ckan.org/en/latest/maintaining/datastore.html#create-users-and-databases

Closing, as this more likely user error than an issue with ckan.

[2018-06-29 22:03] #4313 closed

[2018-07-02 06:47] torfsen commented on #4310
I'm not sure whether this is the same problem, but it seems that `c` is also missing the `controller` attribute in some cases in 2.8.0. See stadt-karlsruhe/ckanext-discovery#1.

[2018-07-02 15:08] kbajura commented on #4210
Has this issue been resolved? I am having the same thing happen to me. As a work around, I put the file that should have been upload into the folder and it works.

[2018-07-02 18:58] mystycs opened #4318 "How to get fullname from username"
Is there a function written to get the fullname from the username built into ckan?

[2018-07-02 19:11] #4318 closed

[2018-07-03 08:13] rossjones commented on #4316
Apart from commented out block, LGTM.  The only thing really is occasionally there are cases where the user is redirected to /dataset/ID (don't ask me for an example off the top of my head, but I'm definitely not imagining it) - it's going to mean another HTTP(S) request for the redirect until we track those down.  Probably not block-worthy though.

[2018-07-03 11:54] smotornyuk commented on #4210
Still unable to reproduce this issue on >=2.7.3(as well as on older versions). I would appreciate if you provide more details:
1. Are regular file uploads work?
2. Does user who is used to run the server have correct permissions(write access to storage volume)? (and make sure, that he can list the content of parent dirs as well)
3. try to set logging to debug level(under `logger_ckan` section) in

[2018-07-03 12:06] #4304 closed

[2018-07-03 13:30] #3879 closed

[2018-07-03 13:31] smotornyuk commented on #3879
Fixed by @rossjones  in #4309

[2018-07-03 16:35] kbajura commented on #4210
-Regular File uploads work fine.
-I gave everyone access to the storage volume just to test and I still get the same thing.

-I really don't see anything in the logs except for this.

[Tue Jul 03 16:27:31.460115 2018] [:error] [pid 2362:tid 139821011195648] 2018-07-03 16:27:31,459 INFO  [ckan.logic.action.update] Updated config options: {'ckan.site_custom_css': u'', 'ckan.main_css': u'/base/css/ma

[2018-07-04 05:29] kushagrasrivastva-NEC commented on #4311
Tried docker installation on 1804. Its working fine. Below were the issues faced and resolved:
1. **sqlachemy.exc.ProgrammingError: (psycopg2.ProgrammingError) column user.password does not exist**
Soln - Remove the postgresql database and installed it again before starting docker installation.

 Ckan working now.
![image](https://user-images.githubusercontent.com/40620966/42258376-03ec0aaa-7f79-1

[2018-07-04 09:28] kadiravanVellingiri opened #4320 "Data explorer resources not loading for xlsx files in 2.8 version"
### CKAN Version 2.8

### Dataexplorer should show the map, graph and grid views

### I am getting an error

This resource view is not available at the moment.

Could not load view: DataProxy returned an error (Request Error: Backend did not respond after 10 seconds)

[2018-07-05 09:52] rossjones commented on #4320
I've been having problems with the dataproxy recently, hence https://github.com/ckan/ideas-and-roadmap/issues/217

This isn't a CKAN 2.8 issue so much as a problem with the dataproxy (https://github.com/okfn/dataproxy) not working recently.

[2018-07-05 10:54] kadiravanVellingiri commented on #4320
Hi Ross,

Thanks for your reply.

I am new to ckan and i am having trouble with disabling the dataproxy. Please let me know what is the right way to do it.

Thanks

[2018-07-05 13:15] rossjones commented on #4320
I'd go with http://docs.ckan.org/en/2.8/maintaining/datastore.html if at all possible.

[2018-07-05 19:21] tedstrauss opened #4321 "/api fails after upgrade 2.7 to 2.8"
### CKAN Version if known (or site URL)

2.8
Error occurs after doing an package install upgrade from CKAN 2.7 to 2.8.
The upgrade has otherwise gone smoothly.
The bug was detected while trying to test datapusher and rebuilding resource views - still broken.

### Please describe the expected behaviour

Access the CKAN api through browser interface.

### Please describe the actual behaviour

loadin

[2018-07-06 08:00] ranjith-murugasamy opened #4322 "Not able to upload xls dataset"
Version: 2.8

### Please describe the expected behaviour
Dataset should be successfully uploaded through datastore

### Please describe the actual behaviour
Error: CKAN DataStore bad response. Status code: 409 CONFLICT. At: http://***********/api/3/action/datastore_create.
HTTP status code: 409
Response: {"help": "http://**********/api/3/action/help_show?name=datastore_create", "success": false, "

[2018-07-06 08:00] rossjones commented on #4311
I think the plan is to ensure CKAN works on 18.04 as soon as the opportunity arises, so I'm going to close this issue.  Feel free to continue the discussion on the [ckan-dev](https://lists.okfn.org/mailman/listinfo/ckan-dev) mailing list

[2018-07-06 08:00] #4311 closed

[2018-07-06 08:04] rossjones commented on #4322
"Duplicate column names are not supported"

If you have the option to resolve this with your source data, then that would be the quickest (but not best) fix.

See https://github.com/ckan/ckan/issues/2574 and https://github.com/ckan/ckan/pull/2576

[2018-07-06 08:07] rossjones commented on #4321
The root of the error is at

[code]

It looks like `pylons.session` is not available in flask requests... would it be possible to log the issue over there as well?

[2018-07-06 08:52] ranjith-murugasamy commented on #4322
Thank you @rossjones . i removed the duplicate columns, but now i got a different error
Error: CKAN DataStore bad response. Status code: 409 CONFLICT. At: http://************/api/3/action/datastore_create.
HTTP status code: 409
Response: {"help": "http://************/api/3/action/help_show?name=datastore_create", "success": false, "error": {"records": ["function json_each_text(json) does not exist

[2018-07-06 09:06] ranjith-murugasamy opened #4323 "Datastore upload, json_each_text(json) does not exists"
### CKAN Version if known (or site URL)
CKAN Version: 2.8
PostgreSQL: 9.2

### Please describe the expected behaviour
Dataset should be uploaded successfully

### Please describe the actual behaviour
Error: CKAN DataStore bad response. Status code: 409 CONFLICT. At: http://***********/api/3/action/datastore_create.
HTTP status code: 409
Response: {"help": "http://***********/api/3/action/help_show

[2018-07-06 09:17] rossjones commented on #4322
This might be a casting issue, can you confirm the output of this command (run in psql)

[code]

[2018-07-06 09:18] #4322 closed

[2018-07-06 09:18] rossjones commented on #4323
This might be a casting issue, can you confirm the output of this command (run in psql)

[code]

[2018-07-06 09:31] ranjith-murugasamy commented on #4322
function json_each_text(unknown) does not exist. It looks like this is not supported in postgresql 9.2.*.
We are upgrading postgresql to 9.3. Will confirm the results. Thank you very much

[2018-07-06 10:03] ranjith-murugasamy commented on #4322
Thank you very much!

[2018-07-06 11:09] rossjones commented on #4323
@ranjith-murugasamy if this does turn out to be a Postgres version issue, could you close this issue after noting that it is ... thanks.

[2018-07-10 08:43] rossjones commented on #4323
@ranjith-murugasamy Assuming that this was indeed your problem, will close the ticket for you.

[2018-07-10 08:43] #4323 closed

[2018-07-10 15:57] ply112 opened #4326 "Editor cannot add datasets to his organization"
### CKAN Version if known (or site URL)
2.6.1

### Please describe the expected behaviour
An editor should be able to add datasets to his organization.

### Please describe the actual behaviour
An editor of an organization cannot add datasets.  The problem seemed to have started after the implementation of LDAP login.

### What steps can be taken to reproduce the issue?
The issue will occur every

[2018-07-10 20:27] asarchami opened #4327 "Returning incorrect number of records with datastore_search"
### CKAN Version if known (or site URL)
2.7.4

### Please describe the expected behaviour
when using limit and offset in search using url number of records is always 10.

### Please describe the actual behaviour
Instead of showing requested number of records API only returns 10 records

### What steps can be taken to reproduce the issue?
go to this url: https://data.illinois.gov/api/3/action/datas

[2018-07-10 21:05] asarchami opened #4328 "Feature request"
Can we have a dynamic resource download link created after a filter in either datagridview or table?

[2018-07-11 09:52] kushagrasrivastva-NEC commented on #4327
Try given below query as it is giving number of records in the table.
Below query will return all the number of fields included in the table and number of records present in the table.

_curl -X GET "http://'URL':5000/api/3/action/datastore_search?limit=1500&resource_id={RESOURCE_ID}"_

[2018-07-11 13:35] torfsen commented on #2655
I'm currently also running into this issue (I think). For an extension I'd like to store additional, arbitrary data in a view (in addition to the configuration values required by the underlying view type). I haven't been able to do that via the `resource_view_update` API: neither putting the additional key directly into the view-dict nor using a `config` key set to a JSON-string work. Both fail wi

[2018-07-11 13:44] torfsen commented on #4147
I'd love to see the `plugin_extras` field on as many CKAN entities as possible. For example, I currently need a way to attach plugin-related extras to resource views (see also #2655).

Aside from the entities already mentioned by @wardi, universal support could include:

* Views
* Tags
* Relationships (but see #4212)
* Vocabularies
* Activities

Perhaps there is a way to implement this mechanism i

[2018-07-11 15:56] torfsen opened #4329 "resource_view_update doesn't update view_type"
CKAN version: 2.8.0

If a modified `view_type` value is passed to the API action function `resource_view_update` then it is ignored (`api` is a `ckanapi.RemoteCKAN` instance):

[code]

The docs don't mention this limitation, so I'm assuming that this should be possible.

[2018-07-11 18:50] tedstrauss commented on #4321
Disabling the LDAP extension did fix the bug.
So the problem must be extension specific.

[2018-07-11 18:50] #4321 closed

[2018-07-12 06:29] iamarnavgarg commented on #4329
Hi @torfsen Can you please provide more details and steps for Reproducing this.

[2018-07-12 07:43] torfsen commented on #4329
I'm happy to add more information, @iamarnavgarg, but what exactly do you have in mind? I've mentioned the CKAN version and provided code that reproduces the issue.

[2018-07-12 13:11] wardi commented on #4326
Is this related to #4321 ? This issue only occurs when you enable an LDAP extension?

[2018-07-12 13:19] wardi commented on #4327
This seems to be working now, maybe it was an intermittent issue with the site? Please reopen if you can reproduce.

[2018-07-12 13:19] #4327 closed

[2018-07-12 13:23] wardi commented on #4328
That's a great idea, and not difficult to implement. The place to start is the datastore dump controller: https://github.com/ckan/ckan/blob/master/ckanext/datastore/controller.py#L40 this just needs to be extended to accept the other parameters that are supported by datastore_search.

If you're interested in implementing this I'd be happy to help on IRC or with feedback on a pull request.

[2018-07-12 13:44] wardi commented on #4327
You need to format your `q` parameter as JSON if you're using a GET request. e.g:

https://data.illinois.gov/api/3/action/datastore_search?offset=1&resource_id=7f21c6b1-4401-4df4-a764-28e7ef3f9c90&q={%22License%20Type%22:%22MEDICAL%20BOARD%22}

[2018-07-12 14:00] asarchami commented on #4327
Thank you.

[2018-07-12 15:06] tedstrauss opened #4330 "2.8.0 DataProxy returned an error"
Near duplicate of https://github.com/ckan/ckan/issues/3744
Bug started after upgrading from 2.7 to 2.8.

### CKAN Version if known (or site URL)

2.8

### Please describe the expected behaviour

Data explorer should work with uploaded CSV file.

### Please describe the actual behaviour

Attaching Apache error log and datapusher error log (below), starting from when I click the 'update' button on a

[2018-07-12 20:18] ply112 commented on #4326
It had never occurred before LDAP installation but we can't tell if that's directly related to this issue.

[2018-07-13 03:02] LukeTully opened #4331 "/groups on local machine creates infinite redirect"
### CKAN Version if known (or site URL)
2.6.3 - 2.*

### Please describe the expected behaviour
Visiting /group on my local machine allows me to view the list of groups in CKAN

### Please describe the actual behaviour
I described it [in this StackOverflow post](https://stackoverflow.com/questions/51237804/what-would-cause-an-infinite-redirect-on-the-group-route?noredirect=1#comment89497912_512378

[2018-07-13 16:43] trendspotter opened #4332 "DataStore view fails with UndefinedError: 'resource' is undefined"
### CKAN Version if known (or site URL)
Any commit from master git branch after 8209814cbd0db62eeebcbf21bbebf0383e78c5a3 (e.g. current HEAD - ac1bbc1e681c6b9cda41bbe2d878d0f81c302e4a)

### Please describe the expected behaviour
DataStore view is rendered

i.e. exception when rendering these two highlighted tabs:
<img width="838" alt="screen shot 2018-07-27 at 10 43 51" src="https://user-images.git

[2018-07-13 21:04] #4316 closed

[2018-07-14 09:16] rossjones commented on #4291
A minor related feature request too, before I forget.

One thing that frustrates me when using the dev server, is that I, without exception, always forget to update ckan_url whilst I'm debugging.  Might it be possible for `ckan serve` to update the port number in ckan_url?

[2018-07-14 15:19] s-chand commented on #4332
Yeah, this is correct. I suppose this comes with living on the edge.

[2018-07-14 15:21] s-chand commented on #4330
Yes, this is from the ckanserviceprovider package. Temporary fix is to patch the version of flask to something that works pending when we get a release for 2.8 that comes with the update ckanserviceprovider

[2018-07-15 20:44] cclauss opened #4335 "CircleCI failing on "cp -R /opt/solr-4.3.1 $SOLR_HOME""
### CKAN Version if known (or site URL)
https://github.com/ckan/ckan

### Please describe the expected behavior
CircleCI tests pass

### Please describe the actual behavior
$ __cp -R /opt/solr-4.3.1 $SOLR_HOME__
[code]
### What steps can be taken to reproduce the issue?
Run CircleCI on the current master
* Happens on Circle CI v1 #4334
* Happens on Circle CI v2 #4333

[2018-07-16 03:19] saper opened #4336 "[stats]: Error - <type 'exceptions.AttributeError'>: 'module' object has no attribute 'vendor/block_html5_shim'"
### CKAN Version if known (or site URL)

2.8.0

(not public yet)

### Please describe the expected behaviour

/stats plugin should load

### Please describe the actual behaviour

Exception:

[code]

### What steps can be taken to reproduce the issue?

Fresh install of CKAN 2.8.0 with "stats" plugin enabled

Navigate to /stats

Fix is trivial, will submit PR

[2018-07-16 03:54] Engerrs opened #4337 "Add Logo as a Link path issue"
### CKAN Version
2.7

### Expected behaviour
When admin set logo using Link button and paste there path for local image (/images/logo.png), logo will appear.

### Actual behaviour
When setting path that not consist 'http' at the start of url is not shown.

As I can see from code the handles this stuff, there is a [statement](https://github.com/ckan/ckan/blob/ckan-2.7.4/ckan/logic/action/update.py#

[2018-07-16 06:50] kushagrasrivastva-NEC commented on #4202
Go to path http://<ckan-url>/ckan-admin/config.
Choose different themes available from the given option and new color schemes will be applied to the required ckan page. Also, you can add your own css theme and update config file.

[2018-07-16 10:31] saper opened #4338 "[multilingual] AttributeError: '_Globals' object has no attribute 'fields'"
### CKAN Version if known (or site URL)

2.8.0

### Please describe the expected behaviour

The site should load.

### Please describe the actual behaviour

After uploading a first data set, the site became unavailable.

During restart, the following exception is generated:

[code]

### What steps can be taken to reproduce the issue?

New CKAN site,

8 organizations

1st data set added with a simp

[2018-07-16 10:58] saper commented on #4338
I have disabled all `multilingual` plugins as a workaround.

[2018-07-16 16:54] cclauss commented on #4335
@deinok is Circle CI tests broken?  A PR that does not change any code causes Circle CI to fail.  Am I doing something wrong?

[2018-07-17 06:44] torfsen commented on #4338
I think this has already been fixed in 396973e3c55ff5e200e2998844ecbe141c1620d5 but not yet released.

[2018-07-17 07:45] hongchhe opened #4339 "How to delete resources more efficient."
### CKAN Version
- 2.6

### Description
At present, It spend much time to delete one resource using  /api/action/resource_delete  if the package has many resources.  From the logs, it will make all resources in the package public. This will make it very slow. Is it necessary to make all resources public in the deleting one resource process? Is there anyway to delete resources in batch.
Here is the

[2018-07-17 12:22] amercader commented on #4336
@saper thanks, a PR would be good

[2018-07-18 05:50] hongchhe commented on #4339
BTW, it also happen while creating a resource using /api/action/resource_create api if the package has huge resources. Here is the log.
--------------------------------------------------------------
... ...
2018-07-18 05:41:00,672 INFO  [ckanext.datastore.db] Making resource u'1346d645-2d74-4260-87b1-4c03d88924d1' public
2018-07-18 05:41:01,090 INFO  [ckanext.datastore.db] Making resource u'10ad0e

[2018-07-18 08:15] flazx commented on #3758
It looks like 2.8 version has many issues. I meet this issue as well.

[2018-07-18 08:34] amercader commented on #4168
I think this issue and the workarounds listed would be enough in case anyone encounters this issue in the future.

[2018-07-18 08:50] amercader commented on #4330
The latest release of DataPusher (0.0.14) includes the fix for this (ckanserviceprovider 0.0.7). To fix an existing install just install Flask<1.0 (eg Flask==0.12.2) in your DataPusher virtualenv:

     pip install --upgrade Flask<1.0

[2018-07-18 08:51] #4330 closed

[2018-07-18 08:52] amercader commented on #4331
Hi @LukeTully, thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the [ckan-dev mailing list](https://lists.okfn.org/mailman/listinfo/ckan-dev) or the [#ckan tag](http://stackoverflow.com/questions/tagged/ckan) on SlackOverflow.

You can also try on the [#ckan IRC channel](http://webchat.freenode.net/?channel

[2018-07-18 08:52] #4331 closed

[2018-07-18 09:16] amercader commented on #3758
The original log messages (`_resource_preview() has been deprecated`) are not related to the DataPusher/DataStore not working.

Check https://github.com/ckan/ckan/issues/4330 to see if that is the issue you are having or if not, please create another issue with the relevant log messages.

[2018-07-18 09:21] amercader commented on #4335
This is definitely something on the CircleCI. Builds on master seem to work though:

https://circleci.com/gh/ckan/ckan/tree/master

I'm not sure why #4334 failed though. Did you change the image? Maybe this can help:

https://discuss.circleci.com/t/missing-opt-solr-4-3-1-in-both-12-04-and-14-04/6021/2

In any case I don't think Solr is available in Circle 2.0 by default, so we'll need to install i

[2018-07-18 09:24] amercader commented on #4339
The code that made resources public / private in the DataStore database was completely refactored in recent CKAN versions (https://github.com/ckan/ckan/pull/2562). I suggest you upgrade to 2.8 if this is a concern in your case.

[2018-07-18 09:24] #4339 closed

[2018-07-18 09:48] amercader opened #4342 "2.8.1 release"
Scheduled 25th July 2018

### Starting up

- [x] Send email to CKAN announce / dev a week before
- [x] Update version on `dev-v2.8` branch to `2.8.1b`
- [x] Cherry-pick all issues marked as ["Backport 2.8.1" and "Backport Pending"](https://github.com/ckan/ckan/issues?utf8=%E2%9C%93&q=label%3A%22Backport+pending%22+label%3A%22Backport+2.8.1%22) to `dev-v2.8`

### Next few days

- [x] Pull translati

[2018-07-18 10:02] saper commented on #4338
Thanks @torfsen - yes, I had a look at it and considered it merely a mild annoyance, didn't even bother to file it. Thanks for fixing it so quickly.

[2018-07-18 10:21] saper opened #4343 "Site name may include characters that are invalid RFC822 email address"
### CKAN Version if known (or site URL)

2.8.0

### Please describe the expected behaviour

Email from header should be displayed without issues in the mailer.

    From: Justice Reform in Ukraine <site@betterjustice.in.ua>

### Please describe the actual behaviour

An artificial semicolon is added by the mailer, probably because ":" should not appear in the email address.

    From: Council of Eu

[2018-07-18 10:52] #4209 closed

[2018-07-18 11:57] wood-chris opened #4344 "Additional step in installation from source would be useful for beginners"
### CKAN Version if known (or site URL)

2.9.0a

### Please describe the expected behaviour

According to the docs (http://docs.ckan.org/en/latest/maintaining/installing/install-from-package.html#install-and-configure-postgresql) PostgreSQL should list the existing databases after being installed

<pre>
    <strong>orphan:</strong>
    Check that PostgreSQL was installed correctly by listing the e

[2018-07-18 13:35] metaodi opened #4346 "`search` legacy route missing"
### CKAN Version if known (or site URL)
2.8+ (master)

### Please describe the expected behaviour
There is a shortcut for the `search` legacy route in CKAN 2.8+, I guess it's missing in [LEGACY_ROUTE_NAMES](https://github.com/ckan/ckan/blob/df35eec2f5229bc60176cf96dc83ca1fcc259d1e/ckan/lib/helpers.py#L68-L71).

### Please describe the actual behaviour
On master `search` is not available as route,

[2018-07-18 13:56] tino097 commented on #4346
@metaodi it was not added as the 'package' controller was not merged in that time, but i think it could be added in the .ini file
http://docs.ckan.org/en/2.8/maintaining/configuration.html#ckan-legacy-route-mappings

[2018-07-18 14:09] torfsen commented on #4329
According to the code, this seems to be intentional:

https://github.com/ckan/ckan/blob/f6caf33b0f60645269e3013a5056761d22697557/ckan/logic/schema.py#L716

That limitation has been there from the beginning of the current view system (see PR #1251, and 00bea6da714706f89a5dea8ebf9cbaaf520a6b83 in particular). I didn't found a reason for the limitation in the discussion, and personally don't see one,

[2018-07-18 14:16] metaodi commented on #4346
Well yes, but I think all legacy routes should be added there for compatibility reasons. If I provide a CKAN extension, it should work on all CKAN versions. The ini file might be a solution for tests, but I don't want all users of an extension to add `ckan.legacy_route_mappings` to their instances ini file, just because the extension runs on multiple versions of CKAN.

[2018-07-18 14:22] wood-chris commented on #4344
Equally, as a non expert postgreSQL user, it's just taken me a while to find out how to set the encoding of databases (running ``sudo -u postgres psql -l`` showed that the 3  default databases were in ``SQL_ASCII``) - it might be useful to include that this is all that is needed:

    sudo -u postgres psql
    psql (9.5.13)
    Type "help" for help.

    postgres=# initdb -E UTF8

[2018-07-18 16:26] cclauss opened #4347 "/opt/solr issue when migrating Circle CI from Precise-->Trusty"
Fixes #4335
Unblocks #4060, #4345

### CKAN Version if known (or site URL)
https://github.com/ckan/ckan

### Please describe the expected behavior
Can successfully migrate Circle CI builds from __Ubuntu 12.04 (Precise)__ --> __Ubuntu 14.04 (Trusty)__

### Please describe the actual behavior
CircleCI failing on step "__cp -R /opt/solr-4.3.1 $SOLR_HOME__" #4335 because /opt is empty.

### What steps

[2018-07-19 07:55] HilariousGil commented on #3598
I was looking for this functionality. Thanks @Engerrs
@wardi I was wondering, is there a specific reason for this not to be merged into any release? or was simply overlooked...

[2018-07-19 08:29] tino097 commented on #4337
#3656 should get fix for this

[2018-07-19 09:10] amercader commented on #4329
The commit that introduced the change is https://github.com/ckan/ckan/commit/c06866509de4ae0ab9042657af393826a6411cf5 Looking at it I guess that the reason type changes are not allowed is because different view types can have different schemas that require different fields and that changing the type would make the logic more complex. Perhaps there is an easy way to go around this and feel free to

[2018-07-19 14:57] #4303 closed

[2018-07-19 17:02] #4260 closed

[2018-07-19 17:03] #4346 closed

[2018-07-19 17:44] metaodi commented on #4346
@tino097 Why have you removed `group_index` again? Now my build fails, because this route is still missing.

[2018-07-19 17:49] metaodi commented on #4346
Here is the link to the build: https://travis-ci.org/opendatazurich/ckanext-stadtzh-theme/jobs/405325390#L1427

I'd propose to add a test for this, calling build_nav_main() with the legacy routes should not raise an exception.

[2018-07-19 17:59] tino097 commented on #4346
@metaodi
in the [review](https://github.com/ckan/ckan/pull/4348#discussion_r203759217) was pointed out that those routes should be handled in the helper
ping @amercader

[2018-07-19 18:05] metaodi commented on #4346
@tino097 @amercader just let me know if you want help. Happy to provide a PR with the test and/or the updated legacy routes.

[2018-07-19 18:12] tino097 commented on #4346
@metaodi why just not update the nav menu in the template in your extension? As the migration to Flask will be finishing, those routes would be deprecated

[2018-07-19 18:25] metaodi commented on #4346
@tino097 because the extension runs on multiple versions of CKAN, older version do not support the new flask-based names obviously, so the new CKAN version should support the old names to be backwards compatible.

[2018-07-19 21:59] LingboTang opened #4353 "toolkit.get_action('group_list') is giving empty list when sort by 'package_count desc'"
### CKAN Version if known (or site URL)
The CKAN Version I'm using is 2.6.6

### Please describe the expected behaviour
I'm calling this function in a jinja2 template to get a list of group with 'MyType' as type and sort them by package_count descending order. So I wrote the following in my `helpers.py`:

[code]

### Please describe the actual behaviour

The actual behaviour is that this line give

[2018-07-20 11:48] davidread opened #4354 "Test error running locally"
Tests pass on CircleCI, but I get this test error on master locally:
[code]
I can recreate it more quickly by just running these two tests:
[code]

Does anyone else have this problem or is it just me? Has any one got any ideas how to fix it?

@smotornyuk you were changing this test only recently: https://github.com/ckan/ckan/pull/4062/files#diff-c92cdbf4ff7391d90f31341452b90303 - maybe you can she

[2018-07-20 12:01] amercader commented on #4346
I was mistaken in the way `build_nav_main` works (a truly terrible way btw), I assumed it was calling `url_for` directly (which is where the support for old Pylons routes exists) but apparently is doing some other voodoo first, which means that yes, we need to add it to `LEGACY_ROUTE_NAMES`.

@tino097 just to be clear the `group_index` item only affects master so it doesn't need to go to 2.8.1
@me

[2018-07-20 13:59] wood-chris opened #4355 "504 timeout after installing 2.9.0a"
### CKAN Version if known (or site URL)

2.9.0a

### Please describe the expected behaviour

I should be able to see the ckan frontpage when going to http://localhost/

I have followed the "install from package" instructions at http://docs.ckan.org/en/latest/maintaining/installing/install-from-package.html; key output as follows:

[code]

### Please describe the actual behaviour

I get a HTTP 504

[2018-07-20 14:29] davidread commented on #4354
Probably better asked on SO: https://stackoverflow.com/questions/51444790/ckan-tests-error-keyerror-tags

[2018-07-20 15:01] davidread commented on #4332
This fixes the exceptions for the "DataStore" and "Data Dictionary" tabs, but @smotornyuk is this the right way to go? If so, I'm happy to add a test and submit a PR.

[code]

[2018-07-20 19:01] LingboTang commented on #4353
This doesn't give me the expected results because I don't have any packages created under any particular "MyType" groups, so when executing `_group_or_org_list()`, the query results is empty. I would like to suggest that under this scenario, CKAN can return a default query that returns the default results or raise an error that "No packages has been created for the group".

[2018-07-21 06:41] cclauss commented on #4060
My sense is that your list above is correct but there is a __missing step 0__
Before the __Port CircleCI V1 file to CircleCI V2__ can be done by the [__Circle CI converter__]()
- [ ] Step 0: Port CircleCI V1 file from __Ubuntu 12.04 (Precise)__ --> __Ubuntu 14.04 (Trusty)__
 #4347

[2018-07-22 12:00] smotornyuk commented on #4332
Yes, @davidread , it's the most adequate solution. During the migration of package controller, I updated all templates to use local variables instead of trying to fetch them from `c` object and missed these  datastore/datapusher moments .  Thank you for helping in this :)

[2018-07-22 12:35] smotornyuk commented on #4337
Yep, for >=2.8 there is client-side validation for URLs, so you won't be able to specify relative URLs. As for older versions, the placeholder of this field implies that you should use full address and attempts to use local URLs is kind of hack :) So, you don't need additional information about supported types of links, because only full links are officially supported

[2018-07-22 13:41] smotornyuk commented on #4354
No, i have no similar issues. But giving a quick look,  noticed two things:
# https://github.com/ckan/ckan/blob/master/ckan/logic/action/create.py#L235  - at this point records in tag table and package_tag table already created, but package.get_tags() returns empty list - maybe we need to reset sql.session cache here
# https://github.com/ckan/ckan/blob/master/ckan/tests/logic/action/test_get.py#L1

[2018-07-22 18:08] torfsen commented on #4329
@amercader recreation means changing the IDs, and that breaks links. In the meantime I've found a different workaround for my specific use case: I was creating views before they are actually fully configured because it made the code much easier (and doing it for packages and resources works fine), but now I'm deferring the view creation until all configuration details are available.

So, I'd still

[2018-07-23 05:07] kushagrasrivastva-NEC commented on #4355
Have you tried running with **localhost:5000** giving the port number as well. Kindly check whether it gives the same error or not.

[2018-07-23 11:13] wood-chris commented on #4355
That gives a different error: the site cannot connect at all (I guess that that implies the port isn't open, rather than it is open and the application is failing to provide data):

![image](https://user-images.githubusercontent.com/10977677/43073479-b5ae73a2-8e71-11e8-834e-58e7eb653c5f.png)

[2018-07-23 11:40] goranmaxim opened #4361 "GDPR compliance regarding user information"
### CKAN Version if known (or site URL)
After 1.4.3

### Expected vs Actual behavior
The user_list, and especially the user_show API calls return identifiable user info, like name, e-mail addresses etc. The ability to retrieve a list of registered users by API is not compliant with GDPR. The fact that email addresses are not available does not matter, it is still possible to get a person’s full na

[2018-07-23 12:11] #4305 closed

[2018-07-23 12:19] smotornyuk commented on #4235
Yes, i believe, that starting from v6.6 you need explicit definition of default query field. I'm using ```      <str name="df">text</str>
      <str name="q.op">AND</str>``` under `//requestHandler[@name=/select]/lst[@name="defaults]`(and some other changes) inside solrconfig.xml.

[2018-07-23 15:17] #4310 closed

[2018-07-24 02:56] hongchhe commented on #4339
Thanks very much for your kindly reply.  We will upgrade it later.

[2018-07-24 13:21] kbajura opened #4364 "Datasets Disappearing"
### CKAN Version if known (or site URL)
2.9

### Please describe the expected behaviour
Dataset do not disappear and rebuild index does not crash.

### Please describe the actual behaviour
Datasets will disappear and rebuild index fails with error. When checking the index status, none of our datasets were indexed but some were still displaying. When we tried to rebuild the index, it crashed and al

[2018-07-25 09:59] klikstermkd opened #4365 "Filtering activities in Dashboard page"
### CKAN Version if known (or site URL)
CKAN 2.8.0b

### Please describe the expected behaviour
When a user goes to the Dashboard page https://beta.ckan.org/dashboard, there is an option to filter out activities. When some option is selected, activities should be filtered by the selected option and the text in the button "Activity from: Everything" should change to "Activity from: {selected option

[2018-07-25 10:04] EricSoroos opened #4366 "Obsolete css rules override bootstrap behavior"
These Less/CSS rules, added 6 years ago, appear to be blocking current bootstrap behavior.

* https://github.com/ckan/ckan/blame/master/ckan/public/base/less/mixins.less#L134
* https://github.com/ckan/ckan/blame/master/ckan/public/base/less/mixins.less#L138

### CKAN Version if known (or site URL)

2.8

### Please describe the expected behaviour

Tab content shows on the page

### Please describe

[2018-07-25 11:55] tino097 commented on #4342
@amercader please tweet , i didnt have access to the twitter account :)

[2018-07-25 16:52] kbajura commented on #4364
I think I solved this issue myself. I deleted the default sysadmin account and after that I couldn't do some paster commands. Does paster use the "default" account when it execute commands? Could this account be needed to update the indexes because the missing dataset didn't have an index and I couldn't create one since the default account was gone.

[2018-07-26 08:58] metaodi commented on #4346
@amercader my PR #4367 is ready. It re-adds the `group_index` route and adds a test for `build_nav_main` with the old and the new route names.

[2018-07-26 09:35] u10313335 opened #4368 "CSS primer page broken"
### CKAN Version if known (or site URL)

2.8.1

### Please describe the expected behaviour

The ``/testing/primer`` page should be displayed normally.

### Please describe the actual behaviour

Error 500.

The WebError Traceback shows

[code]

### What steps can be taken to reproduce the issue?

Just go to http://localhost/testing/primer.

[2018-07-27 10:59] davidread commented on #4354
Thanks for checking @smotornyuk.

I found the issue now! The test was missing a call to teardown_class() in the parent class, which only became a problem when it was recently changed it from teardown->teardown_class.

Opening until the PR is merged.

[2018-07-27 12:32] tino097 commented on #4342
@amercader there is a error in the tests on master when i cherry-picked the i18n commits. Whenever you have chance to reply please check it and suggest a fix for it

[2018-07-27 20:51] davidread opened #4372 "PylonsTestCase/flask-related test errors on master"
Test errors on master due to dependencies between the tests, that circleci isn't seeing (because it runs them in parallel):
[code]
The problem seems to be some bad clean-up after using PylonsTestCase that has been exposed for some reason following recent changes. I can reproduce the error quickly like this:
[code]

[2018-07-28 07:11] iamarnavgarg opened #4373 "How to install/add a plugin in CKAN dockerfile"
### CKAN Version if known (or site URL)
2.7.2

### Please describe the expected behaviour
I am unable to install this plugin https://github.com/conwetlab/ckanext-right_time_context
using dockerfile.

### Please describe the actual behaviour
So, if anyone can help me on how can i write these additional commands in dockerfile of ckan

git clone https://github.com/conwetlab/ckanext-right_time_context

[2018-07-30 01:08] Prashantguptanz commented on #4028
@gallexme  Did you finally figured out what the issue was? I am having a similar situation where I have tried everything and it's just not working. Any help would be appreciated

[2018-07-30 09:14] gallexme commented on #4028
It was either that I didn't have write access to some directory, or because
selinux

Prashant Gupta <notifications@github.com> schrieb am Mo., 30. Juli 2018,
03:08:

[2018-07-30 11:16] #4354 closed

[2018-07-30 11:35] #4342 closed

[2018-07-30 21:38] shah-ronak opened #4374 "Datastore_upsert not allowing primary_key definition"
Running CKAN 2.7.3 with Datstore -

Using the CKAN API, I am running the datastore_create() function with the primary_key option specified. It tells me that the datastore resource is create successfully, and teh response includes the primary_key that has been created.

Response from creating the dataset:
`{
    "help": "http://site/api/3/action/help_show?name=datastore_create",
    "success": true

[2018-07-31 11:52] #3918 closed

[2018-07-31 11:54] #4044 closed

[2018-07-31 12:12] #4368 closed

[2018-07-31 12:55] amercader commented on #4373
This is more of a Docker question, but you can install Python packages like CKAN extensions like this in your Dockerfile:

[code]

Hope this helps

[2018-07-31 12:55] #4373 closed

[2018-07-31 12:56] amercader commented on #4366
Yes, this looks like it can be safely removed. @EricSoroos do you want to submit a quick PR doing so?

cc @gocemitevski

[2018-07-31 13:10] amercader commented on #4365
Can you work on a patch for this @klikstermkd ?

[2018-07-31 13:11] klikstermkd commented on #4365
@amercader I will try to find some free time for this.

[2018-07-31 13:13] amercader commented on #4364
Yes, that's probably what happened, the index was cleared but then new datasets could not be created because of the authorization failure. The default sysadmin account is required to run internal commands. Glad you got it working.

[2018-07-31 13:13] #4364 closed

[2018-07-31 13:44] gocemitevski commented on #4366
@amercader is there an existing UI component in CKAN that is actually affected by this? Maybe tabs are not expected to work according to the Bootstrap behavior, when a parent element has the `.js` CSS class.

cc @EricSoroos

[2018-07-31 13:48] wardi commented on #4070
@tino097 I think it's fine to fix this on the dictize (outgoing) code you linked to first. Just strip everything but the last part (file name) of the url stored in the db and regenerate the full link each time. The code that stores the urls can be updated to not save the first part of the url, but that's just to be more tidy it's not the real fix.

[2018-07-31 13:52] howff opened #4377 "pip install from git setup.py TypeError < not supported for 'map's"
### CKAN Version if known (or site URL)

2.8.1 source install from git into a fresh install of Ubuntu 18.04 (x86_64)
(same result with 2.9.0a)
(setuptools is v40.0.0, same result downgrading to v36.1)

### Please describe the actual behaviour

Installing using the 2.8 documents:
pip install -e 'git+https://github.com/ckan/ckan.git@ckan-2.8.1#egg=ckan'
File "/usr/lib/ckan/default/src/ckan/setup.py"

[2018-07-31 14:35] amercader commented on #4366
@gocemitevski Grepping the sources I only found `tab-content` being used in the stats plugin (without a `.js` parent) and no usage of `.js`

[2018-07-31 14:47] gocemitevski commented on #4366
@amercader in that case we cannot remove it until we re-implement the tabs navigation on stats. Here is how the page works on 2.6.6: https://demo.ckan.org/stats.

It is currently broken in 2.8.1 due to https://github.com/ckan/ckan/issues/4336.

cc @EricSoroos

[2018-07-31 16:50] solars opened #4378 "Docker-compose: Datastore creation not working"
Hi there, running into a problem with the docker-compose setup:

### CKAN Version if known (or site URL)

2.8.1

### Please describe the expected behaviour

I'm following: http://docs.ckan.org/en/2.8/maintaining/installing/install-from-docker-compose.html
where:
docker exec -it db psql -U ckan -f 00_create_datastore.sh
should setup the database

### Please describe the actual behaviour

docker exe

[2018-08-01 03:57] u10313335 opened #4379 "Edit slug button is not showing correctly"
### CKAN Version if known (or site URL)

2.8.1

### Please describe the expected behaviour

The edit button should be displayed with border.

![2018-08-01 11 48 32](https://user-images.githubusercontent.com/276250/43500064-3530e428-9581-11e8-95c6-ab47e99dc4e7.png)

### Please describe the actual behaviour

The edit button is displayed without border.

![2018-08-01 11 51 39](https://user-images.git

[2018-08-01 09:18] flazx opened #4381 "ie7-ie8 have many issues to display"
I have just installed the CKAN2.8 and it has many issues which ie7-ie8 not support quite well. And the recline view couldn't display under ie7-ie8 as well.

**What is the CKAN support plan for ie7 or ie8?**

[2018-08-01 10:56] torfsen commented on #4377
Currently only Python 2 is supported. Please try again using Python 2 to check whether this solves your problem.

[2018-08-01 12:07] tino097 opened #4382 "Full URL of the resource stored in the DB"
### CKAN Version if known (or site URL)
2.6+
Reported in #4070

### Please describe the expected behaviour
When editing resource metadata, we should store the filename in the database, at `resource` table `URL` column.

### Please describe the actual behaviour
When editing resource metadata, full URL is saved in the database

### What steps can be taken to reproduce the issue?
1.Go to edit resourc

[2018-08-01 16:02] LingboTang opened #4383 "What is the tracking logic?"
### CKAN Version if known (or site URL)
I've been using it in both 2.6.6 and 2.8.1

### Please describe the expected behaviour
My expected behaviour is every time a user visited a particular package or resource, it will update the tracking summary.

### Please describe the actual behaviour
If a user kept himself/herself in one session, no matter how many times he/she views the package or resource,

[2018-08-02 09:11] amercader commented on #4382
Here what's happening:

* When creating the resource, the uploader stores just the file name in the `url` field
* This is what gets stored in the database, by `ckan.lib.dictization.model_save.resource_dict_save()`

So far so good.

Now, when we add a new resource to the same dataset, or edit the existing resource:

* `resource_create` and `resource_update` call `package_show` internally to update

[2018-08-02 09:14] #4377 closed

[2018-08-02 13:06] #4379 closed

[2018-08-02 13:06] smotornyuk commented on #4383
There is a note in [docs](http://docs.ckan.org/en/2.8/maintaining/tracking.html#retrieving-tracking-data):

And don't forget, that you also need to configure rebuilding of search index(but it's not related to the problem)

[2018-08-02 19:40] LingboTang commented on #4383
I see that, I'll close this issue now.

[2018-08-02 19:40] #4383 closed

[2018-08-03 12:14] wood-chris commented on #4355
Just to add, I've tried installing v2.8 separately and I get the error:

    This localhost page can’t be found
    No web page was found for the web address: http://localhost/

(i.e. the same as when I tried changing the v2.9a port to 5000). Perhaps of relevance:

 $ sudo service apache2 restart
 * Restarting Apache httpd web server apache2

[2018-08-06 08:56] amercader commented on #4361
@goranmaxim What you raise is very reasonable and we should make easy to comply with GDPR.

Starting from CKAN 2.8 there is the [`ckan.auth.public_user_details`](http://docs.ckan.org/en/2.8/maintaining/configuration.html#ckan-auth-public-user-details) configuration option that returns a not authorized error when trying to access user details without being logged in.

The default behavior is still

[2018-08-06 10:29] spikeheap commented on #4216
Hi, I've just come up against this issue again with an `after_show` hook:

[code]

Strangely, the same code works *fine* in `before_view`, but we can't use it there because `before_view` gets called on the dataset list/search page as well as the single dataset view.

Any help here would be much appreciated, as we're a little flummoxed about how to hook in to _only_ the single dataset view page.

[2018-08-06 11:19] #4332 closed

[2018-08-06 11:24] lilisasa opened #4386 "how to upload only excel and csv files to the upload folder"
I use ckan 2.8
i just need to grant access only to upload .csv and .xlsx files to my uploading folder. so what modifications should i do in the ckan directory?

[2018-08-06 11:29] smotornyuk commented on #4381
Hi, @flazx . We are using Bootstrap3 in >=2.8 and it doesn't provide support of ie<9 out of the box. If it critical for you, you portal can be customized(probably, via plugin) - you need to include some additional libraries for ie8 support - https://getbootstrap.com/docs/3.3/getting-started/#support-ie8-ie9 . As for ie7, i suppose, it would be quite a challenge, to fix all issues in it.

We are no

[2018-08-07 02:38] cclauss commented on #4060
@deinok The roadmap above seems to be all the right stuff...  Has any new progress been made on this effort?

CircleCI v1 will stop functioning at the end of this month.

[2018-08-07 10:51] #4142 closed

[2018-08-07 10:52] torfsen opened #4388 "Can groups and organizations have tags?"
*This ticket is inspired by [a question on StackOverflow](https://stackoverflow.com/q/49638498/857390)*.

The documentation for several API functions related to groups and organizations list a `include_tags` option (e.g. [`organization_list`](http://docs.ckan.org/en/latest/api/#ckan.logic.action.get.organization_list)), but the [`organization_create`](http://docs.ckan.org/en/2.8/api/index.html#cka

[2018-08-08 04:03] iamarnavgarg commented on #4386
Can you please elaborate more about your concern ?

[2018-08-08 08:14] flazx commented on #4381
@smotornyuk thanks for your response. I got the CKAN IE support plan now.

And I have to use the Bs2 template and there are still some issues, but not big issues, I think I can resolve it by myself.
Thanks again for your great help!

[2018-08-08 08:14] #4381 closed

[2018-08-08 14:02] amercader commented on #4386
You can't limit the upload formats by default in CKAN. You could implement it customizing the file upload control to use the [`accept`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-accept) parameter or you probably can write a custom Uploader (but that would be more tricky probably)

[2018-08-08 14:02] #4386 closed

[2018-08-09 09:13] deinok commented on #4060
this is blocking #4290

[2018-08-09 15:48] AndreaFinazzi commented on #4287
Same issue here. Debugging we found out that, in our case, the issue is in the datastore resubmitting the resource to the datapusher even if no changes are made to the file, causing a sync problem between core and datapusher.
The root of this behaviour seems to be _resource_dict_save_ function in lib/dictization/model_save.py , which sets `obj.url_changed = True` just if 'last_modified' is include

[2018-08-10 09:43] s3lvatico opened #4391 "DataStore API does not find the resource to be deleted"
I'm trying with filing a bug since I am at a loss about correctly using the DataStore API.

Using CKAN v 2.7

### Please describe the expected behaviour
The resource associated with a dataset is deleted

### Please describe the actual behaviour
The DataStore API call fails with the following response:
`{"help": "http://<le_hostname>/api/3/action/help_show?name=datastore_delete", "success": false,

[2018-08-10 11:21] davidread opened #4392 "pbr version conflicts with dev-requirements.txt"
[code]

### CKAN Version if known (or site URL)
master

### What steps can be taken to reproduce the issue?
* `pip install requirements.txt`
* `pip install dev-requirements.txt` gives error:
[code]

[2018-08-10 17:05] jqnatividad commented on #3517
Shouldn't we close this, now that we have Express Loader? cc @davidread

[2018-08-10 17:06] #4298 closed

[2018-08-10 17:10] jqnatividad commented on #2368
Just to follow up, using https://github.com/TkTech/ckanext-cloudstorage is a workaround this issue, as it does multi-part, resumable uploads.

And since we now use cloudstorage by default, punting on doing this for core.

[2018-08-10 20:59] wardi commented on #4374
I'm having trouble reproducing this. I'm able to create a datastore table with primary key and add records to it, e.g.
[code]
Please send the exact commands you're using when you see the failure.

[2018-08-12 11:25] saper commented on #4343
Nope, no PR from me at the moment

[2018-08-12 17:34] TkTech opened #4393 "Greedy Default Routes Blocking OPTIONS"
A greedy route prevents mapping your own OPTIONS handlers when required, such as for tus.io support or 3rd party middleware integrations.

https://github.com/ckan/ckan/blob/master/ckan/config/routing.py#L102

Likewise, the forced redirection of URLs ending in `/` should probably be removed unless there's a good reason to keep it around, it's definitely incorrect default behaviour. Correct behaviou

[2018-08-13 10:27] wood-chris commented on #4344
[code]

[2018-08-13 13:47] #4372 closed

[2018-08-13 13:50] tino097 commented on #4372
As this is merged, can you guys try to run the tests locally to check if everything is ok

@davidread @wardi @klikstermkd

[2018-08-13 14:05] #3923 closed

[2018-08-13 14:05] amercader commented on #3905
Fixed in #4003

[2018-08-13 14:05] #3905 closed

[2018-08-14 09:11] tino097 opened #4395 "Ckanext tests failing locally on master"
### CKAN Version if known (or site URL)
master

### Please describe the expected behaviour
all test passing

### Please describe the actual behaviour
16 test failing

### What steps can be taken to reproduce the issue?
After merging of #4390 when running tests on `ckanext` following errors are occuring

https://gist.github.com/tino097/2384b6fb2d13768e290d43baa6d7b655

[2018-08-14 14:27] amercader commented on #4393
The first route was added because Pylons was returning the body of the `GET` response when requesting `OPTIONS`, so a catch-all route was added, pointing to a view function that just returns [an empty response](https://github.com/ckan/ckan/blob/master/ckan/controllers/home.py#L97:L99). Flask handles this automatically (supporting the `OPTIONS` request and returning an empty response), and all sign

[2018-08-14 14:28] amercader commented on #4392
@davidread want to submit a PR with this requirements change? I think it should not affect tests but we'll find out.

[2018-08-14 14:31] amercader commented on #4391
According to the dataset dict that you posted, your resource is not on the DataStore (`"datastore_active": false`), so the Not Found error is the expected response.

Are you using the DataPusher to get the data automatically in the DataStore after uploading a file? If not you need to [enable it](http://docs.ckan.org/en/latest/maintaining/datastore.html#datapusher-automatically-add-data-to-the-data

[2018-08-14 17:44] jqnatividad opened #4398 "Trash purge timeouts"
### CKAN Version if known (or site URL)

2.7

### Please describe the expected behaviour

The sysadmin can purge datasets from trash.

### Please describe the actual behaviour

For sites with a large number of datasets in the trash, purge times out as it is an all or nothing operation.

### What steps can be taken to reproduce the issue?

Delete a large number of datasets in CKAN (e.g. > 100) and

[2018-08-14 21:18] LingboTang opened #4400 "How to set default sort order for search results?"
### CKAN Version if known (or site URL)
2.6.6

### Please describe the expected behaviour
I should be able to set default sort order from "Relevance" to a customized sort order.

### Please describe the actual behaviour
In this doc: [Sort by custom fiedls on the dataset search page](http://docs.ckan.org/en/2.6/extensions/adding-custom-fields.html#sorting-by-custom-fields-on-the-dataset-search-page

[2018-08-14 21:43] LingboTang commented on #4383
@smotornyuk Is tracking function able to tracking how many times has one data (actual resource under a package) been downloaded?

[2018-08-14 22:18] jqnatividad commented on #4383
@LingboTang, you may want to check https://github.com/ckan/ckanext-googleanalytics for that.

You may also want to check out http://tools.wprdc.org/analytics/wprdc-dashboard/ and https://github.com/WPRDC/WPRDC-dashboard cc @drw

[2018-08-15 11:22] duskobogdanovski opened #4401 "Language switcher not working correctly with Chinese languages"
### CKAN Version if known (or site URL)
CKAN 2.6 +

### Please describe the expected behavior
If Chinese chosen it should be shown on switcher when the page is reloaded.

### Please describe the actual behavior
Instead of Chinese it shows the default one.

### What steps can be taken to reproduce the issue?
Switch language to Chinese.

[2018-08-15 18:10] jqnatividad opened #4403 "PostgreSQL 9.3 End-of-Life Nov 2018"
### CKAN Version if known (or site URL)

### Please describe the expected behaviour

PostgreSQL 9.3 is specified as the minimum version required for CKAN

http://docs.ckan.org/en/latest/maintaining/installing/install-from-source.html

and the PostgreSQL project maintainers have [issued an EOL Warning November 2018](https://www.postgresql.org/about/news/1878/) for this version.

Possibly go to 9.6

[2018-08-16 08:17] s3lvatico commented on #4391
Thank you @amercader , I actually had the datapusher not explicitly enabled, as you correctly pointed out.

[2018-08-16 09:01] amercader commented on #4391
Glad you got it working

[2018-08-16 09:01] #4391 closed

[2018-08-16 10:57] s3lvatico commented on #4391
As a follow up, is it normal that I can still see the resource inside the dataset although it appears to be correctly deleted? (and I assume it to be actually deleted since the DataExplorer plugin reports an error and I get a "not found" error if I try to download the resource).
Should I also manually delete it from the web interface or is there some other API call I am missing?

[2018-08-16 13:13] #4395 closed

[2018-08-16 13:44] cclauss commented on #4335
Closing.  Should be solved via Solr running in Docker at #4394

[2018-08-16 13:44] #4335 closed

[2018-08-16 14:05] cclauss commented on #4347
Closing in favor of #4394

[2018-08-16 14:05] #4347 closed

[2018-08-16 14:47] ghltshubh opened #4404 "Is there support for CKAN-Globus integration?"
Does CKAN provide integration with Globus?

[2018-08-16 15:03] yomatters opened #4405 "Datasets page breadcrumb has the wrong URL"
### CKAN Version if known (or site URL)
2.8.1

### Please describe the expected behaviour
The "Datasets" breadcrumb on the Datasets page links to `/dataset`.

### Please describe the actual behaviour
The "Datasets" breadcrumb on the Datasets page links to `/dataset_search`. Clicking it produces a 404 error.

### What steps can be taken to reproduce the issue?
Navigate to `/dataset`, and click on t

[2018-08-16 15:08] jqnatividad opened #4406 "Feature Request: Interactive Filtering UI"
It'd be nice if we had a modern, interactive filtering UI, similar to what was implemented for energidataservice.dk, which runs CKAN.

![co2_emission_prognosis_-_co2_emission_prognosis_data_-_welcome_to_energy_data_service](https://user-images.githubusercontent.com/1980690/44216859-021b6d00-a144-11e8-935a-229590c3e43e.png)

https://www.energidataservice.dk/en/dataset/co2emisprog/resource_extract/d

[2018-08-16 19:34] wardi opened #4407 "datastore_upsert: dry_run parameter"
We have users that would like to test loading data into a datastore table for any errors without actually inserting/updating any data. This lets them make sure they've fixed all errors in the data they're loading before the publishing their new records.

This PR adds a `dry_run` parameter to `datastore_upsert`, default False. When set to True the transaction will be rolled back instead of committe

[2018-08-17 03:14] LukeTully commented on #4406
@jqnatividad This is a problem I'll likely be working on in the next few months for our portal. I'll be sure to contribute back anything I can! It'll be great to have this functional reference.

[2018-08-17 10:33] davidread commented on #4392
Cool, I've done a PR and the tests pass.

[2018-08-17 16:11] davidread commented on #4372
I think this is all ok now. Thanks for your hard work on this @tino097 !

[2018-08-17 21:36] TkTech commented on #4392
Posted an alternative PR which just removes pyfakefs.

[2018-08-18 04:09] dkelsey commented on #2568
I'm looking into somehow making the data proxy url a configuration setting
https://github.com/ckan/ideas-and-roadmap/issues/217

[2018-08-18 09:33] rossjones commented on #4405
This is easily reproducible on beta.ckan.org (but not demo.ckan.org) so it looks like it may have been a recent change.

[2018-08-18 09:33] rossjones commented on #4404
Globus? https://www.globus.co.uk/ ?

[2018-08-21 02:17] u10313335 opened #4413 "Flask-Babel does not translate zh_TW and zh_CN"
### CKAN Version if known (or site URL)

≧ 2.8.0

### Please describe the expected behaviour

When switching to ``zh_TW`` or ``zh_CN`` languages on the pages written in Flask (ex. ``/`` and ``/user``), the pages should be shown in corresponding languages.

### Please describe the actual behaviour

It shows English instead of ``zh_TW`` or ``zh_CN``.

### What steps can be taken to reproduce the iss

[2018-08-21 02:51] u10313335 commented on #4413
The problem is caused by the ``Flask-Babel`` module which is used to translate pages written in Flask.

Pylons uses Python's ``gettext`` module which is [directory-based](https://github.com/python/cpython/blob/2.7/Lib/gettext.py#L524). However, ``Flask-Babel`` tries to find the directory containing translated strings through Babel's ``Locale.parse()`` function ([ref1](https://github.com/python-bab

[2018-08-21 07:22] #4401 closed, assigned to smotornyuk

[2018-08-21 07:36] tino097 commented on #4413
@u10313335 Please check #4402. I think its fixing this issue

[2018-08-21 07:54] u10313335 commented on #4413
@tino097 thanks. But #4402 is about the "label" shown on the language switcher. The problem I have described in this issue is the language of a CKAN site.

[2018-08-21 08:00] tino097 commented on #4413
Sorry, i didnt read your comment, just went through the issue description  :/

[2018-08-21 12:08] #4392 closed

[2018-08-21 12:29] TkTech commented on #4406
https://gitlab.com/energinet/eds/ckanext-dataextractor/blob/master/ckanext/dataextractor/fanstatic/custom.js

[2018-08-21 12:35] TkTech commented on #4413
flask-babel needs to allow passing through args to babel.parse, specifically `resolve_likely_subtags=False` would fix this problem.

[2018-08-21 13:18] amercader commented on #4404
@ghltshubh Maybe you mean this [Globus](https://www.globus.org/globus-connect-personal)?
There is no support for this AFAIA but feel free to reach the mailing list or the [ideas](https://github.com/ckan/ideas-and-roadmap) repo if you would like guidance of how to implement it.

[2018-08-21 13:18] #4404 closed

[2018-08-21 18:41] jqnatividad opened #4415 "Update Datastore Datapusher documentation to mention Express Loader"
The current Datastore documentation makes no mention of Express Loader (https://github.com/davidread/ckanext-xloader), which is a marked improvement over Datapusher.

https://ckan.org/2017/11/20/express-loader-for-ckan-datastore/

For legacy purposes, I guess Datapusher needs to be maintained. But for new installations, shouldn't Express Loader be the recommended mechanism?

cc @davidread

[2018-08-21 19:02] jqnatividad commented on #4406
Awesome @tino097!  Will index ckanext-dataextractor on extensions.ckan.org so other CKAN installations can find it.

As extensions.ckan.org assumes the repo is in github, will have to create the entry manually.  Please do check the entry once its up.

@LukeTully, perhaps you can generalize and adapt it so any CKAN installation can use it, better yet, as I think @TkTech is implying, adapt the JS so

[2018-08-21 23:54] Engerrs opened #4416 "Resource View reoder is not working for Non-sysadmin"
### CKAN Version
2.5, 2.6, 2.7

### Expected behaviour
If for example, editor of some Organization tries to re-order the views for a resource, they reordered.
### Actual behaviour
When Non-sysadmin user tries to re-order views for a resource, is gives an error that "resource_id" is not found.
### To reproduce the issue
Create a new Editor/Admin in Organization, go to some resource of a dataset tha

[2018-08-22 00:06] LukeTully commented on #4406
Thanks @tino, @TkTech, and @jqnatividad . There's a bit to go through here, so I'll update this thread when I'm able to take a more thorough look. Seems like there's quite a bit of CKAN usage happening in DK which is promising.

[2018-08-22 00:12] LukeTully commented on #4415
@jqnatividad This seems sensible, given that I'd not heard of express-loader until just now.

[2018-08-22 08:48] metaodi opened #4418 "package_create raises KeyError with `return_id_only` in context"
### CKAN Version if known (or site URL)
master

### Please describe the expected behaviour
Calling `package_create` with the `return_id_only` in the context should create a package and return the id.

### Please describe the actual behaviour

I noticed this in a [build of one of my extensions](https://travis-ci.org/opendatazurich/ckanext-stadtzh-harvest/jobs/418714960#L4319-L4330) against the `mas

[2018-08-22 08:48] metaodi commented on #4418
I will create a PR for this.

[2018-08-22 15:13] LingboTang commented on #4400
I did similar thing to my project and it works for me. I would agree with you that the docs need an update in this regard because it is a common case such that a fair amount of people would like to use their own sort order as default.

[2018-08-22 18:45] LukeTully commented on #4406
@tino097 were you using azure object storage due to the datastore api's query limitation? Haven't dug into this until just now, but the datastore api seems to lack comparison operators without passing sql queries directly from the frontend.

@wardi Could you confirm this is the case? Are there any known alternatives to this?

[2018-08-22 20:47] davidread commented on #4415
I'm supportive of this. Since xloader was launched it's been used in a dozen or so CKANs in OpenGov. And we had some good validation of it being used and improved ([PR1](https://github.com/davidread/ckanext-xloader/pull/29) [PR2](https://github.com/davidread/ckanext-xloader/pull/34) by @metaodi who switched the Open Data Zurich site from datapusher to xloader.

I have two concerns about xloader be

[2018-08-22 21:52] jqnatividad commented on #4415
As all our sites have the Datastore installed, before Express Loader, the single largest source of ongoing support issues was the Datapusher.

One day, it will work fine without a hitch (albeit very slowly), and then the following day, it won't because of some data quality issue in the last row of a large CSV, which aborts the whole job.

@davidread, your first concern is a feature not a bug.  Upl

[2018-08-22 22:16] TkTech commented on #4415
I've had likewise experiences, and not just with CKAN. Guessing column types always causes more problems then it solves, especially when it starts doing things like truncating 0s because it thinks that UPC is a number.

IMO the "better" solution is to continue expanding the data dictionary feature. An example process would be:

1. Create the resource, upload the file, but do not automatically load

[2018-08-22 22:32] TkTech commented on #4415
@jqnatividad switching away from datapusher should be trivial, xloader is mostly a drop-in replacement. I would vote for immediate deprecation and removal on the next release unless there's a strong reason to keep it. We would backport security fixes only. Replace the documentation with xloader along with a footnote to see earlier versions of the documentation for help with legacy datapusher insta

[2018-08-22 22:41] jqnatividad commented on #4415
@TkTech xloader's genesis actually came from this discussion 3 years ago :)

https://github.com/ckan/ideas-and-roadmap/issues/150

And I'm all for expanding the data dictionary too to help not just with xloading, but as as way to get descriptive statistics metadata as well.

https://github.com/ckan/ideas-and-roadmap/issues/196

[2018-08-22 22:47] TkTech commented on #4415
Regarding the statistics, I'm all for it but rather then using csvkit and an asynchronous job it should be just a part of the loading process. Once the data is in postgres we can easily get all of that information without having to use something like csvkit.

1. No additional read of the data via csvkit
2. No additional dependency
3. Since it's SQL on the post-loaded data it works regardless of th

[2018-08-22 22:49] jqnatividad commented on #4415
LOL! Our comments re using Postgres statistics crossed path in the internets :)

[2018-08-22 22:50] LukeTully commented on #4415
I like the idea of simply including the data dictionary workflow as an obvious next step in the resource addition process. (Create dataset -> add resource -> define dictionary)

Rather than loading just a few rows, or maybe in addition to that, we could try and surface data validation exceptions on the client before upload. For example, a user uploads a 100MB+ csv, and we gradually validate the co

[2018-08-22 22:58] TkTech commented on #4415
I'm fine with this as long as it's 100% client side and running transparently in the background, but I'd give it a pretty low priority given restricted time.

[2018-08-23 11:51] amercader commented on #4415
Thanks all for this very useful discussion. There's lots to unpack here so I'll summarize my views separately.

* Mention Express Loader in docs: absolutely. We should reword the DataPusher section to "Automatically getting data in the DataStore" and describe EL there (with or without mentinoning DataPusher too, see next point)

* Dropping DataPusher and replacing it with EL: I'm happy with this i

[2018-08-23 14:30] inghamn opened #4420 "Dataset counts incorrect on Groups listing"
After upgrading to CKAN 2.8.1, the dataset counts are incorrect on the group listing screen.

On the group listing screen (/group), the dataset count for each group is the full dataset count for the whole site.  The correct count is shown on the screen for each individual group (/group/somegroup)

CKAN 2.8.1
/group
/group/somegroup

[2018-08-24 09:40] davidread opened #4423 "upgrade python-dateutils"
CKAN's version of python-dateutil:

* requirements.in: python-dateutil>=1.5.0,<2.0.0
* requirements.txt: python-dateutil==1.5

But that is really old. The latest is 2.7.3.

This make it less compatible with the frictionless data project:
tableschema requires [python-dateutil>=2.4,<3.0](https://github.com/frictionlessdata/tableschema-py/blob/master/setup.py#L27) (as used by [ckanext-datapackager](h

[2018-08-24 10:28] davidread commented on #4423
I believe ([minor clue](https://github.com/ckan/ckan/commit/1a188b04f91116beb201eadeb14fe65470e23123)) we specified <2.0 ([back in 2013](https://github.com/ckan/ckan/commit/b928adcb22ff808afff4eb8cf7e340858edb8a7a)) because of this message in the [changelog](https://github.com/dateutil/dateutil/blob/master/NEWS) for 2.0:

However version 2.1 adds back compatibility for python 2.X.

[2018-08-24 10:29] emepetres opened #4425 "Bad dataset persistence after docker-compose down"
### CKAN Version if known (or site URL)
CKAN 2.7, using docker-compose.
The image used is compiled from 2.7 tag, with minor tweaks to resolve some bugs found. It is built by https://github.com/MSO4SC/MSOPortal/blob/master/datacatalogue/create-base-ckan-image.sh

### Please describe the expected behaviour
After docker-compose down && docker-compose up -d, datasets should be listed under `/datasets`

[2018-08-24 11:31] tino097 commented on #4406
@LukeTully yes, that was the case

[2018-08-24 13:16] jqnatividad commented on #4415
Hi @amercader,
On Data Schema, that'd be excellent!  Though switching over might be non-trivial given all the work that was done to store Dictionary values in Postgres comments.

I've been tracking the Frictionless Data project and we've been planning on installing ckanext-datapackager as a standard extension especially since we've [announced support for Fiscal Data Package and Data Packages in ge

[2018-08-24 14:49] #3510 closed

[2018-08-25 21:59] wardi commented on #4415
+1M to data schemas before uploading data

open.canada.ca has been doing something like this internally with ckanext-recombinant for a couple years now, and we have departments lined up to use it because the users love it and the data quality is awesome.

Recombinant benefits:
- controlled lists (single and multiple select) are supported
- schemas are applied across organizations so we can easily

[2018-08-25 22:14] wardi commented on #4415
This got lost in my long-winded comment: ckanext-validation and the the approach @amercader describes looks awesome and super useful without any changes!

Wait, is this an issue about xloader?

Yes, I think we should recommend xloader over datapusher :-)

[2018-08-26 11:52] OriHoch commented on #4425
I believe you need to [rebuild the search index](http://docs.ckan.org/en/2.8/maintaining/paster.html#rebuild-search-index)

[2018-08-27 04:13] desaija-lilly commented on #3085
I'm trying this on RHEL7 with CKAN 2.8.1, Apache Solr 7.4 and PostGres 9.2.  I have tried the correct username and password for CKAN, but i'm getting the same error. I blew away Postgres and set it up twice more to make sure I didn't do anything wrong, but I'm getting the same issue.

[2018-08-27 08:57] emepetres commented on #4425
@OriHoch it did the trick, thanks!

IMO, I think the search index should be rebuilt in ckan entrypoint to consider this issue closed.

For reference, this is the command I used after docker-compose up -d:
`docker exec -t ckan bash -c 'source /usr/lib/ckan/default/bin/activate && cd /usr/lib/ckan/default/src/ckan && ckan-paster search-index rebuild --config "${CKAN_CONFIG}"/ckan.ini'`

[2018-08-27 12:25] OriHoch commented on #4425
the solr reindexing is only needed if you restart solr (or other edge cases). Running the rebuild on every restart of ckan will delay start up time considerably (depending on how many datasets you have), and is not needed as long as you keep Solr running.

this command should also work to run the rebuild -
`ckan-paster --plugin=ckan search-index rebuild -c "${CKAN_CONFIG}/ckan.ini"`

[2018-08-27 13:09] wardi commented on #4425
There should be a volume for the solr data so you won't need to rebuild after every restart.

[2018-08-27 13:43] OriHoch opened #4431 "exception after upgrade to 2.8.1 - Popped wrong app context"
After upgrade from 2.7 to 2.8.1 - I'm seeing some exceptions in a production server log, couldn't reproduce the error locally

### CKAN Version if known (or site URL)
2.8.1

### Please describe the expected behaviour
no exception (or less cryptic exception..)

### Please describe the actual behaviour
exception -
[code]

### What steps can be taken to reproduce the issue?
I'm just seeing those exce

[2018-08-27 19:57] OriHoch commented on #4431
seems to be solved by switching to gunicorn to serve wsgi (used paster serve before)

still interesting to understand why it happens

[2018-08-27 21:41] davidread commented on #3517
Yep, this was completed here: https://github.com/davidread/ckanext-xloader

[2018-08-27 21:41] #3517 closed

[2018-08-28 08:42] emepetres commented on #4425
If @wardi solution would not be feasible, maybe the ckan entrypoint could check if rebuild is necessary (e.g. if there exists datasets but search index is empty) and act in consequence.

[2018-08-28 12:29] amercader commented on #4418
Fixed by #4429

[2018-08-28 12:29] #4418 closed

[2018-08-28 14:18] mystycs opened #4432 "resource_proxy not working"
I am running ckan 2.7.3 and i enabled resource_proxy in my plugins production.ini.

But i still get the error in my HTML view for webpage_view.

Refused to display 'https://www.newegg.com/' in a frame because it set 'X-Frame-Options' to 'sameorigin'.

Any idea why it might not be working?

[2018-08-29 05:13] vjain641 commented on #3942
Hi @joelwigley , @tino097 , @Engerrs

I'm facing the same issue with CKAN 2.7.2 and Nginx 1.13.3 even after applying the above workaround.

CKAN is running with the following settings :
_ckan.site_url = http://CKAN_URL/
ckan.root_path = /ckan/{{LANG}}/

login_form_url= /ckan/user/login
login_handler_path = /ckan/login_generic
post_login_url = /ckan/user/logged_in_

and following is the Nginx confi

[2018-08-29 21:29] LingboTang opened #4434 "Package URL is not stored"
### CKAN Version if known (or site URL)
2.7.3

### Please describe the expected behaviour
When I query a package with `package_search` or `package_show`, it should show me the url in `url` field. For example if I want to get the metadata on demo: https://demo.ckan.org/api/3/action/package_show?id=ict-administracja-2015. It should show me:
`{"help": "https://demo.ckan.org/api/3/action/help_show?nam

[2018-08-31 13:26] davidread commented on #4415
Covering off the caveats that @amercader raises:

**i. No type guessing potentially affecting vizualizations.**

There doesn't seem to be a problem with it interpreting the text as numbers:

<img width="1389" alt="screen shot 2018-08-31 at 11 03 29" src="https://user-images.githubusercontent.com/307612/44906793-d2f12800-ad0d-11e8-9d58-22934bba5734.png">

However there is an issue with dates (e.g.

[2018-08-31 13:41] davidread opened #4437 "wrong link to org in breadcrumb on a /dataset/xyz page"
### CKAN Version if known (or site URL)
master

### Please describe the actual behaviour
On the dataset's page e.g. `/dataset/gold-prices` the breadcrumb link to the org is wrong. e.g.
`http://192.168.33.60:5000/organization/opengov?action=read&controller=organization` instead of http://192.168.33.60:5000/organization/opengov

[2018-08-31 13:42] davidread commented on #4437
Similar to #4405

[2018-09-03 09:15] sheeba123 opened #4440 "update resource table in CKAN app"
### CKAN Version if known (or site URL)
2.8
### Please describe the expected behavior
Production site links pointing to dev env resources
### Please describe the actual behavior
I want to update resource table so that it will point to actual resource in production
Please suggest

### What steps can be taken to reproduce the issue?
CKAN app cloned from development env to production

[2018-09-04 07:15] VikingScientist opened #4442 "Feature request: "add another" button when editing datasets"
### CKAN Version if known (or site URL)
http://portal.mso4sc.eu/

### Please describe the expected behaviour
I expect the interface on editing existing datasets to mirror that of creating new datasets. In short I expect that the two screenshots given below ("new dataset" and "edit dataset") should have identical form.

### Please describe the actual behaviour
What happens is that editing datasets

[2018-09-04 09:18] lucapelizzo opened #4443 "how to trace "blank" edit of dataset visible in dataset page but not in activity stream"
### CKAN Version if known (or site URL)
I tried with 2.6.2 and 2.8.0 hosted in my company and with 2.6.6 directly on demo.ckan.org

### Please describe the expected behaviour
In my company we have the need of executing massive updates of datasets (by using package_patch) without verifying if the edit is already present (e.g. "blank" edit) in the dataset currently being edited, and we need to know

[2018-09-04 12:37] wardi commented on #4443
+1 to not being schizophrenic

I think the simplest approach would be to move the metadata_modified field update to be triggered just before the search index update code so it doesn't get called when the db values aren't changing.

@lucapelizzo do you have any interest in submitting a PR? I'd be happy to help point you in the right direction.

[2018-09-04 13:05] amercader commented on #4442
What you describe makes sense. There is some logic in the templates that hides the "Save & add another" button when not in the create dataset form (`stage == True`):

https://github.com/ckan/ckan/blob/master/ckan/templates/package/snippets/resource_form.html#L71

Changing this would be easier but I'm not sure if further changes are needed at the blueprint level to handle redirects (I'd imagine the

[2018-09-05 07:03] lucapelizzo commented on #4443
I never did something similar before, if you can give me some technical hints (which files have to be edited??) I can give it a try. I can run test only on a 2.6.2 version.

[2018-09-05 13:45] TheMMcOfficial opened #4444 "'ascii' codec can't decode byte 0xe9 in position 103: ordinal not in range(128)"
### CKAN Version if known (or site URL)
2.8

### What steps can be taken to reproduce the issue?
when I try to import the data from my older server I got this:

[code]
or

[code]

[2018-09-05 15:59] TheMMcOfficial commented on #4444
`paster search-index rebuild --config=../../production.ini
2018-09-05 11:58:03,303 DEBUG [ckan.lib.fanstatic_resources] Base path /ckan/default/src/ckan/ckan/public/base
Traceback (most recent call last):
  File "/ckan/default/bin/paster", line 11, in <module>
    sys.exit(run())
  File "/ckan/default/local/lib/python2.7/site-packages/paste/script/command.py", line 102, in run
    invoke(command,

[2018-09-06 13:14] wardi commented on #4444
Your first traceback suggests we're not handling some unicode strings correctly. Have you customized indexing at all in an extension with `before_index`? Have you included unicode characters in your configuration (e.g. site_id) that we might not be expecting? Are you able to help narrow down the record that's causing the failure by showing us the record being passed to solr? If you're not comforta

[2018-09-06 16:18] exlibris opened #4445 "Following organization fails"
Running CKAN 2.8.0.  A fresh install with no localization via extension.  When clicking "Follow" on an organization, I am getting the error:
[code]
It works fine for datasets and groups.  Also, I see it is working in demo.ckan.org, but that appears to be back at version 2.6.0.  Is CKAN 2.8.0 considered a stable release or should I roll back to 2.6.0?

[2018-09-07 12:18] davidread opened #4446 "In datastore_search, parameter include_total=False doesn't work"
### CKAN Version if known (or site URL)
master

### Please describe the expected behaviour
When calling action function `datastore_search` you can set parameter include_total=False when you don't need the count. This should prevent an SQL query e.g. `SELECT  count(*) FROM "47e77d3c-6c77-44f2-bbf4-740b1b28bf5f"  ;` Counting rows is notoriously expensive, so we should avoid this when possible.

###

[2018-09-07 12:43] wardi commented on #4446
oh, I see the bug. The `default` validator replaces any falsey values with its parameter. That seems really broken. Will have to check for code relying on that behaviour, but I'll submit a fix.

[2018-09-07 12:52] wardi opened #4447 "`default` validator replaces all falsey values"
Change the current behaviour of the core `default` validator:

| default(42) | current return value | new return value |
| - | - | - |
| (missing) | 42 | 42 |
| None | 42 | 42 |
| 100 | 100 | 100 |
| 0 | 42 | **0** |
| False | 42 | **False** |
| [] | 42 | **[]** |

[2018-09-07 12:58] wardi commented on #4446
I didn't notice this because I was testing with the API using the string `"false"` instead of the json value False

[2018-09-10 09:13] sheeba123 commented on #4440
Thanks for responding
I updated both tables then ran paster --plugin=ckan search-index rebuild --config=/etc/ckan/std/std.ini
command for rebuilding index
I get following error and also ui not updated
Config file not found: /etc/ckan/std/std.ini
(Given by: -c parameter)

Please provide inputs

[2018-09-10 11:02] tino097 commented on #2294
As this looks like a issue targeting really old release, i will close it.
Please reopen if occurs in newer versions

[2018-09-10 11:02] #2294 closed

[2018-09-10 11:03] tino097 commented on #2309
As this looks like a issue targeting really old release, i will close it.
Please reopen if occurs in newer versions

[2018-09-10 11:03] #2309 closed

[2018-09-10 11:27] sheeba123 commented on #4198
I too hv same issue ,which rebuild index command u use
From ckan documentation I got '**paster --plugin=ckan search-index rebuild --config=/etc/ckan/std/std.ini'**
but I dont hv std folder in my ckan folder :(
Please suggest

[2018-09-10 13:43] jqnatividad commented on #4406
Added [ckanext-dataextractor to the extension catalog](http://extensions.ckan.org/extension/dataextractor/).  Will close issue, once its generalized to remove azure dependency and/or the filtering behaviour is added to core CKAN.

[2018-09-10 15:40] tino097 commented on #2370
Looks like this was fixed, also its targeting old release. Closing

[2018-09-10 15:40] #2370 closed

[2018-09-10 16:07] LingboTang commented on #3878
@amercader, I have similar problems as @KrzysztofMadejski mentioned. Instead, my test of tracking only works when I go to the resource's page - "Go to resource". I want to override the middleware `TrackingMiddleware` which will handle the tracking logic and update the new tracking in `tracking_raw` table. I have asked my question here in stackoverflow about how to make customized middleware in ext

[2018-09-10 17:45] LingboTang opened #4451 "How to extend TrackingMiddleware in my own extension/plugin"
### CKAN Version if known (or site URL)
2.7.3

### Please describe the expected behaviour
I've read [IMiddleware docs](http://docs.ckan.org/en/ckan-2.7.3/extensions/plugin-interfaces.html?highlight=IMiddleware) in official docs. I should be able to implement this interface and extend the `TrackingMiddleware` with my own implementation.

### Please describe the actual behaviour
I defined a `MyTrack

[2018-09-11 06:03] #4416 closed

[2018-09-11 08:52] vikesh2018 opened #4452 "CKAN root path repeated in URL"
### CKAN Version if known (or site URL)
2.8.0

### Please describe the expected behaviour

We have a CKAN site that should be accessed via http://192.168.183.128/data
The expected CKAN URL should be http://192.168.183.128/data/<ckan_page>

### Please describe the actual behaviour

When viewing some of the CKAN pages in a browser, the url root is repeated.
Therefore the site cannot be reached.

The

[2018-09-11 09:50] rossjones commented on #2317
Not sure why this got closed by me merging a remote PR into a remote repo :( I've re-opened and submitted the PR into CKAN itself.

[2018-09-11 10:03] kushagrasrivastva-NEC commented on #4267
@terchris
Please update whether wecan close this issue or not??

[2018-09-11 10:11] daveanderson-ie opened #4454 "The documentation describing behaviour of the debug flag is obsolete"
### CKAN Version if known (or site URL)
2.9.0a

### Please describe the expected behaviour
Documentation should describe the effect of setting the debug flag to true

### Please describe the actual behaviour
Documentation describes behaviour that was removed in https://github.com/ckan/ckan/pull/3000, according to this issue https://github.com/ckan/ckan/issues/3584

### What steps can be taken to r

[2018-09-11 11:50] wendyliao2018 opened #4455 "CKAN Limitations?"
Is CKAN able to be programmed so that instead of uploading data onto a website, clients could actually just write straight onto the website and save?

[2018-09-11 12:05] #4437 closed

[2018-09-11 12:08] tino097 commented on #4455
Hi, thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the ckan-dev mailing list or the #ckan tag on SlackOverflow.

You can also try on the #ckan IRC channel on freenode, where other developers may be able to help you.

Thanks!

[2018-09-11 12:08] #4455 closed

[2018-09-11 12:14] smotornyuk commented on #4445
Could you try to upgrade to 2.8.1 - it works fine there. There were some bugs related to routing that are fixed in 2.8.1 and you probably just find one of them

[2018-09-11 12:19] wardi commented on #4454
Thank you for this! Do you have a minute to submit a pull request to correct the documentation?

We're moving all the controllers over to flask views which IIUC will give us access to better, but different, interactive debugging. For now it's best to just remove this text.

[2018-09-11 12:29] wardi commented on #4451
It looks like the standard TrackingMiddleware intercepts all POST requests to `/_tracking'. As a quick hack you could disable the TrackingMiddleware in your copy of ckan to see if that resolves the issue.

If that does work, we could change the middleware order so that custom middleware comes earlier in the stack. We'd have to check if that would break any existing middleware plugins of course.

[2018-09-11 20:05] LingboTang commented on #4451
@wardi Instead of using the default tracking_summary table. I would like to change `tracking_date` from date to timestamp such that it allows me to update tracking_summary by hour or even minute if possible. Currently, `tracking_raw` and `tracking_summary` table are being initialized on the first time configuration. If I want to create my own `tracking_raw` and `tracking_summary` tables, I need to

[2018-09-12 11:09] rp-21 commented on #4198
@sheeba123  Yes the same one. in my case my conf.ini is different.
paster --plugin=ckan search-index rebuild --config=/etc/ckan/default/production.ini
although config file must be your running ckan instance's conf.ini.

[2018-09-12 12:26] wendyliao2018 commented on #4455
Hi, Thanks for letting me know! Still trying to figure the site out I've posted it over on StackOverflow and I'll wait for an answer there.

[2018-09-13 08:55] metaodi opened #4457 "`dataset_read` legacy route missing"
### CKAN Version if known (or site URL)
master

### Please describe the expected behaviour
There is a alias for the `dataset_read` legacy route in CKAN 2.8+, I guess it's missing in [LEGACY_ROUTE_NAMES](https://github.com/ckan/ckan/blob/f3a9c0d99e0bbd404052f49a1ec36a208af634c5/ckan/lib/helpers.py#L68-L74).

### Please describe the actual behaviour
When running the tests on my CKAN extension agains

[2018-09-13 08:56] metaodi commented on #4457
I propose to create unit tests for **all** routes we still want to support, otherwise I will have to open issues forever.

[2018-09-13 09:08] metaodi commented on #4434
This is a misunderstanding. The "url" field on the package is not supposed to contain the URL of the dataset on the portal, it's a metadata field to describe the source of this dataset. If you have a look at the demo instance of CKAN, I created a dataset: https://demo.ckan.org/dataset/this-is-a-test-metaodi

There the field "Source" is filled, and if you query this dataset with the API, you'll see

[2018-09-13 11:11] metaodi commented on #4457
Alternatively we could change `_make_menu_item()` in master to handle these cases better. The current implementation looks like this:

https://github.com/ckan/ckan/blob/7aa42d2ab146a601f0ceefedb376f0f2400a5f01/ckan/lib/helpers.py#L935-L938

Maybe it would be better to call `url_for` instead of checking against `config['routes.named_routes']`

[2018-09-13 12:03] tino097 opened #4459 "datastore_search_sql issues with postgres 9.6+"
### CKAN Version if known (or site URL)

all

### Please describe the expected behaviour

return results
### Please describe the actual behaviour

throwing an error `TypeError: expected string or buffer`

### What steps can be taken to reproduce the issue?

use postgres 9.6+ and use `datastore_search_sql` API call

https://github.com/ckan/ckan/blob/master/ckanext/datastore/helpers.py#L94
this line

[2018-09-13 13:54] metaodi commented on #4457
My PR #4458 simply adds the missing routes to LEGACY_ROUTE_NAMES and tests and bunch of legacy routes. It's based on the read_base.html templates of older CKAN versions.

[2018-09-13 14:43] LingboTang commented on #4434
@metaodi Thanks for your explanation, I think I can close this issue now.

[2018-09-13 14:43] #4434 closed

[2018-09-13 18:16] jqnatividad opened #4460 "Download option for Query CSVs"
### CKAN Version if known (or site URL)
2.7.3

### Please describe the expected behaviour

A user can download a Query CSV by clicking on a download button.
### Please describe the actual behaviour

A user can only view a Query CSV.  One can do a datastore dump, but there is nothing in the UI to download the Query CSV.
### What steps can be taken to reproduce the issue?

[2018-09-14 19:05] #4446 closed

[2018-09-14 19:46] wardi opened #4462 "datastore_search: q/fields/records_format edge case tests and fixes"
The latest `datastore_search` code doesn't handle some combinations of parameters `q`, `fields` and `records_format`. Expand test coverage and fix issues found, including issues with `fields` list returned.

PR in progress

[2018-09-16 06:07] sheeba123 commented on #4198
This output I am getting after rebuilding index

2018-09-16 09:16:48,009 INFO  [ckan.lib.search] Rebuilding search index...
2018-09-16 09:16:48,012 INFO  [ckan.lib.search] Rebuilding the whole index...
Indexing dataset 82/822018-09-16 09:16:49,792 INFO  [ckan.lib.search] Finished rebuilding search index.
2018-09-16 09:16:49,857 INFO  [ckan.lib.search] **Commited pending changes on the search index

[2018-09-16 06:58] sheeba123 commented on #4440
This output I am getting after rebuilding index

2018-09-16 09:16:48,009 INFO [ckan.lib.search] Rebuilding search index...
2018-09-16 09:16:48,012 INFO [ckan.lib.search] Rebuilding the whole index...
Indexing dataset 82/822018-09-16 09:16:49,792 INFO [ckan.lib.search] Finished rebuilding search index.
2018-09-16 09:16:49,857 INFO [ckan.lib.search] Commited pending changes on the search index

UI n

[2018-09-16 07:48] sheeba123 opened #4463 "CKAN resource tables not updated"
### CKAN Version if known (or site URL)
2.8
### Please describe the expected behavior
Production site links pointing to dev env resources

### Please describe the actual behavior
CKAN app cloned from development env to production .All resource url are pointing to dev server.
I want to update resource table so that it will point to actual resource in production
Please suggest

### What steps can be

[2018-09-17 20:02] wardi opened #4464 "package_search fl parameter issues"
`fl` parameter to package_search should also accept a list-like strings to make it more consistent with other APIs, and should not cause 500 error when only one field is passed.

[2018-09-17 20:29] jqnatividad commented on #2043
For reference, this is now in CKAN 2.7+ (#3989)

http://docs.ckan.org/en/2.8/maintaining/datastore.html?highlight=dictionary#data-dictionary

[2018-09-18 12:07] wardi commented on #4463
What's the SQL query you're using to update the resource URLs?

[2018-09-19 15:16] wardi commented on #4463
closing as a duplicate of #4198 also work on #4384 should fix the underlying issue

[2018-09-19 15:16] #4463 closed

[2018-09-19 16:41] Abhishek-Dutta opened #4465 "Active Directory implementation"
### CKAN Version if known (or site URL)

### Please describe the expected behaviour

I am checking on if we can do Active Directory implementation for users with ckan and not create users on ckan separately. Not sure if I am missing any component. If present can anyone please point to the right documentation or api.

### Please describe the actual behaviour

### What steps can be taken to reproduc

[2018-09-19 17:20] maurizi opened #4466 "Is packaging.ckan.org down?"
Our Ansible scripts have been failing due to being unable to download the `.deb` from packaging.ckan.org.

Going to the website shows a CloudFlare error page:
![packaging ckan org-python-ckan_2 8-trusty_amd64 deb](https://user-images.githubusercontent.com/4432106/45769829-bfe7be80-bc0e-11e8-8aa1-768fb9fc1880.png)

[2018-09-19 17:56] jqnatividad commented on #4465
You may want to check https://github.com/nhsengland/ckanext-adfs.  We've used it in several installations successfully.

[2018-09-19 20:35] jqnatividad commented on #2368
Closing as we now use cloudstorage as a standard extension in our installations. Reopen if we want to do this in core.

[2018-09-19 22:46] Abhishek-Dutta commented on #4466
Any Update on this. I am also facing the same issue

[2018-09-20 03:51] jwoyame commented on #4311
For the benefit of others who come across this:

I installed CKAN 2.8.1 [from source](https://docs.ckan.org/en/2.8/maintaining/installing/install-from-source.html) on Ubuntu 18.04, and it works fine. However, Solr produces a 404 from Jetty. The problem is with the `solr-jetty` package on 18.04. It installs `jetty9` which does not observe the `/etc/jetty9/contexts/solr.xml` symlink created by the p

[2018-09-20 09:06] derwas commented on #4432
Any updates on this?
I am having the same issue with ckan 2.7.2

[2018-09-20 12:06] amercader commented on #4466
Sorry, this is being looked at now. It must be a problem with the DNS but in the meantime you can access the S£ bucket directly: http://packaging.ckan.org.s3-website-eu-west-1.amazonaws.com/

[2018-09-20 13:01] mystycs commented on #4432
So it seems that mine was working, just many sites dont allow external linking so they will give that error.

I tried this page (https://en.wikipedia.org/wiki/Turtle) and it worked and then tried smaller websites not like google, yahoo etc and saw it works.

Allot of sites set it to sameorigin or deny because they dont allow external linking for security. Was not on my end in the end

[2018-09-20 13:09] wardi commented on #4466
Looks fixed now

[2018-09-20 13:09] #4466 closed

[2018-09-20 13:13] wardi commented on #4465
Hi, thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the ckan-dev mailing list or the #ckan tag on SlackOverflow.

You can also try on the #ckan IRC channel on freenode, where other developers may be able to help you.

Thanks!

[2018-09-20 13:13] #4465 closed

[2018-09-20 13:20] amercader commented on #4432
Yes, the original site can define its preferences regarding embedding via the `X-Frame-Options` header. If it disallows embedding, the browser will honor this and refuse to display the page.

[2018-09-20 13:20] #4432 closed

[2018-09-20 13:35] amercader commented on #4466
Note that https is not working, but http should work for now

[2018-09-20 13:57] OriHoch opened #4468 "support right-to-left layout in the long-term"
now that #4438 right to left support is merged, need to consider how to continue supporting it in the long-term as it might be broken on next major versions (e.g. - someone adds a UI element which needs to be adjusted, or an element's class / layout changes causing broken layout in RTL)

I'm wondering what possible mitigation could be taken to prevent or reduce this risk. Having a dedicated person

[2018-09-20 16:34] mystycs opened #4469 "How to make datatables url open new tab"
Where is the code that allows URLs to be rendered in datatables? I looked through all the js files but cant narrow down where the URLs are generated in datablesview: I want to make the below URL Giftcards open in a new tab

![image](https://user-images.githubusercontent.com/3004566/45833008-7d3aea80-bcd1-11e8-84ee-2a27eb2093a6.png)

[2018-09-20 19:30] #4444 closed

[2018-09-21 05:15] iamarnavgarg commented on #3470
Hi @TkTech can you help me in understanding this issue and how can I proceed further as I am a beginner level in CKAN?

[2018-09-21 07:35] HilariousGil opened #4470 "NAVL __junk Error - Package Create with groups"
I'm using ckanext-scheming and my dataset schema as a field "groups" so I can select the group to which the dataset is connected to.
As the package_create documentation says I give it a list of dictionaries with the key 'id' (e.g. pkg_dict['groups'] = [{'id':'1234567'}] ).
I recieve a Validation Error "__junk: The input field ('groups', 0, 'id') was not expected."
I can see that the dictization_fu

[2018-09-21 10:49] iamarnavgarg commented on #4076
Hello @amercader  can you guide on how to proceed further for this ?

[2018-09-21 11:32] iamarnavgarg opened #4472 "Function _resource_preview() in module ckan.controllers.package has been deprecated"
### CKAN Version if known (or site URL)
2.7.2

### What steps can be taken to reproduce the issue?
I used the plugin ngsiview and after Clicking on preview dataset. I observe the above message in my logs
So, what changes can i do for it?

[2018-09-21 11:32] iamarnavgarg commented on #4472
Hi @amercader

[2018-09-21 12:04] amercader commented on #4076
@iamarnavgarg I think the best way forward is to remove this test class completely as it has never been used and it doesn't follow the rest of tests conventions

[2018-09-21 22:32] LingboTang commented on #3482
Can't agree more. It is unexpectedly slow. Even for 10k dataset CKAN site, the rebuild search-index will take around 16 hours to finish. Not sure if this problem has been fixed in the new version yet.

[2018-09-21 23:00] wardi commented on #3482
I've *ahem* accidentally re-indexed a site with about 80k datasets with extensive metadata and it took about an hour. @LingboTang maybe you're indexing the document contents with ckanext-extractor or something that slows it down even more?

[2018-09-23 15:09] fwoerister commented on #4311
@jwoyame thanks! you saved me a lot of time :+1:

[2018-09-24 17:54] wardi opened #4475 "Resource view creation errors in new flask view"
### CKAN Version if known (or site URL)
master

### Please describe the expected behaviour
creating resource views should work and be covered by at least the most basic unit tests

### Please describe the actual behaviour
creating resource views doesn't work, see:
https://github.com/ckan/ckan/pull/4062/files#r219926627
https://github.com/ckan/ckan/pull/4062/files#r219927711

hacking around those l

[2018-09-24 17:56] wardi commented on #4475
for reference here are the hacks that get me to the third failure
[code]

[2018-09-25 12:15] #4470 closed

[2018-09-25 12:16] amercader commented on #4469
@wardi do you know? That's probably handled by datatables itself right?

[2018-09-25 12:28] #4336 closed

[2018-09-26 10:00] klikstermkd commented on #4468
I suggest that firstly, all templates that exist in CKAN core should be well tested manually. I noticed that there are some parts of the UI that are not properly rendered.

[2018-09-26 10:23] dennisrpnw opened #4477 "Bug in SOLR query (fq) for logged out users"
## CKAN Version if known (or site URL)
2.7.4

## Please describe the expected behaviour
When opening the organization subpage without logging in, it should show the dataset-count for every organization

## Please describe the actual behaviour
When opening the organization subpage without logging in, it shows the the same total dataset-count for every organization

## What steps can be taken to rep

[2018-09-26 10:27] OriHoch commented on #4468
thanks @klikstermkd it will be very useful if you could open issue/s for problems you encounter and mention me in them

[2018-09-26 17:03] wardi commented on #3482
closing as this is no longer a work in progress. If someone has the time to investigate this please open a new issue or PR.

[2018-09-26 17:03] #3482 closed

[2018-09-26 20:33] fostermh commented on #3942
Not working in 2.8.1 using the docker image either.
ckan.site_url = http://CKAN_URL/
ckan.root_path = /ckan
[code]
yields
[code]

While
[code]
gives
[code]

Any suggestions?

[2018-09-27 04:27] vjain641 commented on #3942
Hi @fostermh ,

Could you try below changes in your files:

Change login/logout end points as below(don't put /ckan string in handler paths)-
[code]
If still issue persists, try minimal conf for nginx like below:
[code]
Please comment if you still have trouble in accessing ckan.

[2018-09-27 13:03] #4076 closed

[2018-09-27 19:50] fostermh commented on #3942
@vjain641, thanks for the quick response!

I think I have my issue sorted. I will outline my solution in case it helps others.

This was a two faceted problem. The first was a mis-configuration in the who.ini file (adding /ckan/ to the handler paths), thanks again for that. The second was a redirect from http to https on the host machine. I have apache on the host handling requests and passing to

[2018-09-28 10:47] davidread opened #4480 "Add limits for action functions"
Several API calls are at risk of users requesting large expensive database queries. should add some sensible limits to the number of rows.

We currently limit the number of rows you can return in package_search.

[2018-09-28 15:06] wardi commented on #4299
This seems to be still affecting some instances, reopening

[2018-09-28 16:03] davidread opened #4483 "Remove legacy Search API"
### CKAN Version if known (or site URL)

Can we officially deprecate the legacy [Search API and Utils APIs](https://docs.ckan.org/en/latest/api/legacy-api.html)?

These was described as "legacy API"s since CKAN 2.3 (here)[https://github.com/ckan/ckan/commit/254fca2d43ccacbe674df2da42aba83897dcdb96#diff-b4e5718590c95267775a87dafc922c76). However they have not been marked as deprecated in the change

[2018-09-29 06:50] davidread commented on #3511
In the meantime, I've added some tight limits on the number of results. See: https://github.com/ckan/ckan/pull/4484

[2018-09-30 21:28] austinhuang0131 opened #4485 "ckan.org homepage redirects to some Japanese shopping website"
Currently http://ckan.org redirects to http://www.clma520.co/. I google-searched the website and it also redirects me to the shop. But all the subdomains (demo, docs, package) and even other pages on the main domain (like https://ckan.org/about/instances/) works.

![screen shot 2018-09-30 at 5 28 25 pm](https://user-images.githubusercontent.com/16656689/46262921-46858100-c4d6-11e8-88e6-e7d8e7fd1f1

[2018-10-01 08:29] klikstermkd commented on #4485
@wardi I checked with curl and it doesn't redirect for me.

[2018-10-01 08:48] tino097 commented on #4485
[code]
same setup, added japanese in chrome, set on top, i guess its fixed

[2018-10-01 11:33] iamarnavgarg opened #4486 "Performing Purge operation along with delete operation on organisation of GUI"
### CKAN Version if known (or site URL)
2.7.2

In Reference with the Issue #4267
As we know that deleting an organisation only changes the state of organisation from active to deleted state and is still accessible through the URL `http://<ckan-instance>/organisation/<name-of-org>` .

I would like to propose that can we add a new button on GUI for [organisation_purge](http://docs.ckan.org/en/latest

[2018-10-01 12:20] wardi commented on #4485
It's working for me now too. Do you know what the fix was?

[2018-10-01 14:16] klikstermkd commented on #4485
I don't know, just executed the command and it worked.

[2018-10-01 14:18] wardi commented on #4485
I wasn't being clear, @tino097 do you know what the fix was?

[2018-10-01 17:47] wardi commented on #4485
@austinhuang0131 thank you for the report!

[2018-10-01 17:47] #4485 closed

[2018-10-02 11:03] Baehn commented on #4470
I have a similar problem: I added a form element inserting elements from "h.available_groups" to data.groups in the package form and after trying to create a new package I get an error

"__junk: The input field  [(u'groups', 0, u'image_display_url'), (u'groups', 0, u'description'), (u'groups', 0, u'id'), (u'groups', 0, u'name'), (u'groups', 0, u'title'), (u'groups', 0, u'display_name')]  was not e

[2018-10-02 11:14] spikeheap commented on #4378
Hi, and sorry for the slow response to this. This looks like a bug in the docs – the datastore DB is created automatically as part of the container initialisation. From a clean checkout of `master`:

[code]

I've filed #4488 to remove this instruction from the docs.

[2018-10-02 12:28] #4378 closed

[2018-10-02 12:33] amercader commented on #4486
You are right in that there is no UI for purging organizations or datasets. I think that adding a "Purge" button next to the "Delete" one in the form would cause confusion to the majority of users that don't know the difference between them. Perhaps it makes more sense to add the ability to purge organizations and groups to the existing "Trash" tab in the admin interface (`/ckan-admin`).

[2018-10-02 12:33] amercader commented on #4486
Also please upgrade to 2.7.4 (latest patch release)

[2018-10-02 12:35] amercader commented on #4483
That sounds very sensible.

I think that that the munge functions can be easily turned into actions as you suggest, and the rest we should just remove.

[2018-10-02 23:39] ashmeet-kandhari commented on #4442
Hi @amercader ,
I have raised a PR for the above changes. Please let me know if anything else is needed to be done.

[2018-10-03 08:08] VikingScientist commented on #4442
Proposed fix can be found in #4490

[2018-10-04 04:17] iamarnavgarg commented on #3746
@smotornyuk,do we have a ckan API for deleting a dataset in CKAN also?

[2018-10-04 13:03] smotornyuk commented on #3746
Partially. Dataset can be purged via `paster dataset purge <dataset_id>`, but there are no similar commands for other entity types :(

[2018-10-06 21:43] namgk commented on #3255
any update here? I think the problem still exists in Ubuntu 16.04 package install.

[2018-10-11 09:45] rsalas82 commented on #4431
Same error here, but I'm using Apache instead of Nginx. Could you give me more information about the solution adopted?

[2018-10-11 10:28] OriHoch commented on #4431
Install Gunicorn

[code]

Start the server using Gunicorn

[code]

[2018-10-11 11:15] rsalas82 commented on #4431
When I launch the application, it asks me to install each CKAN module, including the plugins that I have enabled. I already have an instance of CKAN installed with these plugins working perfectly, running on Apache. Is it necessary to reinstall everything?

Thx

[2018-10-11 13:15] frafra opened #4494 ""Edit on GitHub" links on docs.ckan.org are broken"
https://docs.ckan.org/en/latest/extensions/index.html links to
https://github.com/ckan/ckan/blob/master/home/docs/checkouts/readthedocs.org/user_builds/ckan/checkouts/latest/doc/conf.py/extensions/index.rst
instead of
https://github.com/ckan/ckan/blob/master/doc/extensions/index.rst

[2018-10-12 09:42] frafra opened #4496 "New CKAN server, same IP: user partially logged in"
### CKAN Version if known (or site URL)
2.8.1

### Please describe the expected behaviour
On a new CKAN instance with a different database, my old username (that does not exist anymore) should not be recognized.

### Please describe the actual behaviour
"Log in" button is available, but CKAN says that I am already logged ([screenshot](https://screenshots.firefox.com/WrPbYqDCP6Trn5O5/127.0.0.1)).

[2018-10-12 12:09] #4483 closed

[2018-10-12 12:42] frafra commented on #4496
Something bad is happening on the server:

[code]

[2018-10-12 13:07] wardi commented on #4496
try with a different configuration file (specifically a different `beaker.session.secret`) that will make all old login tokens invalid.

[2018-10-12 13:13] wardi opened #4497 "Filtered Datatables Downloads"
PR incoming, based on #4493

[2018-10-12 14:04] davidread commented on #4483
Nice one @ZoranPandovski !

[2018-10-12 14:55] frafra commented on #3319
Still need to reboot ckan because the db is not ready.

[2018-10-15 06:36] frafra commented on #4496
Thank you @wardi, this is interesting. Nonetheless I find strange that the main page and the navbar have different opinions about my user being logged in or not.

[2018-10-15 09:33] klikstermkd commented on #4494
@frafra Looks like this has been fixed. I tried multiple "Edit on GitHub" links and it takes to the correct page on Github.

[2018-10-15 09:42] frafra commented on #4494
@klikstermkd You are right, it is working now :-)

[2018-10-15 10:06] klikstermkd commented on #4469
@mystycs This is something that is handled by the Datatables library itself. It automatically creates the links.

Not sure if Datatables has that option, but you can do it by yourself by selecting all links in the table and set the `target` attribute to `_blank`. Example:

`$('#myTable a').attr('target', '_blank');`

Hope this helps.

[2018-10-15 12:16] metaodi opened #4498 "Backwards compatibility of templates using "c""
### CKAN Version if known (or site URL)
Current master

### Please describe the expected behaviour
It should be possible to use the same template from 2.8 in the current master, without having to deal with missing variables in `c`.

### Please describe the actual behaviour
I have an extension that overrides the `organization/index.html` page, it is based on the template from CKAN 2.8.1. Therefore

[2018-10-15 12:17] metaodi commented on #4498
I think this "error" was introduced in #4143, since the group view does not expose the old variables in `g`. Now I'm not sure if the goal is actually to be able to use a 2.8 template 1:1 in the current master.

A simple workaround would be to start the template with:

[code]
And then simply use `page` in this template. I'm just not sure if this is what you want.
Shouldn't there be at least one rel

[2018-10-15 12:42] tino097 commented on #4498
Thanks @metaodi, it looks that i need to add the `page` to `g` variable as it was done [here](https://github.com/tino097/ckan/blob/5d051d01edea0e82ac1a1cab3e5870890bd9793f/ckan/views/group.py#L179).

[2018-10-15 14:34] wardi commented on #4498
@metaodi my mistake, I apologise! I think we have have added some `c` backwards compatibility fixes like the one @tino097 linked.

A better comment with the code would be great though. e.g.
[code]

[2018-10-16 07:29] rsalas82 commented on #4431
Thanks @OriHoch, I have managed to configure CKAN with gunicorn but due to its complexity (I have not configured it completely, there are things that do not work correctly), I think I'm not able to replace Apache or Nginx for this in my production environment.

@amercader, Do you plan to take a fix for this bug soon?

Thx.

[2018-10-16 12:28] wardi commented on #4496
By trusting the auth cookies it should be possible to avoid a database call on some page loads, but you're right it is strange and we should be forcing someone to be properly logged out if their account has been removed. Would you like to work on a fix?

[2018-10-16 13:06] frafra commented on #4496
I would be happy to contribute to ckan, but I just started to use it and to develop a plugin. After I will publish a preliminary version of my work, I should have enough familiarity with the code and time to pick a couple of bugs and fix them. I hope to start soon by the way (that is way I did a small pull request for the docker-compose.yml that should fix a known issue I had).

[2018-10-17 02:39] BaronErica opened #4503 "The dataset nums of ckan group"
Use Ckan 2.8.

The nums of dataset is 5.
The dataset nums of group1 is 2.

[group_list?groups=group1] API result is 5.
I think that 2 is correct result.

How can I get the correct result.

Thank u.

[2018-10-17 08:42] bzar opened #4504 "i18n API returns JSON-encoded JSON"
### CKAN Version if known (or site URL)
- Correct: https://demo.ckan.org/api/i18n/fi
- Incorrect: https://beta.ckan.org/api/i18n/fi

Problem probably stems from changes [here](https://github.com/ckan/ckan/blob/master/ckan/views/api.py#L467).

### Please describe the expected behaviour
The API should return JSON.

### Please describe the actual behaviour
The API returns JSON-encoded JSON. This brea

[2018-10-17 08:53] bzar commented on #4504
[This](https://github.com/ckan/ckan/blob/master/ckan/views/api.py#L47) states `response_data` should be a string when `content_type` is not `text`, but [this](https://github.com/ckan/ckan/blob/master/ckan/views/api.py#L63) calls `json.dumps` on it if it's supposed to be JSON. The calling code conforms to the function documentation, but the function obviously expects a non-serialized value there.

[2018-10-17 11:44] OriHoch opened #4507 "filenames with unicode characters should keep the original file name when saving to disk"
### reproduction
* Upload a resource which has a file name with unicode characters
* View the resource page and inspect the download link

### expected
* Download link should contain the original filename with the unicode characters

### actual
* Download link truncates the unicode characters

## example
* https://demo.ckan.org/dataset/test-hebrew/resource/240cabfe-0057-4aea-9ce0-dbfb708bc484
* or

[2018-10-17 14:42] OriHoch opened #4508 "Invalid translation strings - causing server error"
Seems there are some invalid translation strings which cause a server error when viewing the page with the bad translation string

I ran a script to find them, here are the results (on master):

[code]

This is the script:

[code]

[2018-10-18 13:27] wardi commented on #4508
Let's add this to our tests. Instead of checking for non-ascii-numeric characters we should check that all the variables present in the original string are present in the translated strings with https://docs.python.org/2/library/string.html#string.Formatter.parse

[2018-10-18 13:52] #4498 closed

[2018-10-18 13:54] #4504 closed

[2018-10-18 22:06] jrdh commented on #3994
Just been bitten by this one whilst using [ckanext-rq](https://github.com/ckan/ckanext-rq) and found this existing issue. It seems to have gone pretty stale since the start of the year, did anyone submit anything to resolve this in the end (to either here or to [ckanext-rq](https://github.com/ckan/ckanext-rq))? From looking around it doesn't look like it but thought it was worth making sure before

[2018-10-19 08:44] torfsen commented on #3994
@jrdh AFAIK there hasn't been any work on this issue, so feel free to submit a PR. You can probably reuse most of the code for a PR against CKAN for a similar one against ckanext-rq.

[2018-10-19 10:06] jrdh commented on #3994
:+1: thanks @torfsen, and yeah that's what I would expect too.

[2018-10-22 07:07] torfsen opened #4512 "Improve docs on how to restart CKAN"
*Background: In stadt-karlsruhe/ckanext-extractor#14, a problem with background jobs was potentially caused by not restarting the background jobs worker after changes to the configuration or the CKAN virtualenv. This can happen easily, because the worker runs completely separately from the web server and many people just forget about it.*

The CKAN docs talk a lot about restarting CKAN, but the in

[2018-10-22 10:02] frafra opened #4513 "CKAN exit code 0 even when crashes"
### CKAN Version if known (or site URL)
2.8.1, launched with docker-compose.yml

### Please describe the expected behaviour
When CKAN crashes, an exit code greater than 0 should be returned.

### Please describe the actual behaviour
CKAN returns 0, so the container is not marked as failed and `restart: on-failed` does not work as expected.

### What steps can be taken to reproduce the issue?
1. Ad

[2018-10-22 10:02] frafra opened #4514 "CKAN exit code 0 even when crashes"
### CKAN Version if known (or site URL)
2.8.1, launched with docker-compose.yml

### Please describe the expected behavior
When CKAN crashes, an exit code greater than 0 should be returned.

### Please describe the actual behavior
CKAN returns 0, so the container is not marked as failed and `restart: on-failed` does not work as expected.

### What steps can be taken to reproduce the issue?
1. Add

[2018-10-22 17:09] ansh1221 commented on #3746
Hi @smotornyuk I was bit confused about what does set(r.packages). difference (set(c.deleted_packages) do in controller of admin.py.?
My understanding was that
For revisions, it applies difference operation of set on r.packages and deleted_packages to find whether there are any other revisions or not for the deleted state dataset?

Also, do we have r.groups or r.organization in case of organizatio

[2018-10-22 17:28] ansh1221 commented on #3746
Hi @smotornyuk I was bit confused about what does set(r.packages). difference (set(c.deleted_packages) do in controller of admin.py.?
My understanding was that
For revisions, it applies difference operation of set on r.packages and deleted_packages to find whether there are any other revisions or not for the deleted state dataset?

Also, do we have r.groups or r.organization in case of organizatio

[2018-10-22 21:27] jorarmarfin commented on #3744
Error: Process completed but unable to post to result_url
please help

[2018-10-22 21:48] jorarmarfin opened #4515 "Process completed but unable to post to result_url"
### CKAN Version if known (or site URL)
version 2.8.1

### Please describe the expected behaviour
I install ckan with docker, and everything works fine but when I add a resource in datastore it does not work I get this error Process completed but unable to post to result_url

### Please describe the actual behaviour

### What steps can be taken to reproduce the issue?

[2018-10-23 10:46] #4513 closed

[2018-10-23 10:47] frafra opened #4516 "Broken pipe error"
### CKAN Version if known (or site URL)
2.8.1

### Please describe the expected behaviour
No errors after an valid HTTP request.

### Please describe the actual behaviour
[code]
Also reported by another user: https://gitter.im/ckan/chat?at=5bc88344ef4afc4f2892f371
This error fills the logs with garbage.

### What steps can be taken to reproduce the issue?
Open few pages.

[2018-10-23 10:48] frafra commented on #4513
Ops, GitHub created a new issue when I changed the title of this one. Here is the new link: https://github.com/ckan/ckan/issues/4514

[2018-10-23 12:32] amercader commented on #4512
@torfsen I'm not convinced that we can cover all situations in a single separate page. The exact "restarting"  commands can mean lots of different things depending on the setup and the environment.
Generally restarting CKAN means restarting the web server and any background jobs (core jobs, harvesters, etc). In the official docs this is Apache and Nginx, and the actual commands are listed (`sudo s

[2018-10-23 12:34] smotornyuk commented on #3746
No, here's how it works
Given:
- `r.packages` - list of all packages, that were modified in currently checked revision(_r_)
- `c.deleted_packages` - list of all packages, that are deleted are will be purged soon
Result:
- list of packages, that were modified in the same revision, but still not deleted

For dataset purging, we need to purge all its existence history(i.e. revisions) as well. But som

[2018-10-23 12:37] amercader commented on #4514
Can you provide more details about what command exactly is failing? It might be the paster development server which is returning this error.

Also if CKAN is crashing won't it crash again the next time the container is restarted?

[2018-10-23 15:07] frafra commented on #4514
Sure; it is paster indeed, as I am using the Dockerfile provided by ckan.

It could, if it is not a temporary issue, as any other container which have issues (Docker automatically add delays between restarts if the container keeps failing). There is still a difference between a stopped container (exit code 0) and one that has errors (exit code >0). Having more information about the status of the C

[2018-10-23 15:30] whelks-chance commented on #4477
FYI, we are also seeing this, with Solr v7.4.0

The fq terms in the url passed from CKAN to Solr appear to be whitespace separated, which is fine with lower versions of solr (tested with solr v1.0), but the behaviour appears to have changed somewhere along the way.

Should be:

or

&fq=tags:"demo4"&fq=dataset_type:dataset&

At the moment any whitespace appears to become a "logical OR", which break

[2018-10-24 08:21] iamarnavgarg opened #4518 "Deleting Organization before deleting Dataset"
Can we delete a non empty organization having dataset within it in CKAN 2.7 ? Are there any shortcomings for dataset being public and private in this scenario?

[2018-10-24 11:46] torfsen commented on #4512
@amercader I totally agree that a single page that covers 100% of all cases is neither realistic nor desirable. However, I do think that a page that documents

* *what* needs to be done (e.g. "restart your webserver") and
* *how* that is done *in the standard setup* (as described in the other parts of the docs, i.e. Apache + Nginx + Supervisor)

is worth having. I'll try to prepare a draft once I

[2018-10-25 06:20] ltf9651 opened #4520 "How to uninstall CKAN or change it into development mode?"
CKAN document says that If you’re not using Ubuntu 16.04 64-bit or Ubuntu 14.04 64-bit, or if you’re installing CKAN for development, you should follow Installing CKAN from source instead.

Now I installed from the package and it's production mode, I am a developer and I wanna change it into development mode.

It's running on Ubuntu 16 now

[2018-10-25 13:20] wardi commented on #4469
The code that creates the datatable is in https://github.com/ckan/ckan/blob/master/ckanext/datatablesview/public/datatablesview.js and https://github.com/ckan/ckan/blob/master/ckanext/datatablesview/templates/datatables/datatables_view.html so you could extend the template with JS like @klikstermkd suggests in your own theme plugin

[2018-10-25 13:20] #4469 closed

[2018-10-25 13:31] amercader commented on #4520
I'm not sure I follow. You can probably turn a package install into a source one as essentially what the package one does is creating a virtualenv in `/usr/lib/ckan/default` and installing CKAN and its requirements. You could use the ckan source in `src/` for development using the paster development server but it's probably best if you just reinstall CKAN using a source install. You can use the sa

[2018-10-25 13:31] #4520 closed

[2018-10-25 14:31] frafra opened #4522 "fq_list documentation"
### CKAN Version if known (or site URL)
2.8.1

### Please describe the expected behaviour
`fq_list` can be set as value of  `data_dict` and it is used by [ckan/lib/search/query.py](https://github.com/ckan/ckan/blob/b9e45e2723d4abd70fa72b16ec4a0bebc795c56b/ckan/lib/search/query.py#L327).
'package_search` function in [ckan/logic/action/get.py](https://github.com/ckan/ckan/blob/b9e45e2723d4abd70fa72b

[2018-10-25 23:27] adborden opened #4524 "search-index rebuild_fast should continue on error"
I think `rebuild_fast` should pass the `force` option to `rebuild` in order to continue on error.

### CKAN Version if known (or site URL)
2.3

### Please describe the expected behaviour

    $ ckan search-index rebuild_fast

Does a best effort to continue on error, as quickly as possible to reindex as many packages as possible.

### Please describe the actual behaviour

`rebuild_fast` Splits the

[2018-10-25 23:28] adborden commented on #4524
I'm happy to submit a PR.

[2018-10-26 07:36] gt-novelt commented on #4247
For the record, issue also occurs with _ckanext-saml2_ extension.

[2018-10-26 11:32] HilariousGil opened #4526 "JS Translations in 2.8.*"
I'm having issues with the translations of the JS texts.

### CKAN Version if known (or site URL)
Branch -> 2.8
or
Master branch -> Release tag  2.8.1

### Please describe the expected behaviour
Javascript should be translated.

### Please describe the actual behaviour
Javascript texts are not being translated.

### Please describe the actual behaviour
Clean CKAN 2.8 install

### Extra Info
The co

[2018-10-26 11:36] HilariousGil opened #4527 "ImportError: LazyView || ckan/views/dataset.py Missing"
### CKAN Version if known (or site URL)
Branch 2.8

### Please describe the expected behaviour
Server should load sucessfully

### Please describe the actual behaviour
The server crashes with a Import Error.
"ImportError: cannot import name LazyView"

### Note

I see that the file "/ckan/ckan/views/dataset.py" is not present in the branch 2.8

[2018-10-26 11:39] tino097 commented on #4527
If you had started `master` branch before, cleaning the `*.pyc` files should help for this issue

[2018-10-26 11:54] HilariousGil commented on #4527
Thanks a lot @tino097  for the very very fast answer.
that solved the issue!

[2018-10-26 11:54] #4527 closed

[2018-10-26 12:45] HilariousGil commented on #4526
Hi @klikstermkd, yes in the few places I'm using the this._('text to translate') inside the JS CKAN module.
But the behavior I'm experiencing happens also with the default core CKAN translations.
So I currently have all my plugins disabled so I'm sure nothing is worng with my code, and I'm only testing the normal CKAN translation, and that is not working properly.

That's why I didn't share any of

[2018-10-26 13:00] klikstermkd commented on #4526
@HilariousGil Ok I see what you mean. I tested this on https://beta.ckan.org which also runs on CKAN 2.8. The issue is a regression made with the migration to Flask. As a temporary solution you can do the following.

First in `plugin.py` override `/api/i18n/{lang}`:
[code]

Then in `controller.py` define the `ApiController` and the appropriate `i18n_js_translations` action:
[code]

Try this and te

[2018-10-26 13:20] HilariousGil commented on #4526
Thanks a lot @klikstermkd !!
That worked like a charm. Should I close this issue? or is it better to keep it open for someone to look for a permanent solution?

[2018-10-26 13:28] tino097 commented on #4526
it will be fixed in 2.8.2 with #4505

[2018-10-26 13:28] #4526 closed

[2018-10-26 16:55] wood-chris commented on #4344
As a (very late) comment, I should have probably said I was trying this on a Windows Subsystem. I've since tried on a standard linux ubuntu and it worked straight away!

[2018-10-26 16:55] wood-chris commented on #4355
As a (very late) comment, I've since tried this on a standard linux ubuntu and it worked straight away!

[2018-10-28 23:19] klikstermkd opened #4529 "package_autocomplete not working as expected"
### CKAN Version if known (or site URL)
2.8.1 (but probably not working on older versions as well)

### Please describe the expected behaviour
When I use the `package_autocomplete` API action, if there is a dataset with title "Dataset title", and I set `q` param to be "title", the dataset with title "Dataset title" should be returned.

### Please describe the actual behaviour
When I use the `packa

[2018-10-29 10:03] frafra opened #4530 "ckan/solr:latest is older the one generated by the Dockerfile"
### CKAN Version if known (or site URL)
2.8.1

### Please describe the expected behaviour
Pulling ckan/solr:latest should provide the pre-configured solr version specified in the contrib/docker/solr/Dockerfile.

### Please describe the actual behaviour
 I should get a 6.6.2, while instead I have a 6.2.1 running.

[2018-10-29 10:14] frafra opened #4531 "solr container is outdated"
### CKAN Version if known (or site URL)
2.8.1

### Please describe the expected behaviour
solr latest release is 7.5.0. solr container built by ckan is based on solr 6.6.2.
The latest release should be used, or the latest minor release of the supported version.

### Please describe the actual behaviour
The latest minor release should be used; the latest 6.6 version is 6.6.5.
It would be nice to ha

[2018-10-29 16:05] solars opened #4533 "HTTPS not working on dataset and resource page"
Hi there,

I'm using a dockerized CKAN (2.8.1) installation that has SSL enabled.

I always get a mixed content/insecure content warning and have to enable the request manually.
This happens on the datasets details page (/datasets/xy) with the following error:

[code]

If I then click on the resources page, the data is not displayed (e.g. CSV). I instead get:
[code]
The page source includes:
`<bod

[2018-10-30 09:10] smotornyuk commented on #4355
Thanks :) I was trying to reproduce this issue few times(unsuccessfully) so i glad to hear that you managed to solve it, at least on pure ubuntu)

[2018-10-30 09:19] smotornyuk commented on #4477
I think starting form somewhere between 6.0 and 6.5 solr has changed the way of setting default operator. Previously we were using this line:
```<solrQueryParser defaultOperator="AND"/>```
in schema xml. Starting from ~6.5 you must update **solrconfig.xml** instead. Find section starting with `<requestHandler name="/select" class="solr.SearchHandler">` and add `<str name="q.op">AND</str>` under **

[2018-10-30 09:32] frafra commented on #4494
Still broken:
https://docs.ckan.org/en/2.8/extensions/adding-custom-fields.html

[2018-10-30 09:52] whelks-chance commented on #4477
@smotornyuk Thanks for this, and that does appear to be in line with our own experiences when testing.

In the end it was easier for us to go back to v5.5.5, as the inconsistencies with how Ckan builds queries on different pages made even changing the default operator not enough to ensure every page worked correctly. We have already tried changing the settings you've suggested, and it just broke t

[2018-10-30 09:58] rossjones commented on #4524
If this is still the case in 2.8, it'd probably be worth doing and making sure the un-indexed packages are logged (if they fail). It appears rebuild_fast is still indexing them one at a time from the buckets (rather than a batch update) so failure should be per-dataset.

I can't imagine this would be back-ported all the way to 2.3 though, but I might be wrong.

Alternatively, how about allowing `-