[2016-08-05 12:40] scardine commented on #2882
According to this ticket the issue may be more than 4 years old: http://trac.ckan.org/ticket/331.html

[2016-08-05 16:54] wardi opened #3190 "Dataset permission labels"
This is a suggested change to the dataset view permissions.

At the moment we return only public datasets from `package_search` #3176 and `package_list`. Private datasets are visible from the front end on the organization page if you're a member of the organization (unless the controller has been overridden). If you know the dataset names or ids with `package_show` (unless the package_show auth fu

[2016-08-05 16:57] wardi opened #3191 "package_search include_private flag"
Proposed fix for #3176

Stop using a context variable in package_show to return private datasets (only works from inside ckan), instead allow users to pass `include_private=True` to have all datasets they have permission to see returned.

This is essentially what is already allowed when users browse to the organzation search page *unless* there's a customised package_show auth function. In that ca

[2016-08-05 17:00] wardi commented on #3190
We can also have draft datasets appear in package_search by making `permission_labels = [user.id]` and including the user's id in the default search. Currently the only way to find draft datasets is on a user's dashboard.

[2016-08-05 22:37] wardi opened #3192 "Dataset permission labels (take 2)"
This is a suggested change to the dataset view permissions.

At the moment we return only public datasets from `package_search` #3176 and `package_list`. Private datasets are visible from the front end on the organization page if you're a member of the organization (unless the controller has been overridden). If you know the dataset names or ids with `package_show` (unless the package_show auth fu

[2016-08-08 06:41] oblivious0508 opened #3193 "Problem while execute sql ‘select * from user’"
While I execute sql ‘select * from user’, db returns like this:

ckan_default=# select * from user;
 current_user
--------------
 postgres
(1 row)

Why it doesn‘t show data of the table ‘user’？

[2016-08-08 10:10] amercader opened #3194 "Fix redirects in tests to use the host on `ckan.site_url`"
Whenever we are testing a redirect, or a Location header in the tests we are happy to test against an expected location that uses `localhost`, eg (from [here](https://github.com/ckan/ckan/blob/60134e844f3a68083c5aaf956872823745a3b02a/ckan/tests/controllers/test_util.py#L20:L21)):

[code]

When running the tests we are using `http://test.ckan.net` as `ckan.site_url` so that's the value that one wou

[2016-08-08 10:57] erlingbo opened #3195 "Fanstatic not honouring root_path"
### CKAN Version if known (or site URL)

master( 5f4949c924f3a95c59ab4faf0026629804b83f7a )
### Please describe the expected behaviour

Setting root_path to "/testing/{{LANG}} should make all links and resources fetched from www.site_url/testing/
### Please describe the actual behaviour

Most of the stuff is linked to /testing but js, css and the like is fetched from /fanstatic/...
### What steps

[2016-08-08 15:12] amercader opened #3196 "Foundation work for common Flask / Pylons objects and functions"
Similarly to the work started with #3163 with the `config`, there is a whole lot of "foundation" work that needs to be done to allow requests to be served both under Flask and under Pylons. These work is necessary before starting the actual migration of the controllers,

There's a bunch of Flask PRs coming over and it's getting more difficult to isolate single features or changes, so I'll keep a m

[2016-08-08 15:30] #2842 closed

[2016-08-08 15:31] amercader commented on #2842
See #3163

[2016-08-08 18:20] TkTech commented on #3193
User is a postgres object. Quote it.

[2016-08-08 18:20] #3193 closed

[2016-08-09 03:48] Goffmann opened #3198 "internal server error when i log in and open datasets"
### CKAN Version if known (or site URL)
install ckan 2.5 from source

### Please describe the actual behaviour
i got internal server error when i log in and open datasets. i finished front page but i can't finish that.

### What steps can be taken to reproduce the issue?
maybe database

[2016-08-09 03:52] Goffmann commented on #3198
i found that error just in Chinese

[2016-08-09 04:41] MrkGrgsn commented on #3095
@TkTech have you made any progress with this? Link needs to make progress on delete capability for ckanext-cloudstorage for a client so we could help out on this one, either on the CKAN or cloudstorage side or both, sometime in the next 3-4 weeks, I'd guess.

[2016-08-09 06:23] #3198 closed

[2016-08-09 09:51] TkTech commented on #3095
@MrkGrgsn haven't had a chance to work on this at all, feel free.

The quickest solution would be to add use IResourceController (http://docs.ckan.org/en/latest/extensions/plugin-interfaces.html#ckan.plugins.interfaces.IResourceController.before_delete) in ckanext-cloudstorage, assuming it works correctly. Assuming it does, this would also be the most flexible and support older versions of CKAN.

[2016-08-09 10:45] amercader opened #3199 "Bulk operations don't update the package_revision table"
`bulk_update_private`, `bulk_update_public` and ``bulk_update_delete` change the `package` table and the search index but not the revision table, which causes the changes to not be reflected everywhere.

[2016-08-09 14:12] amercader commented on #3188
The datasets (packages) relationships features has not been maintained in a long time. It will probably get deprecated and removed unless someone who is using it regularly does a proper audit and clean up. Feel free to investigate more and provide patches, but the members of the tech team are unlikely to have time to fix this.

Thanks!

[2016-08-09 18:39] TkTech commented on #3188
Alternatively, this would make a great extension since it doesn't necessarily have to live in the core.

[2016-08-09 22:30] kfishwick commented on #3162
We have another solution, implemented for bcgov, that allows you to customize the map tiles for the recline view based on ini parameters (similar to the geoview & spatial extensions).  If no customized parameters are set, the default configuration (Stamen) would be used.

Would this be suitable for anyone else, we can do a pull request?

[2016-08-09 23:32] MrkGrgsn commented on #3095
Okay, sounds good. I'll chat to @smotornyuk but I'm inclined to focus on the `iResourceController.before_delete` option  - it meets our need, cutting out a CKAN update simplifies the process for us, and backward compatibility provides a better return for everyone else.

[2016-08-10 00:45] MrkGrgsn commented on #3162
I think that would be great @kfishwick

[2016-08-10 07:50] nibecker commented on #3162
Sounds good @kfishwick

[2016-08-10 14:43] vinnie87 commented on #2277
I've got the same issue but on CherryPy. Rebooting the server after some time helped, but it keeps occurring

[2016-08-10 18:52] kfishwick commented on #3162
Great we will put it together and submit this week.

[2016-08-12 03:38] Kyle-Falconer opened #3202 "Deploying a Source Install references nonexistant activate_this.py script"
### CKAN Version if known (or site URL)
2.5.2 (source install)

### Please describe the expected behaviour

The script at `/usr/lib/ckan/default/bin/activate_this.py`  should exist and exist at that location if it is referenced in the documentation.

### Please describe the actual behaviour

The script at `/usr/lib/ckan/default/bin/activate_this.py` does not exist and there is nothing anywhere in

[2016-08-12 03:48] Kyle-Falconer commented on #3202
Looks like this is a non-issue... was caused by not using a virtualenv.

It would be nice if there were instructions for deploying without the use of virtualenv.

[2016-08-12 11:39] amercader commented on #3162
Super stuff, added some comments to the PR

[2016-08-15 21:26] kfishwick commented on #3162
Thanks, we have updated the code to address the comments @amercader.  Please let us know if it can be incorporated into 2.5.x.

[2016-08-17 09:21] amercader commented on #3202
@Kyle-Falconer virtualenv is part of the supported installation process as it offers many advantages to  most scenarios. Of course you can choose not use it but we can't cover all scenarios in our instructions.

Cheers

[2016-08-17 09:21] #3202 closed

[2016-08-17 09:32] #3162 closed

[2016-08-17 19:06] Kyle-Falconer opened #3204 "ckan.simple_search setting being ignored"
### CKAN Version if known (or site URL)
2.5.2

### Please describe the expected behaviour
When `ckan.simple_search` is set to `true` or `1`, CKAN should start up without complaining about a lost connection to SOLR.

### Please describe the actual behaviour

CKAN logs errors regarding being unable to connect to the SOLR server:

[code]
### What steps can be taken to reproduce the issue?

Consult [t

[2016-08-17 19:37] Kyle-Falconer commented on #3202
@amercader I get what you're saying, but I disagree that this is the best approach. I think virtualenv should be an "opt-in" choice rather than the default.

Over the last week I have been trying to deploy CKAN to AWS and also build up some Docker containers for CKAN using docker-compose (the official docker containers and the compose images are out of date and need to be re-written), and most of

[2016-08-18 13:16] amercader commented on #3119
@wardi @TkTech @brew @davidread

There's a bunch of Flask PRs coming over and it's getting more difficult to isolate single features or changes, so I'll keep a map here of what should be reviewed / merged first. Every individual PR also says which ones it depends on as well. I'll update this as we hopefully make progress.

[code]

* [#3194](https://github.com/ckan/ckan/pull/3194)
* [#3206](https:/

[2016-08-18 13:36] wardi commented on #3192
## Example values for solr permissions_labels field

Implementing the current CKAN permissions checks with permissions_labels. Here I've added "member-" and "creator-" prefix to the labels indexed to make it clear which sort of id we're including

dataset creator | owner_org | state | public | solr permissions_labels
--- | --- | --- | --- | ---
1234 | - | active | public | `public`
1234 | 5678 | a

[2016-08-18 13:58] wardi commented on #3192
We can implement almost any permissions scheme on top of `permission_labels` if
1. we allow overriding the value indexed in solr from IPackageController `before_index` (don't apply the default permission labels when `permission_lables` is present in the dict returned from `before_index`)
2. we allow overriding the permission_labels fq filter in package_search.

For (2) I'm not sure where we should

[2016-08-18 14:53] amercader commented on #3196
There's a bunch of Flask PRs coming over and it's getting more difficult to isolate single features or changes, so I'll keep a map here of what should be reviewed / merged first. Every individual PR also says which ones it depends on as well. I'll update this as we hopefully make progress.

[code]

* [#3194](https://github.com/ckan/ckan/pull/3194)
* [#3206](https://github.com/ckan/ckan/pull/3206)

[2016-08-18 14:55] wardi commented on #3192
updated table above with better examples for solr search queries (not dependent on include_private/include_draft flags)

[2016-08-19 07:53] Prasanthmv opened #3209 "Delete Dataset Permanently ?"
How can delete ckan dataset Permanently   . I have deleted the dataset http://{my-ckanserver-url}/ckan-admin/trash . But still the PostgreSQL database size not decreasing . What will be the problem .  Please suggest a solution.

[2016-08-19 08:55] amercader commented on #3204
You are right, this is not supported any more and should be removed from the docs. PR is #3210

Postgres search should be properly implemented in https://github.com/ckan/ckan/pull/3118

[2016-08-19 13:27] #3204 closed

[2016-08-19 20:43] TkTech commented on #3209
Please use the IRC channel or the mailing list for these kinds of questions :)

In all common databases, simply removing a row does not cause the database to resize. Doing so would cause immense performance penalties and is often not what you actually want to happen.

I recommend you read the documentation available here - https://www.postgresql.org/docs/9.1/static/sql-vacuum.html

[2016-08-19 20:43] #3209 closed

[2016-08-23 09:56] amercader commented on #2662
Fixed in #3199

[2016-08-23 09:56] #2662 closed

[2016-08-24 10:04] metaodi commented on #3188
I'll look into this. I pretty sure it's because the "reverse types" are missing here: https://github.com/ckan/ckan/blob/e171528b8e4a9220dd3b2245a4b2a0a7d1a64a07/ckan/model/package_relationship.py#L47-L51

I'll use the package relationships for a new project, so I'll check if it'll work for me.

I can see both pros and cons for having it in core. I guess it all boils down to the question, if all pa

[2016-08-25 10:27] erlingbo opened #3214 "Update bleach requirement for released ckan"
### CKAN Version if known (or site URL)
2.5 from source

### Please describe the expected behaviour
everything working :)

### Please describe the actual behaviour
bleach 1.4.2 does not seem to have proper pinning of dependencies. HTML5Lib has changed, making it incompatible with older code.
`ImportError: No module named sanitizer`

Updating bleach to 1.4.3 should fix this.  This is already done i

[2016-08-25 11:27] erlingbo opened #3215 "paster user add does not support apikey as described in help text"
### CKAN Version if known (or site URL)

master
### Please describe the expected behaviour

`paster user add someuser apikey=<somekey>` should add a user with the given key
### Please describe the actual behaviour

The created user is given a new generated key instead of the provided key
### What steps can be taken to reproduce the issue?

`paster user add someuser apikey=<somekey>`

[2016-08-25 13:03] metaodi commented on #3188
@CostantinoPerciante I was **not** able to reproduce your results. I tested this with 2.5.1, 2.5.2 and the current master branch.

I used the following command to create a relationships between two datasets "aa" and "bb":

dependency_of:
[code]

parent_of:
[code]

For both cases, the correct "reverse" relationship was created as well:

[code]

[code]

Did you do something different?

[2016-08-25 18:31] bribroder commented on #3214
Also see https://github.com/ckan/ckan/pull/3181

[2016-08-26 09:39] #2955 closed

[2016-08-26 10:45] #2856 closed

[2016-08-26 15:38] rimolive commented on #1075
I know this issue has been opened since 2013 but anyone made any progress? As for the new OpenShift, having a Docker image is 80% of the job done but I tested the Docker Image by following https://github.com/ckan/ckan/blob/4a3b375/doc/maintaining/installing/install-using-docker.rst and it returned HTTP 500.

[2016-08-26 21:54] jrods commented on #2970
Is anybody currently working on this?

[2016-08-27 14:01] wardi commented on #2970
@jrods no, do you have time to submit a PR?

[2016-08-29 09:30] gleb-rudenko opened #3220 "Anonymous user should be redirected to login page when trying to access /dashboard instead of "404 Not Found" page."
### CKAN Version if known (or site URL)

All versions.
### Please describe the expected behaviour

When anonymous user tries to access /dashboard page, CKAN redirects him to login page.
### Please describe the actual behaviour

When anonymous user tries to access /dashboard page, CKAN returns "404 Not Found" page.
### What steps can be taken to reproduce the issue?

While not logged in try to acce

[2016-08-29 12:03] wardi commented on #3220
I'm ok with the current behaviour.

Some sites will include text in their 404 page like "We can't seem to find the page you're trying to access, maybe you need to log in to see it? [login form]" Maybe that would solve your problem more generally?

[2016-08-29 12:06] wardi commented on #3176
fixed by #3191

[2016-08-29 12:06] #3176 closed

[2016-08-29 17:55] yongjiel opened #3222 "More values in state field of dataset?"
### CKAN Version if known (or site URL)
2.5.2

### Please describe the expected behaviour
Can we have more states for the state field? We require that field has more values, like 'modified', 'pending', 'rejected', 'approval', 'published'.  Can the ckan core make it easy to changed or have to override in my own extension?

### Please describe the actual behaviour
Currently I can find that state fie

[2016-08-30 06:56] gleb-rudenko commented on #3220
I think the redirection behaviour would be more user intuitive, so instead of saying to user that the page does not exist, we'll tell them that the page does exist BUT you'll need to login to view it.

[2016-08-30 08:25] amercader commented on #3214
Thanks @erlingbo. Fixed on the 2.5.3 branch

[2016-08-30 08:25] #3214 closed

[2016-08-30 08:33] smotornyuk commented on #3095
I've created (pull request)[https://github.com/open-data/ckanext-cloudstorage/pull/5] with IResourceController way

[2016-08-30 11:35] erlingbo commented on #3214
Hi. Could you please update the 2.5-latest branch as well?

[2016-08-30 11:38] wardi commented on #3214
@erlingbo that branch will be updated as soon as the 2.5 point release is out

[2016-08-30 11:39] erlingbo opened #3225 "Add branch/tag for 2.6-latest"
### CKAN Version if known (or site URL)
2.6

### Please describe the expected behaviour
A git reference to the latest release of 2.6. This will help a lot in automation of tests for instance.

### Please describe the actual behaviour
there is only a 2.6.0 branch

### What steps can be taken to reproduce the issue?
Add a 2.6-latest branch, using the same pattern as earlier releases

[2016-08-30 11:42] erlingbo commented on #3214
thanks for the answer :)

Any estimate on when that will happen? I have failing tests for my plugin ;)

[2016-08-30 11:44] wardi commented on #3214
@erlingbo as a stopgap you can add the same requirement to your extension's setup for its tests

[2016-08-30 11:59] wardi commented on #3225
as with 2.5-latest this would point to the latest *released* version. We don't have a 2.6 release yet, so no 2.6-latest.

Sounds like you want a 2.6-dev and 2.5-dev branch. I support that, those are probably better names than e.g. 2.6.0 for a not-yet released version.

[2016-08-30 16:27] wardi commented on #3225
Here's my proposal formatted as a pretty table

current branch | new branch | description
--- | --- | ---
release-v2.6.0 | dev-v2.6 | latest development on 2.6 series (backports land here)
release-v2.6.X (future) | use ckan-2.6.X tags instead | actual releases don't need branches
release-v2.6-latest | (unchanged) | always point to the last tagged release in 2.6 series
release-v2.5.3 | dev-v2.5 | l

[2016-08-30 18:01] TkTech commented on #3095
I'm going to go ahead and close this. While it would be nice to have a fully CRUD interface for uploads, the interfaces already exist to handle everything via the IResourceController. This is something that could be revisited in the far future.

[2016-08-30 18:01] #3095 closed

[2016-08-31 09:57] rossjones opened #3226 "ckan.cache_validated_datasets not documented"
### CKAN Version if known (or site URL)

2.5.2
### Please describe the expected behaviour

Clear instructions on how to turn off validated datasets so that I can more easily work on my show_package_schema without package_show using the dict in solr.
### Please describe the actual behaviour

 ckan.cache_validated_datasets is not documented as a config option, appears only in a changelog.
### What s

[2016-08-31 12:33] amercader commented on #3222
Updating the default `state` field may have unintended consequences, as some features like showing the relevant datasets in the search results rely on it., or the record not showing up on the UI as you described. I recommend that you use a custom field on your own schema to deal with any workflow needs that you have. Does this make sense?

[2016-08-31 14:33] yongjiel commented on #3222
Got it. thanks

[2016-08-31 14:34] #3222 closed

[2016-08-31 14:36] amercader commented on #3215
The default validation for the apikey field is to be [completely ignored](https://github.com/ckan/ckan/blob/master/ckan/logic/schema.py#L414) (ie you can not set it). I don't know the reasoning behind it but it might have to do with security reasons. What's your use case for providing a custom API key rather than have it autogenerated? If not we can always update the misleading command docs.

[2016-08-31 16:16] wardi commented on #3215
I think `ignore_not_sysadmin` would be fine on this field if we also add a check that the key isn't already in use by another user. Importing users from one CKAN instance to another with their API keys intact is a *very* useful feature.

[2016-09-01 08:15] erlingbo commented on #3215
We are using vagrant for creating new developer machines with a complete
setup of ckan, db etc. In addition to this we have some scripts that allows
the users to alter the data using the ckan api. It would have been nice if
the users don't have to change the api key used by these scripts each time
the create new virtual machines.

On Wed, Aug 31, 2016 at 4:36 PM, Adrià Mercader <notifications@gith

[2016-09-01 09:34] donthebike opened #3227 "Access level: portal members?"
We are looking for a way to provide a third level of access to datasets besides Public and Private.
We want some datasets to be open to all portal members only.

Is there a way to do this or is someone working on such functionality?

[2016-09-01 12:11] wardi commented on #3227
@donthebike you might be looking for #3192

It should be very easy to make an IPermissionLabels plugin that adds a "portal-members" label. There's an example in that PR here https://github.com/ckan/ckan/pull/3192/files#diff-31d39df909b2876cdd26aa71a97fbcb5R8

[2016-09-01 14:18] wardi commented on #3227
I'm going to close this because ckan-dev is a better place for technical discussions than our issue tracker

[2016-09-01 14:18] #3227 closed

[2016-09-02 08:39] CostantinoPerciante commented on #3188
These are the steps I followed (There is something different wrt the first post but there are still some misbehaviours):
1) Create fresh datasets A and B
2) Create relationship A parent_of B (OK)
3) Delete relationship at point 2) (OK)
4) Create relationship B parent_of A (FAILS: it recreates relationship at point 2 again...)
5) Delete relationship at point 4) (that means remove the one at point 2

[2016-09-02 10:20] amercader opened #3229 "Migrate API controller to Flask blueprint"
First controller to be migrated on top of all the foundation work compiled in #3196

[2016-09-02 10:21] amercader commented on #3226
That's definitely something worth adding to the config options page. Want to submit a quick PR?

[2016-09-02 10:22] amercader commented on #3215
That sounds good to me. @erlingbo do you want to have a go at it? We can provide guidance if you have the time.

[2016-09-02 10:27] amercader commented on #3225
I'm happy with this approach. @davidread @LinkSDM WDYT? Should we give it a go starting on 2.6?

[2016-09-02 10:57] erlingbo opened #3230 "Reset link not including site_url"
### CKAN Version if known (or site URL)

master
### Please describe the expected behaviour

The reset email should include the complete link to reset a users password. e.g  http://mydomain.com/user/reset/<id>?key=<somekey>
### Please describe the actual behaviour

The email only includes the subpath. e.g  /user/reset/<id>?key=<somekey>
### What steps can be taken to reproduce the issue?

Try to se

[2016-09-02 11:10] erlingbo commented on #3215
Hmm, I have only two weeks left of my consultancy here at the norwegian public road authority (and a lot still to do). I am not sure I will be able to do that within that time limit. I might have a look at it in my spare time, but that will not be in the next coming weekes :S

[2016-09-02 11:13] torfsen commented on #3230
The code should probably just pass `qualified=True` to `url_for` instead of manually adding the host.

[2016-09-02 11:29] amercader commented on #3215
No worries @erlingbo. If you have time great.

As a workaround to get it working you can do:

[code]

[2016-09-02 11:34] davidread commented on #3225
I'm good with this. Just confirm my understanding?

* Current backport work "release-v2.5.3" stays there, but current work on "release-v2.6.0" moves to branch "dev-v2.6" because the name confuses because it is not released yet. (Delete "release-v2.6.0" branch?)
* When we release 2.6.0 we tag it "ckan-v2.6.0" and make it branch "release-v2.6-latest".
* When we do the next release process we'll do i

[2016-09-02 12:19] wardi commented on #3225
@davidread Yes, that's exactly right. I vote we remove the release-v2.6.0 branch now

[2016-09-02 13:21] frbattid opened #3231 "Error when inserting an empty string in a Json column of the datastore"
### CKAN Version if known (or site URL)

2.3
### Please describe the expected behaviour

I expected the empty string was added as it is, or if not accepted as a valid Json, the a NULL value was inserted; or at least the returned error was related to a malformed Json (if that's the case); please see the actual behaviour.
### Please describe the actual behaviour

500 Internal Server Error <--- it se

[2016-09-02 14:56] rossjones commented on #3226
I think turning it off *may* break the search page, so will need to investigate further before advertising the option.

[2016-09-02 20:46] LinkSDM commented on #3225
I agree this is a better approach the wider community should find easier to
understand. It makes it much clearer which version is the latest stable
release.

On Friday, 2 September 2016, Ian Ward <notifications@github.com> wrote:

--
Shane.

------------------------------------------------------------------
*SHANE DAVIS*  |  *SERVICE DELIVERY MANAGER*
Link Digital
www.linkdigital.com.au
p: *02 611

[2016-09-03 04:56] yagi815 opened #3232 "html5lib requires setuptools version 18.5 or above error"
Hi all
I trying to install ckan 2.5.2 on rhel 6.6.
I have "html5lib requires setuptools version 18.5 or above" error message When I execute  (default)# pip install --ignore-installed -r default/src/ckan/pip-requirements-docs.txt .
Is there any solution for ti?

I refer this installation guide : https://github.com/ckan/ckan/wiki/How-to-install-CKAN-2.5.2-on-CentOS-6.8

[2016-09-05 06:55] torfsen commented on #3232
This should fix your problem:
[code]

[2016-09-05 11:19] miguelbgouveia opened #3233 "Erro in opening a data explorer view for a simple csv resource"
### CKAN Version
CKAN v2.6.0.

### Expected behaviour
I have an instance of ckan with the recline_view plugin activated and with the ckanext_spatial installed and the geo_view as the default plugin for geographic view data. Then I create a resource that have csv data and with geographic information on it. Adding this resource the ckan system creates automatically a data explorer view. Opening this

[2016-09-06 12:25] amercader commented on #3232
We updated the bleach requirement to solve a related issue (69408d2). Please use the `release-v2.5.3` branch and see if that solves the issue

[2016-09-06 12:27] wardi commented on #3231
@frbattid Yes, we should be returning a validation error instead of a server error when postgres refuses some of the data we've inserted. Are you interested in working on a fix?

[2016-09-06 13:30] amercader commented on #3233
@miguelbgouveia Good catch, this was introduced on #3200 (cc @jrods). Fix in #3235, can you confirm that fixes the issue for you?

[2016-09-06 14:06] miguelbgouveia commented on #3233
Yes, this fix resolve my problem.

[2016-09-06 14:06] #3233 closed

[2016-09-06 14:53] frbattid commented on #3231
@wardi, I'm just an admin of CKAN, not enough knowledge to fix it :)

Additionally, I've seen the behaviour is the same when inserting `[]`, `{}` or `null` in a Json column. I guess the problem is at PostgreSQL, not at CKAN... Why PostgreSQL is not accepting those values? As far as I know, they are valid Json values.

[2016-09-06 14:58] wardi commented on #3231
Oh I'm sure it's a datastore problem. The extension probably isn't set up to pass along JSON properly.

This is something I was planning to fix regardless, it's probably pretty simple.

[2016-09-06 15:41] frbattid commented on #3231
Great, I'll stay tuned.

[2016-09-08 12:46] wardi opened #3237 "Add architecture diagram to docs"

[2016-09-15 16:30] #2882 closed

[2016-09-19 11:13] davidread commented on #3214
This change also fixed a problem we had with ckanext-harvest. html5lib-0.999999999 was demanding a newer version of setuptools than travis gave it by default:

    html5lib requires setuptools version 18.5 or above; please upgrade before installing (you have 12.0.5)

 But hacking the build script to use ckan branch release-2.5.3, it gets bleach 1.4.3 and now pulls in html5lib-0.9999999 which doesn

[2016-09-19 14:23] torfsen opened #3243 "Multiple background jobs that access the database fail"
(This problem was originally reported by @wardi in #3165)

Accessing the database from a background job succeeds once, but subsequent runs of the same job fail:
[code]

[2016-09-19 15:08] TkTech commented on #3243
An `engine.dispose()` at the start of the task should be the "quick" fix. Ideally each worker gets its own engine and thus its own pool.

[2016-09-19 16:02] torfsen commented on #3243
For me, calling `ckan.model.meta.engine.dispose()` in the worker's child process after forking solves the problem within the worker, but afterwards database access in the main process fails with a
[code]
Not sure if we also need to reset some stuff in the main process, although I don't see a reason why that should be necessary as of now.

However, in addition to SQLAlchemy's non-support for forks

[2016-09-20 09:24] ZtF opened #3245 "datastore_active is being rewritten due to race condition"
### CKAN Version if known (or site URL)

2.5.2
### Please describe the expected behaviour

When file resource saved to FileStore, datapusher is notified about it, downloads the resource, process the file, create new table in DataStore and sets datastore_active flag for the particular resource.
### Please describe the actual behaviour

It's working as described, though when uploading multiple resou

[2016-09-20 09:55] torfsen commented on #3245
This might be the same issue as ckan/datapusher#100.

[2016-09-20 11:42] yagi815 opened #3248 "could not store dataset and data to default_datastore database on ckan web interface"
### CKAN Version if known (or site URL)
ckan 2.2.1 + solr 3.6 + postgresql 9.1 + rhel 6.6

### Please describe the expected behaviour
### Please describe the actual behaviour

If i add new dataset by ckan web interface, the datasets are stored ckan_default database not datastore_default in postgresql.

Also I could not see any dataset which stored in datastore_default database in ckan webpage .

#

[2016-09-20 12:16] #2364 closed

[2016-09-20 12:48] torfsen opened #3249 "Add interface for database engine/process initialization"
In #3243 it became clear that we need to re-initialize the SQLAlchemy engine on background job processes. That's easy for CKAN's core database, but it also needs to be done for the datastore database (in case that's being used) and, potentially, for other resources introduces by extensions which cannot be shared among processes. We therefore need a way to let extensions re-initialize things after

[2016-09-20 12:54] wardi commented on #3249
If `IConfigurable.configure` is all datastore needs to set up its engine let's use that. We could add a note in the interface docs to say that this is the appropriate place to initialise resources that can't be shared between processes.

[2016-09-20 13:04] torfsen commented on #3249
Re-using `IConfigurable.configure` would be the easiest way, but I'm wondering whether there are cases where you want to do some initialization once during startup but not after forking. But I guess even if there are any then one can always check inside the initialization code whether the relevant fields already have been initialized.

[2016-09-20 13:08] wardi commented on #3245
A nice solution would be to make package_update atomic, but that needs a new error class (and API version) for conflicts that should be retried.

A less-nice solutions is making sure datapusher only updates one resource at a time per dataset. Not a perfect solution, but will be much less likely to fail.

A quick hack would be to sneak the datastore_active change past package_patch/package_update s

[2016-09-20 13:09] amercader commented on #3245
@wardi what do you mean by this?

[2016-09-20 13:14] amercader commented on #3248
@yagi815 in the future please use the [mailing list](https://lists.okfn.org/mailman/listinfo/ckan-dev) or the `ckan` tag on StackOverflow to ask this kind of support requests.

The datastore database holds data for certain types of resources, eg CSV or Excel files (not datasets). If you mean that for this resources data is not automatically imported to the datastore you might have some issues with

[2016-09-20 13:14] #3248 closed

[2016-09-20 13:17] wardi commented on #3245
@amercader package_patch calls package_show+package_update to change the values passed. When the datastore just needs to set datastore_active=True on a resouce that's a lot of extra work and a much larger chance of conflict with action in progress.

Skipping all the validation and work done by package_update by changing the model directly would be a layering violation, but I could see the argument

[2016-09-20 13:19] amercader commented on #3245
I see, sounds very sensible. +1

[2016-09-20 13:37] yagi815 opened #3250 "ImportError: 'module' object has no attribute 'ckan_auth_tkt_make_app' error"
### CKAN Version if known (or site URL)

latest version
### Please describe the expected behaviour
### Please describe the actual behaviour

when I start ckan (paster serve XXX.ini)

I got this errors

[code]

[2016-09-20 13:53] yagi815 opened #3251 "what is purpose of default_datastore database?"
### CKAN Version if known (or site URL)
2.2.1

In ckan installation guide, have to create two database (ckan_default, datastore_default)

I set datastore seting in configuration file then I create new dataset by ckan web interface.
But all datasets are stored in ckan_default database not datastore_default database.
The datastore_default database is empty. How to use datastore_default database for

[2016-09-20 14:23] wardi commented on #3249
Yes, and I think this interface already gets called multiple times from tests that change the configuration, right? Let's just better document when it will be called and leave it up to the extension to do the right thing.

[2016-09-21 13:42] markdturner opened #3253 "Redis is not available"
### CKAN Version if known (or site URL)
CKAN 2.7.0a

### Please describe the expected behaviour
I'm trying to run CKAN in docker containers, which doesn't seem to work with the latest version of CKAN though I have had it working on 2.6. Annoyingly there are no Dockerhub tags other than latest, so I can't go back to 2.6

### Please describe the actual behaviour
Running the CKAN container fails due

[2016-09-21 14:07] torfsen commented on #3253
Redis will be a mandatory requirement from CKAN 2.7 on, but you can still run without it. You will receive the warning you quoted and some things won't work (currently that's only the background jobs), but that's it.

Your problem is actually the new Solr schema introduced with CKAN 2.7, see the end of your error messages:
[code]
This is indeed a hard error during startup and that's why your setup

[2016-09-21 15:01] markdturner commented on #3253
Ah ok! It did have the feel of an underlying error, just didn't spot it. So if I wanted to update the schema in the context of docker, would I do that in the solr dockerfile? I can't see in the [Dockerfile](https://hub.docker.com/r/ckan/solr/~/dockerfile/) where it copies across config files

[2016-09-21 16:01] markdturner commented on #3253
I fixed my issue by coping the repo at https://github.com/ckan/ckan/tree/master/contrib/docker/solr and changing line 16 from

[code]

to

[code]

[2016-09-21 17:01] #3253 closed

[2016-09-22 13:49] wardi opened #3254 "get_action is a confusing interface, let's improve it"
current patterns in ckan

[code]

examples from ckanapi (not necesarily ideal)

[code]

[2016-09-22 16:52] wardi commented on #3254
How about friendly calls with keyword arguments and auto-detected file objects,
similar to ckanapi.LocalCKAN.action.action_name but with explicit declaration of the user.
[code]
`request_action` is for use just from controllers/views and template helpers, taking the user from c.user

[2016-09-22 17:07] jrods commented on #3254
what about just have the permission level as an argument instead?
[code]

[2016-09-22 17:11] wardi commented on #3245
I might not get to this very quickly, so if someone wants to submit a PR, here is the code that bulk updates the dataset private flag without going through package_update: https://github.com/ckan/ckan/blob/master/ckan/logic/action/update.py#L1138-L1149

And the place we need the resource-updating code is: https://github.com/ckan/ckan/blob/master/ckanext/datastore/logic/action.py#L147-L153

[2016-09-22 17:13] wardi commented on #3254
@jrods then we can't have users named 'sysadmin', 'anonymous' or 'request' :-)  In general I don't like mixing different types of arguments in the same parameters to avoid surprising bugs like that.

[2016-09-22 17:39] jrods commented on #3254
Fair enough, I would have then suggested only taking an userobj instead of username, making it, pretty trivial to check, but then i don't know if there would be problems in the instance of when an userobj wouldn't be available.

It makes sense to have dedicated functions to specific authorization levels, but what about extensions that expand/create user roles different from core? Would extensions

[2016-09-22 17:45] wardi commented on #3254
I don't think this list can actually grow. Other than `anonymous` (no user) and `sysadmin` (use the site user) I can't think of any permission level that could be given without giving a user. IPermissionLabels and IAuthFunctions plugins calculate permissions based on the user.

[2016-09-22 21:05] Moqri opened #3255 "no module named datetime"
When trying to install ckan from package (http://docs.ckan.org/en/latest/maintaining/installing/install-from-package.html), at the step 4:
sudo dpkg -i python-ckan_2.5-trusty_amd64.deb on ubunto 16.04 running from a virtualbox
results in the following error:
no module named datetime.

Full Error:
Setting up python-ckan (2.5.2-trusty3) ...
Traceback (most recent call last):
  File "/usr/lib/ckan/de

[2016-09-23 13:52] #3243 closed

[2016-09-23 14:30] Moqri commented on #3255
1- pip/easy_install datetime doesn't help
2- replacing the virtualenv python with another copy of python does't help

[2016-09-23 14:33] wardi commented on #3255
would you post the full error you're seeing? 'no module named datetime' is very strange.

[2016-09-23 16:55] Moqri commented on #3255
I already did. This is the full error:
Full Error:
Setting up python-ckan (2.5.2-trusty3) ...
Traceback (most recent call last):
File "/usr/lib/ckan/default/bin/paster", line 7, in
from paste.script.command import run
File "/usr/lib/ckan/default/local/lib/python2.7/site-packages/paste/script/command.py", line 3, in
import pkg_resources
File "/usr/lib/ckan/default/local/lib/python2.7/site-packages/

[2016-09-23 19:30] torfsen commented on #3255
Strange. There are some posts regarding this issue ([1](http://askubuntu.com/questions/509283/python-no-module-named-datetime), [2](http://stackoverflow.com/questions/26031160/importerror-no-module-named-datetime)) and they boil down to virtualenvs invalidated by package updates. Did you try to remove your virtualenv and rebuild it from scratch?

[2016-09-23 20:06] torfsen commented on #3249
This has been fixed by #3247.

[2016-09-23 20:06] #3249 closed

[2016-09-23 21:05] Moqri commented on #3255
Thanks torfsen,
Yes, but regardless of my virtualenv, it seems the sudo dpkg -i python-ckan_2.5-trusty_amd64.deb command create it's own virtualenv (under /usr/lib/ckan/default) with a copy of python with no datetime package. Even when I follow this trick mentioned it your number 2 ref:
$ cp /usr/bin/python2.7 $(which python2.7)
The command replace the python and revert it to the old veriosn

[2016-09-25 04:35] Kyle-Falconer opened #3256 "Documentation does not show how to get resource id"
### CKAN Version if known (or site URL)
latest (2.5.2)

### Please describe the expected behaviour
Resource IDs are used throughout the API, particularly of note is with [resource_update](http://docs.ckan.org/en/latest/api/index.html#ckan.logic.action.update.resource_update), which the documenation shows the example usage as being:

    http --json POST http://demo.ckan.org/api/3/action/resource_u

[2016-09-26 22:13] LeonanCarvalho opened #3257 ""ImportError: No module named [html5lib.]sanitizer""
### CKAN Version if known (or site URL)
2.5.2
### Please describe the expected behaviour
[Upgrade from 2.4.3 (source install)](http://docs.ckan.org/en/ckan-2.5.2/maintaining/upgrading/upgrade-source.html)
### Please describe the actual behaviour
[code]
### What steps can be taken to reproduce the issue?
Install from source on Centos 7 64bits with python 2.7. (A very similar installation described

[2016-09-26 22:44] Moqri commented on #3257
You have to downgrade htmllib, try with this

pip install --upgrade bleach

[2016-09-27 10:35] torfsen commented on #3257
This was already reported and fixed, see #3214. The fix will be shipped with CKAN 2.5.3 and 2.6.

[2016-09-27 12:21] amercader commented on #3256
That sounds very reasonable, do you want to send a quick PR updating the `resource_update` [docstring](https://github.com/ckan/ckan/blob/master/ckan/logic/action/update.py#L45) to mention how to get the id from `package_show` (this is where the docs are generated from)?

[2016-09-27 12:22] amercader commented on #3257
As @torfsen mention please use the release-v2.5.3 branch or manually upgrade to bleach==1.4.3

[2016-09-27 12:22] #3257 closed

[2016-09-27 12:24] amercader commented on #3251
The datastore_default database is used to store actual data (not metadata) from tabular resources of certain formats (CSV, Excel, etc). You need to have the DataStore and the DataPusher set up and enabled for it to work. Please check the documentation to learn more: http://docs.ckan.org/en/latest/maintaining/datastore.html

[2016-09-27 12:24] #3251 closed

[2016-09-27 12:28] Zharktas opened #3259 "Organizations are sorted by name instead of title."
### CKAN Version if known (or site URL)

2.5.2
### Please describe the expected behaviour

Organizations should be sorted by title since the title is the shown value in web interfaces.
### Please describe the actual behaviour

Organizations are sorted by name by default without any selected sorting and in the sorting dropdown.
### What steps can be taken to reproduce the issue?

Create or modify o

[2016-09-27 12:29] amercader commented on #3255
As mentioned in the [documentation](http://docs.ckan.org/en/latest/maintaining/installing/install-from-package.html) Ubuntu packages are currently targeting Ubuntu 14.04 (trusty), so the problem is likely caused by trying to install it on 16.04.

If you have time, it should be easy to update the packaging scripts to support 16.04, generate some test packages and make sure they work as expected: ht

[2016-09-27 12:29] #3255 closed

[2016-09-28 11:32] silenius opened #3260 ""idle in transaction" connection"
### CKAN Version if known (or site URL)

2.5.2, full venv below:

[code]
### Please describe the expected behaviour

No `idle in transaction`  connection for more than a few seconds.
### Please describe the actual behaviour

Any connection in the state `idle in transaction` for more than a few seconds usually indicates a problem with the application:

[code]

[2016-09-28 12:14] wardi commented on #3260
Is this as simple as adding `meta.Session.commit()` after
https://github.com/ckan/ckan/blob/master/ckan/model/system_info.py#L56 ? If so it looks like there's a few more places to fix in that module.

[2016-09-28 13:53] silenius commented on #3260
I haven't had time to dig yet, but I think so. If I remember correctly (but I may be wrong) in Pylons the SQLAlchemy session is "removed" only in the context of an HTTP request, so I think that an explicit .commit() or (.rollback()) should be made if the session is used outside of an HTTP request, otherwise it is idling forever (...and prevent `VACUUM` from removing tuples that were deleted by tra

[2016-09-30 10:46] mevey commented on #2838
Hey @rossjones. Was this user email verification issue addressed?

[2016-09-30 15:01] orinciog opened #3262 "Documentation: get latest added resources"
Hi,

I want to retrieve latest added resources (not datasets) from a ckan instance from a timestamp, using API.

I saw that there is a function "revision_list", that retrieves all revisions after a timestamp, but there is no function to see what resources are in that revision.

"revision_show" shows only metadata about one resource_id (packages, message), but it doesn't show the added resources.

[2016-09-30 18:05] rossjones commented on #2838
@mevey not as far as I'm aware - at least I didn't see a PR.

[2016-10-03 15:59] moqri opened #3263 "Data invalid error while the data is valid"
### CKAN Version if known (or site URL)

http://52.41.50.184/dataset/california-01/resource_data/09e74ee2-19ea-4fe5-bb41-12170bfefb55
### Please describe the actual behaviour

Data invalid error
### What steps can be taken to reproduce the issue?

Download and upload the file on CKAN

Error: The data was invalid (for example: a numeric value is out of range or was inserted into a text field).
HTTP

[2016-10-03 16:00] Moqri commented on #3263
The data is valid since when I split the data into 2, I can upload them without any issue

[2016-10-03 17:39] #3076 closed

[2016-10-03 19:09] Moqri commented on #3263
Found the issue!
If there is a white space (" ") in a column where all other values are numeric, DataPusher will determine that column as a numeric and then it choke when it reaches the row with a white space!

[2016-10-03 19:10] Moqri commented on #3263
Any fix for the code (without changing my data)?

[2016-10-04 05:29] florianm commented on #3260
I'm having the same problems, my CKAN loads dataset pages extremely slowly.

My setup is a datacats & CKAN 2.6.0a ([docs](http://datawagovau.readthedocs.io/en/latest/index.html)).
{
"ckan_version": "2.6.0a",
"site_url": "xxx",
"site_description": "",
"site_title": "xxx",
"error_emails_to": "xxx",
"locale_default": "en_AU",
"extensions": [
"cesium_viewer",
"resource_proxy",
"datastore",
"datapusher

[2016-10-04 07:28] orolle commented on #3146
I use CKAN Version 2.4.0-1 and I get the same error. How did you solved the issue?

[2016-10-04 09:16] TkTech commented on #3260
@florianm your issue (terrible revision query performance) appears to be unrelated to @silenius's issue (hanging transactions). I would suggest you make a new issue, as that's definitely something we should look at.

[2016-10-04 11:02] florianm commented on #3260
Thanks @TkTech, will do!

[2016-10-04 11:29] florianm opened #3264 "Slow dataset page load waiting on revision query"
### CKAN Version if known (or site URL)

(first mentioned in #3260)
My setup is datacats & CKAN 2.6.0a ([docs](http://datawagovau.readthedocs.io/en/latest/index.html)).

/api/util/status says

[code]

We've got ~1200 datasets in that instance.
### Please describe the expected behaviour
- Dataset pages should load at normal speeds
### Please describe the actual behaviour
- Dataset pages load in no

[2016-10-04 14:05] silenius commented on #3260
@florianm: we don't have any performance issues .. but our dataset is quite small. The `idle in transaction` connection is something I noticed when we switched to `pgbouncer` here.

[2016-10-04 14:51] tsufz commented on #2838
sorry, I neither create an issue nor checked the versions as promised in order of other duties...

[2016-10-04 14:59] tsufz opened #3265 "Users are not removed in related tables (i.e. Institution users) if the main user entry is deleted"
### CKAN Version if known (or site URL)
2.4

### Please describe the expected behaviour
An user assigned to different organisations / roles should be removed from each group / role if the user is deleted. If not, zombie user entries persist in the system.

### Please describe the actual behaviour
The users are not deleted from groups / roles if the main user entry is deleted.

### What steps can b

[2016-10-04 15:00] tsufz commented on #2838
Hi, I created issue #3265.

[2016-10-04 21:08] mattfullerton commented on #2657
Highly relevant: https://github.com/ckan/ckan/blob/db985e7e8f6725acbc2b9e10e271418cffb014ce/ckanext/reclineview/theme/public/recline_view.js#L68

and

https://github.com/ckan/ckan/pull/2423

[2016-10-05 03:01] florianm commented on #3260
@silenius thanks, will do over at #3264 !

[2016-10-07 10:50] TkTech commented on #2816
Closing as a duplicate of #2331 (which has an associated PR)

[2016-10-07 10:50] #2816 closed

[2016-10-08 14:16] moqri opened #3267 "database is locked"
### CKAN Version if known (or site URL)

http://54.69.110.140:8080/dataset/new-york-city/resource_data/c33e3a95-713a-4af8-9842-59a88f5d7de3
### Please describe the actual behaviour

When uploading multiple large files at the same time to datastore, the upload process breaks with the following error:

[code]

[2016-10-10 12:12] amercader commented on #3256
Closing for now, @Kyle-Falconer feel free to reopen if you find time to send that documentation change

[2016-10-10 12:12] #3256 closed

[2016-10-10 16:53] moqri opened #3268 "Renaming a resource will result in re-upload to the DataStore"
It's not an ideal behavior especially for large resource files

[2016-10-10 16:56] Moqri commented on #3268
For testing: seems it only happens when you rename a completely uploaded resource

[2016-10-10 16:58] Moqri commented on #3267
So it seems I found one case which can be solved easily. When multiple resources are being uploaded, they are trying to write in the log (I assume some log table in the database) at the same time.
I am going to remove the logging part and see if it resolve the issue

[2016-10-12 08:19] the42 commented on #1296
Sorry guys, but for all these countries which use the comma ',' as a separator to delineate numeric prefix from postfix, the Windows operating system defines the semicolon ';' as the list separator and Excel picks up this separator ';' to separate columns when saving as CSV. This is the case for German speaking countries in Europe. As such having this feature as an option would be huge win to have

[2016-10-12 13:31] torfsen opened #3270 "ne translations have been merged incorrectly"
It seems that [`ckan/i18n/ne/LC_MESSAGES/ckan.po`](https://github.com/ckan/ckan/blob/dbf5173c1b8c2e64048435de35d190e47441ac29/ckan/i18n/ne/LC_MESSAGES/ckan.po) has been merged incorrectly, the file still contains Git conflict markers. The offending commit seems to be 8f38725138e629c22a6d2170b7cb00c9e778f66f by @amercader. As far as I can tell the other files in that commit are fine.

[2016-10-12 13:39] hbunke opened #3271 "make facets sortable by function parameter"
Sorting of facet items is hardcoded (in `lib/helpers/get_facet_items_dict()`). However, there might be usecases where this is not the desired sorting and sorting key should be the item title only (in our case this would be a journal's volume or issue number).

Presumably it should be no problem to make the sorting key a parameter for `get_facet_items_dict()` (with the current behavior as default).

[2016-10-12 14:10] amercader commented on #3270
PR is here: https://github.com/ckan/ckan/pull/3246 @TkTech maybe you can push the button on that one?

[2016-10-12 14:10] #3270 closed

[2016-10-12 16:02] torfsen commented on #3270
@amercader Must have missed that one, sorry for the noise!

[2016-10-13 01:56] moqri opened #3273 "Headers in Data Explorer are displayed not correctly for tables with lots of columns"
http://54.242.243.238:8080/dataset/baker-county/resource/42ad0533-7afc-4153-bb54-840993804b17
![image](https://s18.postimg.org/8a59oxoll/Screen_Shot_2016_10_12_at_9_56_10_PM.png)

[2016-10-13 01:58] Moqri commented on #3273
Double lines header!

[2016-10-13 07:55] mattfullerton commented on #1296
I live and work in Germany and support users in Germany so can only echo the pain here. That said I think the position is clear but hasn't enough teeth: this method of getting CSV files into a form for the data preview is no longer supported. In order to figure this out though you first have to look at the code:

https://github.com/ckan/ckan/blob/master/ckanext/reclineview/theme/public/vendor/recl

[2016-10-13 09:04] hurcy opened #3274 "Warning while initializing DB"
### CKAN Version if known (or site URL)
I installed CKAN 2.5.2, Postgresql, Solr on single machine of Ubuntu 16.04.

### Please describe the expected behaviour
Should successfully install DB.

### Please describe the actual behaviour
Some warning messages came up.

### What steps can be taken to reproduce the issue?
I followed the installation guide from source.
http://docs.ckan.org/en/latest/main

[2016-10-13 13:18] torfsen opened #3275 "incorrect i18n-paths in extension's setup.cfg"
The paths for the i18n message catalogues in the paster extension template for `setup.cfg` are incorrect -- they're all missing a `ckanext/<extension name>/` prefix, so that `python setup.py extract_messages`, etc. all fail.

[2016-10-14 06:52] namgk opened #3277 "Update a datastore resource from UI results in broken resource"
### CKAN Version if known (or site URL)

2.5.2
### Please describe the expected behaviour

Should be able to modify metadata of a resource created via Datastore API from the CKAN web interface.
### Please describe the actual behaviour

When modify a Datastore resource from the web interface, it is immediately that the resource cannot be viewed from the default viewer.
### What steps can be taken t

[2016-10-14 08:10] gallexme opened #3278 "Users shouldn't be able to create datasets without a organization"
### CKAN Version if known (or site URL)
2.5.1

### Please describe the expected behaviour
Users shouldn't be able to create datasets without a organization when
ckan.auth.create_dataset_if_not_in_organization is false

### Please describe the actual behaviour
Users still can create Datasets without a Organization

### What steps can be taken to reproduce the issue?
ckan.auth.anon_create_dataset =

[2016-10-14 15:03] #2657 closed

[2016-10-14 15:15] #3275 closed

[2016-10-18 15:01] rleir opened #3281 "user 'manage' dialog usability"
### CKAN Version if known (or site URL)

dev-v2.6 http://beta.ckan.org/user/edit/rleir#markdown
### Please describe the expected behaviour

A minor quibble. The help text should match the linking policy. Either we allow links (preferred), as shown in the help text, or we disallow them and take them out of the help text.
### Please describe the actual behaviour

Add a link as shown in the help text

[2016-10-19 19:34] yecarrillo commented on #3274
Same error here. This is my env:

pip list
Babel (0.9.6)
Beaker (1.7.0)
bleach (1.4.3)
ckan (2.5.3b0, /usr/lib/ckan/datos/src/ckan)
decorator (4.0.4)
fanstatic (0.12)
FormEncode (1.3.0)
Genshi (0.6)
html5lib (0.9999999)
Jinja2 (2.6)
Mako (1.0.2)
Markdown (2.4)
MarkupSafe (0.23)
nose (1.3.7)
ofs (0.4.1)
ordereddict (1.1)
Pairtree (0.7.1-T)
passlib (1.6.2)
Paste (1.7.5.1)
PasteDeploy (1.5.2)
PasteSc

[2016-10-19 21:31] coreyerickson opened #3282 "LanguageError: IOError: [Errno 2] No translation file found for domain: 'ckan'"
Hi,

We are noticing some 500 errors are being generated when  /e or /n are being passed instead of /en

Passing other letters such as /a /b /c will trigger a 404

### CKAN Version if known (or site URL)
Ckan 2.3.X -  2.5.2+

### Please describe the expected behaviour

http://demo.ckan.org/en = 200
http://demo.ckan.org/e = 404
http://demo.ckan.org/n = 404

### Please describe the actual behaviour

[2016-10-20 14:13] amercader commented on #3262
I'm afraid that's not available via the API. The closest I can think of is keep track of the latest modified datasets and check if they are new or the resources in them changed.

[2016-10-20 14:13] #3262 closed

[2016-10-20 14:31] amercader commented on #3263
This looks like a DataPusher error, probably guessing the type of one of the fields incorrectly. Can you check the Datapusher log for more clues?

[2016-10-20 19:52] rleir commented on #2333
Bump!

I think this is a documentation issue. Would someone with privileges please add a 'doc' tag to this issue.

Going from Solr 4 to Solr 5, the Solr project dropped Jetty/Tomcat, and Solr is now a standalone server.
 ref https://cwiki.apache.org/confluence/display/solr/Major+Changes+from+Solr+4+to+Solr+5#MajorChangesfromSolr4toSolr5-SolrisNowaStandaloneServer

Now Solr is at 6.2. The CKAN doco

[2016-10-21 11:45] amercader commented on #3264
Hi @florianm, thanks for the thorough report.

I can't replicate this with 1500 datasets so just the number of them is not the issue. Some things to try / report:

* Does it happen when disabling *all* extensions? If it doesn't happen gradually enable them until you can find the culprit.
* Does the `package_show` API call also take that long? This would discard template rendering issues

What seem

[2016-10-21 12:30] arquelaup opened #3283 "Error 500: An internal server error occurred"
Hi all,

I've recently installed CKAN (2.5.2) on my Windows machine, but in the "datasets" tab, I get `There was an error while searching. Please try again.`.
I also get the error below when trying to access some parts of CKAN (I get this when clicking in 'view profile', for example).

[code]

As I am a complete beginner, I dont know where to find the log file in Windows to provide more info, so I

[2016-10-21 13:05] amercader commented on #3265
Fix in #3284, would be great if you could test it

[2016-10-21 13:18] amercader commented on #3268
I guess you mean that the file is uploaded to the DataStore again. Yes, this is not optimal. We should restrict it to when the URL or the uploaded file changes, but IIRC it's difficult to tell exactly what changed at the point that the DataPusher is triggered.

[2016-10-21 13:20] amercader commented on #3271
Sounds good, as long as you can keep the default behaviour so extensions don't break. Feel free to submit a PR for this

[2016-10-21 13:21] amercader commented on #3273
How many columns approximately? Is it a scrolling problem? Your site is not up so I can't check. Can you upload the file to demo.ckan.org?

[2016-10-21 13:25] amercader commented on #3274
This looks like a setuptools issue: https://github.com/pypa/setuptools/issues/523
Can you try any of the hints mentioned there?

Please reopen if you think something needs to be done on the CKAN side

[2016-10-21 13:25] #3274 closed

[2016-10-21 13:29] amercader commented on #3278
Can you provide the exact way in which you are creating the dataset? Is it via the UI or via the API?

This might have been solved in https://github.com/ckan/ckan/pull/3054

p.s Please ugprade to the latest [patch release](http://docs.ckan.org/en/latest/maintaining/upgrading/upgrade-package-to-patch-release.html) if you can

[2016-10-21 13:30] gallexme commented on #3278
UI
Datasets
->Create Dataset

[2016-10-21 13:52] amercader commented on #3282
Good catch @coreyerickson. Fix is in #3285

[2016-10-22 02:36] florianm commented on #2333
@rleir while I'm chasing through my backups, we moved on to an architecture based on the (now abandoned) datacats - docs at http://datawagovau.readthedocs.io/en/latest/

The latest thinking is to follow http://ckan.org/2016/10/13/enterprise-ckan-stack-for-aws-is-now-available-on-github/

Both of these solutions address the SolR headache, although the datacats-based one will not work with latest CK

[2016-10-22 11:46] terchris commented on #3255
Having the same problem when installing on Ubuntu 16.04.

[2016-10-22 18:13] TkTech commented on #3268
@amercader I guess we could hash it if it's a local upload. We'd still have to skim the entire file but it would be quicker than loading it into DataStore. We can use FileAPI in newer browsers to do it locally. For URLs we could do a `HEAD` request first and hash the value of Last-Modified/ETags/other-caching-values, maybe?

[2016-10-24 10:03] amercader commented on #3278
I tried to reproduce this with your exact same version and with these settings. The only way I could get the Create Dataset button to show up was with the user being a Sysadmin (which makes sense as they have all permissions). On newer versions that include #3054 you'll get a message that you need to create an organization first.

Let me know if this makes sense and feel free to reopen if there's

[2016-10-24 10:03] #3278 closed

[2016-10-24 23:57] #3282 closed

[2016-10-25 12:22] wardi commented on #3264
This is very unusual, would you enable profiling and attach the report?

[2016-10-25 12:33] #3265 closed

[2016-10-25 20:12] jrods opened #3287 "JS data-module-* set to true when there's no value"
### CKAN Version if known (or site URL)

Ckan 2.5.2
### Please describe the expected behaviour

When there's no value passed to a `data-module-*` attribute, the value of that attribute in the js module should be set to the default, defined in `this.options.*`. If the corresponding var is not defined in `this.options`, it should be set to false or null.
### Please describe the actual behaviour

Whe

[2016-10-25 20:17] jrods commented on #3287
This isn't a bug per se, I want to see what the general consensus is, regarding this behaviour. The major reason not to change this is the number amount of js modules that may rely on it.

[2016-10-26 00:11] florianm commented on #3264
@wardi @amercader will toggle extensions until I find minimum problem set and enable profiling.

I most likely have introduced this by pulling latest CKAN master into the datacats CKAN up until a few months ago.

[2016-10-26 10:00] #1517 closed

[2016-10-27 09:05] torfsen commented on #2649
Just ran into this. In addition to the problem pointed out by @wardi, there's also the issue that the POST data returned by the form does not include the extras. Hence, when `resource_update` is called with the data, the extras are lost.

As a simple fix it would probably be enough to use `resource_path` instead of `resource_update` [when storing the POST data](https://github.com/ckan/ckan/blob/9d

[2016-10-27 10:08] torfsen commented on #2649
PR #3288 contains the fix I suggested above (using `resource_patch` instead of `resource_update`).

[2016-10-27 14:37] deinok opened #3289 "[Question] GitHub Branches"
Why is there so many branches?

[2016-10-27 15:07] torfsen commented on #3289
According to the [contribution guidelines](http://docs.ckan.org/en/latest/contributing/pull-requests.html), each pull request should be contained in a separate branch. While the branch can be deleted after the PR has been merged this is often forgotten.

[2016-10-27 15:18] deinok commented on #3289
Exact, somebody should delete Merged/Closed Branchs

[2016-10-27 15:55] deinok opened #3290 "Docker - Automated Build"
Automated build of ckan/postgresql and ckan/solr are the same as ckan/ckan

As you can see:
 [https://hub.docker.com/r/ckan/postgresql/~/dockerfile/](https://hub.docker.com/r/ckan/postgresql/~/dockerfile/)
[https://hub.docker.com/r/ckan/solr/](https://hub.docker.com/r/ckan/solr/)

Automated build of postgresql should point to: https://github.com/ckan/ckan/blob/master/contrib/docker/postgresql/Dock

[2016-10-27 16:14] wardi commented on #3290
Hmm. In "build settings" the Dockerfile location is set to: `/contrib/docker/solr` for branch master of ckan/solr and `/contrib/docker/postgresql` for postgresql. Did I not enter it in the right place?

[2016-10-27 16:29] bartmika commented on #3232
+1

[2016-10-27 16:31] rodolfomartinez commented on #3232
Big +1

[2016-10-27 16:34] deinok commented on #3290
Mmm seems like the location its okey. I will make a try and post images of the settings

[2016-10-27 17:20] amercader commented on #3232
@bartmika @rodolfomartinez +1 as in "I have the same issue" or as in "Your suggestion fixed it"?

[2016-10-27 17:47] wardi commented on #3290
I've given you "write" access on docker hub, does that let you make the changes yourself?

[2016-10-27 18:19] deinok commented on #3290
@wardi Ok, seems like I have some type of access to cloud.docker but the changes must be done in hub.docker :(

Try to change `/contrib/docker/solr` to `/contrib/docker/solr/` and `/contrib/docker/postgresql` to `/contrib/docker/postgresql/`

If didn't work, i will post images of the settings :)

[2016-10-27 18:21] wardi commented on #3290
I've upped your permission to admin on each of the images, mind trying again?

[2016-10-27 19:35] bartmika commented on #3232
@amercader It appears the code written by @torfsen has helped:

[code]

[2016-10-27 19:59] deinok commented on #3290
@wardi Fixed :)

[2016-10-27 19:59] #3290 closed

[2016-10-27 20:03] wardi commented on #3290
Was it the trailing slash? We've got a branch now for the the latest work on the 2.6 release: `dev-2.6`, do you want to start building that now too?

[2016-10-27 20:07] deinok commented on #3290
Yes, the only change is put the / at the end of the path.

Do you want a 2.6 docker build without touching the master build? I can configure it

[2016-10-27 20:13] wardi commented on #3290
yes a dev-2.6 build would be great, and once the release is out one for 2.6-latest too.

[2016-10-27 20:27] deinok commented on #3290
@wardi Done. New tag is "dev-2.6" from branch "dev-2.6"

Bugfixing and Redist support should be done in "master" or "dev-2.6" branch?

[2016-10-27 20:33] wardi commented on #3290
redist support? bugs are always fixes on master first then backported to dev-X.X branches in preparation for the next point release

[2016-10-27 20:37] deinok commented on #3290
Well, seems like Redist Support is going to be done.

In the installation instructions here ->[http://docs.ckan.org/en/latest/maintaining/installing/install-from-source.html#install-the-required-packages](http://docs.ckan.org/en/latest/maintaining/installing/install-from-source.html#install-the-required-packages)

The last package of apt-get is redist.

And the .ini of ckan creates a `#ckan.redis.

[2016-10-27 20:40] wardi commented on #3290
oh, redis! yes, master and the future 2.7 will need a redis image for sure. If you've got time to add that we really do need one of those, or we might be able to depend on an official image.

[2016-10-28 09:55] amercader commented on #3290
The [official Redis](https://hub.docker.com/_/redis/) image should be fine for that, we don't need any customization.

@deinok Are there any major issues left for Docker support? If we are confident it works we should re-add it to the installation documentation as an option.

Also going forward it would be great to have some kind of automated tests that check that the images build fine (I guess th

[2016-10-28 12:05] deinok commented on #3290
@amercader There are some issues with dev-2.6 and master. I'm working on it :)

Also, is redis connection a mandatory for CKAN-master? Seems like it try to connect even if the option in the .ini is disabled

[2016-10-28 13:47] amercader commented on #3290
Redis is a requirement on Master yes. If you don't define a value on the ini file a default connection will be used.

Can you briefly list what issues do you have? We might be able to help with them.

[2016-10-31 08:37] metaodi opened #3291 "Dataset search returns different results than search on organisation page"
### CKAN Version if known (or site URL)
2.4 and newer

### Please describe the expected behaviour
The search on the organisation page should return the same result as if I'm on the dataset search page with an activated organisation facet (i.e. limited to one organisation).

### Please describe the actual behaviour
Currently the search behaves differently, because on the organisation page, [an extr

[2016-10-31 10:46] TkTech commented on #3291
Heyo. In your Solr log you should have the exact final statement that is being run for both of these queries. Can you post one within the group/org and one without? Many different things modify the end search query.

Also, this should definitely not be a facet ("faceting" on a single known value doesn't make much sense). Instead, it should be an `fq` (`filter query`) value.

[2016-10-31 10:55] gleb-rudenko opened #3292 "Create a file filesize function as a part of iUploader interface"
### CKAN Version if known (or site URL)

### Please describe the expected behaviour
This PR was merge https://github.com/ckan/ckan/pull/3205 recently, and it works great!
The only problem is that other extensions that override the default upload functionality don't have those alts, and it would be cool to implement a function that would be a part of an interface so that further extensions developm

[2016-10-31 17:37] metaodi commented on #3291
@TkTech you're right, I meant filter query, as said, I'm not an solr expert and not too familiar with the terms.

Here are the two log statements

1. From the dataset page, limited to the organization "bundesarchiv" with the search term "baustellen":

[code]

2. From the org page of the organiuation "bundesarchiv" with the search term "baustellen":

[code]

As you can see, the first one uses `'fq'

[2016-11-01 12:45] amercader commented on #3292
@gleb-rudenko If I remember correctly, the IUploader interface just returns an Uploader class. In the default uploader that was modified in #3205 the `self.filesize` and `self.mimetype` properties are set on the `__init__()` method, so I guess that any custom implementation could do the same, using whatever logic applies to their backend.

I don't think we need to have a separate function, just [d

[2016-11-01 12:51] amercader commented on #3291
The first query includes dismax parameters like `'mm': '2<-1 5<80%'`, which I guess are affecting the results. I don't think there's any difference in `'fq': 'organization:"bundesarchiv"` vs `'q': '...  owner_org:"xxx".` (in terms of results returned, performance is another question).

@TkTech you seem the one with more Solr experience so I'll assign you to keep an eye on it

[2016-11-01 13:03] amercader commented on #3289
We'll try to be more mindful of deleting merged branches. If someone is really interested on **safely** cleaning up the core repo of old branches please go ahead (ping other devs first)

[2016-11-01 13:03] #3289 closed

[2016-11-01 15:28] metaodi commented on #3291
I just replaced `'q': '... owner_org:"xxx"` with `'fq': 'organization:"xxx"` in my controller, which solved the problem for me. Maybe there is a problem with the owner_org field in my solr schema. I'm not sure.

[2016-11-02 16:08] deinok commented on #2977
@rossjones  @torfsen Hi, in my job im working on a scrapper inside CKAN that reads datasets from other webpages.

If you want and my boss let do it, i can try to give it opensource, or at least the part of the background task

Also, I can't take the bounty and Im happy with give it to charity or for another task

[2016-11-02 16:31] rossjones commented on #2977
@deinok This sounds like it might be a better fit for https://github.com/ckan/ckanext-harvest than for CKAN core.  I've created an idea ticket at https://github.com/ckan/ideas-and-roadmap/issues/184 so feel free to claim it there.

As an aside, because of the CKAN licence (AGPL) if you writes scrapers inside CKAN, you are required to release it under the same open source licence.

If nobody wants

[2016-11-03 07:24] Zharktas commented on #2660
Hi,

fyi: since our new instances need ratings and we noticed that this actually is quite broken and unsupported we decided to implement this as a extensions ckanext-ratings or something and we probably released it a few weeks.

[2016-11-03 08:15] davidread commented on #2660
Nice one!

If it definitely doesn't work in core then we don't need to deprecate it before we remove the code. Can you point to the problem or error?

[2016-11-03 08:16] davidread commented on #2660
Ah, I see joe already confirmed this. Perhaps someone could just delete the code in a PR?

[2016-11-03 08:38] Zharktas commented on #2660
Through HTTP api ratings "work" but for example for anonymous users ip addresses are not handled and anonymous user can give only one rating per package, so it really is totally broken and probably should be removed.

[2016-11-03 09:47] amercader commented on #2660
+1 to remove and point to @Zharktas extension

[2016-11-03 11:43] rkagerer opened #3297 "Can't scroll "Contents" treeview"
CKAN Version: 1.20.1-0-gd41fe54 (beta)

The tree view control showing the contents of a mod is disabled.  As a result you can't scroll it (either horizontally or vertically).  For example, try highlighting the "Filter Extensions - Plugin" mod, then clicking Contents, then Download.  There are a lot of files and it's impossible to preview them all.

Also the Download button doesn't go away after yo

[2016-11-03 12:37] amercader commented on #3297
Sorry, wrong CKAN

[2016-11-03 12:37] #3297 closed

[2016-11-03 13:10] rkagerer commented on #3297
Whoops, my bad, sorry!

[2016-11-03 16:29] hbunke commented on #3271
See #3298. For now it's a very conservative change that enables reverse sorting by name for int type values only. I'm not sure if sorting by name would make sense for other values.

[2016-11-03 20:17] #3283 closed

[2016-11-03 20:27] arquelaup opened #3299 "Error adding new resource from larger files"
I am trying to upload data to CKAN 2.5.2, and I can do that for smaller files (I have uploaded 4 kB successfully), however for bigger files (with a file of 18 MB I already got this error), I get `Error 500 An internal server error occurred`. And, in the command prompt where I am running CKAN I get

[code]

I don't know what that file is, but I am pretty sure this error is the reason why I can't up

[2016-11-03 22:16] Kyle-Falconer opened #3300 "Feature request: CKAN API should allow for data append"
The current (CKAN 2.6.0) API has endpoints for:

* uploading a new resource
* deleting a resource
* updating a resource (which just replaces the data associated with the resource)

The CKAN API has no operation for appending a resource, which would be useful for very large data sets with millions of rows. The [Socrata DataSync](https://socrata.github.io/datasync/) utility supports this operation,

[2016-11-04 05:02] gleb-rudenko commented on #3292
@amercader , sounds good

[2016-11-04 05:31] TkTech commented on #3300
Resources are nothing but dumb storage. They're either a URL or a file upload.

What you're thinking of is the [DataStore](http://docs.ckan.org/en/latest/maintaining/datastore.html). The DataStore does in fact allow you to append via the API.

[2016-11-04 05:31] #3300 closed

[2016-11-04 09:42] datalocale opened #3302 "cannot reproduce exemple in api doc page"
### CKAN Version if known (or site URL)
2.7

### Please describe the expected behaviour
In the doc/api/index.rst page it states that one can execute the following command line via the httpie client
http http://demo.ckan.org/api/3/action/group_list id=data-explorer
In the api resference guide the id parameter is not listed
http://docs.ckan.org/en/latest/api/index.html#ckan.logic.action.get.group_li

[2016-11-05 02:07] deinok opened #3303 "SOLR - Jetty - Default Installation"
### CKAN Version if known (or site URL)
MASTER

### Please describe the expected behaviour
Solr is installed following the docs

### Please describe the actual behaviour
A 500 HTTP Code is raised when accessing http://localhost:8983/solr

### What steps can be taken to reproduce the issue?
Ubuntu 14.04 x64
sudo apt-get update && sudo apt-get upgrade
Follow the Docs until checking if SOLR is workin

[2016-11-06 12:20] MrkGrgsn commented on #3195
I can reproduce this in master and 2.6.0 using both paster serve and apache 2.4 w/mod_wsgi (without nginx) on Fedora 23 . The other config difference between my apache setup and @erlingbo's is I have `WSGIScriptAlias /data /etck/ckan/default/apache.wsgi`

The problem for me is that the RootPathMiddleware has been moved back to the bottom of the WSGI stack in d9f3a5036a99c5e447ad93977e99ba745e2868c

[2016-11-06 12:31] MrkGrgsn opened #3306 "CKAN 2.5.3 with ckan.root_path returns internal server errors"
### CKAN Version if known (or site URL)
2.5.3

### Please describe the expected behaviour
Pages load.

### Please describe the actual behaviour
When using a non-root `ckan.root_path` all pages fail to load with an internal server error.

[code]

### What steps can be taken to reproduce the issue?
Plain source install of 2.5.3 using apache 2.4 w/mod_wsgi and `ckan.root_path = /data`

[2016-11-06 12:40] MrkGrgsn commented on #3306
I think this was a missed backport as it was fixed previously in master 22bf30ff6c45a43f1e71ee247b427874e5ab9f52

[2016-11-07 06:38] gleb-rudenko commented on #3292
@amercader , Hi, can you take a look at the PR please.

[2016-11-07 08:12] florianm commented on #3264
Apologies for the delay, 'tis the flu season.
I haven't cracked the problem yet, but here are some random observations:

* My slow query relates to a db column introduced in migration [84](https://github.com/ckan/ckan/blob/master/ckan/migration/versions/084_add_metadata_created.py) - after 2.5.3 and in 2.6.0. This correlates with CKAN being fast roughly when I ran 2.5.3 and being slow since I ran

[2016-11-07 11:42] amercader commented on #3299
You are the first person I'm aware off that has managed to get this far installing CKAN on Windows. It is not supported platform so I'd strongly consider running it on an Ubuntu virtual machine.

Having said that it'd be interesting to see if there is some resource leaking somewhere that is masked on Linux. Can you post the full stack trace of the error?

[2016-11-07 16:43] arquelaup commented on #3299
Well, that explains why I struggled so much to install it.
Turns out it was a silly mistake by me, as I had the `ckan.max_resource_size` still on default (10MB). Increasing this limit solved the problem, and I dont get this error anymore.
I assume, then, that you are no longer interested in checking the stack trace, but if you are:

[code]

Regarding setting CKAN on a virtual machine: I dont have

[2016-11-07 16:50] TkTech commented on #3299
You should be seeing a graceful error if hitting the max resource size, not that. It's still likely a bug you discovered by chance.

[2016-11-07 17:08] arquelaup commented on #3299
Oh well, in that case, I will be glad to help you indetify this bug by providing any other information that you ask.

[2016-11-08 02:08] florianm commented on #3264
@amercader one step closer - package_show loads instantly, so the lag comes from something in my template, investigating now.

[2016-11-08 03:57] florianm commented on #3264
It seems we've got a fair amount of revisions and activities which simply bog our instance down. We're updating ~600 datasets annually multiple times (using R scripts, see [video](http://ckan.org/2015/09/18/pyramids-pipelines-and-a-can-of-sweave-ckan-asia-pacific-meetup/)).

In addition, the SQL behind the activity stream fetches all records, then limits the output to the limit as per CKAN config.

[2016-11-08 05:19] gleb-rudenko commented on #3292
@amercader, done, text changed

[2016-11-08 12:08] #3292 closed

[2016-11-08 12:35] wardi commented on #3264
@florianm does the revision DELETE casade to all the *_revision tables? If so that's much simpler than the cleaning-up-revisions script from data.gov.uk.

@TkTech have you pushed your recent work on the activity table and query up somewhere?  @florianm's 3s is still way too slow, I suspect your change might fix this one.

[2016-11-08 12:40] amercader commented on #3306
You are correct, we need to get this in the next patch release

[2016-11-08 12:50] amercader commented on #3302
You are right,the `id=data-explorer` bit needs to be removed. Probably just a typo. Do you want to send a quick PR?

[2016-11-08 13:03] datalocale commented on #3302
ok no problem. But it means there is no ways to filter the results to get only a subset of the existing groups ?

[2016-11-08 13:17] amercader commented on #3302
No, that's not currently supported

[2016-11-08 13:27] wardi commented on #3264
I think #2959 was the last activity-performance-fixing PR

[2016-11-08 13:57] #3302 closed

[2016-11-08 14:00] amercader commented on #3277
I believe this was fixed by #3012, which was backported to 2.5.3

Can you upgrade and see if that solves the issue? For resources where you already "lost" the datastore_active flag the easiest is to resubmit them again to the DataStore.

[2016-11-08 16:23] namgk commented on #3277
thanks

[2016-11-08 16:23] #3277 closed

[2016-11-09 01:52] florianm commented on #3264
@wardi I've applied [some tuning](https://github.com/ckan/ckan/wiki/Performance-tips-for-large-imports#database) and got rid of some indices and FK constraints (many involving _revision tables). My delete was non-cascading, and I'm not sure whether without my deleted FK constraints CASCADE would have dropped related revisions as well. Maybe cleaning out those other _revision tables might speed up

[2016-11-11 10:17] borellda opened #3308 "Problem adding datasets to a group on package_create, the user has 'Editor' capacity"
### CKAN Version if known (or site URL)
Found in 2.2.2 and later

### Please describe the expected behaviour
I manage a customized CKAN for a client. The create dataset page is changed in a way it is possible to add all metadata to a dataset on 'package_create'. Also it should be possible to add the dataset direktly to  groups. The user has the capacity 'Editor' on the group.

### Please describe

[2016-11-11 11:20] FabiApfelkern commented on #3291
In my opinion `fq` should be used in the group controller instead of `q` for filtering. I ran into unexpected behaviour, because I'm modifying the search parameters in `before_search` and I was expecting to have the search term in `q` and the filtering in `fq`.

[2016-11-11 15:44] metaljovi commented on #3146
I got same issue as well, any help guys?

[2016-11-13 11:11] sirex opened #3309 "Python 3 support (OLD)"
Add Python 3 support.

[Python 2.7 support will end in 2 years](https://pythonclock.org/).

- [x] add Python 3 support to [ofs](https://pypi.python.org/pypi/ofs) and [pairtree](https://pypi.python.org/pypi/Pairtree): ~https://github.com/okfn/ofs/pull/14~, ~https://github.com/benosteen/pairtree/pull/2~
- [ ] remove [ofs](https://pypi.python.org/pypi/ofs) and [pairtree](https://pypi.python.org/pypi/

[2016-11-13 11:42] sirex commented on #3309
I did some review of ckan dependencies and found following dependencies that do not support Python 3:

- [ofs](https://pypi.python.org/pypi/ofs) - last update: 2013-12-26
- [ordereddict](https://pypi.python.org/pypi/ordereddict) - last update: 2010-10-28
- [Pairtree](https://pypi.python.org/pypi/Pairtree) - last update: 2010-10-13
- [Pylons](https://pypi.python.org/pypi/Pylons) - last update: 2015

[2016-11-13 11:48] sirex opened #3310 "Replace nose with py.test"
[nose](https://nose.readthedocs.io/) is no longer supported:

It looks, that [py.test](http://pytest.org/) is the most active test runner project.

[2016-11-13 12:21] sirex commented on #3309
After fixing https://github.com/ckan/ckan/issues/3119 Python 3 support will be much easier, since there will be no Pylons dependencies.

[2016-11-13 18:55] deinok commented on #3309
[https://requires.io/github/ckan/ckan/requirements/?branch=master](https://requires.io/github/ckan/ckan/requirements/?branch=master)

This can be useful

[2016-11-14 20:34] amercader commented on #3309
`ofs` and `pairtree` were only needed by the old filestore. I think it's safe to remove them for the next version. `ordereddict` we don't need any more as we are targeting Python >= 2.7. You can get rid of these in a PR if you want.

As you say, one of the multiple benefits of the Flask migration will be to get rid of `Pylons` .

That leaves us with `vdm`, which is next on our hit list of ugly old

[2016-11-14 22:04] deinok opened #3312 "[Enchancement] - PEP8 to PyCodeStyle"
Seems like the library pep8 has been moved to pycodestyle

[https://pypi.python.org/pypi/pep8](https://pypi.python.org/pypi/pep8)
[https://pypi.python.org/pypi/pycodestyle](https://pypi.python.org/pypi/pycodestyle)

[2016-11-15 08:48] torfsen commented on #3309
Great to see work towards Python 3 support!

Don't forget the Unicode issues: In Python 2, string literals are byte strings while in Python 3 they are Unicode. Hence some of CKAN's code might be Python 3 compatible from a syntax point-of-view but still have different semantics on Python 2 and Python 3. The current approach is to [explicitly mark all Unicode string literals using the `u` prefix](ht

[2016-11-15 12:32] rossjones commented on #2977
https://github.com/ckan/ckan/pull/3165 was merged, so closing this. Thanks @torfsen

[2016-11-15 12:32] #2977 closed

[2016-11-15 13:10] amercader commented on #3312
Nice catch, and the [original discussion](https://github.com/PyCQA/pycodestyle/issues/466) is amusing.
AFAICT we only use this for the PEP8 coding standards test, can you submit a PR to update the requirement?

[2016-11-15 13:11] amercader commented on #3309
So, pieces of work for someone willing to help with this:

- [ ] Remove ofs, pairtree and ordereddict requirements
- [ ] Replace WebHelpers with a more modern, py3 enabled alternative

[2016-11-15 13:16] deinok commented on #3312
@amercader Yes, I will send the PR ASAP

[2016-11-15 14:15] amercader commented on #3310
@sirex It looks like at least we would not have to rewrite all tests :)

The main blocker for that is that we are using the `--with-pylons` option on nose, which essentially loads up a CKAN environment. We would need to create a similar [plugin](http://docs.pytest.org/en/latest/writing_plugins.html#writing-plugins) for py.test.

If you or someone else is up for investigating a bit more please go a

[2016-11-15 14:22] sirex commented on #3310
@amercader if the team agrees to move to py.test, then I can look into that.

[2016-11-15 14:23] amercader commented on #3310
@wardi @TkTech @davidread any objections? ^

[2016-11-15 14:55] amercader commented on #3308
Since CKAN 2.2 the available roles for Group members are `Admin` and `Member`. Perhaps this was migrated from an even older CKAN version. Can you try and manually change the entries for `editor` to `admin` on the `member` and `member_revision` tables and see if that helps? Make sure to do a backup and if you also are using organizations you should only update rows related to groups, not orgs.

[2016-11-15 15:38] TkTech commented on #3310
None. nose works for us and will probably keep working, but it would be nice to get access to py.test plugins.

[2016-11-15 21:05] sirex commented on #3310
If you plan to continue writing unittest style tests, then I guess it is not worth changing nose to py.test.

IMHO migration to py.test only worth the effort if tests gradually will be replaced with py.test style tests. For example this:

[code]

should be replaced with this:

[code]

If tests will stay written in unittest style, then these important features won't work:

- powerful py.test fixtur

[2016-11-15 21:15] wardi commented on #3310
py.test style looks great to me

[2016-11-15 21:15] sirex commented on #3032
It looks, that coveralls is still broken.

[2016-11-15 21:20] sirex commented on #3032
By the way, looking at the [last build](https://circleci.com/gh/ckan/ckan/1978) I see that test coverage is not grate, only 66%.

[2016-11-15 21:23] sirex commented on #3032
I might be wrong, because it might be 66% only for one parallel test run.

[2016-11-16 10:23] amercader commented on #3310
I'm less excited now if this means that we will have tests written in two very different styles, with 90% of them written in the "old" nose style that should not be used for new tests. It's very unlickely that the current 1500 or so tests (or the half that are not in `legacy` rather) will be migrated to the new style.
I guess it depends on how different are they though.

[2016-11-17 13:43] rwillmer commented on #3075
Any news on this?

[2016-11-17 13:45] dmfenton commented on #3075
@rwillmer I have a working implementation here: https://github.com/dmfenton/ckan-docker

[2016-11-17 13:48] rwillmer commented on #3075
thanks @dmfenton

[2016-11-17 14:32] amercader commented on #3232
Fixed in 2.5.3

[2016-11-17 14:32] #3232 closed

[2016-11-17 14:36] amercader commented on #3189
@smotornyuk this one should be easy to track as well

[2016-11-17 20:20] #3312 closed

[2016-11-17 20:26] KrzysztofMadejski opened #3315 "Translate resource-view-filters.js"
`Add filter` is not translated: https://github.com/ckan/ckan/blob/master/ckan/public/base/javascript/modules/resource-view-filters.js#L180

Default template should be moved to `initialize` method and i18n should be added. Solution: https://github.com/DanePubliczneGovPl/ckan/commit/c70cd20aec13057fde5a9ef2825e7335e0d0638d

[2016-11-18 10:08] rwillmer opened #3316 "Module 'polib' missing from requirements.txt"
### CKAN Version if known (or site URL)
latest (originally reported as 2.6.0)

### Please describe the expected behaviour
I have a copy of contrib/docker/docker-compose.yml, modified to fix #3075.
When I run 'docker-compose up', I expect a running set of containers to be launched.

### Please describe the actual behaviour
When I run 'docker-compose up', this error shows up

[code]
### What steps c

[2016-11-18 10:29] torfsen opened #3317 "Don't track generated JS translation files in git"
The git repository contains stubs for the automatically generated JS translation files. Since #3272 has been merged, these are automatically overwritten with the full translations during server startup and therefore show up as modified files in the repository. That's rather annoying when doing git stuff.

Automatically generated content should usually not be tracked in a VCS, so I suggest we ignor

[2016-11-18 10:38] torfsen commented on #3315
That's something I also noticed. Similarly, it also contains an untranslated `'Select a field'`.

Fixing that should wait until #3211 is merged since that changes the translation API.

[2016-11-18 11:17] rwillmer opened #3319 "docker-compose up will fail on initial database timeout"
### CKAN Version if known (or site URL)
2.6.0 (docker images tagged dev-v2.6)

### Please describe the expected behaviour
With contrib/docker/docker-compose.yml modified to add required environment variables (#3075)
'docker-compose up' should bring up a working system

### Please describe the actual behaviour
The 3 containers all appear to be able to start. The use of depends_on starts them in the

[2016-11-18 11:23] rwillmer commented on #3319
I shall add a 'wait-until-ready' into my ckan entry point, as suggested by docker

https://docs.docker.com/compose/startup-order/

However, I wonder whether ckan needs, or already has, a reconnect option which is used if the database connection fails at a later stage.

[2016-11-18 11:26] rwillmer commented on #3319
I'll also add a link to https://github.com/dmfenton/ckan-docker, which is a working implementation.

[2016-11-19 10:55] deinok opened #3321 "[SOLR] - Change to a ManagedSchema"
This will delete some of the biggest problems of have a schema.xml

Some Info:
[https://cwiki.apache.org/confluence/display/solr/Schema+Factory+Definition+in+SolrConfig#SchemaFactoryDefinitioninSolrConfig-Switchingfromschema.xmltoManagedSchema](https://cwiki.apache.org/confluence/display/solr/Schema+Factory+Definition+in+SolrConfig#SchemaFactoryDefinitioninSolrConfig-Switchingfromschema.xmltoManag

[2016-11-19 10:56] deinok commented on #3319
@rwillmer Working on it, thanks

[2016-11-20 03:57] #3321 closed

[2016-11-20 14:01] wardi commented on #3321
@TkTech why close this? Is it a duplicate?

[2016-11-20 17:37] deinok commented on #3321
@TKTech something wrong?

[2016-11-21 02:42] TkTech commented on #3321
Sorry, guess I closed the page too fast and my comment didn't post.

This is a duplicate of #3118

[2016-11-21 12:22] smotornyuk commented on #3260
Added pull request [#3324](https://github.com/ckan/ckan/pull/3324)

I checked more closely, when this connection appears. And instead of adding Session.commit in few places, i've just added it in the end of load environment function, so possibility of regression is reduced for feature changes

[2016-11-21 13:36] borellda commented on #3308
Indeed we migrated from CKAN 1.8 to 2.2.2. The only documentation I could find is

 at http://docs.ckan.org/en/ckan-2.2.3/authorization.html. It mainly speaks about organizations but groups are mentioned and as organizations are groups, why should it be different? Anyway having admin rights for every user on every group is not what we want. It should be possible to add datasets to groups without b

[2016-11-21 15:21] #2345 closed

[2016-11-21 16:34] m1h commented on #2856
We encountered the same issue while using CKAN 2.5.3 (source-install). "Fetching", "deleting", "determining headers and types", "saving chunk", "successfully saved"  is repeating continuously (endless loop). A screenshot:

![ckan-error](https://cloud.githubusercontent.com/assets/10198211/20490877/c081e7d8-b00f-11e6-9181-ff99469a16a6.png)

It is strange that the date returns -1 although the field '

[2016-11-21 19:36] shabeermothi commented on #2255
@miguelbgouveia  Isn't it
`docker run -d --name solr miguelbgouveia/solr-docker` ?

[2016-11-22 09:20] miguelbgouveia commented on #2255
You right @shabeermothi the command is:
` docker run -d --name solr miguelbgouveia/solr-docker`

Tks.

[2016-11-22 10:47] arquelaup opened #3326 "Errno 13 uploading resources"
Hi,

I've been trying to upload some resources from file to CKAN, but I keep getting `[:error] [pid 4130:tid 140444504823552] [remote 127.0.0.1:60878] Error - <type 'exceptions.OSError'>: [Errno 13] Permission denied: '/var/lib/ckan/default/resources/920'`.
I have followed the [documentation](http://docs.ckan.org/en/latest/maintaining/filestore.html), that is, I have `ckan.storage_path = /var/lib/

[2016-11-22 10:54] smotornyuk commented on #3245
While i tried to reproduce issue, i wrote script that creates ~20 resource in different threads and it turned out that just one resource appears in package(as result of this issue). So i decided, that quickest fix won't work - it solution just for datastore. And i implemented simplest(but, in other hand, there are less chances to break anything) decorator for atomic actions that uses conditional l

[2016-11-22 16:29] shabeermothi commented on #2255
Even after using solr image from `miguelbgouveia/solr-docker` or `milafrerichs/ckan_solr` i still get the same error.

Am following the below series of steps :
`$ docker run -d --name db ckan/postgresql
$ docker run -d --name solr miguelbgouveia/solr-docker or docker run -d --name solr milafrerichs/ckan_solr
$ docker run -d -p 80:80 --link db:db --link solr:solr ckan/ckan`

This is the error i get

[2016-11-22 16:59] miguelbgouveia commented on #2255
I seams that is a problem only with ckan\ckan container and not with miguelbgouveia/solr-docker or milafrerichs/ckan_solr.

[2016-11-22 16:59] stephane-lapointe opened #3327 "Local set to 'fr' doesn't work correctly when visualising a dataset"
### CKAN Version if known (or site URL)
CKAN version 2.6.0

### Please describe the expected behaviour
Dataset should adjust datetime when locale is set to 'fr'.

### Please describe the actual behaviour
An error is generated while accessing a dataset when local is set to fr. (http://my-domain/fr/dataset/dataset-name)

Logs show this message:

File '/usr/lib/ckan/default/src/ckan/ckan/lib/formatte

[2016-11-22 18:08] shabeermothi commented on #2255
What's the best way to run CKAN in docker ?

[2016-11-22 18:36] Khalegh-H3 opened #3328 "Ckan creates ErrorHandler route before calling plugins before_map method, making it impossible to customize error handling."
Ckan documentation states [here](http://docs.ckan.org/en/latest/extensions/plugin-interfaces.html?highlight=before_map#ckan.plugins.interfaces.IRoutes.before_map) that IRoutes.before_map gets called before the routes map is generated. However, in routing.make_map  code, the error handler route is generated before calling the IRoute methods :

    # The ErrorController route (handles 404/500 error

[2016-11-22 22:51] GuidoS opened #3329 "tutorial: Implementing the IAuthFunctions plugin interface"
### CKAN Version if known (or site URL)
    "ckan_version": "2.6.0"

### Please describe the expected behaviour
The tutorial seems to suggest that you can have a user that can create a group but is not the sysadmin.

### Please describe the actual behaviour
Sysadmin is the only account that can create a group.

### What steps can be taken to reproduce the issue?
run the through the tutorial (which

[2016-11-24 03:08] fredpedro commented on #3188
There is a problem with purging trash in the administration panel. It returns an error saying that it can't purge the package revision because of a foreign key in the "package_relationship_revision" table.

[2016-11-24 14:16] deinok opened #3332 "[CircleCI] - Test fails - SSL connection has been closed unexpectedly"
Sometimes CircleCI test fails, the cause is that SSL connection has been closed unexpectedly.

[2016-11-24 23:56] florianm commented on #2255
@shabeermothi since active development on datacats has ceased, [Link Digital's AWS-based install](http://ckan.org/2016/10/13/enterprise-ckan-stack-for-aws-is-now-available-on-github/) looks tasty.
It is used in production on a larger Western Australian instance for which I had the honour of building the first CKAN deployment (based on datacats). I'd expect LD's setup to be more resilient against f

[2016-11-25 21:10] augusto-herrmann opened #3333 "Revision list generates broken links for organizations"
### CKAN Version if known (or site URL)
Tested on [2.2.2](http://dados.gov.br/revision/8bac2318-6cbb-42b4-bd0f-094a305e2366), [2.5.2](http://demo.ckan.org/revision/e19fa361-3320-454e-8210-d11cb21d44d3) and [2.5.3](http://datos.gob.mx/busca/revision/b99d1d93-ec37-429e-9acb-00a45c0c1e8b)

### Please describe the expected behaviour
Open the /revision/list page.

* Changes to organizations should poin

[2016-11-26 00:26] wardi opened #3335 "organization_create/_update crash if display_name passed"
simplest way to reproduce this is with `ckanapi dump organizations` then `ckanapi load organizations`, this leads to an AttributeError because our group form schema is accepting display_name, but there's no display_name in our model.

[2016-11-26 09:44] mohmad-null opened #3336 "Concept of "package" not documented - API documentation lacks basic data structure explanations"
I'm trying to use the API to find some datasets. I'm not familiar with either CKAN or Solr.

The API allows searches of things like "resources", "packages", "tags" and "groups".

However, the word "package" doesn't appear even once in the user guide - http://docs.ckan.org/en/latest/user-guide.html - making it hard to understand what I'm actually searching when I try and use the "package_search" or

[2016-11-28 10:52] #3316 closed

[2016-11-28 12:46] torfsen commented on #3332
I *think* I've finally figured this one out. See #3337.

[2016-11-28 13:38] deinok commented on #3332
im happy to see it :)

[2016-11-29 12:18] #3317 closed

[2016-11-29 12:26] wardi commented on #3326
try with with `-R` to change the subdirectory permissions too

[2016-11-29 12:40] wardi commented on #3245
@ZtF are you able to reproduce the issue with the #3331 applied?

[2016-11-29 12:45] #3332 closed

[2016-11-29 12:54] amercader commented on #3333
@augusto-herrmann The revisions UI hasn't really been supported for a long time. All the changes you suggest sound really sensible. If you are using this interface and find it useful I encourage you to submit a pull request.

FYI here's some discussion about the future of revisions. Feel free to add a comment if you have an opinion on that: https://github.com/ckan/ideas-and-roadmap/issues/41

[2016-11-29 12:55] amercader commented on #3328
That sounds reasonable. Do you want to submit a PR that moves the routes below the extension point?

[2016-11-29 13:12] amercader commented on #3327
Thanks @stephane-lapointe

Fixed on Transifex and backported to the dev-v2.6 branch, will be part of 2.6.1

[2016-11-29 13:12] #3327 closed

[2016-11-29 13:16] #3074 closed

[2016-11-29 13:25] amercader commented on #3315
Looks like you have a patch for this @KrzysztofMadejski. Now that #3211 would you mind sending a PR?

[2016-11-29 13:29] amercader commented on #3336
@mohmad-null You are correct that this should be explained. I'm pretty sure it's mentioned somewhere but I have made it much more prominent in https://github.com/ckan/ckan/pull/3339

If you think that should be mentioned elsewhere let me know

[2016-11-29 15:26] KrzysztofMadejski commented on #3315
If I have time next week I'll try

[2016-11-29 18:55] Khalegh-H3 commented on #3328
Sure, I will make the changes and I will do the PR.

[2016-11-30 12:01] augusto-herrmann commented on #3333
Actually we just use it for a "what's new" kind of link on the site footer at [dados.gov.br](http://dados.gov.br). If there is a similar UI in CKAN, based on the activities flow, that could serve that role, we could just change the link in the footer.

Otherwise, we have to consider either asking our team of developers to do a patch, or to remove the link at the footer altogether.

[2016-11-30 20:18] caninapriori commented on #3146
Any one find a resolution?

[2016-12-01 07:00] Zharktas commented on #2660
Our extension can be found here https://github.com/6aika/ckanext-rating :)

[2016-12-01 09:05] nabiltntn commented on #3146
Sorry guys , i fixed it but i dont remember the solution right now

[2016-12-01 11:05] carbowizzy commented on #2769
files=[('upload', file("http://goog.com/file.csv"))])

I tried uploading a file from url with the above code but i get an error message "No such file or directory"

[2016-12-01 14:14] #3328 closed

[2016-12-01 14:14] #3336 closed

[2016-12-01 14:15] #3326 closed

[2016-12-01 14:28] francescomangiacrapa opened #3341 "Dataset: issue related to "Searchable" field"
Hi,

I've a problem with the field "searchable" related to a dataset.
In the last months, I used different ckan versions starting from 2.5.1 until to latest 2.6.0.

I'm the sysadmin and I'm using the Create Product interface via CKAN GUI.

This is the scenario:
Create a dataset (e.g. "Product-A") using Visibility = Private and Searchable = True
into an Organisation (e.g "Org") where the user (e.g.

[2016-12-01 16:51] weschdc commented on #2255
I just went thru the docker build process and I am getting the same error message as others before:  the last line complains that solr needs schema from [2.7].

what I don't understand is that the docker hub says all three repos (ckan/ckan, ckan/postgresql, & ckan/solr) were updated today.  Is anybody (the contribitor) looking at the repos and making sure they are functioning repos ?

[2016-12-01 17:01] wardi commented on #2255
This should be updated to dev-2.7 https://github.com/ckan/ckan/blob/master/contrib/docker/solr/Dockerfile#L16

[2016-12-02 09:59] danbri commented on #1890
Related - see https://github.com/ckan/ckanext-dcat/issues/75#issuecomment-264140088 where I propose handling Schema.org (likely in JSON-LD) alongside DCAT. I'd argue that this would then be a strong candidate for going into core, but step-by-step eh? :)

FWIW I agree with @cygri's comment above that there is scope for multiple different kinds of RDF description. I suggest the unification we should

[2016-12-02 22:58] wardi opened #3344 "Allow larger datastore dumps"
This is a small improvement to datastore that allows large CSV dumps and shrinks the maximum memory used by paging over the data and streaming the output CSV

[2016-12-04 03:00] deinok opened #3345 "ckan.site_url cause invalid redirections"
ckan.site_url Should not be a mandatory

This cause the HTTP POST forms to be redirected to this url.

To reproduce this, set a valid URL but not pointing to the CKAN Instance, navigation works well but the login and register forms are not redirected well

[2016-12-04 03:06] deinok opened #3347 "[CircleCI] - Add Docker Testing"
Test that docker runs as expected.

This will require cache the images (to be faster), setup the docker-ckan (using docker-compose) and test some urls

[https://circleci.com/docs/docker/](https://circleci.com/docs/docker/)

[2016-12-04 03:37] wardi commented on #3345
We've discussed this in past issues, the summary is that we use site_url and root_path exclusively because
1. background jobs can't generate full urls without the settings
2. configuring reverse proxies with the right environment variables is fragile
3. even with the right environment variables we can't express things like `root_path=/{LANG}/extra-prefix/`

[2016-12-04 21:20] datalocale opened #3348 "rdf-export paster command"
### CKAN Version 2.5.2

### Please describe the expected behaviour
issuing the paster command

paster --plugin=ckan rdf-export ckan-ressources/rdf-export --config=etc/ckan/default/development.ini
should export rdf serialization of ckan datasets

### Please describe the actual behaviour

Issuing the command generated an error after the export of the first dataset
Traceback (most recent call last):

[2016-12-04 23:59] mckaydavis opened #3349 "Recline Grid View / SlickGrid column label/key breaks when label == "A""
### CKAN Version if known (or site URL)
Confirmed on 2.4.3 (internal site) and 2.5.2 (demo.ckan.org)

### Please describe the expected behaviour
The column header label/name in the Recline Grid View / SlickGrid component should show the proper column name of `A`

### Please describe the actual behaviour
When viewing a datastore resource with a label of `A` via the `recline_grid_view` extension:

[2016-12-05 02:33] peaz commented on #2939
@mstantoncook: Your steps worked for me but the last line should be a jetty restart
`sudo service jetty restart`

[2016-12-05 11:13] rossjones commented on #3348
I think https://github.com/ckan/ckanext-dcat is the preferred way of getting DCAT out of CKAN nowadays.  Looks like the CLI generated an error but not the one that triggers this error message -> https://github.com/ckan/ckan/blob/master/ckan/lib/cli.py#L625

[2016-12-05 11:16] datalocale commented on #3348
Ok. Thanks

[2016-12-05 11:16] #3348 closed

[2016-12-05 13:50] smotornyuk commented on #3329
@GuidoS , i've just checked it:
Yes, with default settings common user have no access to group creating. But, you can change this behavior - just change [ckan.auth.user_create_groups](http://docs.ckan.org/en/latest/maintaining/authorization.html?highlight=user_create_groups%20#ckan-auth-user-create-groups) in config file to `true`.
@wardi , this already described in docs, so i think that no additi

[2016-12-05 15:45] smotornyuk commented on #3308
@amercader  This line was added (long time ago)[https://github.com/ckan/ckan/blob/de9eeaeef74343e37757996f2410a66955dfc4ec/ckan/new_authz.py#L63-L67] and now it not actual. I think, that we should change `update` to `manage_group` in this check, so that users, who are members of group will be able to add dataset into it(member has this permission). And in that case we avoid giving permission to ed

[2016-12-06 10:40] #3260 closed

[2016-12-06 10:44] davidread opened #3352 "Add a user_list option that returns just names instead of dicts"
user_list currently returns a dict for each user and the enhancement is to add an option to allow returning the user names.

DGU has 30k users and it takes 3 minutes, which is no good for a web request. Whereas returning just the names takes 10 seconds, skipping the dictization and the additional parts of the query that adds up revisions by the user.

package_list and group_list both return either

[2016-12-06 10:47] amercader commented on #2458
Closing due to inactivity. Feel free to reopen if this is still an issue.

[2016-12-06 10:47] #2458 closed

[2016-12-06 10:47] #2451 closed

[2016-12-06 10:54] amercader commented on #2224
Closing due to inactivity. Feel free to reopen if this is still an issue.

[2016-12-06 10:54] #2224 closed

[2016-12-06 10:54] amercader commented on #2252
Closing due to inactivity. Feel free to reopen if this is still an issue.

[2016-12-06 10:54] #2252 closed

[2016-12-06 10:56] amercader commented on #2255
@wardi There is no dev-v2.7 yet. Do you mean master?

[2016-12-06 10:56] amercader commented on #2255
Looks like #3346 should address this

[2016-12-06 10:57] amercader commented on #2304
Closing due to inactivity. Feel free to send a PR if you feel strongly about this.

[2016-12-06 10:57] #2304 closed

[2016-12-06 11:03] amercader commented on #2822
Closing due to inactivity, please reopen if this is still an issue

[2016-12-06 11:03] #2822 closed

[2016-12-06 11:04] amercader commented on #2283
This is now fixed on modern CKANs

[2016-12-06 11:04] #2283 closed

[2016-12-06 11:47] davidread opened #3354 "Initializing test db is not idempotent"
Running nosetests deletes the `migrate_version` table, which means that subsequent runs of `paster db init -c test-core.ini` [don't work](https://gist.github.com/davidread/af650b9227e5ed54d891dbeeb0e2c254). This is an issue when you are writing provision scripts, because the easiest thing is for these commands to be idempotent so they can be run repeatedly without harmful effect or error. So it is

[2016-12-06 12:30] #3345 closed

[2016-12-06 12:39] amercader commented on #3329
The default value is that users are not allowed to create groups or orgs, and that's correct. We need to

1. Update the configuration option docs to show the default value as Falsw
1. Update the IAuthFunctions tutorial to mention that you should turn this option to True

[2016-12-06 12:48] amercader commented on #3352
Sounds good, merged. TBH I'd up for a change in default behaviour to be consistent with other endpoints, with appropiate deprecation notices of course. That can be a separate task.

[2016-12-06 12:48] #3352 closed

[2016-12-06 13:00] amercader commented on #3341
@francescomangiacrapa "Create Product" and "searchable" are not part of the standard CKAN model, so you must be customizing the default schema via an extension

You mention "Adding the "Product A" to a group". Groups have no effect on visibility, they are just meant to aggregate dataset thematically. Only adding datasets to organizations affects their visibility (members can see private datasets).

[2016-12-06 16:50] metaodi opened #3356 "render_markdown() breaks links with ampersands"
### CKAN Version if known (or site URL)
2.5.3

### Please describe the expected behaviour
If a field supports markdown (e.g. the notes field), a user should be able to link to all valid URLs include something like http://example.com?test=bla&1=2

### Please describe the actual behaviour
If the field is rendered using the [`render_markdown` method](https://github.com/ckan/ckan/blob/9b5bf5d3accc147c

[2016-12-07 08:22] metaodi commented on #3356
This change has been introduced here: https://github.com/ckan/ckan/pull/2766

[2016-12-07 16:13] francescomangiacrapa commented on #3341
Hi amercader,

thanks for your reply.
After read your response, I investigated on ckan plugins.. and I found that the plugin "privatedataset" performs a schema update adding "serchable" field (and other).
I think that the conflict is between "my plugin" and "privatedataset" and I've a strategy to fix the problem.

I'm going to close this issue. Thanks again for your response.
Cheers

[2016-12-07 16:13] #3341 closed

[2016-12-07 16:26] wardi commented on #2856
@m1h try the fix in #3331

[2016-12-07 16:53] caninapriori commented on #3146
I changed the name of my extension; the namespaces with "example_" as a prefix seem to be already used.

[2016-12-08 12:35] mikkonieminen opened #3357 "Package group listing should take group type into consideration"
### CKAN Version if known (or site URL)
CKAN version 2.6.0

### Please describe the expected behaviour
Only groups with type 'group' should be listed when viewing package/group_list.html. An identical issue occurs with the group select input when viewing the same template

### Please describe the actual behaviour
All groups with the attribute is_organization == false are listed and the group's typ

[2016-12-08 12:39] smotornyuk commented on #3349
This bug was fixed and backported to older versions.  @mckaydavis , you can either switch to v2.4.4 or v2.5.3 in order to get rid of this

Issue can be closed

[2016-12-08 13:23] smotornyuk commented on #3356
I think, it because `clean` itself aimed to sanitize HTML, not markdown. So, if we change it to something like ` clean_html(markdown(data), strip=True)`, than this problem will be resolved.

i've just checked default parameters of `clean`:
[code]
For suggested solution, few tags(p, pre) should be added to tags list

[2016-12-08 14:12] #3349 closed

[2016-12-08 14:20] wardi opened #3359 "Intermittent test failures in test_jobs"
e.g. https://circleci.com/gh/ckan/ckan/2035

[2016-12-08 14:22] wardi commented on #3359
Do you have time to look at this @torfsen ?

[2016-12-08 21:09] wardi opened #3360 "cli: TypeError: expected a character buffer object"
fix a couple places where exceptions are passed to `error()`, causing a failure while trying to fail.

[2016-12-08 23:28] wardi opened #3361 "group/org package lists should always include private"
Fix for a bug introduced in #3192: remove all the permission-checking code from group controller and rely on package_search logic instead.

[2016-12-09 09:37] torfsen commented on #3359
Argh, I thought that these had been fixed by #3337 :disappointed:

I'll look into it but am currently pretty busy. A short-term solution would be to disable these tests until I got time to fix them.

[2016-12-09 12:36] deinok commented on #3332
Still not working

[2016-12-09 15:05] wardi commented on #3332
@deinok I'm disabling the test until @torfsen or one of us has time to investigate #3359

[2016-12-09 15:20] #3354 closed

[2016-12-10 09:04] july7vivian opened #3362 "How are solr and postgreSQL connected?"
### CKAN Version if known (or site URL)
2.5.2

### Please describe the expected behaviour
I can't find how solr link to postgreSQL.Definitely, it's not a issue, but I don't know where to raise a quetion, is there a forum?

### Please describe the actual behaviour
I wrote `solr_url = http://127.0.0.1:8983/solr `, and `sqlalchemy.url = postgresql://ckan_default:123456@localhost/ckan_default` in my d

[2016-12-10 18:53] deinok commented on #3362
https://stackoverflow.com/questions/tagged/ckan

[2016-12-11 07:34] july7vivian commented on #3362
@deinok I raised a question on the website that you recommended me, but I didn't get a satisfied answer? May I ask a favour of you? Could you please give me some tips？Thanks！

[2016-12-12 14:27] rwillmer commented on #3274
I have this problem building 2.6.0 on ubuntu:xenial. I've given them a reproducible docker version of the problem in a comment at https://github.com/pypa/setuptools/issues/523

[2016-12-12 14:47] rwillmer commented on #3274
And I've added a workaround in my comments in https://github.com/pypa/setuptools/issues/523; basically by downgrading setuptools and then upgrading to the version I started with, the problem went away.
I created a new issue there to reopen 523. https://github.com/pypa/setuptools/issues/887

[2016-12-13 02:20] july7vivian commented on #3362
I understood, in CKAN, Solr is not directly linked to PostgreSQL. The Solr index is maintained by the CKAN code itself, see ckan.lib.search.index.

[2016-12-13 02:20] #3362 closed

[2016-12-13 12:16] #3329 closed

[2016-12-13 12:21] amercader opened #3365 "Intermittent test failures in test_jobs"
e.g. https://circleci.com/gh/ckan/ckan/2035

@torfsen just to keep this open as we closed #3359

[2016-12-15 22:51] wardi opened #3366 "Tolerate missing system_info table"
If you have an old or incomplete database some commands (such as db clean) will fail because they can't find the system_info table.

[code]

This change treats a missing system_info table the same as no overridden configuration.

[2016-12-16 03:20] WDayneHS opened #3367 "Unhandled exception causing crash"
### CKAN Version if known (or site URL)
1.20.1-0-gd41fe54 (beta)

### Please describe the expected behaviour
Mods being downloaded and installed without error

### Please describe the actual behaviour
During download, I am getting an error with the following description:
Unhandled exception:
System.IO.IOException: The process cannot access the file 'C:\Users\wh140513771\AppData\Local\Temp\tmpA746.

[2016-12-16 07:47] TkTech commented on #3367
Wrong CKAN.

[2016-12-16 07:47] #3367 closed

[2016-12-16 09:23] smotornyuk commented on #3356
Created PR #3364 with fixes and tests

[2016-12-16 10:08] fanderegg opened #3368 "Content from data explorer table preview cells can not be copied to the clipboard"
### CKAN Version if known (or site URL)
CKAN 2.5.2, but should also happen in newer versions.

### Please describe the expected behaviour
When you highlight a cell in the preview and Ctrl+C, the content of the cell should be copied to the clipboard.

### Please describe the actual behaviour
The content is not copied to the clipboard.

If someone has pointers how and where to fix this, we could pro

[2016-12-16 10:14] #3356 closed

[2016-12-16 10:37] fanderegg opened #3369 "Columns in the data explorer table preview do not use the full width"
### CKAN Version if known (or site URL)
CKAN 2.5.2
Example:
https://opentransportdata.swiss/en/dataset/bhlist/resource/911a4eb7-9d10-440f-904b-b0872b9727c1

### Please describe the expected behaviour
The columns in the data explorer table should use the entire available place.

### Please describe the actual behaviour
The columns only use a small part of the space and users have to increase the si

[2016-12-16 12:51] fanderegg commented on #2970
My workaround for this is to set the server time to UTC and not set
ckan.display_timezone or ckan.default_timezone in the config. This seems to fix the problem.

[2016-12-16 13:51] vgarciag opened #3371 "HTTP Response Splitting vulnerability"
### CKAN Version if known (or site URL)
CKAN 2.5.2.

In a recent security audit of our CKAN server we have security vulnerability related to the http headers.

This seccurity vulnerability is related to a [HTTP Response Splitting](https://www.owasp.org/index.php/HTTP_Response_Splitting)

This vulnerability is more datailed here https://prakharprasad.com/crlf-injection-http-response-splitting-expla

[2016-12-16 14:32] wardi commented on #3371
Thank you @vgarciag, please email security@ckan.org with the specifics. That's the best way for us to get a fix out quickly.

[2016-12-16 14:32] #3371 closed

[2016-12-19 13:29] rwillmer opened #3372 "CKAN 2.6.0 tests fail"
### CKAN Version if known (or site URL)
2.6.0

### Please describe the expected behaviour
I run the nosetests.
The tests all work.

### Please describe the actual behaviour
Several tests fail. I will add the failure messages in a comment.
This is the command I use:
[code]

### What steps can be taken to reproduce the issue?
I can repeat it by rerunning the tests.

[2016-12-19 13:30] rwillmer commented on #3372
<../bin/nosetests --ckan --reset-db --with-pylons=test-core.ini ckan
........................../usr/lib/ckan/default/local/lib/python2.7/site-packages/sqlalchemy/orm/unitofwork.py:79: SAWarning: Usage of the 'related attribute set' operation is not currently supported within the execution stage of the flush process. Results may not be consistent.  Consider using alternative event listeners or conn

[2016-12-19 13:31] rwillmer commented on #3372
Is 2.6.0 running under test at CircleCI? If so, is there a URL for the test output?

[2016-12-19 17:18] wardi commented on #3372
@rwillmer it is, here are the latest tests along the 2.6 branch https://circleci.com/gh/ckan/ckan/tree/dev-v2.6 You can see the release here: https://circleci.com/gh/ckan/ckan/1953

[2016-12-19 17:20] wardi commented on #3372
@rwillmer do you have the right versions of all the python dependencies installed?

in particular I noticed this error:
[code]

[2016-12-19 17:28] TkTech commented on #3372
@rwillmer Wrap your blocks in triple-tildes to format it correctly, I've gone ahead and edited your comment :)

[2016-12-19 22:32] rwillmer commented on #3372
thanks. I believe I've built against the 2.6.0 branch; I'll debug my version against the CircleCI version.

[2016-12-19 22:45] rwillmer commented on #3372
Interesting about the pylons version comment; I'm using the requirements file for the dependencies so this should be correct. I'll figure out where that's getting updated.

[2016-12-20 09:55] Engerrs opened #3373 "Dataset follower can't see new item counter at dashboard link, when the dataset is updated."
### CKAN Version if known (or site URL)

master(ckan 2.7) branch
### Please describe the expected behaviour

When user follows dataset and this dataset is updated, new dashboard item counter should be changed, so user can see that new notifications appeard.
### Please describe the actual behaviour

When user follow dataset and this dataset is updated, new dashboard item counter is still on 0 items

[2016-12-20 13:31] torfsen commented on #3151
Somehow this issue didn't get closed when #3211 was merged, so I'm closing it now.

[2016-12-20 13:31] #3151 closed

[2016-12-20 13:34] torfsen commented on #3141
HTTPS itself seems fixed, but there is still a lot of mixed content:
[code]

[2016-12-20 13:55] torfsen commented on #3372
If I understand your original post correctly then it seems that you are running `nosetests` via its path in the virtualenv (e.g. `path/to/your/venv/bin/nosetests ...`) instead of from within an actually activated virtualenv. That doesn't work. Compare
[code]
with
[code]

[2016-12-20 17:12] rwillmer commented on #3372
The virtualenv documentation states that you don't need to use activate. From https://virtualenv.pypa.io/en/stable/userguide/#usage,

[2016-12-20 17:29] rwillmer commented on #3372
I think the problems I'm having are to do with software versions and locales. (that failing pylons version test was a red herring)

I'm rather hampered by the fact that the process you're running on CircleCI doesn't match the 2.6.0 documentation.

For example, if you follow the documentation for installing from source and then testing, on ubuntu:trusty, you'd be using Postgres 9.3, and the standar

[2016-12-20 17:47] torfsen commented on #3372
@rwillmer You don't need to activate the virtualenv if you want to execute a single command. That's why your execution of `nosetests` itself works. However, without activating the virtualenv you don't get its environment variables. If the command you're executing relies on these then you will get different behavior compared to callling the command with an activated virtualenv. That's why the two e

[2016-12-21 00:42] rwillmer commented on #3372
Built it all again from scratch using activate everywhere. Now using the solr config from the CircleCI setup. Now it's down to 3 errors, but it is still failing. I'll post the errors in a following comment, but they are unicode/locale related.

I have some questions:

1/ It would be useful to know what version of postgres is used, and what locale is used.

2/ In the CircleCI setup, you are calling

[2016-12-21 00:44] rwillmer commented on #3372
[code]

[2016-12-21 09:11] rwillmer opened #3375 "Status of docker images?"
### CKAN Version if known (or site URL)
2.6.0 and later

### Please describe the expected behaviour
I'd like to run CKAN using official docker images

### Please describe the actual behaviour
I'm unsure whether official docker images exist.

### What steps can be taken to reproduce the issue?
Read these documents and attempt to reconcile into a consistent answer

OK, so the problem is that the off

[2016-12-21 10:34] rwillmer commented on #3372
It's a locale problem, as I thought. The docker ubuntu image I'm using has a default charmap of 7-bit ANSI, which doesn't play nicely with 8-bit Norwegian text (as used in the failing test)
[code]
This is the problem, so let's fix it
[code]
So now we have
[code]
And all is well. Just re-rerunning the test-suite to verify, then I'll close this.
(I'd still like the answers to 2 and 3 above though, i

[2016-12-21 11:46] #3372 closed

[2016-12-21 11:47] deinok commented on #3375
@rwillmer The PR #3346 Will fix everything related with Docker issues and also should allow override the CKAN and run it on any HttpServer (Nginx, Apache, etc...)

At this moment its working pretty well, the command `docker-compose up` will setup everything.

The only thing left until the PR is merged is decide how to test that docker is working well. This will mean no more broken docker images.

[2016-12-21 12:15] rwillmer commented on #3375
Two comments/questions:

1/ I noticed that you switched from phusion/baseimage:0.9.15 to debian:jessie; does jessie solve the "PID 1 zombie reaping problem" that the phusion were addressing with base image?

https://blog.phusion.nl/2015/01/20/docker-and-the-pid-1-zombie-reaping-problem/

2/ Have you tried running the test suite yet? You may find you hit the ANSI charmap problem I just encounter wi

[2016-12-21 12:16] rwillmer commented on #3375
I'll close this now since I got my answer (thanks for the fast response, @deinok). Feel free to ping me if you run into any docker-related problems, I'm working on this at the moment, so may have already hit the same problem.

[2016-12-21 12:16] #3375 closed

[2016-12-22 09:07] torfsen commented on #3365
I've spent some time on isolating the problem, see http://stackoverflow.com/q/41279157/857390.

[2016-12-22 11:41] july7vivian opened #3379 "UnicodeDecodeError when creating an extension"
### CKAN Version if known (or site URL)
2.5.2

### Please describe the expected behaviour

I wanted to create an extension by the tutorial.

### Please describe the actual behaviour
I executed following commands to create a extension:

`. /usr/lib/ckan/default/bin/activate`
`cd /usr/lib/ckan/default/src`
`paster --plugin=ckan create -t ckanext ckanext-example_theme`
but failed to decode

`UnicodeD

[2016-12-22 11:46] july7vivian commented on #3379
@nickstenning

[2016-12-22 11:46] july7vivian commented on #3379
@nickstenning

[2016-12-22 12:08] july7vivian commented on #3379
@rossjones

[2016-12-22 12:22] rossjones commented on #3379
@july7vivian

[2016-12-22 12:32] july7vivian commented on #3379
It must be impolite to @ you so directly, I am sorry. I found that you answered another queation about the UnicodeDecodeError, so I think that you ought to know this problem. Do you know why this error happened? I read #2636 ,but it doesn't woek for me. Thanks.

[2016-12-22 12:34] july7vivian commented on #3379
It must be impolite to @ you so directly, I am sorry. I found that you answered another queation about the UnicodeDecodeError, so I think that you ought to know this problem. Do you know why this error happened? I read #2636 ,but it doesn't woek for me. Thanks.

[2016-12-22 12:41] rossjones commented on #3379
Sorry, I'm on holiday ATM, best wait for it to be triaged by the tech team

[2016-12-22 12:45] july7vivian commented on #3379
ok, Thanks!

[2016-12-22 21:52] deinok commented on #3375
Thanks @rwillmer , the PR is already ready for merge.
About the PID 1 i never found an issue like this, but thanks for the information. I will give it a more detailed look. ;)

[2016-12-29 16:54] TkTech commented on #3369
https://github.com/ckan/ckan/issues/557 - see the [old] discussion in this ticket. It's an issue with the Recline library.

[2016-12-29 16:54] #3369 closed

[2016-12-29 17:13] TkTech opened #3381 "Interactive Debugger Fails in CSRF token check"
Easily reproduced by triggering an exception then attempting to use an interactive console.

`weberror` is an abandoned project, however it becomes redundant with the move to flask. We cannot simply update weberror either due to a complex version relationship between pylons<->webob<->weberror<->paste.

[code]

[2017-01-01 14:10] juleskers opened #3383 "restarting after CKAN upgrade fails if spaces in path to ckan.exe"
CKAN's Command line interface's auto-update functionality is broken in a (non-critical) way:
after downloading and installing a new version of CKAN, it doesn't restart properly if it is installed in a location with spaces in the Path.
Restarting CKAN manually works as normal.

### Please describe the expected behaviour
CKAN offers to download a new version, and should restart automatically after t

[2017-01-01 21:57] wardi commented on #3383
wrong CKAN, but a great bug report!

[2017-01-01 21:57] #3383 closed

[2017-01-02 10:49] juleskers commented on #3383
D'oh! My apologies!
That's what you get for just typing "ckan issues" into google. Seems my filter bubble isn't small enough yet :-)

I see from the label that this happens regularly. Sorry to be an inconvenience for you!

[2017-01-02 20:35] wardi opened #3384 "datastore cli: add dump, create-test-data commands"

[2017-01-03 11:45] amercader commented on #2856
@m1h did #3331 help?

[2017-01-03 13:57] amercader commented on #3379
@july7vivian Can you provide a full traceback? Does this happen when you enter special characters like accents in the prompts?

[2017-01-03 13:58] amercader commented on #3373
@Engerrs was this fixed by https://github.com/ckan/ckan/pull/3374?

[2017-01-03 14:04] amercader commented on #3368
I guess this needs to be implemented at the Recline level, more specifically on SlickGrid which is the library that powers the grid. See https://github.com/okfn/recline/issues/318

Things might have improved in terms of browser support since that issue was created but the solutions suggested there seem a bit hacky to me.

I'm going to close this but feel free to reopen if you want to do any work o

[2017-01-03 14:04] #3368 closed

[2017-01-03 14:07] Engerrs commented on #3373
@amercader yes.

[2017-01-03 14:22] amercader commented on #3373
Great, closing this then.

[2017-01-03 14:22] #3373 closed

[2017-01-03 16:09] wardi opened #3385 "group/org show include_dataset_count param"
Make it possible to suppress package_count calculation if we don't need it from some action calls

[2017-01-03 16:44] wardi commented on #3385
Also prevent hitting solr once for each org a user belongs to on every call to organization_list_for_user (called by DefaultPermissionLabels.get_user_dataset_labels)

[2017-01-04 10:54] AnjaStemme opened #3386 "None-Type Handling in ckan"
### CKAN Version if known (or site URL)
2.5.2 (but still present in 2.7)

### Please describe the expected behaviour
If an object type is None (as opposed to an empty string for example) ckan should not crash

### Please describe the actual behaviour
Various functions in ckan crash when called with a None-Type object.
One example can be found in ckan/ authz.py   get_user_id_for_username(user_name,

[2017-01-05 00:38] Kyle-Falconer commented on #3159
I'd like to second this, that it should be easier to add an arbitrary configuration setting.

Another example of why this would be helpful is I'm running into right now is with the [ckanext-cloudstorage](https://github.com/open-data/ckanext-cloudstorage) options. This plugin uses these settings:

* `ckanext.cloudstorage.driver`
* `ckanext.cloudstorage.container_name`
* `ckanext.cloudstorage.driver

[2017-01-05 00:59] wardi commented on #3159
@Kyle-Falconer are you talking about the same issue? This is about making it easier to run the core tests. What do you mean by adding an arbitrary setting?

It seems like you've been working on docker recently, so if you're talking about arbitrary settings as environment variables you can do that by with an IConfigurer plugin that sets the settings you need from any source you like.

[2017-01-05 11:05] amercader commented on #3083
Proposed implementation in #3228

[2017-01-05 11:05] #3083 closed

[2017-01-05 12:18] amercader commented on #3159
This may be useful if you want to set up conf options via env vars: https://github.com/okfn/ckanext-envvars
(it does what @wardi suggests under the hood)

IIRC you can set any conf setting except for `ckan.plugins`

[2017-01-05 13:45] rwillmer commented on #3379
I hit Unicode problems when trying to setup a 2.6.0 docker image. It turned out to be a locale problem.

That might be relevant for your problem. This comment shows how I fixed mine.

[https://github.com/ckan/ckan/issues/3372#issuecomment-268490338](https://github.com/ckan/ckan/issues/3372#issuecomment-268490338)

[2017-01-05 14:39] wardi commented on #3386
Happy to address specific issues, but I don't see how to address a broad bug description like this.

I expect `get_user_id_for_username(None, allow_none=False)` to fail so I'm not sure what you're suggesting.

Many places in our controllers expect that values that are part of the normal dataset schemas (like maintainer_email) will be present. Specific change PRs or issues are welcome and we can di

[2017-01-05 14:39] #3386 closed

[2017-01-05 15:57] mkuder commented on #3145
If anyone gets stuck with the same problem and does not want to modify the core ckan code ... I had a similar problem using an older version of CKAN (2.2.3, data.gov.uk).

The celery task needs to load a proper config with set host parameters. For paster commands this is taken care of in the [_load_config method of CkanCommand](https://github.com/ckan/ckan/blob/master/ckan/lib/cli.py#L169). For ce

[2017-01-05 16:43] Kyle-Falconer commented on #3159
Thanks for the suggestions, I'll check it out.

@wardi, I thought my comment was related to the original post because it relates to dynamically modifying the values in the configuration file.

[2017-01-05 17:10] martinburchell commented on #3145
Thanks @mkuder - I'll make a note to try this

[2017-01-06 07:27] deinok opened #3388 "Flask-DebugToolbar - Execute without dev-requirements.txt"
Seems like you need to install dev-requirements.txt in order to execute CKAN without tests.

Cause probably be this [https://github.com/ckan/ckan/commit/535f1b4e01584224399a4cf6b45c499cd03f9553](https://github.com/ckan/ckan/commit/535f1b4e01584224399a4cf6b45c499cd03f9553)

[2017-01-06 07:47] deinok opened #3389 "[REDIS] - Redis is not using the ENVVAR"
REDIS seems like its not reading the ENVVAR from this [https://github.com/ckan/ckan/blob/master/ckan/config/environment.py#L124](https://github.com/ckan/ckan/blob/master/ckan/config/environment.py#L124)

[2017-01-06 15:41] wardi opened #3390 "datastore: dump more formats"
Extend the datastore controller to dump CSV with BOM (CSV for Excel), JSON, TSV, XML formats as well as plain CSV

[2017-01-07 17:11] wardi commented on #3388
I think I ran into this earlier too. @deinok mind moving the polib dependency to the main requirements.in and txt?

[2017-01-07 17:13] wardi commented on #3389
might be an easy fix, @deinok do you have time to investigate?

[2017-01-07 17:18] wardi opened #3391 "some tests running on all circleci containers"
I'm guessing it's just new ones that are written as functions at the module level, like ckan.tests.test_coding_standards. I would like to support tests in this style, let's see how hard that will be.

[2017-01-07 17:25] deinok commented on #3388
I found this when making the Dockerfile. If you want i can try to take a
look

El 7 ene. 2017 18:11, "Ian Ward" <notifications@github.com> escribió:

[2017-01-07 17:26] deinok commented on #3389
Yep, I also found this due to the docker PR, assign me to this ;)

El 7 ene. 2017 18:13, "Ian Ward" <notifications@github.com> escribió:

[2017-01-07 19:17] wardi commented on #3327
@amercader did you intend to merge this instead?

[2017-01-09 07:05] AnjaStemme commented on #3386
In File authz.py, function get_user_id_for_username(None, allow_none=False)

Change:

user = model.User.get(user_name)

To:

if user_name != None:
    user = model.User.get(user_name)
else:
    user = None

[2017-01-09 11:38] torfsen commented on #3365
Thanks for the suggestion, @TkTech! I've [re-posted my question to the SQLAlchemy mailing list](https://groups.google.com/forum/#!topic/sqlalchemy/_SN2BDipBw8).

[2017-01-09 13:38] wardi commented on #3386
@AnjaStemme from your description it sounds like there is code that sometimes has None instead of a username (or empty string). We haven't run into this before, so which part of ckan does this? Would you paste the full traceback you're seeing?

[2017-01-10 11:28] AnjaStemme commented on #3386
One example traceback  is attached above;  (https://github.com/ckan/ckan/files/684419/None-Type-Handling.txt)

However we are using ckan quite intensively (including scheming and many other plugins) and  have harvested datasets as well as datasets send to us via the API. We ran into this "None" problem also at serveral other occasions (another occasion was the view on a private dataset with the sp

[2017-01-10 18:34] natyoliveira opened #3393 "Error Upgrading ckan 2.4 to 2.6"
### CKAN Version if known (or site URL)
2.4

### Please describe the expected behaviour
Hello! I'm upgrading from 2.4 to 2.6 following the documentation steps (http://docs.ckan.org/en/ckan-2.6.0/maintaining/upgrading/upgrade-source.html) and I got an error message during the upgrading as bellow.

Any idea?

### Please describe the actual behaviour

After command (pip install --upgrade -r requireme

[2017-01-10 22:02] wardi commented on #3386
@AnjaStemme The traceback you linked looks more like a problem with ckanext-scheming's display snippet, please report or send a PR that fixes it to that repo.

I'm interested in seeing a traceback related to the `get_user_id_for_username` change you're suggesting because the problem might not be where you think it is. Silently passing None through functions that aren't expecting them can lead to h

[2017-01-11 08:36] torfsen opened #3394 "Extension template doesn't contain an i18n directory"
The paster template for extensions currently doesn't include the `ckanext/<name>/i18n` directory. That means that the user needs to create the directory manually, contrary to [what the documentation says](http://docs.ckan.org/en/latest/extensions/translating-extensions.html#extract-strings).

I'll prepare a PR to include the directory in the template.

[2017-01-11 11:42] #3394 closed

[2017-01-11 12:32] mhartlauer commented on #2856
@amercader: No, unfortunately!

We figured out following:
The first time a ressource is uploaded to datastore, it works. So, when a new ressource is created, it automatically uploads it to datastore - perfect. However, when one re-uploads it to datastore (via button-click in web-frontend), it is resulting then in an endless loop.

[2017-01-11 16:07] vithalalapati opened #3396 "Dictionary Fields"
I would Like to add a grid of fields at the resource level. Similar to that of ckanext-dictionary at the resource level instead of package level. https://github.com/cmuphillycapstone/ckanext-dictionary/issues/13

And, CKAN out of box have key-value fields in the add dataset page, can we extend the that to more like a dicitionary fields at resource edit page

![capture3](https://cloud.githubusercon

[2017-01-11 16:45] torfsen opened #3397 "Passing Unicode to toolkit.add_resource leads to UnicodeDecodeError"
On 2.6, if I pass a `unicode` instance as any of the two parameters to `ckan.plugins.toolkit.add_resource` then a `UnicodeDecodeError` is thrown when a resource is included via `{% resource ... %}`:
[code]
The strings in question only contains ASCII-characters. If I use a `str` values for both parameters then things work (i.e. if I prefix the literals with `b` since I have `unicode_literals` enabl

[2017-01-12 14:18] amercader commented on #3397
Unless you are really really bothered by this I'd suggest not bothering with Fanstatic and use `str` values :)
As you say it looks like it should be fixed at the Fanstatic level, or maybe do some checking at the `add_resource` level.

Feel free to reopen if you think this is worth fixing.

[2017-01-12 14:18] #3397 closed

[2017-01-12 14:21] wardi commented on #3396
@vithalalapati resources support adding extra fields just fine. All you need to do is extend the form and values you add to resources should be saved without requiring any change to the validation.

Are you interested in working on this? It sounds like it would be a good addition to ckanext-dictionary. If you're looking for a way to describe the columns of resource data then this might align with

[2017-01-12 14:29] amercader commented on #3393
Hi @natyoliveira. Please use the [ckan-dev mailing list](https://lists.okfn.org/mailman/listinfo/ckan-dev) or the #ckan tag on SlackOverflow for support requests. I've added some pointers on this ckan-dev email:

https://lists.okfn.org/pipermail/ckan-dev/2017-January/010717.html

[2017-01-12 14:29] #3393 closed

[2017-01-12 14:52] vithalalapati commented on #3396
Thank you, @wardi Is it possible to dynamically add more number of rows when you tab cursor to last row, like the similar functionality in the dictionary extension. So, in that case how can I add extra fields which are dynamic and count may vary for each resource. Is there anything there yet or I need o start from the scratch. @amercader  and @jqnatividad

[2017-01-12 15:03] torfsen commented on #3397
@amercader Totally my point of view :smile:

[2017-01-12 15:13] wardi commented on #3396
resources let you store arbitrary JSON, so you can have a dynamic list if you're willing to write a validator that does the conversion from the form data.

[2017-01-12 15:52] wardi commented on #3396
Closing this issue (not the best place to discuss future work) If you are interested in working on this feel free to open an issue on the https://github.com/ckan/ideas-and-roadmap repo

[2017-01-12 15:52] #3396 closed

[2017-01-13 10:23] torfsen opened #3398 "Groups cannot be depended on in resource.config"
In CKAN 2.6 I cannot depend on a previously defined group in the `[depends]` section of a Fanstatic `resource.config`:
[code]
raises
[code]
Not that using a group on the "left side" of the dependency works:
[code]
The documentation [says](http://docs.ckan.org/en/latest/contributing/frontend/resources.html#groups):

[2017-01-13 14:15] mattboehm commented on #2419
Here's my quick and dirty implementation of SSO via http header: https://github.com/cfpb/ckanext-cfpb-extrafields/pull/34/files . We have python_ldap installed and configured already, and ckan will fall back to that when the header is not set.

[2017-01-14 15:16] deinok commented on #3319
@rwillmer Should be fixed, can you check it?

[2017-01-14 15:17] deinok commented on #3075
@dmfenton Should be fixed, can you check it?

[2017-01-16 23:09] deinok opened #3401 "[Travis] - Enable Travis"
Enable Travis for Docker build test

[2017-01-16 23:10] #3347 closed

[2017-01-16 23:12] deinok opened #3402 "[EditorConfig] - Add .editorconfig"
This file will override IDE code style.

This will help maintaining a single code style.
[http://editorconfig.org/](http://editorconfig.org/)

[2017-01-17 12:17] wardi commented on #3402
Yes, please!

[2017-01-17 12:36] wardi commented on #3401
should be working again now.

[2017-01-17 12:36] #3401 closed

[2017-01-17 13:32] natyoliveira opened #3403 "PasteScript Error during CKan Migration from version 2.4 to 2.6"
Hello!

I'm upgrating from version 2.4 to version 2.6 using the documentation link [http://docs.ckan.org/en/ckan-2.6.0/maintaining/upgrading/upgrade-source.html])
I'm getting the following paster error when executing the paster command

 paster db upgrade -c /etc/ckan/default/production.ini

Traceback (most recent call last):
  File "/usr/lib/ckan/default/bin/paster", line 7, in <module>
    from

[2017-01-18 14:56] torfsen commented on #3365
With [the help of StackOverflow](http://stackoverflow.com/a/41722129/857390) I think I've found the underlying problem. Here's how I understand what happens:

1. The main CKAN process initializes its SQLAlchemy engine and stores references to the engine and session in global variables (`ckan.model.meta.engine`, etc.)
2. When a worker is started, rq forks a new child process. That process inherits

[2017-01-18 15:11] wardi commented on #3365
@torfsen great detective work! I agree approach #2 sounds like the cleaner option, but a working fix is better than a clean one. :-)

[2017-01-18 22:19] deinok opened #3407 "[Docker] - Upgrade SOLR to 6.3"
Upgrade SOLR dockerfile to version 6.3

[2017-01-18 23:02] deinok opened #3409 "[DOCKER] - Setup a test in TravisCI to test that CKAN is Runing"

[2017-01-19 10:41] wildcatzita opened #3411 "Typing Error in Registration Invite Email"
When we register user CKAN send email with text : `A user has already been created to you with the username {{ user_name }}. You can change it later.`

This issue was fixed in https://github.com/ckan/ckan/commit/66549991119191fb00a7aaf907e4027036df4561#diff-7e4740a254720d83765ada35ddd95765

In version 2.6.0 this text was fixed:
`A user has already been created for you with the username {{ user_nam

[2017-01-19 14:19] wardi commented on #3409
sounds great!

[2017-01-19 14:34] augusto-herrmann opened #3412 "[Documentation] User guide still mentions the "related items" tab"
### CKAN Version if known (or site URL)
Affects CKAN Documentation for versions 2.5.3, 2.6.0 and "latest".
See http://docs.ckan.org/en/latest/user-guide.html#exploring-datasets

### Please describe the expected behaviour
Documentation should only mention existing functionality.

### Please describe the actual behaviour
The "[exploring datasets section of the User Guide](http://docs.ckan.org/en/lat

[2017-01-19 14:45] amercader commented on #3403
Hi, thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the [ckan-dev mailing list](https://lists.okfn.org/mailman/listinfo/ckan-dev) or the [#ckan tag](http://stackoverflow.com/questions/tagged/ckan) on SlackOverflow.

You can also try on the [#ckan IRC channel](http://webchat.freenode.net/?channels=ckan) on

[2017-01-19 14:45] #3403 closed

[2017-01-19 14:46] amercader commented on #3403
@natyoliveira have a look at https://github.com/ckan/ckan/issues/2865

[2017-01-20 17:17] smalgireddy opened #3413 "Ckan installation on windows10 failed due to db tables creation"
### CKAN Version if known (or site URL)
2.5.2

### Please describe the expected behaviour

db tables should be created successfully.

### Please describe the actual behaviour
(ckan2.5.2env) C:\src\ckan>paster db init -c development.ini
Traceback (most recent call last):
  File "c:\users\sanary\anaconda2\Lib\runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File

[2017-01-23 17:33] rahul-nath commented on #3283
Did you figure out the solution to this problem?

[2017-01-24 14:44] wardi commented on #3365
fixed by #3377

[2017-01-24 14:44] #3365 closed

[2017-01-24 16:01] wardi opened #3414 "datastore table column info fields"
Use postgres comments in the datastore DB to store a JSON object for each column. For now these objects may have a single "label" field containing a human-friendly label for the column in the site's default language.

These JSON objects will be returned from `datastore_search` along with the field ids and types and may be set or updated by including them in the field objects passed to `datastore_c

[2017-01-24 17:17] jqnatividad commented on #3414
+1
Really like the fact that you're also considering multilingual support!

Keeping the JSON format simple is also a good way to balance usability/i18n, and DB tools like PgAdmin, Toad, Navicat, etc. all will show the comments natively.

 For the default language, your format is simple enough:

`{ "label": "Books" }`

When supporting other languages, will it be something similar to ckanext-fluent?

[2017-01-24 17:26] wardi commented on #3414
I might follow the pattern set out by the `get_translated` helper in CKAN. If there's a field called "label_translated" then it will have each language version, if not gettext is used on the "label" field to get a label for the user. This would cover both common use cases (central translation tables vs. per-column translations) and templates and API clients won't need to do any type checking.

[2017-01-24 17:38] jqnatividad commented on #3414
👍

[2017-01-24 19:30] natyoliveira commented on #3403
Hello @amercader, after many tests I could not find a solution for it.
I upgraded to version 2.5.3 instead of 2.6 and it was fine.

[2017-01-24 23:30] brunojm opened #3415 "Intermittent database error"
### CKAN Version if known (or site URL)
2.6.0

### Please describe the expected behaviour
CKAN working normally.

### Please describe the actual behaviour
We are getting an intermittent (log here: https://notepad.pw/share/6lcfas3w1) SSL SYSCALL error, this seems related to a bug in SQLAlchemy (details here: https://bitbucket.org/zzzeek/sqlalchemy/issues/3021/ssl-eof-not-detected-as-disconnect-in).

[2017-01-25 13:48] amercader commented on #3413
Hi @smalgireddy, thanks for submitting your issue. As you surely noticed on the docs we don't officially support Windows so we can't help you with this I'm afraid. This particular error is thrown when the ini file can not be found or its format is incorrect so you might want to investigate along these lines.
Of course if you manage to get it working it would be great if you could update the Wiki p

[2017-01-25 13:48] #3413 closed

[2017-01-25 16:12] vithalalapati opened #3416 "CKAN required packges and their roles? (On RHEL7)"
I have installed ckan from source and everything just works fine. **I want to run the ckan on apache server, for that I am not sure where to start.**

I have installed all the packages mentioned in source installation page. **Please help me with what exactly does these following package do. Jetty and Redis.?**

And, Jetty says its used for solr. Even If I stop jetty service and restart the solr se

[2017-01-25 19:30] TkTech commented on #3416
Hello.

Please use the bug tracker for technical issues related to CKAN. We have other options for [technical questions.](http://ckan.org/contact/)

[2017-01-25 19:30] #3416 closed

[2017-01-27 14:49] torfsen opened #3417 "Extension template's Travis setup doesn't use --ckan for nosetests"
The current [paster template for an extension's Travis call to `nosetests`](https://github.com/ckan/ckan/blob/0bb141ae43b51f2c095fba87750c5fdaa00ee816/ckan/pastertemplates/template/bin/travis-run.sh_tmpl) doesn't include the `--ckan` parameter.

In practice this leads to similar effects as if `--reset-db` had been specified.

[2017-01-30 13:03] markdturner opened #3419 "TypeError: do_truncate() takes at least 2 arguments (4 given)"
### CKAN Version if known (or site URL)

2.6.0 and 2.7.1a (Master Branch)

### Please describe the expected behaviour

User can view any object via a get request, examples are user, organization or dataset, but basically trying to view any overview page of a CKAN 'thing'.

### Please describe the actual behaviour

Jinja template throws 500 error performing the do_truncate operation (see screenshot

[2017-01-30 13:22] markdturner commented on #3419
Using version 2.9.5 of Jinja with CKAN 2.6.0 has the same issue

[2017-01-30 14:05] TkTech commented on #3419
One moment.

[2017-01-30 20:59] LeonanCarvalho opened #3421 "ImportError: No module named new_authz"
### CKAN Version if known (or site URL)
2.5

### Please describe the expected behaviour
Update to 2.6

### Please describe the actual behaviour
[code]

### What steps can be taken to reproduce the issue?
git checkout release-v2.6-latest
git pull
python setup.py develop
paster search-index rebuild -r --config=/etc/ckan/default/development.ini

[2017-01-31 05:45] TkTech commented on #3421
This is an issue with the extension you are using, [ckanext-privatedatasets](https://github.com/conwetlab/ckanext-privatedatasets). Please report the issue on their bug tracker.

[2017-01-31 05:45] #3421 closed

[2017-01-31 10:25] metaodi opened #3422 "If a resource is deleted, the corresponding data in the DataStore should be deleted as well"
### CKAN Version if known (or site URL)
2.5.3

### Please describe the expected behaviour
If a resource is deleted, the corresponding data in the DataStore should be deleted as well. Otherwise the DataStore will quickly overflow if you harvest a big source and for each resource a new table is created and the old one still in place.

### Please describe the actual behaviour
Currently the deletion o

[2017-01-31 10:40] markdturner commented on #3419
Thanks @TkTech, is it just a case of me waiting for your pull request to be merged into the master branch?

[2017-01-31 11:58] #3417 closed

[2017-01-31 12:54] amercader commented on #3422
@metaodi You are of course absolutely correct. @smotornyuk will have a go at implementing this. It would be great if you could test this once there is a PR/

[2017-01-31 13:02] amercader commented on #3419
@markdturner I've reviewed the Jinja2 versions and 2.8 or 2.8.1 don't cause the error ([Jinja2 2.8.1](https://github.com/pallets/jinja/blob/209fd39b2750400d51bf571740fe5ba23008c20e/jinja2/filters.py#L459)]. This exception occurs if using Jinja >= 2.9.4 which is where the change in args was introduced (https://github.com/pallets/jinja/commit/fb47dfac606f8067b77db1e805ad2cbd5cd6cd7f).

So it looks l

[2017-01-31 13:03] #3419 closed

[2017-01-31 13:15] wardi commented on #3422
We could also use a command for cleaning out orphaned datastore tables

[2017-01-31 13:18] amercader commented on #3415
@brunojm This kinds of errors show that the connection to the database is lost. They are usually caused by network connectivity issues. Perhaps CKAN could handle these more gracefully but you definitely should investigate at a lower level on your network.

Please feel free to reopen if you find more details that point to CKAN being the problem. Cheers.

[2017-01-31 13:19] metaodi commented on #3422
@wardi maybe additionally, to cleanup "old" databases. But I think to have this implemented _properly_ makes sense, doesn't it?

[2017-01-31 13:20] wardi commented on #3422
Absolutely! (that's why I used the word "also")

[2017-01-31 13:21] #3415 closed

[2017-01-31 14:03] markdturner commented on #3419
@TkTech @amercader thanks for your help, I've been able to build the master branch in docker and the problem has gone.

[2017-02-01 14:18] jqnatividad commented on #3422
+1 to having a CLI command to clean orphaned datastore tables.

[2017-02-01 17:00] markdturner opened #3426 "CKAN Custom Theme with Docker"
### CKAN Version if known (or site URL)

2.7.0a

### Please describe the expected behaviour

Extension installation

### Please describe the actual behaviour

Extension appears to install during setup but when CKAN starts it errors due to the missing plugin

### What steps can be taken to reproduce the issue?

The relevant section of my Dockerfile includes these lines:

[code]

The source code for

[2017-02-02 14:12] #3315 closed

[2017-02-02 14:19] amercader commented on #3426
The important bit on setup.py for registering the plugin is the `entry_points` section:

[code]
eg https://github.com/ckan/ckanext-scheming/blob/master/setup.py#L25

The left hand name value here is what you need to add to `ckan.plugins`. Can you double check this?

Also to be on the safe side use underscores instead of hyphens for plugin names, which is the general convention.

[2017-02-02 14:20] amercader commented on #3412
Fixed in #3424

[2017-02-02 14:20] #3412 closed

[2017-02-02 18:07] markdturner commented on #3426
I had got the shortname wrong as you suspected - I've updated the last plugin in the list to be `nicd` instead of `ckanext-nicd`.

At first, this still didn't fix the problem. I was also missing the command to activate the virtualenv. I just needed to update my Dockerfile to:

[code]

Thanks for your help!

[2017-02-02 18:07] #3426 closed

[2017-02-02 18:23] amercader commented on #3426
Glad it worked well!

[2017-02-02 20:33] wardi opened #3428 "datastore triggers"
1. Add an API call for syadmins (only) to define PL/pgSQL triggers in the datastore db
2. Extend datastore_create to allow applying those triggers when creating or modifying tables

Triggers are great for cleaning data, enforcing validation and/or keeping modification records as data is being loaded. Using triggers instead of validation logic at the python level lets us enforce those rules regardl

[2017-02-02 21:16] tedstrauss opened #3429 "Unable to configure ckan for SSL"
### CKAN Version if known (or site URL)

2.6

### Please describe the expected behaviour

Serving the CKAN app over HTTPS, with SSL cert.

### Please describe the actual behaviour

Unable to configure nginx and apache to work together with SSL.
Most common bug appears in nginx log: /var/log/nginx/error.log

[code]

### What steps can be taken to reproduce the issue?

I am following the steps provi

[2017-02-03 08:21] mattfullerton commented on #3428
:+1:

[2017-02-06 12:27] smotornyuk commented on #3429
@tedstrauss , did you tried to check, which process is on this port?
{code}netstat -lp | grep 443{code}

[2017-02-06 21:17] tedstrauss commented on #3429
@smotornyuk checking this, will get back to you asap with the results.

[2017-02-07 12:21] amercader commented on #3429
Hi, thanks for submitting your issue. To minimize the number of issues on this repo we encourage you to submit support requests like this one to the [ckan-dev mailing list](https://lists.okfn.org/mailman/listinfo/ckan-dev) or the [#ckan tag](http://stackoverflow.com/questions/tagged/ckan) on SlackOverflow.

You can also try on the [#ckan IRC channel](http://webchat.freenode.net/?channels=ckan) on

[2017-02-07 12:21] #3429 closed

[2017-02-07 16:15] #3402 closed

[2017-02-08 10:58] metaodi commented on #3422
I created a "quick & dirty" paster command to empty the orphaned tables, which saves us a lot of space on our DB server: https://github.com/opendata-swiss/ckanext-switzerland/pull/137

It does not drop the tables, but simply calls the `datastore_delete` API. It's good enough for now for us.

cc @wardi @jqnatividad

[2017-02-08 20:35] LeonanCarvalho opened #3431 "CKAN successfully running with Solr5.5.3"
### CKAN Version if known (or site URL)
2.6.0 (Over CentOS7)
### Please describe the expected behaviour
Not work

### Please describe the actual behaviour
Working
### What steps can be taken to reproduce the issue?

My software infrastructure is running with Solr5.5, so I got few problems to install a ckan there without a docker or a second solr instance, so I fixed it  5.5.3 after few changes on

[2017-02-09 14:26] amercader commented on #3431
Hi @LeonanCarvalho, glad you got it working.

Do you have any suggestion for changes on the `schema.xml` file or the documentation to improve things?

As for testing your setup I'd suggest running the test suite and manually testing the site for a while covering different functionality.
If you want to discuss further you can contact the [ckan-dev mailing list](https://lists.okfn.org/mailman/listin

[2017-02-09 14:26] #3431 closed

[2017-02-10 10:41] NicolaiMogensen commented on #2332
Is this fixed in a newer version of CKAN? I've used the fix proposed in this thread (I needed to assign some auto-generated fields after a dataset is created) or do we have to implement this sort of fix in our extensions?

[2017-02-11 03:30] rgommers opened #3434 "adding link to file to a resource does not work"
### CKAN Version if known (or site URL)
2.7.0a

### Please describe the expected behaviour
Under a resource you can link to a file. This works as expected for ``http://`` links, but not for ``file://`` links. It should work the same for both.

### Please describe the actual behaviour
``file://`` strings are not rendered as links, and not even wrapped so for long file links the end of the link is i

[2017-02-11 06:05] TkTech commented on #3434
Modern browser will not allow you to link to a `file://` URI from a `http[s]://` URI for security reasons.

[2017-02-11 06:05] #3434 closed

[2017-02-11 06:36] rgommers commented on #3434
Thanks for the quick reply @TkTech

Other browsers than Chrome will still ask you to download that file, which may be useful (http://stackoverflow.com/questions/18246053/how-can-i-create-a-link-to-a-local-file-on-a-locally-run-web-page). But I can understand you don't want to implement that; other browsers may follow what Chrome does.

There's still a bug here though - the file location really sho

[2017-02-12 05:09] TkTech commented on #3434
Yup I agree the truncation is an issue, I'll pop a fix in tonight.

[2017-02-13 21:42] merkelct commented on #3195
I am running ckan-2.5.3 and when I upgrade to master or to 2.6.0 my theme breaks in development. I am running paster serve with the following setting  for root url in the config
[composite:nonroot]
use = egg:Paste#urlmap
/ckan = main
 Basically everything being served by fanstatic is still being served from /fanstatic and not /ckan/fanstatic whis is obviously causing issues, above is very similar

[2017-02-14 06:00] MrkGrgsn commented on #3195
@merkelct does the patch in #3090 fix your issue. By the way, that PR says merged but it was overwritten and so (I think) it doesn't exist in 2.6.0 or master

[2017-02-14 12:31] amercader commented on #3422
Fixed in #3425

[2017-02-14 12:31] #3422 closed

[2017-02-14 13:49] #3306 closed

[2017-02-14 13:50] amercader commented on #2590
We can't reproduce this on the latest Chrome. Please reopen if still an issue or you have more details.

[2017-02-14 13:50] #2590 closed

[2017-02-14 13:59] amercader commented on #3411
Unfortunately I can not backport the change mentioned because it's part of a larger feature which is too large to backport. Changing the string directly would mean having to update all translations to reflect the change in the master string. I suggest that you patch your local instance. I know that's not ideal but it's probably the best option here, sorry!

[2017-02-14 13:59] #3411 closed

[2017-02-14 14:01] amercader commented on #3398
Fixed in #3406

[2017-02-14 14:01] #3398 closed

[2017-02-14 20:04] TkTech commented on #3434
@rgommers I've fixed the display issue with truncation when it's an invalid link.

If you really, really want to make them links you can do that yourself, it's an ini setting, [valid_url_schemes,](http://docs.ckan.org/en/latest/maintaining/configuration.html#ckan-valid-url-schemes). Just add `file` to this list.

[2017-02-14 20:14] rgommers commented on #3434
Thanks for the quick fix @TkTech !

[2017-02-14 20:49] merkelct commented on #3195
@MrkGrgsn I believe that does solve my issue is their a plan to get it into master and 2.6.0?

[2017-02-14 20:57] wardi commented on #3195
probably a bad merge of some of the flask work :-( looks like this code has moved to https://github.com/ckan/ckan/blob/master/ckan/config/middleware/pylons_app.py#L176 would you mind submitting a PR to restore the fix?

[2017-02-14 22:04] merkelct commented on #3195
no issue creating a PR but it says nothing to compare when trying to add the PR for #3090 into master or anything else for that matter it thinks it has already been merged ? might be as simple as a re-order in the pylons_app.py

[2017-02-15 09:06] NicolaiMogensen commented on #2555
I get this error when trying to execute this command `sudo -u postgres psql --cluster 9.5/main -f backup_ckan.sql`

error:
`The input is a PostgreSQL custom-format dump.
Use the pg_restore command-line client to restore this dump to a database.`

[2017-02-15 10:51] NicolaiMogensen commented on #2952
The command `sudo -u postgres pg_dump --format=custom -d ckan_default > ckan.dump` is invalid syntax in Postgresql 9.5 omitting the `-d` works as intended

[2017-02-15 18:05] Germanaz0 opened #3438 "[API] rest datasets"
### CKAN Version if known (or site URL)

2.6.0

### Please describe the expected behaviour

I am trying to use `/api/rest/dataset` as a logged in user and should return all the datasets that the user can see, private and public.

### Please describe the actual behaviour

The api only returns an array of public datasets

### What steps can be taken to reproduce the issue?
 -

[2017-02-15 20:57] wardi commented on #3438
The rest part of the API is old and hasn't been maintained for a while. For Try `/api/action/package_search?include_private=True` instead

[2017-02-15 21:04] Germanaz0 commented on #3438
And which endpoints do you recommend me to use ? like an alternative for rest apis

[2017-02-15 21:04] TkTech commented on #3438
http://docs.ckan.org/en/latest/api/

[2017-02-15 21:27] Germanaz0 commented on #3438
Rest apis has more logic than the latest apis, for every single action there is a different endpoint. 😭

[2017-02-15 22:07] TkTech commented on #3438
I have no idea what the justification was, I just live with it.

[2017-02-15 22:25] Germanaz0 opened #3439 "[QUESTION] Organizations API"
Is there an organization api endpoint to create, retrieve and delete them ?

I am using ckan 2.6

[2017-02-15 22:27] #3439 closed

[2017-02-15 22:28] TkTech commented on #3439
You have already been linked the API documentation a couple of times. Please read it.

The issue tracker is for technical issues, please use stackoverflow, IRC, or the mailing list for other things.

[2017-02-16 13:58] wardi commented on #3438
http://graphql.org/ would be cool too. Whatever the standard it won't happen until someone is given the time to work on it.

CKAN's rest api died because there was no-one to maintain it. Our current action api is directly exposing the simple functions that CKAN uses itself, so it keeps working.

[2017-02-16 13:58] #3438 closed

[2017-02-17 12:20] gleb-rudenko commented on #3259
@amercader, I can take a look at it.

[2017-02-17 13:03] amercader opened #3441 "Hide list of users by default"
This comes up regularly on security audits and I agree that is not standard practice to get a list of all user names in the system. I propose that we switch it to sysadmin only and people can override it if they want.

[2017-02-17 14:11] wardi commented on #3441
:+1: from me. Need to think about how this affect user lists available other places, like in organization_show, and what details should be available if for anon users calling user_show with a known username.

[2017-02-17 14:46] torfsen opened #3443 "Missing requirement for Celery"
`requirements.in` and `requirements.txt` currently don't contain an entry for `celery`. While use of Celery [is optional](https://github.com/ckan/ckan/blob/727fe76a4da67fb590e87ce75c5284f145a6e495/ckan/model/__init__.py#L191) it is the [documented background job system for CKAN](http://docs.ckan.org/en/ckan-2.6.0/maintaining/background-tasks.html) as of CKAN 2.6.

The problem is that CKAN's Celery

[2017-02-17 14:53] amercader commented on #3443
I'm -1 of adding the celery requirement if we haven't required up until now and are eventually going to drop support for it. We can either document that you need to `pip install celery==3.x.y` or update the code to support 4.x. The actual line that is failing seems [trivial](http://docs.celeryproject.org/en/latest/whatsnew-4.0.html#modules) to update (there might be other more subtle changes neede

[2017-02-17 15:13] torfsen commented on #3443
Hm. I'm -1 on relying on documentation when all other requirements are taken care off automatically. A possible alternative would be to raise an `ImportError` in `celery_app` upon import if Celery's version is 4.x or later. That way nothing changes for people that don't use Celery and those who do get a meaningful error message.

Changing the code to support 4.x may look trivial but would need to

[2017-02-17 18:36] #2438 closed

[2017-02-17 18:39] wardi opened #3444 "DataTables view"
https://datatables.net/ is a very nice alternative to the recline grid view we have now. This is my first attempt at a resource view plugin, be gentle :smile:

[2017-02-20 07:36] wildcatzita commented on #3071
@TkTech, I can take a look at it.

[2017-02-20 10:00] amercader commented on #3443
OK, failing if Celery >= 4.x is very reasonable and sounds like the best option.

We can use `pkg_resources` or check for a Celery 4 only property

[code]

[2017-02-20 11:37] wildcatzita commented on #3250
@yagi815  did you try this [solution](http://docs.ckan.org/en/latest/changelog.html#troubleshooting)?

[2017-02-20 12:29] wildcatzita commented on #3215
@amercader I taked your code and made [PR](https://github.com/ckan/ckan/pull/3446). Tested local - user created with given API KEY. Can you please check?

[2017-02-20 13:05] torfsen commented on #3443
Or we simply use `celery.__version__` :wink:

[2017-02-20 13:32] amercader commented on #3443
duh, I was being slow first thing I tried was `from celery import Celery; Celery.__version__` :upside_down_face:

[2017-02-20 13:33] Engerrs opened #3447 "Resource creation date column don't use datetime.utcnow()"
### CKAN Version if known (or site URL)
Current version
### Expected behaviour
When creating resource for dataset and entering to it summary page, in additional information table, there are two dates of Creation. One is showing only month,day,year. Second one is showing when we click on 'Show more' button under the table, this field should show how much time ago the resource was created, for examp

[2017-02-20 14:01] #3447 closed

[2017-02-20 16:45] wardi opened #3450 "performance of large datastore tables"
The `datastore_search` API involves a mandatory row count to produce the total record count for the table, but this operation involves a sequential scan that can add seconds to each request for tables with many rows.

A few approaches to solving this that I can think of:

1. don't return the total # records by default, only calculate it when the user requests it
2. cache the total # of records so

[2017-02-20 19:14] TkTech commented on #3450
What's making this sequential? Since 9.2 a `COUNT(*)` with an indexed column will use the index for zippy counts. Is it a total count of the arbitrary query from datastore_search or an unfiltered count?

[2017-02-21 05:21] gleb-rudenko commented on #3259
@amercader , PR is ready for this issue, its quite straightforward.

[2017-02-21 08:30] wildcatzita commented on #3215
@amercader, fixed tests. Can you please check?

[2017-02-21 10:04] gleb-rudenko commented on #2719
@amercader, I'll work on it

[2017-02-21 10:23] gleb-rudenko commented on #2719
@amercader , i guess it can be closed this was done already.

from **logic/auth/delete.py**
`authorized = authz.is_authorized('package_delete', context, pkg_dict).get('success')` - line 37

[2017-02-21 10:34] gleb-rudenko commented on #3281
@amercader , I'll work on it.

[2017-02-21 10:47] gleb-rudenko commented on #3281
@amercader , ready for review.

[2017-02-21 11:04] gleb-rudenko commented on #2792
@amercader, I can work on it.

[2017-02-21 11:38] TkTech commented on #2719
Fixed in https://github.com/ckan/ckan/commit/2cc254d3bfe704b5d797acc2e1388d56b9a6c171

[2017-02-21 11:38] #2719 closed

[2017-02-21 11:41] TkTech commented on #3250
Solution is as described in the FAQ (thanks @wildcatzita). This is a problem for people upgrading from old versions of CKAN.

[2017-02-21 11:41] #3250 closed

[2017-02-21 11:46] wildcatzita commented on #3215
Update [PR](https://github.com/ckan/ckan/pull/3446)

[2017-02-21 12:06] mattfullerton commented on #3441
I would be for a configuration option where organizations a user is not a member of are also not shown

[2017-02-21 13:52] wildcatzita commented on #2651
@wardi, fixed redirect. Can you check please?

[2017-02-21 13:59] wildcatzita commented on #2628
I'll fix

[2017-02-22 10:10] #2866 closed

[2017-02-22 10:31] tino097 commented on #3441
@amercader i will take look on this issue too

[2017-02-22 12:28] gleb-rudenko commented on #3028
I can work on it

[2017-02-22 13:03] gleb-rudenko commented on #2768
@amercader , I'll work on it

[2017-02-22 13:07] wardi commented on #2768
This was fixed in 2.6 by #3191

[2017-02-22 13:07] #2768 closed

[2017-02-22 13:19] gleb-rudenko commented on #2713
@wardi , is this issue actual?

[2017-02-22 13:21] gleb-rudenko commented on #2704
Is this issue actual?

[2017-02-22 14:05] davidread commented on #2704
This issue was simply created to get agreement to add this feature. However the feature didn't get progressed, so I'll simply close it.

[2017-02-22 14:05] #2704 closed

[2017-02-23 08:39] gleb-rudenko commented on #3357
@wardi , can I work on it?

[2017-02-23 08:44] Engerrs opened #3456 "On Organization/Group page, on dataset tab, filters that were chosen don't appear under the '(Number) datasets found' title as on Dataset search page."
### CKAN Version
All versions

###Expected behaviour
When we are on organization/group page, dataset tab, trying to filter datasets for example by 'Tags', under the '(Number) Datasets Found' title, we can see the tags we were chosen and can remove some of them or all of them and we don't need to list down the page to remove the one we've chosen, as it done on Dataset search page.

### Please descr

[2017-02-23 08:51] gleb-rudenko commented on #3104
@wardi , I can start working on it.

[2017-02-23 08:54] Engerrs opened #3457 "Changing resource format for an existing resource, won't change/create new view for new format."
### CKAN Version
All

### Expected behaviour
When we created new resource for dataset, with/without format, after updating the resource for new format it creates/changes view for it.

### Actual behaviour
When we created new resource for dataset, with/without format, after updating the resource for new format it doesn't create/change the view for resource.

### What steps can be taken to reproduce

[2017-02-23 08:55] Engerrs commented on #3457
I can take a look at this one if need.

[2017-02-23 13:30] wildcatzita commented on #2628
Made [PR](https://github.com/ckan/ckan/pull/3458)

[2017-02-23 14:08] wildcatzita commented on #2938
@amercader, I can start working on it if it need.

[2017-02-23 17:17] wardi commented on #3457
@Engerrs please do

[2017-02-23 17:17] wardi commented on #3456
@Engerrs do you have time to look at this too?

[2017-02-24 02:54] Commissar0617 opened #3459 "Module not found"
v1.22.1

throws an exception whenever I press the "add availible updated" button

running as admin, due to some fuckery with mods not wanting to update correctly (probably because I want to separately manage MM, due to getting an outdated version from some mods)
also occurs running normally

See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box

[2017-02-24 03:12] #3459 closed

[2017-02-24 05:29] Engerrs commented on #3456
Me or @wildcatzita, will take a look at this.

[2017-02-24 05:38] wildcatzita commented on #3456
I'll take a look

[2017-02-24 08:58] wildcatzita commented on #3456
@wardi , fixed. Made [PR](https://github.com/ckan/ckan/pull/3460)

[2017-02-24 09:39] wildcatzita commented on #3268
@amercader , I'll take a look

[2017-02-24 09:44] wildcatzita commented on #3003
@amercader , is it still needed to be done?

[2017-02-24 09:53] wildcatzita commented on #2183
@amercader , is this issue actual?

[2017-02-24 15:02] amercader commented on #2713
@gleb-rudenko the issue described is still present, in case you want to submit a patch

[2017-02-24 15:04] amercader commented on #3357
@gleb-rudenko yes, see this comment for the proposed approach https://github.com/ckan/ckan/pull/3358#issuecomment-265751895

[2017-02-24 15:16] amercader commented on #2938
@wildcatzita That would be great! I updated the comment with the proposed fix

[2017-02-24 15:18] amercader commented on #3459
@Commissar0617 Wrong CKAN

[2017-02-24 15:30] amercader commented on #3003
@wildcatzita This is not a priority, so unless it's an obvious easy fix I would focus on other issues.

[2017-02-24 15:30] amercader commented on #2183
@wildcatzita Yes

[2017-02-24 19:01] wildcatzita commented on #2183
@amercader , ok. I'll fix it.

[2017-02-24 19:02] wildcatzita commented on #2938
@amercader , ok. I'll fix it.

[2017-02-24 21:34] Commissar0617 commented on #3459
uhh... then why am I not prompted for an update?

[2017-02-24 21:38] Commissar0617 commented on #3459
oh. didn't even realize there was more than one

[2017-02-26 16:12] wardi opened #3461 "JS translation directory"
Currently our translations for JS are built when loading the environment [1] and placed in the CKAN source tree [2]

1: https://github.com/ckan/ckan/blob/master/ckan/config/environment.py#L114
2: https://github.com/ckan/ckan/blob/master/ckan/lib/i18n.py#L71

Generating files when loading configuration isn't great because we could have multiple processes doing this at the same time, and it seems li

[2017-02-26 19:39] Engerrs commented on #3457
Hi @wardi , created a fix for that one.

[2017-02-27 01:05] jqnatividad commented on #3450
This article on PostgreSQL counting is most instructive (https://www.citusdata.com/blog/2016/10/12/count-performance/).

It shows how expensive counts are, and looking up the value is so much faster.

Since CKAN is not an transactional/operational store, why not store rowcount as part of the resource metadata, the same way we store filesize, when the dataset resource is updated, perhaps, using tec

[2017-02-27 02:48] wardi commented on #3450
Haven't had a second look yet but I suspect @TkTech is right, there's probably a sort being applied to the query that we don't need that if removed will make the count much faster without any other change. I'll try that first.

[2017-02-27 10:03] TkTech commented on #3450
@jqnatividad While what you described would work fine, the quicker fix is figuring out why we're getting a `Seq scan` instead of `Index Only scan` since that's a sign of either a bug in the query or poorly defined indexes.

[2017-02-28 12:08] #3195 closed

[2017-02-28 14:30] #3443 closed

[2017-02-28 20:17] jqnatividad commented on #3450
Got it. Forgot this whole issue is for `datastore_search` API call.

But I still believe storing rowcount as metadata data is useful the same way we store filesize.  I'll create an issue on roadmap-ideas for storing rowcount.

[2017-02-28 21:49] torfsen commented on #3461
Some context: The JS translation files were previously generated manually using the [`trans` paster command](http://docs.ckan.org/en/latest/maintaining/paster.html#trans-translation-helper-functions) (which still exists). At that time, [extensions could not provide or override JS translations](https://github.com/ckan/ideas-and-roadmap/issues/176). When I implemented support for the latter in #3272

[2017-02-28 21:54] wardi commented on #3461
How about defaulting to a directory under `ckan.storage_path`? That's already a place that the web processes needs write access and the web server serves files from there too.

[2017-02-28 21:56] 3vivekb commented on #3075
We have a pretty far along build [https://github.com/vta/Open-Data-Portal](https://github.com/vta/Open-Data-Portal)

[2017-03-01 01:59] TkTech commented on #3450
Yes, storing total counts all over the place would help with many queries (User.number_of_edits, User.number_of_packages, revision_total, etc...) And can be easily implemented via triggers.

[2017-03-01 03:30] wardi commented on #3450
I quickly hacked the datastore search code so that it sends a separate query for the total rows instead of embedding it on every result with `count(*) over()` (presumably it was done this way to save the extra query)

My query for a page of data went from 1.88s down to 0.35s (5.4 x faster) for a datastore table with 900k rows. The interactivity in the table viewer is *much* improved now. I'll clea

[2017-03-01 15:35] tino097 commented on #3441
@amercader
currently i could set only authorized users to be able to access to 'user_list'

`def user_list(context, data_dict):
    # Users list is visible by default
    auth_user_obj = context.get('auth_user_obj')
    if auth_user_obj == None:
        return {'success' : False}
    return {'success': True}`

im not sure what other cases to take into consideration

[2017-03-03 17:25] snd297 opened #3465 "Typo in test_search.py breaks tests"
master branch ckan/ckanext/datastore/tests/test_search.py has

[code]

and these two tests break

[code]

changing it to
[code]

fixes them.

[2017-03-06 00:14] wardi opened #3467 "faster datastore total calculation + make optional"
This PR separates the total rows calculation from the select statement in datastore_search, which for large tables can give a significant speed improvement. It also adds an `include_total` parameter to datastore_search (default True for backwards compatibility) that allows skipping the calculation completely.

[2017-03-06 00:29] wardi commented on #3450
separate count query is implemented in #3467

[2017-03-06 12:46] wildcatzita commented on #2183
Made [PR](https://github.com/ckan/ckan/pull/3468) for groups.
@wardi , about DB constraint - I use this code, but it's not work for me

[code]

[2017-03-06 15:47] Engerrs commented on #2938
Hi @amercader , I've made fix for that one. Also I've added sorting in Order by on organization page, for sort by datasets and made another fix in query because it counted private datasets, while normal users can't see private datasets. Sysadmin can see counted private datastes on organization page, but it will sort only for those that are public.
Added test for all of this logic.

[2017-03-07 07:43] TkTech opened #3470 "Offset/Limit pagination causing long-term scaling issues."
Both revisions and activities currently grow very quickly. 15m datasets = 15m activities, 15m revisions. Move those datasets into a group and you generate 30m more rows.

These views:

- `/revision/list` (which I'll be honest I'm kinda hoping we agree to just remove completely from core.  It's not used and the page styling has been broken for over a year)
- `organization/activity/<org_name>/<page>

[2017-03-07 14:55] Engerrs opened #3471 "Small design issues on Create Dataset page and my organization, my groups tabs on Dashboard page."
### CKAN Version
2.5 , 2.7

### Issue
On Create dataset page, license field and info-block not positioned on one line, witch also creates more space between license filed and organization field.
![screenshot 1](https://cloud.githubusercontent.com/assets/13872453/23661397/575bcdb6-0355-11e7-8f23-412a7bb00674.jpg)

On Dashboard page, my organizations and my groups tabs, blocks go beyond the boundari

[2017-03-07 14:59] Engerrs commented on #3471
Created a fix for those two issues.

[2017-03-07 15:34] janantk commented on #2856
Hi, we have the same problem with endless loop, appearing very often when we try to delete some resource (other than the last one in the list of package resources) via web interface. CKAN/DataPusher start looping and the resource is never actually deleted.

We are using CKAN 2.5.3 with #3331 applied, and DataPusher 0.0.10.

[2017-03-08 15:04] tino097 commented on #3465
If it looks at first glance as typo, this is related to postgres tsvector type. Please check postgres version for any dofferences

[2017-03-08 16:06] snd297 commented on #3465
Failure is with TestDatastoreSQL, not TestDatastoreSearch as in link.

[2017-03-08 16:16] tino097 commented on #3465
thank you for the note, i corrected the output.

[2017-03-08 16:45] snd297 commented on #3465
I don't understand - was there an issue in the code or am I supposed to check my postgres version?

[2017-03-08 17:03] tino097 commented on #3465
Please check it, because there is no typo

[2017-03-08 19:46] snd297 commented on #3465
We're using postgres 9.5.4 and CKAN 2.6.0.

[2017-03-08 20:25] snd297 commented on #3465
Here's some detail on my failures - I'm sure I'm missing something, but to me it looks like u"'warandpeac'" should be u"'warandpeace'"

======================================================================
FAIL: ckanext.datastore.tests.test_search.TestDatastoreSQL.test_select_basic

line 886, in test_select_basic
assert ft_value in row['_full_text']

AssertionError:

assert u"'warandpeac'" in {u'

[2017-03-08 20:47] tino097 commented on #3465
interesting, when i 'fixed' the typo this was my output

` assert u"'warandpeace'" in {u'b\xfck': u'warandpeace', u'author': u'tolstoy', u'_full_text': u"'b':4 'tolstoy':3 'warandpeac':2", u'nested': {u'a': u'b'}, u'published': None, u'_id': 2}['_full_text']
`

[2017-03-08 21:20] snd297 commented on #3465
It looks to me like you have a different value on line 807 than

https://github.com/ckan/ckan/blob/master/ckanext/datastore/tests/test_search.py

your output has

'warandpeac':2

but mine has

'warandpeace':2

[2017-03-08 21:58] tino097 commented on #3465
no, have same value as you
spent some time debugging to see whats going on and there is a insert
https://github.com/ckan/ckan/blob/master/ckanext/datastore/db.py#L658

not sure what is _to_scvector_ doing with the values

[2017-03-08 22:19] snd297 commented on #3465
Okay. Thanks for all of your help - I'm going to assume this is a configuration issue on our end.

[2017-03-08 22:19] #3465 closed

[2017-03-08 22:25] tino097 commented on #3465
no problem, you could try to run tests again with --reset-db option

[2017-03-08 22:26] TkTech commented on #3465
The value are being [stemmed](https://en.wikipedia.org/wiki/Stemming). In this case that means `warandpeace` becomes `warandpeac` (as would `warandpeaces` or `warandpeacing`, etc...)

[2017-03-08 22:32] tino097 commented on #3465
@TkTech thank you

[2017-03-09 13:00] tino097 opened #3474 "Datastore resource dump as XML"
### CKAN Version if known (or site URL)

Latest version

### Please describe the expected behavior

Exporting resource as XML

### Please describe the actual behavior
if columns in datastore contain only numeric values or there are spaces in between , XML is not well formatted

### What steps can be taken to reproduce the issue?

adding additional checks in `ckan/ckanext/datasore/writer.py`

[2017-03-09 20:13] TkTech commented on #2405
For anyone finding this issue in the future, take a look at ckanext-scheming (JSON/YAML schemas) + chanext-fluent (thorough multilingual support)

[2017-03-09 20:13] #2405 closed

[2017-03-09 20:38] TkTech opened #3475 "metadata_modified is inconsistently set & updated"
### CKAN Version if known (or site URL)

All

### Please describe the expected behaviour

On any kind of package change, we should see a correctly updated UTC timestamp in metadata_modified.

### Please describe the actual behaviour

metadata_modified becomes `null` (creation) or does not reflect the actual time of insertion (update).

### What steps can be taken to reproduce the issue?

Create a

[2017-03-09 21:24] TkTech commented on #3475
Proposed PR does a few things:

1. We use the time the row is *actually* inserted as the metadata_modified value, since we can have some very long running transactions.
2. We properly use UTC timestamps.
3. We let Postgres ensure our metadata_modified is updated on the package both when the package is update or when a related package_extra is updated.
4. This avoids the VDM-workarounds to stop met

[2017-03-10 12:03] arvidT opened #3477 "Datastore dump of nested json returns strange characters"
### CKAN Version if known (or site URL)
2.5.3

### Please describe the expected behaviour
I have a datastore resource that I'm trying to dump to CSV format using the /datastore/dump/[resource-id] url. The expected behaviour is to get a CSV representation of my resource returned.

### Please describe the actual behaviour
The problem is that any nested json within my resource will be formatted begin

[2017-03-10 13:12] amercader commented on #3477
Objects are being dumped as their Python representation instead of JSON strings.

This happens both on CKAN <= 2.6 and on master (with @wardi 's new datastore dump writers).

The following adds a test case and solves it for CKAN <= 2.6:

[code]

@wardi are you happy with a similar approach for master?

[2017-03-10 14:59] wardi commented on #3477
This won't handle strings or true/false/null stored as json. I think we need to json.dumps always when the type of the column is json instead.

[2017-03-10 15:02] wardi commented on #3477
and let's replace `assert_equals(len(content), 148)` with `assert_eqauls(content, <the actual thing we're expecting>)` assertion failures on length checks just force us to insert debugging to find out what actually went wrong.

[2017-03-12 16:04] MartinHowitt opened #3478 "password reset email omits the FQDN"
### CKAN Version if known (or site URL)
2.6.1 http://libraries.thedata.place
Source install as per instructions

### Please describe the expected behaviour
I expected to receive an email with a clickable link in it.

### Please describe the actual behaviour
when receiving a password reset email, the text of the email shows as:
"Dear testy,

You have requested your password on Libraries Open Data t

[2017-03-12 21:25] TkTech commented on #3478
@MartinHowitt have you set your `site_url` in the .ini? The logic behind that link is very simple and will fail like that if it is not set. You can take a look here, https://github.com/ckan/ckan/blob/d73326ad4beb3743cb4a347b15c04dace8c8654b/ckan/lib/mailer.py#L114

[2017-03-14 12:19] amercader commented on #3478
We should use `h.url_for` with `qualified=True` here:

https://github.com/ckan/ckan/blob/d73326ad4beb3743cb4a347b15c04dace8c8654b/ckan/lib/mailer.py#L146

[2017-03-14 12:47] amercader commented on #3477
Agreed better implementation: dump as JSON all columns with type `json` or that are arrays (Start with `_` or end with `]`, see http://docs.ckan.org/en/latest/maintaining/datastore.html#valid-types). Fix the dodgy len test.

A separate issue is that the DataPusher should be able to interpret these dumped values and store them as `json` on the DataStore ( I don't think we can tell apart `json` or a

[2017-03-14 17:42] TkTech opened #3482 "Reindex Performance Is Unnecessarily Slow"
### CKAN Version if known (or site URL)

All

### Please describe the expected behaviour

A reasonable rate of updates to solr with minimal commits and search warmers.

### Please describe the actual behaviour

1. `index_package` reconnects to solr for each document.
2. `index_package` does a wide variety of unnecessary post-processing that was already done by the caller.
3. Weird document updates

[2017-03-14 17:43] janantk commented on #3245
Hi @wardi, #3331 solved the original issue, but we discovered that the same race condition appears when deleting a resource (and setting datastore_active flag to False). I took the simplest approach and applied the code from #3331 to this case too, see #3481.

[2017-03-14 17:57] TkTech commented on #3482
I'll be rewriting the reindex process, it'll be more work to rejigger what's there than do it with bulk loading in mind from the get go.

[2017-03-14 19:57] MartinHowitt commented on #3478
@TkTech thanks for getting back to me. ckan.site_url = http://libraries.thedata.place
so that looks ok. One thing I did in deviation from the source script was to update all the python libraries as I was getting an error starting CKAN. I got the idea to that from
https://github.com/ckan/ckan/issues/3130
although that page was specifically about a Docker install it fixed my problem at the time.

[2017-03-14 20:34] kmbn opened #3483 "current_package_list_with_resources returns list with only ten datasets rather than all datasets"
### CKAN Version if known (or site URL)
API ver. 3, http://demo.ckan.org and http://beta.ckan.org.

### Please describe the expected behavior
According to the API documentation (http://docs.ckan.org/en/latest/api/), `ckan.logic.action.get.package_list(context, data_dict)` and `ckan.logic.action.get.current_package_list_with_resources(context, data_dict) both return 'return a list of the site’s dat

[2017-03-14 20:36] kmbn commented on #3483
If the actual behavior is correct and the docs need to be updated or clarified, I'd be happy to do so. Likewise if `current_package_list_with_resources` needs to be tweaked to produce the expected behavior.

[2017-03-15 14:33] TkTech commented on #3264
@florianm is this still an issue for you? I'm currently testing with 15m datasets and a few hundred million revisions and not running into this particular issue. It's possible that one of your plugins is responsible for the performance drop.

[2017-03-15 14:40] TkTech opened #3484 "Removal of deprecated revision controller."
The revision UI (/revision/list, /revision/{id}, /revision/edit/{id}) has long been unsupported. For several release versions the UI has not even been [themed correctly](http://demo.ckan.org/revision/list). I'm proposing the immediate removal of this controller and associated templates.

1) The UI is not "useful". When even small sites generate millions of revisions showing 12000+ pages is not gre

[2017-03-15 15:03] TkTech commented on #3484
@amercader @wardi @davidread I just noticed a possible bug, tested and confirmed it. This is now critical and once merged a security backport/release should be made. It's possible to get all packages in their entirety including private datasets.

[2017-03-15 15:09] wardi commented on #3484
This has long been planned, just no-one got around to implementing a history page based on activities.

:+1: from me

[2017-03-15 16:00] davidread commented on #3484
Good one! This is long overdue.

[2017-03-16 00:44] florianm commented on #3264
@TkTech yes, but I'm not using the latest CKAN (see above), as I'm running a datacats setup. My dataset list loads reasonably fast, but individual dataset pages can take a while. I'm closing this issue as I haven't reproduced it with latest master. @amercader @wardi @TkTech thanks for your input!

TLDR: this issue documents how to monitor postgres queries and identify performance bottlenecks in sq

[2017-03-16 00:44] #3264 closed

[2017-03-16 03:09] TkTech commented on #3264
Master recently merged a few of my PRs to improve performance, in particular with activities. Glad it worked! We have an ongoing epic to fully support 15m datasets at a minimum.

[2017-03-16 08:31] florianm commented on #3264
@TkTech looking forward to battletest when I'm migrating from datacats to CKAN's native docker :-)
Epic will be needed when people are programmatically updating their resources, e.g. from https://github.com/datawagovau/ckan-o-sweave

[2017-03-16 12:50] smotornyuk commented on #3477
Yeah, no problem :construction_worker_man:

[2017-03-17 07:53] Engerrs opened #3489 "Ckan release-v2.4.x got no fix for package_search method that exists in versions 2.5 and higher"
### CKAN Version
all ckan 2.4.x versions

### Expected behaviour
We've got user in this way "user = context.get('user')", witch wont lead to KeyError when such key is not there. Such implementation is already on version 2.5 and higher.

### Actual behaviour
We've got user in this way "user = context['user']", witch leads to KeyError when it not exists.

[2017-03-17 12:51] KrzysztofMadejski commented on #922
My script for aggregating translations from multiple plugins, excluding default ckan translations in plugin, overriding default ckan definitions.

https://github.com/DanePubliczneGovPl/ckanext-danepubliczne/wiki/Modifying-translations
https://github.com/DanePubliczneGovPl/ckanext-danepubliczne/blob/develop/ckanext/danepubliczne/i18n/aggregate_and_compile.sh

[2017-03-17 18:04] KrzysztofMadejski opened #3491 "Testing i18ned extensions: LanguageError: IOError: [Errno 2] No translation file found for domain: 'ckan'"
### CKAN Version if known (or site URL)
2.3.4

### Please describe the expected behaviour
While testing the internationalized extension I expect not to run into errors. I'd love some recommendations how to setup tests properly in http://docs.ckan.org/en/latest/extensions/testing-extensions.html.

What could be the solution? How about `ckan.lib.i18n` should set `fallback=True` while calling  `pylon

[2017-03-17 18:19] KrzysztofMadejski commented on #3491
My hack for it: I've created empty ckan.mo file under `tests\i18n\en` and pointed to it with `ckan.i18n_directory` setting in extension's `test-core.ini`. But the path is absolute so it will fail on any other server.

[2017-03-20 05:38] MrkGrgsn commented on #3489
Was fixed in master for 2.5, the original commit was a523b44ccbef3b18157d2684137fb0aa92295d32

[2017-03-20 11:19] torfsen opened #3492 "resource_delete is not re-entrant"
On 2.6.1, I tried using `resource_delete` in the `IResourceController.before_delete` callback to automatically delete certain resources when other resources in the same dataset are removed:

* User removes resource `A` (manually or via API)
* That triggers `before_delete`
* My `before_delete` implementation deletes resource `B` (in the same package) via `resource_delete`

I expect that both `A` an

[2017-03-20 13:29] mohnjatthews opened #3493 "No Solr Welcome Page"
So I'm attempting to install CKAN into a Vagrant box running Ubuntu 14.04, but I'm not getting a Solr welcome page after it is installed alongside Tomcat6.

### CKAN Version if known (or site URL)
The one suggested in the docs: `python-ckan_2.6-trusty_amd64`

### Please describe the expected behaviour
Navigating to http://localhost:8080/solr after tomcat6 install doesn't give a welcome page as sug

[2017-03-20 16:47] mohnjatthews commented on #3493
This was an problem with Vagrant. This issue can be closed now.

[2017-03-20 16:47] #3493 closed

[2017-03-21 10:39] #3230 closed

[2017-03-21 13:11] smotornyuk commented on #3492
I think, that current behavior is correct. Main purpose of `after_delete` and `before_delete` is to make some arrangements or additional changes that not affect package in general. What can be changed here is implementing of some kind of workflow, like [Flux](https://facebook.github.io/flux/). Yeah, it generally used for front-end components, but its main advantage is straightforward control of as

[2017-03-21 13:17] KrzysztofMadejski commented on #3491
Ok, I've solved it in the following way. I think it would be good to mention that in the official docs ( translating a plugin / testing a plugin with celery tasks) or even better - copy this logic to core ckan and offers as functions to be called.

What do you think?

1) Tasks run by celery needs extra configuration for i18n and url_for

`tasks.py`
[code]

2) Tests fail with "No translation file f

[2017-03-21 15:38] TkTech commented on #3492
What you're discussing is just generally called a `chain` and is available in both the old celery backend and the new rq backend.

[2017-03-21 18:01] wardi commented on #3491
@KrzysztofMadejski great timing, I just ran into this problem yesterday. I agree ckan should have a function that sets up the translator for things like commands and background jobs. Do you mind submitting that as a PR?