[2020-12-25 23:52] jqnatividad commented on #5812
While considering this, its also noteworthy that both nginx and uwsgi also support the more efficient brotli compression format.

https://medium.com/oyotech/how-brotli-compression-gave-us-37-latency-improvement-14d41e50fee4

https://uwsgi-docs.readthedocs.io/en/latest/Changelog-2.0.16.html?highlight=brotli
https://docs.nginx.com/nginx/admin-guide/dynamic-modules/brotli/

and all modern browsers su

[2021-01-02 10:14] shubham-mahajan commented on #5788
@amercader Can you assign the issue to me?

[2021-01-05 13:17] #5768 closed

[2021-01-05 14:22] jqnatividad commented on #5799
Did some experiments and there was some marginal performance improvement just by changing engine parameters to use fast execution helpers without changing the postgres backend code.

As the main motivator for this is to increase  performance for bulk uploads of large files, and per the [SQLAlchemy Performance documentation](https://docs.sqlalchemy.org/en/13/faq/performance.html#i-m-inserting-400-0

[2021-01-05 15:58] hardingalexh commented on #5751
I have a fix in here: https://github.com/ckan/ckan/pull/5756 but need to add tests so that it will get accepted. I'll try and get on that this week!

[2021-01-07 12:41] pazepaze opened #5814 "text_view renders html markup"
**CKAN version 2.9.1**

**Describe the bug**
The text_view renders html elements if they occur in a text file.

**Steps to reproduce**
Create resource and upload the following text file:

foo.txt with content
[code]

The text view actually displays this as an input field:
![image](https://user-images.githubusercontent.com/37621317/103893401-8f810280-50ed-11eb-864b-61022bdd2575.png)

**Expected beh

[2021-01-08 04:31] Gauravp-NEC commented on #5806
@espona @amercader , I have investigate this issue. User role is not getting modified when editing the organization member role. With the approach in https://github.com/EnviDat/ckan-forked/commit/e93fb70eca5061f0b7dc2d06997bae9ea5818015 user roles are getting modified i.e., "Member" role user can change his role to "Admin/Editor" and likewise "Editor" role user can change his role to "Admin/Member

[2021-01-08 05:51] Zharktas commented on #5806
There was an [issue](https://github.com/ckan/ckan/issues/4560) where admin of the organization could lose his access to the organization by changing his own role in the organization, it was fixed in https://github.com/ckan/ckan/pull/4821. Might be related.

[2021-01-08 20:12] infracritical opened #5816 "How do I change the top menu bar?"
I'd like to get rid of the "Groups" tab on the top bar. I've taken a look at the plethora of 'dashboard.html' files, the 'dashboard.py' file, etc. Commenting on any of the section leading to 'Groups' proves nothing suitable.

Any suggestions?

-rad

[2021-01-08 20:13] infracritical opened #5817 "How do I change, add, delete anything on the home page?"
I've looked throughout the documentation, and have found very little.  Thoughts/

-rad

[2021-01-08 21:06] infracritical opened #5818 "Docker build doesn't seem to include Apache or Nginx"
I've reviewed the documentation for Docker installs.  Even if it does have it, neither Apache nor Nginx is enabled with the Docker container.

Does anyone have any idea as to how to fix this?  TIA.

-rad

** UPDATE: 9-Jan-2021

I figured it out. Please disregard.

[2021-01-09 17:48] infracritical opened #5819 "Want ONLY admin to be able to add users"
I know that setting this variable "ckan.auth.create_user_via_web" to TRUE will allow the admin to create users. Unfortunately, this will allow users to register to the site.

Is there a feature or extension that ONLY permits the admin account to add users WITHOUT having the "Register" button at the top bar shown and/or allowing users to create an account, either via the web or via API?

-rad

** U

[2021-01-09 20:59] jqnatividad commented on #5817
You may want to check Customizing CKAN's templates in the Theming Guide.

https://docs.ckan.org/en/2.9/theming/templates.html

Once you generate an extension, I suggest you choose a **Homepage layout** which you wish to extend in http://yourckansite/ckan-admin/config and override the corresponding jinja2 templates in your extensions' template directory.

See https://docs.ckan.org/en/2.9/theming/te

[2021-01-09 22:41] #5818 closed

[2021-01-09 22:41] infracritical commented on #5818
I am an idiot, and did not completely review all documentation. Disregard this request.

[2021-01-09 22:42] #5816 closed

[2021-01-09 22:43] infracritical commented on #5816
The trick is using the CKAN CLI within Docker, and not through the administrative UI. Please disregard.

[2021-01-09 22:43] #5819 closed

[2021-01-09 22:44] infracritical commented on #5819
This trick is using the CKAN CLI. Please disregard.

[2021-01-10 00:00] infracritical commented on #5817
And what do I do if I want to change an existing template?

For example, my 'home' directory outside of the Dockerized environment is '/usr/local/ckan', so the templates are located under '/usr/local/ckan/ckan/templates'. Now say I want to change the default "Welcome to CKAN" with the 420 x 220 image placeholder; the template file is located here: /usr/local/ckan/ckan/templates/snippet/promoted.ht

[2021-01-10 00:01] infracritical commented on #5817
So...translation - my changes to ANY *existing* template file under '/usr/local/ckan/ckan/templates/...blahblahblah...' DO NOT show up upon rebuilding the containers through the Docker Compose'r utility.

[2021-01-10 00:36] infracritical commented on #5817
BTW, I've done the following commands for the Dockerized container:

1. docker-compose down
2. docker rmi -f docker_ckan docker_db
3. docker rmi $(docker images -f dangling=true -q)
4. docker-compose up -d --build

The answer is still NO.  Not changes that were applied to any of the existing templates *outside* of the Dockerized container were applied.

-rad

[2021-01-11 00:53] joelwigley opened #5820 "Adding new user with existing email address causes 500 error"
**CKAN version**

2.9.1

**Describe the bug**

On the "Add Member" screen for an Organisation, entering an email address of an existing user into the "New User" field to invite a new user generates a 500 Internal Server Error.

**Steps to reproduce**
1. Go to an Organisation
2. Click Manage
3. Click the Members tab
4. Click Add Member
5. In the "New User" section, enter an email address already in

[2021-01-11 12:54] curioswati opened #5821 "Wrong link to contributing guide in README."
In the [Contributing section](https://github.com/ckan/ckan#contributing-to-ckan) in README, the link to contributiing guidelies needs to be updated to point to the udpated file name.

`https://github.com/ckan/ckan/blob/master/CONTRIBUTING.rst`
to
`https://github.com/ckan/ckan/blob/master/CONTRIBUTING.md`

[2021-01-12 02:42] ThrawnCA opened #5822 "Outdated 'sqlparse' causes errors when viewing resources with newlines and semicolons in headers"
**CKAN version**

2.8.4

**Describe the bug**

Upon adding a resource that can be parsed into the datastore, with a header containing a newline and a semicolon, the resource page fails to load, logging a "Query is not a single statement" error. This occurs because CKAN is using an old version (0.2.2) of the `sqlparse` library. The behaviour is resolved in sqlparse version 0.3.0.

**Steps to reprod

[2021-01-12 06:30] Zharktas opened #5823 "Document recommended non-root path configuration for extension"
**CKAN version**
master

**Describe the bug**
Currently URLs consist of site_url and root_path, which get combined during URL generation. When extension requires URL with the root_path included, almost all extensions handle it differently. There is a [bug report in DCAT](https://github.com/ckan/ckanext-dcat/issues/187) as using the site_url leaves root_path from the generated URLs. Archiver has [s

[2021-01-12 09:51] kowh-ai commented on #5817
@infracritical -  The ckan container is built from ckan master with line 51 in the ckan Dockerfile. How are you overriding the template files when you build the container?

[2021-01-12 12:22] Gauravp-NEC commented on #5806
@amercader , Shall I submit the PR?

[2021-01-12 13:13] #5821 closed

[2021-01-12 13:36] Zharktas commented on #5823
It was agreed that the documentation needs an update on various places to guide developers to use helper functions to generate urls instead of using site_url directly. These include at least:
* https://docs.ckan.org/en/2.9/maintaining/configuration.html#ckan-site-url
* https://docs.ckan.org/en/2.9/maintaining/configuration.html#ckan-root-path
* https://docs.ckan.org/en/2.9/theming/best-practices.h

[2021-01-12 15:04] infracritical commented on #5817
THAT'S IT!!!  I was looking at the wrong location!!!

I thought that it was located at "/usr/lib/ckan" (or my version, "/usr/local/ckan"; it wasn't.

The real master is located at "/var/lib/docker/volumes/docker_ckan_home/_data/venv/src/ckan".

I made a test change in there, shutdown the containers, then rebuilt them.  IT WORKS!!!  THANK YOU!!!!

[2021-01-12 15:04] #5817 closed

[2021-01-12 18:15] avdata99 commented on #5796
Old SQLAlchemy has medium severity vulnerability: https://snyk.io/vuln/SNYK-PYTHON-SQLALCHEMY-590109.
Update to 1.3.19 is important.
Is possible to update SQLAlchemy for CKAN 2.8?

[2021-01-12 21:56] ThrawnCA commented on #5796
I encountered errors upon trying it, and reverted. I don't think it's a drop-in replacement. Someone who knows the code in more detail might be able to resolve it.

[2021-01-13 05:02] Gauravp-NEC commented on #5771
@amercader @jqnatividad , I am interested to work on this issue. I have started the investigation.

[2021-01-13 14:58] jqnatividad opened #5826 "Resource datastore upload log does not list activities by datetime order"
**CKAN version**
2.9.1

**Describe the bug**
Periodically, the resource datastore upload log lists activities randomly.  This happens more often in large datapusher jobs and when using postgres for the datapusher jobs database, as its persisted across reboots.

**Steps to reproduce**
1. Upload a large CSV
2. Check resource datastore tab and examine the datastore upload log

**Expected behavior**
T

[2021-01-14 03:46] avdata99 commented on #5796
I run some manual test and just making [this change](https://github.com/GSA/ckan/commit/e689f31eafd11370bc20ce6b6d1e664d3f393b3a#diff-0d9877c849b4b462a8bdc9337551a3e63ddb1189513bd0e13ed59fc502d9d42cR78), it works.
Not sure this commit is a good idea.
Probably CKAN is not affected by this specific vulnerability.

[2021-01-14 05:20] Zharktas commented on #5796
I had errors with active extras mappings in sqlalchemy was upgraded to 1.3, did not have time enough to look into it. In the end I just upgraded to 1.2, vdm to 0.15 and that code change as it is required with 1.2 too.

[2021-01-14 09:35] vmireles-swc commented on #4129
Still experiencing this on 2.9. Is there any update on this issue?

[2021-01-14 09:37] syats commented on #4129
Still experiencing this in 2.9. Any updates? workarounds?

[2021-01-14 14:44] timvanoijen opened #5828 "Datatablesview not automatically created when using datastore_create"
**CKAN version**
2.9

**Describe the bug**
If the datatablesview has been set as default view and we use the CKAN Datastore API to create a new resource (datastore_create function), the datatablesview is not created.

**Steps to reproduce**
Enable the datatablesview, the datastore and datapusher in your ckan.ini file:
```ckan.plugins = envvars stats text_view image_view datatables_view datastore .

[2021-01-14 19:47] #5571 closed

[2021-01-14 20:45] jqnatividad opened #5829 "Resource Additional Information metadata is incomplete/incorrect"
**CKAN version**
2.9.1

**Describe the bug**
Several resource-level metadata is stored but not displayed on the Resource page:

* size - in bytes
* hash - currently used by datapusher to detect if a file has changed. Can be used by users as well to do the same.
* resource_type - doc, listing, service, api, etc.
* format - TXT, CSV, PDF, etc.

and resource mimetype is incorrectly displayed as forma

[2021-01-15 05:15] shubham-mahajan commented on #5490
@jqnatividad From my end PR is done, let's wait @wardi to review.

[2021-01-15 11:30] #5705 closed

[2021-01-15 11:42] Gauravp-NEC commented on #5806
@amercader , Its being so long that this issue is open. Shall I submit the PR to close this issue ? I have already shared my investigation https://github.com/ckan/ckan/issues/5806#issuecomment-756539790

[2021-01-15 13:43] #5685 closed

[2021-01-15 13:48] amercader commented on #5276
@Gauravp-NEC Sorry I forgot to update this issue. After discussion with the team we felt that it was better to implement the other way around, ie update the references in the docs to "Data API" so they match the frontend: https://docs.ckan.org/en/latest/maintaining/datastore.html

Does this makes sense?

[2021-01-15 14:09] amercader commented on #5793
You can check [ckanext-harvest](https://github.com/ckan/ckanext-harvest) that will allow you to regularly import metadata from one instance into another.

To minimize the number of issues on this repo we encourage you to submit support requests like this one to the [ckan-dev mailing list](https://groups.google.com/a/ckan.org/forum/#!forum/ckan-dev). You can also try on the [Gitter channel](https:/

[2021-01-15 14:09] #5793 closed

[2021-01-15 18:44] jqnatividad opened #5831 "datastore_info does not return all available datastore info"
**CKAN version**
2.9.1

**Describe the bug**
`datastore_info` _["returns information about the data imported, such as column names and types."](https://docs.ckan.org/en/2.9/maintaining/datastore.html#ckanext.datastore.logic.action.datastore_info)_.  For example:

[code]
However, it doesn't return other relevant available datastore information like aliases and the data dictionary.

Currently, to ge

[2021-01-17 15:21] jqnatividad opened #5832 "datastore_info does not work for aliases"
**CKAN version**
2.9.1

**Describe the bug**
`datastore_info`  does not work for resource aliases.

**Steps to reproduce**
1. Create a resource
2. Use `datastore_create` to create aliases for the resource
3. Calling `datastore_info` with a valid alias results in a `NotFound` error

**Expected behavior**
`datastore_info` should also work for aliases.  Further, it should returned the aliased resourc

[2021-01-18 05:03] infracritical opened #5833 "Corrupted my 'ckan.ini' file, and ckan won't come up with Docker"
I added some plugins manually within the '/etc/ckan/production.ini' file that was created by the 'docker-compose' utility.  As a result of my f'up, the ckan container won't come up.

I can't seem to get into the volume to fix the problem.

How do I fix the bad entry within the 'production.ini' file so I can bring up the ckan container?

TIA.  -rad

The error message is shown below:

root@srvr2028:

[2021-01-18 13:10] amercader commented on #5670
I had a look at this while working on the upgrade of ckanext-pdfview and it's potential replacement with builtin viewers submitted by @jqnatividad.
I do now believe that this is a bug on the CKAN side, or at least behavior that could be improved. As the reporter suggests all uploaded files that are downloaded from CKAN are returned with a `Content-Type: application/octet-stream` regardless of form

[2021-01-18 13:10] amercader commented on #5670
@pdelboca clearing your assignation so this gets raised in the next meeting

[2021-01-18 15:28] jqnatividad opened #5834 "Postgres check for valid identifiers does not check for length"
**CKAN version**
2.9.1

**Describe the bug**
The  postgres backend has several functions/helpers that check for valid postgres identifiers - for valid table, column, index and view (alias) names - that's used by the different datastore API actions.

However, it doesn't detect when an identifier is greater than postgres' maximum identifier length (63 by default - `NAMEDATALEN-1` - unless postgres i

[2021-01-18 15:34] ryangermann-gov-on-ca opened #5835 "CKAN 2.9.x install instructions: command line to install "solr-jetty", instructions to configure with tomcat9?"
could I suggest that this line:

sudo apt-get install python3-dev postgresql libpq-dev python3-pip python3-venv git-core **solr-jetty** openjdk-8-jdk redis-server

of the CKAN 2.9x install from source instructions at:

https://docs.ckan.org/en/2.9/maintaining/installing/install-from-source.html

be changed to:

sudo apt-get install python3-dev postgresql libpq-dev python3-pip python3-venv git-core

[2021-01-18 18:12] #5814 closed

[2021-01-18 23:31] wardi opened #5836 "Can't add directories from plugins if partially string matches existing values"
**CKAN version**
1.7 or so

**Describe the bug**
If you add a served directory that partially string matches existing values it will be ignored

**Steps to reproduce**
[code]

**Expected behavior**
when old_ckan is True I expect both template directories to be in the template search path

**Additional details**
only the `/path/to/my/extension/templates-for-old-ckans` appears in the template search

[2021-01-19 04:17] Gauravp-NEC commented on #5276
@amercader , @kowh-ai  have confirmed that "the Data API" is now called "the DataStore API" in comment https://github.com/ckan/ckan/issues/5276#issuecomment-745261173. However if you want to update the references in the docs to "Data API" so they match the frontend I will do it.  Please confirm.

[2021-01-19 05:10] Gauravp-NEC commented on #5771
@amercader, Can you please share the reference of PR in which the work of detailed activity stream of Dataset is done?

[2021-01-19 05:14] Gauravp-NEC commented on #5806
@amercader ,  Its being so long that this issue is open. I am interested to submit the PR for this issue. Please assign this issue to me. I have already shared my investigation in comment https://github.com/ckan/ckan/issues/5806#issuecomment-756539790.

[2021-01-19 10:06] #5826 closed

[2021-01-19 11:33] Sunny-NEC commented on #5794
@Zharktas sir i try to reproduce the issue by creating the extension using cli method but did not find any error. and sharing some screenshot for that . please help me out in this matter
![extension](https://user-images.githubusercontent.com/75657997/105029337-3d8a9600-5a78-11eb-95b2-230db4bb44ac.png)
![pluginpy](https://user-images.githubusercontent.com/75657997/105029341-3ebbc300-5a78-11eb-8a31-

[2021-01-19 13:19] amercader commented on #5831
@jqnatividad This all sounds very sensible, do you want to submit a PR?

[2021-01-19 13:26] jqnatividad commented on #5597
@smotornyuk , just wondering if the root cause for using local session has been found, and if not, if it will be reverted back to using a local session in the meantime, so it can be part of 2.9.2...

[2021-01-19 16:22] jqnatividad commented on #5831
@amercader pulling together a PR.

BTW, its dependent on #5832.  I'll create a PR that fixes this and #5832 if that's OK.

[2021-01-20 00:23] #5833 closed

[2021-01-20 04:12] ThrawnCA opened #5842 "Changing organisation name via API does not update Solr, breaks pages"
**CKAN version**

2.8.4

**Describe the bug**

Updating an organisation name via the `organization_update` API does not updated the associated Solr records for the organisation's datasets, which in turn causes errors (in `snippets/organization.html`) when viewing those dataset pages.

**Steps to reproduce**

- Create an organisation called "foo".
- Create a dataset in the organisation named "baz".

[2021-01-20 05:32] ammarfmg commented on #5807
@amercader also struggling with the same issue. I think the 'ckan post' command has been replaced with the 'ckan notify' but unable to find any info on usage.
Could you assist with this issue?

Cheers,
Ammar

[2021-01-20 07:15] ammarfmg commented on #5807
@mbocevski have you been able to sort this issue yet? I am also trying to work this one out. I think the 'ckan post' command has been replaced with the 'ckan notify' but unable to find any info on usage.

[2021-01-20 07:19] Zharktas commented on #5807
Notify is a different thing. Post was internal functionality of paster, which needs to implemented in ckan cli as paster was removed.

[2021-01-20 07:21] ammarfmg commented on #5807
@Zharktas thanks for the quick response. Any work around for sending email notifications until this is implemented by the ckan team?

[2021-01-20 07:27] Zharktas commented on #5807
There is no workaround, someone needs to implement it.

[2021-01-20 07:35] mbocevski commented on #5807
@ammarfmg yes there is a workaround. What `ckan post` does is basically sends a sysadmin authenticated request to the `/api/action/send_email_notifications` endpoint. So you can implement it simply by registering an sysadmin account, generating an API token and then using that token you can call something like:
 `curl -s -H "Authorization: SYSADMIN_API_TOKEN" -d {} http://<ckan_url>/api/action/sen

[2021-01-20 07:42] ammarfmg commented on #5807
@mbocevski thanks a lot for this. I will give it a try.

[2021-01-20 07:56] ammarfmg commented on #5807
@mbocevski after generating an API key, can I add the curl command to my crontab file with an @hourly keyword?

@hourly curl -s -H "Authorization: SYSADMIN_API_TOKEN" -d {} http://<ckan_url>/api/action/send_email_notifications

[2021-01-20 07:59] mbocevski commented on #5807
Of course.

[2021-01-20 08:01] ammarfmg commented on #5807
Thanks again. It is running but giving this message:

"Bad request - JSON Error: Invalid request. Please use POST method for your request"

I will try to solve it.

[2021-01-20 08:06] mbocevski commented on #5807
Did you include the `-d {}` that means to send empty data with the request which will automatically send a POST request. You can always add `-X POST` if you want to explicitly set the request method.

[2021-01-20 08:13] ammarfmg commented on #5807
Thanks again. I am doing something like this in my crontab.

@hourly sudo curl -s -H "Authorization: xxxxxxxxxxxxxxxxxx" -d {}  -X POST http://10.217.84.24//api/action/send_email_notifications

[2021-01-20 08:17] mbocevski commented on #5807
Try running the curl command from the shell to see that all works fine. You don't need to use `sudo`. It shouldn't matter but you have double forward-slashes `//api`. If it works fine from the shell, and doesn't work from cron then check whether you need to quote the command or something depends on your systems cron.

[2021-01-20 08:26] ammarfmg commented on #5807
Ok sure. I am getting the following output in shell:

{"help": "http://x.x.x.x/api/3/action/help_show?name=send_email_notifications", "success": true, "result": null}

Is this the expected behavior?

[2021-01-20 08:28] mbocevski commented on #5807
Yes! Great.

[2021-01-20 08:32] ammarfmg commented on #5807
Thank you and have a good day.

[2021-01-20 11:23] fredkingham opened #5844 "Pylons link in the docs goes to "Quality Appliance redirect""
**CKAN version**
2.9
**Describe the bug**
All links to `http://pylonsbook.com` in the docs get redirected to pages that offer kitchen appliance repair services

**Steps to reproduce**
Go to the page https://docs.ckan.org/en/2.9/theming/variables-and-functions.html click on the link "Pylons template context object" you get redirected to https://www.qualityappliancerepairs.com/locations/en/1.0/explo

[2021-01-21 01:41] jqnatividad opened #5847 "Overly aggressive indexing strategy greatly increases datastore storage requirements"
**CKAN version**
2.9.1

**Describe the bug**
The postgres datastore creates several indices when a resource is uploaded.

A unique index for the `_id` internal field, an FTS index using the `_full_text` internal field (which stores all the column values in one field for FTS searches, effectively doubling the width of the table), and **_one index per text column._**

Though this is great for ad-hoc

[2021-01-21 10:44] #5844 closed

[2021-01-21 13:52] #5822 closed

[2021-01-21 14:01] Gauravp-NEC commented on #5835
@kowh-ai , What is your opinion?

[2021-01-21 14:21] wardi commented on #5847
:+1: to using the data dictionary interface to enable indexes and having the per-column indexes disabled by default

[2021-01-21 14:31] Engerrs opened #5849 "Data Dictionary doesn't update field type permanently"
**CKAN version**
2.9.1

**Describe the bug**
Due to the fact that after an update to CKAN 2.9, when User uploads file, all column that are send to Datastore are being saved as "text" (CSV files example). If we setup to use Messytables for that, it parses the file incorrectly if the file has some additional "," in one of the columns, as a result we have broken types setup for column.
That's why the

[2021-01-21 14:39] Engerrs commented on #5849
Hi @wardi , as far as I understand, you are the person who worked with indexes in DB. Can you please review my PR that is above this message.
Note:
Before changing column from text type, I remove index from the column. If User changes back to text type, CKAN according to the logic will bring the index back.

[2021-01-21 14:51] amercader commented on #5806
@espona this was fixed in https://github.com/ckan/ckan/pull/5767, which will be part of the next patch release

@Gauravp-NEC Admins not being able to change their roles if they are Admins is expected behaviour, it was introduced in #4821 as @Zharktas mentioned

[2021-01-21 14:51] #5806 closed

[2021-01-21 17:13] Gauravp-NEC commented on #5276
@amercader , Based on your comment https://github.com/ckan/ckan/issues/5276#issuecomment-760952133. I have raise the PR https://github.com/ckan/ckan/pull/5850 to match the frontend. Thankyou :)

[2021-01-21 23:11] ThrawnCA commented on #5822
It may be worth updating to 0.3.1 instead of 0.3.0; it contains several more bug fixes and remains backwards compatible.

[2021-01-22 02:58] ThrawnCA commented on #5842
Triggering an index update for every affected dataset could be quite a bit of work, of course, if an organisation contains many datasets. A cheaper alternative would be to update `snippets/organization.html` so it gracefully handles the renaming. Currently, it seems to be looking up the organisation associated with a package by using the organisation name, not UUID - so when the name changes, it b

[2021-01-22 09:06] Gauravp-NEC commented on #5622
@jqnatividad , Please help me to understand this issue.

[2021-01-22 12:14] amercader commented on #5672
I've updated the description now

[2021-01-22 12:14] #5672 closed

[2021-01-22 12:53] #5836 closed

[2021-01-22 23:12] Chealer commented on #4943
Can this ticket be reopened?

[2021-01-25 04:36] Gauravp-NEC commented on #4943
@Chealer ,This ticket is closed by PR #5740 . I will suggest you to raise a new ticket if you want more changes for API guide.

[2021-01-26 01:41] jqnatividad opened #5854 "Track Postgres EOL lifecycle"
**CKAN version**
2.9.1

**Describe the bug**
The current minimum postgres version for CKAN is 9.2.  Postgres 9.2 is no longer supported.

**Expected behavior**
The current release should ideally always specify a supported Postgres version.  Similar to how CKAN tracks the Ubuntu LTS version, perhaps, there should also be a CKAN tracking policy consistent with Postgres' EOL lifecycle.

https://endof

[2021-01-26 02:22] jqnatividad opened #5855 "Add datastore_register to Datastore API"
**CKAN version**
2.9.1

**Describe the bug**
With the datastore, CKAN automatically creates tables for tabular data.

With `datastore_create`, you can even declare indices, aliases, triggers and primary keys, and the API transparently handles all the underlying SQL DDL to create/alter/delete & maintain the table.

However, this limits the datastore from exploiting underlying postgres database mana

[2021-01-26 13:46] jqnatividad commented on #5854
Hi @kowh-ai ,
Mea culpa.  I missed the doc reference.

But I did find a version check for at least 9.2 in the datastore backend -  https://github.com/ckan/ckan/blob/59726c8c38ea1c08cf2d69fbcf7c7571cbd17d1a/ckanext/datastore/backend/postgres.py#L299-L306

Also, 9.5 is being EOLed Feb 11, 2021, with 9.6 EOLing shortly after in Nov 11, 2021.  Is the team considering requiring v10 for the next major v

[2021-01-26 13:52] Zharktas commented on #5854
I think we should follow whatever ubuntu has as long as our install docs are based on ubuntu. 16.04 (which EOLs in april) has 9.5, 18.04 has 10 and 20.04 has 12.

[2021-01-26 14:35] kowh-ai commented on #5854
Yes @Zharktas good idea - I could update docs to use whatever version is in Ubuntu's default repository and mention about staying in support using @jqnatividad 's link: https://endoflife.software/applications/databases/postgresql

[2021-01-26 14:39] jqnatividad commented on #5854
Great @kowh-ai!  While you're at it, what about creating an explicit EOL lifecycle section in the documentation?

Explicitly stating what @Zharktas mentioned, as well as how long older versions of CKAN will be supported, with deadlines?

And even though CKAN doesn't do [cadence releases like Ubuntu](https://ubuntu.com/about/release-cycle), maybe consider preemptively adding at least the next relea

[2021-01-26 16:01] jqnatividad commented on #5854
Going back to the hardcoded 9.2 check in the datastore, should I create a PR for that?

[2021-01-26 16:15] kowh-ai commented on #5854
@jqnatividad - please, that would be great!

[2021-01-26 19:35] jqnatividad commented on #5854
Actually, as the datastore could potentially be a different db server than the one CKAN uses, and the version check above is more about postgres 9.2 introducing support for nested json, I decided not to submit a PR.

Still, this was a useful discussion as it will result in having explicit EOL guidance in the docs - keeping the ticket open until then.

[2021-01-26 23:52] ThrawnCA commented on #5842
It appears that this does not always affect every dataset in the organisation; some will work while others will break. I haven't yet identified a pattern, although private datasets seem more likely to be affected (but public datasets _can_ break too).

[2021-01-27 02:40] mcarans commented on #5787
@wardi Is there anything that package_update can do that package_revise can't?

Also, I've raised a related ticket against the CKANAPI Python library as I'm unsure how to pass the various parameters package_revise needs, particularly for file upload, through that library: https://github.com/ckan/ckanapi/issues/181

[2021-01-27 05:05] duttonw commented on #5842
I have replicated this on https://demo.ckan.org/ following the steps above

1. original org https://demo.ckan.org/organization/abcdd
2. dataset createdhttps://demo.ckan.org/dataset/tadsf
3. org changed to 123abc including url https://demo.ckan.org/organization/123abc
4. https://demo.ckan.org/dataset/tadsf is now broken

[code]

[2021-01-27 13:30] Zharktas opened #5857 "Email txt templates are not extracted to translations"
**CKAN version**
2.7, 2.8, 2.9, master

**Describe the bug**
Email invite and reset templates in https://github.com/ckan/ckan/tree/master/ckan/templates/emails are supposed to be translatable:

https://github.com/ckan/ckan/blob/master/ckan/lib/mailer.py#L164..L165
[code]

There is a comment by @amercader https://github.com/ckan/ckan/pull/2465#issuecomment-112140839 that removing Genshi might break

[2021-01-27 14:22] jqnatividad opened #5858 "demo.ckan.org overrun with spam"
**CKAN version**
N/A

**Describe the bug**
https://demo.ckan.org has thousands of spam packages.

**Expected behavior**
The demo site is configured to minimize spam and/or the site is periodically reset with demo datasets.

[2021-01-28 01:34] pdekraker-epa opened #5859 "Issue purging custom dataset types"
**CKAN version**
2.9.1

**Describe the bug**
If you delete datasets with a custom value in the dataset type field they cannot be purged via the admin UI.

**Steps to reproduce**
1. Make a dataset with a custom type (mine results from an IDatasetForm extension)
2. Delete it
3. Try to purge is via the datasets purge button (not purge all) on the admin page

**Expected behavior**
Deleted datasets are

[2021-01-28 11:22] #5789 closed

[2021-01-28 12:18] #5618 closed

[2021-01-28 13:55] amercader commented on #5858
Moving to #5788

[2021-01-28 13:55] #5858 closed

[2021-01-28 13:57] amercader commented on #5788
@shubham-mahajan @avdata99  @rufuspollock Demo is currently overrun by spam.

As part of the upgrade process perhaps we can add a simple job that resets the database every day (or at least deletes and purges all users and datasets)?

[2021-01-29 09:22] ArqumFarooqui-NEC opened #5863 "HTTP-500 error due to "Error - <class 'sqlalchemy.exc.TimeoutError'>: QueuePool limit of size 5 overflow 10 reached, connection timed out, timeout 30""
**CKAN version2.7.2(docker)**

**Describe the bug**
We are getting "Error - <class 'sqlalchemy.exc.TimeoutError'>: QueuePool limit of size 5 overflow 10 reached, connection timed out, timeout 30" frequently due to which HTTP-500 error are coming and request could not be completed.
-> It seems, after sometime ckan has no connection left to serve a new request that is why this error has occured. Is

[2021-01-29 09:55] amercader commented on #5842
This is a long standing issue. Basically if you update an organization's name you need to reindex all of its dataset so the Solr index gets the new value.
As this is potentially a long task depending on the number of datasets it should be implemented as a [background job](https://docs.ckan.org/en/2.9/maintaining/background-tasks.html).

Here's a quick spec in case someone wants to contribute it:

[2021-01-29 09:59] amercader commented on #5829
I'm pretty sure that the standard template shows all resource fields (hidden under "Show more"), eg see https://beta.ckan.org/dataset/this-is-a-test-dataset/resource/ba807bd0-061a-4b25-ae97-a21b0c9669f8

It might be ckanext-scheming that doesn't implement this in its resource read template.

[2021-01-29 09:59] #5829 closed

[2021-01-29 10:05] amercader commented on #5792
CKAN core no longer uses Travis. Extensions will gradually migrate away from it.

From anyone looking for alternatives, the extension template contains an example GitHub Actions workflow to run the tests:

https://github.com/ckan/ckan/blob/master/contrib/cookiecutter/ckan_extension/%7B%7Bcookiecutter.project%7D%7D/.github/workflows/test.yml

For a multi-CKAN version setup, check ckanext-scheming o

[2021-01-29 10:05] #5792 closed

[2021-01-29 10:05] ThrawnCA commented on #5842
Would it be feasible to fix the more immediate issue by having the package linked to the organisation using its UUID rather than its name?

[2021-01-29 10:09] amercader commented on #5842
@ThrawnCA sure, if a snippet uses the org name it could use the UUID

[2021-01-29 11:25] shubham-mahajan commented on #5788
@amercader Sure.

[2021-01-29 11:42] amercader commented on #5788
@shubham-mahajan thanks! Do you have a timeline for when you'll work on this? Even if still not updating would be good to clear the DB and all the spam with it.

[2021-01-29 13:57] maxclac commented on #5708
I am observing this as well at the moment. It would be great to find out what is the problem.

[2021-01-29 13:59] amercader opened #5865 "Custom activities improvements on CKAN 2.9"
The changes around activities introduced in CKAN 2.9 were a massive improvement from previous versions. Up until that point you had to do a fair amount of monkey-patching core functionality and piggyback on "changed package" activities in order to get custom ones.

In CKAN 2.9 it should be as easy as creating your own activities and providing a matching template snippet for the activity type. And

[2021-01-29 14:00] amercader commented on #5865
Sorry, that was a long issue but better to get all the details! :mag_right:

[2021-01-29 14:15] #5276 closed

[2021-01-29 17:14] wardi commented on #5842
@ThrawnCA yes but the search results page will need to query the DB for each result displayed which adds quite a few round-trips instead of having all the information needed returned from solr in one query.

[2021-01-30 22:53] vicding-mi commented on #5724
Hi all, I am having the same `KeyError: 'pylons.app_globals'` with `master` branch. I checked the files, all the aforementioned patches were included. It seems like this is introduced after version `2.9.1`.

When working with branch 2.9.1 and patch [`9abeaa1`](https://github.com/ckan/ckan/commit/9abeaa1b7d2f6539ade946cc3f407878f49950eb), ckan will up and run.

[2021-01-31 04:59] albastakihalima opened #5866 "Unable to read large csv files"
version 2.9

When trying to preview the uploaded file, message appear as following:
Could not load view: DataProxy returned an error (Request Error: Backend did not respond after 10 seconds)

**Steps to reproduce**
Steps to reproduce the behavior:
- We Tried to alter several parameters but no results
Those Parameters were applied for CKAN
- CKAN_MAX_UPLOAD_SIZE_MB=40000
- CKAN_MAX_RESOURCE_SIZE=50

[2021-02-01 14:46] jqnatividad commented on #5854
@kowh-ai ended doing a min postgres version check after all in the Datastore.

Planning ahead, as @Zharktas pointed out - Ubuntu 16.04 is EOLing in April and 18.04 bundles postgres v10, the team should consider making postgres v10.15 the minimum required version.

[2021-02-01 18:22] #5589 closed

[2021-02-02 10:31] smotornyuk commented on #5748
I've checked the source of the werkzeug and it seems that it intentionally strips out all unknown variables(including `REMOTE_USER`) when performing redirects. Instead, we can rely on the global application state and use CKAN's `with_request_context` fixture. When it's active, the same request context will be reused for all requests, and in that way you can preserve the user's session:
[code]

[2021-02-02 11:59] mdemuynck opened #5870 "Requesting Dataset returns 500 Internal Server Error"
**CKAN version**
2.8.3

**Describe the bug**
A resource in CKAN is created using the CKAN api. A corresponding table in the datastore DB is created using Draco. When trying to view the data (via the dataexplorer), the system sometimes returns an Internal Server Error.

**Additional details**
One time the error log shows this:
2021-01-19 11:18:37,367 WARNI [ckan.lib.maintain] Function _resource_pre

[2021-02-02 12:05] ArqumFarooqui-NEC commented on #5863
I've got stuck into how should I choose or calculate the appropriate values of pool_size and max_overflow? Please suggest me, It will help me a lot.
Thank you very much:)

[2021-02-02 13:41] kowh-ai commented on #5863
@ArqumFarooqui-NEC - Although you are using SQLAlchemy 0.9.6, this doco could help:  https://docs.sqlalchemy.org/en/13/errors.html

[2021-02-02 14:45] amercader commented on #5870
These errors suggest that the connection to the Postgres server is being dropped. It's a problem at the network level, not at the CKAN one. Hope this helps.

[2021-02-02 14:45] #5870 closed

[2021-02-02 14:58] amercader commented on #5866
The DataProxy is used when the resource data can not be retrieved from the DataStore. Check the DataPusher logs on Resource > Manage > DataStore to see if the data was actually uploaded and see if there is an error during the upload.
Alternatively you can use https://github.com/ckan/ckanext-xloader, which allows you to import just a subset of the data for visualization purposes.

[2021-02-02 14:58] #5866 closed

[2021-02-02 18:38] #5751 closed

[2021-02-03 05:54] #5785 closed

[2021-02-03 06:25] Ajaysamdyan opened #5874 "Ckan installation via using docker on ubuntu failed due to OS error (Python version confliction)"
**CKAN version**
Ckan 2.9.0 and 2.9.1
**Description of the bug**

An error has been faced via ckan-docker installation, it seen that docker build operation failed at the end.

It shows the below mentioned error code:
Cmd: docker-compose up -d --build

Error_code: “”TypeError: unsupported operand type(s) for -=: 'Retry' and 'int'
----------------------------------------
...Installing setuptools, pk

[2021-02-03 07:56] ArqumFarooqui-NEC commented on #5863
Thank you very much @kowh-ai sir, for your response:)

For this I need to increase the limit on connection pool.
Please suggest me, how should I choose or how should I calculate the appropriate value for the connection pool? ( Currently I have pool_size=5 and max_overflow=10).

If I disable the pooling by using `poolclass=NullPool`, will it resolve this error permanently?

@kowh-ai sir, Thank you

[2021-02-03 10:28] shubham-mahajan commented on #5788
@amercader Cleaning of the DB is done, we will setup the job to clean the database.

We are working on deploying to 2.9 also, will get that done soon.

[2021-02-03 12:01] amercader commented on #5788
Looks like spam is back already :(
We might have to make it read-only and disable web registration

[2021-02-03 21:53] duttonw commented on #5788
I think there is a recaptcha plugin somewhere to restrict user registration. Might also need to add to dataset/resource update.

Might also want to pause account use till email is verified (unsure if it emails)

Also put a robots.txt to block search engines from scraping it so that they can’t use it for seo etc.

[2021-02-03 22:40] duttonw commented on #5788
There is many plugins but I don't see them updated to support 2.9 nor ability to verify recaptcha server side.
https://github.com/DataShades/ckanext-recaptcha
https://github.com/DataShades/ckanext-textcaptcha
https://github.com/Hoedic/ckanext-recaptcha

[2021-02-04 06:05] shubham-mahajan commented on #5788
@amercader Let me find some solution for that, what do you think about stopping registration by API?

And there are some extensions that are not supported by 2.9 yet, we are not adding that to current demo.ckan.org

[2021-02-04 06:08] Zharktas commented on #5788
Most spammers just fill forms, so disabling form registration should help. If the spammers actually use the api, there's really not much which can be done with open registration.

[2021-02-04 06:09] shubham-mahajan commented on #5788
@Zharktas But if registration is disabled, people will not be able to use any functionality in the portal.

[2021-02-04 06:15] pauldcollins opened #5877 "ERROR: 'humanize_entity_type' has not been defined."
I am using **CKAN 2.8.5**

I am trying to create a custom template for the Organizations home page.

I have copied the code from this page:
https://github.com/ckan/ckan/blob/cc000d3acf7401957d8321be53e8cabc2d9ebf3a/ckan/templates/organization/index.html

And I have created an `index.html` file under the same path:
`my_theme\ckannext\project_theme\templates\organization\index.html`

But, I the page

[2021-02-04 08:40] Zharktas commented on #5877
You need to customize templates from 2.8 branch https://github.com/ckan/ckan/blob/2.8/ckan/templates/organization/index.html
`humanize_entity_type` is helper function which is implemented only in master and therefore is released in the next major ckan release, thats why it's failing for you.

[2021-02-04 08:48] Sunny-NEC commented on #5835
As per my understanding by below files also need to be changed:

        doc/maintaining/installing/install-from-source.rst
	ckan/pastertemplates/template/bin/travis-build.bash_tmpl
	doc/maintaining/upgrading/upgrade-source.rst
	doc/maintaining/upgrading/upgrade-package-to-minor-release.rst
	.circleci/config.yml
	doc/contributing/test.rst
	doc/maintaining/installing/solr.rst
	doc/maintaining/insta

[2021-02-04 13:08] #5877 closed

[2021-02-04 14:44] amercader commented on #4597
Fixed in #5873

[2021-02-04 14:44] #4597 closed

[2021-02-05 10:30] #5670 closed

[2021-02-05 12:53] Gauravp-NEC commented on #5622
@amercader @jqnatividad , I have updated the deployment.ini_tmpl as per the sequence in document: https://docs.ckan.org/en/2.9/maintaining/configuration.html#ckan-configuration-file.

[2021-02-05 19:32] paulmueller commented on #5570
I can confirm that ``pytest-ckan`` needs to be installed for this to work. It is missing in https://github.com/ckan/ckan/blob/master/dev-requirements.txt. I get some other strange error when I run it with the ``--ckan-ini=test-core.ini`` option:
[code]
...but removing it seems to work for me at least for now (``ckan.tests.factories`` can be used and I just started to get going with tests).

[2021-02-05 20:53] geglne opened #5883 "Update Docker file with modern image that up to date in security patching"
**CKAN version**
Current (as of date of this issue) - maybe 2.9.1? https://github.com/ckan/ckan/blob/master/CHANGELOG.rst

**Describe the bug**
My background being mostly in Windows up to this point, I am not 100% sure how to verify this information, but it seems relatively accurate.

Please verify - the current image in the Docker file has `debian:stretch` defined. It appears that both debian:str

[2021-02-06 09:39] Gauravp-NEC commented on #5622
@amercader , I think we should have these configuration with their default value,even if it's commented out in the CKAN 2.9 configuration file ckan.ini as well. Please let me know your opinion.

[2021-02-07 11:48] paulmueller opened #5884 "Wrong docstring for of ckan.tests.helpers.call_auth"
**CKAN version** 2.9.1

**Describe the bug**
The docstring in ``ckan.tests.helpers.call_auth`` is wrong:
https://github.com/ckan/ckan/blob/master/ckan/tests/helpers.py#L153-L155

This function actually just returns a boolean value (return value of `logic.check_access`):
https://github.com/ckan/ckan/blob/master/ckan/logic/__init__.py#L248-L320

**Expected behavior**
The docstring should read s.th.

[2021-02-07 16:23] Gauravp-NEC commented on #5884
I am interest to work on this issue.

[2021-02-08 07:26] ArqumFarooqui-NEC commented on #5863
@kowh-ai sir, could you please suggest me,  how should I choose or how should I calculate the appropriate value for the connection pool (pool_size & pool_size)?
Thank you:)

[2021-02-08 08:03] Zharktas opened #5885 "Installing via pip does not install requirements"
**CKAN version**
2.7, 2.8

**Describe the bug**
Installing ckan via pip `pip install ckan==2.8.6` or `pip install ckan==2.7.9` does not install its requirements and the requirements file does not exist with the installed version.

**Steps to reproduce**
Run `pip install ckan==2.8.6` or `pip-compile requirements.in` where `ckan==2.8.6` is listed as requirement.

**Expected behavior**
Requirements s

[2021-02-08 08:04] pepa65 commented on #3625
Can this be reopened? I've followed the instructions for setup from scratch to the letter  on https://docs.ckan.org/en/latest/maintaining/installing/install-from-package.html and run into this in section 4.2 after `sudo ckan db init`. Something must be wrong/missing on that page (I got here by clicking "Edit on Github" as advertized on that page) and needs to be fixed.

[2021-02-08 11:37] Gauravp-NEC commented on #5884
@paulmueller, I am interest to work on this issue. What is the purpose of the Additional details that " It might actually be helpful for testing to return the dict that the auth function returns (via an additional keyword argument?)" ?

[2021-02-08 11:50] paulmueller commented on #5884
The original docstring says that it returns the "dict that the auth function returns". For writing test functions with pytest, it might be interesting to actually get the error message ``{'success': False, msg: 'important error message'}`` and check whether it is the right one.

Since returning the dictionary is not an option (would break all current tests), I thought it would be helpful to get th

[2021-02-08 21:00] reedv opened #5887 "Trying to invite new user to CKAN causes “Internal server error”?"
**CKAN version**
2.9.1

**Describe the bug**
A clear and concise description of what the bug is.
When trying to send an invite to a new user to join an Org in CKAN, I get an "Internal server error" message.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to an Organisation
2. Click Manage
3. Click the Members tab
4. Click Add Member
5. In the "New User" section, enter an email addre

[2021-02-08 21:47] mcarans opened #5888 "Bug: package_revise returns a list not str in the message value on error"
**CKAN version**
2.9

**Describe the bug**
package_revise returns a list in the message value eg.
[code]

**Steps to reproduce**
Specify a resource that doesn't exist when uploading eg. `update__resources__1__upload`

**Expected behavior**
Error is returned with a string message (judging by how ckanapi Python library handles the returned error message by attempting to "split" it)

**Additional det

[2021-02-08 22:13] reedv opened #5889 "Org Admins cannot enforce Private setting for a Dataset against Editor members"
**CKAN version**
2.9.1

**Describe the bug**
A clear and concise description of what the bug is.
Editors are able to set Datasets to Public even if an Admin has set them to Private.
This conflicts with my understanding on how CKAN works as described here (https://docs.ckan.org/en/2.9/user-guide.html#users-organizations-and-authorization) and here (https://ckan.org/portfolio/publish-and-manage-data

[2021-02-09 10:04] kowh-ai commented on #5874
I suggest you delete/clean up the docker environment (prune containers, images, volumes and network) and try again

`docker container prune`
`docker volume prune`
`docker network prune`
`docker system prune`

and then run `docker-compose up --build`

[2021-02-09 13:09] kowh-ai commented on #5724
@amikrop - CKAN 2.9.2 should be out tomorrow (Wed 10th Feb)...

[2021-02-09 15:08] kowh-ai commented on #5883
Thanks @geglne - yes the base image is currently `debian:stretch`. Installing CKAN using Docker (Compose) is in the process of a major overhaul and `alpine:<not sure yet>` will be used as the base image

[2021-02-10 07:34] Gauravp-NEC commented on #5884
@paulmueller , as discussed above I have raise the PR https://github.com/ckan/ckan/pull/5893 to fix this issue. Thankyou :)

[2021-02-10 07:55] paulmueller commented on #5884
@Gauravp-NEC I believe you misunderstood me. ``:ret_dict: False`` does not make any sense in the docstring. Also,

[code]

should not be there, since the function does not return a dict, it returns a bool.

[2021-02-10 08:27] Gauravp-NEC commented on #5884
@paulmueller , Thankyou for your quick response. I have update the PR.

[2021-02-10 08:44] mariatziak commented on #5536
I have the same issue. I enabled the datastore and datapusher in ckan.ini but the csv doesn't upload automatically in datastore and when I tried to upload it manually by pressing the upload to datastore button I receive the following error "Upload error: Could not connect to DataPusher." Is the issue resolved?

[2021-02-10 10:39] Gauravp-NEC commented on #5622
@amercader @jqnatividad , I have updated the deployment.ini_tmpl with all the default configurations and as per the sequence in docs: https://docs.ckan.org/en/2.9/maintaining/configuration.html#ckan-configuration-file in PR https://github.com/ckan/ckan/pull/5881

[2021-02-10 11:21] amercader commented on #5783
Patch releases 2.7.10, 2.8.7 and 2.9.2 were released 2021-02-10

[2021-02-10 11:21] #5783 closed

[2021-02-10 11:34] Zharktas commented on #5885
Tested this against 2.9.2 and requirements are parsed nicely with pip-compile, so backporting should be enough.

[2021-02-11 13:04] #5884 closed

[2021-02-11 13:16] kowh-ai commented on #5874
...And after the cleanup you should install CKAN **2.9.1** and apply this PR https://github.com/ckan/ckan/pull/5381

[2021-02-11 13:19] kowh-ai commented on #5863
@ArqumFarooqui-NEC - you could try more connections in the pool **(30)** and keep the overflow at 10 - see if that makes a difference

[2021-02-11 20:52] YukunYangNPF commented on #5724
Hi, I'm using the master branch and this problem still persists. Should I just use another version?

[2021-02-11 22:47] YukunYangNPF opened #5896 "Docker Install KeyError: 'pylons.app_globals'"
**CKAN version**
2.9.2
**Describe the bug**
Docker build failed with logs showing KeyError: 'pylons.app_globals'

[code]

**Steps to reproduce**
Steps to reproduce the behavior: docker install procedures

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional details**
If possible, please provide the full stack trace of the error raised,  or add screens

[2021-02-12 07:55] vicding-mi commented on #5724
both `master` and `2.9.1` have issues, especially when using docker, to be specific.
The working combi I am using is `2.9.1` and patch [9abeaa1](https://github.com/ckan/ckan/commit/9abeaa1b7d2f6539ade946cc3f407878f49950eb)

[2021-02-12 08:04] kowh-ai commented on #5724
As @vicding-mi mentions, CKAN **2.9.1** with Mark Stuarts PR mentioned. I'll try to see what has happened to the master branch when I get some time

[2021-02-12 15:25] wood-chris opened #5897 "Detail in change logs"
**CKAN version**
2.8 -> 2.9

**Additional details**

It would be useful to know if all changes needed to reflected in extensions. For example, `templates/organization/new.html` changed from 2.8 ([code](https://github.com/ckan/ckan/blob/2.8/ckan/templates/organization/new.html)) to 2.9 ([code](https://github.com/ckan/ckan/blob/2.9/ckan/templates/organization/new.html)).

For people who write extens

[2021-02-12 17:11] YukunYangNPF commented on #5724
I tried to checkout 2.9.1 and then merge with 9abeaa1

Still the same problem.

I've taken down the previous docker and prune the system before I did this.

Is there something wrong I've done with it?

[2021-02-12 18:24] kowh-ai commented on #5724
yeah that _should_ work...it does for me every time....

[2021-02-12 19:18] Chealer commented on #5276
Thanks @Gauravp-NEC
Regarding the bogus whitespace, I do not know how, but it was removed (it's not in current master).

[2021-02-12 23:15] vicding-mi commented on #5724
Remove all the related docker images, all the volumes, networks and do a clean build.

[2021-02-14 21:32] HilariousGil commented on #5297
I've encountered the same issue, and was wondering what are the necessary steps to make the current work done by @mutantsan into a future release? (unfortunately just missed the recent one)
If there is something I could be helpfull for that process please let me know.

[2021-02-14 21:49] tino097 commented on #5783
docs seems are not updated to 2.9.2

[2021-02-16 10:27] shevron opened #5899 "Allow uploaders to only override asset / resource uploading"
**CKAN version**
2.8.7, 2.9.2

**Describe the bug**
Currently, CKAN allows handling both image / asset uploading and resource uploading via the `IUploader` plugin interface. That interface allows plugins to return `None` from `get_uploader()` / `get_resource_uploader()` so that to signify that this uploader in not meant to handle that type of upload.

However, when trying to use two different plug

[2021-02-16 10:28] kowh-ai commented on #5896
@amercader -  Seems to have occurred on master _after_ the **2.9.1** release - Would the best option be to update the Docker CKAN build to use Python3 rather than continue with Python2? _or_ best to move to finishing up the clan-docker repo? (https://github.com/ckan/ckan-docker)

[2021-02-16 14:21] amercader commented on #5897
We do try to list all breaking changes in the CHANGELOG so that one slipped through the cracks. Perhaps it was part of the big refactor to support Flask on 2.9 and this particular case was missed.

[2021-02-16 14:21] #5897 closed

[2021-02-16 14:23] amercader commented on #5899
You are right that this is bad behavior. The convention in other plugin hooks across CKAN is that first plugin wins, so that should be the case here as well. If anyone wants to pick this up this should be an easy fix.

[2021-02-16 15:25] jqnatividad opened #5901 "DataTables view not documented"
**CKAN version**
2.9.2

**Describe the bug**
The built-in datatables_view is not documented.

[2021-02-17 15:31] turbatuandrei commented on #5536
I also encounter this issue in ckan version 2.9.2

[2021-02-18 12:12] maxclac commented on #5708
@ArqumFarooqui-NEC In the meantime, you can use these instructions [here](https://github.com/ckan/ckan/wiki/Install-and-use-Solr-6.5-with-CKAN). Hopefully, they will be integrated in the official instructions some day.

[2021-02-18 14:34] amercader commented on #5622
@Gauravp-NEC we discussed this in the dev meeting. We feel that having all options listed in the generated ini file might be overwhelming for users and more importantly, will be prone to get out of sync with the documentation.

Perhaps an initial stage would be to review the config options currently listed in the template and add/remove the ones we feel are more relevant to most users.
Ideally, th

[2021-02-18 18:50] pdekraker-epa opened #5904 "Uploaded files and activity stream history"
**CKAN version**
2.9.1

**Describe the bug**
When viewing an uploaded resource via the activity stream history, the url and downloaded filename match the prior version, but the file contents is the most recently uploaded file.  There is a red message a the top that could lead the user to believe that they would be getting the older version of the resource.

**Steps to reproduce**
Create a dataset

[2021-02-19 05:58] reedv commented on #5889
This issue appears to have been brought up here (https://lists-archive.okfn.org/pipermail/ckan-dev/2014-June/007641.html) as well.

[2021-02-19 18:03] wood-chris opened #5906 "Datasets not listed on the Dataset view"
**CKAN version**
2.9

**Describe the bug**
Datasets don't get listed in the dataset view

**Steps to reproduce**
With a vanilla 2.9 install:

 - create a new organization
 - create a new dataset associated with this organization

There are no extensions installed in this instance and the dataset is of type `dataset`. Solr has been reindexed using `search-index rebuild`

**Expected behavior**

The

[2021-02-20 14:11] amercader commented on #5788
@shubham-mahajan The site is flooded with spam again. Let's clean up the database again, put up some demo data and disable user registration for now. We can think of a workflow for registering trusted users later on.

[2021-02-20 18:58] wilberth915 commented on #5724
Is now working? I tried in Centos7 and Ubuntu 16.04 and is not working, master and 2.9.1 9abeaa1

[2021-02-20 22:30] YukunYangNPF commented on #5724
I did a thorough prune of docker and checkout 9abeaa1 one, and it worked. However, I still face some difficulties installing other's extensions. Don't know it's more like the docker issue or the version issue.

[2021-02-22 05:10] shubham-mahajan commented on #5788
@amercader Disable registration via both API and Web?

This sounds good to me for now.

[2021-02-22 05:44] duttonw commented on #5788
Maybe just web and see if it gets flooded again.
Could also create a non-admin user to show login and profile

[2021-02-22 10:12] ldv1452 opened #5908 "User email wrongly stored when there is a failed email invite"
**CKAN version**
2.9.2

**Describe the bug**
If the email server is not setup when inviting a user to register via email an error message is returned and no invite is sent out. However, the email used in the previous is stored internally so that when the user tries to register a message "Email already in use" is given.

**Steps to reproduce**
Steps to reproduce the behavior: as a organization admi

[2021-02-22 10:37] vicding-mi commented on #5724
We are talking about running in docker specifically. the docker environment is quite different than the stock centos or another other distribution. I've never installed CKAN directly on any OS, can you give docker/docker-compose a try?

[2021-02-22 10:44] vicding-mi commented on #5724
Yeah, this is quite troublesome. There are versions of Python, PIP, CKAN installed on the system, and they have different requirements and dependencies. Sometime, it can go circular.... Depending on the extension you are going to install, there will be specific requirements, specifically, on CKAN and Python/PIP. Which extension and version are you going to install? In some cases, the extension cou

[2021-02-22 20:07] wardi opened #5909 "fix view templates with custom resource_view auth"
**CKAN version**
master

**Describe the bug**
If the `resource_view_create` and `resource_view_delete` auth is restricted with an IAuthFunctions plugin the UI still presents create/edit forms to users without access.

**Steps to reproduce**
create an IAuthFunctions plugin like
[code]

and restrict view editing to sysadmin only
[code]

**Expected behavior**
Create/edit view should be hidden in the

[2021-02-23 10:45] wrinklenose commented on #4361
It seems, that setting `ckan.auth.public_user_details=False` in ckan 2.8.4 not only disables user details in the ui, but also affects API calls which usually deliver user information like [organization_show](https://docs.ckan.org/en/2.9/api/#ckan.logic.action.get.organization_show). In addition it seems to lead to a filtered output, where the whole users block is missing - independent from sending

[2021-02-23 11:32] Zharktas commented on #4361
@wrinklenose most things in CKAN are built on top of the API, so setting public_user_details to false removes it not only from the user interface but also from all API functions that previously included details about users. From top of my head this would include user_list, user_show, organization_list, organization_show, group_list and group_show, might be others too. Any request by registered use

[2021-02-23 13:29] amercader commented on #5908
There's an existing pull request to purge users if the invite failed that should address this issue: https://github.com/ckan/ckan/pull/5879

[2021-02-23 13:29] #5908 closed

[2021-02-23 13:40] amercader commented on #5906
@wood-chris I can't reproduce this on a standard 2.9 install so it's likely an environment issue.

Things to check (or double check)
* No plugins are loaded (see /api/action/status_show)
* Datasets are of type "dataset"
* Datasets have "state=active" (not draft, deleted, or anything else)
* No weird (non-default) [search settings](https://docs.ckan.org/en/latest/maintaining/configuration.html#sear

[2021-02-23 13:53] wardi commented on #5904
Let's update the red message to include "resource files may not match the old version of the data" or similar and make sure it's shown on dataset and resource pages.

[2021-02-23 18:02] wood-chris commented on #5906
Hi @amercader - thanks for the pointers!

1. http://localhost:5000/api/3/action/status_show returns:

[code]

with the error being

[code]

[I think this is a bug - no extensions are returned, which returns None rather than an empty dictionary, so can't be `split`]

2. from the `ckan_default database`:

[code]
3. nothing strange in search settings:

[code]

4. package_list:

http://localhost:5000/

[2021-02-23 19:03] microshadow opened #5913 "Scheming & Fluent extensions don't work in new CKAN 2.9"
**CKAN version**
2.9
**Describe the bug**
A clear and concise description of what the bug is.
upgrading ckan from 2.8 to 2.9 gets an error called "permission error".

**Steps to reproduce**
Steps to reproduce the behavior:
N/A

**Expected behavior**
A clear and concise description of what you expected to happen.
if do not add scheming & fluent extension, it works fine, but once those extensions we

[2021-02-24 10:02] amercader commented on #5906
Apologies @wood-chris , for point 5 I meant `ckan -c /etc/ckan/default/development.ini search-index show <dataset-name>`

[2021-02-24 10:13] wood-chris commented on #5906
@amercader that's ok:

[code]

I had meant to add I did wonder if this is related to what I asked on gitter about none of my packages being shown as being indexed when I run `(default) ckan@ckan:/usr/lib/ckan/default/src/ckan$ ckan -c /etc/ckan/default/development.ini search-index check`

[code]

What do you think?

[2021-02-24 12:51] amercader commented on #5906
Interesting. So `ckan search-index rebuild` is lying when it says "Indexing dataset 9/9"... Or something is clearing the index immediately afterwards.

That discrepancy in the number of datasets (9 != 4) could be a clue (or could be nothing, `check` queries for `active` datasets, so `rebuild` could be using an additional 5 drafts)

This is a bit puzzling. The only thing I can think of is around mu

[2021-02-24 13:19] wood-chris commented on #5906
Yes, there are non-active datasets:

[code]

this is on a VM with a single CKAN instance (a VM spun up _just for_ CKAN dev / testing)

[code]

Totally changing `ckan.site_id` makes no difference, nor does removing `/tmp/%(ckan.site_id)s/`

[2021-02-24 15:08] wood-chris commented on #5906
Ahhh! I've tracked it down 🎉

It happens if the value of `ckan.site_id` is surrounded by quotes.

[code]

if we remove the quotes, even if the site id has spaces in, then the packages **are** indexed:

[code]

I'll leave it up to you to decide if this is an actual bug, or something that is by design but should be documented :)

[2021-02-24 16:21] Gauravp-NEC opened #5915 "Groups Activity Stream do not have detailed "changes" in UI"
**CKAN version**
   2.9

**Describe the bug**
If there is any change in Groups, it only logs that the Groups has been updated.

**Steps to reproduce**
   Make changes to a Group and check the Activity Stream.

**Expected behavior**
   The  Groups Activity Stream should show the differences.

**Additional details**
  This is similar to Dataset detailed Activity Stream.

[2021-02-24 17:28] timvanoijen commented on #5828
@amercader: I am wondering how this issue will proceed (it is my first submitted CKAN issue so dont know the procedure). Will this be picked up some day? I can create a PR if this helps... (still the experts should form their opinion).

[2021-02-24 17:31] wardi commented on #5828
@timvanoijen a PR would certainly help discussion, the idea you suggest above seems good to me.

[2021-02-24 23:37] YukunYangNPF commented on #5724
I'm installing ckan on the was server from package. Now a lot of the extensions are not working properly, e.g. pdf_view. Also, almost all the ckan themes extensions I can search on Github cannot work.

I'm also looking at this, and it did show me a lot of the extensions have not migrated to py3.
https://github.com/ckan/ckan/wiki/Python-3-migration-guide-for-extensions

[2021-02-25 11:06] Gauravp-NEC commented on #5771
@amercader @jqnatividad , I have raise the PR https://github.com/ckan/ckan/pull/5912 to fix this issue.

[2021-02-25 12:39] amercader commented on #5906
Success! :tada:

This makes sense, I was suspecting it was something related to `ckan.site_id` but couldn't figure what.

The reason this is happening is that when *querying* we are removing the double quotes from the string [here](https://github.com/ckan/ckan/blob/6a77d2895e219e13fb38dd7f3ff33687f4609505/ckan/lib/search/query.py#L336) using `solr_literal()`:

https://github.com/ckan/ckan/blob/6a7

[2021-02-25 13:12] Zharktas commented on #5915
Only datasets currently have detailed changes view and this needs an implementation similarly as in #5771.

[2021-02-25 13:17] wardi commented on #5913
scheming definitely works with Python 3 but fluent needed https://github.com/ckan/ckanext-fluent/pull/32 , now merged. Would you try again and if you get an error please post the full traceback or screenshot with url where you see the error.

[2021-02-25 13:35] Gauravp-NEC commented on #5915
@Zharktas, I am interested to work on this issue.

[2021-02-26 07:44] avkash08 opened #5918 "Is CKAN supported with AWS CloudSearch in place of Solr?"
**CKAN version**
ckan 2.8.6

**Describe the bug**
Trying to integrate CKAN with AWS CloudSearch but getting error "No schema supplied"

**Steps to reproduce**
1. Launch an AWS CloudSearch Service
2. Update CloudSearch's search domain in "CKAN_SOLR_URL" environment variable and deploy.
Note: I am doing this is EKS cluster and CKAN is running as a kubernetes Pod.

**Expected behavior**
CKAN should b

[2021-02-26 09:06] jgrieb commented on #5883
Does this mean that CKAN docker setup should currently not be used in production? When is this major overhaul planned to be released (in terms of weeks/months/years)?

[2021-02-26 12:21] amercader commented on #5883
@jgrieb we don't have a timeline for this yet as it depends on resources (I'd say months). In the meantime is best to rely on a supported setup like the [Keitaro](https://github.com/keitaroinc/docker-ckan) or [OKF](https://github.com/okfn/docker-ckan) ones

[2021-02-26 14:58] Chealer commented on #5115
@Gauravp-NEC the proposal contradicts @amercader 's 2019-12-16 claim about spaces. Are you sure spaces are supported? In general, management systems do not support spaces in tag names.

[2021-02-26 15:13] gasti10 commented on #4576
Hello everyone, could you find the solution to the error?

[2021-02-26 17:31] jgrieb commented on #5883
@amercader  Okay, thank you for the info!

[2021-02-26 18:34] wood-chris opened #5919 "solr returns 404 on Tomcat"
**CKAN version**
2.9.2

**Describe the bug**
Following the 2.9.2 instructions, `solr` returns a 404 error

**Steps to reproduce**
Steps to reproduce the behavior:

Following the instructions at https://docs.ckan.org/en/2.9/maintaining/installing/install-from-source.html:

[code]

**Expected behavior**
It should return a 200 response! :)

[2021-02-26 18:39] YukunYangNPF opened #5920 "Is there a way to call helper function in a javascript?"
Hi, I'm trying to visualize the dataset summary statistics and put it on the home page. For example, a heatmap showing the number of docs in that category in a specific year.

I know I can generate some site stats by calling helper functions or template functions, but that data will be accessible to jinja, right? How can I make it accessible to a custom javascript script so it can load the data an

[2021-02-28 15:24] paulmueller commented on #5490
Any updates on this one? The workaround I mentioned before does not anymore work with API tokens. A new workaround is to check whether "email" is set for a user in the user list.

[2021-03-01 01:22] ThrawnCA commented on #4361
Just to note, we've been using the tighter restrictions described in #3441 (only group admins can see user profiles beyond their own) for over a year on www.data.qld.gov.au without problems. (Initially there were a few hang-ups regarding authorization bypasses to reset forgotten passwords, but we've patched those now in [our fork](https://github.com/qld-gov-au/ckan/) and everything appears to be w

[2021-03-01 01:29] jqnatividad commented on #5901
Will create in-depth documentation once #5917 is merged.

[2021-03-01 11:35] padmalcom commented on #5585
Same on ckan 2.9.1 and SOLR 8.7.0. This simply requires a new schema, right?

[2021-03-01 14:56] gamesbook commented on #5572
@kowh-ai "Yes this fix will be included in CKAN 2.9.2" - this error does not occur in 2.9.2 but is replaced by another error instead #5896 - is there a version of CKAN that can be just pulled and built via Docker without errors?

[2021-03-01 16:46] checkbook-org opened #5922 "Suggest updating postgis image to official postgis docker images"
https://github.com/ckan/ckan/blob/40f127af93fd09b89c1a86206563986417dd1214/contrib/docker/postgresql/Dockerfile#L2

Postgis now provides their own docker images, which are updated with latest postgres db versions:

https://hub.docker.com/r/postgis/postgis

Suggestion updating the source docker image.

[2021-03-02 07:14] Gauravp-NEC commented on #5922
I am interested to work on this issue.

[2021-03-02 13:14] amercader commented on #5922
Thanks @Gauravp-NEC  that would be great

[2021-03-02 13:15] amercader commented on #5919
Does http://localhost:8983/solr/ckan/ work?

[2021-03-02 14:43] checkbook-org commented on #5922
Great!  I edited contrib/postgresql/Dockerfile to use
FROM postgis/postgis

docker-compose up –build
succeeds, but I haven’t gotten the whole installation running yet (I’m new to CKAN).

Let me know if there’s anything I can do to help.

Eric

From: Gauravp-NEC <notifications@github.com>
Sent: Tuesday, March 2, 2021 2:15 AM
To: ckan/ckan <ckan@noreply.github.com>
Cc: Eric Ellsworth <eellsworth@che

[2021-03-03 09:38] gamesbook opened #5925 "Docker CKAN version 2.8.7 - build failure"
**CKAN version 2.8.7**

**Describe the bug**

The Docker fails to build:
[code]

**Steps to reproduce**

Checkout the 2.8.7 version and run the Docker build process.

**Expected behavior**

Container should build with no errors.

**Additional details**

None.

[2021-03-03 10:13] Zharktas commented on #5925
Pip 21 dropped support for python2 and will cause errors. As CKAN 2.8.x is only supporting python2, pip should be pinned to max 20.x versions.

[2021-03-03 11:16] gamesbook commented on #5925
I assume that means a patch is required for the 2.8 Docker script(s)?

[2021-03-03 15:22] maxclac commented on #5887
I am running into the same problem. I would ask you the following: have you tried to set up your own SMTP server or would you like to use and external one?

[2021-03-04 04:35] reedv commented on #5887
Shouldn't the `postfix` service act as the SMTP server? In any case, just tried to test via
[code]
and found that the `mail` command could not be used because I did not have `mailutils` installed.
Could that have been a problem?

Can't test with CKAN atm since am currently installing a extension related to user access (https://github.com/NaturalHistoryMuseum/ckanext-ldap)

[2021-03-04 04:37] smotornyuk commented on #5920
You can encode your data into JSON and print it on the right side of an assignment operator inside `script` tag:

[code]

[2021-03-04 05:57] ThrawnCA opened #5927 ""Full name" field should have a different label"
The "Full name" field on user profiles is actually the publicly displayed name. For privacy reasons, it may not be desirable to encourage users to enter their full real name in this field. Perhaps it could be relabelled to "Displayed name" or similar.

[2021-03-04 09:14] u10313335 opened #5931 ""New view" button does not work in CKAN 2.7.9 and 2.7.10"
**CKAN version**

2.7.9 and 2.7.10

**Describe the bug**
Exactly the same error as #4260. In the browser console it shows the `Uncaught Error: Syntax error, unrecognized expression: #` error.

**Steps to reproduce**
Install the CKAN 2.7.9 or 2.7.10. Under the "Manage" page for the created resource, click the "Views" tab. Then try to click the "New view" button.

**Expected behavior**
There should

[2021-03-04 13:04] etj opened #5932 "sqlalchemy setting "pool_pre_ping""
**CKAN version**

Introduced in commit https://github.com/ckan/ckan/commit/ae9eb1360028a77b35506716eed2768349827806 which is related at least to 2.9.0, 2.9.1, 2.9.2.

**Describe the bug**

This is the ckan code:
[code]

This is the sqlalchemy function:
[code]

I guess the `pool_pre_ping` config is not taken into account by sqlalchemy since it's missing the prefix.

[2021-03-04 13:12] amercader commented on #5932
Sounds good, want to submit a PR @etj

[2021-03-04 13:15] amercader commented on #5927
Sounds good @ThrawnCA . Maybe we should change the form label though, not the po files.

[2021-03-04 13:20] Zharktas commented on #5931
Apparently the fix just needs to be backported, thanks for flagging this.

[2021-03-04 14:51] paulmueller opened #5933 "No way to reliably serve large files through uWSGI + nginx"
**CKAN version** 2.9.2
(I am using the default setup with Ubuntu 20.04 and nginx+uWSGI as described in the docs)

**Describe the bug**
There is no reliable and efficient way of serving large files from CKAN via nginx+uWSGI.

**Steps to reproduce**
- Initially I ran into this bug where I could not download files larger than 1.08GB. This was solved
  1. with the nginx configuration option (in `locat

[2021-03-04 15:08] paulmueller commented on #5933
If it helps, I only run into https://github.com/ckan/ckan/issues/4576, if I have previously started a resource download of a private dataset:

[code]

[2021-03-04 15:08] paulmueller commented on #5933
And I also get this:

[code]

[2021-03-04 16:40] YukunYangNPF opened #5935 "Unable to add/update groups using API. Validation Error"
**CKAN version**
master

**Describe the bug**
I was trying to add groups when creating packages and updating packages, both failed.

`{'help': 'http://ec2-100-25-34-117.compute-1.amazonaws.com/api/3/action/help_show?name=package_update',
 'error': {'__junk': ["The input field [('group', 0, 'name')] was not expected."],
  '__type': 'Validation Error'},
 'success': False}`

**Steps to reproduce**
`g

[2021-03-04 23:39] ThrawnCA commented on #5927
Well, there doesn't seem to be anywhere else that tries to translate 'Full name', and if we're renaming it, then it makes sense to me that it should be renamed everywhere. But I can update the form if you'd prefer.

[2021-03-05 00:12] ThrawnCA commented on #5927
@amercader In preparation for updating translations, I ran `python setup.py update_catalog` without parameters, and it made extensive changes to normalize all the PO files (eg changing comment from "Translations template for CKAN" to "Amharic translations for CKAN", moving whitespace in concatenated strings from the end of one string to the beginning of the next, combining short lines into one). I

[2021-03-05 09:40] Anupamskd7 opened #5938 "CKAN Internationalization issue"
**CKAN version**
CKAN v2.8.0

**Describe the bug**
CKAN supports internationalization of its User-Interface in various languages by default. But there are several words and sentences that remain untranslated due to the language file has issues.

**Steps to reproduce**
Steps to reproduce the behavior:
For example: Select Japanese as the default GUI language in the development.ini file.
Go to the Fo

[2021-03-06 01:09] YukunYangNPF opened #5943 "How to add extra/facet as the filter when using package_search?"
Hello, I have two extra fields in the dataset: one is Year and the other is Region.

I know want to use the API to see how many documents are there within each Region from each Year.

I'm using the package_search to get the "count". However, I cannot get desirable results. When I added both of them into the facet.field. They the data are paralleled not nested.

[code]
Result:
[code]

What I want i

[2021-03-06 01:09] YukunYangNPF commented on #5920
It worked. Thanks a lot.

[2021-03-06 01:09] #5920 closed

[2021-03-06 11:52] ccancellieri commented on #4128
Getting the same with CKAN-2.8.6 and tomcat-solr

solr-common/bionic-updates,bionic-security,now 3.6.2+dfsg-18~18.04 all [installed,automatic]
  Enterprise search server based on Lucene3 - common files

solr-tomcat/bionic-updates,bionic-security,now 3.6.2+dfsg-18~18.04 all [installed]
  Enterprise search server based on Lucene3 - Tomcat integration

Not sure if related but everything was working t

[2021-03-07 17:47] jqnatividad opened #5944 "local_friendly_datetime snippet example error"
**CKAN version**
N/A

**Describe the bug**
The example in the snippet is incorrect.

`{% snippet 'snippets/local_friendly_datetime, datetime=pkg_dict.metadata_created %}`

should be

`{% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}`

[2021-03-07 19:21] jqnatividad opened #5946 "render_datetime helper does not respect ckan.display_timezone configuration"
**CKAN version**
N/A

**Describe the bug**
[`ckan.display_timezone`](https://docs.ckan.org/en/latest/maintaining/configuration.html#ckan-display-timezone) sets the timezone to use when displaying dates on the frontend.

The `render_date` template helper however,  still uses UTC even if `ckan.display_timezone` is set to a non-UTC timezone.

**Expected behavior**
`render_datetime` should respect the

[2021-03-08 06:47] Zharktas opened #5947 "Adding images via links in organization, group and site logos result on broken URLs"
**CKAN version**
2.8

**Describe the bug**
When adding images via links or clearing them, result is broken url.

**Steps to reproduce**
Add image, clear it.

**Expected behavior**
URL should be link itself or nothing if cleared.

**Additional details**
Backporting https://github.com/ckan/ckan/pull/5020 should fix this.

[2021-03-08 13:22] #5650 closed

[2021-03-08 19:36] wood-chris commented on #5919
Sorry for the delay :)

No, that didn't work either!

[code]

[2021-03-09 02:56] reedv commented on #5889
One workaround I can think of is to modify the file(s) that present the Edit UI/form to Editor users to remove the Private/Public switch. Could you point to where on in the CKAN files I can find this logic?

[2021-03-09 05:53] shubham-mahajan commented on #5490
@paulmueller It is agreed in (https://github.com/ckan/ckan/pull/5504#issuecomment-760974628) that we will not be using a separate method but will create a flag in the request for that.

I will create a PR soon for that

[2021-03-09 08:06] Zharktas opened #5951 "Limiting amount of data fetched in the API by default"
# Problem
Currently many of the APIs include extra data by default which can be turned off with parameters. For example [organization_show](https://docs.ckan.org/en/2.9/api/index.html#ckan.logic.action.get.organization_show) includes dataset count, extras, users, groups, tags and followers. When developer only wants the basic info, for like checking if the organization exists, he needs to remember

[2021-03-09 13:08] #5944 closed

[2021-03-09 14:56] #5835 closed

[2021-03-09 15:28] frafra commented on #5697
@Sunny-NEC what would you like to know?
CKAN uses an old version of Select2 and the new one provides nifty features. In addition to upgrade the package, a migration has to be done (meaning adapting existing Javascript code) - see Zharktas' last link.

[2021-03-09 16:42] InnovPlantProtect commented on #5725
hello, just joining this thread as i run exactly in the issue described initially by @davidshumway I have installed CKAN v2.9.2 on a VM (Ubuntu 20.04) using package as i opted for a "simple" installation of CKAN. However, i wanted to add extensions (e.g. geo-view and pdf-view) and add some customised extensions and from what i understood from your comments i should install CKAN using source method

[2021-03-10 05:07] #4805 closed

[2021-03-10 06:11] Zharktas commented on #5951
It was agreed that these should be turned off for at least in the APIs that fetch data from database. Documentation must be updated to reflect the change and change log should have an entry to notify extension developers that their extensions might break.

[2021-03-10 12:52] etj opened #5953 "sqlalchemy raises a "Can't reconnect until invalid transaction is rolled back""
**CKAN version**

2.9.2 / Docker

The error happens on an Azure deploy, don't know whether it happens also elsewhere.

**Describe the bug**

After a while CKAN is not used, on a page request this error is raised:

    sqlalchemy.exc.StatementError: (sqlalchemy.exc.InvalidRequestError) Can't reconnect until invalid transaction is rolled back
    [SQL: SELECT system_info.id AS system_info_id, system

[2021-03-10 17:16] YukunYangNPF opened #5954 "Alternatives for adding duplicated keys for the extra?"
**CKAN version**
master
**Describe the bug**
Hello, I'm trying to add a field in the extra, called it "related chapter", however, one dataset could have multiple chapters related, but I cannot set multiple keys with the same name in the extra. Is there a way to circumvent this issue? Or I can only use groups or tags to do this. But I do want to group them into one category so I can search with fac

[2021-03-11 06:36] Zharktas commented on #5946
`render_datetime` should respect display_timezone setting as it calls https://github.com/ckan/ckan/blob/5aad00921d68721decc0b31b7007d31e0b8b5c15/ckan/lib/helpers.py#L1709 which calls
https://github.com/ckan/ckan/blob/5aad00921d68721decc0b31b7007d31e0b8b5c15/ckan/lib/helpers.py#L180 But of course there might be a bug in there.

[2021-03-11 11:13] Gauravp-NEC commented on #5922
@amercader , I have raise the PR https://github.com/ckan/ckan/pull/5957 to fix this issue.

[2021-03-11 13:04] #5922 closed

[2021-03-11 14:10] #5932 closed

[2021-03-11 14:12] wardi commented on #5954
[github just ate my comment, that's frustrating]

Free-form extras don't support repeating the same key multiple times.

Consider using ckanext-scheming instead. We just added support for `multiple_text` fields https://excess.org/scheming-subfields/#multiple-text and if your values are from a controlled list of choices you can also use `multiple_select` or `multiple_checkbox` presets with a choice

[2021-03-11 14:12] #5954 closed

[2021-03-11 14:58] jqnatividad commented on #5946
Yes. I thought so myself.

However, an earlier check on line 174 if a datetime has timezone info short-circuits it and never reaches line 180.

https://github.com/ckan/ckan/blob/5aad00921d68721decc0b31b7007d31e0b8b5c15/ckan/lib/helpers.py#L174-L182

[2021-03-12 10:13] markpilkku opened #5959 "Cannot upload several files through uWSGI + nginx and multiple uWSGI workers"
**CKAN version**
CKAN: v.2.9.2
PostgreSQL: 12.6 (Ubuntu 12.6-0ubuntu0.20.10.1)
psycopg2: 2.8.2 (dt dec pq3 ext lo64)
uWSGI: 2.0.19.1
nginx: 1.18.0 (Ubuntu)

Other modules used but imo irrelevant regarding the bug: datapusher, datastore, ckanext-blob-storage, giftless

**Describe the bug**
When CKAN is used with uWSGI+Nginx and uWSGI is configured to use several [workers](https://uwsgi-docs.readthe

[2021-03-12 10:29] Zharktas commented on #5959
_table_metadata is used in datastore, so datapusher and datastore are probably related to this. Could you disable datapusher and see if the error still pops up ?

Are you uploading the files to different datasets or the same one ? Uploading multiple files to single dataset is not supported in the UI.

[2021-03-12 11:48] markpilkku commented on #5959
True! A very important detail I forgot to mention. There is custom plugin written in React which enables multi-file upload. In the screenshot below I attached two files for the same dataset and then pressed upload. For the second file uploading failed:

![network](https://user-images.githubusercontent.com/79199982/110936280-522d3100-8339-11eb-8f95-c17747e0b4b0.png)

If disable I am not able to upl

[2021-03-12 11:57] Zharktas commented on #5959
Due to technical reasons if you call multiple `resource_create` functions in parallel, only one of the resources will remain in dataset. You should use the new  `package_revise` api instead, see https://github.com/ckan/ckan/pull/4618 for more details.

The error you are getting, is not probably related to that though.

[2021-03-12 12:28] markpilkku commented on #5959
@Zharktas, thanks! I will give a try to `package_revise` with multiple files. However, if I use a single worker in uWSGI and send several `resource_create` I get these files uploaded successfully to the same dataset:

![network2](https://user-images.githubusercontent.com/79199982/110940053-fb2a5a80-833e-11eb-8da8-0fd258a3d1bb.png)

[2021-03-12 12:49] Zharktas commented on #5959
If the `resource_create` calls start and finish in the same order, it probably won't create a problem. Technically every time `resource_create` finishes it calls `package_update` to add newly created resource to the dataset. If multiple `resource_create` calls finish about the same time, the `package_update` might be called in a state where one or multiple of the new resources do not exist and the

[2021-03-12 14:29] jqnatividad opened #5960 "Theming guide still links to Bootstrap 2"
**CKAN version**
2.9.2

**Describe the bug**
Theming guide still links to Bootstrap 2

**Expected behavior**
Should refer to Bootstrap 3 instead

[2021-03-12 18:50] YukunYangNPF opened #5962 "Datastore doesn't support excel files"
**CKAN version**
master

**Describe the bug**
I was trying to upload some xlsx files and have their previews. I've xloader installed to push them to the data store. However, it failed and return the error:
Error: Can't read Excel file: XLRDError('Excel xlsx file; not supported

[2021-03-15 02:53] YujiAzama opened #5963 "Cannot download postgis:11"
**CKAN version**

CKAN 2.9.2 (master)

**Describe the bug**

Postgis cannot be downloaded when installing with Docker Compose.

[code]

**Steps to reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Command completes successfully.

[2021-03-15 10:11] #5963 closed

[2021-03-15 15:06] amercader opened #5965 "Templates not overriden due to plugin ordering issues in 2.9"
Tl;DR:

* `PluginImplementations` return plugins in the order that their class (extending `SingletonPlugin`) is first evaluated, not when the plugin is loaded
* This causes issues like the template folders always being loaded in a particular position
* Let's ignore how pyutilib returns the plugins and always enforce the order in the ini file

---

This is related to https://github.com/ckan/ckan/is

[2021-03-16 09:57] ArqumFarooqui-NEC opened #5966 "Memory of ckan_default processes are increasing continuously."
**We are using CKAN2.7.2(Docker)**

**Describe the bug**
Memory of CKAN container and it's ckan_default processes are increasing rapidly. As memory usage increases to some extent, ckan container get restarted. Please find attached screenshot:

![2fix_memory_usage_1 week](https://user-images.githubusercontent.com/55977298/111279843-2378c880-8661-11eb-98a6-8325445d44da.png)

**Note:**
  **Graph cont

[2021-03-16 10:28] Zharktas commented on #5593
Fixed in #5594

[2021-03-16 10:28] #5593 closed

[2021-03-16 13:35] Zharktas commented on #5962
[Messytables](https://github.com/okfn/messytables) which is used both in datapusher and xloader use [xlrd](https://pypi.org/project/xlrd/) to parse excel files, doesn't support xlsx files at all. CKAN itself does not parse csv or excel files, so the issue needs to be raised in messytables to support xlsx files.

[2021-03-16 13:35] #5962 closed

[2021-03-16 15:37] #5960 closed

[2021-03-16 16:32] pdekraker-epa opened #5967 "Handling of multiple IPermissionLabel Plugins"
**CKAN version**
2.9

**Describe the bug**
Not sure if this a bug or an undocumented behavior, but if multiple plugins have the IPermissionLabel interface only the first is used. I added an extension that had the capability to do permission labels (although I didn't use them) and it overrode my existing functionality. I was able to solve my problem by turning off the Permission Label interface for

[2021-03-17 12:23] markpilkku commented on #5959
@Zharktas I think we have here two separate problems:

1) `resource_create` is not concurrency safe as stated in #4618 and you should either use it once (not multi-file upload as I did) or use alternative concurrency safe methods (such as you mentioned `package_revise`).

2) There is still a deeper concurrency issue even if you call `resource_create` once i.e. upload only a single file. As long as

[2021-03-17 15:04] kowh-ai commented on #5966
Honestly this could be anything...Are you able to run a memory profiler against this? Are you able to try this outside of a Docker setup?

[2021-03-17 20:00] jqnatividad opened #5968 "Add jinja2 loop controls extension and remove defunct with_ extension"
**CKAN version**
master

**Describe the bug**
The jinja2 loop control extension adds `continue` and `break` statements in jinja templates.  The with_ extension is no longer needed as its built-in as of jinja2 2.9.

There's an existing PR for this - https://github.com/ckan/ckan/pull/5519

[2021-03-18 04:50] reedv commented on #5889
In the process of addressing the API question here: https://groups.google.com/a/ckan.org/g/ckan-dev/c/UKZ9iWTugvI/m/aHzgtWwlCQAJ

[2021-03-18 13:58] wardi commented on #5967
@pdekraker-epa it wasn't obvious how to combine multiple IPermissionLabel plugins and since this is a security-related extension I decided to keep it simple and only take the first defined plugin. For now you'll have to paste the rules from each plugin you want to combine into a new plugin.

If you can think of a simple way to combine multiple IPermissionLabels plugin that is unlikely to cause dat

[2021-03-18 18:26] jqnatividad opened #5971 "Unable to specify sort collation in datastore_search"
**CKAN version**
master

**Describe the bug**
`datastore_search` allows the user to specify the sort clause with the sort parameter.

However, it doesn't allow the user to pass the collation to use for the sort.

**Expected behavior**
The user can optionally specify the collation to use in the sort parameter, e.g.
`field1 asc, field2 desc, field3 desc COLLATE "naturalsort"`

**Additional details**

[2021-03-19 13:22] VladimirZD opened #5973 "Email validators block email addressees with space at the end"
**CKAN version**
2.9.2
**Describe the bug**
If you enter email address with space at the end, validators don't allow it.
IT isn't major problem, but it would be nice if address can be trimmed before validating and saving..

**Steps to reproduce**
Steps to reproduce the behavior:
When creating new dataset in author email enter address with space at the end (or start) " test@example.com "

**Expecte

[2021-03-20 11:33] timvanoijen commented on #5799
I am also looking into improving datastores insert performance. Instead of using SQLAlchemy (which apparently needs an upgrade to exploit the fast-execution helpers), can't we just directly use psycopg2.extras:

            cursor = context['connection'].connection.cursor()
            psycopg2.extras.execute_batch(cursor, sql_string, rows)

on line 1068 in postgres.py: (https://github.com/ckan/ck

[2021-03-20 16:55] jqnatividad opened #5975 "Datastore_search doesn't allow "hybrid" searches"
**CKAN version**
master

**Describe the bug**
The `datastore_search` q parameter can either do a table-wide FTS query OR a per-field query, but not both.  Per the [API doc](https://docs.ckan.org/en/2.9/maintaining/datastore.html#ckanext.datastore.logic.action.datastore_search):

**Expected behavior**
A table-wide FTS query combined with per-field query should be possible. Right now, the validator

[2021-03-23 15:59] #5097 closed

[2021-03-23 16:16] kabeza commented on #332
Same problem here. No good UX about this

[2021-03-25 03:54] shubhamsharma10 commented on #5931
Please review the patch and if it is OK then please merge it to master branch. @amercader @Zharktas

[2021-03-25 05:33] reedv opened #5986 "Following extensions tutorial for package-installed CKAN throws permission errors"
**CKAN version**
2.9.1

**Describe the bug**
A clear and concise description of what the bug is.
Trying to follow the extensions tutorial (https://docs.ckan.org/en/2.9/extensions/tutorial.html ), but have the problem where I installed CKAN via package (https://docs.ckan.org/en/2.9/maintaining/installing/install-from-package.html ) which has you do things via `sudo` (actually the source install has

[2021-03-25 06:12] reedv commented on #5986
Fixed the issue by using the command...
[code]
...(after recalling a similar experience I had (https://github.com/NaturalHistoryMuseum/ckanext-ldap/issues/65#issuecomment-781277591 )).

Is this a bug of something? Are the docs not right?

**Basically, even though the virtualenv is active (as can be seen by the (default) at the start of the bash command lines I entered), when you use `sudo` the sys

[2021-03-25 08:17] Gauravp-NEC commented on #5771
@amercader @jqnatividad , I have raise the PR https://github.com/ckan/ckan/pull/5985 to fix this issue.

[2021-03-25 14:34] jqnatividad opened #5989 "Filtered Downloads only works on first invocation"
**CKAN version**
master

**Describe the bug**
In datatablesview filtered downloads, a user can apply a filter and download a subset of a resource in various formats (CSV, TSV, JSON, XML).

However, it only works properly on first invocation. Unless the page is reloaded, on subsequent invocations, it will always download the subset in the first format chosen.

**Steps to reproduce**
* create a reso

[2021-03-25 15:29] paulmueller commented on #5933
@smotornyuk Since you were assigned, could this be related to the fact that I am getting this message in my logs:

`Python threads support is disabled. You can enable it with --enable-threads`?

[2021-03-26 03:09] reedv opened #5992 "Custom validator args (value, context) not as described in docs (not schema value, not session details)"
**CKAN version**
2.9.1

**Describe the bug**
A clear and concise description of what the bug is.
Attempting to create a dataset field extension plugin as described in the docs (https://docs.ckan.org/en/2.9/extensions/adding-custom-fields.html#validator-value-context) and seeing that for my custom validator...

1) it appears the `value` and `context` objects are in swapped positions to how they are

[2021-03-26 05:08] reedv commented on #5992
Oddly, if I change the function a 3-parameter signature, like...
[code]
I do actually see a `dict` get passed:
[code]
But, if I use the 4-parameter signature (one that is actually described in the docs (https://docs.ckan.org/en/2.9/extensions/adding-custom-fields.html#validator-key-flattened-data-errors-context) unlike the 3-param version I use above), I get an args-mismatch error:
[code]

[2021-03-26 05:43] reedv commented on #5992
I think I understand what's going on. Because I'm defining my custom validator within my plugin class...
[code]
...the `self` object is getting passed in as the first arg. That is why when I print the first object in the logs, I see `<Plugin PublicrestrictiondatasetsPlugin 'publicrestrictiondatasets'>`; it's the `self` object.

Editing the function signature to look like...
[code]
...then the fact

[2021-03-26 08:55] reedv commented on #5889
Made my own extension to do what I needed: https://github.com/reedv/ckanext-publicrestrictiondatasets

Adds restrictions to datasets so that only sysadmin users can set visibility to Public. This is in order to make CKAN's behavior match closer how it is described here (https://ckan.org/portfolio/publish-and-manage-data/).

(I still hide the API as described here https://groups.google.com/a/ckan.o

[2021-03-26 08:55] #5889 closed

[2021-03-26 21:52] paulmueller commented on #5933
I just had another look at this issue and I found that I could set `proxy_temp_path` in the nginx `location` config to keep free space on my root partition:
[code]
which uses the network share mounted on `/data` (where the large files are stored) as a temporary path for downloaded files.

Interestingly, on a machine that has a block storage mounted on `/data` (instead of an NFS share) with the sam

[2021-03-29 06:43] smotornyuk commented on #5933
Hi, @paulmueller

As for NFS / local fs issue, I have no clue what's going on.  But i'm sure you can solve `__Global` error when you increasing the number of workers inside uwsgi config, by adding `lazy-apps = true` to that config file. This option will postpone application initialization and all the child threads will have their own set of global variables(they are missing in your case and it cau

[2021-03-29 09:22] amercader commented on #5986
@reedv I think the main issue here is that the expectation is that users will use the [source install](https://docs.ckan.org/en/2.9/maintaining/installing/install-from-source.html) when developing extensions. In fact this is one of the scenarios listed in the main install page:

A development setup using a package install, although possible doing some workaround (as you've found out), is not recom

[2021-03-29 09:22] #5986 closed

[2021-03-29 09:24] amercader commented on #5973
@VladimirZD that makes sense. Actually a generic `trim_value` validator that is applied in most text fields would be a really good addition.
In the meantime you can implement a [custom schema](https://github.com/ckan/ckanext-scheming) for your extension and add the trim validator to the email field.

[2021-03-30 04:22] heru commented on #4116
Hi there,

same problem with others. is this has been resolved ? or I missed something ?

[2021-03-30 20:14] paulmueller commented on #5933
I can confirm that the `__Global` goes away when using `workers` in combination with `lazy-apps = true`.

[2021-03-30 21:23] paulmueller commented on #5933
I believe I have figured out how to solve this issue and it now makes a lot more sense to me that CKAN is running on uWSGI behind nginx. Below I pasted my current `ckan-uwsgi.ini` file. I enabled caching of downloads in nginx via `proxy_max_temp_file_size` and `proxy_temp_path`. I believe there is no way around this because if I had to deal with 100 clients at the same time, then I would need 100

[2021-03-30 23:46] jqnatividad opened #5997 "datastore_search doesn’t support “null” field searches"
**CKAN version**
master

**Describe the bug**
`datastore_search` does not support "null" searches in field mode

**Steps to reproduce**
Call `datastore_search` in field mode by passing a dict to the q parameter.  Passing a null string in an attempt to search for null values in a field does not work.

**Expected behavior**
Searching for null values with `datastore_search` in field mode works by usi

[2021-03-31 01:34] #5965 closed

[2021-03-31 01:44] smotornyuk commented on #5933
Your solution really looks like the best option in current conditions. Unfortunately, there is no recommended\better option and it has been a problem for quite a long time. When it's possible we are trying to use [ckanext-cloudstorage](https://github.com/TkTech/ckanext-cloudstorage) or some sort of similar extension that moves all the files to the cloud and reduces the load of CKAN web-nodes. In t

[2021-03-31 10:13] shubham-mahajan commented on #5788
@amercader This is done

[2021-03-31 11:10] paulmueller commented on #5933
Thank you for the quick reply. Yes, I can see how XSendfile would be good (nginx would not have to cache downloads anymore). With your blessing, I am closing this one.

[2021-03-31 11:10] #5933 closed

[2021-03-31 14:47] etj opened #5998 "DB INIT error when using usernames with non-alphanumeric chars"
**CKAN version**

Master 713716b0689bf848865f05acd328ded29f041c5a (2.9.something)

**Describe the bug**

DB usernames with non alphanum chars will terminate in error the command `ckan db init`.

**Steps to reproduce**

Create a pg user with for instance a "`@`" in it, then update `ckan.ini` with the proper URL,
e.g.: user `ckan@ckan`:

    sqlalchemy.url = postgresql://ckan@ckan:ckan@localhost/cka

[2021-03-31 21:56] paulmueller commented on #5933
FYI Regarding the  NFS / local fs issue, I found out that nginx is still using disk space in the local fs case. Nginx apparently creates the cached file and immediately deletes it while writing to it. Therefore, `du -sh` did not show any file system usage. `df -h` on the other hand should show usage (in this case, the block storage on `/data` was too large to see the difference).

For the NFS case

[2021-04-01 04:51] #5989 closed

[2021-04-01 04:52] #5901 closed

[2021-04-01 12:10] #5998 closed

[2021-04-05 16:46] #5831 closed

[2021-04-05 16:46] #5832 closed

[2021-04-06 07:51] Gauravp-NEC commented on #5915
@Zharktas , I have raised the PR https://github.com/ckan/ckan/pull/6002 to fix this issue.

[2021-04-06 11:56] anuveyatsu commented on #5801
I think using alias in the Data API modal makes a lot of sense :+1:

We may work on this one if no work has been done so far.

[2021-04-07 14:38] chris48s opened #6004 "Can't change group type with organization/group update/patch operations"
## CKAN version

CKAN 2.8, CKAN 2.9

## Describe the bug

I recently wanted to change the type of an organisation on a CKAN instance via the API. I made an API call like this:

[code]

This returned a response:

[code]

and did not update the type field.

This happens because the `type` field in the request body is ignored here:

https://github.com/ckan/ckan/blob/170556a97f38d42b94474943ccab4cef19

[2021-04-08 13:17] smotornyuk commented on #4804
#5970 - done

[2021-04-08 13:17] #4804 closed

[2021-04-08 13:24] amercader commented on #6004
Summary from our discussion in the dev meeting:

* If not allowed and the field value is always overridden the API call should fail with an error as suggested
* We could allow type changes on orgs/groups and datasets but:
  * we need to ensure that the schema for the new type is used for validation
  * it's up to the user to provide a data_dict that passes validation according to the new schema
*

[2021-04-09 04:13] Gauravp-NEC commented on #5973
@amercader @VladimirZD , I am interested to work on this issue.

[2021-04-09 09:23] amercader opened #6006 "Authorization error when a non-sysadmin user deletes a group/org"
**CKAN version**

\>=2.7

**Describe the bug**
When a non-sysadmin user deletes a group or organization, they get a 403 Not Authorized error. The group/org gets actually deleted.

This is because after deleting the group/org we are calling `group_show` on the deleted entity:

https://github.com/ckan/ckan/blob/170556a97f38d42b94474943ccab4cef19fd9d49/ckan/views/group.py#L1039

AFAICT we are not usi

[2021-04-09 11:59] amercader commented on #4413
@u10313335 @linforestzhang @TkTech could you please check https://github.com/ckan/ckan/pull/6008? I think that is a good compromise between doing things as Babel expects them and supporting old URLs.

[2021-04-09 12:57] amercader commented on #5973
@Gauravp-NEC here's what I would suggest:

* Create a new `strip_value` validator in `validators.py` that trims whitespace at either end of the provided value. Something simple like:
[code]
* Add it to the relevant (all?) text fields in the [dataset schema](https://github.com/ckan/ckan/blob/3ec23fec9f904019a246372e60ea228de258b6c3/ckan/logic/schema.py#L102) (and you can also add them to other sche

[2021-04-11 20:24] ceroego commented on #3085
Can you please be specific about the change syntax? It is for a rookie!
Thanks!

[2021-04-11 20:32] ceroego commented on #3625
Please help Pepa and me.
Can this be reopened?!?!

[2021-04-12 11:44] Gauravp-NEC commented on #5899
@amercader , I am interested to working on this issue. What is your suggestion to do in this issue?

[2021-04-12 12:45] spectatorcharlie opened #6010 "UI Shows in English When Traditional Chinese or Simplified Chinese Is Selected"
**CKAN version**
CKAN 2.9.2

**Describe the bug**
UI shows in English even though Traditional Chinese or Simplified Chinese is selected under Language.

**Steps to reproduce**
1. Open localhost:5000
2. Select Traditional Chinese or Simplified Chinese under Language
3. UI still shows in English

**Expected behavior**
UI should be displayed in Traditional Chinese or Simplified Chinese

**Additional

[2021-04-12 15:53] TkTech commented on #3625
Does your password contain special characters?

[2021-04-12 16:23] ceroego commented on #3625
At first I use &, but then I change after reading that solution and replace the pass word in that line in the config file, I was finally able to make it work (also by trying source installation)

I also tried to put toguether Ckan with Docker compose but Docker is very unstable managing ports, and also because Docker is trying to use some thing s from python2 but I got already python 3 last versio

[2021-04-12 16:49] ceroego commented on #3625
The logs give me this:

diego@diego-X450CC:~/ckan-docker/ckan/contrib/docker$ docker-compose logs ckan
Traceback (most recent call last):
  File "urllib3/connectionpool.py", line 677, in urlopen
  File "urllib3/connectionpool.py", line 392, in _make_request
  File "http/client.py", line 1277, in request
  File "http/client.py", line 1323, in _send_request
  File "http/client.py", line 1272, in end

[2021-04-13 08:02] amercader commented on #6010
@spectatorcharlie This was reported in #4413 and I pushed a potential fix here: https://github.com/ckan/ckan/pull/6008
Would be great if you could try it out and provide feedback in the pull request, thanks!

[2021-04-13 08:02] #6010 closed

[2021-04-13 14:21] Zharktas opened #6012 "Bootstrap 5 Upgrade"
The release of Bootstrap 5 is fast approaching and at the time of this writing beta3 is already released. There is old unfinished PR #5423 and it's probably smarter to upgrade straight to Bootstrap 5 instead of finishing the upgrade to 4 and then upgrade again in the near future.

This requires migrating from less to sass which has been used by bootstrap since bootstrap 4.
* Convert all less files

[2021-04-13 14:26] jqnatividad opened #6013 "Linkification does not work properly near truncation point in datatables view"
**CKAN version**
master

**Describe the bug**
Datatables view does automatic "linkification" (makes links clickable).  It also truncates text and adds an ellipsis at `ckanext.datatables.ellipsis_length` characters (default:100, and can be overridden on a resource view's configuration), optimizing for a more compact grid with each record on one line.  On hover, the full text is displayed as a toolt

[2021-04-13 15:04] alantygel opened #6015 "Create user with invalid SMTP credentials raises error 500 and "half creates user""
**CKAN version**
2.9.2

**Describe the bug**
After misconfiguring my SMTP credentials, I tried to create an user and it raised a 500 error. After fixing the credentials, I could not create the user with the same email, again with a 500 error, because CKAN thinks that there is already an user with that email, which is not true.

Part of this issue relates to https://github.com/ckan/ckan/issues/5820

[2021-04-13 15:06] jqnatividad opened #6016 "Update Ubuntu 16.04 references in installation documentation"
**CKAN version**
master

**Describe the bug**
Some sections of the documentation still refer to Ubuntu 16.04, which will reach end-of-life April 30, 2021.

 - https://github.com/ckan/ckan/blob/master/doc/maintaining/installing/install-from-source.rst
 - https://github.com/ckan/ckan/blob/master/doc/maintaining/installing/install-from-docker-compose.rst

**Expected behavior**
Update installation doc

[2021-04-13 15:16] wardi commented on #5975
Let's add a new parameter for full text search, how about:
- full_text (string) – full text query search on all fields on each row (optional)
- q (dictionary) – a dictionary as {“key1”: “a”, “key2”: “b”}, will match records on each specific field (optional). if a string is passed treat it like it was sent to the full_text parameter, for backwards compatibility only.

[2021-04-13 15:29] jqnatividad commented on #5975
That approach looks good to me.

It might be worthwhile to mention in the apidoc  that when both are specified, the search result set will be the UNION (logical OR) of both search parameters' result sets.

[2021-04-13 15:33] alantygel commented on #6015
Just checked that the same issue applies after deleting an user; i.e., it is not possible to re-create an user with the same email as a deleted user because CKAN thinks that e-mail is still in use.

[2021-04-13 15:37] alantygel commented on #6015
Apparently the issue is already been dealt with in https://github.com/ckan/ckan/pull/5879.

[2021-04-13 15:37] #6015 closed

[2021-04-13 15:39] wardi commented on #5975
why not AND? That's how the column filters work, right?

[2021-04-13 15:40] wardi commented on #5975
it's also kind of strange UI to add a search and get more results back than before

[2021-04-13 16:28] jqnatividad commented on #5975
You're right, it should be the INTERSECTION (logical AND) of both result sets.

I just got confused by the current search highlighting behavior of datatables_view.  Right now, if you do both a table-wide and a column filter search, it will apply search highlighting for both even though it only effectively uses the column filter, giving the user the false impression that its using both filters.

Do

[2021-04-13 20:18] hq-ods opened #6018 "RSS Feed uses package_read instead of package_show"
**CKAN version**
2.8.6
Seems to be present in master

**Describe the bug**
RSS output generated by feed results in:

"Bad request - Action name not known: package_read"

Due to package_read being used instead of package_show

https://github.com/ckan/ckan/blob/f8d26482f6c0164a8f6b3b3b0b627df529fedef0/ckan/views/feed.py#L177

**Steps to reproduce**
Configure RSS feed for organization or dataset

**E

[2021-04-14 05:29] #4413 closed

[2021-04-14 06:13] u10313335 commented on #4413
LGTM, thanks @amercader!

[2021-04-14 11:55] Gauravp-NEC commented on #5904
@wardi , I am interested to work on this issue.

[2021-04-14 13:29] wardi commented on #5904
@Gauravp-NEC this should be a simple message text change. Go for it.

[2021-04-15 11:47] Zharktas commented on #5951
Based on the docs this mainly concerns `group_show` and `organization_show`. The changes require turning defaults to false, updating docs and fixing tests.

[2021-04-15 12:54] markpilkku opened #6021 "Authentication API and/or Access-Control-Allow-Credentials flag for a separate front-end"
I am writing a separate JS front-end for CKAN and looking for the ways to authenticate into CKAN from the front-end. In version 2.9 came the feature of [API tokens](https://github.com/ckan/ckan/pull/5146), but still in order to get a token, one needs to log in somehow. I see here three possible solutions listed from the easiest to the most complex:

1) A user logs into JS front-end, which via HTTP

[2021-04-16 08:47] #6021 closed

[2021-04-16 09:00] amercader commented on #6012
@Zharktas Could point 1 (less -> sass) be done independently with the current Boostrap 3 templates? Maybe using something like https://github.com/twbs/bootstrap-sass in the interim until we don't move to 5. Or is it not worth it and makes sense to do it all in one go?

[2021-04-16 09:08] Zharktas commented on #6012
@amercader yes, sass conversion can be done with bootstrap3. There is a official port of bs3 for sass https://github.com/twbs/bootstrap-sass

[2021-04-16 09:12] Zharktas commented on #6012
And I think it would make sense to make it as separate PR, so it would merged faster to master.

[2021-04-16 15:41] cfotnz commented on #5597
Hey, I'm using 2.9.2 and facing the exact same issue. Is it going to be fixed in the next release?

[2021-04-19 01:46] u10313335 commented on #5931
I found another PR related this issue and needed to be backported: #3720.

[2021-04-19 02:28] JeffreyGreenII opened #6027 "Docker-Compose installation fails to initialize Postgres DB service"
**CKAN version**
2.9.2

**Describe the bug**
When using Docker-compose to setup a clean install of CKAN, it fails to initialize to Postgres `db` service properly due to an already initialized data directory (`/var/lib/postgresql/data`), causing CKAN to fail to connect, preventing the service from standing up correctly (eg. `localhost:5000` unexpectedly drops the connection)

**Steps to reproduce**

[2021-04-19 11:30] Sunny-NEC commented on #5947
hi , @amercader  i would like to work on this issue.

[2021-04-19 12:23] pdelboca opened #6028 "Activity queries getting slow (~15 seconds) when following entities."
## CKAN version
Tested in 2.9.2 but probably also happening in master

## Describe the bug
`<lib/helpers.py:2567(new_activities)>` spikes to ~15 seconds if the user is following 2 or 3 organizations (with around 200 datasets each) in a ~1000+ dataset system. This makes the system unusable since this helper is called in almost every request to the UI.

**Without following organizations (50 ms):**
C

[2021-04-20 04:54] Gauravp-NEC commented on #5690
@amercader @jqnatividad , I am interested to work on this issue.

[2021-04-20 06:40] ThrawnCA opened #6030 "Password reset doesn't work well with external homepage hosting"
**CKAN version**

2.8, 2.9

**Describe the bug**

After requesting or performing a password reset, there is a hardcoded redirect to the homepage. This works so long as CKAN is using its own homepage, but if the site owner chooses to host the homepage externally on a CDN, then it will be unable to display or consume the flash messages.

It would be good to have an option to make the target of this

[2021-04-20 06:49] armori commented on #4935
@debbielee1996 happening to me right now. Any solution? CKAN 2.8.7, Python 2.7, Ubuntu 18.04 here.

[2021-04-20 09:28] chenxj2020 opened #6032 "Centos Ckan: can open http://localhost:5000, but not http://myIP:5000，and also failed to log in ckan"
CKAN 2.9.2 on Centos 7

When I run ckan test, I can open http://localhost:5000, but can not open http://myIP:5000，it shows that: unable to connect.
In addition, when I log in ckan with the default username and password, it shows the same result as opening http://myIP:5000.

Appreciated for any reply.

[2021-04-20 13:06] #6016 closed

[2021-04-20 13:33] kowh-ai commented on #6027
Iv'e just tested a fresh install (of CKAN master) and don't seem to get the same issue as you...Did you prune all your data volumes? Is there any data on your machine that could be getting _mapped_ into the docker container?

[code]

I shelled in also to see the following
[code]

[2021-04-20 13:40] kowh-ai commented on #6032
Are you running the **Dev server** `ckan -c /etc/ckan/default/ckan.ini run`?

If so are you passing the `--host` and `--port` args in too?

[2021-04-20 17:20] #5874 closed

[2021-04-20 17:20] #5896 closed

[2021-04-21 00:51] chenxj2020 commented on #6032
Thank you.

 Yes, I run ckan test by commands:
 ckan -c /etc/ckan/default/ckan.ini db init  (it shows Initialising DB: SUCCESS),
 ckan -c /etc/ckan/default/ckan.ini run

But I didn't see any information about "passing the --host and --port args".
Do I need to set some parameters? Where to set?

Thank you very much.

[2021-04-21 02:22] JeffreyGreenII commented on #6027
Hey @kowh-ai, thanks for looking into this.

For context, I am using exactly `tag: ckan-2.9.2`. I did that by running `git checkout tags/ckan-2.9.2`, just for clarity (first time really dealing with Git tags surprisingly)

To be absolutely sure (and because I don't use docker for much to begin with), I went ahead and removed everything from my local Docker by using:
`docker stop $(docker ps -q); d

[2021-04-21 04:21] Zharktas commented on #6027
I stumbled on this yesterday and can confirm that the fix is working. Made a PR yesterday to fix it :)

[2021-04-21 04:52] kowh-ai commented on #6032
Check out https://docs.ckan.org/en/2.9/maintaining/cli.html

[2021-04-21 09:17] kowh-ai commented on #6027
Iv'e just tried both including and not including the `PGDATA` environment variable in the docker compose config file. Both work for me...the only difference being where the data (eg: `pg_hba.conf`) ends up...I'm on MacOS

[2021-04-21 14:14] jqnatividad opened #6034 "DataTables view tooltips in mobile browsers"
**CKAN version**
master

**Describe the bug**
DataTables view makes extensive use of tooltips by using the generic HTML `title` attribute which works fine on desktop browsers.

However, on mobile browsers, they do not work.

**Steps to reproduce**
View a resource using datatables view on a mobile browser.

**Expected behavior**
Tooltips should be displayed in a consistent manner across browsers/pl

[2021-04-22 05:25] #5771 closed

[2021-04-22 05:28] Zharktas opened #6037 "Changes view for organizations does not show changes in extras"
**CKAN version**
master

**Describe the bug**
Changes view was implemented in #5985, it does not however show changed in extras.

**Steps to reproduce**
Modify organization custom fields, view changes.

**Expected behavior**
The change in extras should be show in changes view.

[2021-04-22 05:52] Gauravp-NEC commented on #6037
@Zharktas , I am interested to work on this issue.

[2021-04-22 08:39] Gauravp-NEC commented on #5915
@Zharktas ,  I have raise the PR https://github.com/ckan/ckan/pull/6040 to fix this issue.

[2021-04-22 08:40] Gauravp-NEC commented on #5904
@wardi @pdekraker-epa , I have raise the PR https://github.com/ckan/ckan/pull/6041 to fix this issue.

[2021-04-22 10:43] Gauravp-NEC commented on #5973
@amercader @VladimirZD , I have raise the PR https://github.com/ckan/ckan/pull/6042 to fix this issue.

[2021-04-22 11:48] pauldcollins opened #6043 "h.url_for not working in some templates"
**CKAN version**
2.8

**Describe the bug**
I'm having trouble using `h.url_for` in the `resource_read.html` template. I can't see what I need to import to be able to use it, so I'm not sure if it's an error.

Basically, I'm trying to copy the link from the `resource_view.html` page and use it in the `resource_read.html` template. But for some reason it breaks when I use `h.url_for`

`href="{{ h.ur

[2021-04-22 13:04] #6027 closed

[2021-04-22 13:34] Zharktas commented on #6043
I doubt url_for is the issue here. When you copy and paste helper calls between templates and it fails, you probably are missing some variable from the new template. It should tell you why it fails in the logs or in the UI itself if you turn on the debug mode.

[2021-04-22 13:41] wardi commented on #6028
+1 for rewriting the activity queries for each specific use case. This would let us optimize for each case and identify query improvements and missing indexes to improve performance.

Like our other APIs activities are not using index-based pagination. Now might be a great time to switch to index-based (activity date in this case) pagination and stop using integer offsets in queries which are much

[2021-04-23 05:31] Zharktas opened #6045 "Plugin order for translations is reversed"
**CKAN version**
2.8, 2.9, master

**Describe the bug**
If the developer has multiple plugins implementing ITranslation interface and has the same translation keys in them, the last plugin wins.

**Steps to reproduce**
Create two plugins with ITranslation interface and the same translation key.
Translations from last plugin will be used.

**Expected behavior**
Translations from the first plugin sh

[2021-04-23 06:20] pauldcollins commented on #6043
Thanks @Zharktas for your email, you were correct - it's not the `url_for` that's the issue. I've managed to get it working, more or less - at least the page is no longer breaking but I have one last problem.

The `view_id` is not being passed correctly, which means the **Resource View** page is producing a 404 when I click to it. The original code from the  `resource_view.html` file uses `view_id

[2021-04-23 08:31] Zharktas commented on #6043
@pauldcollins in `resource_read.html` the resource view is parsed here https://github.com/ckan/ckan/blob/1e10689a4e9936069cb1c0b2fc8bf630c530c246/ckan/templates/package/resource_read.html#L114...L122 as there can be multiple resource_views.

[2021-04-23 08:34] Zharktas commented on #6043
But as this is not a bug in CKAN and is more of support request, I'll convert this to discussion.

[2021-04-23 08:34] #6043 closed

[2021-04-25 09:58] #6030 closed

[2021-04-27 04:59] #6013 closed

[2021-04-27 09:29] jb3-2 commented on #3922
Hi everybody, I’d really love to see this implemented. Thanks for all your great work! J.

[2021-04-27 10:28] #5609 closed

[2021-04-27 13:32] wardi commented on #6045
like other similar issues this might be fixed with a `reversed()` in places that have `for p in PluginImplementations(ITranslation)`

[2021-04-27 23:17] ddazal opened #6050 "WSGI server is not starting up"
**CKAN version**
2.9.2

I followed the steps to install CKAN from source successfully in a server with Ubuntu 20.04.2 LTS installed. That is, I can see the demo homepage on port 5000 whenever I run the server. However, after finishing step number 7 of the [deploying a source install page](https://docs.ckan.org/en/latest/maintaining/installing/deployment.html) all I see in the browser is `Internal

[2021-04-28 08:23] ffinkdevs commented on #5953
same issue here on 3 systems since updating from 2.8 to 2.9.2

[2021-04-28 08:46] ffinkdevs commented on #5953
seems to happen every 1000 requests?

 34 msecs (HTTP/1.0 200) 4 headers in 220 bytes (1 switches on core 0)
...The work of process 7332 is done. Seeya!
worker 1 killed successfully (pid: 7332)
Respawned uWSGI worker 1 (new pid: 4759)
2021-04-27 18:42:45,390 ERROR [ckan.config.middleware.flask_app] (psycopg2.OperationalError) SSL error: decryption failed or bad record mac

[SQL: SELECT system_info

[2021-04-28 09:29] hecht-software opened #6051 "i18n js files are empty and datasets are not shown"
**CKAN 2.9.2**

Ubuntu 18.04

**Describe the bug**
The error occurs after upgrading from Python 2.7 to 3.6.
When navigating to a dataset the data isn't shown, but a loading spinner animation.
The devtools reveal there was an XHR call to `/api/i18n/de` which responded with a 500 error status code.
The web server logs contain an error message:
`File "/usr/lib/ckan/default/lib/python3.6/site-packages

[2021-04-28 11:05] theksch opened #6052 "Nested data can't be inserted into datastore depending on its location in the data"
**CKAN version**
2.8.4

**Describe the bug**
I want to add GeoJson data to the datastore of a resource. I noticed, that depending of the placement of the nested part of the data, the data cannot be inserted into the datastore. When the nested part is the first field in the datastore the data can't be added. If I move the nested part to the end of the data, the data can be inserted without any prob

[2021-04-28 11:44] theksch opened #6053 "Visualization of nested data shows additional properties"
**CKAN version**
2.8.4
Plugin: Data Explorer (recline_view)

**Describe the bug**
When inserting GeoJson data into the datastore, the DataExplorer shows values that are not included in the data. When I request the data via api the data is returned without the additional fields.

**Steps to reproduce**
1. Create a new Ressource:
[code]
2. Create a datastore for the resource
[code]

3. Insert data i

[2021-04-28 13:56] hecht-software opened #6054 "UTF-8 not supported in resource_formats.json"
**CKAN version**

CKAN 2.9.2
Ubuntu 18.04
Python 3.6

**Describe the bug**
When trying to upload a resource I get a message "Internal server error".

The log file reveals an error that occurs when resource_formats.json is loaded:
`ValueError: Invalid JSON syntax in /usr/lib/ckan/default/src/ckan/ckan/config/resource_formats.json: 'ascii' codec can't decode byte 0xc2 in position 4411: ordinal not i

[2021-04-28 18:42] kottfer opened #6055 "CKAN treats text value "t" as timestamp in preview."
**CKAN version**
2.9.2

**Describe the bug**
I uploaded my first csv dataset to CKAN.  The last column of my csv file contains the value "t" (unit of measurement). However, in preview on ckan webpage instead of value t, the column contains a timestamp with the current date. Everything else works fine. After downloading the file from ckan and opening it on my computer, it's back to t again.

**Step

[2021-04-29 13:53] #5765 closed

[2021-04-29 13:53] #6028 closed

[2021-04-30 00:21] ThrawnCA commented on #5717
@q2ingxiaoyin https://github.com/qld-gov-au/ckanext-csrf-filter/tree/develop is preparing for its first release. Are you able to try it out? Any feedback is welcome. (NB The latest changes are on the 'develop' branch, but will be merged to 'main' soon.)

It's a standalone and improved version of the filter code used in `ckanext-qgov` and `ckanext-security`. There shouldn't be any configuration set

[2021-04-30 05:37] Gauravp-NEC commented on #6054
@hecht-software , You have committed the fix in your own master branch. It will not get review/merge unless and until you commit this fix on CKAN master branch.

[2021-04-30 08:55] kowh-ai commented on #6050
Can you please run a `cat -vet /etc/ckan/default/ckan.ini` and post the output - thanks!

[2021-04-30 11:50] ddazal commented on #6050
HI @kowh-ai this is the full output

[code]

[2021-04-30 13:26] wardi commented on #5717
Would a `SameSite: Strict` on our cookies offer similar protection as CSRF tokens, assuming the request hasn't been created with XSS in CKAN? https://owasp.org/www-community/SameSite

Adding `SameSite: Strict` is definitely a simpler change.

[2021-04-30 13:57] amercader commented on #5931
Both #3720 and #4350 will be in 2.7.11

[2021-04-30 13:57] #5931 closed

[2021-04-30 23:52] ThrawnCA commented on #5717
If the browser supports the SameSite attribute, then it should work, yes. There are a few edge cases where tokens would work better, but SameSite takes care of most cases.

[2021-05-01 16:08] jqnatividad opened #6060 "DataTables view does not work when a resource does not have resource.size defined"
**CKAN version**
master

**Describe the bug**
DataTables view shows some resource metadata as a tooltip.

![Screenshot from 2021-05-01 11-54-00](https://user-images.githubusercontent.com/1980690/116787844-83da9280-aa74-11eb-96fa-7ce6f7ddc69d.png)

However, when the resource's `size` attribute (the "**( 3.9 k)**" on the last line of the tooltip in the screenshot above) is undefined, you get an erro

[2021-05-01 20:10] sivang commented on #4990
@wardi @smotornyuk any idea if this got merged / fixed in any form?

[2021-05-02 14:29] jqnatividad opened #6062 "DataTables View does not reset to the first page when incrementally adding column filters"
**CKAN version**
master

**Describe the bug**
A user can enter multiple column filters incrementally.

However, if a user enters a column filter, and then change the page towards the end of the result set, datatables view will show an empty page when additional column filters are added.

**Steps to reproduce**
1. Create a datatables view on a resource
2.  Add a column filter
3.  Go to the last pag

[2021-05-03 06:42] Sunny-NEC commented on #5947
sir i  setup a ckan 2.9 in my system and it is already fix in the version 2.9. so i stop working in this issue and looking forward to another one.

[2021-05-04 11:27] Gauravp-NEC commented on #6037
@Zharktas @amercader , I have investigated this issue and found that:

**1. Creating an organization does not have "Custom Field" while editing an organization have the "Custom Field".**

**2. Organization metadata diff table does not include the "extras" field while dataset metadata diff table have the "extras" field in it. It should be present whether its value is empty.**

![image](https://user

[2021-05-04 12:30] jqnatividad commented on #5597
Any ETA on a fix for this? I can confirm that the workaround (using LocalSession) works. Has the team considered reverting back in the meantime?

[2021-05-04 12:51] wardi opened #6070 "Spec: IUserForm"
Create a new plugin interface IUserForm that allows extending the user create/update form and validation for users the same way IDatasetForm does for packages and IGroupForm does for orgs and groups.

The user model has plugin_extras #5382 to store extra metadata fields. plugin_extras are namespaced at the top level so that separate plugins could each add internal fields they need. For metadata we

[2021-05-04 13:34] #6062 closed

[2021-05-04 13:51] #6060 closed

[2021-05-04 14:14] wardi commented on #6070
`store_public_extra` and `load_public_extra` will require passing the user object in the context. I think this makes sense for other uses such in implementing validators that can check if a value is being changed.

[2021-05-05 08:22] #5973 closed

[2021-05-05 11:05] #5904 closed

[2021-05-05 11:09] ElenaKusevska opened #6071 "Small error in Macedonian translation"
**CKAN version**
2.8.2-2.9.2

**Describe the bug**
There is a minor error in the Macedonian ("mk") translation of CKAN. The string "upload resource" is incorrectly translated.

---------------------

I would like to correct this. Is it possible to include the correction in older ckan versions as well? We have some older projects that are still running on ckan 2.8.7.

[2021-05-05 13:41] tino097 commented on #6071
@ElenaKusevska please check the translations to [transifex](https://www.transifex.com/okfn/ckan/language/mk/)

[2021-05-05 15:04] ElenaKusevska commented on #6071
@tino097 I just sent a request to join the team for Macedonian translations. I can't view the link otherwise. By the way, sorry, I'm a new to CKAN, how often do you update the translations in CKAN from transifex?

[2021-05-05 15:09] tino097 commented on #6071
@amercader can you please add @ElenaKusevska  to [Macedonian translation](https://www.transifex.com/okfn/teams/11162/mk/) team on transifex

@ElenaKusevska we have few efforts to translate a bit more but at the end we end translating only with 2.8 and 2.9 releases.

[2021-05-05 15:14] ElenaKusevska commented on #6071
@tino097 Thanks for the reply. 2.8 and 2.9 is what we need at the moment. By the way, if we make the correction on transifex, when does it get included in the translations on the ckan repo?

[2021-05-05 15:16] tino097 commented on #6071
@ElenaKusevska it will be in the next patch releases

[2021-05-05 15:20] ElenaKusevska commented on #6071
@tino097 Thank you. I'll look into the translations when I have access.

[2021-05-05 19:22] amercader commented on #6071
@ElenaKusevska you should have access now!

[2021-05-05 19:23] amercader commented on #6071
@ElenaKusevska to your question, yes, if you update the translation on Transifex it will be included in the next patch release.

[2021-05-05 19:32] wardi opened #6072 "Spec: plugin_extras for Package and Group models"
Replace group and package extra tables with plugin_extras JSON fields as implemented in the User model

With #6070 implemented we'll have a working example of public extra fields implemented on top of plugin_extras. Migrate group and package extras to `plugin_extras['public']` to add private fields on datasets and improve performance.

Package and group extras are currently stored as key/value str

[2021-05-06 06:25] Sunny-NEC commented on #5946
@Zharktas @jqnatividad   I would like to work in this issue But I have following queries :
                          -  Is this issue is specific to a version of CKAN ?
                          -  Where time is displayed in CKAN UI?

[2021-05-06 09:26] Gauravp-NEC opened #6073 ""Extras" field is missing in organization's changes view metadata diff table in UI"
**CKAN version**
   Master

**Describe the bug**
   Organization's changes view was implemented in https://github.com/ckan/ckan/pull/5985 but its metadata diff table displayed on UI does not include "extras" field like dataset metadata diff table.

It should be present whether its value is null like "image_url" and "description" in below image :

![Image1](https://user-images.githubusercontent.com

[2021-05-06 09:59] ElenaKusevska commented on #6071
@amercader Thank you :)

[2021-05-06 10:00] ElenaKusevska commented on #6071
@amercader Will that be for older versions of ckan (2.8.7), or only the latest one (2.9.2)?

[2021-05-06 10:04] ElenaKusevska commented on #6071
@amercader Sorry for asking before checking. I just saw that you have translations for each version of ckan.

[2021-05-06 10:05] amercader commented on #6071
@ElenaKusevska whichever you update on Transifex! If you update both the ckan-2.8 and ckan-2.9 resources it will be available to both.

No worries, ask as much as you need.

[2021-05-06 10:05] ElenaKusevska commented on #6071
@amercader Thank you :)

[2021-05-06 10:23] ElenaKusevska commented on #6071
@tino097 The same typo is present in both the ckan-2.8 and the ckan-2.9 version of the translation on transifex. "update resource" is translated as "ажурирајње на ресурс". There's an extra j. I submitted the suggestion for both versions.

[2021-05-06 12:17] tino097 commented on #6071
@ElenaKusevska i think you can do the translations too

[2021-05-06 13:59] adborden opened #6074 ""AttributeError: 'CKANTestApp' object has no attribute 'reset'" when using FunctionalTestBase"
**CKAN version**
2.9.2

**Describe the bug**
Updating my extension for CKAN 2.9 and getting this error when extending with FunctionalTestBase during the `setup()`

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a test that extends FunctionalTestBase

[code]

2. Run your test, e.g. `pytest --ckan-ini=test.ini --disable-warnings ckanext/datagovtheme/tests/test_datagovtheme.py`

**

[2021-05-06 15:32] #6071 closed

[2021-05-07 12:50] ElenaKusevska commented on #6071
@tino097 Thank you :)

[2021-05-08 02:01] pmleite commented on #5579
I have for the same issue... Need hel to solve
Extremely slow rendering pages.
Docker installation, ver. 2.9

[2021-05-09 20:35] neevparikh opened #6075 "Cannot install CKAN on arch linux"
**CKAN version**
1.30.0-1

**Describe the bug**
Cannot install Ckan via the AUR on Arch Linux. Run into this error when installing:

[code]

[2021-05-09 20:37] neevparikh commented on #6075
Sorry I meant to post this on the KSP CKAN repo.

[2021-05-09 20:37] #6075 closed

[2021-05-10 06:15] Gauravp-NEC commented on #5899
@amercader , I am interested to working on this issue. What is your suggestion to do in this issue?

[2021-05-10 10:56] amercader commented on #5899
@Gauravp-NEC as the convention in CKAN is "first plugin wins", we need to break the loop whenever the first plugin returns a valid `upload` value:

[code]

and

[code]

[2021-05-10 10:56] #6054 closed

[2021-05-10 21:52] GitYepper opened #6078 "Cannot reach CKAN through port 5000 in browser"
**CKAN version**
2.9.2

**Describe the bug**
I am not able to view the CKAN panel through port 5000 in the browser ('Unable to connect') after installation from source - even though it says

on the terminal.

**Steps to reproduce**

Followed all the steps on:
https://docs.ckan.org/en/2.9/maintaining/installing/install-from-source.html

Everthing worked well and the CKAN instance even seems to run

[2021-05-11 05:06] #6073 closed

[2021-05-11 06:19] Gauravp-NEC commented on #6037
@Zharktas , What is your opinion on my above three observations?

[2021-05-11 08:33] Sunny-NEC commented on #5888
@mcarans I would like to work in this issue but I am unable to reproduce this issue. Can you provide me more information on how to reproduce it.

[2021-05-11 09:02] Gauravp-NEC commented on #5690
@amercader , I am interested to work on this issue. What is your suggestion to do in this issue?

[2021-05-11 12:25] smotornyuk commented on #4990
Yes, the fix is available in v2.9
Original code from the group controller replaced by a call to [function](https://github.com/ckan/ckan/blob/1fb0d785657de6d2a01be0c412e40c843b4efd72/ckan/views/dataset.py#L247) which contains [suggested fix](https://github.com/ckan/ckan/blob/1fb0d785657de6d2a01be0c412e40c843b4efd72/ckan/views/dataset.py#L184)

[2021-05-11 12:26] #4990 closed

[2021-05-11 12:57] amercader opened #6082 "Patch releases May 2021"
This is an issue to track progress on the patch releases scheduled for XXX (2.7.11, 2.8.8 and 2.9.3)

[Full docs](http://docs.ckan.org/en/latest/contributing/release-process.html)

* [x] Backports
* [x] Translations
* [x] Rebuild Frontend
* [x] Changelog
* [x] Change version and tag
* [x] Build packages
* [x] Update docs (RTD)
* [x] PyPI
* [x] Announce

[2021-05-11 13:14] #6078 closed, assigned to nobody

[2021-05-11 15:51] adborden commented on #6074
FYI, to work around, we moved to pytest, dropped FunctionalTestBase, and using the pytest app auto fixture.

[2021-05-12 05:46] #6006 closed

[2021-05-12 11:46] etj opened #6086 "Datastore: sqlalchemy setting "pool_pre_ping""
**CKAN version**
2.9.x master at 93ef47244b01db097cd65494677296234a4d37d6

**Describe the bug**

The setting "`pool_pre_ping`" for the datastore connection is not working, because of a wrong setting key.

This is the [code](https://github.com/ckan/ckan/blob/93ef47244b01db097cd65494677296234a4d37d6/ckanext/datastore/backend/postgres.py#L122-L125):
[code]
Since sqlachemy is told to read config keys

[2021-05-12 14:11] Gauravp-NEC commented on #5899
@amercader , based on your above suggestion I have raise the PR https://github.com/ckan/ckan/pull/6088 to fix this issue. Thankyou

[2021-05-12 14:34] arturslogins commented on #4398
Any update for this issue ?

[2021-05-12 14:38] wardi commented on #4398
We just need someone to work on a fix.  That might involve creating a background job and/or optimizing the purge operation. I'll mark as good for contribution.

[2021-05-13 13:21] wardi commented on #6072
For the first implementation let's keep the existing package and group extras tables and lazily migrate schema fields from the extras tables to `plugin_extras['public']`

`load_plugin_extras` will have a special case when loading a package/group that has no value in `plugin_extras['public']` it will fall back to retrieving extras the way `convert_from_extras` does. This way when the package/group

[2021-05-13 15:11] steveoni commented on #4807
@amercader i'm working on this now.

For this `Remove requirements.py2.* files and update documentation to remove py2 mentions`: what part of the documentation do I need to update?

[2021-05-13 15:23] Gauravp-NEC commented on #4807
@amercader , I am interested to "Remove unicode literals". Where I need to remove it?

[2021-05-13 15:41] cascaoSDC commented on #1805
my question is if we can pre install the extencions before run the docker build, i cant find doc's about that

[2021-05-14 04:22] anuveyatsu commented on #4807
@steveoni my understanding is that you need to go look for any mentions of python 2 in the docs which is in the `/doc/` directory on this repository.

[2021-05-14 09:18] maxclac opened #6092 "CKAN 2.9.2: https issues with Let's Encrypt"
**CKAN version**
2.9.2

**Describe the bug**
My CKAN instance was installed from source on a VM with Ubuntu 20.04 and Let's Encrypt certificates. I have an address with https: `https://example.ckan.com`

When I am trying to log in, I get a "Unable to connect" message from Firefox. The URL in the address bar looks like this:
[code]
The https is gone obviously. I have the same behavior in Chromium.

[2021-05-14 10:48] amercader commented on #6074
@adborden yes, as you found out [`FunctionalTestBase`](https://docs.ckan.org/en/2.9/contributing/testing.html?highlight=functionaltestbase#ckan.tests.helpers.FunctionalTestBase) is deprecated and replaced by pytest fixtures. We should have added this in the CHANGELOG, but I added a note on the Py3 migration guide for extensions now.

Most major extension are migrated now to support CKAN 2.9 / py3

[2021-05-14 10:48] #6074 closed

[2021-05-14 12:42] amercader commented on #5885
Backported to 2.8.8

[2021-05-14 12:42] #5885 closed

[2021-05-14 12:50] amercader commented on #5947
@Zharktas I'm not sure #5020 is the right fix for this because that relates to file uploads in Flask, and the group/org controller was not yet migrated in 2.8.
Anyway, I can't reproduce this in 2.8.8b (linked images work fine).

Feel free to reopen if you can reproduce it.

[2021-05-14 12:50] #5947 closed

[2021-05-14 13:19] amercader commented on #4807
@Gauravp-NEC unicode literal need to be removed from the whole code base

[2021-05-14 13:21] #5899 closed

[2021-05-14 13:37] #5764 closed

[2021-05-17 02:10] sagargg commented on #6092
@maxclac  Maybe you've forgotten to set `ckan.site_url` with https on your config file.  `ckan.site_url = https://example.ckan.com`.
https://docs.ckan.org/en/2.9/maintaining/configuration.html#site-settings

[2021-05-17 07:05] maxclac commented on #6092
Thanks! It's true that I still had http and not https. It's corrected now, but the problem remains, although I restarted CKAN and Nginx.

[2021-05-17 10:54] sagargg commented on #5951
Hi @Zharktas,  could you point me, where I can update the documentation.
  I couldn't found the relevant lines here  https://github.com/ckan/ckan/tree/master/doc/api

[2021-05-18 05:20] Sunny-NEC commented on #6045
hi , @Zharktas  i would like to work on this issue.

[2021-05-18 07:36] Gauravp-NEC commented on #5160
@smotornyuk , I am interested to work on this issue. Can you help me to understand what is dynamically determine structure of API?

[2021-05-18 10:14] smotornyuk commented on #5160
CKAN API can be extended. Depending on a list of enabled plugins, every portal has some extra actions. For example, if `datastore` plugin is enabled, new `datastore_create`/`datastore_search` actions are available through API. And API specification must somehow account for these details and there must be a way to extend it every time a new action is registered inside CKAN application.

[2021-05-18 13:28] #6092 closed

[2021-05-18 15:00] jqnatividad opened #6102 "Old blogposts from old ckan.org site are not listed in the blog index"
**CKAN version**
N/A

**Describe the bug**
see title

**Expected behavior**
Old blogposts are also indexed in the blog section of the new ckan.org site.

**Additional details**
The old posts are still available as deep links when searching with Google, but are not listed in the Blog section of the new site.

[2021-05-19 10:05] amercader opened #6103 ""latest" documentation not being built in Read The Docs"
https://readthedocs.org/projects/ckan/builds/13792875/

[code]

Haven't investigated at all but it looks like a py2/py3 requirements issue

[2021-05-19 10:37] amercader commented on #6082
2.7.11, 2.8.8 and 2.9.3 were released on 2021-05-19

[2021-05-19 10:37] #6082 closed

[2021-05-19 10:43] Zharktas commented on #6103
Freezegun apparently dropped support for py2 in 1.0.0. Docs probably should be built with py3.

[2021-05-19 13:06] EricSoroos opened #6104 "Redundant indexes on package"
**CKAN version**

2.8/2.9 (at least)

**Describe the bug**
There are quite a lot of indexes on the package table -- some duplicate, some near duplicates.

[code]

Of these:

* idx_pkg_id and idx_pkg_name are duplicates of the package_*key indexes, without the unique constraints, and can be dropped.
* If the (column, state) indexes are useful, the corresponding column index should be dropped. Postg

[2021-05-19 22:20] steveoni commented on #4807
@GabrielNicolasAvellaneda are you working on the removal of Unicode literals?

[2021-05-19 22:34] steveoni commented on #4807
**Remove py3 checks. Look for six.PY3 and make that the standard code run (remove the check if any)**

Should test containing something like this`@pytest.mark.skipif(six.PY3, reason='')` be removed with all its content. e.g:

[code]
@amercader

[2021-05-20 02:40] progmalover commented on #2819
I wander what result this issue can cause ,does it store excution data in mysql buffer ?

[2021-05-20 08:11] amercader commented on #4807
@steveoni , yes, these are py2 only tests that no longer run

[2021-05-20 11:18] chris48s opened #6106 "Allow `*_activity_list` actions to filter by `activity_type`"
**CKAN version**: 2.9

It would be helpful if the `*_activity_list` actions had the ability to optionally accept a list of `activity_type`s to filter by.

e.g:

[code]

- The default would be that all activities associated with `id` are returned (as it is now).
- Passing `activity_types` would filter to only the specified activity types.

This would be particularly useful for plugin authors levera

[2021-05-20 11:21] chris48s opened #6107 "Expose `include_data` flag on `*_activity_list` actions"
**CKAN version**: 2.9

In CKAN 2.9 the `*_activity_list` actions hard-code

[code]

https://github.com/ckan/ckan/blob/ckan-2.9.2/ckan/logic/action/get.py#L2479
https://github.com/ckan/ckan/blob/ckan-2.9.2/ckan/logic/action/get.py#L2530
etc

which causes the data object to be stripped down to an empty object or just the `title` attribute (if one exists).

This is a behaviour change from CKAN 2.8 wh

[2021-05-20 11:23] chris48s opened #6108 "Fix activity pagination in web UI"
**CKAN version**: 2.9

**Describe the bug**

"Activity Stream" pages only show the first `activity_list_limit` activities.
In some previous version of CKAN there would be a "load more" button linking to the next page of activities, but the list just ends once there are more than `activity_list_limit` activities:

with less than  `activity_list_limit` activities:
![Screenshot at 2021-05-20 11-20-29

[2021-05-20 13:04] #6103 closed

[2021-05-20 13:39] amercader commented on #6106
I think this will make life for extension developers much easier.
Perhaps it would make sense to have two different parameters:
* `include_activity_types`: only return activities of these types
* `exclude_activity_types`: ignore activities of these types

The implementation would not be much more complex and I can see both being useful in situations I've encountered working with custom activities.

[2021-05-21 04:21] Gauravp-NEC commented on #5727
@shubham-mahajan , I am interested to work on this issue. I have tried to reproduce this issue on CKAN 2.9.2 , but this issue is not reproduced in my environment. It is working as per expected behavior.

[2021-05-21 15:43] wood-chris opened #6111 "`ckan.site_description` isn't used"
**CKAN version**
2.9

**Describe the bug**
The docs (https://docs.ckan.org/en/2.9/maintaining/configuration.html#ckan-site-description) say:

But when I set this on a brand new install of CKAN, the only place it's updated is in the "Site Tag Line" field in the config page (/ckan-admin/config) - I also note that this field doesn't have any help info in the left hand panel

**Expected behavior**
Eit

[2021-05-21 15:47] wood-chris commented on #6111
Err - maybe I had caching issues...

[2021-05-22 07:28] edsmcosta commented on #4515
For me too, i wonder what am i missing between the datastore. I cant get access to write even with the introdutory test :
![image](https://user-images.githubusercontent.com/22220849/119218289-04aa0e80-bab6-11eb-8936-71afe463e0b4.png)
![image](https://user-images.githubusercontent.com/22220849/119218312-17244800-bab6-11eb-8f96-2ed428c68e1f.png)
![image](https://user-images.githubusercontent.com/222

[2021-05-25 11:18] javicond3 commented on #5579
Same issue.

Version 2.9 slow rendering with Docker installation.

Version 2.8 **not** slow rendering with Docker installation.

[2021-05-25 12:49] amercader opened #6113 "Can not update user via `user_update` when using `name` for `id` parameter"
**CKAN version**
2.9

**Describe the bug**
CKAN 2.9 introduced the `email_is_unique` validator to prevent duplicates. But the current implementation only works when the `id` param contains the actual UUID not the name, eg:

     http POST localhost:5000/api/action/user_update Authorization:{API_TOKEN} id=2e2dafdf-a7a8-495e-a9da-84ed4a1051a0 email=adria.mercader@okfn.org about=hola

Works fine, but

[2021-05-26 05:53] Zharktas commented on #6111
Yup, description or tag line as it is labeled in configuration is only shown if site_logo is not defined.

https://github.com/ckan/ckan/blob/27f0b8cf52bb2140f16e2f09f3c42ed15e7e9b99/ckan/templates/header.html#L75-L82

`g.site_description` is in the else block, could be changed that it is shown also on with the logo. Needs of course checking that the layout still works with the logo too.

[2021-05-26 06:06] Zharktas commented on #6111
![image](https://user-images.githubusercontent.com/830663/119610240-950f8880-be01-11eb-9adf-e2451d2f96bf.png)
This is how it appears when there is no logo.

[2021-05-26 11:58] Zharktas opened #6116 "Activity Stream notification email does not include root_path"
**CKAN version**
2.8, 2.9, master

**Describe the bug**
If email notifications are enabled for activity stream, the email includes a link to the users dashboard. These links are generated by using site_url which does not include root_path.

https://github.com/ckan/ckan/blob/0ab924d5ea331625bd61a805f23c68a17f028193/ckan/templates/activity_streams/activity_stream_email_notifications.text#L3-L7

**St

[2021-05-27 01:18] adborden opened #6117 ""No such file or directory ... tests/allowed_functions.txt" when running tests with virtualenv"
**CKAN version**
2.8.8

**Describe the bug**
We're running tests for our extension, but getting an error when initializing the database. We're using CKAN's test-core.ini which [includes](https://github.com/ckan/ckan/blob/ckan-2.8.8/test-core.ini#L24) `ckan.datastore.sqlsearch.allowed_functions_file = %(here)s/ckanext/datastore/tests/allowed_functions.txt`. Since we are running tests from our exten

[2021-05-27 02:12] wardi opened #6118 "Spec: Table Designer Feature"
This is a description of a new "Table Designer" feature for CKAN. Table Designer provides custom enforced data schemas that supporting partial updates, suitable for reference data or data that is regularly updated. Users can build a data schema interactively then load data using auto-generated Excel templates, with a web form or via the API.

Table Designer relies on the datastore extension and it

[2021-05-27 14:06] wardi commented on #6118
Some great feedback from dev call:
- ITableDesigner could have a better name. IDatastoreValidation?
- can we separate the excel and form ingestion interfaces from the core feature and make them plugable?
  - yes, but the required validation implementations and table designer schema forms depend on the ingestion interfaces, i.e. formulas+column widths for excel and snippets+js for the form, how do

[2021-05-27 14:13] taylordowns2000 commented on #5725
@InnovPlantProtect , did you find a way forward here? We're currently testing out different install options (source, package, and docker-compose) and I ran into the same problems on package installs.

Does anyone know if there's a workaround for installing extensions/plugins after a package install?

[2021-05-27 14:21] wardi commented on #6118
Would be amazing if we had a common way to specify validation rules that could generate all possible types of concrete validation (pl/pgsql, excel formula, javascript form, ...) but this would also prevent us from doing really cool things that are possible in each like pl/pgsql being able to look up values in another table or javascript calling out to a web service

[2021-05-27 14:32] jqnatividad commented on #6118
Awesome!
For the Table Designer schema, are you considering using [Table Schema](https://specs.frictionlessdata.io/table-schema/#language), and leveraging the [Frictionless Framework](https://github.com/frictionlessdata/frictionless-py)(
née goodtables)?

And for the Excel template, it'd be great if you can do as much validation on Excel as possible.  Having experimented with the recombinant exten

[2021-05-27 15:34] nfee006 commented on #5919
I just ran into the same issue on my machine. I was able to fix it using `sudo apt install solr-tomcat` (see https://github.com/ckan/ckan/issues/5835)

[2021-05-27 16:19] Zharktas commented on #6116
url_for should be fixed so that it can be used for the cli and perhaps create a helper which would be intuitive for extension developers to generate URL to root.

[2021-05-28 10:47] amercader opened #6120 "Inconsistent CLI help beahaviour"
**CKAN version**
2.9

Depending on where you run the `ckan` command and what parameters do you use you get different outputs.
* `ckan` in the ckan folder. That is the "correct" output :heavy_check_mark:

[code]

* `ckan -h` in the ckan folder: same as above, "correct" output :heavy_check_mark:
* `ckan --help` in the ckan folder. Missing "Plugins" section :x:

[code]
* `ckan -c ckan/ckan.ini` outsi

[2021-05-28 13:32] wardi commented on #6118
@amercader WDYT about implementing this feature two plugins:
- table designer schemas + modified datatable view + web form --> a core `tabledesigner` extension
- excel data templates and ingestion --> a core or external `exceltemplates` extension

In my mind separating out the web forms would leave us with half a feature - web UI for designing data validation but no UI for loading data.

[2021-05-28 17:10] avdata99 commented on #6106
FYI @amercader. I started this: https://github.com/ckan/ckan/pull/6123

[2021-05-28 17:51] jqnatividad commented on #5799
Hi @timvanoijen,
Sorry for the late reply, but yes, I'm quite keen on increasing the datastore's performance as I'm currently working on some projects that are currently taxing the current datastore implementation, particularly with time-series data (https://github.com/ckan/ckan/discussions/6096), and the way it creates too many indices (https://github.com/ckan/ckan/issues/5847).

You may want to

[2021-05-29 06:10] yosemitelk opened #6124 "Installed parts of snacks without permission."
**CKAN version**
1.30
**Describe the bug**
A clear and concise description of what the bug is.
I have kerbals stuck in a ship because they want snacks when I have not installed that mod, but somehow It is forcing partial functionality on me.
**Steps to reproduce**
Steps to reproduce the behavior:
I have a few of the mods that support snacks i guess and it gave me part of the mod?
**Expected behavi

[2021-05-29 09:38] #6124 closed

[2021-05-30 07:58] pauldcollins opened #6126 "Can't use a custom template for the dataset page"
**CKAN version**
2.8

**Describe the bug**
I'm trying to customise the Dataset landing page
https://demo.ckan.org/dataset/

I've been able to do with with the **Organizations** page, as it is in it's own folder and has an`index.html` page and I can choose a different version of `page.html` for it to extend on the first line.
https://github.com/ckan/ckan/blob/2.8/ckan/templates/organization/index.h

[2021-05-30 23:32] pauldcollins commented on #6126
I worked this one out, it looks like the parent template is actually called `Search`

Here's the path for anyone who comes here later. Closing this off. `ckan/templates/package/search.html`

[2021-05-30 23:32] #6126 closed

[2021-05-31 09:35] maxclac opened #6127 "Editor cannot add resource to a dataset"
**CKAN version**
2.9.2

**Describe the bug**
A user with editor status cannot add a resource to a dataset, even though he is part of the organization where this dataset is located. When he tries to do so on the UI, he gets an "Internal server error" in the browser

**Steps to reproduce**
A sysadmin user adds this user with editor status to the organization where this dataset is located.

**Expecte

[2021-05-31 10:10] sdinot opened #6128 "Erroneous command in documentation, in "Installing CKAN with Docker Compose" page"
CKAN documentation, version 2.9.3 or latest

In the [3. Datastore and datapusher](https://docs.ckan.org/en/latest/maintaining/installing/install-from-docker-compose.html#datastore-and-datapusher) section of the [Installing CKAN with Docker Compose](https://docs.ckan.org/en/latest/maintaining/installing/install-from-docker-compose.html) page of CKAN documentation, it is indicated that the following

[2021-06-01 14:14] wardi commented on #6118
New resource model field discussion and feedback:

- `datastore_active`
  - currently an optional resource extra value that is clumsy to update from `datastore_create`, datapusher or xloader
  - typically updated separate from any other resource metadata field, related to tables in separate db
  - let's migrate from resource extras to a normal boolean in the model and default resource schema to fo

[2021-06-01 19:07] avdata99 commented on #6108
I plan to tackle this @amercader

[2021-06-02 05:30] duttonw commented on #2877
This would be very nice to be able to make a true HA ckan without needing zookeeper and a cluster of solr index's.

The solr search layer does not have an interface like the IUploader has, if this was ever to occur, it would need to have an Interface created to seperate searching and index updating from the ckan core to allow a drop in plugin to add this functionality. A little like the s3 plugin

[2021-06-02 06:09] Sunny-NEC commented on #6108
@avdata99  Request you to please pickup another issue as currently I am working on this issue and it is in progress.

[2021-06-02 10:22] Alex-Pavlyuk commented on #6102
Hi @jqnatividad
We tried to parse all the blog posts from the old website and add them to the new site with the same URLs. Pls let me know what article is absent.

[2021-06-03 05:08] #5915 closed

[2021-06-03 08:47] hieutrtr commented on #4278
Hi @amercader , Im from Link Digital and also a ckan beginner. I would like to take this issue. pls help to assign me. thank !

[2021-06-03 11:42] hyche commented on #4807
Hi @amercader, I want to take this issue, I'm new to CKAN and want to contribute as well.

[2021-06-03 13:34] hyche commented on #5234
Hi @wardi, I'm a new member recently joins LinkDigital, and also want to contribute to CKAN opensource. I would like to begin with this task, could you assign it for me ? Thanks.

[2021-06-03 13:51] wardi commented on #5234
@hyche I can't assign tickets to people that aren't on the core team, but please go ahead and work on a pull request. I'll probably be the one to review the work.

[2021-06-03 14:01] aleks-iv commented on #5935
@YukunYangNPF It looks like you used wrong parameter name in data argument of POST request: "group" instead "groups".
Correct request:
`res = requests.post(base+update_package, data=json.dumps({ 'name': dataset_name, 'groups': groups, }), headers={"X-CKAN-API-Key": api_key, 'content-type': 'application/json'} )`

[2021-06-04 11:55] jqnatividad commented on #6102
Hi @Alex-Pavlyuk,

The old blogpost are indeed available on the new site. However, the blog pagination doesn't work.

I'm particularly interested in restoring this blogpost -

https://ckan.org/blog/open-letter-response

which was the CKAN Steering Group's response to the Open Letter to the Open Data Community from the Civic Analytics Network.

https://datasmart.ash.harvard.edu/news/article/letter-

[2021-06-04 13:37] guibos opened #6136 "Metadata removed on update a file"
**CKAN 2.8.x**

**Describe the bug**
Currently when a file is replaced with some call like  this:
[code]
All extras are removed.

**Steps to reproduce**
Create a schema like this:

[code]
Create a resource with previous extra (books)

Execute:
[code]

Books now is replaced by `{}`. If books was a string will be not be present in extras.,

**Expected behavior**
Not replace all extras or almost expl

[2021-06-04 14:28] Zharktas commented on #6136
You should use [resource_patch](https://docs.ckan.org/en/2.9/api/index.html#ckan.logic.action.patch.resource_patch) instead. Update actions remove missing fields by design, otherwise there would not be a way to remove fields at all.

[2021-06-04 16:48] guibos commented on #6136
@Zharktas thank you!

[2021-06-04 16:48] #6136 closed

[2021-06-07 11:52] shubham-mahajan commented on #5727
@Gauravp-NEC Create a resource and upload a CSV, check the preview.

Now upload a completely different CSV and check the resource preview, it will not be updated until you manually click the `Upload the Datapusher`

[2021-06-07 12:24] smotornyuk commented on #5597
Opened PR#6137 with a fix

[2021-06-07 12:26] #6106 closed

[2021-06-07 12:44] #5975 closed

[2021-06-08 07:26] asas1asas200 opened #6142 "Sysadmin cannot edit normal user's profile"
**CKAN version**
2.9.2

**Describe the bug**
When a sysadmin edit normal user's profile, ckan always reports `Old Password: incorrect password` error message.

**Steps to reproduce**
1. Login as sysadmin.
2. Select a normal user and into Manage page.
3. Typing something in the form exclude change password field.
4. Get the error message.

**Expected behavior**
Sysadmin can correctly update normal

[2021-06-08 10:45] amercader commented on #6118
@wardi here are some long overdue thoughts on this.

Overall I think the proposed feature is a really powerful one that will add a lot of value to CKAN and enable a lot of interesting use cases.

Having said that I'm struggling a bit to wrap my head around the whole thing in terms of implementation so let's just focus first on the basic feature: creating a "Hosted resource" with a data table that

[2021-06-08 11:40] #6113 closed

[2021-06-08 13:26] jqnatividad opened #6145 "DataTables view does not take advantage of new "hybrid" datastore_search"
**CKAN version**
master

**Describe the bug**
The new "hybrid-search" capable `datastore_search` (#6132 ) allows table-wide AND per column filters to be applied. This requires using the new  `full-text` parameter, which is not currently used by DataTables view.

**Steps to reproduce**
Search with both global and column filters in a DataTables view.  Only column filters will be applied.

**Expected

[2021-06-08 19:33] wardi commented on #6118
Thank you for this @amercader

A modified datatables view is required to preview the data that has been loaded and allow users a way to:
1. select records to delete
2. click to edit individual records in a form

datatables is great for this because it can be easily extended and has search, filtering and pagination built-in. See the 3rd screenshot above for an example of how this could look.

Colum

[2021-06-08 20:15] wardi opened #6146 "snippet performance issue"
**CKAN version**
all

**Describe the bug**
Heavy use of template `{% snippet %}`  slows page rendering times compared to alternatives like macros or `{% include %}`

**Steps to reproduce**
Compare the rendering time of a page using snippets with one that uses macros or `{% include %}` to display the same information. The activity feed, the search results page and customized dataset forms when usin

[2021-06-09 13:00] #5597 closed

[2021-06-09 13:10] JeffreyVRiemsdijk opened #6147 "Datapusher not working with windows and docker compose"
**CKAN version**
2.9.3
**Describe the bug**
Not able to upload any dataset to datapusher.
[code]
if i change CKAN_SITE_URL=http://localhost:5000/ to CKAN_SITE_URL=http://127.0.0.1:5000/ i get:
[code]
**Steps to reproduce**
run docker-compose as the documentation describes

**Expected behavior**
Data uploaded in datapusher to preview files.

**Docker**
the docker image for data pusher:
[code]

[2021-06-09 14:17] wardi opened #6148 "search-index rebuild is destructive by default"
**CKAN version**
all

**Describe the bug**
If you run `search-index rebuild` without the `-r` flag, the solr index is first cleared so is empty while being reloaded. On a site with 10k datasets data will be inaccessible for ~30 minutes.

**Steps to reproduce**
run `search-index rebuild` without the `-r` flag

**Expected behavior**
The whole update could happen as a single transaction so that you o

[2021-06-10 11:53] amercader opened #6150 "Better accesibility for text rendered as `title` attributes"
Across our templates we use the `title` attribute to provide additional information when hovering with the mouse, eg:

https://github.com/ckan/ckan/blob/0ceebd17bcbd435b156e776df20593ed41af3ffd/ckan/templates/header.html#L10

https://github.com/ckan/ckan/blob/0ceebd17bcbd435b156e776df20593ed41af3ffd/ckan/templates/user/read_base.html#L81

This [is strongly discouraged](https://developer.mozilla.or

[2021-06-10 13:08] #6147 closed

[2021-06-11 10:54] #5755 closed

[2021-06-11 10:54] #6120 closed

[2021-06-14 01:38] garyburgmann commented on #4576
@gasti10 I am also getting this error.

This appears to be driven by `ckan/config/middleware/flask_app.py`. I think that, as indicated by the docstring for `ckan_before_request`, `g.__timer = time.time()` is not being reached. This is probably due to `response = identify_user()`, although it is hard to confirm without any logging of that function. As such, `ckan_after_request` is always doomed to

[2021-06-14 04:17] sagargg commented on #6150
Hi @wardi, I would like to work on this issue.

[2021-06-14 04:49] garyburgmann commented on #4576
can confirm that moving assignment of `g.__timer = time.time()` fixed the issue my my deployment:

[code]

I will leave this for someone with a better knowledge of this repository to action, as I am simply running from `2.9` branch. ideally this would be resolved in `master` also

[2021-06-14 11:03] amercader opened #6152 "Fragile API token test on master"
The test `ckan.tests.cli.test_user.TestApiToken.test_revoke` fails randomly on master on Circle CI.
Maybe it's a race condition or caused by splitting the tests.

[code]

[2021-06-14 11:50] Gauravp-NEC opened #6153 "How to find Maximum number of connections required by CKAN and its Extension for accessing PostgreSQL."
**CKAN version**
2.7.2 (Installed via Docker)

**Description**
In our CKAN environment we have configure CKAN extensions DataStore and DataPusher.
We have created "ckan_default" and "datastore_default" databases in PostgreSQL.
We have configured Apache file with **_WSGIDaemonProcess ckan_default display-name=ckan_default processes=4 threads=15._**

Considering the SQLachemy, Queue size=5 and max o

[2021-06-14 13:32] wardi commented on #6150
@sagargg go for it!

[2021-06-14 13:52] jqnatividad commented on #6102
Hi @Alex-Pavlyuk ,

Just wanted to follow up and see if the historical blogpost will be added to the blog index.

Also, even blogposts in the blog index have issues:
* https://ckan.org/blog/the-ckan-tech-team-welcomes-its-newest-member-jari-voutilainen is missing @Zharktas' portrait.
* Posts without assigned images have the placeholder image (https://ckan.org/media/images/default.2e16d0ba.fill-520

[2021-06-14 14:46] Gauravp-NEC commented on #3251
@amercader , Did DataStore have a Linux process or its a background job? Did DataStore database i.e., datastore_default have connection with CKAN database i.e., ckan_default??

[2021-06-14 15:12] Alex-Pavlyuk commented on #6102
Hi @jqnatividad , thanks for your feedback. We will fix the pager soon. As for the blog post images, we will try to restore them, something was wrong with image file names when we parse them from the old website.
But I didn't understand your comment about the placeholder, we assign it automatically when a post doesn't have any image, but if it has a wrong address the current logic assumes it as ex

[2021-06-14 15:17] jqnatividad commented on #6102
Hi @Alex-Pavlyuk , thanks for the quick follow-up.
As for the placeholder image, it shows up on the blog index on my end...

[2021-06-14 20:12] jqnatividad opened #6155 "datastore dump does not pass through full-text parameter to datastore_search"
**CKAN version**
master

**Describe the bug**
`datastore_search` now has a `full_text` parameter to support "hybrid search" (https://github.com/ckan/ckan/pull/6132), however, the datastore `dump` api does not pass through the `full_text` parameter.

**Steps to reproduce**
Call `dump` with the `full_text` parameter. The parameter is ignored.

**Expected behavior**
`full_text` parameter is passed th

[2021-06-15 13:00] amercader opened #6158 "Builtin CSRF protection"
While you can add CSRF protection to your site using [ckanext-security](https://github.com/data-govt-nz/ckanext-security), we would benefit a much larger number of users if this was built-in and enabled by default. The last time this was discussed the consensus was to aim for a new module on CKAN based on the excellent [Django's CSRF protection](https://docs.djangoproject.com/en/dev/ref/csrf/). To

[2021-06-15 13:38] wardi commented on #6158
option 1. flask-seasurf sounds like the best approach to me

For our API we then need to start ignoring cookie authentication unless it is accompanied by a csrf token as a header, for both GET and POST requests. This change will most affect users that have built headless front-ends that rely on cookie auth.

[2021-06-15 14:26] Gauravp-NEC commented on #6153
@amercader , Is the above table is correct?

[2021-06-15 14:44] amercader commented on #6153
The Datastore does not run on a separate process, it will use the standard CKAN ones.The DataPusher does not interact directly with the Postgres database(s). It uses HTTP requests to call the Datastore API so any requests there will also run on the ckan process.
There is no number of connections required to access Postgres. Depending on your site load you might need to adjust the connections pool.

[2021-06-15 14:45] amercader commented on #6153
Feel free to opena support discussion if you want to discuss this further:

https://github.com/ckan/ckan/discussions

[2021-06-15 14:45] #6153 closed

[2021-06-15 15:28] tino097 commented on #6127
@maxclac are you using any other extensions that could override some of the core functionality ?
And if possible can you share the error trace log

My testing doesnt reproduce the error

[2021-06-15 16:11] tino097 commented on #6158
We had some work done at Salsa and using this [extension](https://github.com/salsadigitalauorg/ckanext-fortify).
It is based on @boykoc and @ThrawnCA previous work and we had adapted it for 2.9+ and i guess it could help at least to get some direction

[2021-06-15 21:50] ThrawnCA commented on #6158
@amercader I'm concerned about an approach that will break pretty much all existing extensions until they change their forms, and doesn't seem to provide a backwards-compatible solution; an extension that adds the CSRF token field to its forms will break on any version of CKAN that *doesn't* have CSRF support.

That said, if that's the approach, Seasurf seems like a lower-footprint option, and wit

[2021-06-15 22:17] ThrawnCA commented on #6158
Oh - also, ideally there should be a mechanism for extensions to override and provide their own implementations of CSRF token generation and validation. For example, the default Django token implementation does not protect against other subdomains overwriting the token cookie, whereas the HMAC-based approach of `ckanext-csrf-filter` provides a degree of protection.

I also noticed when implementin

[2021-06-16 04:47] sagargg commented on #6012
@Zharktas  I'm interested in this,  are we planning to migrate bootstrap 3 less ==> sass independently and then upgrade bootstrap 5 in a separate PR? Why we shouldn't do direct upgrading?

[2021-06-16 04:52] anuveyatsu commented on #6012
@sagargg I believe this is to make reviewing and merging PRs easier.

[2021-06-16 07:06] Zharktas opened #6159 "Chained actions, auth functions and helpers are not documented"
**CKAN version**
2.7, 2,8, 2.9, master

**Describe the bug**

Chained actions are missing docstring completely:
https://github.com/ckan/ckan/blob/e89ca125dc68ddb9fe9bad68a401404146ba90c7/ckan/logic/__init__.py#L334-L336
There is a mention of chained actions within get_actions:
https://github.com/ckan/ckan/blob/e89ca125dc68ddb9fe9bad68a401404146ba90c7/ckan/plugins/interfaces.py#L922-L935

Chained a

[2021-06-16 07:34] Zharktas opened #6160 "Poorly documented IMiddleware interface"
**CKAN version**
2.7, 2.8, 2.9, master

**Describe the bug**
`IMiddleware` interface has two functions: `make_middleware` and `make_error_log_middleware`. For `make_middleware`  the docs say:

[code]

and for `make_error_log_middleware` the docs say:

Difference between the functions is not clear, should the developer implement both of them or only one of them?
In pylons stack the function were ca

[2021-06-16 07:59] Zharktas commented on #6012
Bootstrap upgrade in itself is already a major effort, migrating to sass can be separated and as such should be so that something is eventually finished.

[2021-06-16 09:51] amercader commented on #6158
@ThrawnCA thanks for the feedback these are all important points.

I agree this will be disruptive in some cases but I still think we should aim to have this behaviour enabled by default in the next CKAN version.

I guess at very minimum we should have a configuration option to disable the CSRF checks, ie keep the current behaviour (`ckan.csrf_protection.enabled=False`, defaults to `True`). This w

[2021-06-16 10:48] Gauravp-NEC commented on #6153
@amercader ,
1)  I have check  the  psql's "pg_stat_activity` table and found the connections with "datastore_default" database and also some processes in postgres container with name "datastore_default" as shown in below image:

![Untitled](https://user-images.githubusercontent.com/66116382/122203824-0ea80d00-cebc-11eb-97d1-9f191b5562b3.jpg)

![image](https://user-images.githubusercontent.com/661

[2021-06-16 15:02] tino097 commented on #6142
@asas1asas200 looks like you are not entering your sysadmin password when doing the changes. The current flow could be little bit confusing or misleading because the sysadmin pass field is part of the password changing block

In case that i missinterpreted your inputs, please reopen the issue and if possible add some additional details

[2021-06-16 15:02] #6142 closed

[2021-06-16 17:49] steveoni commented on #6148
@wardi
I want to know if i understand the task to be done here:

we want the `search-index rebuild` to do the same thing as when `search-index rebuild -r` is called. i.e it refreshes the current index w/o  the `-r` flag.

Also, when `-e` flag is used, the current index should just be refreshed and committed.

And the search index should only be cleared and rebuild when `--clear` flag is used.

did

[2021-06-16 18:11] wardi commented on #6148
not exactly, ideally:

`search-index rebuild` can clear the index but it should be done in the same solr commit so that it doesn't look like all the datasets have disappeared while the rebuild takes place.

`search-index rebuild -e` should behave like `search-index rebuild -e -r`

`search-index rebuild -e --clear` should behave like the current `search-index rebuild -e` (clear the index then commi

[2021-06-16 22:32] ThrawnCA commented on #6158
That sounds like a low-impact option, yes. It would also help sites that need to keep using legacy extensions.

I actually meant that there would be a template error when attempting to call a `_csrf_token` function that doesn't exist. But yes, storing the token as an extra field is a concern too, and making it a helper that can be dummied out is a good solution.

[2021-06-17 04:07] duttonw commented on #6158
Just want to link to how java spring-security does it, https://docs.spring.io/spring-security/site/docs/3.2.0.CI-SNAPSHOT/reference/html/csrf.html

All forms should be manually updated to include the _csrf hidden token and should be setup to gracefully be blank if not found.

When enabled it will 'kill' un-updated plugins which should trigger a good hygiene in getting them updated. (if they are no

[2021-06-17 09:06] #4088 closed

[2021-06-17 09:37] Zharktas opened #6165 "Users should be able to login with email address"
**CKAN version**
master

Email addresses have been unique since 2.9 and password resets can be done with email addresses. Currently it's confusing for users who reset their passwords using email address but need to know their user names when logging in. There should not be any issues enabling login with email address.

[2021-06-17 11:43] frafra opened #6168 "Filters on dataset types different from "datasets" are not selective"
**CKAN version**
2.8.4

**Describe the bug**
Filters/facets available on the left column do not work as expected when a different dataset page is shown.
For example, `http://server/customdatasettype´ has organization facets linking to `http://server/dataset?organization=myorganization` instead of `http://server/dataset?organization=myorganization`

**Steps to reproduce**
Create datasets with a cus

[2021-06-17 11:45] frafra commented on #6168
https://github.com/ckan/ckan/blob/891e6aa6542edc108bb6ee07a4f023199e9d5b36/ckan/templates/package/search.html#L75-L77

https://github.com/ckan/ckan/blob/891e6aa6542edc108bb6ee07a4f023199e9d5b36/ckan/templates/snippets/facet_list.html#L28-L30

It seems that `alternative_url` is not used by default.

[2021-06-17 12:03] frafra commented on #6168
Adding `alternative_url=dataset_type` as argument fixes the issue.

[2021-06-17 12:47] jqnatividad opened #6171 "Various UI/UX issues with DataTables view"
**CKAN version**
master

**Describe the bug**
* When setting multiple column filters  which may spawn several concurrent ajax requests, only the first ajax request is processed and subsequent requests are ignored (see https://github.com/DataTables/DataTablesSrc/pull/192)
* The Filtered Downloads and Column Visibility controls in DataTables view uses the DataTables Buttons extension to display pop-

[2021-06-17 13:08] jqnatividad opened #6172 "datastore_search full_text and fields parameters not processed properly"
**CKAN version**
master

**Describe the bug**
When the new `full_text` parameter is used along with the `fields` parameter, `datastore_search` always returns the entire record, along with the "hidden" rank column (used for relevance in fts search)

**Steps to reproduce**
Use `datastore_search` `full_text` and `fields` in the same call.

**Expected behavior**
`datastore_search` will process `fields

[2021-06-17 13:35] jqnatividad commented on #6150
Just wanted to confirm that I will also modify DataTables view to aria-labels as it uses tooltips extensively.

[2021-06-17 17:11] steveoni commented on #6148
ok. i will start working on this

[2021-06-17 18:20] steveoni commented on #6148
@wardi

Base on your comment:  `search-index rebuild -e` should behave like `search-index rebuild -e -r`.

While looking at the current code, both commands end up to this line of code which update and commit:

[code]

To me, I think both commands are doing the same thing. What do you think?

[2021-06-17 20:26] RonquilloAeon commented on #6027
I encountered this same issue. To fix it, I ran `docker system prune` and updated the image to `postgres:11.2-alpine`.

[2021-06-17 21:12] Patrick1Rhode opened #6173 "Pre selecting organization field when adding metadata."
CKAN version
**2.8.7**

**Describe the bug**
We wanted to suggest this [feature](https://github.com/ckan/ckan/discussions/6167) be added to CKAN, but after a close look at the [code](https://github.com/ckan/ckan/blob/0ab924d5ea331625bd61a805f23c68a17f028193/ckan/templates/package/snippets/package_basic_fields.html) we discovered the feature is already in place, but it does not work the way it is i

[2021-06-17 23:05] ThrawnCA commented on #4088
I've recently tried to create a GitHub Actions workflow for our fork, and I was able to still split the tests into four containers, but still encountered some of these errors.

[2021-06-18 15:04] jqnatividad commented on #5540
Note that ckanext-pdfview now uses built-in browser PDF rendering using object tags.
https://github.com/ckan/ckanext-pdfview/pull/40

IMHO, it'd still be great if PDF support is built-in to CKAN long term...

[2021-06-18 19:14] steveoni commented on #6148
@wardi

[2021-06-21 12:31] amercader opened #6179 "Can't use `solr_user` and `solr_password` in Python 3"
**CKAN version**
2.9

**Describe the bug**
When setting the `solr_user` and `solr_password` config options running Python 3 you get a startup error:

[code]

[2021-06-22 10:18] #5935 closed

[2021-06-22 10:24] smotornyuk commented on #5601
Yes, this can be done in two steps:
1. Move all the application logic into Flask's Blueprints
2. Return those blueprints as a list from your CKAN extension that implements IBlueprint interface:
[code]

[2021-06-22 10:24] #5601 closed

[2021-06-22 17:00] ccancellieri opened #6183 "Default preview may call the view plugin asking for additional fields to create the automatic preview"
I'm creating a new terriajs view plugin and I added a mandatory field into my configuration (the json configuration to send to terriajs).

I'm able to autoconfigure that field but the creation of the preview based on the type does not give any hook to modify the view (to add mandatory fields) befor the create_view is created:

https://github.com/ckan/ckan/blob/0ceebd17bcbd435b156e776df20593ed41af3

[2021-06-22 17:13] ccancellieri commented on #6183
I need that:
https://bitbucket.org/cioapps/ckanext-terriajs/src/ee90c34a8a9dda4664dcd9c5d76d995cd95759b7/ckanext/terriajs/plugin.py#lines-116

because the preview leverages over a blueprint api to fetch the view config:
https://bitbucket.org/cioapps/ckanext-terriajs/src/ee90c34a8a9dda4664dcd9c5d76d995cd95759b7/ckanext/terriajs/templates/terriajs.html#lines-8

as it should be persisted during the c

[2021-06-22 19:12] steveoni commented on #6148
@wardi

[2021-06-22 19:40] wardi commented on #6148
This command is used to update the search index, not the database. Start by setting up a site to test and understand the `search-index rebuild` command and the behavior of the options described, then trace the code.

[2021-06-22 23:23] steveoni commented on #6148
ok.
Instead of setting up a site, can't I test this behavior with the test code in: https://github.com/ckan/ckan/blob/master/ckan/tests/cli/test_search_index.py

@wardi

[2021-06-23 10:32] Sunny-NEC commented on #6108
@chris48s did the load more functionality was developed for some previous version of CKAN? i have checked CKAN version 2.8.2 , 2.8.4 , 2.8.8 but did not find any load more functionality.

[2021-06-23 10:46] Gauravp-NEC commented on #6168
@smotornyuk @frafra , I am interested to work on this issue. Can you provide more details on how to create datasets with a custom datasets type? Thankyou :)

[2021-06-23 12:04] frafra commented on #6168
@Gauravp-NEC Hi :) You can define new datasets types using https://github.com/ckan/ckanext-scheming.

[2021-06-23 13:32] chris48s commented on #6108
I think this was broken in 2.8 as well - at least the later versions. By the looks of it `activity_stream_items.html` was last touched in 2017. It might be necessary to go back to version 2.7.x for a version where that worked.

[2021-06-23 14:09] #6179 closed

[2021-06-23 17:54] steveoni commented on #6148
I just re-read your comment again, here is how I track the code;

I'm using the test for `cli/test_search_index.py`

[code]

Then I trace the functionality to this file `cli/search_index.py`:
[code]

The preceding code has all things to do with `search-index rebuild` and all its following commands.

From the preceding code, I trace the `rebuild` functionality to `ckan/lib/search/__init__.py`:

[co

[2021-06-23 19:08] wardi commented on #6148
You're in the right place. The code that handles reindexing all datasets is https://github.com/ckan/ckan/blob/master/ckan/lib/search/__init__.py#L171 and the package indexing logic is https://github.com/ckan/ckan/blob/237644f8436be748b0cb2b74b52e80763083d4a5/ckan/lib/search/index.py#L101

In `rebuild` the `defer_commit` and `refresh` parameters control whether a solr commit will happen after each

[2021-06-23 19:45] steveoni commented on #6148
Thanks for the clearification

[2021-06-24 10:16] Gauravp-NEC commented on #6168
@frafra , Where I need to set the schemas as mentioned here : https://github.com/ckan/ckanext-scheming#configuration.  Do I need to configure it in CKAN config file? I have found that configurations are configured in "test_subclass.ini" file. Please confirm.

[2021-06-24 10:33] Sunny-NEC commented on #6173
I like to work in this issue

[2021-06-24 13:17] nickumia-reisys commented on #4764
I did `drop extension IF EXISTS postgis cascade;` and the `db clean` command still fails with the same error,

[code]

[2021-06-24 14:43] nickumia-reisys commented on #4764
For anyone else who had the same issue, my problem was making sure I was referencing the right database and dropping the extension at the right time.  It had to be after the databases were initialized and the call to `[SQL: 'SELECT postgis_lib_version()']`, but before the first call of `db clean` or `reset_db`

[2021-06-24 19:28] amercader commented on #5842
This is currently being worked on by @alexkreidler

[2021-06-25 04:28] ThrawnCA opened #6190 "Inadequate null check in helpers.has_more_facets"
**CKAN version**

2.8+

**Describe the bug**

The `has_more_facets` helper has an insufficient guard clause checking whether `c.search_facets_limits` is present, resulting in an attribute error if used without search_facets_limits present:

    if c.search_facets_limits and limit is None:
        limit = c.search_facets_limits.get(facet)

Contrast this with the guard in `get_facet_items_dict`:

[2021-06-25 10:55] frafra commented on #6168
@Gauravp-NEC you set `scheming.dataset_schemas` in the CKAN config file to link to your schemas, like `myextension:myschema,json`.

[2021-06-28 06:43] Gauravp-NEC commented on #5727
@shubham-mahajan , I tried the same, but again this issue is not reproduced in my environment.

[2021-06-28 11:43] Gauravp-NEC commented on #6168
@frafra , Can you make  me understand this statement "For example, http://server/customdatasettype´ has organization facets linking to http://server/dataset?organization=myorganization` instead of http://server/dataset?organization=myorganization" ?

[2021-06-28 12:13] wishtree-hmanglani opened #6194 "Getting error while installing pymssql==2.1.4. I am using CKAN 2.8.6 version"
**CKAN version**
2.8.6

**Describe the bug**
Till now it's working fine but suddenly I am getting error while pip install pymssql==2.1.4 version. This library initially install ruamel.yaml.clib>=0.1.2. That throw the error as bellow:

#11 80.05   Downloading ruamel.yaml.clib-0.2.4.tar.gz (180 kB)
#11 80.17     ERROR: Command errored out with exit status 1:
#11 80.17      command: /usr/bin/python -

[2021-06-28 14:03] frafra commented on #6168
@Gauravp-NEC sure: if you browse `http://myckanserver/customdatasettype` (where `customdatasettype` is the new dataset type defined by you in ckanext-scheming), you can see a search page, listing only datasets of that custom type. If you look at the left bar, where you can find tags and various filters, you can see that the links starts with `http://myckanserver/dataset` instead of `http://myckans

[2021-06-28 14:33] Gauravp-NEC commented on #6168
@frafra , did this issue can reproduce only in 2.8.4 ? and not in 2.9+?

[2021-06-28 14:37] frafra commented on #6168
@Gauravp-NEC I didn't have the time to test, but the files linked to the issue, which I patched successfully, didn't change, so I am pretty confident that the problem is still there.

[2021-06-28 14:43] Gauravp-NEC commented on #6168
@frafra , Do I need to add "ckanext-scheming" in CKAN plugins apart from installing ckanext-scheming and setting the "scheming.dataset_schemas " in the CKAN config file?

[2021-06-28 14:55] frafra commented on #6168
@Gauravp-NEC I think so, otherwise you cannot add datasets with the new schema.

[2021-06-28 15:07] Gauravp-NEC commented on #6168
@frafra , Thankyou for giving quick response. How can I define new dataset type in ckanext-scheming?

[2021-06-28 15:17] frafra commented on #6168
@Gauravp-NEC you could try one of the example schemas actually https://github.com/ckan/ckanext-scheming#example-schemas---datasets

[2021-06-28 16:24] chakrag opened #6196 "How to configure/create API to extract Talend and Power BI metadata into CKAN"
**CKAN version**

**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional details**
If possible, please provide the full stack trace of the error raised,  or add screenshots to help explain your problem.

[2021-06-29 12:23] Gauravp-NEC opened #6197 "Unable to install CKAN 2.8.4 in Ubuntu 16.04"
**CKAN version**
2.8.4

**Describe the bug**
I am trying to install CKAN 2.8.4 in Ubuntu 16.04.
I have refer the document: https://docs.ckan.org/en/2.8/maintaining/installing/install-from-source.html for installation.

After executing the step no. 2(c) Install the CKAN source code into your virtualenv.
i.e., **pip install -e 'git+https://github.com/ckan/ckan.git@2.8.4#egg=ckan[requirements]'**
I a

[2021-06-29 13:20] #6197 closed

[2021-06-29 13:21] #6196 closed

[2021-06-29 13:40] amercader commented on #6197
Tags in CKAN have the form `ckan-2-8.4`. Also please use the latest patch release (2.8.8) or even better the latest version (2.9.3)

[2021-06-29 13:41] Gauravp-NEC commented on #6197
@amercader ,Thanks this solves my problem, but still I am unable to install CKAN. I am facing issue in creating a CKAN config file. This command "paster make-config ckan /etc/ckan/default/development.ini" gives the below error :

Must install ckan
Searching for ckan
Reading https://pypi.python.org/simple/ckan
Couldn't find index page for 'ckan' (maybe misspelled?)
Scanning index of all packages (t

[2021-06-29 13:41] amercader commented on #6194
If you need to install CKAN in a 2.8 env you'll need to pin your requirements in a way that they install their py2 supported versions.

[2021-06-29 13:41] #6194 closed

[2021-06-29 13:42] #6190 closed

[2021-06-29 15:32] MichaelHarmsTIB opened #6198 "Javascript is not included over webassets"
**CKAN version**
2.9.2

**Describe the bug**
Custom Javascript doesn't included over webasset.

**Steps to reproduce**
My folder structure:
ckanext -> extension -> assets
In this folder is the Javascript and the webasset.yml
My plugin.py -> toolkit.add_resource('assets', 'back_to_top')
In my back_to_top.js I wrote:
`"use strict";

/**
 * Back to top
 */
this.ckan.module('back_top_top', function ($

[2021-06-30 09:27] amercader opened #6204 "Use rel=noreferrer in external links"
It is considered a [good practice](https://web.dev/external-anchors-use-rel-noopener/) from a security standpoint to include [`rel="noreferrer"`](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/rel#attr-noreferrer) in external links that open in a new tab with `target="_blank"`

Here's an external links list from the core templates:

ckanext/datastore/templates/ajax_snippets/api_info.

[2021-06-30 09:37] Gauravp-NEC commented on #6204
@amercader , I am interested to work in this issue.

[2021-06-30 09:40] Gauravp-NEC commented on #6197
@amercader , Thanks this solves my problem, but still I am unable to install CKAN. I am facing issue in creating a CKAN config file. This command "paster make-config ckan /etc/ckan/default/development.ini" gives the below error :

Must install ckan
Searching for ckan
Reading https://pypi.python.org/simple/ckan
Couldn't find index page for 'ckan' (maybe misspelled?)
Scanning index of all packages (

[2021-06-30 10:17] amercader commented on #3758
This warning was dropped alongside the old package controller. The old previews were removed in https://github.com/ckan/ckan/pull/6205

[2021-06-30 10:17] #3758 closed

[2021-06-30 10:28] Gauravp-NEC commented on #4986
@wardi , as you suggested the way to solve this issue in comment https://github.com/ckan/ckan/issues/4986#issuecomment-533128823 no work have been done till now by anyone and this issue is open for so long.

I suggest that we should change the logic of def user_invite() in such a way that random password generated by it will never fail for any custom validation. Please let me know your opinion. If

[2021-07-01 09:39] Gauravp-NEC opened #6210 "CKAN config file not created in CKAN 2.8 source installation."
**CKAN version**
2.8.4

**Describe the bug**
I am trying to install CKAN 2.8.4 in Ubuntu 16.04.
I have refer the document: https://docs.ckan.org/en/2.8/maintaining/installing/install-from-source.html for installation.

I am facing issue in creating a CKAN config file. This command "paster make-config ckan /etc/ckan/default/development.ini"  at https://docs.ckan.org/en/2.8/maintaining/installing/in

[2021-07-01 10:10] wishtree-hmanglani commented on #6194
@amercader Thanks for your reply. It's working till now. Suddenly this issue occurs. I just need to know how can I fix this as this not occurred before using this requirement.txt

[2021-07-01 13:15] smotornyuk commented on #6198
CKAN won't include assets automatically on the page, you have to include the given asset manually on a particular subset of pages.
[Documentation](https://docs.ckan.org/en/2.9/contributing/frontend/assets.html?highlight=webassets.yml)
Example:
[code]

[2021-07-01 17:31] wardi commented on #4986
@Gauravp-NEC that would fix the problem only until someone comes up with a new password validation that doesn't work with these generated passwords. So it doesn't really fix the problem.

[2021-07-02 03:37] Gauravp-NEC commented on #6204
@TomeCirun, You should read the above comment. I have already inform that I am interested to work on this issue and amercader have also reacted with thumbs up emoji. Today I was going to raise the PR to fix this issue. But you steal my work.

[2021-07-02 07:45] TomeCirun commented on #6204
@Gauravp-NEC, sorry that was not my intention, I was looking at the issues I saw #6204 has no Assignees ..so I did it very quickly... i didnt even look at the comment section... I am so sorry .. my bad.

[2021-07-02 09:10] chenxj2020 opened #6215 "Language translation: Error in re-extracting message when updating translation file"
**CKAN version**: ckan 2.9 with python 3.8

**Describe the bug**
In order to update my translation file, firstly I re-extract the messages by running the command:
python setup.py extract_messages

But there is error in the extracting process, it interrupts with:

File "/usr/lib/ckan/default/lib/python3.8/site-packages/jinja2/lexer.py", line 381, in expect
    raise TemplateSyntaxError("expected to

[2021-07-02 09:19] #6032 closed

[2021-07-02 09:21] chenxj2020 commented on #6032
Thanks for all the answers

[2021-07-02 09:43] wishtree-hmanglani opened #6216 "Getting error while installing ruamel-yaml-clib I am using CKAN 2.8.6 version"
**CKAN version**
2.8.6
**Describe the bug**
Till now it's working fine but suddenly I am getting error while pip install pymssql==2.1.4 version. This library initially install ruamel.yaml.clib>=0.1.2. That throw the error as bellow:

#11 80.05 Downloading ruamel.yaml.clib-0.2.4.tar.gz (180 kB)
#11 80.17 ERROR: Command errored out with exit status 1:
#11 80.17 command: /usr/bin/python -c 'import sy

[2021-07-02 12:03] #6204 closed

[2021-07-02 14:26] amercader commented on #6204
@Gauravp-NEC I'm sure it was just an oversight. There's plenty of tasks available for contribution for everybody

[2021-07-02 14:50] #6086 closed

[2021-07-03 00:39] nickumia-reisys opened #6225 "Why force ensure_str in Test Framework CKAN 2.8 to CKAN 2.9?"
**CKAN version**
2.8.8 vs. 2.9.3

**Describe the bug**
Due to a change in the Testing Framework, the `CKANTestApp` (2.9) forces the flask response to be string value through the call to `six.ensure_str(..)` in `CKANResponse(Response)`.  This prohibits the test app from sending other file types (i.e. zip files).  However, the `CKANTestApp` (2.8) does not wrap the flask `Response `class and allows m

[2021-07-03 16:20] Patrick1Rhode commented on #6173
Hi everyone,

After running CKAN in vanilla mode, we discovered that the error was caused by one of our custom plugins; therefore, the issue can now be closed.
Thank you for all your responses.

[2021-07-05 01:56] scottlimmer commented on #6210
Just ran into this myself on 2.8.8

You need to run the paster command from the directory `/usr/lib/ckan/default/src/ckan` to ensure it loads the package correctly.

[2021-07-05 08:46] #6173 closed

[2021-07-05 20:54] wardi opened #6226 "Resource upload field snippet"
Working on rewriting the resource upload/url field as its own snippet to make it extensible, as required by #6118

[2021-07-06 06:44] Gauravp-NEC commented on #4845
@wardi , I am interested to work on this issue. Now is it required to remove the hardcoded db container name? As this issue was opened 2 years back. Please let me know your opinion. Thanks :)

[2021-07-06 13:11] #4576 closed

[2021-07-06 13:14] #6216 closed

[2021-07-07 04:54] Gauravp-NEC commented on #4845
@wardi, In this issue I understand that the hardcoded reference to db host and users should be removed. Please confirm my understanding.

[2021-07-07 07:55] kowh-ai commented on #6215
@chenxj2020 - does this error occur before any files are parsed?

[2021-07-07 08:07] kowh-ai commented on #6210
This looks like a PATH issue to me...I just tried the same command (on Ubuntu 18.04) and it worked fine. Please note that Ubuntu 16.04 reached EOL April 30th 2021

[2021-07-07 10:29] TheoMul opened #6231 "Error initializing db with docker-compose: "postgis" already exists"
**CKAN version**
2.9.3

**Describe the bug**
Installation of db docker-image fails with message: "postgis" already exists.

**Steps to reproduce**
Follow the installation instructions to install ckan using docker compose.
(docker-compose up -d --build)
Running on an Ubuntu 20.04 VM using Multipass.

**Expected behavior**
Succesvol installation and startup of the db docker image.

I already fixed i